﻿@using NuIngredient.Models
@model NuIngredient.Models.EmailViewModel

@{
    var description = "";
    switch (Model.Type)
    {
        case EmailType.SupplierCustomers:
            description = string.Format("To All {0}'s Customers", Model.SupplierName);
            break;
        case EmailType.AllSuppliers:
            description = "To All Milk/Fruit Suppliers";
            break;
        default:
            throw new ArgumentOutOfRangeException();
    }
}

<div class="container" id="divNewMessage">

    <script>
        const viewModel = @Html.Raw(Json.Encode(Model));
        const supplierName = viewModel.SupplierName;
        const referenceID = viewModel.ReferenceID;
        
        function OnAttachmentUploadSuccess(e) {
            if (e.response.status == "error") {
                alert("Error: " + e.response.message);
            }
            else {
                $("#GridAttachments").data("kendoGrid").dataSource.read();
            }
        }

        function OnAttachmentUpload(e) {
            var files = e.files;
            $.each(files, function () {
                if (this.size / 1024 / 1024 > 20) {
                    alert("Max 20Mbs file size is allowed!");
                    e.preventDefault();
                }
            });
            
            e.formData = new FormData();
            e.formData.append("uploadedAttachments", files[0].rawFile);
            e.formData.append("referenceID", referenceID);
            e.formData.append("supplierName", supplierName);
            e.formData.append("customerName", "All");
        }

        function DeleteAttachment(id){
            if(confirm("Are your sure you want to delete this file?")){
                $.ajax({
                    url: '@Url.Action("DeleteAttachment", "EmailAttachments")',
                        type: 'POST',
                        data: { ID: id },
                        dataType: "json",
                        success: function (data) {
                            $("#GridAttachments").data("kendoGrid").dataSource.read();
                        }
                });
            }
        }

    </script>

    @using (Ajax.BeginForm("Send", "Emails", null, new AjaxOptions { UpdateTargetId = "divNewMessage", OnSuccess = "OnSuccess", OnBegin = "AjaxBegin", OnComplete = "AjaxComplete" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        //@Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
        @Html.HiddenFor(m => m.ReferenceID)
        @Html.HiddenFor(m => m.Type)
        @Html.HiddenFor(m => m.SupplierID)
        <div class="row">
            <div class="col-xs-9">
                <h2>New Email</h2>
                <h5>@description</h5>
            </div>
            <div class="col-xs-3">
                <br />
                <br />
                <a class="btn btn-sm btn-default" onclick="emailJs.hideNewEmailSlide(); return false;" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
            </div>
        </div>

        <div class="row form-table">
            <div class="col-sm-12">
                <hr />
                <table>
                    <tr>
                        <td><label>Title:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @placeholder = "Enter Title", @style="max-width: none;" })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: baseline;"><label>Content:</label></td>
                        <td>
                            
                            @(Html.Kendo().EditorFor(model => model.Content)
                                          .HtmlAttributes(new { @class = "form-control", @placeholder = "Enter Content here", @style = "max-width:none; margin-bottom:10px; heigh:350px;" })
                                          .Encode(false)
                                          .Tools(tools => tools.FontName()
                                                               .FontSize()
                                          )
                                          .Resizable()
                            )
                            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })


                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: baseline;"><label>Attachments</label></td>
                        <td>
                            @(Html.Kendo().Grid<EmailAttachmentGridViewModel>()
                                .Name("GridAttachments")
                                .Columns(columns => 
                                {
                                    columns.Bound(m => m.FileName).ClientTemplate("<a href='#=FilePath#' download='#=FileName#'>#=FileName#</a>").HtmlAttributes(new {@style="padding-left: 8px;"});
                                    columns.Template(@<text></text>).ClientTemplate("<span class='btn glyphicon glyphicon-trash glyphicon-btn' onclick='DeleteAttachment(\"#=ID#\")' />").Width(1);
                                })
                                .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .Model(model =>
                                    {
                                        model.Id(t => t.ID);
                                    })
                                    .Read(read => read.Action("Read", "EmailAttachments", new { referenceID = Model.ReferenceID })).PageSize(25)
                                    .Destroy(destory => destory.Action("Destroy", "EmailAttachments"))
                                )
                            )
                            @(Html.Kendo().Upload().Multiple(true)
                                .Name("uploadedAttachments")
                                .Messages(a => a.Select("<span class=\"glyphicon glyphicon-cloud-upload\"></span>&nbsp;&nbsp; Select Files or <strong>Drag and Drop Here...</strong>"))
                                .Async(a => a.Save("UploadAttachment", "EmailAttachments", new { referenceID = Model.ReferenceID }))
                                .ShowFileList(false)
                                .HtmlAttributes(new { style = "padding:1px" })
                                .Events(events => events.Upload("OnAttachmentUpload").Success("OnAttachmentUploadSuccess"))
                            )
                        </td>
                    </tr>
                </table>
            </div>
            
            <div class="col-sm-12">

            </div>

            <div class="col-sm-12">
                <br /><br />
                <input type="submit" value="Save & Send" class="btn btn-inverse">
            </div>
            <div class="col-sm-12">
                <hr />
            </div>
        </div>
    }

    <script>
        function OnSuccess(response) {
            emailJs.hideNewEmailSlide();
        }
    </script>
</div>
