﻿
@model NuIngredient.Models.FruitTypeViewModel

<div id="divEditProduct">

    <div class="row">
        <div class="col-sm-12">

            @using (Ajax.BeginForm("_EditFruitType", "FruitManagement", null, new AjaxOptions { UpdateTargetId = "divEditProduct", OnSuccess = "OnEditFruitTypeSuccess" }, new { id = "EditProductForm", method = "post" }))
            {
                @Html.AntiForgeryToken()
                //@Html.ValidationSummary(false, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.ImageURL)
                @Html.HiddenFor(model => model.Deleted)
                <div class="row">
                    <div class="col-sm-9">
                        <h2>Edit Fruit</h2>
                    </div>
                    <div class="col-sm-3">
                        <br />
                        <a class="btn btn-sm btn-default" onclick="HideViews(); return false;" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
                    </div>
                    <div class="col-sm-12">
                        <br />
                    </div>
                    <div class="col-sm-4">

                        @if ((Model.ImageURL ?? "") == "" || Model.ImageURL.Contains("NotFound"))
                        {
                            <label>Upload Product Image:</label>
                            @(Html.Kendo().Upload().Multiple(false)
                                .Name("uploadedFruitTypeImage")
                                .Async(a => a.Save("UploadFruitTypeImage", "FruitManagement", new { fruitTypeID = Model.ID }))
                                .ShowFileList(false)
                                .HtmlAttributes(new { accept = "image/*" })
                                .Events(events => events.Upload("OnProductImageUpload").Success("OnFruitTypeImageUploadSuccess"))
                            )
                            <span style="font-size:x-small">Max 512Kbs</span>
                        }
                        else
                        {
                            <a id="fruitTypeImage_link" class="fancybox-media" target="_blank" href="@Model.ImageURL">
                                <img id="fruitTypeImage" src="@Model.ImageURL" style="max-height:100px; max-width:300px; " />
                            </a>
                            <br />
                            <a href="#" onclick="RemoveFruitTypeImage('@Model.ID')">Remove Image</a>
                        }
                       
                    </div>
                    <div class="col-sm-6">

                                          
                    </div>
                </div>
                <div class="row">   
                    <div class="col-sm-12"><br /></div>                 
                    <div class="col-sm-4">
                        <label>Name:</label>
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Enter Product Code", @style = "margin-bottom:10px;" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "margin-bottom:10px;" })
                    </div>

                    <div class="col-sm-12"><br /></div>

                    <div class="col-sm-8">
                        <label>Description:</label>
                        @Html.TextAreaFor(model => model.Description, 4, 100, new { @class = "form-control", @placeholder = "Enter Full Description here", @style = "width:100%; max-width:none; margin-bottom:10px;" })
                    </div>

                    <div class="col-sm-12">
                        <hr />
                        <input type="submit" value="Save Details" class="btn btn-inverse">
                        @if (ViewBag.Saved != null)
                        {
                            <label id="l_Saved"><strong>Details Saved!</strong></label>
                            <script>
                                setTimeout(function () { $("#l_Saved").css("display", "none"); }, 2000);
                            </script>

                        }
                    </div>

                </div>

            }

        </div>

        <div class="col-sm-12">
            <br />
            @(Html.Kendo().TabStrip()
                    .Name("FruitTab")
                    .Items(tabstrip =>
                    {
                            tabstrip.Add().Text("Fruit").Content(@Html.Partial("_FruitTab", Model).ToHtmlString()).Selected(true);
                    })
            )
        </div>
        
        
    </div>

</div>
