﻿@model NuIngredient.Models.FruitViewModel

<div id="divNewFruit" style="margin:15px;">
        
    @using (Ajax.BeginForm("_EditFruit", "FruitManagement", null, new AjaxOptions { UpdateTargetId = "divNewFruit", OnSuccess = "OnEditFruitSuccess" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()        
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.FruitTypeID);
        <div class="row">
            <div class="col-xs-9">
                <h2>Edit Fruit</h2>
            </div>
            <div class="col-xs-3">
                <br />
            </div>
            <div class="col-sm-12">
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

                @if ((Model.ImageURL ?? "") == "" || Model.ImageURL.Contains("NotFound"))
                {
                    <label>Upload Product Image:</label>
                            @(Html.Kendo().Upload().Multiple(false)
                                .Name("uploadedFruitImage")
                                .Async(a => a.Save("UploadFruitImage", "FruitManagement", new { fruitID = Model.ID }))
                                .ShowFileList(false)
                                .HtmlAttributes(new { accept = "image/*" })
                                .Events(events => events.Upload("OnProductImageUpload").Success("OnFruitImageUploadSuccess"))
                            )
                            <span style="font-size:x-small">Max 512Kbs</span>
                }
                else
                {
                    <a id="fruitImage_link" class="fancybox-media" target="_blank" href="@Model.ImageURL">
                        <img id="fruitImage" src="@Model.ImageURL" style="max-height:100px; max-width:300px; " />
                    </a>
                            <br />
                            <a href="#" onclick="RemoveFruitImage('@Model.ID')">Remove Image</a>
                }

            </div>
            <div class="col-sm-12">
                <label>Unit:</label>
                @Html.TextBoxFor(model => model.Unit, new { @class = "form-control", @placeholder = "Enter Unit", @style = "margin-bottom:10px;" })
                @Html.ValidationMessageFor(model => model.Unit, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-12">
                <label>Price:</label>
                @Html.TextBoxFor(model => model.Price, new { @class = "form-control", @placeholder = "Enter Unit", @style = "margin-bottom:10px;", @type = "number", @step= "any" })
            </div>
            <div class="col-sm-12">
                <br />
                <input type="submit" value="Save" class="btn btn-inverse">
            </div>

        </div>
    }

    <script>
        function OnEditFruitSuccess(response) {
            RefreshGridFruit();
            EditFruit('@Model.ID');
        }
    </script>
</div>
