﻿@model NuIngredient.Models.FruitTypeViewModel

<script>
    function OnGridItemsRequestEnd(e) {
        if (e.type != 'read') {
            $("#GridFruit").data("kendoGrid").dataSource.read();
        }
    }

    function RefreshGridFruit() {
        $('#GridFruit').data('kendoGrid').dataSource.read();
    }
</script>

<br />
<a class="btn btn-info btn-sm" data-toggle="modal" data-target="#Modal" onclick="NewFruit('@Model.ID');" style="margin-bottom:5px;"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add Fruit Item</a>

@(Html.Kendo().Grid<NuIngredient.Models.FruitViewModel>()
        .Name("GridFruit")
        .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Products").Empty("No Items Added")))
        .Columns(columns =>
        {
            columns.Bound(m => m.ID).Hidden();
            columns.Bound(m => m.ImageURL).Title("Image").ClientTemplate("<a class='fancybox-media' target='_blank' href='#=ImageURL#' ><img src='#=ImageURL#' style='width:100%; max-height:50px; max-width:50px;'></a>").Width("1%");
            columns.Bound(m => m.Unit).Title("Unit");
            columns.Bound(m => m.Price).Title("Price").ClientTemplate("#=kendo.toString(Price, 'c')#").Width("1%");
            columns.Template(@<text></text>).ClientTemplate("<a title='Edit' href='\\#' onclick='EditFruit(\"#=ID#\"); return false;' data-toggle='modal' data-target='\\#Modal'><span class='glyphicon glyphicon-edit glyphicon-btn'/></a>").Width("1%");
            columns.Command(command =>
            {
                command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn'/>");
            }
            ).Width("1%");
        })
        .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this item?"))
        .Sortable()
        .DataSource(dataSource => dataSource
            .Ajax()
            .Model(model => model.Id(m => m.ID))
            .Read(read => read.Action("Read", "FruitsGrid", new { fruitTypeID = Model.ID }))
            .Destroy(destroy => destroy.Action("Destroy", "FruitsGrid"))
        )
        .Events(events => events.DataBound("KendoGridDatabound"))
)

<br />
<br />
<br />
