﻿@model NuIngredient.Models.FruitTypeViewModel

<div id="divNewFruitType" style="margin:15px;">

    @using (Ajax.BeginForm("_NewFruitType", "FruitManagement", null, new AjaxOptions { UpdateTargetId = "divNewFruitType", OnSuccess = "OnSuccess" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        //@Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="row">
            <div class="col-xs-9">
                <h2>New Fruit Type</h2>
            </div>
            <div class="col-xs-3">
                <br />
                <a class="btn btn-sm btn-default" onclick="HideViews(); return false;" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
            </div>
            <div class="col-sm-12">
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label>Name:</label>
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Enter Fruit Name", @style = "margin-bottom:10px;" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <label>Description:</label>
                @Html.TextAreaFor(model => model.Description, 4, 100, new { @class = "form-control", @placeholder = "Enter Full Description here", @style = "width:100%; max-width:none; margin-bottom:10px;" })
            </div>
            <div class="col-sm-12">
                <br /><br />
                <input type="submit" value="Add Fruit" class="btn btn-inverse">
            </div>

        </div>
    }

    <script>
        function OnSuccess(response) {
            //Call function from Index view
            Refresh();
            CreatedFruitType(response["ID"]);
        }
    </script>
</div>
