﻿@{
    ViewBag.Title = "Fruit Management";
}

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-xs-6">
            <br />
            @*<div class="btn-group" style="float:right; margin-right:3px;">
                <button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-cloud-upload"></span>&nbsp;Import <span class="caret"></span>
                </button>
            </div>*@ 
            @*<a class="btn btn-danger" style="float:right; margin-right:3px;" href="/Products/Deleted/"><span class="glyphicon glyphicon-trash"></span> &nbsp;Deleted Fruit</a>*@
        </div>
        <div class="col-xs-12">
            <br />
        </div>
        <div class="col-xs-6">
            <a class="btn btn-primary" onclick="NewFruitType(); return false;"><span class="fa fa-cube"></span>&nbsp;&nbsp;New Fruit</a>
        </div>
        <div class="col-xs-2">
            <br />
        </div>
        <div class="col-xs-4">
            <div class="input-group">
                @Html.TextBox("TB_ProductFilter", null, new { @class = "form-control", @style = "max-width:none;", @placeholder = "Search by Name or Description" })
                <span class="input-group-btn">
                    <a class="btn btn-default" onclick="Refresh(); return false;"><span class="glyphicon glyphicon-search"></span></a>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>
        <div id="divPager" class="col-sm-12">
             <div class="form-group" role="group" aria-label="...">
                <button class="btn btn-sm btn-default" onclick="Refresh();"><span class="glyphicon glyphicon-refresh" ></span>&nbsp; Refresh</button>&nbsp;
                @*<button class="btn btn-sm btn-default" onclick="Edit();"><span class="glyphicon glyphicon-edit"></span>&nbsp; Edit</button>*@
                 <div class="btn-group" style="float:right">
                     @*<button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         <span class="glyphicon glyphicon-export"></span>&nbsp; Export <span class="caret"></span>
                     </button>*@
                 </div> 
            </div>
        </div>

        <div id="divEdit" class="col-sm-12" style="display:none">
            <div class="form-group" role="group" aria-label="...">
                <a class="btn btn-sm btn-default" onclick="SelectAll(); return false;"><span class="glyphicon glyphicon-check"></span>&nbsp; Select All</a>&nbsp;
                <a class="btn btn-sm btn-default" onclick="DeleteSelected(); return false;"><span class="glyphicon glyphicon-trash"></span>&nbsp; Delete Selected</a>&nbsp;
                <a class="btn btn-sm btn-default" onclick="DoneEdit(); return false;"><span class="glyphicon glyphicon-ok"></span>&nbsp; Done</a>&nbsp;
            </div>
        </div>

        <div class="col-sm-12">
            @(Html.Kendo().Grid<NuIngredient.Models.FruitTypeViewModel>()
                .Name("GridProducts")
                .HtmlAttributes(new { style = "min-width: 750px" })
                .Pageable(p => p.PageSizes(new[] { 50, 100, 200, 1000 }).Messages(m => m.Display("{0} - {1} of {2} Fruit Types").Empty("No Products Found")))
                .Columns(columns =>
                {
                    columns.Bound(u => u.ID).ClientTemplate("<input type='checkbox' value='#=ID#' name='chk_grid'>").Width("1%").Hidden();
                    columns.Bound(u => u.ImageURL).Title("Image").ClientTemplate("<a class='fancybox-media' target='_blank' href='#=ImageURL#' ><img src='#=ImageURL#' style='width:100%; max-height:50px; max-width:50px;'></a>").Width("1%");
                    columns.Bound(u => u.Name);
                    columns.Bound(u => u.Description).Title("Description");
                    columns.Template(@<text></text>).ClientTemplate("<a title='Edit' href='\\#' onclick='EditFruitType(\"#=ID#\"); return false;'><span class='glyphicon glyphicon-edit glyphicon-btn'/></a>").Width("1%");
                    columns.Command(command =>
                    {
                        command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn'/>");
                    }
                    ).Width("1%");

                })
                .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this product?"))
                .Sortable()
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(t => t.ID);
                    })
                    .Read(read => read.Action("Read", "FruitTypesGrid").Data("GetSearchInfo")).PageSize(50)
                    .Destroy(destory => destory.Action("Destroy", "FruitTypesGrid"))
                )
                .Events(events => events.DataBound("KendoGridDatabound"))
            )
        </div>
    </div>
</div>

<style>
    .div-inline {         
        overflow: hidden;
        white-space: nowrap;
        text-align:center;
        align-items:center;
    }
</style>

<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_Edit" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 800px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="Edit_Body"></div>
    </div>
</div>

  <!-- Modal -->
<div class="modal fade" id="Modal" role="dialog" style="z-index:1200;">
    <div class="modal-dialog" style="width:400px;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script>

    @if (!string.IsNullOrEmpty(ViewBag.ProductID))
    {
        <text>
    EditProduct('@ViewBag.ProductID');
    </text>
    }

    function Refresh() {
        var grid = $("#GridProducts").data("kendoGrid");
        grid.dataSource.read();

        //Save cookie values here
    }

    function GetSearchInfo() {
        return {
            filterText: $('#TB_ProductFilter').val(),
            del: false
        }
    }

    function Edit() {
        var grid = $("#GridProducts").data("kendoGrid");
        if (grid.dataSource.total() > 0) {
            $('#divPager').css("display", "none");
            $('#divEdit').css("display", "block");
            grid.showColumn(0);
        }
    }

    function DoneEdit() {
        var grid = $("#GridProducts").data("kendoGrid");
        $('#divPager').css("display", "block");
        $('#divEdit').css("display", "none");
        grid.hideColumn(0);
    }

    function SelectAll() {
        if ($("input[name=chk_grid]:checkbox:checked").get().length > 0) {
            $("input[name=chk_grid]").map(function () { return this.checked = false; })
        }
        else {
            $("input[name=chk_grid]").map(function () { return this.checked = true; })
        }
    }


    $("#TB_ProductFilter").keyup(function (e) {
        if (e.keyCode == 13) {
            Refresh();
        }
    });


    //Below the following functions are used the show/hide the content panels.
    function NewFruitType() {
        $("#Edit_Body").load("@Url.Action("_NewFruitType", "FruitManagement")");

        $("#SlideContent_Edit").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_Edit").css("display", "block");
        $("#Button_Close_Content").css("display", "block");
    }

    function EditFruitType(id) {
        var url = '@Url.Action("_EditFruitType", "FruitManagement")' + '?ID=' + id;
        $("#Edit_Body").load(url);

        $("#SlideContent_Edit").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_Edit").css("display", "block");
        $("#Button_Close_Content").css("display", "block");
    }

    function OnEditFruitTypeSuccess(e) {
        Refresh();
        var url = '@Url.Action("_EditFruitType", "FruitManagement")' + '?ID=' + e.ID;
        $("#Edit_Body").load(url);
    }

    function CreatedFruitType(id) {
        var url = '@Url.Action("_EditFruitType", "FruitManagement")' + '?ID=' + id;
        $("#Edit_Body").load(url);
    }

    function DeleteSelected() {
        if (confirm("Are you sure you want to delete these Products?")) {

            var ids = $("input[name=chk_grid]:checkbox:checked").map(function () { return this.value; }).get().join();

            $.ajax({
                url: '@Url.Action("_DeleteProducts", "ProductGrid")',
                type: 'POST',
                data: { "IDs": ids },
                dataType: "json",
                success: function (data) { Refresh(); }
            });
        }
    }

    function HideViews() {
        $("#SlideContent_Edit").animate({ width: '0%' }, { queue: false, duration: 300 });
        setTimeout(function () {
            $("#SlideContent_Edit").css("display", "none");
            $("#Button_Close_Content").css("display", "none");
            Refresh();
        }, 300);
    }

    function NewFruit(fruitTypeID) {
        $('#Modal .modal-body').load("/FruitManagement/_NewFruit?fruitTypeID=" + fruitTypeID);
    }

    function EditFruit(id) {
        $('#Modal .modal-body').load("/FruitManagement/_EditFruit?id=" + id);
    }

    //PRODUCT IMAGE UPLOAD FUNCTIONS
    function OnFruitTypeImageUploadSuccess(e) {
        if (e.response.status == "error") {
            alert("Error: " + e.response.message);
        }
        else if (e.response.status == "success") {
            Refresh();
            EditFruitType(e.response.id);
        }
    }

    function OnProductImageUpload(e) {
        var files = e.files;
        $.each(files, function () {
            if (this.size / 1024 / 512 > 1) {
                alert("Max 512Kbs file size is allowed!")
                e.preventDefault();
            }
        });
    }

    function RemoveFruitTypeImage(id) {
        $.ajax({
            url: '@Url.Action("RemoveFruitTypeImage", "FruitManagement")',
            type: 'POST',
            data: { "fruitTypeID": id },
            dataType: "json",
            success: function (data) {
                Refresh();
                EditFruitType(id);
            }
        });
    }

    function OnFruitImageUploadSuccess(e) {
        if (e.response.status == "error") {
            alert("Error: " + e.response.message);
        }
        else if (e.response.status == "success") {
            EditFruit(e.response.id);
            $('#GridFruit').data('kendoGrid').dataSource.read();
        }
    }

    function RemoveFruitImage(id) {
        $.ajax({
            url: '@Url.Action("RemoveFruitImage", "FruitManagement")',
            type: 'POST',
            data: { "fruitID": id },
            dataType: "json",
            success: function (data) {
                EditFruit(id);
                $('#GridFruit').data('kendoGrid').dataSource.read();
            }
        });
    }

</script>



