﻿@model NuIngredient.Models.InternalNoteViewModel

<div id="divEditNote">

    @using (Ajax.BeginForm("_Edit", "InternalNotes", null, new AjaxOptions { UpdateTargetId = "divEditNote" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        //@Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="row">
            <div class="col-xs-9">
                <h2>Edit Note</h2>
            </div>
            <div class="col-xs-3">
                <br />
                <a class="btn btn-sm btn-default" onclick="HideViews(); return false;" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
            </div>
        </div>

        <div class="row form-table">
            <div class="col-sm-12">
                <hr />
            </div>
            <div class="col-sm-12">
                <table style="width: 100%;">
                    <tr>
                        <td><label>Title:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @style="max-width:none;" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>Content:</label></td>
                        <td>
                            @(Html.Kendo().EditorFor(model => model.Content)
                                .HtmlAttributes(new { @class = "form-control", @placeholder = "", @style = "max-width:none; margin-bottom:10px; heigh:700px;" })
                                .Encode(false)
                                .Tools(tools => tools.Clear()
                                    .Formatting()
                                    .Bold()
                                    .Italic()
                                    .Underline()
                                    .JustifyLeft()
                                    .JustifyCenter()
                                    .JustifyRight()
                                    .InsertUnorderedList()
                                    .InsertOrderedList()
                                    .Indent()
                                )
                                .Resizable()
                                )
                        </td>
                    </tr>
                </table>
                @if (Model.CompletedTime != null)
                {
                    <p class="pull-right">Completed at @Model.CompletedTime.Value.ToString("HH:mm dd/MM/yy") by @Model.CompletedUser</p>
                }
            </div>
            <div class="col-sm-12">
                <br /><br />
                @if (Model.IsCompleted)
                {
                    <input type="submit" name="save" value="Save" class="btn btn-success">
                    <input type="submit" name="incomplete" value="Save & Incomplete" class="btn btn-inverse">
                }
                else
                {
                    <input type="submit" name="save" value="Save" class="btn btn-inverse">
                    <input type="submit" name="complete" value="Save & Complete" class="btn btn-success">
                }
                @if (ViewBag.Saved ?? false)
                {
                    <br />
                    <label id="l_Saved"><strong>Details Saved!</strong></label>
                    <script>
                        setTimeout(function () { $("#l_Saved").css("display", "none"); }, 2000);
                    </script>
                }
            </div>
        </div>
    }

</div>
