﻿@model NuIngredient.Models.InternalNoteViewModel

<div id="divNewNote">

    @using (Ajax.BeginForm("_New", "InternalNotes", null, new AjaxOptions { UpdateTargetId = "divNewNote", OnSuccess = "OnSuccess" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        //@Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="row">
            <div class="col-xs-9">
                <h2>New Note</h2>
            </div>
            <div class="col-xs-3">
                <br />
                <a class="btn btn-sm btn-default" onclick="HideViews(); return false;" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
            </div>
        </div>

        <div class="row form-table">
            <div class="col-sm-12">
                <hr />
            </div>
            <div class="col-sm-12">
                <table style="width: 100%;">
                    <tr>
                        <td><label>Title:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @style="max-width:none;" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>Content:</label></td>
                        <td>
                            @(Html.Kendo().EditorFor(model => model.Content)
                                .HtmlAttributes(new { @class = "form-control", @placeholder = "", @style = "max-width:none; margin-bottom:10px; heigh:700px;" })
                                .Encode(false)
                                .Tools(tools => tools.Clear()
                                    .Formatting()
                                    .Bold()
                                    .Italic()
                                    .Underline()
                                    .JustifyLeft()
                                    .JustifyCenter()
                                    .JustifyRight()
                                    .InsertUnorderedList()
                                    .InsertOrderedList()
                                    .Indent()
                                )
                                .Resizable()
                            )
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-12">
                <br /><br />
                <input type="submit" value="Add" class="btn btn-inverse">
            </div>
        </div>
    }

    <script>
        function OnSuccess(response) {
            //Call function from Index view
            if (response["ID"] != null) {
                CreatedNote(response["ID"]);
            }
        }
    </script>
</div>
