﻿@using NuIngredient.Models

@{
    ViewBag.Title = "Internal Notes";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-sm-6">
            <br />
        </div>
        <div class="col-sm-12">
            <br />
        </div>
        <div class="col-xs-6">
            <a class="btn btn-inverse" onclick="NewNote()"><span class="glyphicon glyphicon-plus"></span>&nbsp;New Note</a>&nbsp;
        </div>
        <div class="col-xs-2">
            
        </div>

        <div class="col-xs-4">
            <div class="input-group">
                @Html.TextBox("TB_FilterText", null, new { @class = "form-control", @style = "max-width:none", @placeholder = "Search by Title, Content" })
                <span class="input-group-btn">
                    <a class="btn btn-default" onclick="Refresh()"><span class="glyphicon glyphicon-search"></span></a>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>
        <div id="divPager" class="col-sm-12">
            <div class="form-group" role="group" aria-label="...">
                <a class="btn btn-sm btn-default" onclick="Refresh()"><span class="glyphicon glyphicon-refresh"></span>&nbsp; Refresh</a>&nbsp;
                <div class="pull-right">
                    @Html.Kendo().CheckBox().Name("includeCompleted").Label("Include Completed").HtmlAttributes(new { @onclick = "Refresh()" })
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            @(Html.Kendo().Grid<InternalNoteGridViewModel>()
                .Name("GridNotes")
                .Columns(columns =>
                {
                  columns.Bound(m => m.Title);
                  columns.Bound(m => m.Creator).Width("200px");
                  columns.Bound(m => m.Created).Format("{0:HH:mm dd/MM/yy}").Width("120px");
                  columns.Template(@<text></text>).ClientTemplate("<a title='Edit' href='\\#' onclick='EditNote(\"#=ID#\"); return false;'><span class='glyphicon glyphicon-edit glyphicon-btn'/></a>").Width(45);
                  columns.Command(command =>
                  {
                      command.Destroy()
                          .Text("<span class='glyphicon glyphicon-trash  glyphicon-btn' />")
                          .HtmlAttributes(new { Title = "Delete Note" });
                  }).Width(45);
                })
                .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Notes").Empty("No Notes Found")))
                .Sortable()
                .DataSource(dataSource =>
                {
                    dataSource.Ajax()
                        .Model(model =>
                        {
                            model.Id(m => m.ID);
                        })
                        .Read(read => read.Action("Read", "InternalNoteGrid").Data("GetSearchInfo"))
                        .Destroy(destroy => destroy.Action("Destroy", "InternalNoteGrid"))
                        .Events(events => events.RequestEnd("GridNotes_RequestEnd"))
                        .PageSize(100);
                })
                .Events(events => events.DataBound("KendoGridDatabound"))
                .HtmlAttributes(new {@style="width: 100%"})

            )
        </div>        
    </div>
</div>


<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_Edit" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 700px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="Edit_Body"></div>
    </div>
</div>


<script>

    function Refresh() {
        var grid = $("#GridNotes").data("kendoGrid");
        if (grid.dataSource.page() != 1) {
            grid.dataSource.page(1);
        }
        grid.dataSource.read();
    }


    function GetSearchInfo() {
        return {
            filterText: $('#TB_FilterText').val(),
            includeCompleted: $('#includeCompleted').is(':checked')
        }
    }

    $("#TB_Postcode").keyup(function (e) {
        Refresh();
    });

    //Below the following functions are used the show/hide the content panels.
    function NewNote() {
        $("#Edit_Body").load("@Url.Action("_New", "InternalNotes")");

        $("#SlideContent_Edit").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_Edit").css("display", "block");
        $("#Button_Close_Content").css("display", "block");
    }

    function EditNote(id) {
        var url = '@Url.Action("_Edit", "InternalNotes")' + '?ID=' + id;
        $("#Edit_Body").load(url);

        $("#SlideContent_Edit").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_Edit").css("display", "block");
        $("#Button_Close_Content").css("display", "block");
    }

    function CreatedNote(id) {
        var url = '@Url.Action("_Edit", "InternalNotes")' + '?ID=' + id;
        $("#Edit_Body").load(url);
    }

    function HideViews() {
        $("#SlideContent_Edit").animate({ width: '0%' }, { queue: false, duration: 300 });
        setTimeout(function () {
            $("#SlideContent_Edit").css("display", "none");
            $("#Button_Close_Content").css("display", "none");
            Refresh();
        }, 300);

    }

    function GridNotes_RequestEnd(e) {
        if (e.type != "read") {
            $('#GridNotes').data('kendoGrid').dataSource.read();
        }
    }

</script>


<style>
    .k-pager-wrap {
        margin-left: 0%;
    }

    .k-grid table tbody tr td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>