﻿@using Microsoft.AspNet.Identity
<div class="footer">
    <div class="container">
        <div class="row" style="padding-top: 18px;">
            <div class="col-xs-6">
                <img style="height: 45px; vertical-align: initial;" src="/Content/logos/logo_white.png" />
                <br />
            </div>
            <div class="col-xs-6" style="text-align:right;">
                <span class="fa fa-twitter-square"></span>
                <span class="fa fa-facebook-square"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <span class="label-phone">0345 463 8863</span><br />
                <span class="label-website">Orders@office-groceries.com</span>
                <br />
                <br />
                <a style="color: white;" href="#" >
                    &copy; @DateTime.Now.Year Office Groceries. Privacy Policy. T+C.
                </a>
            </div>

            <div class="col-sm-6 hidden-xs" style="text-align:right;">
                <br />
                <br />
                <br />
                <br />
                @Html.ActionLink("Sitemap", "Sitemap", "Home") &nbsp; @Html.ActionLink("Contact", "Contact", "Home") &nbsp; @Html.ActionLink("Terms and Conditions.", "TermsConditions", "Home") &nbsp; @Html.ActionLink("Privacy Policy.", "PrivacyPolicy", "Home")
            </div>

            <div class="col-sm-6 visible-xs">

                @Html.ActionLink("Sitemap", "Sitemap", "Home") &nbsp; @Html.ActionLink("Contact", "Contact", "Home") &nbsp; @Html.ActionLink("Terms and Conditions.", "TermsConditions", "Home") &nbsp; @Html.ActionLink("Privacy Policy.", "PrivacyPolicy", "Home")
            </div>


        </div>
    </div>
</div>

