﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @if (!string.IsNullOrWhiteSpace(ViewBag.MetaTitle)) { <meta name="title" content="@ViewBag.MetaTitle" /> }
    else { <meta name="title" content="Office Food Delivery | UK Delivery | Contact Office-Groceries Today" /> }
    @if (!string.IsNullOrWhiteSpace(ViewBag.MetaKeyword)) { <meta name="keywords" content="@ViewBag.MetaKeyword" /> }
    else { <meta name="keywords" content="office food essentials, Delivering Milk, Fruit, Tea’s, Coffee, Fresh Food and Equipment" /> }
    @if (!string.IsNullOrWhiteSpace(ViewBag.MetaDescription)) { <meta name="description" content="@ViewBag.MetaDescription" /> }
    else {<meta name="description" content="Office-Groceries provides a One Stop solution for all office food essentials, Delivering Milk, Fruit, Tea’s, Coffee, Fresh Food and Equipment Nationally. Enquire Today." />  }

    @*<meta name="keywords" content="quotation system, quotes system, quotation solution quotes system, quotation creator, quotes creator, quotation software, online quotes, online quotation " />
        <meta name="abstract" content="Build attractive quotes quickly with this online system" />*@
    <meta name="robots" content="noindex,nofollow">
    <meta name="revisit-after" content="7 days" />
    <title>@ViewBag.Title | Office Groceries</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    @*@Styles.Render("~/Content/css")*@    
    @Styles.Render("~/kendo/css")
    @Styles.Render("~/CMS/bootstrap")
    @Styles.Render("~/CMS/font-awesome")
    @Styles.Render("~/CMS/site")
    @Styles.Render("~/CMS/fruitful")
    @Styles.Render("~/CMS/styles-og")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/emailJs")
    <link rel="stylesheet" href="/Content/fancybox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
    <link rel="stylesheet" href="/Content/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
    @*<link rel="stylesheet" href="/Views/CMS/Content/Css/bootstrap.css?v=@DateTime.Now.Millisecond" type="text/css" media="screen" />
    <link rel="stylesheet" href="/Views/CMS/Content/Css/font-awesome.min.css?v=@DateTime.Now.Millisecond" type="text/css" media="screen" />
    <link rel="stylesheet" href="/Views/CMS/Content/Css/Site.css?v=@DateTime.Now.Millisecond" type="text/css" media="screen" />
    <link rel="stylesheet" href="/Views/CMS/Content/Css/Fruitful.css?v=@DateTime.Now.Millisecond" type="text/css" media="screen" />
    <link rel="stylesheet" href="/Views/CMS/Content/Css/styles-og.css?v=@DateTime.Now.Millisecond" type="text/css" media="screen" />*@

    <script>
        kendo.culture("en-GB");
        $.validator.addMethod('date', function (value, element) { return this.optional(element) || kendo.parseDate(value) });
    </script>
    @*<script type="text/javascript" src="/Content/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
    <script type="text/javascript" src="/Content/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
    <script type="text/javascript" src="/Content/fancybox/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
    <script src="/Scripts/Views/ShoppingCart.js?v=@(DateTime.Now.ToString("yyMMddmmHH"))"></script>*@

    @*FancyBox scripts*@
    <script>
        $(document).ready(function () {
            $('.fancybox').fancybox();
        });

        $(document).ready(function () {
            $('.fancybox-media').fancybox();
        });
    </script>

    <script src="@Url.Content("~/Scripts/kendo/2017.2.621/jszip.min.js")"></script>

    @if (!Request.IsAuthenticated)
    {
        <!-- Google Tag Manager -->
        @*<script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || []; w[l].push({
                    'gtm.start':
                        new Date().getTime(), event: 'gtm.js'
                }); var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-WGTDS5P');
        </script>*@
        <!-- End Google Tag Manager -->
    }


    <script>
        var MilkMinimumValue = @ViewBag.MilkMinimumValue;
        var FruitMinimumValue = @ViewBag.FruitMinimumValue;
        var IsAuthenticated  = @if (User.Identity.IsAuthenticated) {<text> true</text>} else {<text> false</text>};
    </script>
</head>
<body>
    @if (!Request.IsAuthenticated)
    {
        <!-- Google Tag Manager (noscript) -->
        @*<noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGTDS5P" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>*@
        <!-- End Google Tag Manager (noscript) -->
    }
    @*<div class="navbar navbar-default navbar-fixed-top" style="max-width:100%; margin:0 auto;">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="~/">
                        <div>
                            <img class="navbar-brand-logo" src="/Content/logos/og-logo-colour.png">
                        </div>
                    </a>
                </div>
                <div class="navbar-collapse collapse flex-column">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@
        @Html.Partial("_LoginPartial")
        <div class="wrapper-content">
            <main>
                @RenderBody()
                
            </main>
            <div class="footer-push"></div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="Modal-shoppingcart" role="dialog" style="z-index:2000">
            <div class="modal-dialog" style="max-width:800px; width:100%;">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="text-align:center;">Your Shopping Cart</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="Modal-quotecart" role="dialog" style="z-index:2000">
            <div class="modal-dialog" style="max-width:800px; width:100%;">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="text-align:center;">Your Quotes</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="Modal_Prospect" role="dialog" style="z-index:2001">
            <div class="modal-dialog" style="max-width: 350px;">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="text-align:center;"></h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    
        <a id="Button_Close_Email_Content" class="btn btn-background" onclick="emailJs.hideNewEmailSlide()" style="z-index:1121; display:none;"></a>

        <div id="SlideContent_NewEmail" class="panel panel-default" style="z-index: 1125; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 1000px; display: none;">
            <div class="panel-body" style="margin-top: 10px;">
                <div id="NewEmail_Body"></div>
            </div>
        </div>

        @*<div class="wrapper" style="max-width:100%; margin:0 auto; background-image: url('/Views/CMS/Content/Media/Lines.png'); background-position: top; background-repeat: no-repeat; background-size: contain;">
            <div class="header"></div>
            <div class="content" style="max-width:1170px; margin:auto;">
                <div class="container">
                    @RenderBody()
                </div>
            </div>
            @Html.Partial("_FooterPartial")
        </div>*@
    @RenderSection("scripts", required: false)

    <a id="div_loading" class="btn btn-loading" style="z-index:9999; display:none; cursor:progress;"></a>

    
</body>

</html>
