﻿@using Microsoft.AspNet.Identity

@*<header>
    <div class="container-fluid" id="og-header" style="height:auto;">
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-2 col-lg-1" id="logo-header">
                <a href="/Home" title="Office Groceries" alt="Office Groceries"><img src="~/Content/logos/logo.png" class="img-responsive" title="Office Groceries" alt="Office Groceries" /></a>
            </div>
            @if (Request.IsAuthenticated)
            {
                if (User.IsInRole("Admin") || User.IsInRole("User"))
                {
                    @Html.Partial("_CustomerHeader")
                }
                else
                {
                    @Html.Partial("_NiUserHeader")
                }
            }
        </div>
    </div>
</header>*@

@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Admin") || User.IsInRole("User"))
    {
        @Html.Partial("_CustomerHeader")
    }
    else
    {
        @Html.Partial("_NiUserHeader")
    }
}

<script>
    //$(document).ready(function () {
    //    $('.dropdown-submenu a.submenu-stockcontrol').on("click", function (e) {
    //        $(this).next('ul').toggle();
    //        e.stopPropagation();
    //        e.preventDefault();
    //    });
    //});

    function HideViews() {
        $("#SlideContent_Edit").animate({ width: '0%' }, { queue: false, duration: 300 });
        setTimeout(function () {
            $("#SlideContent_Edit").css("display", "none");
            $("#Button_Close_Content").css("display", "none");
        }, 300);
    }

    (function ($) {
        $('ul.sub-menu').hide();
        $('.lhs-menu-nav li').hover(function () {
            $(this).find('ul.sub-menu').stop(true, true).delay(200).fadeIn(500);
        }, function () {
            $(this).find('ul.sub-menu').stop(true, true).delay(200).fadeOut(500);
        });
    })(jQuery);


    $(document).on('click touchstart', '#toggle', function () {
        if ($("#toggle").children('.fa-bars').length) {
            $('#popout').animate({ width: "100%" }, 'fast', function () {
                $('.wrapper-content').hide();
                $('#toggle').html('<span class="fa fa-times" aria-hidden="true"></span>');
            });
        }
        else {
            $('.wrapper-content').show();
            $('#popout').animate({ width: "0%" }, 'fast', function () {
                $('#toggle').html('<span class="fa fa-bars" aria-hidden="true"></span>');
            });
        }
    });
    
</script>