﻿
@{
    string label = "";
}


<header>
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <div id="toggle" class="navbar-toggle" style="margin-top: 18px;">
                        <span class="fa fa-bars" aria-hidden="true"></span>
                    </div>
                    @*<div class="navbar-right-contact">
                        <a href="tel:03454638863" class="label-phone">0345 463 8863</a>
                        <br />
                        <a href="mailto:Orders@office-groceries.com" class="email-header">Orders@office-groceries.com</a>
                    </div>*@

                    <a class="navbar-brand" href="/Home">
                        <img style="max-height: 40px; margin-top: 5px; padding-right: 0px;" src="~/Content/logos/logo_white.png">
                    </a>
                    @*<div class="navbar-contact-info" style="margin-top: 26px;">
                        <a href="tel:03454638863" class="label-phone">0345 463 8863</a>&nbsp;
                        <a href="mailto:Orders@office-groceries.com" class="email-header">Orders@office-groceries.com</a>
                    </div>*@
                </div>
                <div class="navbar-collapse collapse" style="margin-top: 25px;">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="navbar navbar-default hidden-navbar-small">
            <div class="container">
                <div class="navbar-header">
                    <div class="navbar-brand" style="height: 50px;"> </div>
                </div>
                <div class="navbar-collapse collapse" style="padding-bottom: 5px; padding-top:10px;">
                    <div class=" col-sm-10" id="lhs-nav">
                        <ul class="lhs-menu-nav" style="margin-left: -25px;">
                            <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                            <li>
                                <a href="#">Products</a>
                                <ul class="sub-menu">
                                    <li>@Html.ActionLink("Milk", "Index", "MilkProductManagement")</li>
                                    <li>@Html.ActionLink("Fruit", "Index", "FruitProductManagement")</li>
                                    <li>@Html.ActionLink("Dry Goods", "Index", "ProductManagement")</li>
                                    <li>@Html.ActionLink("Carousel", "Index", "CarouselManagement")</li>
                                    <li>@Html.ActionLink("Additional Charges", "Index", "DeliveryCharges")</li>
                                    <li>@Html.ActionLink("Mirror Restrict Products", "Index", "Mirror")</li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Orders</a>
                                <ul class="sub-menu">
                                    <li>@Html.ActionLink("Dry Goods Proforma", "DryGoodsProforma", "OrderManagement")</li>
                                    <li>@Html.ActionLink("Dry Goods", "DryGoodsOrders", "OrderManagement")</li>
                                    <li>@Html.ActionLink("Fruit Orders", "FruitOrders", "OrderManagement")</li>
                                    <li>@Html.ActionLink("Milk Orders", "MilkOrders", "OrderManagement")</li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Customers</a>
                                <ul class="sub-menu">
                                    <li>@Html.ActionLink("Prospects", "Index", "ProspectManagement")</li>
                                    <li>@Html.ActionLink("Customers", "Index", "Companies")</li>
                                    <li>@Html.ActionLink("Inactive Customers", "InactiveCompanies", "Companies")</li>
                                    <li>@Html.ActionLink("Feedbacks", "Index", "Feedbacks")</li>
                                    <li>@Html.ActionLink("Messages", "Index", "Messages")</li>
                                    <li>@Html.ActionLink("Import", "Index", "Transition")</li>
                                </ul>
                            </li>
                            <li>
                                @Html.ActionLink("Suppliers", "Index", "Suppliers")
                            </li>
                            <li>
                                <a href="#">Calendars</a>
                                <ul class="sub-menu">
                                    <li>@Html.ActionLink("Requested Accounts", "RequestedAccounts", "Calendars")</li>
                                    <li>@Html.ActionLink("First Delivery Date", "FirstDeliveryDate", "Calendars")</li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Reports</a>
                                <ul class="sub-menu">
                                    <li>@Html.ActionLink("Dry Goods", "DryGoods", "Reports")</li>
                                    <li>@Html.ActionLink("Milk & Fruit", "MilkAndFruit", "Reports")</li>
                                    <li>@Html.ActionLink("Milk & Fruit V2", "NewMilkAndFruit", "Reports")</li>
                                    @*<li>@Html.ActionLink("Milk", "Milk", "Reports")</li>*@
                                    <li>@Html.ActionLink("Milk Standing Orders", "MilkStanding", "Reports")</li>
                                    <li>@Html.ActionLink("Milk OneOff Updates", "MilkOneOff", "Reports")</li>
                                    <li>@Html.ActionLink("Zero Milk Orders", "ZeroMilkOrder", "Reports")</li>
                                    @*<li>@Html.ActionLink("Fruit", "Fruit", "Reports")</li>*@
                                    <li>@Html.ActionLink("Fruit Standing Orders", "FruitStanding", "Reports")</li>
                                    <li>@Html.ActionLink("Fruit OneOff Updates", "FruitOneOff", "Reports")</li>
                                    <li>@Html.ActionLink("Zero Fruit Orders", "ZeroFruitOrder", "Reports")</li>
                                    <li>@Html.ActionLink("Product GP%", "ExportToCSV", "ProductManagement")</li>
                                    <li>@Html.ActionLink("Requested Accounts", "RequestedAccounts", "Reports")</li>
                                    <li>@Html.ActionLink("First Delivery Date", "FirstDeliveryDate", "Reports")</li>
                                    <li>@Html.ActionLink("Customer Notes", "ExportCustomerNotes", "Reports")</li>
                                    <li>@Html.ActionLink("Intermittent Next Week", "IntermittentNextWeek", "Reports")</li>
                                    <li>@Html.ActionLink("Performance", "Performance", "Reports")</li>
                                    <li>@Html.ActionLink("MFS CSV", "ExportCSV", "Mfs", new { supplier = "MFS" }, new {target="_blank"})</li>
                                    <li>@Html.ActionLink("DLR DPD CSV", "ExportCSV", "Mfs", new { supplier = "DLRDPD" }, new {target="_blank"})</li>
                                    <li>@Html.ActionLink("Monthly PO", "PoNumber", "Reports")</li>
                                    <li>@Html.ActionLink("Customer List", "ExportCustomerList", "Reports", null, new {target="_blank"})</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Manage Aisles", "Index", "AisleManagement")</li>
                            <li>
                                <a href="#">Page Settings</a>
                                <ul class="sub-menu">
                                    <li>@Html.ActionLink("About", "Edit", "StaticPages", new { name = "About" }, null)</li>
                                    <li>@Html.ActionLink("T&C's", "Edit", "StaticPages", new { name = "TermsConditions" }, null)</li>
                                    <li>@Html.ActionLink("Privacy Policy", "Edit", "StaticPages", new { name = "PrivacyPolicy"}, null)</li>
                                    <li>@Html.ActionLink("Testimonials", "Index", "Testimonials")</li>
                                </ul>
                            </li>
                            @*<li>
                                <a href="#">CMS</a>
                                <ul class="sub-menu">
                                    <li>@Html.ActionLink("Manage Files", "Index", "CMS")</li>
                                    <li>@Html.ActionLink("Manage Static Pages", "Index", "PageSettings")</li>
                                </ul>
                            </li>*@
                            <li><a href="https://wordpress.com/view/blog.office-groceries.com">Blog</a></li>
                            <li>
                                <a href="#">Settings</a>
                                <ul class="sub-menu">
                                    <li>@Html.ActionLink("Manage Account", "NIManageAccount", "Users")</li>
                                    <li>@Html.ActionLink("Promotion Offer", "Edit", "PromotionOffers")</li>
                                    <li>@Html.ActionLink("Internal Notes", "Index", "InternalNotes")</li>
                                    <li>@Html.ActionLink("Settings", "Index", "Settings")</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 mobile-nav">
            <div id="popout">
                <ul class="mobile-menu mobile-nav-inverse">
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>

                <ul class="mobile-menu mobile-nav-default">
                    <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                    <li>
                        <a href="#">Products</a>
                        <ul class="sub-menu">
                            <li>@Html.ActionLink("Milk", "Index", "MilkProductManagement")</li>
                            <li>@Html.ActionLink("Fruit", "Index", "FruitProductManagement")</li>
                            <li>@Html.ActionLink("Dry Goods", "Index", "ProductManagement")</li>
                            <li>@Html.ActionLink("Carousel", "Index", "CarouselManagement")</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Orders</a>
                        <ul class="sub-menu">
                            <li>@Html.ActionLink("Dry Goods", "DryGoodsOrders", "OrderManagement")</li>
                            <li>@Html.ActionLink("Fruit Orders", "FruitOrders", "OrderManagement")</li>
                            <li>@Html.ActionLink("Milk Orders", "MilkOrders", "OrderManagement")</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Customers</a>
                        <ul class="sub-menu">
                            <li>@Html.ActionLink("Prospects", "Index", "ProspectManagement")</li>
                            <li>@Html.ActionLink("Customers", "Index", "Companies")</li>
                            <li>@Html.ActionLink("Feedbacks", "Index", "Feedbacks")</li>
                            <li>@Html.ActionLink("Messages", "Index", "Messages")</li>
                            <li>@Html.ActionLink("Import", "Index", "Transition")</li>
                        </ul>
                    </li>
                    <li>
                        @Html.ActionLink("Suppliers", "Index", "Suppliers")
                    </li>
                    <li>
                        <a href="#">Calendars</a>
                        <ul class="sub-menu">
                            <li>@Html.ActionLink("Requested Accounts", "RequestedAccounts", "Calendars")</li>
                            <li>@Html.ActionLink("First Delivery Date", "FirstDeliveryDate", "Calendars")</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Reports</a>
                        <ul class="sub-menu">
                            <li>@Html.ActionLink("Dry Goods", "DryGoods", "Reports")</li>
                            <li>@Html.ActionLink("Milk & Fruit", "MilkAndFruit", "Reports")</li>
                            <li>@Html.ActionLink("Milk & Fruit V2", "NewMilkAndFruit", "Reports")</li>
                            @*<li>@Html.ActionLink("Milk", "Milk", "Reports")</li>*@
                            <li>@Html.ActionLink("Milk Standing Orders", "MilkStanding", "Reports")</li>
                            <li>@Html.ActionLink("Milk OneOff Updates", "MilkOneOff", "Reports")</li>
                            <li>@Html.ActionLink("Fruit Standing Orders", "FruitStanding", "Reports")</li>
                            <li>@Html.ActionLink("Fruit OneOff Updates", "FruitOneOff", "Reports")</li>
                            <li>@Html.ActionLink("Product GP%", "ExportToCSV", "ProductManagement")</li>
                            <li>@Html.ActionLink("Requested Accounts", "RequestedAccounts", "Reports")</li>
                            <li>@Html.ActionLink("First Delivery Date", "FirstDeliveryDate", "Reports")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Manage Aisles", "Index", "AisleManagement")</li>
                    @*<li>
                        <a href="#">CMS</a>
                        <ul class="sub-menu">
                            <li>@Html.ActionLink("Manage Files", "Index", "CMS")</li>
                            <li>@Html.ActionLink("Manage Static Pages", "Index", "PageSettings")</li>
                        </ul>
                    </li>*@
                    <li>
                        <a href="#">Page Settings</a>
                        <ul class="sub-menu">
                            <li>@Html.ActionLink("About", "Edit", "StaticPages", new { name = "About" }, null)</li>
                            <li>@Html.ActionLink("T&C's", "Edit", "StaticPages", new { name = "TermsConditions" }, null)</li>
                            <li>@Html.ActionLink("Privacy Policy", "Edit", "StaticPages", new { name = "PrivacyPolicy"}, null)</li>
                            <li>@Html.ActionLink("Testimonials", "Index", "Testimonials")</li>
                        </ul>
                    </li>
                    <li><a href="https://wordpress.com/view/blog.office-groceries.com">Blog</a></li>
                    <li>
                        <a href="#">Settings</a>
                        <ul class="sub-menu">
                            <li>@Html.ActionLink("Manage Account", "NIManageAccount", "Users")</li>
                            <li>@Html.ActionLink("Settings", "Index", "Settings")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    }
</header>

@*<style>
    .footer-aisle {
        display: none
    };
</style>*@