﻿
<header>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <div id="toggle" class="navbar-toggle" style="margin-top: 18px;">
                    <span class="fa fa-bars" aria-hidden="true"></span>
                </div>
                <div class="navbar-right-contact">
                    <a href="tel:03454638863" class="label-phone">0345 463 8863</a>
                    <br />
                    <a href="mailto:Orders@office-groceries.com" class="email-header">Orders@office-groceries.com</a>
                </div>

                <a class="navbar-brand" href="/Home">
                    <img style="max-height: 40px; margin-top: 5px; padding-right: 0px;" src="~/Content/logos/logo_white.png">
                </a>
                <div class="navbar-contact-info" style="margin-top: 26px;">
                    <a href="tel:03454638863" class="label-phone">0345 463 8863</a>&nbsp;
                    <a href="mailto:Orders@office-groceries.com" class="email-header">Orders@office-groceries.com</a>
                </div>
            </div>
            <div class="navbar-collapse collapse" style="margin-top: 25px;">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("FAQs", "FAQs", "Home")</li>
                    <li>@Html.ActionLink("Process", "Process", "Home")</li>
                    @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    @*<li><a href="https://www.hospitality2you.com/" target="_blank">About</a></li>*@
                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    <li>@Html.ActionLink("Enquiry Form", "EnquiryForm", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", style= "border: 2px solid #a56072; border-radius: 10px; padding-top: 2px; padding-bottom: 2px;" })</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="navbar navbar-default hidden-navbar-small">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand" style="height: 50px;"> </div>
            </div>
            <div class="navbar-collapse collapse" style="padding-bottom: 5px;">
                <h4 class="header-h4"> Take a look around our product aisles:</h4>
                <div class="col-sm-10" id="lhs-nav">
                    <ul class="lhs-menu-nav" style="margin-left: -25px;">
                        @foreach (var aisle in (ViewBag.Aisles as List<NuIngredient.Models.AisleViewModel>).Where(a => a.IsMain))
                        {
                            //<li>@Html.ActionLink(aisle.Label, "Category", "Aisles", new { @id = aisle.Name }, null)</li>
                            <li>
                                <a href="#">@aisle.Label</a>
                                <ul class="sub-menu">
                                    @if (@aisle.Name == "Milk")
                                    {
                                        <li>@Html.ActionLink("Order Now", "Index", "Milk")</li>
                                    }
                                    else if (@aisle.Name == "Fruit")
                                    {
                                        <li>@Html.ActionLink("Order Now", "Index", "Fruits")</li>
                                    }
                                    else
                                    {
                                        <li>@Html.ActionLink("Order Now", "Aisle", "Products", new { id = aisle.Name }, null)</li>
                                    }
                                    <li>@Html.ActionLink("OG " + @aisle.Label, "Category", "Aisles", new { id = aisle.Name }, null)</li>
                                </ul>
                            </li>
                        }
                        @if ((ViewBag.Aisles as List<NuIngredient.Models.AisleViewModel>).Where(a => !a.IsMain).Any())
                        {
                            <li>
                                <a href="#">Other Aisles</a>
                                <ul class="sub-menu">
                                    @foreach (var aisle in (ViewBag.Aisles as List<NuIngredient.Models.AisleViewModel>).Where(a => !a.IsMain))
                                    {
                                        <li>@Html.ActionLink(@aisle.Label, "Category", "Aisles", new { id = aisle.Name }, null)</li>
                                    }
                                </ul>
                            </li>
                        }
                        <li style="float:right;"><a href="javascript:void(0)" onclick="ShowQuoteCart();" style="color: black;"><img style="max-height:30px;" src="~/Content/shopping-cart.png" />My Quote</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 mobile-nav">
        <div id="popout">
            <ul class="mobile-menu mobile-nav-inverse">
                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                <li><a href="javascript:void(0)" onclick="ShowQuoteCart()">My Quote</a></li>
                <li>@Html.ActionLink("FAQs", "FAQs", "Home")</li>
                <li>@Html.ActionLink("Process", "Process", "Home")</li>
                @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                <li>@Html.ActionLink("About", "About", "Home")</li>
                @*<li><a href="https://www.hospitality2you.com/" target="_blank">About</a></li>*@
                <li>@Html.ActionLink("Enquiry Form", "EnquiryForm", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            </ul>
            <ul class="mobile-menu mobile-nav-default">
                <li><span style="color:#a56072; font-size:18px; font-weight:bold;"> Take a look around our product aisles:</span></li>
                @foreach (var aisle in (ViewBag.Aisles as List<NuIngredient.Models.AisleViewModel>).Where(a => a.IsMain))
                {
                    @*<li>@Html.ActionLink(aisle.Label, "Category", "Aisles", new { @id = aisle.Name }, null)</li>*@
                    <li>
                        <a href="#">@aisle.Label</a>
                        <ul class="sub-menu">
                            @if (@aisle.Name == "Milk")
                            {
                                <li>@Html.ActionLink("Order Now", "Index", "Milk")</li>
                            }
                            else if (@aisle.Name == "Fruit")
                            {
                                <li>@Html.ActionLink("Order Now", "Index", "Fruits")</li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("Order Now", "Aisle", "Products", new { id = aisle.Name }, null)</li>
                            }
                            <li>@Html.ActionLink("OG " + @aisle.Label, "Category", "Aisles", new { id = aisle.Name }, null)</li>
                        </ul>
                    </li>
                }
                @if ((ViewBag.Aisles as List<NuIngredient.Models.AisleViewModel>).Where(a => !a.IsMain).Any())
                {
                    <li>
                        <a href="#">Other Aisles</a>
                        <ul class="sub-menu">
                            @foreach (var aisle in (ViewBag.Aisles as List<NuIngredient.Models.AisleViewModel>).Where(a => !a.IsMain))
                            {
                                <li>@Html.ActionLink(@aisle.Label, "Category", "Aisles", new { id = aisle.Name }, null)</li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>

</header>