﻿<div class="container" style="margin-top: 100px;">
    <div class="row" id="help-layer">
        <div class="col-xs-12">
            <h3>Need any help?</h3>
            <p>View our setting up an account page or <a href="mailto:Orders@office-groceries.com" title="Email Office Groceries Here" alt="Email Office Groceries Here">email us here</a>.</p>
        </div>
    </div>

    <div class="row row-equal" id="other-aisles-layer">
        <div class="col-xs-12">
            <h4>Want to view our other aisles?</h4>
        </div>

        @if (User.Identity.IsAuthenticated)
        {
            foreach (var aisle in (ViewBag.Aisles as List<NuIngredient.Models.AisleViewModel>).Where(a => a.IsMain))
            {
                if (aisle.Name == "Milk")
                {
                    <a href="/Milk" title="Visit our @aisle.Label" alt="Visit our @aisle.Label">
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="white-aisle-holder">
                                <p>Visit our @aisle.Label</p>
                            </div>
                        </div>
                    </a>
                }
                else if (aisle.Name == "Fruit")
                {
                    <a href="/Fruits" title="Visit our @aisle.Label" alt="Visit our @aisle.Label">
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="white-aisle-holder">
                                <p>Visit our @aisle.Label</p>
                            </div>
                        </div>
                    </a>
                }
                else
                {
                    <a href="/Products/Aisle/@aisle.Name" title="Visit our @aisle.Label" alt="Visit our @aisle.Label">
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="white-aisle-holder">
                                <p>Visit our @aisle.Label</p>
                            </div>
                        </div>
                    </a>
                }
            }

            if ((ViewBag.Milk != null && ViewBag.Milk == true) || (ViewBag.Fruits != null && ViewBag.Fruits == true) || Model.Live || Model.SupplierRequested || (Model.AisleSupplier != null && Model.AisleSupplier.UseMasterAccount == true))
            {
            }
            else
            {
                <a href="javascript:void(0)" onclick="AskForDryGoodsSupplier()" title="Activate this Aisle" alt="Activate this Aisle">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="white-aisle-holder">
                            <p>Activate this Aisle</p>
                        </div>
                    </div>
                </a>
            }
        }
        else
        {


            foreach (var aisle in (ViewBag.Aisles as List<NuIngredient.Models.AisleViewModel>).Where(a => a.IsMain))
            {
                <a href="/Aisles/Category/@aisle.Name" title="Visit our @aisle.Label" alt="Visit our @aisle.Label">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="white-aisle-holder">
                            <p>Visit our @aisle.Label</p>
                        </div>
                    </div>
                </a>
            }

            <a href="/Account/EnquiryForm" title="Setup an Office Groceries account" alt="Setup an Office Groceries account">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="white-aisle-holder">
                        <p>Want to setup an account?</p>
                    </div>
                </div>
            </a>
        }
    </div>

</div>