﻿@using NuIngredient.Models
@{
    ViewBag.Title = "CMS";
    
}
<html lang="en" data-ng-app="FileManagerApp">
<head>
    <!-- third party -->
    @*<script src="~/Scripts/node_modules/jquery/dist/jquery.min.js"></script>*@
    <script src="~/Scripts/node_modules/angular/angular.min.js"></script>
    <script src="~/Scripts/node_modules/angular-translate/dist/angular-translate.min.js"></script>
    <script src="~/Scripts/node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
    @*<script src="~/Scripts/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>*@
    @*<link rel="stylesheet" href="~/Scripts/node_modules/bootswatch/paper/bootstrap.min.css" />*@
    <!-- /third party -->
    <!-- Uncomment if you need to use raw source code-->
      @*<script src="~/Scripts/file-manager-src/js/app.js"></script>
      <script src="~/Scripts/file-manager-src/js/directives/directives.js"></script>
      <script src="~/Scripts/file-manager-src/js/filters/filters.js"></script>
      <script src="~/Scripts/file-manager-src/js/providers/config.js"></script>
      <script src="~/Scripts/file-manager-src/js/entities/chmod.js"></script>
      <script src="~/Scripts/file-manager-src/js/entities/item.js"></script>
      <script src="~/Scripts/file-manager-src/js/services/apihandler.js"></script>
      <script src="~/Scripts/file-manager-src/js/services/apimiddleware.js"></script>
      <script src="~/Scripts/file-manager-src/js/services/filenavigator.js"></script>
      <script src="~/Scripts/file-manager-src/js/providers/translations.js"></script>
      <script src="~/Scripts/file-manager-src/js/controllers/main.js"></script>
      <script src="~/Scripts/file-manager-src/js/controllers/selector-controller.js"></script>
      <link href="~/Scripts/file-manager-src/css/animations.css" rel="stylesheet">
      <link href="~/Scripts/file-manager-src/css/dialogs.css" rel="stylesheet">
      <link href="~/Scripts/file-manager-src/css/main.css" rel="stylesheet">*@
    
    <!-- Comment if you need to use raw source code -->
    <link href="~/Scripts/dist/angular-filemanager.min.css" rel="stylesheet">
    <script src="~/Scripts/dist/angular-filemanager.min.js"></script>
    <!-- /Comment if you need to use raw source code -->


    <script type="text/javascript">
        //example to override angular-filemanager default config
        angular.module('FileManagerApp').config(['fileManagerConfigProvider', function (config) {
            var defaults = config.$get();
            config.set({
                appName: 'angular-filemanager',
                multiLang: false,
                pickCallback: function (item) {
                    var msg = 'Picked %s "%s" for external use'
                        .replace('%s', item.type)
                        .replace('%s', item.fullPath());
                    window.alert(msg);
                },

                allowedActions: angular.extend(defaults.allowedActions, {
                    pickFiles: false,
                    pickFolders: false,
                }),
                listUrl: 'CMS/List',
                uploadUrl: 'CMS/Upload',
                renameUrl: 'CMS/Rename',
                //copyUrl: '',
                moveUrl: 'CMS/Move',
                removeUrl: 'CMS/Remove',
                editUrl: 'CMS/Edit',
                getContentUrl: 'CMS/GetContent',
                createFolderUrl: 'CMS/CreateFolder',
                downloadFileUrl: 'CMS/Download',
                //downloadMultipleUrl: '',
                //compressUrl: '',
                //extractUrl: '',
                //permissionsUrl: '',
                basePath: '/',

                allowedActions: {
                    upload: true,
                    rename: true,
                    move: true,
                    copy: false,
                    edit: true,
                    changePermissions: false,
                    compress: false,
                    compressChooseName: false,
                    extract: false,
                    download: true,
                    downloadMultiple: false,
                    preview: true,
                    remove: true,
                    createFolder: true,
                    pickFiles: false,
                    pickFolders: false
                }
            });
        }]);
    </script>
    <style>
        /*.container .ng-scope .navbar {
            background-color: #1e7dea;
            opacity: 1;
        }
        .container .ng-scope .nav {
            background-color: #f7f1e6;
        }*/
        .ng-scope textarea {
            max-width: none;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                @if (ViewBag.SuccessMessage != null)
            {
                    <div class="alert alert-success">
                        @ViewBag.SuccessMessage
                    </div>
                }
                @if (ViewBag.ErrorMessage != null)
            {
                    <div class="alert alert-danger">
                        <strong>Error:</strong> @ViewBag.ErrorMessage
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3" style="text-align:center;">
                <h1>@ViewBag.Title</h1>
                @*<h4 class="white-text">Want to get in touch with us to get more information or ask a question? Use the form below. </h4>*@
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <hr />
            </div>
            <div class="col-sm-12">
                <div class="pull-right" style="margin-bottom: 5px;">
                    <a class="btn btn-info" target="_blank" href="@System.Configuration.ConfigurationManager.AppSettings["PreviewServerURL"]"  title='Preview your change on the "Preview server"'>Preview</a>
                    @using (Html.BeginForm("Reset", "CMS", FormMethod.Post, new { @style = "display: inline-block;" }))
                    {
                        <input class="btn btn-success" type="submit" value="Reset" title='Reset the "Preview server"'/>
                    }
                    @using (Html.BeginForm("Publish", "CMS", FormMethod.Post, new { @style = "display: inline-block;" }))
                    {
                        <input class="btn btn-danger" type="submit" value="Publish" title='Publish to the "Live server"'/>
                    }
                </div>
            </div>
            <div class="col-sm-12">
                <angular-filemanager></angular-filemanager>
            </div>
        </div>

    </div>
</body>
</html>