﻿@model NuIngredient.Models.Setting
@{
    ViewBag.Title = "Settings";
}

<div id="FreezeSetting">
    @using (Ajax.BeginForm("_FreezeSetting", "Settings", new AjaxOptions { UpdateTargetId = "FreezeSetting" }, FormMethod.Post))
    {
        <div class="container">

            <div class="row">
                <div class="col-sm-12">
                    <h1>@ViewBag.Title</h1>
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-sm-12">
                    @if (Model.IsFreezeActivated)
                    {
                        if (Model.FreezeStartDate == null || Model.FreezeEndDate == null)
                        {
                            <div class="alert alert-danger">
                                <strong>Warning!</strong> Please enter Freeze Start Date and Freeze End Date.
                            </div>
                        }
                        else if (Model.FreezeEndDate < DateTime.Now)
                        {
                            <div class="alert alert-danger">
                                <strong>Warning!</strong> Freeze End Date should be greater than today's date.
                            </div>
                        }
                        else if (Model.FreezeStartDate > Model.FreezeEndDate)
                        {
                            <div class="alert alert-danger">
                                <strong>Warning!</strong> Freeze Start Date should be less than Freeze End Date.
                            </div>
                        }
                        else if (Model.FreezeEndDate < DateTime.Now)
                        {
                            <div class="alert alert-danger">
                                <strong>Warning!</strong> Freeze End Date should be greater than today's date.
                            </div>
                        }
                        else
                        {
                            <div class="alert alert-success">
                                <strong>Success!</strong> Freeze is activated.
                            </div>
                        }
                    }
                    else
                    {
                        if (Model.FreezeStartDate != null || Model.FreezeEndDate != null)
                        {
                            <div class="alert alert-danger">
                                <strong>Warning!</strong> There is no Freeze activated unless Apply Freeze is checked.
                            </div>
                        }
                    }
                    <table style="width:100%;">
                        <tr>
                            <td><label>Apply Freeze: </label></td>
                            <td>@Html.Kendo().CheckBoxFor(model => model.IsFreezeActivated)</td>
                        </tr>
                        <tr><td><br/></td></tr>
                        <tr>
                            <td><label>Freeze Start Date: </label></td>
                            <td>@Html.Kendo().DatePickerFor(model => model.FreezeStartDate)</td>
                        </tr>
                        <tr><td><br/></td></tr>
                        <tr>
                            <td><label>Freeze End Date: </label></td>
                            <td>@Html.Kendo().DatePickerFor(model => model.FreezeEndDate)</td>
                        </tr>
                        <tr><td><br/></td></tr>
                        <tr>
                            <td style="width:250px;"><label>Freeze Message: </label></td>
                            <td>@Html.TextBoxFor(model => model.FreezeMessage, new { @class = "form-control", @placeholder = "Freeze Message", @style = "max-width:100%;" })</td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-12">
                    <hr />
                    <div style="text-align:center;">
                        <input type="submit" value="Save" class="btn btn-inverse" />
                        @if (ViewBag.Saved != null)
                        {   <br />
                            <label id="l_Saved"><strong>Details Saved!</strong></label>
                            <script>
                                setTimeout(function () { $("#l_Saved").css("display", "none"); }, 2000);
                            </script>
                        }
                    </div>
                </div>
            </div>
        </div>
    }

</div>