﻿
@{
    ViewBag.Title = "Dry Goods Categories";
}

<script>

    function OnTreeListRequestEnd(e) {
        if (e.type == 'create') {
            if (e.response.Data[0].ParentID == null)
                $("#ProductCategoryTreeList").data("kendoTreeList").dataSource.read();
        }
    }

    function CustomizeClass() {
        setTimeout(function () {
            $('.k-button > span.k-icon').removeClass('k-icon');
            $('.k-grid-add').attr('title', 'Create Sub-Category');
            $('.k-i-check').removeClass('k-i-check').addClass('glyphicon glyphicon-ok glyphicon-btn');
            $('.k-i-cancel').removeClass('k-i-cancel').addClass(' glyphicon glyphicon-remove glyphicon-btn');
        }, 1)

    }

    function ConfirmDelete(e) {
        if (!confirm("Are you sure you want to delete this category?")) {
            e.preventDefault();
            return;
        }
    }

    function Sync(e) {
        $("#ProductCategoryTreeList").data("kendoTreeList").dataSource.sync();
    }

    // prevent the weird bug of losing location name
    function GetName() {
        var data = {
            name: $('#Name').val()
        };

        return data;
    }
</script>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-12">
            <a class="btn btn-primary btn-xs" onclick="$('#ProductCategoryTreeList').data('kendoTreeList').addRow(); return false;" style="margin-bottom:5px;"><span class="fa fa-plus"></span>&nbsp;&nbsp;New Category</a>
            @(Html.Kendo().TreeList<NuIngredient.Models.ProductCategoryViewModel>()
                            .Name("ProductCategoryTreeList")
                            .Columns(columns =>
                            {
                                columns.Add().Field(l => l.Name);
                                columns.Add().Title("Edit").Width("300px").Command(c =>
                                {
                                    c.Edit().ImageClass("glyphicon glyphicon-edit glyphicon-btn").Text(" ");
                                    c.Destroy().ImageClass("glyphicon glyphicon-trash glyphicon-btn").Text(" ");
                                    c.CreateChild().ImageClass("glyphicon glyphicon-plus glyphicon-btn").Text(" ");
                                });
                            })
                            .Editable(editable => editable.Move(true))
                            .Scrollable(false)
                            .Sortable()
                            .DataSource(datasource =>
                                datasource.Create(create => create.Action("Create", "ProductCategoryManagement").Data("GetName"))
                                            .Read(read => read.Action("Read", "ProductCategoryManagement"))
                                            .Update(update => update.Action("Update", "ProductCategoryManagement"))
                                            .Destroy(destroy => destroy.Action("Destroy", "ProductCategoryManagement"))
                                            .ServerOperation(false)
                                            .Model(m =>
                                            {
                                                m.Id(l => l.ID);
                                                m.ParentId(l => l.ParentID).DefaultValue(null);
                                                m.Field(l => l.Name);
                                            })
                                            .Events(e => e.RequestEnd("OnTreeListRequestEnd"))
                            )
                            .Events(e =>
                            {
                                e.DragEnd("Sync");
                                e.DataBound("CustomizeClass");
                                e.Cancel("CustomizeClass");
                                e.Edit("CustomizeClass");
                                e.Remove("ConfirmDelete");
                            })
            )
        </div>
    </div>

</div>


