﻿@using NuIngredient.Models

@{
    ViewBag.Title = "Suppliers";
}

<script>
    function GridSuppliers_RequestEnd(e) {
        if (e.type != "read") {
            $('#GridSuppliers').data('kendoGrid').dataSource.read();
        }
    }
</script>
<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-12">
            <a class="btn btn-primary btn-xs" onclick="$('#GridSuppliers').data('kendoGrid').addRow();" style="margin-bottom:5px;"><span class="glyphicon glyphicon-plus"></span>&nbsp;New Supplier</a>
            @(Html.Kendo().Grid<SupplierViewModel>()
                      .Name("GridSuppliers")
                      .Columns(columns =>
                      {
                          columns.Bound(m => m.ID).Hidden();
                          columns.Bound(m => m.SupplierType).EditorTemplateName("SupplierTypeViewModel").ClientTemplate("#=SupplierType.Name#").Width("1%").Sortable(false);
                          columns.Bound(m => m.Name).Title("Name");
                          columns.Bound(m => m.Label).Title("Label");
                          columns.Bound(m => m.Email).Title("Email");
                          columns.Bound(m => m.Telephone).Title("Telephone");
                          columns.Bound(m => m.MinimumValue).HtmlAttributes(new { @class = "div-inline" }).Width("1%");
                          columns.Bound(m => m.UseMasterAccount).ClientTemplate("#if(UseMasterAccount){# <i class='glyphicon glyphicon-ok' /> #}#").HtmlAttributes(new { @class = "div-inline"}).Width("1%");
                          columns.Bound(m => m.DefaultAisleID).Title("Default Aisle").EditorTemplateName("DefaultAisleEditor").ClientTemplate("#=DefailtAisleLabel#");
                          columns.Command(command =>
                          {
                              command.Edit()
                                     .Text("<span class=\"glyphicon glyphicon-edit\"></span>")
                                     .UpdateText("<span class='glyphicon glyphicon-ok'/>")
                                     .CancelText("<span class='glyphicon glyphicon-remove'/>")
                                     .HtmlAttributes(new { Title = "Edit Supplier" });
                              command.Destroy()
                                     .Text("<span class=\"glyphicon glyphicon-trash\"></span>")
                                     .HtmlAttributes(new { Title = "Delete Supplier" });
                          }).Width(85);
                      })
                      .Sortable()
                      .DataSource(dataSource =>
                      {
                          dataSource.Ajax()
                                    .Model(model =>
                                    {
                                        model.Id(m => m.ID);
                                        model.Field(m => m.SupplierType).DefaultValue(new SelectItemViewModel());
                                    })
                                    .Create(create => create.Action("Create", "SuppliersGrid"))
                                    .Read(read => read.Action("Read", "SuppliersGrid"))
                                    .Update(update => update.Action("Update", "SuppliersGrid"))
                                    .Destroy(destroy => destroy.Action("Destroy", "SuppliersGrid"))
                                    .Events(events => events.RequestEnd("GridSuppliers_RequestEnd"));
                      })
                      .Events(events => events.DataBound("KendoGridDatabound"))

            )
        </div>
    </div>
</div>
