﻿@using NuIngredient.Models

<script>
    function Grid_onRequestEnd(e) {
        if (e.type !== "read") {
            e.sender.read();
        }
    }
</script>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Tags</h1>
        </div>
        <div class="col-sm-12">
            <a class="btn btn-info btn-sm" onclick="$('#GridTags').data('kendoGrid').addRow(); return false;" style="margin-bottom:5px;"><span class="glyphicon glyphicon-plus"></span>&nbsp;New Tag</a>
            @(Html.Kendo().Grid<TagGridViewModel>()
                .Name("GridTags")
                .HtmlAttributes(new { style = "width: 490px;" })
                .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} entries").Empty("No Entries Found")))
                .Columns(columns =>
                {
                    columns.Bound(m => m.HexColour).Title("Colour").ClientTemplate("<span class='label label-info' style='background-color: #=HexColour#'>    </span>").EditorTemplateName("ColourPicker").Width(50);
                    columns.Bound(m => m.Name);
                    columns.Command(command =>
                    {
                        command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn'/>").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn'/>").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn'/>");
                        command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn'/>");
                    }).Width(90);
                })
                .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this entry?"))
                .Sortable()
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(m => m.ID);
                        model.Field(m => m.HexColour).DefaultValue("#ffffff");
                    })
                    .Create(create => create.Action("Create", "TagGrid"))
                    .Read(read => read.Action("Read", "TagGrid")).PageSize(50)
                    .Update(update => update.Action("Update", "TagGrid"))
                    .Destroy(destroy => destroy.Action("Destroy", "TagGrid"))
                    .Events(events => events.RequestEnd("Grid_onRequestEnd"))
                )
                .Events(events => events.DataBound("KendoGridDatabound"))
            )
        </div>
    </div>
</div>
