﻿@model NuIngredient.Models.CompanyViewModel
@{
    ViewBag.Title = "Business";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success">
                    @ViewBag.SuccessMessage
                </div>
            }
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <strong>Error:</strong> @ViewBag.ErrorMessage
                </div>
            }
        </div>
        <div class="col-sm-12">
            <h1>Your Business Details</h1>
            <hr />
        </div>
        @using (Html.BeginForm("Business", "Settings", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="col-sm-6">            
                @Html.AntiForgeryToken()
                @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                @Html.HiddenFor(model => model.ID)                
                <input type="hidden" id="LogoImageURL" name="LogoImageURL" value="@Model.LogoImageURL" />
               
                <table style="width:100%">
                    <tr>
                        <td style="width:140px;"><label>Business Name:</label></td>
                        <td>@Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })</td>
                    </tr>
                    <tr>
                        <td><label>Motto:</label></td>
                        <td>@Html.TextBoxFor(model => model.Motto, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td><label>Address Line 1:</label></td>
                        <td>@Html.TextBoxFor(model => model.Address1, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td><label>Address Line 2:</label></td>
                        <td>@Html.TextBoxFor(model => model.Address2, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td><label>Address Line 3:</label></td>
                        <td>@Html.TextBoxFor(model => model.Address3, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td><label>Town:</label></td>
                        <td>@Html.TextBoxFor(model => model.Town, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td><label>Country:</label></td>
                        <td>@Html.TextBoxFor(model => model.Country, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td><label>Postcode:</label></td>
                        <td>@Html.TextBoxFor(model => model.Postcode, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td><label>Telephone:</label></td>
                        <td>@Html.TextBoxFor(model => model.Telephone, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td><label>Mobile:</label></td>
                        <td>@Html.TextBoxFor(model => model.Mobile, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td><label>Email:</label></td>
                        <td>@Html.TextBoxFor(model => model.Email, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td><label>Website:</label></td>
                        <td>@Html.TextBoxFor(model => model.Website, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td><label>VAT Number:</label></td>
                        <td>@Html.TextBoxFor(model => model.VatNumber, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td><label>Default VAT Rate %:</label></td>
                        <td>@Html.Kendo().NumericTextBoxFor(model => model.DefaultVatRate).Decimals(2)</td>
                    </tr>
                    <tr>
                        <td><label>Default Currency:</label></td>
                        <td>
                            @(Html.Kendo().DropDownListFor(model => model.DefaultCurrencyID)
                                .DataTextField("Name").DataValueField("ID")
                                .DataSource(source =>
                                {
                                    source.Read(read => { read.Action("DropDownCurrencies", "Dropdowns"); });
                                })
                                .Value(Model.DefaultCurrencyID.ToString())
                                .AutoBind(true)
                            )
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </table>                    
            </div>
            <div class="col-sm-6">
                <label>Company Logo:</label><br />
                @if (Model.LogoImageURL != null)
                {
                    <a id="productImage_link" class="fancybox-media" target="_blank" href="@Model.LogoImageURL" title="@Model.Name">
                        <img id="productImage" src="@Model.LogoImageURL" style="max-height:100px; max-width:500px" />
                    </a>
                    <br />
                    <br />
                    <input type="submit" name="Remove" value="Remove Logo" />
                }
                else
                {
                    <label>Upload Company Logo:</label><br />
                    <input id="logoImage" type="file" name="logoImage" accept="image/*" />
                    <span style="font-size:x-small">Max 5Mbs</span>
                    <hr />
                    <input type="submit" value="Save Business Details" class="btn btn-success" />
                }
            </div>
            <div class="col-sm-12">
                <hr />
                <input type="submit" value="Save Business Details" class="btn btn-success" />
            </div>
        }

        <div class="col-sm-12">
            <hr />
            <h2>Delivery Addresses</h2>
            <div>
                <a class="btn btn-info btn-sm" onclick="$('#GridAddresses').data('kendoGrid').addRow();" style="margin-bottom:5px;"><span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;Add New Address</a>
            </div>
            @(Html.Kendo().Grid<NuIngredient.Models.CompanyAddressViewModel>()
                .Name("GridAddresses")
                .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Addresses").Empty("No Addresses Added")))
                .Columns(columns =>
                {
                    columns.Bound(t => t.Name).Title("Business Name");
                    columns.Bound(t => t.Address1).Title("Address 1");
                    columns.Bound(t => t.Address2).Title("Address 2");
                    columns.Bound(t => t.Address3).Title("Address 3");
                    columns.Bound(t => t.Town).Title("Town");
                    columns.Bound(t => t.Postcode).Title("Postcode");
                    columns.Bound(t => t.Country).Title("Country");
                    columns.Bound(t => t.Telephone).Title("Telephone");
                    columns.Bound(t => t.Mobile).Title("Mobile");
                    columns.Bound(t => t.Email).Title("Email");
                    columns.Command(command =>
                    {
                        command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn'/>").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn'/>").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn'/>");
                        command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn'/>");
                    }
                    ).Width("90px");
                })
                .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this address?"))
                .Sortable()
                .DataSource(dataSource => dataSource
                    .Ajax()
                    //.Sort(sort => sort.Add("FirstName").Ascending()) // <-- initial sort expression
                    .Model(model =>
                    {
                        model.Id(t => t.ID);
                        model.Field(t => t.ID).Editable(false);
                        model.Field(t => t.CompanyID).Editable(false).DefaultValue(Model.ID);
                    })
                    .Create(create => create.Action("Create", "CompanyAddresses", new { companyID = Model.ID }))
                    .Read(read => read.Action("Read", "CompanyAddresses", new { companyID = Model.ID }))
                    .Update(update => update.Action("Update", "CompanyAddresses", new { companyID = Model.ID }))
                    .Destroy(destroy => destroy.Action("Destroy", "CompanyAddresses", new { companyID = Model.ID }))
                )
                .Events(events => events.DataBound("KendoGridDatabound"))
            )
        </div>
    </div>
</div>

<style>
    th, td {
        padding: 2px;       
    }

    .form-control{
        max-width:none;
        width:90%;
    }
</style>
