<section>
    <div class="container">                  
        <div class="row">
            <div class="col-xs-12" id="header-isle-banner">
                <h1 class="hidden-xs" style="color: #A3D45E">Get in touch</h1>
                <h2 class="hidden-xs" style="color: #A75F72">Call, email or pop in, we're always available.</h2>
				
				<h2 class="visible-xs" style="color: #A3D45E">Get in touch</h1>
                <h4 class="visible-xs" style="color: #A75F72">Call, email or pop in, we're always available.</h2>
            </div>                   
        </div>
        <div class="row" id="contact-map">
            <div class="col-xs-12" style="padding:0;">
                            <!-- google map to go here and replace this code -->
                <iframe width="100%"
			        height="345"
			        frameborder="0" style="border:0"
			        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB3qM2KofPOgsKMq7LOkoMjO_C7aAvKJ74&q=43+Church+Street,Great+Burstead" allowfullscreen></iframe>
                            <!-- ends google map -->
            </div>
        </div>
        <div class="row" id="contact-us-form">
            <div class="col-xs-12">
                <!-- contact form to go here and replace this code -->
                <?php echo do_shortcode('[contact-form-7 id="132" title="Contact form 1"]'); ?>
                <!-- ends contact form -->               
            </div>
        </div>   
    </div>   
</section>

<!-- <h3>Office-Groceries</h3>
<label>43 Church St</label><br />
<label>Billericay</label><br />
<label>CM11 2SX</label><br />
<label>T: 0845 463 8863</label><br />
<label>E: Orders@office-groceries.com</label><br />
<hr />
<iframe width="100%"
        height="345"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB3qM2KofPOgsKMq7LOkoMjO_C7aAvKJ74&q=43+Church+Street,Great+Burstead" allowfullscreen></iframe> -->