﻿@model List<NuIngredient.Models.CartItemsBySuppliers>
<h2 class="text-success text-center">Your Dry Goods Quote</h2>
@foreach (var cartItemsBySupplier in Model)
{
    <div class="bg-info p-2 mb-3">
        <div class="supplier-cart">
            <h3 class="text-center">@cartItemsBySupplier.Supplier.Label</h3>
            <input type="hidden" class="supplier-minimum-value" value="@cartItemsBySupplier.Supplier.MinimumValue" />
            <div class="table-responsive">
                <table id="Table_Cart" class="table table-bordered bg-white mb-0">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center w-50-px"></th>
                            <th scope="col" class="min-w-200-px">Product</th>
                            <th scope="col" class="text-center w-100-px">Price</th>
                            <th scope="col" class="text-center w-50-px">Qty</th>
                            <th scope="col" class="text-center w-100-px">Net</th>
                            <th scope="col" class="text-center w-100-px">VAT</th>
                            <th scope="col" class="text-center w-100-px">Gross</th>
                            <th scope="col" class="text-center w-50-px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cartItem in cartItemsBySupplier.CartItems)
                        {
                            <tr name="CartItem" data-productid="@cartItem.ProductID" data-price="@cartItem.ProductPrice" data-vat="@cartItem.ProductVAT">
                                <td><img name="Image" src="@cartItem.ImageURL" style="height: 50px; width: 50px;" /></td>
                                <td name="ProductName">
                                    @cartItem.ProductName
                                </td>
                                <td class="text-center" name="Price">@cartItem.ProductPrice.ToString("C")</td>
                                <td class="text-center">
                                    <div class="numeric-input">
                                        <span class="fa fa-caret-up numeric-up"></span>
                                        <input id="Qty_@cartItem.ProductID" class="form-control w-50-px text-center" type="number" placeholder="" min="0" data-productid=@cartItem.ProductID name="Qty" onchange="OnCartQtyChange(this)" value="@cartItem.Qty">
                                        <span class="fa fa-caret-down numeric-down"></span>
                                    </div>
                                </td>
                                <td class="text-center" name="ItemNet">
                                    @cartItem.TotalNet.ToString("C")
                                </td>
                                <td class="text-center" name="ItemVAT">
                                    @cartItem.TotalVAT.ToString("C")
                                </td>
                                <td class="text-center" name="ItemGross">
                                    @cartItem.TotalGross.ToString("C")
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-link" onclick=" $(this).closest('tr').remove(); RemoveFromCart('@cartItem.ProductID');"><span class="fas fa-trash-alt text-info"></span></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="row mt-2">
                <div class="col-12 col-sm-6">
                    @if (!string.IsNullOrEmpty(cartItemsBySupplier.Supplier.DefaultAisleName))
                    {
                        <a href="/Aisle/@cartItemsBySupplier.Supplier.DefaultAisleName#product-section" class="btn btn-success" onclick="$('.modal').modal('hide')" style="margin:5px 0 0 5px;">Continue Shopping</a>
                    }
                </div>
                <div class="col-12 col-sm-6 pt-3 pt-sm-0">
                    <table class="table w-auto ml-sm-auto">
                        <tr>
                            <th class="bg-secondary text-white">Sub Net:</th>
                            <td class="bg-white"><span name="SupplierNet">@cartItemsBySupplier.SubNet.ToString("C")</span></td>
                        </tr>
                        <tr>
                            <th class="bg-secondary text-white">Sub VAT:</th>
                            <td class="bg-white"><span name="SupplierVAT">@cartItemsBySupplier.SubVAT.ToString("C")</span></td>
                        </tr>
                        <tr>
                            <th class="bg-secondary text-white">Sub Gross:</th>
                            <td class="bg-white"><span name="SupplierGross">@cartItemsBySupplier.SubGross.ToString("C")</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

<div class="row p-2">
    <div class="col-12 col-sm-6"></div>
    <div class="col-12 col-sm-6 pt-3 pt-sm-0">
        <table class="table w-auto ml-sm-auto">
            <tr>
                <th class="bg-secondary text-white w-50">Net:</th>
                <td class="bg-white"><span name="CartNet" style="color:#6db444; font-size:larger; font-weight:900">@Model.Sum(x => x.SubNet).ToString("C")</span></td>
            </tr>
            <tr>
                <th class="bg-secondary text-white w-50">VAT:</th>
                <td class="bg-white"><span name="CartVAT" style="color:#6db444; font-size:larger; font-weight:900">@Model.Sum(x => x.SubVAT).ToString("C")</span></td>
            </tr>
            <tr>
                <th class="bg-secondary text-white w-50">Gross:</th>
                <td class="bg-white"><span name="CartGross" style="color:#6db444; font-size:larger; font-weight:900">@Model.Sum(x => x.SubGross).ToString("C")</span></td>
            </tr>
        </table>
    </div>
</div>