﻿@model List<NuIngredient.Models.FruitOrderViewModel>


<div class="fruit-order-area">
    <h2 class="text-success text-center">Your Fruit Quote</h2>
    <div class="bg-info p-2 mb-3">
        <div class="table-responsive">
            <table class="table table-weekly-quotes table-bordered bg-white mb-0">
                <thead>
                    <th scope="col" class="text-center w-50-px"></th>
                    <th scope="col">Product</th>
                    <th scope="col" class="text-center">Unit</th>
                    <th scope="col" class="w-70-px week-days text-center">Mon<span class="btn-clear-qty" title="Clear all day" onclick="ClearFruitQty('monday')">&times;</span></th>
                    <th scope="col" class="w-70-px week-days text-center">Tue<span class="btn-clear-qty" title="Clear all day" onclick="ClearFruitQty('tuesday')">&times;</span></th>
                    <th scope="col" class="w-70-px week-days text-center">Wed<span class="btn-clear-qty" title="Clear all day" onclick="ClearFruitQty('wednesday')">&times;</span></th>
                    <th scope="col" class="w-70-px week-days text-center">Thu<span class="btn-clear-qty" title="Clear all day" onclick="ClearFruitQty('thursday')">&times;</span></th>
                    <th scope="col" class="w-70-px week-days text-center">Fri<span class="btn-clear-qty" title="Clear all day" onclick="ClearFruitQty('friday')">&times;</span></th>
                    <th scope="col" class="w-70-px week-days text-center">Sat<span class="btn-clear-qty" title="Clear all day" onclick="ClearFruitQty('saturday')">&times;</span></th>
                    <th scope="col" class="w-100-px text-center">Cost</th>
                    <th scope="col" class="w-100-px text-center">Weekly Volume</th>
                    <th scope="col" class="w-100-px text-center">Weekly Total</th>
                    <th scope="col" class="w-50-px text-center"></th>
                </thead>
                <tbody>
                    @foreach (NuIngredient.Models.FruitOrderViewModel item in Model)
                    {
                        <tr class="order-products fruit" id="@item.ID" data-id="@item.ID" data-fruitid="@item.FruitID" data-price="@item.Price" data-vat="@item.VATRate" data-subtotal="@item.WeeklyTotal" data-volume="@item.WeeklyVolume">
                            <td><img name="Image" src="@item.ImageUrl" style="height: 50px; width: 50px;" /></td>
                            <td id="product-name">@item.ProductName</td>
                            <td class="text-center" id="product-unit">@item.Unit</td>
                            <td class="text-center">
                                <div class="numeric-input">
                                    <span class="fa fa-caret-up numeric-up"></span>
                                    <input type="number" min="0" id="@item.ID-monday-val" name="monday-val" class="form-control weekday-val w-50-px text-center" value="@(item.Monday != 0 ? item.Monday.ToString() : "")" onchange="GetFruitSubTotal('@item.ID')" />
                                    <span class="fa fa-caret-down numeric-down"></span>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="numeric-input">
                                    <span class="fa fa-caret-up numeric-up"></span>
                                    <input type="number" min="0" id="@item.ID-tuesday-val" name="tuesday-val" class="form-control weekday-val w-50-px text-center" value="@(item.Tuesday != 0 ? item.Tuesday.ToString() : "")" onchange="GetFruitSubTotal('@item.ID')" />
                                    <span class="fa fa-caret-down numeric-down"></span>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="numeric-input">
                                    <span class="fa fa-caret-up numeric-up"></span>
                                    <input type="number" min="0" id="@item.ID-wednesday-val" name="wednesday-val" class="form-control weekday-val w-50-px text-center" value="@(item.Wednesday != 0 ? item.Wednesday.ToString() : "")" onchange="GetFruitSubTotal('@item.ID')" />
                                    <span class="fa fa-caret-down numeric-down"></span>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="numeric-input">
                                    <span class="fa fa-caret-up numeric-up"></span>
                                    <input type="number" min="0" id="@item.ID-thursday-val" name="thursday-val" class="form-control weekday-val w-50-px text-center" value="@(item.Thursday != 0 ? item.Thursday.ToString() : "")" onchange="GetFruitSubTotal('@item.ID')" />
                                    <span class="fa fa-caret-down numeric-down"></span>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="numeric-input">
                                    <span class="fa fa-caret-up numeric-up"></span>
                                    <input type="number" min="0" id="@item.ID-friday-val" name="friday-val" class="form-control weekday-val w-50-px text-center" value="@(item.Friday != 0 ? item.Friday.ToString() : "")" onchange="GetFruitSubTotal('@item.ID')" />
                                    <span class="fa fa-caret-down numeric-down"></span>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="numeric-input">
                                    <span class="fa fa-caret-up numeric-up"></span>
                                    <input type="number" min="0" id="@item.ID-saturday-val" name="saturday-val" class="form-control weekday-val w-50-px text-center" value="@(item.Saturday != 0 ? item.Saturday.ToString() : "")" onchange="GetFruitSubTotal('@item.ID')" />
                                    <span class="fa fa-caret-down numeric-down"></span>
                                </div>
                            </td>
                            <td class="text-center" id="cost-per-prouct">@item.Price.ToString("C")</td>
                            <td class="text-center" id="product-quantity">@item.WeeklyVolume</td>
                            <td class="text-center" id="total-cost">@item.WeeklyTotal.ToString("C")</td>
                            <td class="text-center"><button type="button" class="btn btn-link"><i class="fas fa-trash-alt text-info" onclick="DeleteFruitRow('@item.ID'); return false;"></i></button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-12 col-sm-6">
            <a href="/office-fruit-basket-deliveries#product-section" class="btn btn-success" style="margin:5px 0 0 5px;" onclick="$('.modal').modal('hide')">Continue Shopping</a>
        </div>
        <div class="col-12 col-sm-6 pt-3 pt-sm-0">
            <table class="table w-auto ml-sm-auto">
                <tr>
                    <th class="bg-secondary text-white">Net:</th>
                    <td class="bg-white">
                        <span class="grand-total-price" style="color:#6db444; font-size:larger; font-weight:900">@Model.Sum(x => x.WeeklyTotal).ToString("C")</span>
                    </td>
                </tr>
                <tr>
                    <th class="bg-secondary text-white">VAT:</th>
                    <td class="bg-white">
                        <span class="grand-total-vat" style="color:#6db444; font-size:larger; font-weight:900">@Model.Sum(x => x.WeeklyTotal * x.VATRate).ToString("C")</span>
                    </td>
                </tr>
                <tr>
                    <th class="bg-secondary text-white">Gross:</th>
                    <td class="bg-white">
                        <span class="grand-total-gross" style="color:#6db444; font-size:larger; font-weight:900">@Model.Sum(x => x.WeeklyTotal + (x.WeeklyTotal*x.VATRate)).ToString("C")</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
