﻿@model NuIngredient.Models.QuoteCartViewModel

@if (Model.DryGoodsQuote.Any() || Model.MilkQuote.Any() || Model.FruitQuote.Any())
{
    if (Model.DryGoodsQuote.Any())
    {
        <div id="drygoods-quotes">
            @Html.Partial("_DryGoodsQuote", Model.DryGoodsQuote)
        </div>
    }
    if (Model.MilkQuote.Any())
    {
        <div id="milk-quotes">
            @Html.Partial("_MilkQuote", Model.MilkQuote)
        </div>
    }
    if (Model.FruitQuote.Any())
    {
        <div id="fruit-quotes">
            @Html.Partial("_FruitQuote", Model.FruitQuote)
        </div>
    }
    <div class="d-flex justify-content-between mt-3">
        <div id="send-quote-btn">
            <button type="button" class="btn btn-primary text-white rounded-0" onclick="ShowProspectForm()">Send Me My Quote</button>
        </div>
    </div>
}

else
{
    <div>
        <div class="bg-info p-2 mb-3">
            <div class="d-flex justify-content-center">
                <strong>No Content</strong>
            </div>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-primary text-white rounded-0" data-dismiss="modal">Continue Shopping</button>
            </div>
        </div>
    </div>
}
