﻿@model NuIngredient.Models.DashboardMilkOrderViewModel

<div class="row">
    <div class="col">
        <h3 class="text-success text-center mt-4 mb-3">Milk Orders This Week</h3>
        <div class="table-responsive bg-white">
            <table class="table table-bordered table-orders">
                <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Unit</th>
                        <th scope="col">Mon<br>(@DateTime.Today.Date.StartOfWeek(DayOfWeek.Monday).ToString("dd/MM"))</th>
                        <th scope="col">Tue<br>(@DateTime.Today.Date.StartOfWeek(DayOfWeek.Monday).AddDays(1).ToString("dd/MM"))</th>
                        <th scope="col">Wed<br>(@DateTime.Today.Date.StartOfWeek(DayOfWeek.Monday).AddDays(2).ToString("dd/MM"))</th>
                        <th scope="col">Thu<br>(@DateTime.Today.Date.StartOfWeek(DayOfWeek.Monday).AddDays(3).ToString("dd/MM"))</th>
                        <th scope="col">Fri<br>(@DateTime.Today.Date.StartOfWeek(DayOfWeek.Monday).AddDays(4).ToString("dd/MM"))</th>
                        <th scope="col">Sat<br>(@DateTime.Today.Date.StartOfWeek(DayOfWeek.Monday).AddDays(5).ToString("dd/MM"))</th>
                        <th scope="col">Cost</th>
                        <th scope="col">Weekly Volume</th>
                        <th scope="col">Weekly Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (NuIngredient.Models.MilkOrderViewModel item in Model.WeeklyOrder)
                    {
                        <tr>
                            <td>@item.ProductName</td>
                            <td>@item.Unit</td>
                            <td>@(item.Monday != 0 ? item.Monday.ToString() : "")</td>
                            <td>@(item.Tuesday != 0 ? item.Tuesday.ToString() : "")</td>
                            <td>@(item.Wednesday != 0 ? item.Wednesday.ToString() : "")</td>
                            <td>@(item.Thursday != 0 ? item.Thursday.ToString() : "")</td>
                            <td>@(item.Friday != 0 ? item.Friday.ToString() : "")</td>
                            <td>@(item.Saturday != 0 ? item.Saturday.ToString() : "")</td>
                            <td>@item.Price.ToString("C")</td>
                            <td>@item.WeeklyVolume</td>
                            <td>@item.WeeklyTotal.ToString("C")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>