<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Office Groceries — Dashboard</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->
  
  <link rel="canonical" href="http://wearepolarproofing.co.uk//dashboard.html">
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,500,600,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <body>
    <header>
      <div class="navbar-top navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar pt-0 pb-0 justify-content-between">
    <div class="navbar-top-left navbar-nav flex-row d-md-flex">
        <a class="nav-item nav-link" href="tel:03454638863">0345 463 8863</a>
        <a class="nav-item nav-link" href="mailto:Orders@office-groceries.com">Orders@office-groceries.com</a>
    </div>
    <div class="navbar-top-right navbar-nav flex-row d-flex align-items-center">
        <a class="nav-item nav-link" href="/faqs.html">FAQs</a>
        <a class="nav-item nav-link" href="">Process</a>
        <a class="nav-item nav-link" href="/about.html">About</a>
        <a class="nav-item nav-link" href="#">Testimonials</a>
        <a class="nav-item nav-link border-0" href="/login.html">Log in</a>
        <a class="btn btn-primary text-white pt-3 pl-2 pl-md-4 pb-3 pr-2 pr-md-4 rounded-0 border-0" href="/customer-enquiry.html" role="button">Enquire</a>
    </div>
</div>
      <div class="bg-success text-white p-2">
    <div class="nav justify-content-center p-1">
        <a class="nav-link text-white pt-0 pb-0" href="/dashboard.html">Dashboard</a>
        <a class="nav-link text-white border-left border-right border-primary pt-0 pb-0" href="/previous-orders.html">Previous Orders</a>
        <a class="nav-link text-white pt-0 pb-0" href="/settings.html">Settings</a>
    </div>
</div>
      <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

<nav class="main-nav navbar navbar-expand-lg navbar-light bg-light pt-3 pb-3">
    <a class="navbar-brand" href="/">
        <img src="/img/og-logo.svg" width="140" height="50" class="d-inline-block align-top" alt="" />
    </a>
    <a class="btn btn-light ml-auto mr-1 d-lg-none" id="mobile-cart-button" href="#" role="button"><img src="/img/cart-icon.svg" alt="" width="24" class="mr-1" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse main-navbar" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="/fresh-milk.html">Fresh Milk</a>
        <a class="nav-item nav-link" href="/fresh-fruit.html">Fruit Baskets</a>
        <a class="nav-item nav-link" href="/pantry.html">The Pantry</a>
        <a class="nav-item nav-link" href="/fresh-deli-bar.html">Fresh Deli Bar</a>
        <a class="nav-item nav-link" href="/eco-friendly-packaging.html">Eco Friendly Packaging</a>
        <a class="nav-item nav-link" href="/wine.html">Wine Bar</a>
        <a class="nav-item nav-link" href="/hospitality.html">Hospitality Equipment</a>
        <a class="nav-item nav-link" href="/coffee-machines.html">Coffee Machines</a>
        <div class="dropdown">
            <a class="nav-item nav-link border-0 dropdown-toggle" href="/" role="button" id="otherAislesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Other Aisles</a>
            <div class="dropdown-menu rounded-0" aria-labelledby="otherAislesDropdown">
                <a class="dropdown-item" href="#">Aisle Example 1</a>
                <a class="dropdown-item" href="#">Aisle Example 2</a>
                <a class="dropdown-item" href="#">Aisle Example 3</a>
            </div>
        </div>
    </div>
    <a class="btn btn-light ml-lg-auto d-none d-lg-block" href="#" role="button"><img src="/img/cart-icon.svg" alt="" width="24" class="mr-1" /> My Quote</a>
    </div>
</nav>
    </header>
    <main class="logged-in">
        <div class="bg-secondary text-white text-center pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Welcome to your dashboard.</h1>
            </div>
        </div>
    </div>
</div>

<div class="bg-white pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="bg-light p-3">
                    <div class="row">
                        <div class="col-12 col-md-8 col-lg-4 pb-md-4">
                            <div class="bg-secondary p-3">
                                <h4 class="text-white">Hello Polar Creative Studio</h4>
                                <hr>
                                <p class="text-white">Your account no: OG8464</p>
                                <a class="btn btn-primary btn-block rounded-0 text-white" href="#" role="button">Go To
                                    Fresh Milk Aisle</a>
                                <a class="btn btn-primary btn-block rounded-0 text-white" href="#" role="button">Go To
                                    Fresh Fruit Aisle</a>
                                <a class="btn btn-primary btn-block rounded-0 text-white" href="#" role="button">Go To
                                    Dry Goods Aisle</a>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-2 py-3 py-md-0">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="milkCheck">
                                <label class="form-check-label" for="milkCheck">
                                    Milk
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="drygoodsCheck">
                                <label class="form-check-label" for="drygoodsCheck">
                                    Dry Goods
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="otherCheck">
                                <label class="form-check-label" for="otherCheck">
                                    Other
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="fruitCheck">
                                <label class="form-check-label" for="fruitCheck">
                                    Fruit
                                </label>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <form>
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Please leave any feedback here" rows="5"></textarea>
                                </div>
                                <button type="submit" class="btn btn-success px-5 rounded-0">Submit</button>
                            </form>
                            <div class="d-flex justify-content-end">
                                <img src="/img/og-logo.svg" width="160" height="60" class="d-inline-block align-top mb-3 d-block" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h3 class="text-success text-center mt-4 mb-3">Milk Orders This Week</h3>
                            <div class="table-responsive bg-white">
                                <table class="table table-orders">
                                    <thead>
                                        <tr>
                                            <th class="border-0" scope="col">Product</th>
                                            <th class="border-0" scope="col">Unit</th>
                                            <th class="border-0" scope="col">Mon<br>(date)</th>
                                            <th class="border-0" scope="col">Tue<br>(date)</th>
                                            <th class="border-0" scope="col">Wed<br>(date)</th>
                                            <th class="border-0" scope="col">Thu<br>(date)</th>
                                            <th class="border-0" scope="col">Fri<br>(date)</th>
                                            <th class="border-0" scope="col">Sat<br>(date)</th>
                                            <th class="border-0" scope="col">Cost</th>
                                            <th class="border-0" scope="col">Weekly Volumn</th>
                                            <th class="border-0" scope="col">Weekly Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1 Litre Semi Skimmed Milk</td>
                                            <td class="bg-light">1 Litre</td>
                                            <td class="bg-light"></td>
                                            <td class="bg-light"></td>
                                            <td class="bg-light"></td>
                                            <td class="bg-light"></td>
                                            <td class="bg-light">105</td>
                                            <td class="bg-light">7</td>
                                            <td class="bg-light">£1.10</td>
                                            <td class="bg-light">112</td>
                                            <td class="bg-light">£123.20</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </main>
    <div class="bg-success text-white pt-5 pb-5">
    <div class="container">
        <div class="row justify-content-center">
            <h3 class="text-center mr-4 ml-4 mb-3 mb-md-0 align-self-center">Need any help? Drop us an email today...</h3>
            <a class="btn btn-primary btn-lg text-white rounded-0" href="#" role="button">Get In Touch</a>
        </div>
    </div>
</div>
    <nav class="footer-nav nav bg-light justify-content-center d-none d-md-flex pt-3 pb-3">
    <a class="nav-item nav-link" href="/fresh-milk.html">Fresh Milk</a>
    <a class="nav-item nav-link" href="/fresh-fruit.html">Fruit Baskets</a>
    <a class="nav-item nav-link" href="/pantry.html">The Pantry</a>
    <a class="nav-item nav-link" href="/fresh-deli-bar.html">Fresh Deli Bar</a>
    <a class="nav-item nav-link" href="/eco-friendly-packaging.html">Eco Friendly Packaging</a>
    <a class="nav-item nav-link" href="/wine.html">Wine Bar</a>
    <a class="nav-item nav-link" href="/hospitality.html">Hospitality Equipment</a>
    <a class="nav-item nav-link" href="/coffee-machines.html">Coffee Machines</a>
    <a class="nav-item nav-link border-0" href="#">Other Aisles</a>
</nav>
    <footer class="bg-secondary">
  <div class="container">
    <div class="row pt-5 pb-4">
      <div class="col-lg-3">
        <img src="/img/og-logo-light.svg" width="160" height="70" class="d-inline-block align-top" alt="">
      </div>
      <div class="col-lg-6">
        <nav class="nav justify-content-lg-center footer-contact pt-4">
          <a class="nav-link text-white pt-0 pr-4 pb-0 pl-0" href="tel:03454638863">0345 463 8863</a>
          <a class="nav-link text-white pt-0 pr-0 pb-0 pl-4" href="mailto:Orders@office-groceries.com">Orders@office-groceries.com</a>
        </nav>
      </div>
      <div class="col-lg-3">
        <ul class="nav justify-content-lg-end pt-3">
          <li class="nav-item">
            <a class="nav-item nav-link pt-2 pr-2 pb-2 pl-0" href="#"><img src="/img/twitter-icon.svg" width="32" alt=""></a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link p-2" href="#"><img src="/img/facebook-icon.svg" width="32" alt=""></a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link p-2" href="#"><img src="/img/linkedin-icon.svg" width="32" alt=""></a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link p-2" href="#"><img src="/img/instagram-icon.svg" width="32" alt=""></a>
          </li>
        </ul>
      </div>
    </div>
  
    <div class="row pb-4 footer-copyright">
      <div class="col">
        <p class="text-dark">
          &copy; 2019 Office Groceries. Privacy Policy. T+C | <a href="" class="text-dark">Contact</a> | <a href="" class="text-dark">Terms and Conditions</a> | <a href="" class="text-dark">Blog</a> | <a href="" class="text-dark">Privacy Policy</a> | <a href="" class="text-dark">Site map</a>
          <br>
          <small>Office-Groceries Ltd, 43 Church Street, Billericay, Essex, CM11 2SX. Company Reg: 09648027.</small>
        </p>
      </div>
    </div>
  </div>
</footer>

<!-- JS -->
<!-- <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script> -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
  </body>
</html>