@using Microsoft.AspNet.Identity
@model NuIngredient.Models.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
    var categories = new List<string>();
    if (Model.ActiveOnMilk) { categories.Add("Milk"); }
    if (Model.ActiveOnFruit) {categories.Add("Fruit/Snacks"); }
    if (Model.ActiveOnDryGoods) { categories.Add("Dry Goods"); }

    var aisles = ViewBag.Aisles as List<NuIngredient.Models.AisleViewModel>;
    var aisleNames = aisles.Select(x => x.Name).ToList();

}

<div class="bg-secondary text-white text-center pt-3 pb-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Hello @User.Identity.GetCompanyName()</h1>
                <h2>Welcome to your dashboard</h2>
            </div>
        </div>
    </div>
</div>

<div class="bg-white pt-1 pb-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="bg-light p-3">
                    <div class="row">
                        <div class="col-12 col-md-8 col-lg-4 pb-md-4">
                            <div class="bg-secondary p-3">
                                <h4 class="text-white">Hello @User.Identity.GetCompanyName()</h4>
                                <hr>
                                <p class="text-white">Your account no: @Model.AccountNo</p>
                                @if (aisleNames.Contains("Milk"))
                                {
                                    if (Model.ActiveOnMilk || Model.AskingForMilkSupplier)
                                    {
                                        <a class="btn btn-primary btn-block rounded-0 text-white" href="/office-milk-deliveries" role="button">Go To Fresh Milk Aisle</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-success btn-block rounded-0 text-white" href="/office-milk-deliveries" role="button">Activate Milk Aisle Today</a>
                                    }
                                }
                                @if (aisleNames.Contains("Fruit"))
                                {
                                    if (Model.ActiveOnFruit || Model.AskingForFruitSupplier)
                                    {
                                        <a class="btn btn-primary btn-block rounded-0 text-white" href="/office-fruit-basket-deliveries" role="button">Go To Fresh Fruit Aisle</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-success btn-block rounded-0 text-white" href="/office-fruit-basket-deliveries" role="button">Activate Fruit Aisle Today</a>
                                    }
                                }
                                @if (aisleNames.Contains("Dry Goods"))
                                {
                                    if (Model.ActiveOnDryGoods || Model.AskingForDryGoodsSupplier)
                                    {
                                        <a class="btn btn-primary btn-block rounded-0 text-white" href="/Aisle/@ViewBag.MainDryGoodsAisleName" role="button">Go To Pantry Aisle</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-success btn-block rounded-0 text-white" href="/Aisle/@ViewBag.MainDryGoodsAisleName" role="button">Activate Pantry Aisle Today</a>
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-2 py-3 py-md-0">
                            @if (Model.ActiveOnMilk)
                            {
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" value="@NuIngredient.Models.FeedbackTypeValues.Milk" name="FeedbackType" id="milkCheck" onclick = "ChangeFeedbackType()">
                                    <label class="form-check-label" for="milkCheck">
                                        Milk
                                    </label>
                                </div>
                            }
                            @if (Model.ActiveOnFruit)
                            {
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" value="@NuIngredient.Models.FeedbackTypeValues.Fruits" name="FeedbackType" id="fruitCheck" onclick = "ChangeFeedbackType()">
                                    <label class="form-check-label" for="fruitCheck">
                                        Fruit
                                    </label>
                                </div>
                            }
                            @if (Model.ActiveOnDryGoods)
                            {
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" value="@NuIngredient.Models.FeedbackTypeValues.DryGoods" name="FeedbackType" id="drygoodsCheck" onclick = "ChangeFeedbackType()">
                                    <label class="form-check-label" for="drygoodsCheck">
                                        Dry Goods
                                    </label>
                                </div>
                            }
                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="@NuIngredient.Models.FeedbackTypeValues.Others" name="FeedbackType" id="otherCheck" checked onclick = "ChangeFeedbackType()">
                                <label class="form-check-label" for="otherCheck">
                                    Other
                                </label>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <form>
                                <div class="form-group">
                                    <textarea id="Feedback" class="form-control" placeholder="Please leave any feedback here" rows="5"></textarea>
                                </div>
                                <button type="submit" class="btn btn-success px-5 rounded-0" onclick="SubmitFeedBack()">Submit</button>
                            </form>
                        </div>
                    </div>

                    @if (Model.ActiveOnMilk)
                    {
                        @Html.Action("_MilkOrderPanel")
                    }

                    @if (Model.ActiveOnFruit)
                    {
                        @Html.Action("_FruitOrderPanel")
                    }
                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-message" tabindex="-1" role="dialog" aria-labelledby="message" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-light rounded-0">
        <div class="modal-header">
        <h5 class="modal-title"><img src="/img/og-logo.svg" height="50" width="140" /></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary rounded-0" data-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>

<script>
    function SubmitFeedBack() {
        var message = $('#Feedback').val();
        var type = $('input[name="FeedbackType"]:checked').val();
        //var dryGoodsOrderID = $('#DropDownDryGoodsOrderNo').data('kendoDropDownList').value();

        if (message == "") {
            return alert("Please leave your feedback");
        }

        // if (type == '@NuIngredient.Models.FeedbackTypeValues.DryGoods')
        // {
        //     if (dryGoodsOrderID == "")
        //     {
        //         if (!confirm("You didn't select an order number, are you sure you want to send the feedback?"))
        //             return false;
        //     }
        // }

        $.ajax({
            url: '/Feedbacks/Feedback',
            type: 'POST',
            data: {
                message: message,
                type: type
                //dryGoodsOrderID: ""
            },
            success: function (response) {
                $('#Feedback').val('');
                alert(response.Message);
            },
            beforeSend: AjaxBegin,
            complete: AjaxComplete
        })
    }

    function ChangeFeedbackType() {
        var type = $('input[name="FeedbackType"]:checked').val();
        if (type == '@NuIngredient.Models.FeedbackTypeValues.DryGoods')
            $('#DryGoodsOrderSection').show();
        else
            $('#DryGoodsOrderSection').hide();
    }

    function AskForDryGoodsSupplier() {
        if (!confirm("Set up your dry goods account?")) return false;
        $.ajax({
            url: '/Companies/AskForDryGoodsSupplier',
            type: 'POST',
            success: function (response) {
                alert("Office Groceries are currently setting up your Dry Goods account.\nPlease allow up to 6 working days from initial enquiry for your account to be set up.\nOffice Groceries will e- mail you once ready and confirm your 1st delivery day.");
                location.reload();
            }
        })
    }
    $(document).ready(function () { 
        @if (!string.IsNullOrWhiteSpace(Model.Message))
        {
            <text>
                var content = $('<textarea />').html("@Model.Message").text();
                $('#modal-message .modal-body').html(content);
                $('#modal-message').modal('show');
            </text>
        }
    })
</script>