﻿@{
    ViewBag.Title = "Testimonials";
}

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-xs-12">
            <br />
        </div>
        <div class="col-xs-6">
            <a class="btn btn-primary" onclick="New(); return false;"><span class="fa fa-cube"></span>&nbsp;&nbsp;New Testimonial</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>
        <div id="divPager" class="col-sm-12">
             <div class="form-group" role="group" aria-label="...">
                <button class="btn btn-sm btn-default" onclick="Refresh();"><span class="glyphicon glyphicon-refresh" ></span>&nbsp; Refresh</button>&nbsp;
            </div>
        </div>
        <div class="col-sm-12">
            @(Html.Kendo().Grid<NuIngredient.Models.TestimonialGridViewModel>()
                .Name("GridTestimonials")
                .Pageable(p => p.PageSizes(new[] { 1000 }).Messages(m => m.Display("{0} - {1} of {2} Testimonials").Empty("No Aisles Found")))
                .Columns(columns =>
                {
                    columns.Bound(u => u.ID).ClientTemplate("<input type='checkbox' value='#=ID#' name='chk_grid'>").Width("1%").Hidden();
                    columns.Bound(u => u.Active).ClientTemplate("#if(Active){# <i class='glyphicon glyphicon-ok' /> #}#").HtmlAttributes(new { @class = "div-inline" });
                    columns.Bound(u => u.Quote).EditorTemplateName("TextAreaTemplate");
                    columns.Bound(u => u.FromName).Title("Name");
                    columns.Bound(u => u.FromTitle).Title("Title");
                    columns.Bound(u => u.FromCompany).Title("Company");
                    columns.Command(command =>
                    {
                        command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                        command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn'/>").HtmlAttributes(new { @class = "btn-delete-aisle"});
                    }).Width("90px");

                })
                .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this Aisle?"))
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(t => t.ID);
                        model.Field(m => m.Active).DefaultValue(true);
                    })
                    .Create(create => create.Action("Create", "TestimonialGrid")) //Add comment items to the quote
                    .Read(read => read.Action("Read", "TestimonialGrid")).PageSize(1000)
                    .Update(update => update.Action("Update", "TestimonialGrid"))
                    .Destroy(destory => destory.Action("Destroy", "TestimonialGrid"))
                )
                .Events(events => events.DataBound("KendoGridDatabound"))
            )
        </div>
    </div>
</div>

<style>
    .div-inline {         
        overflow: hidden;
        white-space: nowrap;
        text-align:center;
        align-items:center;
    }
</style>

<script>

    function New() {
        $('#GridTestimonials').data('kendoGrid').addRow();
    }

    function Refresh() {
        var grid = $("#GridTestimonials").data("kendoGrid");
        grid.dataSource.read();
    }

    $(".k-grid[id='GridTestimonials'] table").kendoSortable({
            connectWith: ".k-grid[id='GridTestimonials'] table",
            filter: ">tbody >tr:not('.k-grid-edit-row')",
            disabled: ".no-drag", //do not allow transferring the no records row
            hint: $.noop,
            cursor: "move",
            placeholder: function (element) {
                return element.clone().addClass("k-state-hover").css("opacity", 0.65);
            },
            change: function (e) { //change event handler implementation may differ according to the scenario

                try {
                    var element = this.element.closest(".k-grid[id='GridTestimonials']");
                    var grid = this.element.closest(".k-grid[id='GridTestimonials']").data("kendoGrid");
                    var dataItem = null; grid.dataSource.getByUid(e.item.data("uid"));

                    $('[id="GridTestimonials"]').each(function () {
                        if (dataItem == null)
                            dataItem = $(this).data('kendoGrid').dataSource.getByUid(e.item.data("uid"));
                    });

                    if (e.action == "receive" || e.action == "sort")
                        $.ajax({
                        url: '@Url.Action("_UpdatePositions", "TestimonialGrid")',
                            type: 'POST',
                            data: {
                                testimonialID: dataItem.ID,
                                oldIndex: e.oldIndex,
                                newindex: e.newIndex,
                            },
                            dataType: "json",
                            success: function (data) { Refresh(); }
                    });
                }
                catch (ex) { Refresh(); }
            },
            move: function(e) {
                console.log("move to index: " + this.indexOf(this.placeholder));
            }
        });
</script>



