﻿@model NuIngredient.Models.SupplierViewModel

<br />
<div style="box-sizing: initial;-webkit-box-sizing: initial;">
    @(Html.Kendo().Grid<NuIngredient.Models.SupplierAttachmentViewModel>()
    .Name("GridAttachments")
    .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Attachments").Empty("No Attachments Found")))
    .Columns(columns =>
    {
        columns.Bound(a => a.Format).Title("Format").ClientTemplate("<span class='label label-danger'>#=Format#</span>").Width("1%");
        columns.Bound(a => a.Filename).Title("Filename").ClientTemplate("<a class='fancybox-media' target='_blank' href='#=FilePath#' download='#=Filename#' title='#=Filename#' target='_blank'>#=Filename#</a>");
        columns.Command(command =>
            {
                command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn'/>").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn'/>").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn'/>");
                command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn'/>");
            }
        ).Width("90px");
    })
    .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this attachment?"))
    .Sortable()
    .DataSource(dataSource => dataSource
        .Ajax()
        //.Sort(sort => sort.Add("FirstName").Ascending()) // <-- initial sort expression
        .Model(model =>
        {
            model.Id(a => a.ID);
            model.Field(a => a.ID).Editable(false);
            model.Field(a => a.SupplierID).Editable(false);
            model.Field(a => a.Format).Editable(false);
            model.Field(a => a.FilePath).Editable(false);
        })
        .Read(read => read.Action("Read", "SupplierAttachments", new { supID = Model.ID }))
        .Update(update => update.Action("Update", "SupplierAttachments"))
        .Destroy(destroy => destroy.Action("Destroy", "SupplierAttachments"))
    )
    .Events(events => events.DataBound("KendoGridDatabound"))
    )

    <hr />
    <h5>Upload Files:</h5>
    @(Html.Kendo().Upload()
        .Name("files")
        .Async(a => a.Save("UploadSupplierAttachment", "SupplierAttachments", new { supID = Model.ID }))
        .ShowFileList(false)
        .Events(events => events.Complete("OnAttachmentUploadSuccess"))
    )
    <span style="font-size:x-small">Max 5Mbs</span>

    <hr />
    <h5>Add Link:</h5>
    @using (Ajax.BeginForm("LinkSupplierAttachment", "Suppliers ", new AjaxOptions { UpdateTargetId = "divAttachLink", OnSuccess = "OnLinkAttactmentAdded" }, FormMethod.Post))
    {

        @Html.Hidden("supID", Model.ID)

        <div class="input-group">
            @Html.TextBox("link", "", new { @id = "TB_AttachmentLink", @class = "form-control", @placeholder = "Enter URL here", @style = "max-width:none; width:100%; padding:1px 12px;" })
            <span class="input-group-btn">
                <input type="submit" value="Add Link" class="btn btn-xs btn-inverse">
            </span>
        </div>
    }
    <div id="divAttachLink">
    </div>

</div>


<br />
<br />
