﻿@model NuIngredient.Models.SupplierViewModel

<br />
<a class="btn btn-info btn-sm" onclick="$('#GridContacts').data('kendoGrid').addRow();" style="margin-bottom:5px;" ><span class="glyphicon glyphicon-user"></span>&nbsp;New Contact</a>

@(Html.Kendo().Grid<NuIngredient.Models.SupplierContactViewModel>()
    .Name("GridContacts")
    .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Contacts").Empty("No Contacts Found")))
    .Columns(columns =>
    {
        columns.Bound(p => p.Title).Title("Title");
        columns.Bound(p => p.FirstName).Title("First Name");
        columns.Bound(p => p.LastName).Title("Last Name");
        columns.Bound(p => p.Position).Title("Position");
        columns.Bound(p => p.Telephone).Title("Telephone");
        columns.Bound(p => p.Mobile).Title("Mobile");
        columns.Bound(p => p.Email).Title("Email");
        columns.Command(command =>
            {
                command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn'/>").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn'/>").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn'/>");
                command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn'/>");
            }
        ).Width("90px");
    })
    .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("SupplierContactViewModel").ConfirmDelete("Are you sure you want to delete this contact?"))
    .Sortable()
    .DataSource(dataSource => dataSource
        .Ajax()
        //.Sort(sort => sort.Add("FirstName").Ascending()) // <-- initial sort expression
        .Model(model => 
        {
            model.Id(t => t.ID);
            model.Field(t => t.ID).Editable(false);
            model.Field(t => t.SupplierID).Editable(false).DefaultValue(Model.ID);
        })
        .Create(create => create.Action("Create", "SupplierContacts", new { supID = Model.ID }))
        .Read(read => read.Action("Read", "SupplierContacts", new { supID = Model.ID }))
        .Update(update => update.Action("Update", "SupplierContacts"))
        .Destroy(destroy => destroy.Action("Destroy", "SupplierContacts"))
    )
    .Events(events => events.DataBound("KendoGridDatabound"))
)


<br />
<br />

