﻿@using NuIngredient.Models
@model NuIngredient.Models.SupplierViewModel

<div id="div_Body" >
    <div class="row">
        <div class="col-xs-9">
            <h2>Edit Supplier</h2>
        </div>
        <div class="col-xs-3">
            <br />
            <a class="btn btn-sm btn-default" onclick="HideViews()" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
        </div>
    </div>
    <div id="divSupplier" class="row" style="margin-top:15px;">
        @Html.Action("_EditSupplierDetails", new { ID = Model.ID })
    </div>

    <hr />
    @(Html.Kendo().TabStrip()
        .Name("SupplierTab")
        .Items(tabStrip =>
        {
            if (Model.SupplierType.ID == SupplierType.Milk.ToString() || Model.SupplierType.ID == SupplierType.Fruits.ToString() || Model.SupplierType.ID == SupplierType.Snacks.ToString())
            {
                tabStrip.Add().Text("Postcodes").Content(@Html.Partial("_TabSupplierPostcodes", Model).ToHtmlString()).Selected(true);
            }

            if (Model.SupplierType.ID == SupplierType.DryGoods.ToString())
            {
                tabStrip.Add().Text("Depots").Content(@Html.Partial("_TabSupplierDepots", Model).ToHtmlString()).Selected(true);
            }
            
            tabStrip.Add().Text("Customers").LoadContentFrom("_TabCustomers", "Suppliers", new { supplierID = Model.ID });
            
            if (Model.SupplierType.ID == SupplierType.Milk.ToString() || Model.SupplierType.ID == SupplierType.Fruits.ToString() || Model.SupplierType.ID == SupplierType.Snacks.ToString())
            {
                tabStrip.Add().Text("Holidays").LoadContentFrom("_TabSupplierHolidays", "Suppliers", new { supplierID = Model.ID });
                tabStrip.Add().Text("Open Days").LoadContentFrom("_TabSupplierOpenDays", "Suppliers", new { supplierID = Model.ID });
            }
            
            if (Model.DailyEmailReminderEnabled)
            {
                if (Model.SupplierType.ID == SupplierType.Milk.ToString())
                {
                    tabStrip.Add().Text("Supplier Product Codes").LoadContentFrom("_TabSupplierMilkProductCodes", "Suppliers", new { supplierID = Model.ID });
                }
                else if (Model.SupplierType.ID == SupplierType.Fruits.ToString() ||
                         Model.SupplierType.ID == SupplierType.Snacks.ToString())
                {
                    tabStrip.Add().Text("Supplier Product Codes").LoadContentFrom("_TabSupplierFruitProductCodes", "Suppliers", new { supplierID = Model.ID });
                }
            }
        })
    )
</div>
