﻿@using NuIngredient.Models
@model NuIngredient.Models.SupplierViewModel

<script>

        function ChangeSupplierInfo() {
            var type = $('#SupplierType_ID').data('kendoDropDownList').value();
            var useMasterAccount = $('#UseMasterAccount').is(':checked');
            console.log(type);
            console.log(useMasterAccount);
            if (type == 'DryGoods') {
                $('#tr-use-master-account').show();
                if (useMasterAccount == false) {
                    $('#tr-request-account-email').show();
                } else {
                    $('#RequestCenterEmail').val('')
                    $('#tr-request-account-email').hide();
                }
            } else {
                // clear and hide 'use master account'
                $('#UseMasterAccount').prop('checked', false);
                $('#tr-use-master-account').hide();

                $('#RequestCenterEmail').val('')
                $('#tr-request-account-email').hide();
            }
        }
        
        function SendWeeklyReminder() {
            if (!confirm('Are you sure you want to send weekly reminder for next week to this supplier now?'))
                return;
            
            $.ajax({
                url: '/Suppliers/SendWeeklyReminder',
                type: 'POST',
                data: { supplierID: '@Model.ID' },
                success: function () {
                    alert('Sent');
                }
            })
        }
        
        function SendDailyReminder() {
            if (!confirm('Are you sure you want to send daily reminder for next 7 days to this supplier now?'))
                return;
            
            $.ajax({
                url: '/Suppliers/SendDailyReminder',
                type: 'POST',
                data: { supplierID: '@Model.ID' },
                success: function (response) {
                    alert(response);
                }
            })
        }
</script>

@using (Ajax.BeginForm("_EditSupplierDetails", "Suppliers", new AjaxOptions { UpdateTargetId = "divSupplier"}, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    //@Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.SupplierType.ID)
    @Html.HiddenFor(model => model.UseMasterAccount)

        <div class="col-sm-12">
            <table style="width: 100%;">
                <tr>
                    <td style="width:200px;"><label>Type:</label></td>
                    <td>
                        @(Html.Kendo().DropDownListFor(model => model.SupplierType.ID)
                                    .Name("Diable_SupplierType_ID")
                                    .DataTextField("Name")
                                    .DataValueField("ID")
                                    .Events(e => e.Change("ChangeSupplierInfo"))
                                    .OptionLabel("Select Supplier Type")
                                    .BindTo(Enum.GetNames(typeof(SupplierType))
                                                .Select(x => new SelectItemViewModel() { ID = x, Name = x })
                                                .ToList()
                                    )
                                    .AutoBind(true)
                                    .Enable(false)
                                    .HtmlAttributes(new { @style = "width:100%; max-width:280px;" })
                        )
                        @Html.ValidationMessageFor(model => model.SupplierType.ID, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td><label>Name:</label></td>
                    <td>
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @style="max-width: 500px;" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td><label>Label:</label></td>
                    <td>@Html.TextBoxFor(model => model.Label, new { @class = "form-control", @style="max-width: 500px;" })</td>
                </tr>
                <tr>
                    <td><label>Email (Primary):</label></td>
                    <td>
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @style="max-width: 500px;" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td><label>Email (For Amendments):</label></td>
                    <td>
                        @Html.TextBoxFor(model => model.SecondaryEmail, new { @class = "form-control", @style="max-width: 500px;" })
                        <i>* Leave this blank and the system will use the main email</i>
                        @Html.ValidationMessageFor(model => model.SecondaryEmail, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td><label>Telephone:</label></td>
                    <td>@Html.TextBoxFor(model => model.Telephone, new { @class = "form-control", @style="max-width: 500px;" })</td>
                </tr>
                <tr>
                    <td><label>Minimum Value:</label></td>
                    <td>@Html.Kendo().NumericTextBoxFor(model => model.MinimumValue)</td>
                </tr>
                @if (Model.SupplierType.ID == SupplierType.DryGoods.ToString())
                {
                    <tr id="tr-use-master-account">
                        <td><label>Use Master Account:</label></td>
                        <td>@Html.Kendo().CheckBoxFor(model => model.UseMasterAccount).Name("Disable_UseMasterAccount").HtmlAttributes(new { onclick = "ChangeSupplierInfo()" }).Enable(false)</td>
                    </tr>
                    <tr>
                        <td><label>Event Details Needed:</label></td>
                        <td>@Html.Kendo().CheckBoxFor(model => model.CalendarNeeded).HtmlAttributes(new { @class = "form-control" })</td>
                    </tr>
                }
                @if (Model.SupplierType.ID == SupplierType.DryGoods.ToString() && Model.UseMasterAccount == false)
                {
                    <tr id="tr-request-account-email">
                        <td><label>Request Account Email:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.RequestCenterEmail, new { @class = "form-control", @style="max-width: 500px;" })
                            @Html.ValidationMessageFor(model => model.RequestCenterEmail, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                }

                @if (Model.SupplierType.ID == SupplierType.Milk.ToString() || Model.SupplierType.ID == SupplierType.Fruits.ToString() || Model.SupplierType.ID == SupplierType.Snacks.ToString())
                {
                    <tr><td><br /></td></tr>
                    <tr>
                        <td colspan="100%">@Html.Kendo().CheckBoxFor(model => model.EmailGoStraight).Label("Send Email Straight to This Supplier If the Postcode Matches")</td>
                    </tr>
                }

                @if (Model.SupplierType.ID == SupplierType.Milk.ToString() || Model.SupplierType.ID == SupplierType.Fruits.ToString() || Model.SupplierType.ID == SupplierType.Snacks.ToString())
                {
                    <tr>
                        <td colspan="100%">
                            @Html.Kendo().CheckBoxFor(model => model.WeeklyEmailReminderEnabled).Label("Automatically Send Weekly Order Reminder Every Week")
                            @if (Model.WeeklyEmailReminderEnabled)
                            {
                                
                                @Html.Kendo().DropDownListFor(m => m.WeeklyReminderDay).BindTo(new List<SelectListItem>
                                {
                                    new SelectListItem() { Text = "Thursday", Value = "4" },
                                    new SelectListItem() { Text = "Friday", Value = "5" },
                                }).HtmlAttributes(new {style="width:100px;"})
                            
                                @Html.Kendo().DropDownListFor(m => m.WeeklyReminderHourSetting).BindTo(new List<SelectListItem>
                                {
                                    new SelectListItem() { Text = "11:00", Value = "1100" },
                                    new SelectListItem() { Text = "11:30", Value = "1130" },
                                    new SelectListItem() { Text = "12:00", Value = "1200" },
                                    new SelectListItem() { Text = "12:30", Value = "1230" },
                                    new SelectListItem() { Text = "13:00", Value = "1300" },
                                    new SelectListItem() { Text = "13:30", Value = "1330" },
                                    new SelectListItem() { Text = "14:00", Value = "1400" },
                                    new SelectListItem() { Text = "14:30", Value = "1430" },
                                    new SelectListItem() { Text = "15:00", Value = "1500" },
                                    new SelectListItem() { Text = "15:30", Value = "1530" },
                                }).HtmlAttributes(new {style="width:100px;"})
                            
                                <div class="btn btn-xs btn-warning" onclick="SendWeeklyReminder()">Send Now</div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td colspan="100%">
                            @Html.Kendo().CheckBoxFor(model => model.DailyEmailReminderEnabled).Label("Automatically Send Daily Order Reminder")
                            @if (Model.DailyEmailReminderEnabled)
                            {
                                <div class="btn btn-xs btn-warning" onclick="SendDailyReminder()">Send Now</div>
                            }
                        </td>
                    </tr>
                }

            </table>
        </div>
        
        <div class="col-sm-12">
            <br />
            <input type="submit" value="Save details" class="btn btn-inverse" />
            @if (Model.SupplierType.ID == SupplierType.Milk.ToString() ||
                 Model.SupplierType.ID == SupplierType.Fruits.ToString() ||
                 Model.SupplierType.ID == SupplierType.Snacks.ToString())
            {
                <div class="btn btn-default pull-right" data-toggle='modal' data-target='#Modal' onclick="rescheduleOrderPopup()">Reschedule Order</div>
            }
            @if (ViewBag.Saved != null)
            {
                <label id="l_Saved"><strong>Details Saved!</strong></label>
                            <script>
                                setTimeout(function () { $("#l_Saved").fadeOut(); }, 2000);
                            </script>
            }
        </div>
}

<style>
    #div_Body table tr th, #div_Body table tr td {
        padding: 2px;
    }

    #div_Body table {
        width: 100%;
    }
</style>


<script>
    function rescheduleOrderPopup() {
        $('#Modal .modal-title').html("Reschedule Order");
        $('#Modal .modal-dialog').css("width", "550px");
        $.ajax({
            url: '/Suppliers/_ReschedulePopup',
            type: 'GET',
            data: {
                supplierId: '@Model.ID'
            },
            success: function (response) {
                $('#Modal .modal-body').html(response);
            }
        })
    }
</script>
