﻿@using NuIngredient.Models
@model NuIngredient.Models.SupplierViewModel

<div id="divNewOrg" style="margin:15px;">

    <script>
            function OnSuccess(response) {
                //Call function from Index view
                if (response.ID != null) {
                    CreatedSupplier(response["ID"]);
                }
            }

            function ChangeSupplierInfo() {
                var type = $('#SupplierType_ID').data('kendoDropDownList').value();
                var useMasterAccount = $('#UseMasterAccount').is(':checked');
                console.log(type);
                console.log(useMasterAccount);
                if (type == 'DryGoods') {
                    $('#tr-use-master-account').show();
                    $('#tr-event-details-needed').show();
                    if (useMasterAccount == false) {
                        $('#tr-request-account-email').show();
                    } else {
                        $('#RequestCenterEmail').val('')
                        $('#tr-request-account-email').hide();
                    }
                } else {
                    // clear and hide 'use master account'
                    $('#UseMasterAccount').prop('checked', false);
                    $('#tr-use-master-account').hide();
                    $('#tr-event-details-needed').hide();

                    $('#RequestCenterEmail').val('')
                    $('#tr-request-account-email').hide();
                }
            }
    </script>

    @using (Ajax.BeginForm("_NewSupplier", "Suppliers", new AjaxOptions { UpdateTargetId = "divNewOrg", OnSuccess = "OnSuccess" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        //@Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div id="div_Body"  class="row">
            <div class="col-xs-9">
                <h2>New Supplier</h2>
            </div>
            <div class="col-xs-3">
                <br />
                <a class="btn btn-sm btn-default" onclick="HideViews()" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
            </div>
            <div class="col-sm-12">
                <br />
            </div>
            
            <div class="col-sm-12">
                <table style="width: 100%;">
                    <tr>
                        <td style="width:150px;"><label>Type:</label></td>
                        <td>
                            @(Html.Kendo().DropDownListFor(model => model.SupplierType.ID)
                                        .DataTextField("Name")
                                        .DataValueField("ID")
                                        .Events(e => e.Change("ChangeSupplierInfo"))
                                        .OptionLabel("Select Supplier Type")
                                        .BindTo(Enum.GetNames(typeof(SupplierType))
                                                    .Select(x => new SelectItemViewModel() { ID = x, Name = x })
                                                    .ToList()
                                        )
                                        .AutoBind(true)
                                        .HtmlAttributes(new { @style = "width:100%; max-width:280px;" })
                            )
                            @Html.ValidationMessageFor(model => model.SupplierType.ID, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>Name:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>Label:</label></td>
                        <td>@Html.TextBoxFor(model => model.Label, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td><label>Email:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>Telephone:</label></td>
                        <td>@Html.TextBoxFor(model => model.Telephone, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td><label>Minimum Value:</label></td>
                        <td>@Html.Kendo().NumericTextBoxFor(model => model.MinimumValue)</td>
                    </tr>
                    <tr id="tr-use-master-account">
                        <td><label>Use Master Account:</label></td>
                        <td>@Html.Kendo().CheckBoxFor(model => model.UseMasterAccount).HtmlAttributes( new { @class = "form-control", onclick= "ChangeSupplierInfo()" })</td>
                    </tr>
                    <tr id="tr-event-details-needed">
                        <td><label>Event Details Needed:</label></td>
                        <td>@Html.Kendo().CheckBoxFor(model => model.CalendarNeeded).HtmlAttributes(new { @class = "form-control" })</td>
                    </tr>
                    <tr id="tr-request-account-email">
                        <td><label>Request Account Email:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.RequestCenterEmail, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RequestCenterEmail, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                </table>
            </div>
            
            <div class="col-sm-12">
                <br /><br />
                <input type="submit" value="Add Supplier" class="btn btn-inverse" />
            </div>
        </div>
    }

    <style>
        #div_Body table tr th, #div_Body table tr td {
            padding: 2px;
        }

        #div_Body table {
            width: 100%;
        }
    </style>

</div>