﻿@model NuIngredient.Models.RescheduleOrderVm

<script>
    function OnRescheduleSuccess(response) {
        alert("Order rescheduled successfully.");
    }
    
    function OnRescheduleFailure(response) {
        alert("Failed to reschedule order.");
    }

</script>


<div id="divReschedule">
    @using (Ajax.BeginForm("Reschedule", "Suppliers", null, new AjaxOptions { UpdateTargetId = "divPoResult", OnSuccess = "OnRescheduleSuccess", OnFailure = "OnRescheduleFailure", OnBegin = "AjaxBegin", OnComplete = "AjaxComplete" }, new { id = "RescheduleForm", method = "post" }))
    {
        <div class="row">
            <div class="col-sm-12">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.SupplierId)
                <table style="width:100%;">
                    <tr>
                        <td>
                            <label>From:</label>
                        </td>
                        <td>
                            @(Html.Kendo().DatePickerFor(model => model.OldDate)
                                .HtmlAttributes(new { @style = "width:100%;" })
                            )
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>To:</label>
                        </td>
                        <td>
                            @(Html.Kendo().DatePickerFor(model => model.NewDate)
                                .Min(DateTime.Now.AddDays(1))
                                .HtmlAttributes(new { @style = "width:100%;" })
                            )
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Policy:</label>
                        </td>
                        <td>
                            @(Html.Kendo().DropDownListFor(model => model.Policy)
                                .Name("Policy")
                                .Value(Model.Policy.ToString())
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .OptionLabel("Select Policy")
                                .BindTo(new List<SelectListItem>()
                                {
                                    new SelectListItem(){ Text = "Add To Existing", Value = NuIngredient.Models.OrderReschedulePolicy.AddToExisting.ToString() },
                                    new SelectListItem(){ Text = "Replace Existing", Value = NuIngredient.Models.OrderReschedulePolicy.ReplaceExisting.ToString() }
                                })
                                .HtmlAttributes(new { @style = "width:100%;" })
                            )
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-12">
                <input type="submit" value="Reschedule" class="btn btn-inverse pull-right">
            </div>
        </div>
    }
</div>
<style>
    #divReschedule td {
        padding: 5px;
    }
</style>