﻿@model NuIngredient.Models.SupplierViewModel


<br />        
<a class="btn btn-info btn-sm" onclick="$('#GridSupplierProducts').data('kendoGrid').addRow(); return false;" style="margin-bottom:5px;"><span class="glyphicon glyphicon-tag"></span>&nbsp;Add New Product</a>

@(Html.Kendo().Grid<NuIngredient.Models.SupplierProductViewModel>()
    .Name("GridSupplierProducts")
    .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Costs").Empty("No Products Entered")))
    .Columns(columns =>
    {
        columns.Bound(p => p.Product).ClientTemplate("#=Product.Name#").EditorTemplateName("ProductItemDropDown");
        //columns.Bound(p => p.Cost).Title("Cost").Format("{0:#,##0.#0}").Width("10%");
        //columns.Bound(p => p.Currency).ClientTemplate("#=Currency.Name#").EditorTemplateName("CurrencyCostDropDown").Width("10%");
        columns.Command(command =>
            {
                command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn'/>").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn'/>").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn'/>");
                command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn'/>");
            }
        ).Width("90px");
    })
    .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this cost?"))
    .Sortable()
    .DataSource(dataSource => dataSource
        .Ajax()
        //.Sort(sort => sort.Add("FirstName").Ascending()) // <-- initial sort expression
        .Model(model =>
        {
            model.Id(t => t.ID);
            model.Field(t => t.ID).Editable(false);
            model.Field(t => t.Supplier).Editable(false).DefaultValue(new NuIngredient.Models.SelectItemViewModel { ID = Model.ID, Name = Model.Name });
            model.Field(t => t.Product).Editable(true).DefaultValue(new NuIngredient.Models.SelectItemViewModel { ID = "", Name = "" });
            //model.Field(t => t.Currency).DefaultValue(new NuIngredient.Models.SelectItemViewModel { ID = "1", Name = "GBP" });
        })
        .Create(create => create.Action("Create", "SupplierProducts", new { supID = Model.ID }))
        .Read(read => read.Action("ReadSuppliers", "SupplierProducts", new { supID = Model.ID }))
        .Update(update => update.Action("Update", "SupplierProducts"))
        .Destroy(destroy => destroy.Action("Destroy", "SupplierProducts"))
    )
    .Events(events => events.DataBound("KendoGridDatabound"))
)



<br />
<br />
<br />