﻿@model NuIngredient.Models.SupplierViewModel

<div class="row" style="max-width:100%;">
    <div class="col-xs-12">
        <div class="btn btn-xs btn-info" style="margin-bottom: 5px;" onclick="$('#GridSupplierDepot').data('kendoGrid').addRow();">Add Depot</div>
        @(Html.Kendo().Grid<NuIngredient.Models.SupplierDepotGridViewModel>()
            .Name("GridSupplierDepot")
            .Columns(columns =>
            {
                columns.Bound(f => f.ID).Hidden();
                columns.Bound(f => f.Name);
                columns.Bound(f => f.Email);
                columns.Bound(f => f.Telephone);
                columns.Command(command => {
                    command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                    // command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn'/>");
                }).Width("90px");
            })
            .Editable(editable => editable.Mode(GridEditMode.InLine).DisplayDeleteConfirmation("Remove?"))
            .Sortable()
            .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(m => m.ID);
                        model.Field(m => m.SupplierID).DefaultValue(Model.ID);
                    })
                    .Sort(sort => sort.Add("Name").Ascending())
                    .Create(create => create.Action("Create", "SupplierDepotGrid"))
                    .Update(update => update.Action("Update", "SupplierDepotGrid"))
                    .Read(read => read.Action("Read", "SupplierDepotGrid", new {supplierID = Model.ID}))
                    // .Destroy(destroy => destroy.Action("Destroy", "SupplierDepotGrid"))
            )
            .Pageable(p => p.PageSizes(new[] { 10, 20, 50 }).Messages(m => m.Display("{0} - {1} of {2} Depots").Empty("No Depots")))
            .Events(events => events.DataBound("KendoGridDatabound"))
        )
    </div>
</div>
