﻿@using NuIngredient.Models
@model NuIngredient.Models.SupplierViewModel

<div class="row" style="max-width:100%;">
    <div class="col-xs-12">
        <div class="btn btn-xs btn-info" style="margin-bottom: 5px;" onclick="emailJs.newEmail('@Model.ID', '@EmailType.SupplierCustomers')">Email to All Customers</div>
        @(Html.Kendo().Grid<NuIngredient.Models.CompanySupplierGridViewModel>()
            .Name("GridSupplierCustomers")
            .Columns(columns =>
            {
                columns.Bound(f => f.CompanyName).Title("Customer");
                columns.Bound(f => f.CompanyPostcode).Title("Postcode");
                columns.Bound(f => f.StartDate).Format("{0:dd-MM-yy}").Title("Start From");
            })
            .Sortable()
            .DataSource(dataSource => dataSource
                    .Ajax()
                .ServerOperation(false)
                    .Sort(sort => sort.Add("CompanyName").Ascending())
                    .Read(read => read.Action("ReadSupplierCustomers", "Suppliers", new {supplierID = Model.ID}))
            )
            .Pageable(p => p.PageSizes(new[] { 10, 20, 50 }).Messages(m => m.Display("{0} - {1} of {2} Customers").Empty("No data")))
            .Events(events => events.DataBound("KendoGridDatabound"))
        )
    </div>
</div>
