﻿@using NuIngredient.Models
@model NuIngredient.Models.SupplierViewModel

<script>
    function Grid_onRequestEnd(e) {
        if (e.type !== "read") {
            e.sender.read();
        }
    }
</script>

<div class="row" style="max-width:100%;">
    <div class="col-xs-12">
        <a class="btn btn-info btn-sm" onclick="$('#GridSupplierOpenDays').data('kendoGrid').addRow(); return false;" style="margin-bottom:5px;"><span class="glyphicon glyphicon-plus"></span>&nbsp;New</a>
        @(Html.Kendo().Grid<SupplierOpenDayGridViewModel>()
            .Name("GridSupplierOpenDays")
            .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} entries").Empty("No Entries Found")))
            .Columns(columns =>
            {
                columns.Bound(m => m.Date).Title("Date").Format("{0:dd/MM/yyyy}").Width(1);
                columns.Bound(m => m.Description);
                columns.Command(command =>
                {
                    command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn'/>").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn'/>").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn'/>");
                    command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn'/>");
                }).Width(90);
            })
            .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this entry?"))
            .Sortable()
            .DataSource(dataSource => dataSource
                .Ajax()
                .Model(model =>
                {
                    model.Id(m => m.ID);
                    model.Field(m => m.SupplierID).DefaultValue(Model.ID);
                })
                .Create(create => create.Action("Create", "SupplierOpenDayGrid"))
                .Read(read => read.Action("Read", "SupplierOpenDayGrid", new { supplierID = Model.ID })).PageSize(50).Sort(sort => sort.Add("Date").Descending())
                .Update(update => update.Action("Update", "SupplierOpenDayGrid"))
                .Destroy(destroy => destroy.Action("Destroy", "SupplierOpenDayGrid"))
                .Events(events => events.RequestEnd("Grid_onRequestEnd"))
            )
            .Events(events => events.DataBound("KendoGridDatabound"))
        )
    </div>
</div>
