﻿@using NuIngredient.Models
@model NuIngredient.Models.SupplierViewModel

<script>
    function addAllMissing() {
        if (!confirm('Are you sure you want to add all missing products?'))
            return;

        $.ajax({
            url: '/Suppliers/AddAllMissingMilkProducts',
            type: 'POST',
            data: { supplierID: '@Model.ID' },
            success: function () {
                $('#GridSupplierMilkProductCodes').data('kendoGrid').dataSource.read();
            }
        })
    }
</script>

<div class="row" style="max-width:100%;">
    <div class="col-xs-12">
        <div class="btn btn-xs btn-info" style="margin-bottom: 5px;" onclick="$('#GridSupplierMilkProductCodes').data('kendoGrid').addRow();">Add New</div>
        <div class="btn btn-xs btn-warning" style="margin-bottom: 5px;" onclick="addAllMissing()">Add All Missing Products</div>
        @(Html.Kendo().Grid<NuIngredient.Models.SupplierMilkProductCodeGridViewModel>()
            .Name("GridSupplierMilkProductCodes")
            .Columns(columns =>
            {
                columns.Bound(f => f.ID).Hidden();
                columns.Bound(f => f.Product).ClientTemplate("#=Product.Name#").EditorTemplateName("MilkProductItemDropDown");
                columns.Bound(f => f.Code).Width("50%");
                columns.Command(command => {
                    command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                    command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn'/>");
                }).Width("90px");
            })
            .Editable(editable => editable.Mode(GridEditMode.InLine).DisplayDeleteConfirmation("Remove?"))
            .Sortable()
            .DataSource(dataSource => dataSource
                .Ajax()
                .Model(model =>
                {
                    model.Id(m => m.ID);
                    model.Field(m => m.Product).DefaultValue(new SelectItemViewModel(null, null));
                    model.Field(m => m.Supplier).DefaultValue(new SelectItemViewModel(Model.ID, null));
                })
                .Create(create => create.Action("Create", "SupplierMilkProductCodeGrid"))
                .Update(update => update.Action("Update", "SupplierMilkProductCodeGrid"))
                .Read(read => read.Action("Read", "SupplierMilkProductCodeGrid", new {supplierID = Model.ID}))
                .Destroy(destroy => destroy.Action("Destroy", "SupplierMilkProductCodeGrid"))
            )
            .Pageable(p => p.PageSizes(new[] { 10, 20, 50 }).Messages(m => m.Display("{0} - {1} of {2} Code").Empty("No Codes")))
            .Events(events => events.DataBound("KendoGridDatabound"))
            )
    </div>
</div>

