﻿@using NuIngredient.Models

@{
    ViewBag.Title = "Suppliers";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>Suppliers</h1>
        </div>
        <div class="col-sm-6">
            <br />
        </div>
        <div class="col-sm-12">
            <br />
        </div>
        <div class="col-xs-6">
            <a class="btn btn-inverse" onclick="NewSupplier()" ><span class="glyphicon glyphicon-home"></span>&nbsp;New Supplier</a>&nbsp;
        </div>
        <div class="col-xs-2">
            @*@(Html.Kendo().DropDownList()
                        .Name("DD_Types")
                        .DataTextField("Name")
                        .DataValueField("ID")
                        .Events(e => e.Change("Refresh"))
                        .OptionLabel("All Types")
                        .BindTo(Enum.GetNames(typeof(SupplierType))
                                    .Select(x => new SelectItemViewModel() { ID = x, Name = x })
                                    .ToList()
                        )
                        .AutoBind(true)
                        .Value("")
                        .HtmlAttributes(new { style = "width: 100%" })
                        .NoDataTemplate("No types defined")
            )*@
        </div>
        
        <div class="col-xs-4">
            <div class="input-group">
                @Html.TextBox("TB_FilterText", null, new { @class = "form-control", @style = "width:50%;", @placeholder = "Search by Supplier Name" })
                @Html.TextBox("TB_Postcode", null, new {@class = "form-control", @style = "width:50%;", @placeholder = "Search by Postcode"})
                <span class="input-group-btn">
                    <a class="btn btn-default" onclick="Refresh()"><span class="glyphicon glyphicon-search"></span></a>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>
        <div id="divPager" class="col-sm-6">
            <div class="form-group" role="group" aria-label="...">
                <a class="btn btn-sm btn-default" onclick="Refresh()"><span class="glyphicon glyphicon-refresh" ></span>&nbsp; Refresh</a>&nbsp;
                <a class="btn btn-sm btn-default" onclick="emailJs.newEmail(null, '@EmailType.AllSuppliers')"><span class="glyphicon glyphicon-envelope" ></span>&nbsp; Email to All Milk/Fruit Suppliers</a>&nbsp;
            </div>
        </div>
        
        <div class="col-sm-6">
            <div class="btn btn-sm btn-default pull-right" onclick="SendWeeklyReminderToAll()">Send Weekly Reminder to All</div>
        </div>

        <div class="col-sm-12">
            @(Html.Kendo().Grid<SupplierViewModel>()
                      .Name("GridSuppliers")
                      .Columns(columns =>
                      {
                          columns.Template(@<text></text>).ClientTemplate("<a title='Edit' href='\\#' onclick='EditSupplier(\"#=ID#\"); return false;'><span class='glyphicon glyphicon-edit glyphicon-btn'/></a>").Width(45);
                          columns.Bound(m => m.ID).Hidden();
                          columns.Bound(m => m.SupplierType).EditorTemplateName("SupplierTypeViewModel").ClientTemplate("#=SupplierType.Name#").Width(100).Sortable(false);
                          columns.Bound(m => m.Name).Title("Name").Width(200);
                          columns.Bound(m => m.Label).Title("Label").Width(100);
                          columns.Bound(m => m.Email).Title("Email").Width(500);
                          columns.Bound(m => m.RequestCenterEmail).Width(250);
                          columns.Bound(m => m.Telephone).Title("Telephone").Width(200);
                          columns.Bound(m => m.MinimumValue).Title("Min. Value").HtmlAttributes(new { @class = "div-inline" }).Width(100);
                          columns.Bound(m => m.UseMasterAccount).ClientTemplate("#if(UseMasterAccount){# <i class='glyphicon glyphicon-ok' /> #}#").HtmlAttributes(new { @class = "div-inline" }).Width(100);
                          columns.Bound(m => m.DefaultAisleLabel).Title("Default Aisle").ClientTemplate("#=DefaultAisleLabel#").Width(300);
                      })
                .Scrollable(scrollable => scrollable.Height(500).Enabled(true))
                      .Pageable(p => p.PageSizes(new[] { 50, 100, 200, 1000 }).Messages(m => m.Display("{0} - {1} of {2} Suppliers").Empty("No Suppliers Found")))
                      .Sortable()
                      .DataSource(dataSource =>
                      {
                          dataSource.Ajax()
                                    .Model(model =>
                                    {
                                        model.Id(m => m.ID);
                                        model.Field(m => m.SupplierType).DefaultValue(new SelectItemViewModel());
                                    })
                                    .Create(create => create.Action("Create", "SuppliersGrid"))
                                    .Read(read => read.Action("Read", "SuppliersGrid").Data("GetSearchInfo"))
                                    .Update(update => update.Action("Update", "SuppliersGrid"))
                                    .Destroy(destroy => destroy.Action("Destroy", "SuppliersGrid"))
                                    .Events(events => events.RequestEnd("GridSuppliers_RequestEnd"))
                                    .PageSize(100);
                      })
                      .Events(events => events.DataBound("KendoGridDatabound"))
                        .HtmlAttributes(new {@style="width: 100%"})

            )
        </div>        
    </div>
</div>


<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_EditSupplier" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 1000px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="EditSupplier_Body"></div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Modal" role="dialog" style="z-index:2000">
    <div class="modal-dialog" style="width:400px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center;"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>

    @if (!string.IsNullOrEmpty(ViewBag.SupplierID))
    {
        <text>
    EditSupplier('@ViewBag.SupplierID');
    </text>
    }

    function Refresh() {
        var grid = $("#GridSuppliers").data("kendoGrid");
        if (grid.dataSource.page() != 1) {
            grid.dataSource.page(1);
        }
        grid.dataSource.read();
    }


    function GetSearchInfo() {
        return {
            postcode: $('#TB_Postcode').val(),
            filterText: $('#TB_FilterText').val(),
            //type: $("#DD_Types").data("kendoDropDownList").value(),
        }
    }

    $("#TB_Postcode").keyup(function (e) {
        Refresh();
    });
    
    $("#TB_FilterText").keyup(function (e) {
        Refresh();
    });

    //Below the following functions are used the show/hide the content panels.
    function NewSupplier() {
        $("#EditSupplier_Body").load("@Url.Action("_NewSupplier", "Suppliers")");

        $("#SlideContent_EditSupplier").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_EditSupplier").css("display", "block");
        $("#Button_Close_Content").css("display", "block");
    }

    function EditSupplier(id) {
        var url = '@Url.Action("_EditSupplier", "Suppliers")' + '?ID=' + id;
        $("#EditSupplier_Body").load(url);

        $("#SlideContent_EditSupplierTypes").css("display", "none");
        $("#SlideContent_SearchContacts").css("display", "none");

        $("#SlideContent_EditSupplier").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_EditSupplier").css("display", "block");
        $("#Button_Close_Content").css("display", "block");
    }

    function CreatedSupplier(id) {
        var url = '@Url.Action("_EditSupplier", "Suppliers")' + '?ID=' + id;
        $("#EditSupplier_Body").load(url);
    }

    function HideViews() {
        $("#SlideContent_EditSupplier").animate({ width: '0%' }, { queue: false, duration: 300 });
        $("#SlideContent_EditSupplierTypes").animate({ width: '0%' }, { queue: false, duration: 300 });
        $("#SlideContent_SearchContacts").animate({ width: '0%' }, { queue: false, duration: 300 });
        setTimeout(function () {
            $("#SlideContent_EditSupplier").css("display", "none");
            $("#SlideContent_EditSupplierTypes").css("display", "none");
            $("#SlideContent_SearchContacts").css("display", "none");
            $("#Button_Close_Content").css("display", "none");

        }, 300);

    }

    function GridSuppliers_RequestEnd(e) {
        if (e.type != "read") {
            $('#GridSuppliers').data('kendoGrid').dataSource.read();
        }
    }
    
    function SendWeeklyReminderToAll() {
        if (!confirm('Are you sure you want to send weekly reminder for next week to all suppliers now? this may take up to 5 minutes to finish.'))
            return;
        
        $.ajax({
            url: '/Suppliers/SendWeeklyReminderToAll',
            type: 'POST',
            success: function () {
                alert('Sent');
            }
        })
        
    }

</script>


<style>
    .k-pager-wrap {
        margin-left: 0%;
    }

    .k-grid table tbody tr td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>