﻿@model NuIngredient.Models.StaticPageViewModel
@{
    ViewBag.Title = Model.Title + " | Office Groceries";
}
<div class="bg-secondary text-white text-center pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>@Model.Title</h1>
                <h5>@Model.Subtitle</h5>
            </div>
        </div>
    </div>
</div>

<div class="bg-white pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col">
              @Html.Raw(@Model.Content)
            </div>
        </div>
    </div>
</div>

<div class="bg-light pt-5 pb-5">
    <div class="container">
        <h4 class="text-center mb-4">Key Benefits:</h4>
        <div class="row">
            <div class="col-12 col-md-6">
                <ul class="fa-ul">
                    <li><span class="fa-li" ><i class="fas fa-check text-success"></i></span>Competitive product pricing – we’ve done the haggling, so you don’t have to.</li>
                    <li><span class="fa-li" ><i class="fas fa-check text-success"></i></span>Save time with our product sourcing service. If you need it, we’ll find it.</li>
                    <li><span class="fa-li" ><i class="fas fa-check text-success"></i></span>You’ll receive a dedicated account manager for your Office-Groceries account.</li>
                    <li><span class="fa-li" ><i class="fas fa-check text-success"></i></span>Fully-managed procurement service, with one monthly invoice.</li>
                </ul>
            </div>
            <div class="col-12 col-md-6">
                <ul class="fa-ul">
                    <li><span class="fa-li" ><i class="fas fa-check text-success"></i></span>Create your own individual ordering page, with all your specific requirements.</li>
                    <li><span class="fa-li" ><i class="fas fa-check text-success"></i></span>User-friendly website with our Quick Time standing order management system.</li>
                    <li><span class="fa-li" ><i class="fas fa-check text-success"></i></span>No contract arrangements. Simply create your bespoke quote. We’ll help you create your account and then you can start ordering.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
