﻿@model NuIngredient.Models.EnquiryFormViewModel
@{
    ViewBag.Title = "Contact | Office Groceries";
    ViewBag.MetaDescription = "Get in touch with the OG Team";
}

@using (Html.BeginForm("EnquiryForm", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="bg-secondary text-white text-center pt-4 pb-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Contact</h1>
                    <h2 class="h5">Get in touch with the OG Team</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white pt-3 pb-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="d-flex">
                        <a class="btn btn-primary mb-3 text-white rounded-0 ml-auto" href="javascript:void(0)" onclick="window.history.back();" role="button">Back</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="p-4 mb-2 bg-light text-dark">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4">
                                <form>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            @Html.TextBoxFor(m => m.BusinessName, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", placeholder="Company Name" })
                                            @Html.ValidationMessageFor(m => m.BusinessName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-md-12">
                                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", placeholder="First Name" })
                                            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-md-12">
                                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", placeholder="Last Name" })
                                            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-md-12">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", placeholder="Email" })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-md-12">
                                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", placeholder="Telephone Number" })
                                            @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-md-12">
                                            @Html.TextBoxFor(m => m.Postcode, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", placeholder="Delivery Postcode" })
                                            @Html.ValidationMessageFor(m => m.Postcode, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-md-12">
                                            <legend class="col-form-label">Interested In:</legend>
                                            <div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" id="InterestOfMilk" name="InterestOfMilk" value="true">
                                                    <label class="form-check-label" for="InterestOfMilk">Milk</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" id="InterestOfFruits" name="InterestOfFruits" value="true">
                                                    <label class="form-check-label" for="InterestOfFruits">Fruit</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" id="InterestOfDryGoods" name="InterestOfDryGoods" value="true">
                                                    <label class="form-check-label" for="InterestOfDryGoods">Pantry</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-12 col-md-6 col-lg-5">
                                <div class="form-row">                                    
                                    <div class="form-group col-md-12">
                                        @Html.TextAreaFor(m => m.Note, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", placeholder="Message", @style="height:239px;" })
                                    </div>
                                    <div class="form-group col-md-12">
                                        <script src='https://www.google.com/recaptcha/api.js'></script>
                                        <div class="g-recaptcha" data-sitekey="6LevZpYUAAAAAJBIp4CH_Hg6fXUdcmwOAJ2Fc17b"></div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <button type="submit" class="btn btn-success btn-lg btn-block rounded-0">submit</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-3 mt-3 mt-lg-0">
                                <p><strong>Office-Groceries Ltd</strong></p>
                                <p>43 Church Street<br>
                                    Billericay<br>
                                    Essex<br>
                                    CM11 2SX</p>
                                <p>Company Reg: 09648027</p>
                                <p>T: <a href="tel:03454638863">0345 463 8863</a></p>
                                <p>E: <a href="mailto:orders@office-groceries.com">orders@office-groceries.com</a></p>
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
}
    