﻿@{
    ViewBag.Title = "Ernie";
}
<div class="bg-secondary text-white text-center pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Ernie</h1>
            </div>
        </div>
    </div>
</div>

<div class="bg-white pt-3 pb-5">
    <div class="container">
        <div class="row paragraph">
            <div class="col paragraph">
                <img class="center mb-4 w-100" alt="ernie logo" src="/Content/ernie-logo.png" />
                <p>
                    Coffee that doesn’t cost the earth. Delivering great tasting coffee, minus the packaging, emissions and hassle.
                </p>
                <p>
                    Today, the coffee industry contributes tons of damaging waste to our planet. Packaging alone accounts for 300 million single-use, non-recyclable coffee bags entering the waste stream annually.
                </p>

                <p>
                    We are cutting the crap and going back to basics with reusable packaging, delivered by carbon neutral and emission free vehicles.
                </p>

                <p>
                    We didn’t stop there… every kilo of coffee ordered, contributes to UK tree planting and removes carbon from our atmosphere too!
                </p>

                <p>
                    Here’s how to works… (insert how it works image attached)
                </p>

                <h2 style="font-size: x-large;">
                    About Our Coffee
                </h2>
                <p>
                    You’ll find us roasting our precious and sustainable beans at our in-house roastery at Elephant and Castle in the heart of London.
                </p>

                <p>
                    It’s from here that we source beans direct from farmers or through established trading partners who care as much about where the beans come from and how the growers are treated as they do about the quality.
                </p>

                <p>
                    Ernie is a company launched in lockdown on a mission to remove single-use packaging from the coffee industry. Ernie delivers coffee in reusable containers which are dropped off and collected in the same model as the traditional milk-round. We currently complete our orders with Ernie the 1963 electric milk float and Beryl the electric cargo bike for carbon neutral and emission free delivery. All our coffee is traceable and roasted locally at our own roastery in Elephant and Castle.
                </p>

                <p>
                    Every kilogram of coffee removes one bag from the waste stream, contributes to tree planting and thus removes carbon from the atmosphere!
                </p>
                <div style="text-align:center">
                    <a class="btn btn-lg btn-primary text-white rounded-0" href="/aisle/sustainable-coffee/ernie-supporting-climate-change#product-section" role="button">Order Now</a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .paragraph p {
        font-size: large;
    }
</style>