﻿@{
    ViewBag.Title = "Frequently Asked Questions (FAQs)";
    
}


@*<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3" style="text-align:center;">
            <h1>Frequently Asked Questions (FAQs)</h1>
        </div>
    </div>
    <br /> 
    <div class="row">
        <div class="col-sm-12">
            <div class="FAQitem">
                <div class="question">
                    <h4><span class="sign glyphicon sign glyphicon-plus"></span> &nbsp;Please explain the Office-Groceries process?</h4>
                </div>
                <div class="answer">
                    <p>
                        Office-Groceries work directly with bonified suppliers throughout the UK to provide a one-stop solution for businesses’ procurement needs. Our direct relationship with our key supply chain means we offer competitive pricing and provide the necessary support and product ranges that offices and businesses require each working day. Orders placed through our website are then forwarded onto the appropriate supplier who will then deliver the goods directly to your site.
                    </p>
                </div>
            </div>

            <div class="FAQitem">
                <div class="question">
                    <h4><span class="sign glyphicon sign glyphicon-plus"></span> &nbsp;How do I activate accounts through the Office-Groceries website?</h4>
                </div>
                <div class="answer">
                    <p>
                        <strong>Step 1.</strong> Create your bespoke Quote for our Milk, Fruit Basket or Dry Goods service.<br />
                        <br />
                        <strong>Step 2.</strong> Review the quote that will be sent directly to your inbox and if you wish to proceed simply click the link on the bottom of the e-mail and Office-Groceries will set up the relevant account and communicate next steps via e-mail. Login details will enable you to login to your own bespoke page on the Office-Groceries website where Milk and Fruit standing orders can be managed and equally Dry Goods orders placed.<br />
                        <br />
                        Alternatively complete our ENQUIRY form and one of our procurement managers will be in contact to discuss your requirements further.
                    </p>
                </div>
            </div>
            <div class="FAQitem">
                <div class="question">
                    <h4><span class="sign glyphicon sign glyphicon-plus"></span> &nbsp;Do you deliver Nationally?</h4>
                </div>
                <div class="answer">
                    <p>
                        YES, Office Groceries client exposure is national to include Scotland and Wales
                    </p>
                </div>
            </div>
            <div class="FAQitem">
                <div class="question">
                    <h4><span class="sign glyphicon sign glyphicon-plus"></span> &nbsp;What is your minimum order value for Milk, Fruit and Dry Goods?</h4>
                </div>
                <div class="answer">
                    <ul>
                        <li>
                            <strong>Milk</strong>  - Minimum weekly order is 10 pints
                        </li>
                        <li>
                            <strong>Fruit</strong>   - 1 basket consisting of 50 pieces of fruit per delivery
                        </li>
                        <li>
                            <strong>Dry Goods</strong> – Minimum order value is £120.00 excluding VAT
                        </li>
                    </ul>
                </div>
            </div>

            <div class="FAQitem">
                <div class="question">
                    <h4><span class="sign glyphicon sign glyphicon-plus"></span> &nbsp;What is the cut off time for next day delivery and amendments to Standing Orders?</h4>
                </div>
                <div class="answer">
                    <ul>
                        <li>
                            <strong>Milk & Fruit</strong> – Amendments and changes to milk and fruit standing orders will need to take place by 2:00pm to take effect the next deliverable day as denoted when your account(s) were activated.
                        </li>
                        <li>
                            <strong>Dry Goods</strong> – Orders placed by 4.00pm will be delivered on your next deliverable day as denoted when your account(s) were activated.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="FAQitem">
                <div class="question">
                    <h4><span class="sign glyphicon sign glyphicon-plus"></span> &nbsp;Can we leave specific delivery instructions for our activated accounts?</h4>
                </div>
                <div class="answer">
                    <p>
                        YES, once you have activated a particular account namely Milk, Fruit or Dry Goods account specifics relating to all deliveries can be communicated through the Office-Groceries website. Equally please do not hesitate to contact us on 0345 463 8863 should you wish to discuss any required arrangements prior to delivery.
                    </p>
                </div>
            </div>

            <div class="FAQitem">
                <div class="question">
                    <h4><span class="sign glyphicon sign glyphicon-plus"></span> &nbsp;How does Ordering and Invoicing work?</h4>
                </div>
                <div class="answer">
                    <p>
                        Office-Groceries customer’s place orders directly through our website using their unique login details. Naturally our procurement team are always on hand to provide support so should you wish to call in your order we can be reach on 0345 463 8863.<br />
                        <br />
                        Office Groceries customer’s benefit from a fully managed procurement service with all monthly purchases consolidated into 1 monthly VAT invoice supported with purchase summary reports.<br />
                        <br />
                        Should you require specific invoicing terms please notify us when activating an account so we can program your requirements accordingly.
                    </p>
                </div>
            </div>

            <div class="FAQitem">
                <div class="question">
                    <h4><span class="sign glyphicon sign glyphicon-plus"></span> &nbsp;What are your payment terms?</h4>
                </div>
                <div class="answer">
                    <p>
                        30 Days from invoice issue date.
                    </p>
                </div>
            </div>

            <div class="FAQitem">
                <div class="question">
                    <h4><span class="sign glyphicon sign glyphicon-plus"></span> &nbsp;Are you able to supply items that aren't listed on your website?</h4>
                </div>
                <div class="answer">
                    <p>
                        YES, Office-Groceries can provide a bespoke product list that is required by any business incorporating your specific purchasing needs. Office-Groceries have a relationship with over 500 suppliers throughout the UK so we can tailor your login page to incorporate all of your purchasing requirements.
                    </p>
                </div>
            </div>
        </div>
        
    </div>
</div>

<style>
    .container p, .container li {
        font-size: 16px;
    }

    .FAQitem {
        margin-bottom: 30px;
    }

    .answer {
        display: none;
    }

    .question {
        cursor: pointer; 
    }
</style>

<script>
    $('.container').on('click', '.question', function (e) {
        $(this).siblings('.answer').slideToggle(200);
        if ($(this).find('.sign').hasClass('glyphicon-plus')) {
            $(this).find('.sign').addClass('glyphicon-minus').removeClass('glyphicon-plus');
        } else {
            $(this).find('.sign').addClass('glyphicon-plus').removeClass('glyphicon-minus');
        }
        e.stopPropagation();
    });
</script>*@

@Html.Action("GetHtmlPage", "CMS", new { label = "FAQs" })