﻿@using NuIngredient.Models
<div class="bg-secondary text-white text-center pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>FAQs</h1>
                <h5>All Your Questions Answered</h5>
            </div>
        </div>
    </div>
</div>

<div class="bg-white pt-5 pb-5">
    <div class="container">
        <div class="bg-light rounded-sm p-4">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="false" aria-controls="collapseOne">
                                <i class="fas fa-plus"></i>
                                What is the Office-Groceries process?
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <p>
                                Office-Groceries works directly with trusted suppliers throughout the UK, providing a one-stop shop for all your business groceries and kitchen supplies. Our direct relationship with
                                suppliers means we negotiate the best prices and pass the savings on to you. Orders placed
                                through our website are then forwarded onto the appropriate supplier who will deliver the
                                goods directly to your site.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                <i class="fas"></i>
                                How do I activate my account through the Office-Groceries website?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <p>
                                <strong>Step 1.</strong> Choose your products and create your bespoke quote.<br />
                                <br />
                                <strong>Step 2.</strong> We’ll email the quote for you to review. If you’re happy to proceed, simply click the link on the bottom of the e-mail and we’ll create your account and confirm the next steps. We’ll also send you your login details so you can easily manage all your orders. <br />
                                <br />
                                If you prefer, you can <a href="/Account/EnquiryForm">send an enquiry</a> and one of our procurement managers will be in touch to discuss your requirements.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                                <i class="fas"></i>
                                Do you deliver nationally?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            <p>
                                Yes! Office-Groceries delivers to businesses across the UK.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour"
                                aria-expanded="false" aria-controls="collapseFour">
                                <i class="fas"></i>
                                What is your minimum order value for Milk, Fruit and Dry Goods?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul>
                                <li>
                                    <strong>Milk Aisle</strong> - Minimum weekly order is £5.00.
                                </li>
                                <li>
                                    <strong>Fruit Aisle</strong> - One basket of fruit containing 50 pieces of fruit per delivery.
                                </li>
                                <li>
                                    <strong>Pantry Aisle</strong> - Minimum Order is £200.00, ex VAT.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFive">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive"
                                aria-expanded="false" aria-controls="collapseFive">
                                <i class="fas"></i>
                                What is the cut off time for next day delivery and changes to standing orders?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul>
                                <li>
                                    <strong>Milk & Fruit</strong> - Changes to milk and fruit standing orders should be placed by @CutOffTime.ToTimeString() to take effect on your next deliverable day.
                                </li>
                                <li>
                                    <strong>Dry Goods</strong> - Orders placed by 4pm will be delivered on your next deliverable day.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSix">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix"
                                aria-expanded="false" aria-controls="collapseSix">
                                <i class="fas"></i>
                                Can we leave specific delivery instructions for our activated accounts?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                        <div class="card-body">
                            <p>
                                Yes, once you have activated your account, you’ll be able to send any instructions through the Office-Groceries website. And of course, you can also call us on 0345 463 8863.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSeven">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven"
                                aria-expanded="false" aria-controls="collapseSeven">
                                <i class="fas"></i>
                                How does ordering and invoicing work?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                        <div class="card-body">
                            <p>
                                Ordering is easy – simply log into our website using the unique log-in details we’ll send you when you set up your account. If you need any help, you can call our procurement team on 0345 463 8863.<br />
                                <br />
                                All your monthly purchases are consolidated into one monthly VAT invoice, along with purchase summary reports.<br />
                                <br />
                                If you need specific invoicing terms, just notify us when activating your account.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingEight">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight"
                                aria-expanded="false" aria-controls="collapseEight">
                                <i class="fas"></i>
                                What are your payment terms?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                        <div class="card-body">
                            <p>
                                30 days from invoice issue date.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingNine">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine"
                                aria-expanded="false" aria-controls="collapseNine">
                                <i class="fas"></i>
                                Can you supply items not listed on your website?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
                        <div class="card-body">
                            <p>
                                Yes! Office-Groceries can provide a bespoke product list to meet your purchasing needs. Our relationships with over 500 suppliers throughout the UK mean we can tailor your login page to match all your purchasing requirements.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
