﻿@{
    ViewBag.Title = "Account Closed";
    
}

<div class="row">
    <div class="col-sm-12">
        <h2>Account Closed</h2>
        <hr />
        <p>Your account has been closed and is not longer active.</p>

        @if (User.IsInRole("Admin") || User.IsInRole("NI-User"))
        {
           
        }

    </div>
</div>



