﻿       @{
            ViewBag.MetaTitle = "Office Groceries | Grocery Delivery to your Office";
            ViewBag.MetaKeyword = "office food essentials, Delivering Milk, Fruit, Tea’s, Coffee, Fresh Food and Equipment";
            ViewBag.MetaDescription = "Save time and money with the online supermarket for your workplace. Fresh milk and fruit platters, drinks, snacks, equipment and more, all in one place.";
       }

        <picture>
          <source media="(max-width: 376px)" srcset="/img/Home-25.jpg">
          <source media="(max-width: 751px)" srcset="/img/Home-50.jpg">
          <source media="(max-width: 1127px)" srcset="/img/Home-75.jpg">
          <img class="img-fluid" src="/img/Home.jpg" alt="Office Groceries Home">
        </picture>
        <div class="bg-secondary text-center pt-2 pb-2 sticky-bottom">
          <div class="container">
              <h1 class="h2 text-white">National delivery of essential Office Groceries, direct to your business.<br>Simple and easy to use, it's an online supermarket for the workplace.</h1>
          </div>
        </div>
  
        <div class="light-bg pt-5 pb-5">
          <div class="container">
            <div class="card-deck">
              <div class="card border-0 rounded-0">
                <a href="/office-milk-deliveries"><img src="/img/milk.png" class="card-img-top card-orange" alt="Milk Deliveries - Office Groceries"></a>
                <a href="/office-milk-deliveries" class="card-body text-center card-body-orange mt-3 card-link text-white">Visit our Fresh Milk aisle</a>
              </div>
              <div class="card border-0 rounded-0">
                <a href="/office-fruit-basket-deliveries"><img src="/img/fruit.jpg" class="card-img-top card-green" alt="Fresh Fruits - Office Groceries"></a>
                <a href="/office-fruit-basket-deliveries" class="card-body text-center card-body-green mt-3 card-link text-white">Visit our Fresh Fruit aisle</a>
              </div>
              <div class="card border-0 rounded-0">
                <a href="/aisle/@ViewBag.MainDryGoodsAisleName"><img src="/img/pantry.jpg" class="card-img-top card-grey" alt="Office Pantry Products - Office Groceries"></a>
                <a href="/aisle/@ViewBag.MainDryGoodsAisleName" class="card-body text-center card-body-grey card-link  mt-3 text-white">Visit our Pantry aisle</a>
              </div>
            </div>
          </div>
        </div>
  
        <div class="bg-success text-center pt-5 pb-5">
          <div class="container">
            <div class="row justify-content-center">
              <h3 class="text-center mr-4 ml-4 mb-3 mb-md-0 lh-normal text-white">Want to set up an account with us today?</h3>
              @if (Request.IsAuthenticated)
              {
                <a class="btn btn-primary btn-lg text-white rounded-0" href="mailto:Orders@office-groceries.com" role="button">Get In Touch</a>
              }
              else
              {
                <a class="btn btn-primary btn-lg text-white rounded-0" href="/account/enquiryform" role="button">Get In Touch</a>
              }
            </div>
          </div>
        </div>
      
        <div class="bg-white text-center pt-5 pb-3">
          <div class="container">
            <h3>How does it work? Well, simply of course...</h3>
          </div>
        </div>
      
        <div class="bg-light text-center pt-5 pb-5">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <div class="number-circle">1</div>
                <h4>Create quote / first order under the relevant aisle you wish to purchase from or complete our enquiry form and we will contact you.</h4>
              </div>
            </div>
          </div>
        </div>
      
        <div class="bg-white text-center pt-5 pb-5">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <div class="number-circle">2</div>
                <h4>Create your unique Login details to activate account set up.<br> Have you already made an enquiry? One of our procurement managers will be in contact to help set up the account for you.</h4>
              </div>
            </div>
          </div>
        </div>
  
        <div class="bg-light text-center pt-5 pb-5">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <div class="number-circle">3</div>
                <h4>Once account set up is complete,<br> Login to your account to manage standing orders or place one off orders.</h4>
              </div>
            </div>
          </div>
        </div>

