﻿@{
    ViewBag.Title = "Online Quotation Software";
    
}

<style>
    p {
        font-size: larger;
    }
</style>

<link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
<div style="margin-top: -10px; margin-right: -30px; margin-left: -30px;">
    <div class="backgroundHome">
        <div class="container" style="padding-top: 60px; padding-bottom: 40px;">
            <div class="row" style="text-align: center; color: white;">

                <div class="col-md-12">
                    <h1 class="white-text hidden-xs" style="font-family: 'Gloria Hallelujah', cursive;">Learn More about Office Groceries online quotation system.</h1>
                    <h4 class="white-text hidden-xs">Create and Manage Quotes and Proposals Quickly and Easily.</h4>

                    <h3 class="white-text visible-xs" style="font-family: 'Gloria Hallelujah', cursive;">Learn more about Office Groceries.</h3>
                    <h4 class="white-text visible-xs">Create and Manage Quotes and Proposals Quickly and Easily.</h4>
                </div>
            </div>
        </div>
    </div>

    <div style="background-color: white;">
        <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1" style="padding-bottom:20px;">
                    <div class="col-sm-7">
                        <h3>Use on Tablets</h3>
                        <p>Take Office Groceries to your prospects and clients on your iPad or Android tablet. Create, check and complete the quotation in front of the customer and send it before you've even left.</p>
                        <p>Office Groceries is built using responsive screen design - which means it will work on any smartphone or tablet's browser.</p>
                    </div>
                    <div class="col-sm-5 hidden-xs">
                        <br />
                        <img style="max-width: 70%; margin-top:10px;" src="/Content/ipad2.png" class="img" />
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div style="background-color: whitesmoke;">
        <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1" style="padding-bottom:20px;">
                    <div class="col-sm-5 hidden-xs">
                        <br />
                        <img style="max-width: 90%; margin-top:20px; display:block; margin:auto;" src="/Content/Kit_Example.png" class="img-thumbnail" />
                        <br />

                    </div>
                    <div class="col-sm-7">
                        <h3>Group / Kit Management</h3>
                        <p>If you sell kits of products and services, Office Groceries kit management will be able to handle it. You can create a new kit in seconds, grouping together whatever products and services you want. It might be two or more products that you always sell together, or a combination, such as the parts and labour for a certain job. Once added to a quote they can be split into their constituent elements to allow for variations for different customers. </p>
                        <p>You also have the option of using one price for all the items, or showing each item with its own price. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div style="background-color: white;">
        <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1" style="padding-bottom:20px;">
                    <div class="col-sm-7">
                        <h3>CRM Included to Manage Your Events and Customers </h3>
                        <p>Office Groceries includes Customer Relationship Management (CRM) functionality that allows you to track your customers, your upcoming tasks, and logging that contact.</p>
                        <p> It includes: customer address details, multiple contacts at a customer, logs of your communications, a task list per customer and a task list across all customers, and the ability to store files against each customer. Your existing customer list can be easily imported into Office Groceries.</p>
                        <p>Use the task management screens to remind you, or your staff, when to chase up customers. </p>
                    </div>
                    <div class="col-sm-5 hidden-xs">
                        <br />
                        <img style="max-width: 90%; margin-top:10px;" src="/Content/Events_List.png" class="img" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="background-color: whitesmoke;">
        <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1" style="padding-bottom:20px;">

                    <h3>Add Custom Products and Services</h3>
                    <p>If you need to add items to a quote that are not already in your products and services list you can add them as you create the quote (including their image). Once they are on the quote you can add them to your products and services list at the click of button.</p>

                </div>
            </div>
        </div>
    </div>


    <div style="background-color: white;">
        <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1" style="padding-bottom:20px;">

                    <h3>Email Notifications to Management and External Partners</h3>
                    <p>Senior managers can set themselves up to be notified by email when a quote is accepted or rejected. You can also set up third parties such as partners or other customers to receive the email updates. Email notifications can be set up on a quote-by-quote basis or across all. </p>


                </div>
            </div>
        </div>
    </div>

    <div style="background-color: whitesmoke;">
        <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1" style="padding-bottom:20px;">
                    <h3>Advanced Staff Management</h3>
                    <p>You can set up the system so that your staff can see all the quotes, or you can split it so that they can only see those generated by their team.</p>

                </div>
            </div>
        </div>
    </div>


    <div style="background-color: white;">
        <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1" style="padding-bottom:20px;">

                    <h3>Approve Discounts </h3>
                    <p>Set your maximum allowed discount and the system will be prevent a quotation being sent until this has been approved by the designated manager. The manager is notified by an email that a request has been made, as is the sales person when the quotation is approved. </p>

                </div>
            </div>
        </div>
    </div>


    <div style="background-color: whitesmoke;">
        <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1" style="padding-bottom:20px;">
                    <h3>Create New Versions and Copies of Quotes </h3>
                    <p>Quotations can be copied (all the products and services copied over, but the quote given a new number) or a new version can be created. A new version means that it makes an exact copy, including all the audit and comment details, but keeps the existing quote number and increases the version number. </p>

                </div>
            </div>
        </div>
    </div>

    <div style="background-color: white;">
        <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1" style="padding-bottom:20px;">
                    <h3>Customisable</h3>
                    <p>If you like the system but it doesn’t have all the functionality you want, you can purchase a core licence, then customise the system as you require. The system can also be installed on your server, giving you more scope over what can be done. </p>

                </div>
            </div>
        </div>
    </div>


    <div style="background-color: whitesmoke;">
        <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1" style="padding-bottom:20px;">
                    <h3>Customer Self-service </h3>
                    <p>Allow your clients to build their quotations for their clients using your product list and your quotation tool. It makes it easier for them to quote your products and ensures they are quoted in a quality that matches your brand. This option is available when you purchase the system</p>

                </div>
            </div>
        </div>
    </div>

    <div style="background-color: white;">
        <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1" style="padding-bottom:20px;">
                    <h3>See a Demo of Office Groceries with your Products or Services?</h3>
                    <p>
                        Even though it’s really simple to get started on Office Groceries, we know that you just want to see if it will work for you. That’s why we offer to set it up with your products / services and logo ready for you to test.
                        Just send us a list of your products / services, your logo and we’ll get it ready and agree a date and time for an online demo.
                        We will also set you up with a Free 30 day Trial, giving you plenty of time to “have a play” before making a decision.
                        There will be no pressure to subscribe. Call us now on 0800 043 3099 or go to our <a href="Contact.aspx" target="_blank">contact </a>page.
                    </p>

                </div>
            </div>
        </div>
    </div>


    <div style="background-color: whitesmoke;">
        <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1" style="padding-bottom:20px;">
                    <h3>UK Based </h3>
                    <p>If you want any help, or have any questions about the system we are here to help you, just give us a call on 0800 043 3099. </p>

                </div>
            </div>
        </div>
    </div>


    <div style="background-color: whitesmoke;">
        <div class="container" style="padding: 50px;">
            <div class="row" style="text-align: center;">
                <div class="col-sm-10 col-sm-offset-1">
                    <a class="btn btn-success btn-lg" href="@Url.Action("Register", "Account")">Try for free for one month</a>
                </div>
            </div>
        </div>
    </div>
</div>