﻿@model NuIngredient.Models.StaticPageViewModel
@{
    ViewBag.Title = Model.Title + " | Office Groceries";
}

<div class="bg-secondary text-white text-center pt-4 pb-4">
  <div class="container">
      <div class="row">
          <div class="col">
              <h1>@Model.Title</h1>
              <h5>@Model.Subtitle</h5>
          </div>
      </div>
  </div>
</div>

<div class="bg-white pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col ">
              @Html.Raw(@Model.Content)
            </div>
        </div>
    </div>
</div>