﻿<div class="bg-secondary text-white text-center pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Our Process</h1>
                <h2 class="h5">Office Groceries, Delivered. Simple</h2>
            </div>
        </div>
    </div>
</div>

<div class="bg-white pt-3 pb-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="p-4 mb-2 bg-light text-dark">
                    <div class="row">
                        <div class="col-12">
                           <div class="bg-primary text-white text-center p-3">
                                <h4 class="m-0">Aisle by aisle shopping</h4>
                           </div>
                        </div>
                        <div class="col-12 mt-4">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-4 col-xl-2 mb-3">
                                    <div class="cursor-pointer" role="button" tabindex="0" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="Choose your desired Aisle that you would like to purchase from and create your first order.">
                                        <div class="bg-white p-2 text-center">
                                            <img src="img/process-step1.png" class="img-fluid rounded-0 my-auto" alt="Create your first order">
                                        </div>
                                        <a class="btn btn-success btn-block rounded-0 px-0" style="color: white;">
                                            Create your first order
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 col-xl-2 mb-3">
                                    <div class="cursor-pointer" role="button" tabindex="0" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="Office-Groceries will send you an e-mail with your bespoke quote/first order. Within the body of the e-mail click link to set up your Office-Groceries account.">
                                        <div class="bg-white p-2 text-center">
                                            <img src="img/process-step2.png" class="img-fluid rounded-0" alt="Set up your account">
                                        </div>
                                        <a class="btn btn-success btn-block rounded-0 px-0" style="color: white;">
                                            Set up your account
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 col-xl-2 mb-3">
                                    <div class="cursor-pointer" role="button" tabindex="0" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="Provide your key information and your Office-Groceries account will be set up within 6 working days.">
                                        <div class="bg-white p-2 text-center">
                                            <img src="img/process-step3.png" class="img-fluid rounded-0" alt="Key information">
                                        </div>
                                        <a class="btn btn-success btn-block rounded-0 px-0" style="color: white;">
                                            Key information
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 col-xl-2 mb-3">
                                    <div class="cursor-pointer" role="button" tabindex="0" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="All new accounts received by the Office-Groceries team will be processed and 1st delivery day(s) will be communicated via e-mail.">
                                        <div class="bg-white p-2 text-center">
                                            <img src="img/process-step4.png" class="img-fluid rounded-0" alt="Account is ready to go">
                                        </div>
                                        <a class="btn btn-success btn-block rounded-0 px-0" style="color: white;">
                                            Account is ready to go
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 col-xl-2 mb-3">
                                    <div class="cursor-pointer" role="button" tabindex="0" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="Your master Office-Groceries account is now set up and you are ready to order by logging in to your bespoke page. Should you wish to activate further Aisles simply click “Yes, Please Activate” button and Office-Groceries will set up the respective Aisle for you.">
                                        <div class="bg-white p-2 text-center">
                                            <img src="img/process-step5.png" class="img-fluid rounded-0" alt="Aisles activation">
                                        </div>
                                        <a class="btn btn-success btn-block rounded-0 px-0" style="color: white;">
                                            Aisles activation
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 col-xl-2 mb-3">
                                    <div class="cursor-pointer" role="button" tabindex="0" data-container="body" data-flip="false" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="Complete our Enquiry Form and one of our procurement managers will be in contact to discuss your requirements further.">
                                        <div class="bg-white p-2 text-center">
                                            <img src="img/process-step6.png" class="img-fluid rounded-0" alt="Alternatively">
                                        </div>
                                        <a class="btn btn-success btn-block rounded-0 px-0" style="color: white;">
                                            Alternatively
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-none d-xl-block col-xl-12">
                                    <div class="timeline-flex d-flex justify-content-between flex-nowrap">
                                        <div class="timeline-child order-1 align-self-center"><span class="point"></span></div>
                                        <div class="timeline-child order-2 align-self-center"><span class="point"></span></div>
                                        <div class="timeline-child order-3 align-self-center"><span class="point"></span></div>
                                        <div class="timeline-child order-4 align-self-center"><span class="point"></span></div>
                                        <div class="timeline-child order-5 align-self-center"><span class="point"></span></div>
                                        <div class="timeline-child order-6 align-self-center"><span class="point"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="bg-primary text-white text-center p-3">
                                <h4 class="m-0">Your Office Groceries delivered simple. Saving you time, money and energy.</h4>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
</script>

