﻿@{
    ViewBag.Title = "Say Coffee";
}
<div class="bg-secondary text-white text-center pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Say Coffee</h1>
            </div>
        </div>
    </div>
</div>

<div class="bg-white pt-3 pb-5">
    <div class="container">
        <div class="row paragraph">
            <div class="col">
                <img class="center mb-4" alt="say coffee logo" src="/Content/say-coffee-logo.png" />
                <p>
                    Say Coffee is an exciting new full-service coffee business born out of the COVID pandemic, when founder Jeff wanted to use his 25 years industry experience to bring premium coffee to the mainstream market.
                </p>

                <p>
                    With a genuine passion for quality coffee and delivering great customer service, Say Coffee offers a complete product proposition including the sourcing and supplying of coffee in various formats and origins, expert advice on coffee making processes and full guidance & sourcing of an array of coffee machines and equipment.
                </p>
                <p>
                    Say Coffee prides itself in being a full-service coffee provider with cost effective pricing and excellent ongoing customer service. It’s not necessarily about having a unique product or service; it’s about making the whole proposition stand out within the market place.
                </p>
                <div style="text-align:center">
                    <a class="btn btn-lg btn-primary text-white rounded-0" href="/aisle/sustainable-coffee/say-coffee-supporting-sme-s#product-section" role="button">Order Now</a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .paragraph p {
        font-size: large;
    }
</style>