﻿@model NuIngredient.Models.Services.HtmlSitemapGenerator.SitemapPageViewModel
@{
    ViewBag.Title = "Sitemap | Office Groceries";
    ViewBag.MetaDescription = "Welcome to Office-Groceries sitemap page. Find all our web pages at a quick glance.";
}

<div class="bg-secondary text-white text-center pt-4 pb-4">
  <div class="container">
      <div class="row">
          <div class="col">
              <h1>Sitemap</h1>
          </div>
      </div>
  </div>
</div>

<div class="bg-white pt-5 pb-5">
    <div class="container">
        <div class="row">
            @foreach (var entity in Model.Sitemaps)
            {
                <div class="col-xs-12 col-sm-4">
                    <ul>
                        <li>
                            <a href="@entity.Heading.Url">@entity.Heading.Label</a>
                            @if (entity.SubSitemaps.Count > 0)
                            {
                                foreach (var subEntity in entity.SubSitemaps)
                                {
                                    <ul>
                                        <li><a href="@subEntity.Heading.Url">@subEntity.Heading.Label</a></li>
                                    </ul>
                                }
                            }
                        </li>
                    </ul>
                </div>
            }
        </div>
    </div>
</div>
