﻿@{
    ViewBag.Title = "Subscription Invalid";
    
}

<div class="row">
    <div class="col-sm-12">
        <h2>No Valid Subscription Found.</h2>
        <hr />
        <p>Your account no longer has a valid subscription.</p>
        <p><a href="@Url.Action("Index", "Subscription")"> Click here to review you current subscription plan.</a></p>
    </div>
</div>



