﻿@model List<NuIngredient.Models.TestimonialViewModel>

@{
    ViewBag.MetaTitle = "Testimonials";
    ViewBag.MetaDescription = "Testimonials";
}

<div class="bg-secondary text-white text-center pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Our Testimonials</h1>
                <h5>What our customers say about us</h5>
            </div>
        </div>
    </div>
</div>
@*
<div class="bg-white pt-5 pb-4">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
        </div>
    </div>
</div>
*@
@for(var i = 0; i < Model.Count; i++)
{
    if (i % 2 == 0)
    {
        <div class="bg-white pt-5 pb-4">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <blockquote class="blockquote text-center">
                            <p class="mb-0"><em>@Model[i].Quote</em></p>
                            <footer class="blockquote-footer text-success">@Model[i].From</footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="bg-light pt-5 pb-4">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <blockquote class="blockquote text-center">
                            <p class="mb-0"><em>@Model[i].Quote</em></p>
                            <footer class="blockquote-footer text-success">@Model[i].From</footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    }
}

