﻿@model NuIngredient.Models.DashboardFruitOrderViewModel

<div class="row">
    <div class="col-xs-12">
        <h1>Fruit Orders This Week</h1>
    </div>
</div>

<div class="order-table" id="fruit-weekly">
    <div class="row" id="order-headers">
        <div class="col-xs-4 col-sm-offset-0 col-sm-1" id="product-name-header">
            <p>Product</p>
        </div>
        <div class="col-xs-3 col-sm-1" id="product-unit">
            <p>Unit</p>
        </div>
        <div class="col-xs-12 col-sm-1 week-days">
            <p>Mon<br />(@DateTime.Today.Date.StartOfWeek(DayOfWeek.Monday).ToString("dd/MM"))</p>
        </div>
        <div class="col-xs-12 col-sm-1 week-days">
            <p>Tue<br />(@DateTime.Today.Date.StartOfWeek(DayOfWeek.Monday).AddDays(1).ToString("dd/MM"))</p>
        </div>
        <div class="col-xs-12 col-sm-1 week-days">
            <p>Wed<br />(@DateTime.Today.Date.StartOfWeek(DayOfWeek.Monday).AddDays(2).ToString("dd/MM"))</p>
        </div>
        <div class="col-xs-12 col-sm-1 week-days">
            <p>Thu<br />(@DateTime.Today.Date.StartOfWeek(DayOfWeek.Monday).AddDays(3).ToString("dd/MM"))</p>
        </div>
        <div class="col-xs-12 col-sm-1 week-days">
            <p>Fri<br />(@DateTime.Today.Date.StartOfWeek(DayOfWeek.Monday).AddDays(4).ToString("dd/MM"))</p>
        </div>
        <div class="col-xs-12 col-sm-1 week-days">
            <p>Sat<br />(@DateTime.Today.Date.StartOfWeek(DayOfWeek.Monday).AddDays(5).ToString("dd/MM"))</p>
        </div>
        <div class="col-xs-12 col-sm-1" id="product-cost">
            <p>Cost (From)</p>
        </div>
        <div class="col-xs-12 col-sm-1" id="weekly-volume">
            <p>Weekly Volume</p>
        </div>
        <div class="col-xs-3 col-sm-1" id="weekly-total">
            <p>Weekly Total</p>
        </div>
    </div>
    @foreach (NuIngredient.Models.FruitOrderViewModel item in Model.WeeklyOrder)
    {
        <div class="row order-products">
            <div class="col-xs-4 col-sm-offset-0 col-sm-1" id="product-name-info">
                <p id="product-name">@item.ProductName</p>
            </div>
            <div class="col-xs-3 col-sm-1" id="product-unit-info">
                <div class="numeric-input">
                    <p id="product-unit">@item.Unit</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-1 input-days">
                <div class="numeric-input">
                    <p>@(item.Monday != 0 ? item.Monday.ToString() : "")</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-1 input-days">
                <div class="numeric-input">
                    <p>@(item.Tuesday != 0 ? item.Tuesday.ToString() : "")</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-1 input-days">
                <div class="numeric-input">
                    <p>@(item.Wednesday != 0 ? item.Wednesday.ToString() : "")</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-1 input-days">
                <div class="numeric-input">
                    <p>@(item.Thursday != 0 ? item.Thursday.ToString() : "")</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-1 input-days">
                <div class="numeric-input">
                    <p>@(item.Friday != 0 ? item.Friday.ToString() : "")</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-1 input-days">
                <div class="numeric-input">
                    <p>@(item.Saturday != 0 ? item.Saturday.ToString() : "")</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-1" id="cost-per-prouct">
                <div class="numeric-input">
                    <p>@item.Price.ToString("C")</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-1" id="product-quantity">
                <div class="numeric-input">
                    <p>@item.WeeklyVolume</p>
                </div>
            </div>
            <div class="col-xs-3 col-sm-1" id="total-cost">
                <div class="numeric-input">
                    <p>@item.WeeklyTotal.ToString("C")</p>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1" id="remove-can">
            </div>
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg more-info-load">
                <a href="javascript:void(0)" class="expand-info">
                    <p class="more-intro">View order details</p>
                    <div class="col-xs-12 expanded-content no-padding">
                        <div class="col-xs-6 week-days">
                            <p>Mon (@DateTime.Today.Date.StartOfWeek(DayOfWeek.Monday).ToString("dd/MM"))</p>
                        </div>
                        <div class="col-xs-6 input-days">
                            <p>@(item.Monday != 0 ? item.Monday.ToString() : "")&nbsp;</p>
                        </div>
                        <div class="col-xs-6 week-days">
                            <p>Tue (@DateTime.Today.Date.StartOfWeek(DayOfWeek.Monday).AddDays(1).ToString("dd/MM"))</p>
                        </div>
                        <div class="col-xs-6 input-days">
                            <p>@(item.Tuesday != 0 ? item.Tuesday.ToString() : "")&nbsp;</p>
                        </div>
                        <div class="col-xs-6 week-days">
                            <p>Wed (@DateTime.Today.Date.StartOfWeek(DayOfWeek.Monday).AddDays(2).ToString("dd/MM"))</p>
                        </div>
                        <div class="col-xs-6 input-days">
                            <p>@(item.Wednesday != 0 ? item.Wednesday.ToString() : "")&nbsp;</p>
                        </div>
                        <div class="col-xs-6 week-days">
                            <p>Thu (@DateTime.Today.Date.StartOfWeek(DayOfWeek.Monday).AddDays(3).ToString("dd/MM"))</p>
                        </div>
                        <div class="col-xs-6 input-days">
                            <p>@(item.Thursday != 0 ? item.Thursday.ToString() : "")&nbsp;</p>
                        </div>
                        <div class="col-xs-6 week-days">
                            <p>Fri (@DateTime.Today.Date.StartOfWeek(DayOfWeek.Monday).AddDays(4).ToString("dd/MM"))</p>
                        </div>
                        <div class="col-xs-6 input-days">
                            <p>@(item.Friday != 0 ? item.Friday.ToString() : "")&nbsp;</p>
                        </div>
                        <div class="col-xs-6 week-days">
                            <p>Sat (@DateTime.Today.Date.StartOfWeek(DayOfWeek.Monday).AddDays(5).ToString("dd/MM"))</p>
                        </div>
                        <div class="col-xs-6 input-days">
                            <p>@(item.Saturday != 0 ? item.Monday.ToString() : "")&nbsp;</p>
                        </div>
                        <div class="col-xs-6" id="@item.ID-product-cost-mobile">
                            <p>Cost</p>
                        </div>
                        <div class="col-xs-6" id="cost-per-prouct-mobile">
                            <p>@item.Price.ToString("C")</p>
                        </div>
                        <div class="col-xs-6" id="weekly-volume-mobile">
                            <p>Weekly Volume</p>
                        </div>
                        <div class="col-xs-6" id="product-quantity-mobile">
                            <p>@item.WeeklyVolume</p>
                        </div>
                        <div class="col-xs-6" id="weekly-total-mobile">
                            <p>Weekly Total</p>
                        </div>
                        <div class="col-xs-6" id="total-cost-mobile">
                            <p>@item.WeeklyTotal.ToString("C")</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    }
</div>

<script>
    $('#fruit-weekly .expanded-content').hide();
    $('#fruit-weekly .more-info-load .expand-info').click(function () {
        $('.more-info-load').removeClass('col-xs-1');
        $('.more-info-load').addClass('col-xs-12 no-padding');
        var moreContent = $(this).find('.expanded-content');
        $(moreContent).show();
        var plusIcon = $(this).find('.fa.fa-plus');
        $(plusIcon).hide();
    });
</script>

@*<div class="panel panel-info" style="min-width:1000px;">
    <div class="panel-heading" onclick="location.href='@Url.Action("Index", "Fruits")';" style="cursor: pointer; text-align:center;" title="Find out more.">
        <h4>Fruit Orders This Week</h4>
    </div>
    <div class="panel-body">
        <div class="row">            
            <div class="col-lg-12">
                <table class="table table-bordered table-striped" style="width:100%;">
                    <thead>
                        <tr>
                            <th style="width:50px;"></th>
                            <th style="text-align:center; vertical-align:middle;">Product</th>
                            <th style="width:7%; text-align:center; vertical-align:middle;">Unit</th>
                            <th style="width:6%; text-align:center; vertical-align:middle;">Mon<br />(@DateTime.Today.Date.StartOfWeek(DayOfWeek.Monday).ToString("dd/MM"))</th>
                            <th style="width:6%; text-align:center; vertical-align:middle;">Tue<br />(@DateTime.Today.Date.StartOfWeek(DayOfWeek.Monday).AddDays(1).ToString("dd/MM"))</th>
                            <th style="width:6%; text-align:center; vertical-align:middle;">Wed<br />(@DateTime.Today.Date.StartOfWeek(DayOfWeek.Monday).AddDays(2).ToString("dd/MM"))</th>
                            <th style="width:6%; text-align:center; vertical-align:middle;">Thu<br />(@DateTime.Today.Date.StartOfWeek(DayOfWeek.Monday).AddDays(3).ToString("dd/MM"))</th>
                            <th style="width:6%; text-align:center; vertical-align:middle;">Fri<br />(@DateTime.Today.Date.StartOfWeek(DayOfWeek.Monday).AddDays(4).ToString("dd/MM"))</th>
                            <th style="width:6%; text-align:center; vertical-align:middle;">Sat<br />(@DateTime.Today.Date.StartOfWeek(DayOfWeek.Monday).AddDays(5).ToString("dd/MM"))</th>
                            <th style="width:5%; text-align:center; vertical-align:middle;">Cost</th>
                            <th style="width:5%; text-align:center; vertical-align:middle;">Weekly Volume</th>
                            <th style="width:5%; text-align:center; vertical-align:middle;">Weeky Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.WeeklyOrder)
                        {
                            <tr>
                                <td><img src="@item.ImageUrl" style="height: 50px; width: 50px;" /></td>
                                <td style="text-align: center; vertical-align:middle;">@item.ProductName</td>
                                <td style="text-align: center; vertical-align:middle;">@item.Unit</td>
                                <td style="text-align: center; vertical-align:middle;">@String.Format("{0:0.######;-0.######;\"\"}", @item.Monday)</td>
                                <td style="text-align: center; vertical-align:middle;">@String.Format("{0:0.######;-0.######;\"\"}", @item.Tuesday)</td>
                                <td style="text-align: center; vertical-align:middle;">@String.Format("{0:0.######;-0.######;\"\"}", @item.Wednesday)</td>
                                <td style="text-align: center; vertical-align:middle;">@String.Format("{0:0.######;-0.######;\"\"}", @item.Thursday)</td>
                                <td style="text-align: center; vertical-align:middle;">@String.Format("{0:0.######;-0.######;\"\"}", @item.Friday)</td>
                                <td style="text-align: center; vertical-align:middle;">@String.Format("{0:0.######;-0.######;\"\"}", @item.Saturday)</td>
                                <td style="text-align: center; vertical-align:middle;">@item.Price.ToString("C")</td>
                                <td style="text-align: center; vertical-align:middle;">@item.WeeklyVolume</td>
                                <td style="text-align: center; vertical-align:middle;">@item.WeeklyTotal.ToString("C")</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr style="background-color:lightgrey;">
                            <td colspan="11" style="text-align: center; vertical-align:middle;">
                                <strong>Weekly Total Order</strong>
                            </td>
                            <td style="text-align: center; vertical-align:middle;">
                                <strong name="TotalPrice">@Model.WeekyTotal.ToString("C")</strong>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>*@




