﻿
<div class="panel panel-info">
    <div class="panel-heading" style="text-align: center; cursor: pointer;" onclick="$('#FruitOrders').slideToggle()">
        Fruit Orders This Month
    </div>
    <div class="panel-body" style="padding: 0px;" id="FruitOrders">
        @(Html.Kendo().Grid<NuIngredient.Models.FruitInvoiceHeaderViewModel>()
                      .Name("GridFruitInvoiceHeader")
                      .Columns(columns =>
                      {
                          columns.Bound(m => m.ID).Hidden();
                          columns.Bound(m => m.CompanyID).Hidden();
                          columns.Bound(m => m.CompanyName);
                          columns.Bound(m => m.FromDate).Title("Date From").ClientTemplate("#=kendo.toString(FromDate, 'dd/MM/yyyy')#");
                          columns.Bound(m => m.ToDate).Title("Date To").ClientTemplate("#=kendo.toString(ToDate, 'dd/MM/yyyy')#");
                          columns.Bound(m => m.TotalPrice).Title("Total Price").ClientTemplate("#=kendo.toString(TotalPrice, 'C')#");
                          columns.Template(@<text></text>).ClientTemplate("<a href='javascript:void(0)' onclick='FruitOrder(\"#=ID#\");' title='Details'><span class='glyphicon glyphicon-list glyphicon-btn'/></a>").Width("1%");
                      })
                      .DataSource(dataSource => dataSource
                              .Ajax()
                              .Model(model =>
                              {
                                  model.Id(m => m.ID);
                              })
                              .Read(read => read.Action("ReadAll", "FruitInvoiceHeadersGrid").Data("GetSearchInfo"))
                      )
                      .Pageable(p => p.PageSizes(new[] { 10, 20, 50 }).Messages(m => m.Display("{0} - {1} of {2} Orders").Empty("No Orders Found")))
                      .Events(events => events.DataBound("KendoGridDatabound"))
        )
    </div>
</div>



