﻿
<div class="panel panel-info">
    <div class="panel-heading" style="text-align: center; cursor: pointer;" onclick="$('#OneOffOrders').slideToggle()">
        One-Off Orders This Month
    </div>
    <div class="panel-body" style="padding: 0px;" id="OneOffOrders">
        @(Html.Kendo().Grid<NuIngredient.Models.OneOffOrderGridViewModel>()
                        .Name("GridOneOffOrders")
                        .Columns(columns =>
                        {
                            columns.Bound(f => f.ID).Hidden();
                            columns.Bound(f => f.Status).ClientTemplate("#if(Status == 1){#<span class='label color-accepted'>Accepted</span>#}else if(Status == 2){#<span class='label color-delivered'>Delivered</span>#}else if(Status == 3){#<span class='label color-invoiced'>Invoiced</span>#}else if(Status == 4){#<span class='label color-credit-order'>Credit Order</span>#}else if(Status == 5){#<span class='label color-canceled'>Canceled</span>#}#").Width(50);
                            columns.Bound(f => f.Created).Title("Order Date").ClientTemplate("#=kendo.toString(Created, \"dd/MM/yyyy HH:mm:ss\")#").Width(200);
                            columns.Bound(f => f.CompanyName).Title("Company Name").Width(200);//.Width("1%");
                            columns.Bound(f => f.OrderNumber).Title("Order Number").ClientTemplate("<a href='javascript:void(0)' onclick=\"OneOffOrder('#=ID#')\">#=OrderNumber#</a>").Width(200);
                            columns.Bound(f => f.Total).ClientTemplate("#=kendo.toString(Total, 'C')#").Width(100);
                            columns.Template(@<text></text>).ClientTemplate("<a href='/OrderManagement/DryGoodsOrderDetails/#=ID#' title='Details'><span class='glyphicon glyphicon-list glyphicon-btn'/></a>").Width(50);
                        })
                        .Scrollable(scrollable => scrollable.Height(150).Enabled(true))
                        .DataSource(dataSource => dataSource
                                .Ajax()
                                .Model(model =>
                                {
                                    model.Id(m => m.ID);
                                })
                                .Read(read => read.Action("ReadAll", "OneOffOrderGrid").Data("GetSearchInfo"))
                        )
                        .Pageable(p => p.PageSizes(new[] { 10, 20, 50 }).Messages(m => m.Display("{0} - {1} of {2} Orders").Empty("No Orders Found")))
                        .Events(events => events.DataBound("KendoGridDatabound"))
        )
    </div>
</div>

<style>
    span.label {
        display: block;
    }
</style>
