﻿
<script>
    function GetProspectSearchInfo() {
        return {
            dateType: 1,
            getQuoteValue: false
        }
    }
</script>

<div class="panel panel-info">
    <div class="panel-heading" style="text-align: center; cursor: pointer;" onclick="$('#GridProspects').slideToggle()">
        New Prospects This Month
    </div>
    <div class="panel-body" style="padding: 0px;" id="Prospects">
        @(Html.Kendo().Grid<NuIngredient.Models.ProspectGridViewModel>()
                    .Name("GridProspects")
                    .Columns(columns =>
                    {
                        columns.Bound(f => f.ID).Hidden();
                        columns.Bound(f => f.CompanyName).Title("Company Name").Width(200);
                        columns.Bound(f => f.Name).Title("Name").Width(200);
                        columns.Bound(f => f.Email).Title("Email").Width(200);
                        columns.Bound(f => f.Phone).Title("Phone").Width(200);
                        columns.Bound(f => f.Created).Title("Quote Time").ClientTemplate("#=kendo.toString(Created, \"dd/MM/yyyy HH:mm:ss\")#").Width(100);
                        columns.Template(@<text></text>).ClientTemplate("<a href='javascript:void(0)' onclick=\"ProspectQuote('#=ID#')\" title='Get Quotes'><span class='glyphicon glyphicon-th-list glyphicon-btn'/></a>").Width(50);
                        columns.Command(command => command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn'/>")).Width(50);
                    })
                    .Editable(editable => editable.DisplayDeleteConfirmation("Set this prospect as no go and remove all the assotiate quotes?"))
                    .Scrollable(scrollable => scrollable.Height(150).Enabled(true))
                    .DataSource(dataSource => dataSource
                            .Ajax()
                            .Model(model =>
                            {
                                model.Id(m => m.ID);
                            })
                            .Read(read => read.Action("Read", "ProspectsGrid").Data("GetProspectSearchInfo"))
                            .Destroy(destroy => destroy.Action("Destroy", "ProspectsGrid"))
                    )
                    .Pageable(p => p.PageSizes(new[] { 10, 20, 50 }).Messages(m => m.Display("{0} - {1} of {2} Prospects").Empty("No Prospects Found")))
                    .Events(events => events.DataBound("KendoGridDatabound"))
        )
    </div>
</div>



