﻿@using NuIngredient.Models

@{
    ViewBag.Title = "Dashboard";
}

<div class="row">
    <div class="col-sm-12" style="margin-top: 5px; margin-bottom: 15px;">
        <h2>@ViewBag.Title</h2>
    </div>
</div>
<div class="row">
    @*<div class="col-md-12">
        <div class="btn btn-xs btn-primary pull-right" onclick="location.href='/OrderManagement/'" style="margin-bottom: 5px;">See More</div>
    </div>
    <div class="col-md-12">
        @Html.Partial("_FruitOrderNIPanel")
    </div>*@
    <div class="col-md-12">
        <div class="btn btn-xs btn-primary pull-right" onclick="location.href='/OrderManagement/DryGoodsOrders'" style="margin-bottom: 5px;">See More</div>
    </div>
    <div class="col-md-12">
        @Html.Partial("_OneOffOrderNIPanel")
    </div>
    <div class="col-md-12">
        <div class="btn btn-xs btn-primary pull-right" onclick="location.href='/ProspectManagement/'" style="margin-bottom: 5px;">See More</div>
    </div>
    <div class="col-md-12">
        @Html.Partial("_ProspectNIPanel")
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Modal2" role="dialog" style="z-index:2000">
    <div class="modal-dialog" style="width:400px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center;">Supplier</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:2001; display:none;"></a>

<div id="SlideContent_Edit" class="panel panel-default" style="z-index: 2002; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 800px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="Edit_Body"></div>
    </div>
</div>

<style>
    .row-equal [class="col-md-4"]:nth-child(3n+1) {
        clear: left;
    }

    .k-grid-content, .k-grid-content-locked {
        height: auto !important;
    }
</style>

<script>
    function Refresh() {
        $("#GridOneOffOrders").data("kendoGrid").dataSource.read();
        $("#GridFruitInvoiceHeader").data("kendoGrid").dataSource.read();
        $("#GridMilkInvoiceHeader").data("kendoGrid").dataSource.read();
        $("#GridShoppingCart").data("kendoGrid").dataSource.read();
    }

    function GetSearchInfo() {
        return {
            filterText: "",
            dateType: 1,
            statuses: ['@OneOffOrderStatus.Accepted', '@OneOffOrderStatus.Delivered', '@OneOffOrderStatus.Invoiced', '@OneOffOrderStatus.Canceled', '@OneOffOrderStatus.CreditOrder']
        }
    }

    function HideViews() {
        $("#SlideContent_Edit").animate({ width: '0%' }, { queue: false, duration: 300 });
        setTimeout(function () {
            $("#SlideContent_Edit").css("display", "none");
            $("#Button_Close_Content").css("display", "none");
        }, 300);
    }

    function OneOffOrder(id) {
        $.ajax({
            url: '/OrderManagement/_EditOneOffOrder',
            type: 'Get',
            data: {
                id: id
            },
            success: function (response) {
                $('#Modal2 .modal-title').html("One-Off Order Histories");
                $('#Modal2 .modal-dialog').css("width", "700px");
                $('#Modal2 .modal-body').html(response);
                $('#Modal2').modal('show');
            }
        })
    }

    function FruitOrder(id) {
        $.ajax({
            url: '/Companies/_EditFruitInvoice',
            type: 'GET',
            data: {
                id: id
            },
            success: function (response) {
                $('#Modal2 .modal-title').html("Fruit Invoice");
                $('#Modal2 .modal-dialog').css("width", "1000px");
                $('#Modal2 .modal-body').html(response);
                $('#Modal2').modal('show');
            }
        })
    }

    function ProspectQuote(id) {
        $.ajax({
            url: '/ProspectManagement/_ProspectQuote',
            type: 'Get',
            data: {
                id: id
            },
            success: function (response) {
                $('#Modal2 .modal-title').html("Prospect Quote");
                $('#Modal2 .modal-dialog').css("width", "1000px");
                $('#Modal2 .modal-body').html(response);
                $('#Modal2').modal('show');
            }
        })
    }

</script>



