﻿@using Microsoft.AspNet.Identity
@model NuIngredient.Models.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
    var categories = new List<string>();
    if (Model.ActiveOnMilk) { categories.Add("Milk"); }
    if (Model.ActiveOnFruit) {categories.Add("Fruit/Snacks"); }
    if (Model.ActiveOnDryGoods) { categories.Add("Dry Goods"); }

    var aisles = ViewBag.Aisles as List<NuIngredient.Models.AisleViewModel>;
    var aisleNames = aisles.Select(x => x.Name).ToList();

}

<section id="dashboard-entry-box">

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="header-dashboard-banner">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div id="dashboard-entry">
                    <div class="header-box"><h1>Hello @User.Identity.GetCompanyName()</h1></div>
                    <div class="account-no"><h2>Your Account No: <strong>@Model.AccountNo</strong></h2></div>
                    @if (aisleNames.Contains("Milk"))
                    {
                        if (Model.ActiveOnMilk || Model.AskingForMilkSupplier)
                        {
                            @Html.ActionLink("Go to Fresh Milk Aisle", "Index", "Milk", null, new { @class = "btn btn-blue" })
                        }
                        else
                        {
                            @Html.ActionLink("Activate Milk Aisle Today", "Index", "Milk", null, new { @class = "btn btn-blue" })
                            @*@Html.ActionLink("Activate Milk Aisle Today", "Index", "Milk", new { }, new { @class = "blink" })*@
                        }
                    }
                    @if (aisleNames.Contains("Fruit"))
                    {
                        if (Model.ActiveOnFruit || Model.AskingForFruitSupplier)
                        {
                            @Html.ActionLink("Go to Fresh Fruit Aisle", "Index", "Fruits", null, new { @class = "btn btn-blue" })
                        }
                        else
                        {
                            @Html.ActionLink("Activate Fruit Aisle Today", "Index", "Fruits", null, new { @class = "btn btn-blue" })
                        }
                    }
                    @if (aisleNames.Contains("Dry Goods"))
                    {
                        if (Model.ActiveOnDryGoods || Model.AskingForDryGoodsSupplier)
                        {
                            @Html.ActionLink("Go to Dry Goods Aisle", "Aisle", "Products", new { id = "Dry Goods" }, new { @class = "btn btn-blue" })
                        }
                        else
                        {
                            @Html.ActionLink("Activate Dry Goods Aisle Today", "Aisle", "Products", new { id = "Dry Goods" }, new { @class = "btn btn-blue" })
                        }
                    }
                </div>
            </div>
            <div class="col-xs-4 col-sm-2 dashboard-entry-comments">
                <form action="">
                    @if (Model.ActiveOnMilk)
                    {
                        @Html.Kendo().RadioButton().Name("MilkFeedback").Value(NuIngredient.Models.FeedbackTypeValues.Milk).Label("Milk").HtmlAttributes(new { @name = "FeedbackType", @onclick = "ChangeFeedbackType()" })<br />
                    }
                    @if (Model.ActiveOnFruit)
                    {
                        @Html.Kendo().RadioButton().Name("FruitFeedback").Value(NuIngredient.Models.FeedbackTypeValues.Fruits).Label("Fruits").HtmlAttributes(new { @name = "FeedbackType", @onclick = "ChangeFeedbackType()" })<br />
                    }
                    @if (Model.ActiveOnDryGoods)
                    {
                        @Html.Kendo().RadioButton().Name("DryGoodsFeedback").Value(NuIngredient.Models.FeedbackTypeValues.DryGoods).Label("Dry Goods").HtmlAttributes(new { @name = "FeedbackType", @onclick = "ChangeFeedbackType()" })
                        <div id="DryGoodsOrderSection" style="display: none;">
                            @(Html.Kendo().DropDownList().Name("DropDownDryGoodsOrderNo").OptionLabel("Select ...").DataTextField("Name").DataValueField("ID").DataSource(dataSource => dataSource.Read("DropDownCompanyDryGoodsOrders", "Dropdowns")).HtmlAttributes(new { @style = "width: 180px;" }))
                        </div>
                        <br />
                    }
                    @Html.Kendo().RadioButton().Name("OtherFeedback").Value(NuIngredient.Models.FeedbackTypeValues.Others).Label("Other").Checked(true).HtmlAttributes(new { @name = "FeedbackType", @onclick = "ChangeFeedbackType()" })
                </form>
            </div>
            <div class="col-xs-8 col-sm-6 dashboard-entry-comments">
                @Html.TextArea("Feedback", "", 2, 90, new { @class = "form-control", placeholder = "Please leave your feedback here", style="max-width: none;" })
                <div class="text-center">
                    <div class="btn btn-primary btn-sm" style="margin-top:5px;" onclick="SubmitFeedBack()">Submit</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="order-area">
    <div class="container">
        @if (Model.ActiveOnFruit)
        {
            @Html.Action("_FruitOrderPanel")
        }
    </div>
    <div class="container">
        @if (Model.ActiveOnMilk)
        {
            @Html.Action("_MilkOrderPanel")
        }
    </div>
</section>

@*<div class="row">
    <div class="col-md-12">
        @if (Model.ActiveOnFruit)
            {
            @Html.Action("_FruitOrderPanel")
        }
        @if (Model.ActiveOnMilk)
            {
            @Html.Action("_MilkOrderPanel")
        }
    </div>
</div>*@



<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_Edit" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 800px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="Edit_Body"></div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Modal" role="dialog" style="z-index:2000">
    <div class="modal-dialog" >
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center;"><img src="~/Content/og-logo-order-banner.png" style="height: 30px;" /></h4>
                
            </div>
            <div class="modal-body">
                    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<style>
    .row-equal [class="col-md-4"]:nth-child(3n+1) {
        clear: left;
    }
    .panel-body {
        padding: 0px;
    }
    .table {
        margin-bottom: 0px;
    }

</style>

<script>
    function SubmitFeedBack() {
        var message = $('#Feedback').val();
        var type = $('input[name="FeedbackType"]:checked').val();
        var dryGoodsOrderID = $('#DropDownDryGoodsOrderNo').data('kendoDropDownList').value();

        if (message == "") {
            return alert("Please leave your feedback");
        }

        if (type == '@NuIngredient.Models.FeedbackTypeValues.DryGoods')
        {
            if (dryGoodsOrderID == "")
            {
                if (!confirm("You didn't select an order number, are you sure you want to send the feedback?"))
                    return false;
            }
        }

        $.ajax({
            url: '/Feedbacks/Feedback',
            type: 'POST',
            data: {
                message: message,
                type: type,
                dryGoodsOrderID: dryGoodsOrderID
            },
            success: function (response) {
                $('#Feedback').val('');
                alert(response.Message);
            },
            beforeSend: AjaxBegin,
            complete: AjaxComplete
        })
    }

    function ChangeFeedbackType() {
        var type = $('input[name="FeedbackType"]:checked').val();
        if (type == '@NuIngredient.Models.FeedbackTypeValues.DryGoods')
            $('#DryGoodsOrderSection').show();
        else
            $('#DryGoodsOrderSection').hide();
    }

    function AskForDryGoodsSupplier() {
        if (!confirm("Set up your dry goods account?")) return false;
        $.ajax({
            url: '/Companies/AskForDryGoodsSupplier',
            type: 'POST',
            success: function (response) {
                alert("Office Groceries are currently setting up your Dry Goods account.\nPlease allow up to 6 working days from initial enquiry for your account to be set up.\nOffice Groceries will e- mail you once ready and confirm your 1st delivery day.");
                location.reload();
            }
        })
    }

    @if (!string.IsNullOrWhiteSpace(Model.Message))
    {
        <text>
            var content = $('<textarea />').html('@Model.Message').text();
            $('#Modal .modal-body').html(content);
            $('#Modal').modal('show');
        </text>
    }
</script>



