﻿@model NuIngredient.Models.ProspectViewModel
@{
    ViewBag.Title = "Contact Details";
}

<div id="divProspectDetail">
    @using (Ajax.BeginForm("_SendQuote", "Prospects", new AjaxOptions { UpdateTargetId = "divProspectDetail", OnSuccess = "OnSendQuoteSuccess", OnBegin = "AjaxBegin", OnComplete = "AjaxComplete" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ID)
        <div class="row text-center" style="margin:0px; padding:0px;">

            @Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control input-sm", style = "margin: 0 auto;" })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            <br />

            @Html.LabelFor(m => m.LastName)
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control input-sm", style = "margin: 0 auto;" })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            <br />

            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-sm", style = "margin: 0 auto;" })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            <br />

            @Html.LabelFor(m => m.Phone)
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control input-sm", style = "margin: 0 auto;" })
            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            <br />

            @Html.LabelFor(m => m.CompanyName)
            @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control input-sm", style = "margin: 0 auto;" })
            @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
            <br />

            <input type="submit" class="btn btn-primary center-block" value="Send Me the Quote" />
        </div>
    }
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $.validator.unobtrusive.parse("#divProspectDetail > form");
    });

    function OnSendQuoteSuccess(response) {
        if (response.success) {
            if (response.message != null) {
                alert(response.message);
            }
            $('#Modal_Prospect').modal('toggle');
            $('#Modal').modal('toggle');
        }
    }
</script>