﻿@model NuIngredient.Models.FruitOrderHeaderViewModel

<script>
    function PreKendoGridDatabound(e) {
        // Disable edit
        e.sender.table.find('.k-grid-edit').hide();

        // Hide the table if there's no complaints
        if (e.sender.dataSource.total() == 0) {
            $('#GridFruitOrderFeedback').hide();
        }
        else {
            $('#GridFruitOrderFeedback').show();
        }

        KendoGridDatabound(e);
    }
</script>

<div class="btn btn-xs btn-info" style="margin-bottom:5px;" onclick="$('#GridFruitOrderFeedback').data('kendoGrid').addRow();">Leave feedback</div>
@(Html.Kendo().Grid<NuIngredient.Models.FruitOrderFeedbackViewModel>()
            .Name("GridFruitOrderFeedback")
            .Columns(columns =>
            {
                columns.Bound(m => m.ID).Hidden();
                columns.Bound(m => m.Created).Title("Timestamp").ClientTemplate("<div class='label label-info'>#=kendo.toString(Created, 'dd-MM-yyyy HH:mm:ss')#</div>").Width("1%");
                columns.Bound(m => m.Message).Title("Message");
                columns.Bound(m => m.ComplaintantName).Title("Name").Width("10%");
                columns.Command(commands => commands.Edit()
                                                    .Text("<span class='glyphicon glyphicon-edit glyphicon-btn'></span>")
                                                    .UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn'/>")
                                                    .CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn'/>")
                ).Width("90px");
            })
            .Editable(editable => editable.CreateAt(GridInsertRowPosition.Bottom))
            .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(m => m.ID);
                        model.Field(m => m.Created).Editable(false).DefaultValue(DateTime.Now);
                        model.Field(m => m.Message).Editable(true);
                        model.Field(m => m.ComplaintantName).Editable(false);
                        model.Field(m => m.FruitOrderHeaderID).Editable(false).DefaultValue(Model.ID);
                    })
                    .Read(read => read.Action("ReadByOrderID", "FruitOrderFeedbackGrid", new { fruitOrderHeaderID = Model.ID }))
                    .Create(create => create.Action("Create", "FruitOrderFeedbackGrid"))
                    .Update(update => update.Action("Update", "FruitOrderFeedbackGrid"))
            )
            .Pageable()
            //.Events(events => events.DataBound("KendoGridDatabound"))
            .Events(events => events.DataBound("PreKendoGridDatabound"))
            .HtmlAttributes(new { @style = "display:none" })
)
