﻿@using NuIngredient.Models
@model NuIngredient.Models.FruitOrderRowPageViewModel

@foreach (NuIngredient.Models.FruitOrderViewModel item in Model.FruitOrders)

{
    <div class="row order-products fruit" id="@item.ID" data-id="@item.ID" data-fruitid="@item.FruitID" data-price="@item.Price" data-vat="@item.VATRate" data-subtotal="@item.WeeklyTotal" data-volume="@item.WeeklyVolume">
        <div class="col-xs-4 col-sm-offset-0 col-sm-1" id="product-name-info">
            <p id="product-name">@item.ProductName</p>
        </div>
        <div class="col-xs-3 col-sm-1" id="product-unit-info">
            <div class="numeric-input">
                <p id="product-unit">@item.Unit</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-1 input-days">
            <div class="numeric-input">
                @if (Model.IsAvailableDay(OgDayOfWeek.Monday, item.ProductType))
                {
                    <span class="glyphicon glyphicon-triangle-top numeric-up"></span>
                    <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-monday-val" name="monday-val" class="form-control weekday-val" value="@(item.Monday != 0 ? item.Monday.ToString() : "")"/>
                    <span class="glyphicon glyphicon-triangle-bottom numeric-down"></span>
                }
                else
                {
                    <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-monday-val" name="monday-val" style="margin-top:17px;" class="form-control weekday-val" value="@(item.Monday != 0 ? item.Monday.ToString() : "")" disabled/>
                }
            </div>
        </div>
        <div class="col-xs-12 col-sm-1 input-days">
            <div class="numeric-input">
                @if (Model.IsAvailableDay(OgDayOfWeek.Tuesday, item.ProductType))
                {
                    <span class="glyphicon glyphicon-triangle-top numeric-up"></span>
                    <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-tuesday-val" name="tuesday-val" class="form-control weekday-val" value="@(item.Tuesday != 0 ? item.Tuesday.ToString() : "")" />
                    <span class="glyphicon glyphicon-triangle-bottom numeric-down"></span>
                }
                else
                {
                    <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-tuesday-val" name="tuesday-val" style="margin-top:17px;" class="form-control weekday-val" value="@(item.Tuesday != 0 ? item.Tuesday.ToString() : "")" disabled />
                }
            </div>
        </div>
        <div class="col-xs-12 col-sm-1 input-days">
            <div class="numeric-input">
                @if (Model.IsAvailableDay(OgDayOfWeek.Wednesday, item.ProductType))
                {
                    <span class="glyphicon glyphicon-triangle-top numeric-up"></span>
                    <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-wednesday-val" name="wednesday-val" class="form-control weekday-val" value="@(item.Wednesday != 0 ? item.Wednesday.ToString() : "")"/>
                    <span class="glyphicon glyphicon-triangle-bottom numeric-down"></span>
                }
                else
                {
                    <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-wednesday-val" name="wednesday-val" style="margin-top:17px;" class="form-control weekday-val" value="@(item.Wednesday != 0 ? item.Wednesday.ToString() : "")" disabled/>
                }
            </div>
        </div>
        <div class="col-xs-12 col-sm-1 input-days">
            <div class="numeric-input">
                @if (Model.IsAvailableDay(OgDayOfWeek.Thursday, item.ProductType))
                {
                    <span class="glyphicon glyphicon-triangle-top numeric-up"></span>
                    <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-thursday-val" name="thursday-val" class="form-control weekday-val" value="@(item.Thursday != 0 ? item.Thursday.ToString() : "")"/>
                    <span class="glyphicon glyphicon-triangle-bottom numeric-down"></span>
                }
                else
                {
                    <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-thursday-val" name="thursday-val" style="margin-top:17px;" class="form-control weekday-val" value="@(item.Thursday != 0 ? item.Thursday.ToString() : "")" disabled/>
                }
            </div>
        </div>
        <div class="col-xs-12 col-sm-1 input-days">
            <div class="numeric-input">
                @if (Model.IsAvailableDay(OgDayOfWeek.Friday, item.ProductType))
                {
                    <span class="glyphicon glyphicon-triangle-top numeric-up"></span>
                    <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-friday-val" name="friday-val" class="form-control weekday-val" value="@(item.Friday != 0 ? item.Friday.ToString() : "")" />
                    <span class="glyphicon glyphicon-triangle-bottom numeric-down"></span>
                }
                else
                {
                    <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-friday-val" name="friday-val" style="margin-top:17px;" class="form-control weekday-val" value="@(item.Friday != 0 ? item.Friday.ToString() : "")" disabled />
                }
            </div>
        </div>
        <div class="col-xs-12 col-sm-1 input-days">
            <div class="numeric-input">
                @if (Model.IsAvailableDay(OgDayOfWeek.Saturday, item.ProductType))
                {
                    <span class="glyphicon glyphicon-triangle-top numeric-up"></span>
                    <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-saturday-val" name="saturday-val" class="form-control weekday-val" value="@(item.Saturday != 0 ? item.Saturday.ToString() : "")"/>
                    <span class="glyphicon glyphicon-triangle-bottom numeric-down"></span>
                }
                else
                {
                    <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-saturday-val" name="saturday-val" style="margin-top:17px;" class="form-control weekday-val" value="@(item.Saturday != 0 ? item.Saturday.ToString() : "")" disabled/>
                }
            </div>
        </div>
        <div class="col-xs-12 col-sm-1" id="cost-per-prouct">
            <div class="numeric-input">
                <p class="row-price">@item.Price.ToString("C")</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-1" id="product-quantity">
            <div class="numeric-input">
                <p class="row-quantity">@item.WeeklyVolume</p>
            </div>
        </div>
        <div class="col-xs-3 col-sm-1" id="total-cost">
            <div class="numeric-input">
                <p class="row-total">@item.WeeklyTotal.ToString("C")</p>
            </div>
        </div>
        <div class="col-xs-1 col-sm-1" id="remove-can">
            <a href="#" onclick="DeleteFruitRow('@item.ID'); return false;"><i class="fa fa-trash"></i></a>
        </div>
        <div class="col-xs-12 hidden-sm hidden-md hidden-lg more-info-load">
            <a href="javascript:void(0)" class="expand-info">
                <p class="more-intro">View order details</p>
                <div class="col-xs-12 expanded-content no-padding">
                    <div class="col-xs-6 week-days">
                        <p>Monday</p>
                    </div>
                    <div class="col-xs-6 input-days">
                        <div class="numeric-input">
                            <span class="glyphicon glyphicon-triangle-top numeric-up"></span>
                            <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-monday-val-mobile" name="monday-val" class="form-control weekday-val" value="@(item.Monday != 0 ? item.Monday.ToString() : "")" />
                            <span class="glyphicon glyphicon-triangle-bottom numeric-down"></span>
                        </div>
                    </div>
                    <div class="col-xs-6 week-days">
                        <p>Tuesday</p>
                    </div>
                    <div class="col-xs-6 input-days">
                        <div class="numeric-input">
                            <span class="glyphicon glyphicon-triangle-top numeric-up"></span>
                            <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-tuesday-val-mobile" name="tuesday-val" class="form-control weekday-val" value="@(item.Tuesday != 0 ? item.Tuesday.ToString() : "")" />
                            <span class="glyphicon glyphicon-triangle-bottom numeric-down"></span>
                        </div>
                    </div>
                    <div class="col-xs-6 week-days">
                        <p>Wednesday</p>
                    </div>
                    <div class="col-xs-6 input-days">
                        <div class="numeric-input">
                            <span class="glyphicon glyphicon-triangle-top numeric-up"></span>
                            <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-wednesday-val-mobile" name="wednesday-val" class="form-control weekday-val" value="@(item.Wednesday != 0 ? item.Wednesday.ToString() : "")" />
                            <span class="glyphicon glyphicon-triangle-bottom numeric-down"></span>
                        </div>
                    </div>
                    <div class="col-xs-6 week-days">
                        <p>Thursday</p>
                    </div>
                    <div class="col-xs-6 input-days">
                        <div class="numeric-input">
                            <span class="glyphicon glyphicon-triangle-top numeric-up"></span>
                            <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-thursday-val-mobile" name="thursday-val" class="form-control weekday-val" value="@(item.Thursday != 0 ? item.Thursday.ToString() : "")" />
                            <span class="glyphicon glyphicon-triangle-bottom numeric-down"></span>
                        </div>
                    </div>
                    <div class="col-xs-6 week-days">
                        <p>Friday</p>
                    </div>
                    <div class="col-xs-6 input-days">
                        <div class="numeric-input">
                            <span class="glyphicon glyphicon-triangle-top numeric-up"></span>
                            <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-friday-val-mobile" name="friday-val" class="form-control weekday-val" value="@(item.Friday != 0 ? item.Friday.ToString() : "")" />
                            <span class="glyphicon glyphicon-triangle-bottom numeric-down"></span>
                        </div>
                    </div>
                    <div class="col-xs-6 week-days">
                        <p>Saturday</p>
                    </div>
                    <div class="col-xs-6 input-days">
                        <div class="numeric-input">
                            <span class="glyphicon glyphicon-triangle-top numeric-up"></span>
                            <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-saturday-val-mobile" name="saturday-val" class="form-control weekday-val" value="@(item.Saturday != 0 ? item.Saturday.ToString() : "")" />
                            <span class="glyphicon glyphicon-triangle-bottom numeric-down"></span>
                        </div>
                    </div>
                    <div class="col-xs-6" id="@item.ID-product-cost-mobile">
                        <p>Cost</p>
                    </div>
                    <div class="col-xs-6" id="cost-per-prouct-mobile">
                        <p class="row-price">@item.Price.ToString("C")</p>
                    </div>
                    <div class="col-xs-6" id="weekly-volume-mobile">
                        <p>Weekly Volume</p>
                    </div>
                    <div class="col-xs-6" id="product-quantity-mobile">
                        <p class="row-quantity">@item.WeeklyVolume</p>
                    </div>
                    <div class="col-xs-6" id="weekly-total-mobile">
                        <p>Weekly Total</p>
                    </div>
                    <div class="col-xs-6" id="total-cost-mobile">
                        <p class="row-total">@item.WeeklyTotal.ToString("C")</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <script>
        $("#@item.ID-monday-val").on("change", function () {
            $("#@item.ID-monday-val-mobile").val(this.value);
        });
        $("#@item.ID-monday-val-mobile").on("change", function () {
            $("#@item.ID-monday-val").val(this.value);
        });
        $("#@item.ID-tuesday-val").on("change", function () {
            $("#@item.ID-tuesday-val-mobile").val(this.value);
        });
        $("#@item.ID-tuesday-val-mobile").on("change", function () {
            $("#@item.ID-tuesday-val").val(this.value);
        });
        $("#@item.ID-wednesday-val").on("change", function () {
            $("#@item.ID-wednesday-val-mobile").val(this.value);
        });
        $("#@item.ID-wednesday-val-mobile").on("change", function () {
            $("#@item.ID-wednesday-val").val(this.value);
        });
        $("#@item.ID-thursday-val").on("change", function () {
            $("#@item.ID-thursday-val-mobile").val(this.value);
        });
        $("#@item.ID-thursday-val-mobile").on("change", function () {
            $("#@item.ID-thursday-val").val(this.value);
        });
        $("#@item.ID-friday-val").on("change", function () {
            $("#@item.ID-friday-val-mobile").val(this.value);
        });
        $("#@item.ID-friday-val-mobile").on("change", function () {
            $("#@item.ID-friday-val").val(this.value);
        });
        $("#@item.ID-saturday-val").on("change", function () {
            $("#@item.ID-saturday-val-mobile").val(this.value);
        });
        $("#@item.ID-saturday-val-mobile").on("change", function () {
            $("#@item.ID-saturday-val").val(this.value);
        });
    </script>
}