﻿@using Microsoft.AspNet.Identity
@using NuIngredient.Models
@model NuIngredient.Models.FruitWeeklyOrderPageViewModel


<div class="row">
    <div class="col-xs-12">
        <h1>Your Weekly Order</h1>
    </div>
</div>

    @if (!Model.HasFruitSupplier)
    {
    }
    @if (!Model.LiveOnFruit && !Model.LiveOnSnack)
    {
        if (Model.HasFruitSupplier && !Model.LiveOnFruit) // Fruit supplier programmed but not live yet
        {
            <h5 style="color:red;" class="regular">Products Delivered From @Model.StartDate.ToString("dd/MM/yyyy")</h5>
        }
        else if (Model.HasSnackSupplier && !Model.LiveOnSnack) // Snack supplier programmed but not live yet
        {
            <h5 style="color:red;" class="regular">Products Delivered From @Model.SnackStartDate.ToString("dd/MM/yyyy")</h5>
        }
    }

    @if (!string.IsNullOrWhiteSpace(Model.IntermittentDeliveryMessage))
    {
        <h5 class="regular">@Model.IntermittentDeliveryMessage</h5>
    }

    <div class="order-table fruit-order-area">
        <div class="row" id="order-headers">
            <div class="col-xs-4 col-sm-offset-0 col-sm-1" id="product-name-header">
                <p>Product</p>
            </div>
            <div class="col-xs-3 col-sm-1" id="product-unit">
                <p>Unit</p>
            </div>
            <div class="col-xs-12 col-sm-1 week-days">
                <p>
                    Mon
                    @if (Model.Enables[0] && Model.SnackEnables[0])
                    {
                        <span class="btn-clear-qty glyphicon glyphicon-remove" style="cursor:pointer;" title="Clear all day" onclick="ClearFruitQty('monday')"></span>
                    }
                </p>
            </div>
            <div class="col-xs-12 col-sm-1 week-days">
                <p>
                    Tue
                    @if (Model.Enables[1] && Model.SnackEnables[1])
                    {
                        <span class="btn-clear-qty glyphicon glyphicon-remove" style="cursor:pointer;" title="Clear all day" onclick="ClearFruitQty('tuesday')"></span>
                    }
                </p>
            </div>
            <div class="col-xs-12 col-sm-1 week-days">
                <p>
                    Wed
                    @if (Model.Enables[2] && Model.SnackEnables[2])
                    {
                        <span class="btn-clear-qty glyphicon glyphicon-remove" style="cursor:pointer;" title="Clear all day" onclick="ClearFruitQty('wednesday')"></span>
                    }
                </p>
            </div>
            <div class="col-xs-12 col-sm-1 week-days">
                <p>
                    Thu
                    @if (Model.Enables[3] && Model.SnackEnables[3])
                    {
                        <span class="btn-clear-qty glyphicon glyphicon-remove" style="cursor:pointer;" title="Clear all day" onclick="ClearFruitQty('thursday')"></span>
                    }
                </p>
            </div>
            <div class="col-xs-12 col-sm-1 week-days">
                <p>
                    Fri
                    @if (Model.Enables[4] && Model.SnackEnables[4])
                    {
                        <span class="btn-clear-qty glyphicon glyphicon-remove" style="cursor:pointer;" title="Clear all day" onclick="ClearFruitQty('friday')"></span>
                    }
                </p>
            </div>
            <div class="col-xs-12 col-sm-1 week-days">
                <p>
                    Sat
                    @if (Model.Enables[5] && Model.SnackEnables[5])
                    {
                        <span class="btn-clear-qty glyphicon glyphicon-remove" style="cursor:pointer;" title="Clear all day" onclick="ClearFruitQty('saturday')"></span>
                    }
                </p>
            </div>
            <div class="col-xs-12 col-sm-1" id="product-cost">
                <p>Cost</p>
            </div>
            <div class="col-xs-12 col-sm-1" id="weekly-volume">
                <p>Weekly Volume</p>
            </div>
            <div class="col-xs-3 col-sm-1" id="weekly-total">
                <p>Weekly Total</p>
            </div>
        </div>
        @foreach (NuIngredient.Models.FruitOrderViewModel item in Model.FruitOrders)
        {
            <div class="row order-products fruit" id="@item.ID" data-id="@item.ID" data-fruitid="@item.FruitID" data-price="@item.Price" data-vat="@item.VATRate" data-subtotal="@item.WeeklyTotal" data-volume="@item.WeeklyVolume">
                <div class="col-xs-4 col-sm-offset-0 col-sm-1" id="product-name-info">
                    <p id="product-name">@item.ProductName</p>
                </div>
                <div class="col-xs-3 col-sm-1" id="product-unit-info">
                    <div class="numeric-input">
                        <p id="product-unit">@item.Unit</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-1 input-days hidden-xs">
                    <div class="numeric-input">
                        @if (Model.IsAvailableDay(OgDayOfWeek.Monday, item.ProductType))
                        {
                            <span class="glyphicon glyphicon-triangle-top numeric-up"></span>
                            <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-monday-val" name="monday-val" class="form-control weekday-val" value="@(item.Monday != 0 ? item.Monday.ToString() : "")"/>
                            <span class="glyphicon glyphicon-triangle-bottom numeric-down"></span>
                        }
                        else
                        {
                            <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-monday-val" name="monday-val" style="margin-top:17px;" class="form-control weekday-val" value="@(item.Monday != 0 ? item.Monday.ToString() : "")" disabled/>
                        }
                    </div>
                </div>
                <div class="col-xs-12 col-sm-1 input-days hidden-xs">
                    <div class="numeric-input">
                        @if (Model.IsAvailableDay(OgDayOfWeek.Tuesday, item.ProductType))
                        {
                            <span class="glyphicon glyphicon-triangle-top numeric-up"></span>
                            <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-tuesday-val" name="tuesday-val" class="form-control weekday-val" value="@(item.Tuesday != 0 ? item.Tuesday.ToString() : "")" />
                            <span class="glyphicon glyphicon-triangle-bottom numeric-down"></span>
                        }
                        else
                        {
                            <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-tuesday-val" name="tuesday-val" style="margin-top:17px;" class="form-control weekday-val" value="@(item.Tuesday != 0 ? item.Tuesday.ToString() : "")" disabled />
                        }
                    </div>
                </div>
                <div class="col-xs-12 col-sm-1 input-days hidden-xs">
                    <div class="numeric-input">
                        @if (Model.IsAvailableDay(OgDayOfWeek.Wednesday, item.ProductType))
                        {
                            <span class="glyphicon glyphicon-triangle-top numeric-up"></span>
                            <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-wednesday-val" name="wednesday-val" class="form-control weekday-val" value="@(item.Wednesday != 0 ? item.Wednesday.ToString() : "")" />
                            <span class="glyphicon glyphicon-triangle-bottom numeric-down"></span>
                        }
                        else
                        {
                            <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-wednesday-val" name="wednesday-val" style="margin-top:17px;" class="form-control weekday-val" value="@(item.Wednesday != 0 ? item.Wednesday.ToString() : "")" disabled />
                        }
                    </div>
                </div>
                <div class="col-xs-12 col-sm-1 input-days hidden-xs">
                    <div class="numeric-input">
                        @if (Model.IsAvailableDay(OgDayOfWeek.Thursday, item.ProductType))
                        {
                            <span class="glyphicon glyphicon-triangle-top numeric-up"></span>
                            <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-thursday-val" name="thursday-val" class="form-control weekday-val" value="@(item.Thursday != 0 ? item.Thursday.ToString() : "")" />
                            <span class="glyphicon glyphicon-triangle-bottom numeric-down"></span>
                        }
                        else
                        {
                            <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-thursday-val" name="thursday-val" style="margin-top:17px;" class="form-control weekday-val" value="@(item.Thursday != 0 ? item.Thursday.ToString() : "")" disabled />
                        }
                    </div>
                </div>
                <div class="col-xs-12 col-sm-1 input-days hidden-xs">
                    <div class="numeric-input">
                        @if (Model.IsAvailableDay(OgDayOfWeek.Friday, item.ProductType))
                        {
                            <span class="glyphicon glyphicon-triangle-top numeric-up"></span>
                            <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-friday-val" name="friday-val" class="form-control weekday-val" value="@(item.Friday != 0 ? item.Friday.ToString() : "")" />
                            <span class="glyphicon glyphicon-triangle-bottom numeric-down"></span>
                        }
                        else
                        {
                            <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-friday-val" name="friday-val" style="margin-top:17px;" class="form-control weekday-val" value="@(item.Friday != 0 ? item.Friday.ToString() : "")" disabled />
                        }
                    </div>
                </div>
                <div class="col-xs-12 col-sm-1 input-days hidden-xs">
                    <div class="numeric-input">
                        @if (Model.IsAvailableDay(OgDayOfWeek.Saturday, item.ProductType))
                        {
                            <span class="glyphicon glyphicon-triangle-top numeric-up"></span>
                            <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-saturday-val" name="saturday-val" class="form-control weekday-val" value="@(item.Saturday != 0 ? item.Saturday.ToString() : "")" />
                            <span class="glyphicon glyphicon-triangle-bottom numeric-down"></span>
                        }
                        else
                        {
                            <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-saturday-val" name="saturday-val" style="margin-top:17px;" class="form-control weekday-val" value="@(item.Saturday != 0 ? item.Saturday.ToString() : "")" disabled />
                        }
                    </div>
                </div>
                <div class="col-xs-12 col-sm-1" id="cost-per-prouct">
                    <div class="numeric-input">
                        <p class="row-price">@item.Price.ToString("C")</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-1" id="product-quantity">
                    <div class="numeric-input">
                        <p class="row-quantity">@item.WeeklyVolume</p>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-1" id="total-cost">
                    <div class="numeric-input">
                        <p class="row-total">@item.WeeklyTotal.ToString("C")</p>
                    </div>
                </div>
                <div class="col-xs-1 col-sm-1" id="remove-can">
                    <a href="#" onclick="DeleteFruitRow('@item.ID'); return false;"><i class="fa fa-trash"></i></a>
                </div>
                <div class="col-xs-12 hidden-sm hidden-md hidden-lg more-info-load">
                    <a href="javascript:void(0)" class="expand-info">
                        <p class="more-intro">View order details</p>
                        <div class="col-xs-12 expanded-content no-padding">
                            <hr />
                            <div class="col-xs-6 week-days">
                                <p>Monday</p>
                            </div>
                            <div class="col-xs-6 input-days">
                                <div class="numeric-input">
                                    <span class="glyphicon glyphicon-triangle-top numeric-up"></span>
                                    <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-monday-val-mobile" name="monday-val" class="form-control weekday-val" value="@(item.Monday != 0 ? item.Monday.ToString() : "")" />
                                    <span class="glyphicon glyphicon-triangle-bottom numeric-down"></span>
                                </div>
                            </div>
                            <div class="col-xs-6 week-days">
                                <p>Tuesday</p>
                            </div>
                            <div class="col-xs-6 input-days">
                                <div class="numeric-input">
                                    <span class="glyphicon glyphicon-triangle-top numeric-up"></span>
                                    <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-tuesday-val-mobile" name="tuesday-val" class="form-control weekday-val" value="@(item.Tuesday != 0 ? item.Tuesday.ToString() : "")" />
                                    <span class="glyphicon glyphicon-triangle-bottom numeric-down"></span>
                                </div>
                            </div>
                            <div class="col-xs-6 week-days">
                                <p>Wednesday</p>
                            </div>
                            <div class="col-xs-6 input-days">
                                <div class="numeric-input">
                                    <span class="glyphicon glyphicon-triangle-top numeric-up"></span>
                                    <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-wednesday-val-mobile" name="wednesday-val" class="form-control weekday-val" value="@(item.Wednesday != 0 ? item.Wednesday.ToString() : "")" />
                                    <span class="glyphicon glyphicon-triangle-bottom numeric-down"></span>
                                </div>
                            </div>
                            <div class="col-xs-6 week-days">
                                <p>Thursday</p>
                            </div>
                            <div class="col-xs-6 input-days">
                                <div class="numeric-input">
                                    <span class="glyphicon glyphicon-triangle-top numeric-up"></span>
                                    <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-thursday-val-mobile" name="thursday-val" class="form-control weekday-val" value="@(item.Thursday != 0 ? item.Thursday.ToString() : "")" />
                                    <span class="glyphicon glyphicon-triangle-bottom numeric-down"></span>
                                </div>
                            </div>
                            <div class="col-xs-6 week-days">
                                <p>Friday</p>
                            </div>
                            <div class="col-xs-6 input-days">
                                <div class="numeric-input">
                                    <span class="glyphicon glyphicon-triangle-top numeric-up"></span>
                                    <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-friday-val-mobile" name="friday-val" class="form-control weekday-val" value="@(item.Friday != 0 ? item.Friday.ToString() : "")" />
                                    <span class="glyphicon glyphicon-triangle-bottom numeric-down"></span>
                                </div>
                            </div>
                            <div class="col-xs-6 week-days">
                                <p>Saturday</p>
                            </div>
                            <div class="col-xs-6 input-days">
                                <div class="numeric-input">
                                    <span class="glyphicon glyphicon-triangle-top numeric-up"></span>
                                    <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-saturday-val-mobile" name="saturday-val" class="form-control" value="@(item.Saturday != 0 ? item.Saturday.ToString() : "")" />
                                    <span class="glyphicon glyphicon-triangle-bottom numeric-down"></span>
                                </div>
                            </div>
                            <div class="col-xs-6" id="@item.ID-product-cost-mobile">
                                <p>Cost</p>
                            </div>
                            <div class="col-xs-6" id="cost-per-prouct-mobile">
                                <p class="row-price">@item.Price.ToString("C")</p>
                            </div>
                            <div class="col-xs-6" id="weekly-volume-mobile">
                                <p>Weekly Volume</p>
                            </div>
                            <div class="col-xs-6" id="product-quantity-mobile">
                                <p class="row-quantity">@item.WeeklyVolume</p>
                            </div>
                            <div class="col-xs-6" id="weekly-total-mobile">
                                <p>Weekly Total</p>
                            </div>
                            <div class="col-xs-6" id="total-cost-mobile">
                                <p class="row-total">@item.WeeklyTotal.ToString("C")</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <script>
                $("#@item.ID-monday-val").on("change", function () {
                    $("#@item.ID-monday-val-mobile").val(this.value);
                });
                $("#@item.ID-monday-val-mobile").on("change", function () {
                    $("#@item.ID-monday-val").val(this.value);
                });
                $("#@item.ID-tuesday-val").on("change", function () {
                    $("#@item.ID-tuesday-val-mobile").val(this.value);
                });
                $("#@item.ID-tuesday-val-mobile").on("change", function () {
                    $("#@item.ID-tuesday-val").val(this.value);
                });
                $("#@item.ID-wednesday-val").on("change", function () {
                    $("#@item.ID-wednesday-val-mobile").val(this.value);
                });
                $("#@item.ID-wednesday-val-mobile").on("change", function () {
                    $("#@item.ID-wednesday-val").val(this.value);
                });
                $("#@item.ID-thursday-val").on("change", function () {
                    $("#@item.ID-thursday-val-mobile").val(this.value);
                });
                $("#@item.ID-thursday-val-mobile").on("change", function () {
                    $("#@item.ID-thursday-val").val(this.value);
                });
                $("#@item.ID-friday-val").on("change", function () {
                    $("#@item.ID-friday-val-mobile").val(this.value);
                });
                $("#@item.ID-friday-val-mobile").on("change", function () {
                    $("#@item.ID-friday-val").val(this.value);
                });
                $("#@item.ID-saturday-val").on("change", function () {
                    $("#@item.ID-saturday-val-mobile").val(this.value);
                });
                $("#@item.ID-saturday-val-mobile").on("change", function () {
                    $("#@item.ID-saturday-val").val(this.value);
                });
            </script>
        }
        <div class="row row-grand">
            <div class="hidden-xs col-sm-offset-9 col-sm-1">
                <div class="numeric-input">
                    <p class="grand-total-volume"></p>
                </div>
            </div>
            <div class="col-xs-offset-7 col-xs-3 col-sm-offset-0 col-sm-1">
                <div class="numeric-input">
                    <p class="grand-total-price"></p>
                </div>
            </div>
        </div>
        <div class="row row-send-quote-btn">
            <div class="col-xs-12">
                <div class="button-area">
                    @if (Model.OrderMode == NuIngredient.Models.OrderMode.Draft)
                    {
                        <div onclick="SaveFruitOrders(false, 'Draft')" class="btn btn-sm btn-info">Save</div>
                        @*<a href="javascript:void(0)" onclick="SaveFruitOrders(false, 'Draft')"><img src="/Views/CMS/Content/Media/Save (OG button).png" class="save-button" /></a>*@
                        if (Model.IsCustomer)
                        {
                            <div onclick="SaveFruitOrders(false, 'Draft', false, true)" class="btn btn-sm btn-success" title="Save & Send Emails to the Customer">Save & Send to C</div>
                            @*<a href="javascript:void(0)" onclick="SaveFruitOrders(false, 'Draft', false, true)"><img src="/Views/CMS/Content/Media/Save & Send.png" class="save-button" /></a>*@
                        }
                    }
                    else if (Model.OrderMode == NuIngredient.Models.OrderMode.Regular)
                    {
                        @*<div onclick="SaveFruitOrders(true, 'Regular', false, false, false)" class="btn btn-sm btn-info">Save</div>*@
                        <div onclick="SaveFruitOrders(true, 'Regular')" class="btn btn-sm btn-warning" title="Save & Send Emails to the Supplier & Customer">Save & Send to S&C</div>
                        <div onclick="SaveFruitOrders(true, 'Regular', false, false, false, true)" class="btn btn-sm btn-success" title="Save & Send Emails to the Supplier">Save & Send to S</div>

                        @*<a href="javascript:void(0)" onclick="SaveFruitOrders(true, 'Regular')" title="Save & Send Emails"><img src="/Views/CMS/Content/Media/Save_Submit (OG button).png" class="save-button" /></a>*@
                        @*<a href="javascript:void(0)" onclick="SaveFruitOrders(true, 'Regular', false, false, false)" title="Save"><img src="/Views/CMS/Content/Media/Save (OG button).png" class="save-button" /></a>*@
                    }
                    else if (Model.OrderMode == NuIngredient.Models.OrderMode.OneOff)
                    {
                        @*<div onclick="SaveFruitOrders(true, 'OneOff', false, false, false)" class="btn btn-sm btn-info">Save</div>*@
                        <div onclick="SaveFruitOrders(true, 'OneOff')" class="btn btn-sm btn-warning" title="Save & Send Emails to the Supplier & Customer">Save & Send to S&C</div>
                        <div onclick="SaveFruitOrders(true, 'OneOff', false, false, false, true)" class="btn btn-sm btn-success" title="Save & Send Emails to the Supplier">Save & Send to S</div>

                        @*<a href="javascript:void(0)" onclick="SaveFruitOrders(true, 'OneOff')"><img src="/Views/CMS/Content/Media/Save_Submit (OG button).png" class="save-button" /></a>*@
                    }
                </div>
            </div>
        </div>
    </div>

<div id="SavedMessage" style="text-align: center; display:none;">
    <strong style="color:red;">Orders Saved!</strong>
</div>


<style>

    .btn-clear-qty {
        display: none;
    }

    .week-days:hover .btn-clear-qty {
        display: inline-block;
    }

    tr th {
        color: #d8a120;
    }

    .expanded-content {
        display: none;
    }

    .button-area {
        text-align: center;
    }
</style>

<script>
    //$('.expanded-content').hide();
    //$('.more-info-load .expand-info').click(function () {
    //    $('.more-info-load').removeClass('col-xs-1');
    //    $('.more-info-load').addClass('col-xs-12 no-padding');
    //    var moreContent = $(this).find('.expanded-content');
    //    $(moreContent).show();
    //    var plusIcon = $(this).find('.more-intro');
    //    $(plusIcon).hide();
    //    $('.more-intro').css('padding-left', '15px');
    //});

    $('html').on('click', '.more-info-load .expand-info', function () {
        $('.more-info-load').removeClass('col-xs-1');
        $('.more-info-load').addClass('col-xs-12 no-padding');
        var moreContent = $(this).find('.expanded-content');
        $(moreContent).show();
        var plusIcon = $(this).find('.more-intro');
        $(plusIcon).hide();
        $('.more-intro').css('padding-left', '15px');
    });
</script>