﻿@model NuIngredient.Controllers.PerformanceReportViewModel

<div class="panel panel-info">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-8 col-sm-3">
                <label class="h5">Requested Customers:</label>
            </div>
            <div class="col-xs-4 col-sm-9">
                <label class="h5">@Model.CountRequestedCustomers</label>
            </div>
            <div class="col-xs-12"></div>
            <div class="col-xs-8 col-sm-3">
                <label class="h5">New Prospects:</label>
            </div>
            <div class="col-xs-4 col-sm-9">
                <label class="h5">@Model.CountNewProspects</label>
            </div>
            <div class="col-xs-12"></div>
            <div class="col-xs-8 col-sm-3">
                <label class="h5">Prospect Success Rate (PSR):</label>
            </div>
            <div class="col-xs-4 col-sm-9">
                <label class="h5">@Model.ProspectSuccessRate.ToString("P2")</label>
            </div>
            <div class="col-xs-12"></div>
            <div class="col-xs-8 col-sm-3">
                <label class="h5">New Live Customers:</label>
            </div>
            <div class="col-xs-4 col-sm-9">
                <label class="h5">@Model.CountNewLiveCustomers</label>
            </div>
            <div class="col-xs-12"></div>
            <div class="col-xs-8 col-sm-3">
                <label class="h5">Live Success Rate:</label>
            </div>
            <div class="col-xs-4 col-sm-9">
                <label class="h5">@Model.LiveSuccessRate.ToString("P2")</label>
            </div>
            @* <div class="col-xs-12"></div> *@
            @* <div class="col-xs-8 col-sm-3"> *@
            @*     <label class="h5" style="font-weight: lighter; font-style: italic; color: grey;">Live Success Rate (OLD):</label> *@
            @* </div> *@
            @* <div class="col-xs-4 col-sm-9"> *@
            @*     <label class="h5" style="font-weight: lighter; font-style: italic; color: grey;">@Model.OldLiveSuccessRate.ToString("P2")</label> *@
            @* </div> *@
            <div class="col-xs-12"></div>
            <div class="col-xs-8 col-sm-3">
                <label class="h5">Average Milk Sale Per New Customer:</label>
            </div>
            <div class="col-xs-4 col-sm-9">
                <label class="h5">£@Model.AvgMilkSalePerNewCustomer.ToString("F2")</label>
            </div>
            <div class="col-xs-12"></div>
            <div class="col-xs-8 col-sm-3">
                <label class="h5">Average Fruit Sale Per New Customer:</label>
            </div>
            <div class="col-xs-4 col-sm-9">
                <label class="h5">£@Model.AvgFruitSalePerNewCustomer.ToString("F2")</label>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading cursor-pointer" onclick="$(this).next().slideToggle()">
        <label class="h5">Requested Customers</label>
    </div>
    <div class="panel-body" style="display: none;">
        @(
            Html.Kendo().Grid(Model.RequestedCustomers)
                .Name("GridRequestedCustomers")
                .Columns(columns =>
                {
                    columns.Bound(c => c.Name).Title("Customer Name").ClientTemplate("<a href='/Companies/Index/#=CustomerID#' target='_blank'>#=Name#</a>");
                    columns.Bound(c => c.FruitSale).ClientTemplate("#if(FruitSale > 0){# #=kendo.toString(FruitSale, '£\\#,0.00')# #}#").Width("10%");
                    columns.Bound(c => c.MilkSale).ClientTemplate("#if(MilkSale > 0){# #=kendo.toString(MilkSale, '£\\#,0.00')# #}#").Width("10%");
                    columns.Bound(c => c.SignupDate).Format("{0:dd/MM/yyyy}").Width("10%");
                })
                .DataSource(dataSource => dataSource 
                    .Ajax()
                    .PageSize(20)
                    .ServerOperation(false)        
                )
                .Filterable()
                .Sortable()
                .Pageable()
            )
    </div>
</div>


<div class="panel panel-info">
    <div class="panel-heading cursor-pointer" onclick="$(this).next().slideToggle()">
        <label class="h5">Live Customers</label>
    </div>
    <div class="panel-body" style="display: none;">
        @(
            Html.Kendo().Grid(Model.LiveCustomers)
                .Name("GridLiveCustomers")
                .Columns(columns =>
                {
                    columns.Bound(c => c.Name).Title("Customer Name").ClientTemplate("<a href='/Companies/Index/#=CustomerID#' target='_blank'>#=Name#</a>");
                    columns.Bound(c => c.Type).Width("10%");
                    columns.Bound(c => c.SignUpDate).Format("{0:dd/MM/yyyy}").Width("10%");
                    columns.Bound(c => c.StartDate).Format("{0:dd/MM/yyyy}").Width("10%");
                })
                .DataSource(dataSource => dataSource 
                    .Ajax()
                    .PageSize(20)
                    .ServerOperation(false)        
                )
                .Filterable()
                .Sortable()
                .Pageable()
            )
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-8 col-sm-3">
                <label class="h5">Cancelled Contracts:</label>
            </div>
            <div class="col-xs-4 col-sm-9">
                <label class="h5">@Model.CountCancelledContracts</label>
            </div>
            <div class="col-xs-8 col-sm-3">
                <label class="h5">Top Cancelled Suppliers:</label>
            </div>
            <div class="col-xs-4 col-sm-9">
                <table class="table" style="width:70%">
                    <tr>
                        <th style="width:50%">Supplier</th>
                        <th style="width:25%">Count</th>
                        <th style="width:25%">Percentage</th>
                    </tr>
                    @for (var i = 0; i < 3 && i < Model.CancelledSuppliers.Count; i++)
                    {
                        var item = Model.CancelledSuppliers[i];
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Count</td>
                            <td>@item.Percentage.ToString("P")</td>
                        </tr>
                    }
                </table>
            </div>
            <div class="col-xs-12"></div>
            <div class="col-xs-8 col-sm-3">
                <label class="h5">Customer Loss Rate (CLR):</label>
            </div>
            <div class="col-xs-4 col-sm-9">
                <label class="h5">@Model.CustomerLostRate.ToString("P2")</label>
            </div>
            <div class="col-xs-12"></div>
            <div class="col-xs-8 col-sm-3">
                <label class="h5">Zero Contracts:</label>
            </div>
            <div class="col-xs-4 col-sm-9">
                <label class="h5">@Model.CountZeroContracts</label>
            </div>
            <div class="col-xs-8 col-sm-3">
                <label class="h5">Top Zeroed Suppliers:</label>
            </div>
            <div class="col-xs-4 col-sm-9">
                <table class="table" style="width:70%">
                    <tr>
                        <th style="width:50%">Supplier</th>
                        <th style="width:25%">Count</th>
                        <th style="width:25%">Percentage</th>
                    </tr>
                    @for (var i = 0; i < 3 && i < Model.ZeroedSuppliers.Count; i++)
                    {
                        var item = Model.ZeroedSuppliers[i];
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Count</td>
                            <td>@item.Percentage.ToString("P")</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>


<div class="panel panel-info">
    <div class="panel-heading cursor-pointer" onclick="$(this).next().slideToggle()">
        <label class="h5">Cancelled Contracts</label>
    </div>
    <div class="panel-body" style="display: none;">
        @(
    Html.Kendo().Grid(Model.CancelledContracts)
        .Name("GridCancelledContracts")
        .Columns(columns =>
        {
            columns.Bound(c => c.CustomerName).ClientTemplate("<a href='/Companies/Index/#=CustomerID#' target='_blank'>#=CustomerName#</a>");
            columns.Bound(c => c.SupplierName).Width("20%");
            columns.Bound(c => c.Type).Width("10%");
            columns.Bound(c => c.EndDate).Format("{0:dd/MM/yyyy}").Width("10%");
        })   
        .DataSource(dataSource => dataSource        
            .Ajax()
            .PageSize(20)
            .ServerOperation(false)        
        )
        .Filterable()
        .Sortable()
        .Pageable()
            )
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading cursor-pointer" onclick="$(this).next().slideToggle()">
        <label class="h5">Zero Contracts</label>
    </div>
    <div class="panel-body" style="display: none;">
        @(
            Html.Kendo().Grid(Model.ZeroContracts)
                .Name("GridZeroContracts")
                .Columns(columns =>
                {
                    columns.Bound(c => c.CustomerName).ClientTemplate("<a href='/Companies/Index/#=CustomerID#' target='_blank'>#=CustomerName#</a>");
                    columns.Bound(c => c.SupplierName).Width("20%");
                    columns.Bound(c => c.Type).Width("10%");
                    columns.Bound(c => c.UpdatedDate).Format("{0:dd/MM/yyyy}").Width("10%");
                })   
                .DataSource(dataSource => dataSource        
                    .Ajax()
                    .PageSize(20)
                    .ServerOperation(false)        
                )
                .Filterable()
                .Sortable()
                .Pageable()
            )
    </div>
</div>

<style>
    .cursor-pointer {
        cursor: pointer;
    }
</style>