@model NuIngredient.Models.ChangeUserPasswordViewModel
@{
    ViewBag.Title = "Change User Password";
}

<div id="divEdit">
    <div class="bg-secondary text-white text-center pt-4 pb-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Reset User Account Password</h1>
                    <h2 class="h5">(@Model.Email)</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white pt-3 pb-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="d-flex">
                        <a class="btn btn-primary mb-3 text-white rounded-0 ml-auto" href="/Users/ManageAccount" role="button">Back</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="p-4 mb-2 bg-light text-dark">
                        @if (ViewBag.SuccessMessage != null)
                        {
                            <div class="alert alert-success">
                                @ViewBag.SuccessMessage
                            </div>
                        }
                        @if (ViewBag.ErrorMessage != null)
                        {
                            <div class="alert alert-danger">
                                <strong>Error:</strong> @ViewBag.ErrorMessage
                            </div>
                        }
                        @using (Ajax.BeginForm("ChangePassword", "Users", new AjaxOptions { UpdateTargetId = "divEdit" }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ID)
                            @Html.HiddenFor(model => model.Email)
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", placeholder="New Password" })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", placeholder="Confirm New Password" })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                                
                                <div class="form-group col-md-6 ml-auto">
                                    <button type="submit" class="btn btn-success btn-lg btn-block rounded-0">Reset</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
