@model NuIngredient.Models.NewUserViewModel
@{
    ViewBag.Title = "Create New User";
}

<div class="bg-secondary text-white text-center pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Create New User Account</h1>
                <h2 class="h5">Enter the details of the new user.</h2>
            </div>
        </div>
    </div>
</div>

<div class="bg-white pt-3 pb-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="d-flex">
                    <a class="btn btn-primary mb-3 text-white rounded-0 ml-auto" href="/Users/ManageAccount" role="button">Back</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="p-4 mb-2 bg-light text-dark">
                    @using (Html.BeginForm("Create", "Users", null, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })             
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", @placeholder="First Name" })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-6">
                                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", @placeholder="Last Name" })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-6">
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", @placeholder="Email", @type="email" })
                            </div>
                            <div class="form-group col-md-6">
                                @(Html.Kendo().DropDownListFor(model => model.Role)
                                    .DataTextField("Name")
                                    .DataValueField("Name")
                                    .DataSource(source => { source.Read(read => { read.Action("DropDownRoles", "Users"); }); })
                                    .AutoBind(true)
                                    .HtmlAttributes(new { style = "width: 100%; max-width: none;" })
                                    .Deferred()
                                )
                            </div>
                            <div class="form-group col-md-6">
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", placeholder="New Password" })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-6">
                                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", placeholder="Confirm New Password" })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-6">
                                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", placeholder="Phone Number" })
                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                            </div>
                            @if (User.IsInRole("Admin"))
                            { 
                                <div class="form-group col-md-6">
                                    @Html.Kendo().CheckBoxFor(m => m.AgreeToGetEmail).Label("I'm happy to receive offers/info from Office Groceries").Deferred()
                                </div>
                            }
                            <div class="form-group col-md-6">
                                <button type="submit" class="btn btn-success btn-lg btn-block rounded-0">Create User</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
