@model NuIngredient.Models.UserViewModel
@{
    ViewBag.Title = "Edit User Account";
}

<div id="divEdit">

    <div class="bg-secondary text-white text-center pt-4 pb-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>@ViewBag.Title</h1>
                    <h2 class="h5">@Model.FirstName @Model.LastName (@Model.Email)</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white pt-3 pb-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="d-flex">
                        <a class="btn btn-primary mb-3 text-white rounded-0 ml-auto" href="/Users/ManageAccount" role="button">Back</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="p-4 mb-2 bg-light text-dark">
                        @if (ViewBag.SuccessMessage != null)
                        {
                            <div class="alert alert-success">
                                @ViewBag.SuccessMessage
                            </div>
                        }
                        @if (ViewBag.ErrorMessage != null)
                        {
                            <div class="alert alert-danger">
                                <strong>Error:</strong> @ViewBag.ErrorMessage
                            </div>
                        }
                        @using (Ajax.BeginForm("Edit", "Users", new AjaxOptions { UpdateTargetId = "divEdit" }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ID)
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", @placeholder="First Name" })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", @placeholder="Last Name" })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", @placeholder="Email", @type="email" })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", placeholder="Phone Number" })
                                </div>
                                <div class="form-group col-md-6">
                                    @(Html.Kendo().DropDownListFor(model => model.Role)
                                        .DataTextField("Name")
                                        .DataValueField("Name")
                                        .DataSource(source => { source.Read(read => { read.Action("DropDownRoles", "Users"); }); })
                                        .AutoBind(true)
                                        .Value(Model.Role)
                                        .HtmlAttributes(new { style = "width: 100%; max-width: none;" })
                                        .Deferred()
                                    )
                                    @*<select class="custom-select custom-select-lg rounded-0 bg-white border-0 appearance-0">
                                        <option selected>Role</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>*@
                                </div>
                                <div class="form-group col-md-6">
                                    <div class="custom-control custom-checkbox">
                                        @if (Model.AgreeToGetEmails)
                                        {
                                            <p>If you would like to opt out of receiving our offer/information emails, please click here <a href="/Users/OptOut/@Model.ID" class="btn btn-sm btn-info" onclick="return confirm('Are you sure you don\'t want to get offers/info from Office-Groceries?')">Opt out</a></p>
                                            
                                        }
                                        else
                                        {
                                            <p>If you would like to opt in of receiving our offer/information emails, please click here <a href="/Users/OptIn/@Model.ID" class="btn btn-sm btn-warning" onclick="return confirm('Are you sure you want to get offers/info from Office-Groceries?')">Opt in</a></p>
                                            
                                        }
                                    </div>
                                </div>
                                
                                <div class="form-group col-md-6 ml-auto">
                                    <button type="submit" class="btn btn-success btn-lg btn-block rounded-0">Save Changes</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
