@model List<NuIngredient.Models.UserViewModel>
@{
    ViewBag.Title = "Manage My Account";
}

@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success">
        @ViewBag.SuccessMessage
    </div>
    <script>
        setTimeout(function () {
            $('.alert-success').hide();
        }, 5000);
    </script>
}
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        <strong>Error:</strong> @ViewBag.ErrorMessage
    </div>
    <script>
        setTimeout(function () {
            $('.alert-danger').hide();
        }, 5000);
    </script>
}

<div class="bg-secondary text-white text-center pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Manage Your Account.</h1>
            </div>
        </div>
    </div>
</div>

<div class="bg-white pt-5 pb-5">
    <div class="container">
        @if (User.IsInRole("Admin") || User.IsInRole("User"))
        {
            <div class="row">
                <div class="col mb-3">
                    <button type="button" onclick="_EditCustomerDetails()" class="btn btn-success btn-block-m rounded-0 mr-1 mb-2 mb-md-0">Edit Delivery Details</button>
                    <a type="button" href="/Users/Create" class="btn btn-primary btn-block-m text-white rounded-0">Create New User</a>
                </div>
            </div>
        }
        <div class="row">
            <div class="col">
                <div class="bg-light p-3 pt-4">
                    <div class="col">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <thead>
                                    <tr class="bg-secondary text-white">
                                        <th scope="col">Email</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Role</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var user in Model)
                                    {
                                        <tr class="table-secondary">
                                            <td class="text-nowrap">@user.Email</td>
                                            <td class="text-nowrap">@user.FirstName</td>
                                            <td class="text-nowrap">@user.LastName</td>
                                            <td class="text-nowrap">@user.Role</td>
                                            <td><a class="btn btn-success rounded-0 text-nowrap" href="/Users/Edit/@user.ID">Edit</a></td>
                                            <td><a class="btn btn-success rounded-0 text-nowrap" href="/Users/ChangePassword/@user.ID">Reset Password</a></td>
                                            <td><a class="btn btn-success rounded-0 text-nowrap" href="/Users/Destroy/@user.ID">Delete</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_Edit" class="panel panel-default" style="background-color: #fff; z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 800px; display: none;">
    <div class="panel-body">
        <div id="Edit_Body"></div>
    </div>
</div>
<script>

    function _EditCustomerDetails() {
        var url = '@Url.Action("_EditCustomerDetails", "CustomerSettings")';
        $("#Edit_Body").load(url);

        $("#SlideContent_Edit").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_Edit").css("display", "block");
        $("#Button_Close_Content").css("display", "block");
    }

</script>
