﻿@model NuIngredient.Models.Prospect

<script>
    function OnFruitQuotesRequestEnd(e) {
        if (e.response.Total == 0) {
            $('.panel-fruit').hide();
        }
    }

    function OnMilkQuotesRequestEnd(e) {
        if (e.response.Total == 0) {
            $('.panel-milk').hide();
        }
    }
    
    function OnOneOffQuotesRequestEnd(e) {
        if (e.response.Total == 0) {
            $('.panel-oneoff').hide();
        }
    }
</script>

<div class="row" id="Quotes">
    <div class="col-sm-12">
        <div class="panel panel-info panel-fruit">
            <div class="panel-heading" onclick="$(this).siblings('.panel-body').slideToggle();">
                Fruit Order Quote
            </div>
            <div class="panel-body">
                @(Html.Kendo().Grid<NuIngredient.Models.FruitOrderViewModel>()
                    .Name("GridFruitQuotes")
                    .Columns(columns =>
                    {
                        columns.Bound(f => f.ID).Hidden();
                        columns.Bound(f => f.ImageUrl).Title("").ClientTemplate("<img name=\"Image\" src=\"#=ImageUrl#\" style=\"height: 50px; width: 50px;\" />");
                        columns.Bound(f => f.ProductName).Title("Product");
                        columns.Bound(f => f.Unit).Title("Unit");
                        columns.Bound(f => f.Monday).Title("Mon").ClientTemplate("#if (Monday != 0){# #=Monday# #} #");
                        columns.Bound(f => f.Tuesday).Title("Tue").ClientTemplate("#if (Tuesday != 0){# #=Tuesday# #} #");
                        columns.Bound(f => f.Wednesday).Title("Wed").ClientTemplate("#if (Wednesday != 0){# #=Wednesday# #} #");
                        columns.Bound(f => f.Thursday).Title("Thu").ClientTemplate("#if (Thursday != 0){# #=Thursday# #} #");
                        columns.Bound(f => f.Friday).Title("Fri").ClientTemplate("#if (Friday != 0){# #=Friday# #} #");
                        columns.Bound(f => f.Saturday).Title("Sat").ClientTemplate("#if (Saturday != 0){# #=Saturday# #} #");
                        columns.Bound(f => f.Sunday).Title("Sun").ClientTemplate("#if (Sunday != 0){# #=Sunday# #} #");
                        columns.Bound(f => f.Price).Title("Cost").ClientTemplate("#=kendo.toString(Price, 'C')#");
                        columns.Bound(f => f.WeeklyVolume).Title("Weekly Volume");
                        columns.Bound(f => f.WeeklyTotal).Title("Weekly Total").ClientTemplate("#=kendo.toString(WeeklyTotal, 'C')#").ClientFooterTemplate("#=kendo.toString(sum, 'C')#");
                    })
                    .DataSource(dataSource => dataSource
                            .Ajax()
                            .Aggregates(agg =>
                            {
                                agg.Add(m => m.WeeklyTotal).Sum();
                            })
                            .Read(read => read.Action("ReadProspectQuotes", "FruitOrdersGrid", new { prospectToken = Model.ProspectToken }))
                            .Events(events => events.RequestEnd("OnFruitQuotesRequestEnd"))
                    )
                )
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="panel panel-info panel-milk">
            <div class="panel-heading" onclick="$(this).siblings('.panel-body').slideToggle();">
                Milk Order Quote
            </div>
            <div class="panel-body">
                @(Html.Kendo().Grid<NuIngredient.Models.MilkOrderViewModel>()
                    .Name("GridMilkQuotes")
                    .Columns(columns =>
                    {
                        columns.Bound(f => f.ID).Hidden();
                        columns.Bound(f => f.ImageUrl).Title("").ClientTemplate("<img name=\"Image\" src=\"#=ImageUrl#\" style=\"height: 50px; width: 50px;\" />");
                        columns.Bound(f => f.ProductName).Title("Product");
                        columns.Bound(f => f.Unit).Title("Unit");
                        columns.Bound(f => f.Monday).Title("Mon").ClientTemplate("#if (Monday != 0){# #=Monday# #} #");
                        columns.Bound(f => f.Tuesday).Title("Tue").ClientTemplate("#if (Tuesday != 0){# #=Tuesday# #} #");
                        columns.Bound(f => f.Wednesday).Title("Wed").ClientTemplate("#if (Wednesday != 0){# #=Wednesday# #} #");
                        columns.Bound(f => f.Thursday).Title("Thu").ClientTemplate("#if (Thursday != 0){# #=Thursday# #} #");
                        columns.Bound(f => f.Friday).Title("Fri").ClientTemplate("#if (Friday != 0){# #=Friday# #} #");
                        columns.Bound(f => f.Saturday).Title("Sat").ClientTemplate("#if (Saturday != 0){# #=Saturday# #} #");
                        columns.Bound(f => f.Sunday).Title("Sun").ClientTemplate("#if (Sunday != 0){# #=Sunday# #} #");
                        columns.Bound(f => f.Price).Title("Cost").ClientTemplate("#=kendo.toString(Price, 'C')#");
                        columns.Bound(f => f.WeeklyVolume).Title("Weekly Volume");
                        columns.Bound(f => f.WeeklyTotal).Title("Weekly Total").ClientTemplate("#=kendo.toString(WeeklyTotal, 'C')#").ClientFooterTemplate("#=kendo.toString(sum, 'C')#");
                    })
                    .DataSource(dataSource => dataSource
                            .Ajax()
                            .Aggregates(agg =>
                            {
                                agg.Add(m => m.WeeklyTotal).Sum();
                            })
                            .Read(read => read.Action("ReadProspectQuotes", "MilkOrdersGrid", new { prospectToken = Model.ProspectToken }))
                            .Events(events => events.RequestEnd("OnMilkQuotesRequestEnd"))
                    )
                )
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="panel panel-info panel-oneoff">
            <div class="panel-heading" onclick="$(this).siblings('.panel-body').slideToggle();">
                One-Off Order Quote
            </div>
            <div class="panel-body">
                @(Html.Kendo().Grid<NuIngredient.Models.ShoppingCartItemViewModel>()
                              .Name("GridOneOffQuotes")
                              .Columns(columns =>
                              {
                                  columns.Bound(f => f.ID).Hidden();
                                  columns.Bound(f => f.ImageURL).Title("").ClientTemplate("<img name=\"Image\" src=\"#=ImageURL#\" style=\"height: 50px; width: 50px;\" />");
                                  columns.Bound(f => f.ProductName).Title("Product");
                                  columns.Bound(f => f.Qty).Title("Qty");
                                  columns.Bound(f => f.ProductPrice).Title("Price").ClientTemplate("#=kendo.toString(ProductPrice, 'C')#");
                                  columns.Bound(f => f.TotalNet).Title("Net").ClientTemplate("#=kendo.toString(TotalNet, 'C')#").ClientFooterTemplate("#=kendo.toString(sum, 'C')#");
                                  columns.Bound(f => f.TotalVAT).Title("VAT").ClientTemplate("#=kendo.toString(TotalVAT, 'C')#").ClientFooterTemplate("#=kendo.toString(sum, 'C')#");
                                  columns.Bound(f => f.TotalGross).Title("Gross").ClientTemplate("#=kendo.toString(TotalGross, 'C')#").ClientFooterTemplate("#=kendo.toString(sum, 'C')#");
                              })
                              .DataSource(dataSource => dataSource
                                      .Ajax()
                                      .Aggregates(agg =>
                                      {
                                          agg.Add(m => m.TotalNet).Sum();
                                          agg.Add(m => m.TotalVAT).Sum();
                                          agg.Add(m => m.TotalGross).Sum();
                                      })
                                      .Read(read => read.Action("ReadProspectQuotes", "ShoppingCartGrid", new { prospectToken = Model.ProspectToken }))
                                      .Events(events => events.RequestEnd("OnOneOffQuotesRequestEnd"))
                              )
                )
            </div>
        </div>
    </div>
</div>

<style>
    #GridFruitQuotes .k-header, #GridFruitQuotes td {
        text-align: center;
        vertical-align: middle;
    }

    #Quotes .panel-body {
        padding: 0px;
    }

    #Quotes .panel-heading {
        text-align: center;
        cursor: pointer;
    }
</style>


