﻿@{
    ViewBag.Title = "Deleted Prospects & Enquiries";
}

<style>
    .div-inline {
        overflow: hidden;
        white-space: nowrap;
        text-align: center;
        align-items: center;
    }

    .wrapper-content {
        width: 100%;
        max-width: 2000px;
    }

    .k-grid-content, .k-grid-content-locked {
        height: auto !important;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h1 class="color-red">@ViewBag.Title</h1>
        </div>
        <div class="col-xs-6">
            <br />
            <div class="btn-group" style="float:right; margin-right:3px;">
                @*<button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-cloud-upload"></span>&nbsp;Import <span class="caret"></span>
                    </button>*@
            </div>
            @*<a class="btn btn-danger" style="float:right; margin-right:3px;" href="/Products/Deleted/"><span class="glyphicon glyphicon-trash"></span> &nbsp;Deleted Milk</a>*@
        </div>
        <div class="col-xs-12">
            <br />
        </div>
        <div class="col-xs-6">

        </div>
        <div class="col-xs-2">
            <br />
        </div>
        <div class="col-xs-4">
            <div class="input-group">
                @Html.TextBox("TB_Filter", null, new { @class = "form-control", @style = "max-width:none;", @placeholder = "Search by Company or Name" })
                <span class="input-group-btn">
                    <a class="btn btn-default" onclick="Refresh(); return false;"><span class="glyphicon glyphicon-search"></span></a>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>

        <div class="col-sm-12">
            <div style="display:inline-block; padding-left:5px; width:100%">
                <h2 class="color-red">Deleted Enquiries</h2>
                @(Html.Kendo().Grid<NuIngredient.Models.EnquiryGridViewModel>()
                    .Name("GridEnquiries")
                    .Columns(columns =>
                    {
                        columns.Template(@<text></text>).ClientTemplate("<a title='Restore' href='\\#' onclick='RestoreEnquiry(\"#=ID#\"); return false;'><span class='glyphicon glyphicon-share-alt glyphicon-btn'/></a>").Locked().Width(40);
                        columns.Command(command => command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn'/>")).Locked().Width(40);
                        columns.Bound(f => f.ID).Hidden();
                        columns.Bound(f => f.BusinessName).Title("Company Name").HeaderHtmlAttributes(new { @style = "vertical-align: middle" }).Locked().Width(150);//.Width("1%");
                        columns.Template(@<text></text>).Title("Name").ClientTemplate("#=FirstName# #=LastName#").HeaderHtmlAttributes(new { @style = "vertical-align: middle" }).Locked().Width(150);
                        columns.Bound(f => f.Email).Title("Email").HeaderHtmlAttributes(new { @style = "vertical-align: middle" }).Width(300);
                        columns.Bound(f => f.PhoneNumber).Title("Phone").HeaderHtmlAttributes(new { @style = "vertical-align: middle" }).Width(150);
                        columns.Bound(f => f.Postcode).Title("Postcode").HeaderHtmlAttributes(new { @style = "vertical-align: middle" }).Width(100);
                        columns.Group(g =>
                        {
                            g.Title("Interest of")
                             .HeaderHtmlAttributes(new { @style = "text-align: center" })
                             .Columns(c =>
                             {
                                 c.Bound(f => f.InterestOfMilk).Title("Milk").ClientTemplate("<i class='glyphicon #if(InterestOfMilk){#glyphicon-check#}else{#glyphicon-unchecked#}#'></i>").HtmlAttributes(new { @style = "text-align:center" }).Width(50);
                                 c.Bound(f => f.InterestOfFruits).Title("Fruits").ClientTemplate("<i class='glyphicon #if(InterestOfFruits){#glyphicon-check#}else{#glyphicon-unchecked#}#'></i>").HtmlAttributes(new { @style = "text-align:center" }).Width(50);
                                 c.Bound(f => f.InterestOfDryGoods).Title("Dry Goods").ClientTemplate("<i class='glyphicon #if(InterestOfDryGoods){#glyphicon-check#}else{#glyphicon-unchecked#}#'></i>").HtmlAttributes(new { @style = "text-align:center" }).Width(90);
                             });
                        });
                        columns.Bound(f => f.Note).Title("Note").HeaderHtmlAttributes(new { @style = "vertical-align: middle" }).Width(484);
                        columns.Bound(f => f.Timestamp).Title("Enquiry Time").ClientTemplate("#=kendo.toString(Timestamp, \"dd/MM/yyyy HH:mm\")#").HeaderHtmlAttributes(new { @style = "vertical-align: middle" }).Width(150);
                        columns.Bound(f => f.DateDeleted).Title("Date Deleted").Format("{0:dd/MM/yy HH:mm}").HeaderHtmlAttributes(new { @style = "vertical-align: middle" }).Width(150);
                    })
                    .Scrollable(scrollable => scrollable.Height("auto"))
                    .Editable(editable => editable.DisplayDeleteConfirmation("Are you sure you want to completely remove this enquiry?"))
                    .DataSource(dataSource => dataSource
                            .Ajax()
                            .Model(model =>
                            {
                                model.Id(m => m.ID);
                            })
                            .Read(read => read.Action("ReadDeleted", "EnquiriesGrid").Data("GetSearchInfo"))
                            .Destroy(destroy => destroy.Action("Destroy", "EnquiriesGrid"))
                    )
                    .Pageable(p => p.PageSizes(new[] { 10, 20, 50 }).Messages(m => m.Display("{0} - {1} of {2} Prospects").Empty("No Enquiries Found")))
                    .Events(events => events.DataBound("KendoGridDatabound"))
                )
                <br />
                <h2 class="color-red">Deleted Prospects</h2>
                @(Html.Kendo().Grid<NuIngredient.Models.ProspectGridViewModel>()
                    .Name("GridProspects")
                    .Columns(columns =>
                    {
                        columns.Template(@<text></text>).ClientTemplate("<a title='Restore' href='\\#' onclick='RestoreProspect(\"#=ID#\"); return false;'><span class='glyphicon glyphicon-share-alt glyphicon-btn'/></a>").Locked().Width(40);
                        columns.Command(command =>
                        {
                            command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn'/>");
                        }).Locked(true).Width("40px");
                        columns.Bound(f => f.ID).Hidden();
                        columns.Bound(f => f.CompanyName).Title("Company Name").Locked().Width(150);//.Width("1%");
                        columns.Bound(f => f.Name).Title("Name").Locked().Width(150);
                        columns.Bound(f => f.Email).Title("Email").Width(300);
                        columns.Bound(f => f.Phone).Title("Phone").Width(150);
                        columns.Bound(f => f.Postcode).Title("Postcode").Width(100);
                        columns.Bound(f => f.Note).Title("Note").EditorTemplateName("TextAreaTemplate").HtmlAttributes(new {@style="white-space: pre-line;"}).Width(604);
                        columns.Bound(f => f.Created).Title("Quote Time").ClientTemplate("#=kendo.toString(Created, \"dd/MM/yyyy HH:mm\")#").Width(150);
                        columns.Template(@<text></text>).Title("Quote").ClientTemplate("<a href='javascript:void(0)' onclick=\"ProspectQuote('#=ID#')\" title='Get Quotes'><span class='glyphicon glyphicon-th-list glyphicon-btn'/></a>").Width(70);
                        columns.Bound(f => f.DateDeleted).Title("Date Deleted").Format("{0:dd/MM/yy HH:mm}").Width(150);

                    })
                    .Scrollable(scrollable => scrollable.Height(500))
                    .Editable(editable => editable.Mode(GridEditMode.InLine).DisplayDeleteConfirmation("Are you sure you want to completely remove this prospect?"))
                    .DataSource(dataSource => dataSource
                            .Ajax()
                            .Model(model =>
                            {
                                model.Id(m => m.ID);
                                model.Field(m => m.Created).Editable(false);
                            })
                            .Read(read => read.Action("ReadDeleted", "ProspectsGrid").Data("GetSearchInfo"))
                            .Destroy(destroy => destroy.Action("Destroy", "ProspectsGrid"))
                    )
                    .Pageable(p => p.PageSizes(new[] { 10, 20, 50 }).Messages(m => m.Display("{0} - {1} of {2} Prospects").Empty("No Prospects Found")))
                    .Events(events => events.DataBound("KendoGridDatabound"))
                )
                
            </div>
        </div>
    </div>
</div>

<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_Edit" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 800px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="Edit_Body"></div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Modal" role="dialog" style="z-index:2000">
    <div class="modal-dialog" style="width:400px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center;">Supplier</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<script>

    function Refresh() {
        RefreshProspects();
        RefreshEnquiries();
    }

    function RefreshProspects() {
        $("#GridProspects").data("kendoGrid").dataSource.read();
    }

    function RefreshEnquiries() {
        $("#GridEnquiries").data("kendoGrid").dataSource.read();
    }

    function GetSearchInfo() {
        return {
            filterText: $('#TB_Filter').val()
            //dateType: $('#DropDownDate').val(),
            //fromDate: kendo.toString($("#DateFrom").data("kendoDatePicker").value(), 'dd/MM/yyyy'),
            //toDate: kendo.toString($("#DateTo").data("kendoDatePicker").value(), 'dd/MM/yyyy')
        }
    }

    $("#TB_Filter").keyup(function (e) {
        if (e.keyCode == 13) {
            Refresh();
        }
    });

    function DateChanged() {
        var id = $("#DropDownDate").data("kendoDropDownList").value();

        if (id == 3) { $("#div_CustomDateRange").show(); }
        else { $("#div_CustomDateRange").hide(); }

        Refresh();
    }

    function ProspectQuote(id) {
        $.ajax({
            url: '/ProspectManagement/_ProspectQuote',
            type: 'Get',
            data: {
                id: id
            },
            success: function (response) {
                $('#Modal .modal-title').html("Prospect Quote");
                $('#Modal .modal-dialog').css("width", "1000px");
                $('#Modal .modal-body').html(response);
                $('#Modal').modal('show');
            }
        })
    }

    function RestoreProspect(id) {
        if (!confirm("Restore this prospect?")) return;
        $.ajax({
            url: '/ProspectsGrid/Restore',
            type: 'POST',
            data: {
                id: id
            },
            success: function(response) {
                RefreshProspects();
            }
        });
    }

    function RestoreEnquiry(id) {
        if (!confirm("Restore this enquiry?")) return;
        $.ajax({
            url: '/EnquiriesGrid/Restore',
            type: 'POST',
            data: {
                id: id
            },
            success: function(response) {
                RefreshEnquiries();
            }
        });
    }
</script>