﻿@{
    ViewBag.Title = "Prospects & Enquiries";
}

<style>
    .div-inline {
        overflow: hidden;
        white-space: nowrap;
        text-align: center;
        align-items: center;
    }

    .wrapper-content {
        width: 100%;
        max-width: 2000px;
    }

    .k-grid-content, .k-grid-content-locked {
        height: auto !important;
    }
    
    .badge-email-count {
        font-size: 12px;
        bottom: -5px;
        right: -5px;
        padding: 1px 1px;
        position: absolute;
        background: #217dbb;
    }
    
    .display-inline-block {
        display: inline-block;
    }
    
    .display-none {
        display:  none;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-xs-6">
            <br />
            <div class="btn-group" style="float: right; margin-right: 3px;">
                @if (User.Identity.Name == "bustin@nu-ingredient.com" || User.Identity.Name == "developer@fruitfulgroup.com")
                {
                    <a class="btn btn-default" href="@Url.Action("Deleted")">Deleted</a>
                }
            </div>
            @*<a class="btn btn-danger" style="float:right; margin-right:3px;" href="/Products/Deleted/"><span class="glyphicon glyphicon-trash"></span> &nbsp;Deleted Milk</a>*@
        </div>
        <div class="col-xs-12">
            <br />
        </div>
        <div class="col-xs-6">

        </div>
        <div class="col-xs-2">
            <br />
        </div>
        <div class="col-xs-4">
            <div class="input-group">
                @Html.TextBox("TB_Filter", null, new { @class = "form-control", @style = "max-width:none;", @placeholder = "Search by Company or Name" })
                <span class="input-group-btn">
                    <a class="btn btn-default" onclick="Refresh(); return false;"><span class="glyphicon glyphicon-search"></span></a>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>


        <div id="divEdit" class="col-sm-12">
            <div class="pull-right">
                @Html.Kendo().CheckBox().Name("existingCustomer").Label("Show Existing Customer").HtmlAttributes(new { @onclick="Refresh()"})
            </div>
        </div>

        <div class="col-sm-12">
            <div style="display:inline-block; padding-left:5px; width:100%">
                <h2>Enquiries</h2>
                @(Html.Kendo().Grid<NuIngredient.Models.EnquiryGridViewModel>()
                    .Name("GridEnquiries")
                    .Columns(columns =>
                    {
                        columns.Bound(f => f.ID).Hidden();
                        columns.Bound(f => f.BusinessName).Title("Company Name").HeaderHtmlAttributes(new { @style = "vertical-align: middle" }).Locked().Width(150);//.Width("1%");
                        columns.Template(@<text></text>).Title("Name").ClientTemplate("#=FirstName# #=LastName#").HeaderHtmlAttributes(new { @style = "vertical-align: middle" }).Locked().Width(150);
                        columns.Bound(f => f.Email).Title("Email").HeaderHtmlAttributes(new { @style = "vertical-align: middle" }).Width(300);
                        columns.Bound(f => f.PhoneNumber).Title("Phone").HeaderHtmlAttributes(new { @style = "vertical-align: middle" }).Width(150);
                        columns.Bound(f => f.Postcode).Title("Postcode").HeaderHtmlAttributes(new { @style = "vertical-align: middle" }).Width(100);
                        columns.Group(g =>
                        {
                            g.Title("Interest of")
                             .HeaderHtmlAttributes(new { @style = "text-align: center" })
                             .Columns(c => 
                             {
                                 c.Bound(f => f.InterestOfMilk).Title("Milk").ClientTemplate("<i class='glyphicon #if(InterestOfMilk){#glyphicon-check#}else{#glyphicon-unchecked#}#'></i>").HtmlAttributes(new { @style = "text-align:center" }).Width(50);
                                 c.Bound(f => f.InterestOfFruits).Title("Fruits").ClientTemplate("<i class='glyphicon #if(InterestOfFruits){#glyphicon-check#}else{#glyphicon-unchecked#}#'></i>").HtmlAttributes(new { @style = "text-align:center" }).Width(50);
                                 c.Bound(f => f.InterestOfDryGoods).Title("Dry Goods").ClientTemplate("<i class='glyphicon #if(InterestOfDryGoods){#glyphicon-check#}else{#glyphicon-unchecked#}#'></i>").HtmlAttributes(new { @style = "text-align:center" }).Width(90);
                             });
                        });
                        columns.Bound(f => f.Note).Title("Note").EditorTemplateName("TextAreaTemplate").HtmlAttributes(new {@style="white-space: pre-line;"}).HeaderHtmlAttributes(new { @style = "vertical-align: middle" }).Width(614);
                        columns.Bound(f => f.Timestamp).Title("Enquiry Time").ClientTemplate("#=kendo.toString(Timestamp, \"dd/MM/yyyy HH:mm\")#").HeaderHtmlAttributes(new { @style = "vertical-align: middle" }).Width(150);
                        columns.Template(@<text></text>).ClientTemplate("<a href='javascript:void(0)' onclick=\"MoveToProspect('#=ID#')\" title='Move to prospect'><span class='glyphicon glyphicon-arrow-down glyphicon-btn'/></a>").Width(40).Locked();
                        columns.Command(command =>
                        {
                            command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                            command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn'/>");
                        }).Width("80px").Locked();
                    })
                    .Scrollable(scrollable => scrollable.Height("auto"))
                    .Editable(editable => editable.Mode(GridEditMode.InLine).DisplayDeleteConfirmation("Set this prospect as no go and remove all the assotiate quotes?"))
                    .DataSource(dataSource => dataSource
                            .Ajax()
                            .Model(model =>
                            {
                                model.Id(m => m.ID);
                                model.Field(m => m.InterestOfFruits).Editable(false);
                                model.Field(m => m.InterestOfMilk).Editable(false);
                                model.Field(m => m.InterestOfDryGoods).Editable(false);
                                model.Field(m => m.Timestamp).Editable(false);
                            })
                            .Read(read => read.Action("Read", "EnquiriesGrid").Data("GetSearchInfo"))
                            .Update(update => update.Action("Update", "EnquiriesGrid"))
                            .Destroy(destroy => destroy.Action("Delete", "EnquiriesGrid"))
                    )
                    .Pageable(p => p.PageSizes(new[] { 10, 20, 50 }).Messages(m => m.Display("{0} - {1} of {2} Prospects").Empty("No Enquiries Found")))
                    .Events(events => events.DataBound("KendoGridDatabound"))
                    .AutoBind(false)
                )
                <br />
                <div class="row">
                    <div class="col-xs-4">
                        <h2>Prospects</h2>
                    </div>
                    <div class="col-xs-8">
                        <div style="margin-top:20px;">
                            @(Html.Kendo().DropDownList()
                                .Name("DropDownDate")
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .Events(e => e.Change("DateChanged"))
                                .BindTo(new List<SelectListItem>()
                                {
                                    new SelectListItem() { Text = "All Time", Value = "0"},
                                    new SelectListItem() { Text = "This Month", Value = "1" },
                                    new SelectListItem() { Text = "Last Month", Value = "2" },
                                    new SelectListItem() { Text = "Custom Range", Value = "3" },
                                })
                                .Value("0")
                                .HtmlAttributes(new { style = "width: 230px; display:inline;" })
                                )
                            <div id="div_CustomDateRange" class="display-none">
                                <label>From:</label>
                                @(Html.Kendo().DatePicker()
                                    .Name("DateFrom")
                                    .HtmlAttributes(new { style = "width: 230px; display:inline-block;" })
                                    .Value(DateTime.Today)
                                    .Events(e => { e.Close("RefreshProspects"); })
                                    )
                                <label>To:</label>
                                @(Html.Kendo().DatePicker()
                                    .Name("DateTo")
                                    .HtmlAttributes(new { style = "width: 230px; display:inline-block;" })
                                    .Value(DateTime.Today)
                                    .Events(e => { e.Close("RefreshProspects"); })
                                    )
                            </div>
                            
                            <div class="pull-right text-danger" style="background-color:white; padding: 5px;">
                                <label>Total Value:</label>
                                <label id="label-total-value" style="font-weight:600; font-size: 17px;"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        @(Html.Kendo().Grid<NuIngredient.Models.ProspectGridViewModel>()
                            .Name("GridProspects")
                            .Columns(columns =>
                            {
                                columns.Bound(f => f.ID).Hidden();
                                columns.Bound(f => f.CompanyName).Title("Company Name").Locked().Width(150);//.Width("1%");
                                columns.Bound(f => f.Name).Title("Name").Locked().Width(150);
                                columns.Bound(f => f.Email).Title("Email").Width(300);
                                columns.Bound(f => f.Phone).Title("Phone").Width(150);
                                columns.Bound(f => f.Postcode).Title("Postcode").Width(100);
                                columns.Bound(f => f.TotalValue).Title("Value").Width(70);
                                columns.Bound(f => f.Note).Title("Note").EditorTemplateName("TextAreaTemplate").HtmlAttributes(new {@style="white-space: pre-line;"}).Width(500);
                                columns.Bound(f => f.Created).Title("Quote Time").ClientTemplate("#=kendo.toString(Created, \"dd/MM/yyyy HH:mm\")#").Width(150);
                                columns.Template(@<text></text>).Title("Quote").ClientTemplate("<a href='javascript:void(0)' onclick=\"ProspectQuote('#=ID#')\" title='Get Quotes'><span class='glyphicon glyphicon-th-list glyphicon-btn'/></a>").Locked().Width(55);

                                columns.Template(@<text></text>).ClientTemplate("#=RenderPromotionEmailButton(ID, CountPromotionEmail)#").Locked().Width(40);
                                columns.Template(@<text></text>).ClientTemplate("<img src='/Content/icons/grape.svg' style='height:20px; cursor: pointer;' title='Go to fruit standing order' onclick='GoToFruitOrder(\"#=ProspectToken#\"); return false;'>").Locked().Width(40);
                                columns.Template(@<text></text>).ClientTemplate("<img src='/Content/icons/milk-bottle.svg' style='height:20px; cursor: pointer;' title='Go to milk standing order' onclick='GoToMilkOrder(\"#=ProspectToken#\"); return false;'>").Locked().Width(40);
                            //columns.Template(@<text></text>).ClientTemplate("<img src='/Content/icons/coffee.svg' style='height:20px; cursor: pointer;' title='Go to fruit standing order' onclick='GoToDryGoods(\"#=ProspectToken#\"); return false;'>").Width("1%");

                                columns.Template(@<text></text>).ClientTemplate("#=RenderQuoteEmailButton(id, CountQuoteEmail)#").Locked().Width(40);
                                
                                columns.Template(@<text></text>).ClientTemplate("<a href='/Account/RegisterForProspect?prospectToken=#=ProspectToken#' title='Create Account'><span class='glyphicon glyphicon-plus glyphicon-btn'/></a>").Locked().Width(40);
                                columns.Command(command => {
                                    command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                                    command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn'/>");
                                }).Locked().Width("80px");
                            })
                            .Scrollable(scrollable => scrollable.Height(500))
                            .Editable(editable => editable.Mode(GridEditMode.InLine).DisplayDeleteConfirmation("Set this prospect as no go and remove all the assotiate quotes?"))
                            .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .Model(model =>
                                    {
                                        model.Id(m => m.ID);
                                        model.Field(m => m.Created).Editable(false);
                                    })
                                    .Update(update => update.Action("Update", "ProspectsGrid"))
                                    .Read(read => read.Action("Read", "ProspectsGrid").Data("GetSearchInfo")).PageSize(50)
                                    .Destroy(destroy => destroy.Action("Delete", "ProspectsGrid"))
                                    .Events(e => e.RequestEnd("UpdateTotalValue"))
                            )
                            .Pageable(p => p.PageSizes(new[] { 50, 100, 150 }).Messages(m => m.Display("{0} - {1} of {2} Prospects").Empty("No Prospects Found")))
                            .Events(events => events.DataBound("KendoGridDatabound"))
                            .AutoBind(false)
                        )
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_Edit" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 800px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="Edit_Body"></div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Modal" role="dialog" style="z-index:2000">
    <div class="modal-dialog" style="width:400px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center;">Supplier</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<script>

    $(document).ready(Refresh)

    function Refresh() {
        RefreshProspects();
        RefreshEnquiries();
    }
    
    function RefreshProspects() {
        $("#GridProspects").data("kendoGrid").dataSource.read();
    }
    
    function RefreshEnquiries() {
        $("#GridEnquiries").data("kendoGrid").dataSource.read();
    }

    function GetSearchInfo() {
        return {
            filterText: $('#TB_Filter').val(),
            dateType: $('#DropDownDate').val(),
            fromDate: kendo.toString($("#DateFrom").data("kendoDatePicker").value(), 'dd/MM/yyyy'),
            toDate: kendo.toString($("#DateTo").data("kendoDatePicker").value(), 'dd/MM/yyyy'),
            existingCustomer: $('#existingCustomer').is(':checked')
        }
    }

    function UpdateTotalValue(e) {
        if (e.type !== "read")
            return;

        $('#label-total-value').text(``);
        
        $.post('/ProspectsGrid/TotalProspectValue', GetSearchInfo(), function (response) {
            $('#label-total-value').text(`£${kendo.toString(parseFloat(response), 'n')}`);
        });
    }
    
    $("#TB_Filter").keyup(function (e) {
        if (e.keyCode == 13) {
            Refresh();
        }
    });

    function HideViews() {
        $("#SlideContent_Edit").animate({ width: '0%' }, { queue: false, duration: 300 });
        setTimeout(function () {
            $("#SlideContent_Edit").css("display", "none");
            $("#Button_Close_Content").css("display", "none");
            Refresh();
        }, 300);
    }

    function DateChanged() {
        var id = $("#DropDownDate").data("kendoDropDownList").value();

        if (id == 3) { $("#div_CustomDateRange").removeClass("display-none").addClass("display-inline-block"); }
        else { $("#div_CustomDateRange").removeClass("display-inline-block").addClass("display-none"); }

        RefreshProspects();
    }

    function ProspectQuote(id) {
        $.ajax({
            url: '/ProspectManagement/_ProspectQuote',
            type: 'Get',
            data: {
                id: id
            },
            success: function (response) {
                $('#Modal .modal-title').html("Prospect Quote");
                $('#Modal .modal-dialog').css("width", "1000px");
                $('#Modal .modal-body').html(response);
                $('#Modal').modal('show');
            }
        })
    }

    function SendQuoteMail(id) {
        if (!confirm("Send the quote mail to this prospect again?")) return;
        $.ajax({
            url: '/ProspectManagement/SendQuoteMail',
            type: 'POST',
            data: {
                id: id
            },
            success: function (response) {
                if (response.Status == "Success") {
                    alert(response.Message);
                    RefreshProspects();
                } else {
                    alert(response.Status);
                }
            }
        })
    }
    
    function SendPromotionalQuoteMail(id) {
        if (!confirm("Send the promotional quote mail to this prospect?")) return;
        $.ajax({
            url: '/ProspectManagement/SendPromotionalQuoteMail',
            type: 'POST',
            data: {
                id: id
            },
            success: function (response) {
                if (response.Status == "Success") {
                    alert(response.Message);
                    RefreshProspects();
                } else {
                    alert(response.Status);
                }
            }
        })
    }

    function GoToFruitOrder(prospectToken) {
        location.href = '/Fruits/Goto?prospectToken=' + prospectToken;
    }

    function GoToMilkOrder(prospectToken) {
        location.href = '/Milk/Goto?prospectToken=' + prospectToken;
    }

    function GoToDryGoods(prospectToken) {
        location.href = '/Products/Goto?prospectToken=' + prospectToken;
    }

    function MoveToProspect(id) {
        if (!confirm("Move this enquiry to prospect?")) return;
        $.ajax({
            url: '/ProspectManagement/MoveToProspect',
            type: 'POST',
            data: {
                id: id
            },
            success: function (response) {
                if (response.Status == "Success") {
                    Refresh();
                } else {
                    alert(response.Status);
                }
            }
        })
    }
    
    function RenderPromotionEmailButton(id, count) {
        let result = "";
        if (count === 0) {
            result = `<a href='javascript:void(0)' onclick="SendPromotionalQuoteMail('${id}')" title='Send the promotional quote mail'><span class='glyphicon glyphicon-envelope glyphicon-btn'/></a>`;
        } else {
            result = `<a href='javascript:void(0)' onclick="SendPromotionalQuoteMail('${id}')" title='Send the promotional quote mail (already sent ${count} emails)' class="position-relative"><span class='glyphicon glyphicon-envelope glyphicon-btn text-info'/><span class="badge badge-info badge-email-count">${count}</span></a>`;
        }
        return result;
    }
    
    function RenderQuoteEmailButton(id, count) {
            let result = "";
            if (count === 0) {
                result = `<a href='javascript:void(0)' onclick="SendQuoteMail('${id}')" title='Send the quote mail again'><span class='glyphicon glyphicon-envelope glyphicon-btn'/></a>`;
            } else {
                result = `<a href='javascript:void(0)' onclick="SendQuoteMail('${id}')" title='Send the quote mail again (already sent ${count} emails)' class="position-relative"><span class='glyphicon glyphicon-envelope glyphicon-btn text-info'/><span class="badge badge-info badge-email-count">${count}</span></a>`;
            }
            return result;
        }
</script>