﻿@model List<NuIngredient.Models.CartItemsBySuppliers>
<div class="row">
    <div class="col-xs-12">
        <h1>Your Dry Goods Quote</h1>
    </div>
</div>
<div class="row">
    @foreach (var cartItemsBySupplier in Model)
    {
        <div class="supplier-cart">
            <div class="panel panel-info">
                <div class="panel-heading">
                    @cartItemsBySupplier.Supplier.Label
                </div>

                <div class="panel-body">
                    <input type="hidden" class="supplier-minimum-value" value="@cartItemsBySupplier.Supplier.MinimumValue" />
                    <table id="Table_Cart" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="hidden-xs" style="width:50px;"></th>
                                <th style="text-align:center; vertical-align:middle;">Product</th>
                                <th class="hidden-xs" style="width:5%; text-align:center; vertical-align:middle;">Price</th>
                                <th style="width:7%; text-align:center; vertical-align:middle;">Qty</th>
                                <th class="hidden-xs" style="width:5%; text-align:center; vertical-align:middle;">Net</th>
                                <th class="hidden-xs" style="width:5%; text-align:center; vertical-align:middle;">VAT</th>
                                <th class="hidden-xs" style="width:5%; text-align:center; vertical-align:middle;">Gross</th>
                                <th style="width:45px; text-align:center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var cartItem in cartItemsBySupplier.CartItems)
                            {
                                <tr name="CartItem" data-productid="@cartItem.ProductID" data-price="@cartItem.ProductPrice" data-vat="@cartItem.ProductVAT">
                                    <td class="hidden-xs"><img name="Image" src="@cartItem.ImageURL" style="height: 50px; width: 50px;" /></td>
                                    <td name="ProductName" style="vertical-align:middle;">
                                        @cartItem.ProductName
                                        <div class="visible-xs"><strong> @cartItem.ProductPrice.ToString("C")</strong></div>
                                    </td>
                                    <td class="hidden-xs" name="Price" style="vertical-align:middle;">@cartItem.ProductPrice.ToString("C")</td>
                                    <td style="text-align: center; vertical-align:middle;">
                                        @(Html.Kendo()
                                                    .NumericTextBox()
                                                    .Name("Qty_" + cartItem.ProductID)
                                                    .Value(cartItem.Qty)
                                                    .Format("0")
                                                    .Decimals(0)
                                                    .Min(1)
                                                    .Events(events => events.Change("OnCartQtyChange").Spin("OnCartQtyChange"))
                                                    .HtmlAttributes(new { @style = "width: 70px;", @data_productid = cartItem.ProductID, name = "Qty" })
                                        )
                                    </td>
                                    <td class="hidden-xs" name="ItemNet" style="text-align: center; vertical-align:middle;">
                                        @cartItem.TotalNet.ToString("C")
                                    </td>
                                    <td class="hidden-xs" name="ItemVAT" style="text-align: center; vertical-align:middle;">
                                        @cartItem.TotalVAT.ToString("C")
                                    </td>
                                    <td class="hidden-xs" name="ItemGross" style="text-align: center; vertical-align:middle;">
                                        @cartItem.TotalGross.ToString("C")
                                    </td>
                                    <td style="text-align: center; vertical-align:middle;">
                                        <div class="btn" onclick=" $(this).closest('tr').remove(); RemoveFromCart('@cartItem.ProductID');"><span class="glyphicon glyphicon-trash"></span></div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @if (!string.IsNullOrEmpty(cartItemsBySupplier.Supplier.DefaultAisleName))
                    {
                        <a href="/Products/Aisle/@cartItemsBySupplier.Supplier.DefaultAisleName" class="btn btn-primary" style="margin:5px 0 0 5px;">Continue Shopping</a>
                    }
                    <div class="pull-right" style="margin-right:10px;">
                        <table>
                            <tr>
                                <td>
                                    <label>Sub Net:&nbsp;</label>
                                </td>
                                <td style="text-align: right;">
                                    <label><span name="SupplierNet">@cartItemsBySupplier.SubNet.ToString("C")</span></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Sub VAT:&nbsp;</label>
                                </td>
                                <td style="text-align: right;">
                                    <label><span name="SupplierVAT">@cartItemsBySupplier.SubVAT.ToString("C")</span></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Sub Gross:&nbsp;</label>
                                </td>
                                <td style="text-align: right;">
                                    <label><span name="SupplierGross">@cartItemsBySupplier.SubGross.ToString("C")</span></label>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    }
    <div class="">
        <div class="pull-right" style="margin-right:10px;">
            <table>
                <tr>
                    <td>
                        <label>Net:&nbsp;</label>
                    </td>
                    <td style="text-align: right;">
                        <label><span name="CartNet" style="color:#6db444; font-size:larger; font-weight:900">@Model.Sum(x => x.SubNet).ToString("C")</span></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>VAT:&nbsp;</label>
                    </td>
                    <td style="text-align: right;">
                        <label><span name="CartVAT" style="color:#6db444; font-size:larger; font-weight:900">@Model.Sum(x => x.SubVAT).ToString("C")</span></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Gross:&nbsp;</label>
                    </td>
                    <td style="text-align: right;">
                        <label><span name="CartGross" style="color:#6db444; font-size:larger; font-weight:900">@Model.Sum(x => x.SubGross).ToString("C")</span></label>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    @*<div class="">
        <div class="">
            <button type="button" class="btn btn-primary btn-cart" data-dismiss="modal">Continue Shopping</button>
            <button type="button" class="btn btn-primary btn-cart" onclick="ShowProspectForm()">Send Me the Quote</button>
        </div>
    </div>*@
</div>

<style>
    .div-inline {
        overflow: hidden;
        white-space: nowrap;
        text-align: center;
        align-items: center;
    }
</style>
