﻿@model List<NuIngredient.Models.FruitOrderViewModel>


<div class="row">
    <div class="col-xs-12">
        <h1>Your Fruit Quote</h1>
    </div>
</div>
<div class="row fruit-order-area">
    <div class="order-table">
        <div class="row" id="order-headers">
            <div class="col-xs-4 col-sm-offset-0 col-sm-1" id="product-name-header">
                <p>Product</p>
            </div>
            <div class="col-xs-3 col-sm-1" id="product-unit">
                <p>Unit</p>
            </div>
            <div class="col-xs-12 col-sm-1 week-days">
                <p>Mon<span class="btn-clear-qty glyphicon glyphicon-remove" style="cursor:pointer;" title="Clear all day" onclick="ClearQty('monday')"></span></p>
            </div>
            <div class="col-xs-12 col-sm-1 week-days">
                <p>Tue<span class="btn-clear-qty glyphicon glyphicon-remove" style="cursor:pointer;" title="Clear all day" onclick="ClearQty('tuesday')"></span></p>
            </div>
            <div class="col-xs-12 col-sm-1 week-days">
                <p>Wed<span class="btn-clear-qty glyphicon glyphicon-remove" style="cursor:pointer;" title="Clear all day" onclick="ClearQty('wednesday')"></span></p>
            </div>
            <div class="col-xs-12 col-sm-1 week-days">
                <p>Thu<span class="btn-clear-qty glyphicon glyphicon-remove" style="cursor:pointer;" title="Clear all day" onclick="ClearQty('thursday')"></span></p>
            </div>
            <div class="col-xs-12 col-sm-1 week-days">
                <p>Fri<span class="btn-clear-qty glyphicon glyphicon-remove" style="cursor:pointer;" title="Clear all day" onclick="ClearQty('friday')"></span></p>
            </div>
            <div class="col-xs-12 col-sm-1 week-days">
                <p>Sat<span class="btn-clear-qty glyphicon glyphicon-remove" style="cursor:pointer;" title="Clear all day" onclick="ClearQty('saturday')"></span></p>
            </div>
            <div class="col-xs-12 col-sm-1" id="product-cost">
                <p>Cost (From)</p>
            </div>
            <div class="col-xs-12 col-sm-1" id="weekly-volume">
                <p>Weekly Volume</p>
            </div>
            <div class="col-xs-3 col-sm-1" id="weekly-total">
                <p>Weekly Total</p>
            </div>
        </div>
        @foreach (NuIngredient.Models.FruitOrderViewModel item in Model)
        {
            <div class="row order-products fruit" id="@item.ID" data-id="@item.ID" data-fruitid="@item.FruitID" data-price="@item.Price" data-vat="@item.VATRate" data-subtotal="@item.WeeklyTotal" data-volume="@item.WeeklyVolume">
                <div class="col-xs-4 col-sm-offset-0 col-sm-1" id="product-name-info">
                    <p id="product-name">@item.ProductName</p>
                </div>
                <div class="col-xs-3 col-sm-1" id="product-unit-info">
                    <div class="numeric-input">
                        <p id="product-unit">@item.Unit</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-1 input-days hidden-xs">
                    <div class="numeric-input">
                        <span class="glyphicon glyphicon-triangle-top numeric-up"></span>
                        <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-monday-val" name="monday-val" class="form-control weekday-val" value="@(item.Monday != 0 ? item.Monday.ToString() : " ")" />
                        <span class="glyphicon glyphicon-triangle-bottom numeric-down"></span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-1 input-days hidden-xs">
                    <div class="numeric-input">
                        <span class="glyphicon glyphicon-triangle-top numeric-up"></span>
                        <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-tuesday-val" name="tuesday-val" class="form-control weekday-val" value="@(item.Tuesday != 0 ? item.Tuesday.ToString() : " ")" />
                        <span class="glyphicon glyphicon-triangle-bottom numeric-down"></span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-1 input-days hidden-xs">
                    <div class="numeric-input">
                        <span class="glyphicon glyphicon-triangle-top numeric-up"></span>
                        <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-wednesday-val" name="wednesday-val" class="form-control weekday-val" value="@(item.Wednesday != 0 ? item.Wednesday.ToString() : " ")" />
                        <span class="glyphicon glyphicon-triangle-bottom numeric-down"></span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-1 input-days hidden-xs">
                    <div class="numeric-input">
                        <span class="glyphicon glyphicon-triangle-top numeric-up"></span>
                        <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-thursday-val" name="thursday-val" class="form-control weekday-val" value="@(item.Thursday != 0 ? item.Thursday.ToString() : " ")" />
                        <span class="glyphicon glyphicon-triangle-bottom numeric-down"></span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-1 input-days hidden-xs">
                    <div class="numeric-input">
                        <span class="glyphicon glyphicon-triangle-top numeric-up"></span>
                        <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-friday-val" name="friday-val" class="form-control weekday-val" value="@(item.Friday != 0 ? item.Friday.ToString() : " ")" />
                        <span class="glyphicon glyphicon-triangle-bottom numeric-down"></span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-1 input-days hidden-xs">
                    <div class="numeric-input">
                        <span class="glyphicon glyphicon-triangle-top numeric-up"></span>
                        <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-saturday-val" name="saturday-val" class="form-control weekday-val" value="@(item.Saturday != 0 ? item.Saturday.ToString() : " ")" />
                        <span class="glyphicon glyphicon-triangle-bottom numeric-down"></span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-1" id="cost-per-prouct">
                    <div class="numeric-input">
                        <p>@item.Price.ToString("C")</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-1" id="product-quantity">
                    <div class="numeric-input">
                        <p class="row-quantity">@item.WeeklyVolume</p>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-1" id="total-cost">
                    <div class="numeric-input">
                        <p class="row-total">@item.WeeklyTotal.ToString("C")</p>
                    </div>
                </div>
                <div class="col-xs-1 col-sm-1" id="remove-can">
                    <a href="#" onclick="DeleteFruitRow('@item.ID'); return false;"><i class="fa fa-trash"></i></a>
                </div>
                <div class="col-xs-12 hidden-sm hidden-md hidden-lg more-info-load">
                    <a href="javascript:void(0)" class="expand-info">
                        <p class="more-intro">View order details</p>
                        <div class="col-xs-12 expanded-content no-padding">
                            <hr />
                            <div class="col-xs-6 week-days">
                                <p>Monday</p>
                            </div>
                            <div class="col-xs-6 input-days">
                                <div class="numeric-input">
                                    <span class="glyphicon glyphicon-triangle-top numeric-up"></span>
                                    <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-monday-val-mobile" name="monday-val" class="form-control weekday-val" value="@(item.Monday != 0 ? item.Monday.ToString() : " ")" />
                                    <span class="glyphicon glyphicon-triangle-bottom numeric-down"></span>
                                </div>
                            </div>
                            <div class="col-xs-6 week-days">
                                <p>Tuesday</p>
                            </div>
                            <div class="col-xs-6 input-days">
                                <div class="numeric-input">
                                    <span class="glyphicon glyphicon-triangle-top numeric-up"></span>
                                    <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-tuesday-val-mobile" name="tuesday-val" class="form-control weekday-val" value="@(item.Tuesday != 0 ? item.Tuesday.ToString() : " ")" />
                                    <span class="glyphicon glyphicon-triangle-bottom numeric-down"></span>
                                </div>
                            </div>
                            <div class="col-xs-6 week-days">
                                <p>Wednesday</p>
                            </div>
                            <div class="col-xs-6 input-days">
                                <div class="numeric-input">
                                    <span class="glyphicon glyphicon-triangle-top numeric-up"></span>
                                    <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-wednesday-val-mobile" name="wednesday-val" class="form-control weekday-val" value="@(item.Wednesday != 0 ? item.Wednesday.ToString() : " ")" />
                                    <span class="glyphicon glyphicon-triangle-bottom numeric-down"></span>
                                </div>
                            </div>
                            <div class="col-xs-6 week-days">
                                <p>Thursday</p>
                            </div>
                            <div class="col-xs-6 input-days">
                                <div class="numeric-input">
                                    <span class="glyphicon glyphicon-triangle-top numeric-up"></span>
                                    <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-thursday-val-mobile" name="thursday-val" class="form-control weekday-val" value="@(item.Thursday != 0 ? item.Thursday.ToString() : " ")" />
                                    <span class="glyphicon glyphicon-triangle-bottom numeric-down"></span>
                                </div>
                            </div>
                            <div class="col-xs-6 week-days">
                                <p>Friday</p>
                            </div>
                            <div class="col-xs-6 input-days">
                                <div class="numeric-input">
                                    <span class="glyphicon glyphicon-triangle-top numeric-up"></span>
                                    <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-friday-val-mobile" name="friday-val" class="form-control weekday-val" value="@(item.Friday != 0 ? item.Friday.ToString() : " ")" />
                                    <span class="glyphicon glyphicon-triangle-bottom numeric-down"></span>
                                </div>
                            </div>
                            <div class="col-xs-6 week-days">
                                <p>Saturday</p>
                            </div>
                            <div class="col-xs-6 input-days">
                                <div class="numeric-input">
                                    <span class="glyphicon glyphicon-triangle-top numeric-up"></span>
                                    <input onchange="GetFruitSubTotal('@item.ID')" type="number" min="0" id="@item.ID-saturday-val-mobile" name="saturday-val" class="form-control" value="@(item.Saturday != 0 ? item.Saturday.ToString() : " ")" />
                                    <span class="glyphicon glyphicon-triangle-bottom numeric-down"></span>
                                </div>
                            </div>
                            <div class="col-xs-6" id="@item.ID-product-cost-mobile">
                                <p>Cost</p>
                            </div>
                            <div class="col-xs-6" id="cost-per-prouct-mobile">
                                <p>@item.Price.ToString("C")</p>
                            </div>
                            <div class="col-xs-6" id="weekly-volume-mobile">
                                <p>Weekly Volume</p>
                            </div>
                            <div class="col-xs-6" id="product-quantity-mobile">
                                <p class="row-quantity">@item.WeeklyVolume</p>
                            </div>
                            <div class="col-xs-6" id="weekly-total-mobile">
                                <p>Weekly Total</p>
                            </div>
                            <div class="col-xs-6" id="total-cost-mobile">
                                <p class="row-total">@item.WeeklyTotal.ToString("C")</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <script>
                //$('#fruit-quotes').on('keyup', 'input', ChangeFruitQuantity);
                //$('#fruit-quotes').on('change', 'input', ChangeFruitQuantity);

                $("#@item.ID-monday-val").on("change", function () {
                    $("#@item.ID-monday-val-mobile").val(this.value);
                });
                $("#@item.ID-monday-val-mobile").on("change", function () {
                    $("#@item.ID-monday-val").val(this.value);
                });
                $("#@item.ID-tuesday-val").on("change", function () {
                    $("#@item.ID-tuesday-val-mobile").val(this.value);
                });
                $("#@item.ID-tuesday-val-mobile").on("change", function () {
                    $("#@item.ID-tuesday-val").val(this.value);
                });
                $("#@item.ID-wednesday-val").on("change", function () {
                    $("#@item.ID-wednesday-val-mobile").val(this.value);
                });
                $("#@item.ID-wednesday-val-mobile").on("change", function () {
                    $("#@item.ID-wednesday-val").val(this.value);
                });
                $("#@item.ID-thursday-val").on("change", function () {
                    $("#@item.ID-thursday-val-mobile").val(this.value);
                });
                $("#@item.ID-thursday-val-mobile").on("change", function () {
                    $("#@item.ID-thursday-val").val(this.value);
                });
                $("#@item.ID-friday-val").on("change", function () {
                    $("#@item.ID-friday-val-mobile").val(this.value);
                });
                $("#@item.ID-friday-val-mobile").on("change", function () {
                    $("#@item.ID-friday-val").val(this.value);
                });
                $("#@item.ID-saturday-val").on("change", function () {
                    $("#@item.ID-saturday-val-mobile").val(this.value);
                });
                $("#@item.ID-saturday-val-mobile").on("change", function () {
                    $("#@item.ID-saturday-val").val(this.value);
                });
            </script>
        }
        <div class="">
            <a href="/Fruits/" class="btn btn-primary" style="margin:5px 0 0 5px;">Continue Shopping</a>
            <div class="pull-right" style="margin-right:10px;">
                <table>
                    <tr>
                        <td>
                            <label>Net:&nbsp;</label>
                        </td>
                        <td style="text-align: right;">
                            <label><span class="grand-total-price" style="color:#6db444; font-size:larger; font-weight:900">@Model.Sum(x => x.WeeklyTotal).ToString("C")</span></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>VAT:&nbsp;</label>
                        </td>
                        <td style="text-align: right;">
                            <label><span class="grand-total-vat" style="color:#6db444; font-size:larger; font-weight:900">@Model.Sum(x => x.WeeklyTotal * x.VATRate).ToString("C")</span></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Gross:&nbsp;</label>
                        </td>
                        <td style="text-align: right;">
                            <label><span class="grand-total-gross" style="color:#6db444; font-size:larger; font-weight:900">@Model.Sum(x => x.WeeklyTotal + (x.WeeklyTotal*x.VATRate)).ToString("C")</span></label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        @*<div class="row row-grand">
            <div class="hidden-xs col-sm-offset-9 col-sm-1">
                <div class="numeric-input">
                    <p class="grand-total-volume">@Model.Sum(x => x.Monday + x.Tuesday + x.Wednesday + x.Thursday + x.Friday + x.Saturday)</p>
                </div>
            </div>
            <div class="col-xs-offset-7 col-xs-3 col-sm-offset-0 col-sm-1">
                <div class="numeric-input">
                    <p class="grand-total-price">@Model.Sum(x => (x.Monday + x.Tuesday + x.Wednesday + x.Thursday + x.Friday + x.Saturday) * x.Price).ToString("C")</p>
                </div>
            </div>
        </div>*@
        @*<div class="row row-send-quote-btn">
            <div class="col-xs-12" id="send-quote-btn">
                <a href="javascript:void(0)" onclick="ShowFruitProspectForm()"><img src="/Views/CMS/Content/Media/Send_Me (OG button).png" class="img-responsive" /></a>
            </div>
        </div>*@
    </div>
</div>

<div id="SavedMessage" style="text-align: center; display:none;">
    <strong style="color:red;">Orders Saved!</strong>
</div>


<style>

    .btn-clear-qty {
        display: none;
    }

    .week-days:hover .btn-clear-qty {
        display: inline-block;
    }

    tr th {
        color: #d8a120;
    }

    .expanded-content {
        display: none;
    }
</style>

<script>
    //$('.expanded-content').hide();
    //$('.more-info-load .expand-info').click(function () {
    //    $('.more-info-load').removeClass('col-xs-1');
    //    $('.more-info-load').addClass('col-xs-12 no-padding');
    //    var moreContent = $(this).find('.expanded-content');
    //    $(moreContent).show();
    //    var plusIcon = $(this).find('.more-intro');
    //    $(plusIcon).hide();
    //    $('.more-intro').css('padding-left', '15px');
    //});

    $('html').on('click', '.more-info-load .expand-info', function () {
        $('.more-info-load').removeClass('col-xs-1');
        $('.more-info-load').addClass('col-xs-12 no-padding');
        var moreContent = $(this).find('.expanded-content');
        $(moreContent).show();
        var plusIcon = $(this).find('.more-intro');
        $(plusIcon).hide();
        $('.more-intro').css('padding-left', '15px');
    });
</script>