﻿@model NuIngredient.Models.QuoteCartViewModel

<div class="container">
    @if (Model.DryGoodsQuote.Any() || Model.MilkQuote.Any() || Model.FruitQuote.Any())
    {
        if (Model.DryGoodsQuote.Any())
        {
            <div id="drygoods-quotes">
                @Html.Partial("_DryGoodsQuote", Model.DryGoodsQuote)
            </div>
        }
        if (Model.MilkQuote.Any())
        {
            <div id="milk-quotes">
                @Html.Partial("_MilkQuote", Model.MilkQuote)
            </div>
        }
        if (Model.FruitQuote.Any())
        {
            <div id="fruit-quotes">
                @Html.Partial("_FruitQuote", Model.FruitQuote)
            </div>
        }
        <div class="col-xs-12" id="send-quote-btn">
            <a href="javascript:void(0)" onclick="ShowProspectForm()"><img src="/Views/CMS/Content/Media/Send_Me (OG button).png" class="img-responsive" /></a>
        </div>
    }

    else
    {
        <strong>No Content</strong>
    }
</div>

<style>
    .div-inline {
        overflow: hidden;
        white-space: nowrap;
        text-align: center;
        align-items: center;
    }
</style>
