﻿@{
    ViewBag.Title = "Import";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Import Customers</h2>
        </div>
        <div id="result-section" class="col-xs-12">

        </div>
        <div class="col-xs-12">
            @(Html.Kendo().Upload()
                .Name("file")
                .Async(a => a
                    .Save("Upload", "Transition")
                )
                .Events(e => e
                    .Success("onSuccess")
                )
            )
            <a class="pull-right" href="/Content/Import Customer Template.xlsx">Template</a>
        </div>
    </div>
</div>

<script>
    function onSuccess(e) {
        console.log(e);
        let template = kendo.template($("#tpl-result").html());
        let result = template(e); //Pass the data to the compiled template
        $("#result-section").append(result); //display "Todd" in a bold font weight
    }
</script>

<script id="tpl-result" type="text/x-kendo-template">
    <label class="h4">#=data.files[0].name#</label>
    <table class="table" style="background-color: lavender;">
        <tr>
            <th width="10%">Success</th>
            <th width="20%">Email</th>
            <th width="20%">Company</th>
            <th width="10%">IsMulti</th>
            <th width="40%">Message</th>
        </tr>
        #for(var i = 0; i < data.response.length; i++) {#
            <tr>
                <th>#=data.response[i].Success#</th>
                <th>#=data.response[i].Email#</th>
                <th>#=data.response[i].Company#</th>
                <th>#=data.response[i].IsMulti#</th>
                <th>#=data.response[i].Message#</th>
            </tr>
        #}#
    </table>

</script>
