

<div class="row div-homepage">
    <div class="col-sm-12" style="text-align:center;">
        <h1 class="hidden-xs" style="font-size: 70px; margin-top:21%;">Office Groceries.</h1>
        <h2 class="color-grey hidden-xs" style="font-size: 36px;">Delivered. Simple.</h2>
        <h3 class="hidden-xs">
            A selection of essential office groceries, delivered direct to you.<br />
            Simple and easy to use, it's an online supermarket for the workplace.
        </h3>

        <h1 class="visible-xs" style="font-size: 34px">Office Groceries.</h1>
        <h3 class="color-grey visible-xs">Delivered. Simple.</h3>
        <h4 class="visible-xs" style="color: #A75F72;">
            A selection of essential office groceries, delivered direct to you.<br />
            Simple and easy to use, it's an online supermarket for the workplace.
        </h4>
    </div>
</div>


<div class="row div-homepage row-equal" id="other-aisles-layer" style="margin-top:20px;">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" >
        <a href="/Aisles/Category/Milk" title="Visit our Milk aisle" alt="Visit our Milk aisle" >
            <div class="white-aisle-holder">
                <p>Visit our Milk aisle</p>
            </div>
        </a>
    </div>
            
            
    <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="/Aisles/Category/Fruit" title="Visit our Fresh Fruit aisle" alt="Visit our Fresh Fruit aisle">
            <div class="white-aisle-holder">
                <p>Visit our Fresh Fruit aisle</p>
            </div>
        </a>
    </div>
            
            
    <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="/Aisles/Category/Dry Goods" title="Visit our Pantry aisle" alt="Visit our Pantry aisle">
            <div class="white-aisle-holder">
                <p>Visit our Pantry aisle</p>
            </div>
        </a>
    </div>
            
            
    <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="/Account/EnquiryForm" title="Setup an Office Groceries account" alt="Setup an Office Groceries account">
            <div class="white-aisle-holder">
                <p>Want to setup an account?</p>
            </div>
        </a>
    </div>
            
</div>

<div class="col-sm-12 div-homepage">
    <h3>
        How it works. Well, simply of course.
    </h3>
     
    <div class="row container-step">
        <div class="col-sm-12">
            <div class="label label-info div-step">Step 1</div>
            <p>
                Create quote under the relevant aisle you wish to purchase<br />
                from or complete our enquiry form and we will contact you.
            </p>
        </div>
        <div class="col-sm-12">
            <br /><br />
        </div>
        <div class="col-sm-12">
            <div class="label label-info div-step">Step 2</div>
            <p>
                Create your unique Login details to activate account set up.<br />
                Have you already made an enquiry? One of our procurement managers will<br />
                be in contact to help set up the account for you.
            </p>
        </div>
        <div class="col-sm-12">
            <br /><br />
        </div>
        <div class="col-sm-12">
            <div class="label label-info div-step">Step 3</div>
            <p>
                Once account set up is complete.<br />
                Simply login to your account to manage standing orders or place one off orders.
            </p>
        </div>
    </div>
</div>
<style>

    .div-homepage .label-category {
        font-size: 30px;
        margin-left: 15px;
    }
    .div-homepage .panel {
        height: 200px;
    }
    .div-homepage .row li {
        font-size: 16px;
    }

    .div-homepage {
        text-align: center;
        color: #A75F72;
        margin-top: 0px;
    }

    .div-homepage h1 {
        /*font-size: 70px;*/
        color: #A75F72;
    }

    .div-homepage h3 {
        color: #A75F72;
    }

    .div-homepage .color-grey {
        color: #B3B2B2;
    }

    .div-homepage .btn-visit {
        width: 250px;
        background-color: white;
    }

    .div-homepage .btn-set-up {
        width: 250px;
        background-color: #565656;
        color: #A3D45E;
    }

    .div-homepage .div-step {
        font-size: 20px;
        background-color:  #A3D45E;
        color: #565656;
    }

    .div-homepage .container-step p {
        margin-top: 10px;
        font-size: 20px;
    }
</style>