﻿@model NuIngredient.Models.EditProductViewModel
    <br />
    <a class="btn btn-info btn-xs" onclick="$('#GridExclusivePrices').data('kendoGrid').addRow();" style="margin-bottom:5px;"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add Customer Price</a>

    @(Html.Kendo().Grid<NuIngredient.Models.ProductExclusivePriceViewModel>()
            .Name("GridExclusivePrices")
            .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Customter Prices").Empty("No Customter Prices Found")))
            .Columns(columns =>
            {
                columns.Bound(m => m.ID).Hidden();
                columns.Bound(m => m.ProductID).Hidden();
                columns.Bound(m => m.Customer).Title("Customer").ClientTemplate("#=Customer.Name#").EditorTemplateName("CustomerDropDown");
                columns.Bound(m => m.Price).Title("Customter Price").ClientTemplate("#=kendo.toString(Price, 'c')#").Width("1%");
                columns.Command(command =>
                {
                    command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn'/>").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn'/>").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn'/>");
                    command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn'/>");
                }).Width("90px");
            })
            .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this item?"))
            .Sortable()
            .DataSource(dataSource => dataSource
                .Ajax()
                .Model(model =>
                {
                    model.Id(m => m.ID);
                    model.Field(m => m.ProductID).DefaultValue(Model.ID.ToString());
                    model.Field(m => m.Customer).DefaultValue(new NuIngredient.Models.SelectItemViewModel() { ID = "", Name = "" });
                })
                .Create(create => create.Action("Create", "ProductExclusivePriceGrid"))
                .Read(read => read.Action("Read", "ProductExclusivePriceGrid", new { productID = Model.ID }))
                .Update(update => update.Action("Update", "ProductExclusivePriceGrid"))
                .Destroy(destroy => destroy.Action("Destroy", "ProductExclusivePriceGrid"))
            )
            .Events(events => events.DataBound("KendoGridDatabound"))
    )

    <br />
    <br />
    <br />
