﻿@model NuIngredient.Models.EditProductViewModel

<script>
    function OnSuccess(response) {
        Refresh();
    }
    function OnProductImageUploadSuccess(e) {
            if (e.response.status == "error") {
                alert("Error: " + e.response.message);
            }
            else if (e.response.status == "success") {
                Refresh();
                EditProduct(e.response.id);
            }
    }

    function OnProductImageUpload(e) {
        var files = e.files;
        $.each(files, function () {
            if (this.size / 1024 / 1024 > 10) {
                alert("Max 10Mbs file size is allowed!")
                e.preventDefault();
            }
        });
    }

    function RemoveProductImage(id) {
        $.ajax({
            url: '@Url.Action("RemoveProductImage", "ProductManagement")',
            type: 'POST',
            data: { "id": id },
            dataType: "json",
            success: function (data) {
                Refresh();
                EditProduct(id);
            }
        });
    }
</script>

<div id="divEditProduct">

    @using (Ajax.BeginForm("_EditProduct", "ProductManagement", null, new AjaxOptions { UpdateTargetId = "divEditProduct", OnSuccess = "OnSuccess" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ID)

        <div class="row">
            <div class="col-xs-9">
                <h2>Edit Product</h2>
                <span style="color:red">@Html.ValidationSummary()</span>
            </div>
            <div class="col-xs-3">
                <br />
                <a class="btn btn-sm btn-default" onclick="HideViews(); return false;" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
            </div>
            <div class="col-xs-12">
                <br />
            </div>
            <div class="col-xs-4">

                @if ((Model.ImageURL ?? "") == "" || Model.ImageURL.Contains("NotFound"))
                {
                    <label>Upload Product Image:</label>
                    @(Html.Kendo().Upload().Multiple(false)
                                .Name("uploadedProductImage")
                                .Async(a => a.Save("UploadProductImage", "ProductManagement", new { id = Model.ID }))
                                .ShowFileList(false)
                                .HtmlAttributes(new { accept = "image/*" })
                                .Events(events => events.Upload("OnProductImageUpload").Success("OnProductImageUploadSuccess"))
                    )
                    <span style="font-size:x-small">Max 512Kbs</span>
                }
                else
                {
                    <a id="fruitTypeImage_link" class="fancybox-media" target="_blank" href="@Model.ImageURL">
                        <img id="fruitTypeImage" src="@Model.ImageURL" style="max-height:100px; max-width:300px; " />
                    </a>
                    <br />
                            <a href="#" onclick="RemoveProductImage('@Model.ID')">Remove Image</a>
                }
            </div>


        </div>

        @Html.Partial("_EditProductDetails", Model, new ViewDataDictionary() { { "SubmitValue", "Save Details" } })

        if (ViewBag.Saved ?? false)
        {
            <label id="l_Saved"><strong>Details Saved!</strong></label>
            <script>
                setTimeout(function () { $("#l_Saved").css("display", "none"); }, 2000);
            </script>
        }

        <div class="col-sm-12">
            <br />
            @(Html.Kendo().TabStrip()
                          .Scrollable(false)
                          .Name("Product_Tabstrip")
                          .Items(tabstrip =>
                          {
                              tabstrip.Add()
                                      .Text("Customer Prices")
                                      .Content(@Html.Partial("_CustomerPricesTab", Model).ToHtmlString())
                                      .Selected(true);
                              
                              tabstrip.Add()
                                  .Text("Tag Prices")
                                  .Content(@Html.Partial("_TagPricesTab", Model).ToHtmlString());
                              
                              tabstrip.Add()
                                  .Text("Excluded Customers")
                                  .Content(@Html.Partial("_ExcludedCustomersTab", Model).ToHtmlString())
                                  .Selected(false);
                          })
            )
        </div>
    }
</div>


