﻿@model NuIngredient.Models.EditProductViewModel

<script>
    function GetAisles()
    {
        return {
            aisleIDs: $('#DryGoodsAisleIDs').data('kendoMultiSelect').value()
        };
    }

    function ChangeAisle() {
        $('#DryGoodsCategoryIDs').data('kendoMultiSelect').dataSource.read();
    }
</script>

<div class="row form-table">
    <div class="col-sm-12">
        <hr />
    </div>
    <div class="col-sm-4">
        <table>
            <tr>
                <td style="width:100px"><label>Product Code:</label></td>
                <td>
                    @Html.TextBoxFor(model => model.ProductCode, new { @class = "form-control", @placeholder = "Enter Product Code" })
                    @Html.ValidationMessageFor(model => model.ProductCode, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td style="width:100px"><label>Product Name:</label></td>
                <td>
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Enter Product Name" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td style="width:100px"><label>Keywords:</label></td>
                <td>
                    @Html.TextBoxFor(model => model.Keywords, new { @class = "form-control", @placeholder = "Enter Keywords" })
                </td>
            </tr>
            @*<tr>
                <td><label>Category:</label></td>
                <td>
                    @(Html.Kendo().DropDownListFor(model => model.CategoryID)
                                    .OptionLabel("Please Select a Category")
                                    .DataTextField("Name")
                                    .DataValueField("ID")
                                    .DataSource(dataSource => dataSource.Read(read => read.Action("DropDownAllCategories", "ProductCategories")))
                                    //.Events(events => events.Change("OnCategoryChange"))
                                    .HtmlAttributes(new { @style = "width: 100%; max-width: 280px;" })
                    )
                    @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
                </td>
            </tr>*@
            <tr>
                <td><label>Supplier:</label></td>
                <td>
                    @(Html.Kendo().DropDownListFor(model => model.SupplierID)
                                    .OptionLabel("Please Select a Supplier")
                                    .DataTextField("Name")
                                    .DataValueField("ID")
                                    .DataSource(dataSource => dataSource.Read(read => read.Action("DropDownDryGoodsSuppliers", "Dropdowns")))
                                    //.Events(events => events.Change("OnCategoryChange"))
                                    .HtmlAttributes(new { @style = "width: 100%; max-width: 280px;" })
                    )
                    @Html.ValidationMessageFor(model => model.SupplierID, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td><label>Aisles:</label></td>
                <td>
                    @(Html.Kendo().MultiSelectFor(mdoel => Model.DryGoodsAisleIDs)
                                .DataValueField("ID")
                                .DataTextField("Name")
                                .DataSource(dataSource => dataSource.Read("DropDownDryGoodsAisles", "Dropdowns"))
                                .Events(events => events.Change("ChangeAisle"))
                                .HtmlAttributes(new { @style = "display: inline; max-width: 100%;" })
                    )
                </td>
            </tr>
            <tr>
                <td><label>Categories:</label></td>
                <td>
                    @(Html.Kendo().MultiSelectFor(mdoel => Model.DryGoodsCategoryIDs)
                                .DataValueField("ID")
                                .DataTextField("Name")
                                .DataSource(dataSource => dataSource.Read(read => read.Action("DropDownProductCategories", "Dropdowns").Data("GetAisles").Type(HttpVerbs.Post)))
                                .HtmlAttributes(new { @style = "display: inline; max-width: 100%;" })
                    )
                </td>
            </tr>
            <tr>
                <td><label>Short Description:</label></td>
                <td>@Html.TextAreaFor(model => model.ShortDescription, 5, 100, new { @class = "form-control", @placeholder = "Enter Description" })</td>
            </tr>
        </table>
    </div>
    <div class="col-sm-4">
        <table>
            <tr>
                <td><label>Unit:</label></td>
                <td>@Html.TextBoxFor(model => model.Unit, new { @class = "form-control", @placeholder = "e.g kgs, mm" })</td>
            </tr>
            <tr>
                <td><label>Price:</label></td>
                <td>
                    @Html.Kendo().NumericTextBoxFor(model => model.Price).Decimals(2)
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td><label>Cost:</label></td>
                <td>
                    @Html.Kendo().NumericTextBoxFor(model => model.Cost).Decimals(2)
                    @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td><label>VAT:</label></td>
                <td>
                    @Html.Kendo().NumericTextBoxFor(model => model.VAT).Format("p").Decimals(2).Step(0.01m)
                    @Html.ValidationMessageFor(model => model.VAT, "", new { @class = "text-danger" })
                </td>
            </tr>
        </table>
    </div>
    <div class="col-sm-4">
        <table>
            <tr>
                <td>
                @(Html.Kendo().CheckBoxFor(model => model.IsActive)
                    .Name("IsActive")
                    .Label("Is Active")
                )
                </td>
            </tr>
            <tr>
                <td>
                    @(Html.Kendo().CheckBoxFor(model => model.IsExclusive)
                    .Name("IsExclusive")
                    .Label("Is Exclusive")
                    )
                </td>
            </tr>
            <tr>
                <td>
                    @(Html.Kendo().CheckBoxFor(model => model.IsProspectsVisible)
                    .Name("IsProspectsVisible")
                    .Label("Is Visible by Prospects")
                    )
                </td>
            </tr>
        </table>
    </div>
    <div class="col-sm-12"> <br /></div>

    <div class="col-sm-12">
        <label style="margin-left:2px;">Description:</label>
        @(Html.Kendo().EditorFor(model => model.Description)
                        .HtmlAttributes(new { @class = "form-control", @placeholder = "Enter Description here", @style = "width:1170px; max-width:none; margin-bottom:10px; heigh:700px;" })
                        .Encode(false)
                        .Tools(tools => tools.FontName()
                                            .FontSize()
                                            .ViewHtml()
                        )
                        .Resizable()
        )
    </div>

    <div class="col-sm-12">
        <br /><br />
        <input type="submit" value="@ViewData["SubmitValue"]" class="btn btn-inverse">
    </div>
    <div class="col-sm-12">
        <hr />
    </div>
</div>

