﻿@model NuIngredient.Models.EditProductViewModel
    <br />
    <a class="btn btn-info btn-xs" onclick="$('#GridExcludedCustomers').data('kendoGrid').addRow();" style="margin-bottom:5px;"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add Customer</a>

    @(Html.Kendo().Grid<NuIngredient.Models.ProductExcludeCompanyGridViewModel>()
            .Name("GridExcludedCustomers")
            .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Customers").Empty("No Customers Found")))
            .Columns(columns =>
            {
                columns.Bound(m => m.ID).Hidden();
                columns.Bound(m => m.ProductID).Hidden();
                columns.Bound(m => m.Customer).Title("Customer").ClientTemplate("#=Customer.Name#").EditorTemplateName("CustomerDropDown");
                columns.Command(command =>
                {
                    command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn'/>").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn'/>").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn'/>");
                    command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn'/>");
                }).Width("90px");
            })
            .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this item?"))
            .Sortable()
            .DataSource(dataSource => dataSource
                .Ajax()
                .Model(model =>
                {
                    model.Id(m => m.ID);
                    model.Field(m => m.ProductID).DefaultValue(Model.ID);
                    model.Field(m => m.Customer).DefaultValue(new NuIngredient.Models.SelectItemViewModel() { ID = "", Name = "" });
                })
                .Create(create => create.Action("Create", "DryGoodExcludeCompanyGrid"))
                .Read(read => read.Action("Read", "DryGoodExcludeCompanyGrid", new { productID = Model.ID }))
                .Update(update => update.Action("Update", "DryGoodExcludeCompanyGrid"))
                .Destroy(destroy => destroy.Action("Destroy", "DryGoodExcludeCompanyGrid"))
            )
            .Events(events => events.DataBound("KendoGridDatabound"))
            .HtmlAttributes(new { @style="max-width: 500px;" })
    )

    <br />
    <br />
    <br />
