﻿@model NuIngredient.Models.EditProductViewModel

<div id="divNewProduct">

    @using (Ajax.BeginForm("_NewProduct", "ProductManagement", null, new AjaxOptions { UpdateTargetId = "divNewProduct", OnSuccess = "OnSuccess" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        //@Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="row">
            <div class="col-xs-9">
                <h2>New Product</h2>
            </div>
            <div class="col-xs-3">
                <br />
                <a class="btn btn-sm btn-default" onclick="HideViews(); return false;" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
            </div>
        </div>
        <span style="color:red">@Html.ValidationSummary()</span>
        @Html.Partial("_EditProductDetails", Model, new ViewDataDictionary() { { "SubmitValue", "Add Product" } })
    }

    <script>
        function OnSuccess(response) {
            //Call function from Index view
            if (response["ID"] != null) {
                CreatedProduct(response["ID"]);
            }
        }
    </script>
</div>
