﻿@{
    ViewBag.Title = "Dry Goods Management";
}

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-xs-6">
            <br />
            @*<div class="btn-group" style="float:right; margin-right:3px;">
                <button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-cloud-upload"></span>&nbsp;Import <span class="caret"></span>
                </button>
            </div>*@ 
            @*<a class="btn btn-danger" style="float:right; margin-right:3px;" href="/Products/Deleted/"><span class="glyphicon glyphicon-trash"></span> &nbsp;Deleted Fruit</a>*@
        </div>
        <div class="col-xs-12">
            <br />
        </div>
        <div class="col-xs-2">
            <a class="btn btn-primary" onclick="NewProduct(); return false;"><span class="fa fa-cube"></span>&nbsp;&nbsp;New Product</a>
        </div>
        <div class="col-xs-2">
            @(Html.Kendo().DropDownList()
                          .Name("DropDownSuppliers")
                          .OptionLabel("All Suppliers")
                          .DataTextField("Name")
                          .DataValueField("ID")
                          .Filter(FilterType.Contains)
                          .DataSource(dataSource => dataSource.Read(read => read.Action("DropDownDryGoodsSuppliers", "Dropdowns")))
                          .Events(events => events.Change("Refresh"))
                          .HtmlAttributes(new { @style = "width: 100%;" })
            )
        </div>
        <div class="col-xs-2">
            @(Html.Kendo().DropDownList()
                          .Name("DropDownAisles")
                          .OptionLabel("All Aisles")
                          .DataTextField("Name")
                          .DataValueField("ID")
                          .Filter(FilterType.Contains)
                          .DataSource(dataSource => dataSource.Read(read => read.Action("DropDownDryGoodsAisles", "Dropdowns")))
                          .Events(events => events.Change("DropDownAisleChange"))
                          .HtmlAttributes(new { @style = "width: 100%;" })
            )
        </div>
        <div class="col-xs-2">
            @(Html.Kendo().DropDownList()
                          .Name("DropDownCategories")
                          .OptionLabel("All Categories")
                          .DataTextField("Name")
                          .DataValueField("ID")
                          .Filter(FilterType.Contains)
                          .DataSource(dataSource => dataSource.Read(read => read.Action("DropDownAllCategories", "ProductCategories").Data("function(){ return { aisleID: $('#DropDownAisles').val() } }")))
                          .Events(events => events.Change("Refresh"))
                          .HtmlAttributes(new { @style = "width: 100%;" })
            )
        </div>
        <div class="col-xs-4">
            <div class="input-group">
                @Html.TextBox("TB_ProductFilter", null, new { @class = "form-control", @style = "max-width:none;", @placeholder = "Search by Name or Description" })
                <span class="input-group-btn">
                    <a class="btn btn-default" onclick="Refresh(); return false;"><span class="glyphicon glyphicon-search"></span></a>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>
        <div id="divPager" class="col-sm-12">
            <div class="form-group" role="group" aria-label="...">
                <button class="btn btn-sm btn-default" onclick="Refresh();"><span class="glyphicon glyphicon-refresh" ></span>&nbsp; Refresh</button>&nbsp;
                <div class="pull-right">
                    @(Html.Kendo().CheckBox().Label("Show Inactive").Name("ShowInactive").HtmlAttributes(new {onclick="Refresh();"}))
                    <a class="btn btn-default mt-1" href="/ProductManagement/Keywords">Manage Keywords</a>&nbsp;
                    <a id="Button_Download" class="btn btn-success" onclick="ExportToCSV()"><span class="glyphicon glyphicon-export"></span>&nbsp;&nbsp;Export Product GP</a>&nbsp;
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            @(Html.Kendo().Grid<NuIngredient.Models.ProductGridViewModel>()
                .Name("GridProducts")
                .Pageable(p => p.Messages(m => m.Display("{0} - {1} of {2} Products").Empty("No Products Found")))
                .Columns(columns =>
                {
                    columns.Bound(u => u.ID).ClientTemplate("<input type='checkbox' value='#=ID#' name='chk_grid'>").Hidden();
                    columns.Bound(u => u.ImageURL).Title("Image").ClientTemplate("<a class='fancybox-media' target='_blank' href='#=ImageURL#' ><img src='#=ThumbnailImageURL#' style='width:100%; max-height:50px; max-width:50px;'></a>").Width(70).Locked();
                    columns.Bound(u => u.ProductCode).Width(100).Locked();
                    columns.Bound(u => u.Name).Width(200).Locked();
                    columns.Bound(u => u.AisleName).Title("Aisle").Width("10%").Width(200);
                    //columns.Bound(u => u.CategoryName).Title("Category").Width("10%").Sortable(false);
                    columns.Bound(u => u.ShortDescription).Title("Description").Width(200);
                    columns.Bound(u => u.Unit).Title("Unit").Width(100);
                    columns.Bound(u => u.Price).ClientTemplate("#=kendo.toString(Price, 'C')#").Width(65);
                    columns.Bound(u => u.VAT).ClientTemplate("#=kendo.toString(VAT, 'p')#").Width(65);
                    columns.Bound(u => u.IsActive).Title("Active").ClientTemplate("<i class='glyphicon #if(IsActive){#glyphicon-check#}else{#glyphicon-unchecked#}#'></i>").HtmlAttributes(new { @style = "text-align:center", @title="Tick if the product is alive." }).Width(30);
                    columns.Bound(u => u.IsExclusive).Title("Exclusive").ClientTemplate("<i class='glyphicon #if(IsExclusive){#glyphicon-check#}else{#glyphicon-unchecked#}#'></i>").HtmlAttributes(new { @style = "text-align:center", @title= "Tick if the product shows to only the customers with customer prices." }).Width(30);
                    columns.Bound(u => u.IsProspectsVisible).Title("Prospects Visible").ClientTemplate("<i class='glyphicon #if(IsProspectsVisible){#glyphicon-check#}else{#glyphicon-unchecked#}#'></i>").HtmlAttributes(new { @style = "text-align:center", @title="Tick if the product shows to prospects." }).Width(30);
                    columns.Bound(u => u.SupplierID).Title("Supplier").ClientTemplate("#=SupplierName#").Width(150);
                    columns.Template(@<text></text>).ClientTemplate("<a title='Edit' href='\\#' onclick='EditProduct(\"#=ID#\"); return false;'><span class='glyphicon glyphicon-edit glyphicon-btn'/></a>").Width(50);
                    columns.Command(command =>
                    {
                        command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn'/>");
                    }
                    ).Width(50);

                })
                .Scrollable(scrollable => scrollable.Height(500).Enabled(true))
                .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this product?"))
                //.Sortable()
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(t => t.ID);
                    })
                    .Read(read => read.Action("Read", "ProductGrid").Data("GetSearchInfo")).PageSize(1000)
                    .Destroy(destory => destory.Action("Destroy", "ProductGrid"))
                )
                .Events(events => events.DataBound("KendoGridDatabound"))
            )
        </div>
    </div>
</div>

<style>
    .div-inline {         
        overflow: hidden;
        white-space: nowrap;
        text-align:center;
        align-items:center;
    }
</style>

<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_Edit" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 1300px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="Edit_Body"></div>
    </div>
</div>

  <!-- Modal -->
<div class="modal fade" id="Modal" role="dialog" style="z-index:1200;">
    <div class="modal-dialog" style="width:400px;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script>

    @if (!string.IsNullOrEmpty(ViewBag.ProductID))
    {
        <text>
        EditProduct('@ViewBag.ProductID');
        </text>
    }

    function Refresh() {
        var grid = $("#GridProducts").data("kendoGrid");
        grid.dataSource.read();
    }

    function GetSearchInfo() {
        return {
            filterText: $('#TB_ProductFilter').val(),
            categoryID: $('#DropDownCategories').val(),
            aisleID: $('#DropDownAisles').val(),
            supplierID: $('#DropDownSuppliers').val(),
            showInactive: $('#ShowInactive').is(':checked')
        }
    }

    function DropDownAisleChange() {
        $('#DropDownCategories').data('kendoDropDownList').dataSource.read();
        Refresh();
    }

    $("#TB_ProductFilter").keyup(function (e) {
        Refresh();
    });


    //Below the following functions are used the show/hide the content panels.
    function NewProduct() {
        $("#Edit_Body").load("@Url.Action("_NewProduct", "ProductManagement")");

        $("#SlideContent_Edit").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_Edit").css("display", "block");
        $("#Button_Close_Content").css("display", "block");
    }

    function EditProduct(id) {
        var url = '@Url.Action("_EditProduct", "ProductManagement")' + '?ID=' + id;
        $("#Edit_Body").load(url);

        $("#SlideContent_Edit").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_Edit").css("display", "block");
        $("#Button_Close_Content").css("display", "block");
    }

    function CreatedProduct(id) {
        var url = '@Url.Action("_EditProduct", "ProductManagement")' + '?ID=' + id;
        $("#Edit_Body").load(url);
    }

    function HideViews() {
        $("#SlideContent_Edit").animate({ width: '0%' }, { queue: false, duration: 300 });
        setTimeout(function () {
            $("#SlideContent_Edit").css("display", "none");
            $("#Button_Close_Content").css("display", "none");
            Refresh();
        }, 300);
    }

    function ExportToCSV() {
        window.location.assign('@Url.Action("ExportToCSV", "ProductManagement")');
    }

    $(".k-grid[id='GridProducts'] table").kendoSortable({
        connectWith: ".k-grid[id='GridProducts'] table",
        filter: ">tbody >tr:not('.k-grid-edit-row')",
        disabled: ".no-drag", //do not allow transferring the no records row
        hint: $.noop,
        cursor: "move",
        placeholder: function (element) {
            return element.clone().addClass("k-state-hover").css("opacity", 0.65);
        },
        change: function (e) { //change event handler implementation may differ according to the scenario

            if ($('#DropDownSuppliers').val() == '') {
                Refresh();
                return alert("You can only sort when supplier, aisle, and category are selected");
            }

            if ($('#DropDownAisles').val() == '') {
                Refresh();
                return alert("You can only sort when supplier, aisle, and category are selected");
            }

            if ($('#DropDownCategories').val() == '') {
                Refresh();
                return alert("You can only sort when supplier, aisle, and category are selected");
            }

            try {
                var element = this.element.closest(".k-grid[id='GridProducts']");
                var grid = this.element.closest(".k-grid[id='GridProducts']").data("kendoGrid");
                var dataItem = null; grid.dataSource.getByUid(e.item.data("uid"));

                $('[id="GridProducts"]').each(function () {
                    if (dataItem == null)
                        dataItem = $(this).data('kendoGrid').dataSource.getByUid(e.item.data("uid"));
                });

                if (e.action == "receive" || e.action == "sort")
                    $.ajax({
                    url: '@Url.Action("_UpdateProductPositions", "ProductGrid")',
                        type: 'POST',
                        data: {
                            productID: dataItem.ID,
                            oldIndex: e.oldIndex,
                            newindex: e.newIndex,
                            supplierID: $('#DropDownSuppliers').val(),
                            aisleID: $('#DropDownAisles').val(),
                            categoryID: $('#DropDownCategories').val()
                        },
                        dataType: "json",
                        success: function (data) { Refresh(); }
                });
            }
            catch (ex) { Refresh(); }
        },
        move: function(e) {
            console.log("move to index: " + this.indexOf(this.placeholder));
        }
    });
</script>



