﻿@{
    ViewBag.Title = "Keywords";
}

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-xs-6">
            <br />
        </div>
        <div class="col-xs-2">
            <br />
        </div>
        <div class="col-xs-12">
            <br />
        </div>
        <div class="col-xs-2">
            @(Html.Kendo().DropDownList()
                          .Name("DropDownSuppliers")
                          .OptionLabel("All Suppliers")
                          .DataTextField("Name")
                          .DataValueField("ID")
                          .Filter(FilterType.Contains)
                          .DataSource(dataSource => dataSource.Read(read => read.Action("DropDownDryGoodsSuppliers", "Dropdowns")))
                          .Events(events => events.Change("Refresh"))
                          .HtmlAttributes(new { @style = "width: 100%;" })
            )
        </div>
        <div class="col-xs-2">
            @(Html.Kendo().DropDownList()
                          .Name("DropDownAisles")
                          .OptionLabel("All Aisles")
                          .DataTextField("Name")
                          .DataValueField("ID")
                          .Filter(FilterType.Contains)
                          .DataSource(dataSource => dataSource.Read(read => read.Action("DropDownDryGoodsAisles", "Dropdowns")))
                          .Events(events => events.Change("DropDownAisleChange"))
                          .HtmlAttributes(new { @style = "width: 100%;" })
            )
        </div>
        <div class="col-xs-2">
            @(Html.Kendo().DropDownList()
                          .Name("DropDownCategories")
                          .OptionLabel("All Categories")
                          .DataTextField("Name")
                          .DataValueField("ID")
                          .Filter(FilterType.Contains)
                          .DataSource(dataSource => dataSource.Read(read => read.Action("DropDownAllCategories", "ProductCategories").Data("function(){ return { aisleID: $('#DropDownAisles').val() } }")))
                          .Events(events => events.Change("Refresh"))
                          .HtmlAttributes(new { @style = "width: 100%;" })
            )
        </div>
        <div class="col-xs-6">
            <div class="input-group">
                @Html.TextBox("TB_ProductFilter", null, new { @class = "form-control", @style = "max-width:none;", @placeholder = "Search by Name or Description" })
                <span class="input-group-btn">
                    <a class="btn btn-default" onclick="Refresh(); return false;"><span class="glyphicon glyphicon-search"></span></a>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>
        <div class="col-sm-12">
            @(Html.Kendo().Grid<NuIngredient.Models.ProductKeywordGridVm>()
                .Name("GridProducts")
                .Pageable(p => p.Messages(m => m.Display("{0} - {1} of {2} Products").Empty("No Products Found")))
                .Columns(columns =>
                {
                    columns.Bound(u => u.ImageURL).Title("Image").Width(70).ClientTemplate("<a class='fancybox-media' target='_blank' href='#=ImageURL#' ><img src='#=ThumbnailImageURL#' style='width:100%; max-height:50px; max-width:50px;'></a>");
                    columns.Bound(u => u.ProductCode).Width(100);
                    columns.Bound(u => u.Name).Width(200);
                    columns.Bound(u => u.Keywords);
                    columns.Command(command =>
                    {
                        command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn'/>").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn'/>").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn'/>");
                    }).Width(80);

                })
                .Scrollable(scrollable => scrollable.Height(500).Enabled(true))
                .Editable(editable => editable.Mode(GridEditMode.InLine))
                //.Sortable()
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(t => t.ID);
                        model.Field(m => m.ImageURL).Editable(false);
                        model.Field(m => m.ProductCode).Editable(false);
                        model.Field(m => m.Name).Editable(false);
                    })
                    .Read(read => read.Action("Read", "KeywordManagement").Data("GetSearchInfo"))
                    .Update(update => update.Action("Update", "KeywordManagement"))
                    .PageSize(100)
                )
                .Events(events => events.DataBound("KendoGridDatabound")))
        </div>
    </div>
</div>

<style>
    .div-inline {         
        overflow: hidden;
        white-space: nowrap;
        text-align:center;
        align-items:center;
    }
</style>

<script>

    function Refresh() {
        var grid = $("#GridProducts").data("kendoGrid");
        grid.dataSource.read();
    }

    function GetSearchInfo() {
        return {
            filterText: $('#TB_ProductFilter').val(),
            categoryID: $('#DropDownCategories').val(),
            aisleID: $('#DropDownAisles').val(),
            supplierID: $('#DropDownSuppliers').val()
        }
    }

    function DropDownAisleChange() {
        $('#DropDownCategories').data('kendoDropDownList').dataSource.read();
        Refresh();
    }

    $("#TB_ProductFilter").keyup(function (e) {
        Refresh();
    });

</script>



