﻿@using NuIngredient.Models
@model AddMilkProductPageViewModel

<script>
    function GetSearchMilkProductInfo() {
        return {
            companyID: '@Model.CompanyID',
            filterText: $('#TB_Filter').val()
        };
    }

    function RefreshGridMilkProducts() {
        $('#GridMilkProducts').data('kendoGrid').dataSource.read();
    }

    function AddProduct(id) {
        var data = GetRowItem(id);
        console.log(data);
        $.ajax({
            url: '/OrderManagement/_AddMilkProduct',
            type: 'POST',
            data: data,
            success: function (res) {
                $('#GridMilkOrderDetails').data('kendoGrid').dataSource.read();
            },
            error: function (response) {
                let errorMsg = response.responseJSON && response.responseJSON.errorMsg;
                alert(errorMsg);
            }
        })
    }
    function GetRowItem(itemID) {
        return {
            orderID: '@Model.OrderHeaderID',
            productID: itemID,
            //Monday: $('#Mon_' + itemID).val(),
            //Tuesday: $('#Tue_' + itemID).val(),
            //Wednesday: $('#Wed_' + itemID).val(),
            //Thursday: $('#Thu_' + itemID).val(),
            //Friday: $('#Fri_' + itemID).val(),
            //Saturday: $('#Sat_' + itemID).val(),
        }
    }
</script>

<div class="row">
    <div class="col-sm-12">
        <div class="input-group" style="margin-bottom: 5px">
            @Html.TextBox("TB_Filter", "", new { @class = "form-control", @style = "max-width:none", @placeholder = "Search by Product Name" })
            <span class="input-group-btn">
                <a class="btn btn-default" onclick="RefreshGridMilkProducts(); return false;"><span class="glyphicon glyphicon-search"></span></a>
            </span>
        </div>
        @(Html.Kendo().Grid<MilkProductListViewModel>()
                    .Name("GridMilkProducts")
                    .Columns(columns =>
                    {
                        columns.Bound(m => m.ID).Hidden();
                        columns.Bound(f => f.ImageURL).Title("").ClientTemplate("<img name=\"Image\" src=\"#=ImageURL#\" style=\"height: 50px; width: 50px;\" />").Width("1%");
                        columns.Bound(f => f.Name).Title("Product").HeaderHtmlAttributes(new { @style = "vertical-align: middle" });
                        columns.Bound(f => f.Unit).Title("Unit").HeaderHtmlAttributes(new { @style = "vertical-align: middle" }).Width("10%");
                        columns.Bound(f => f.Price).Title("Price").ClientTemplate("<div class='div-inline'>#=kendo.toString(Price, 'C')#</div>").HeaderHtmlAttributes(new { @style = "vertical-align: middle" }).Width(1);
                        @*columns.Template(@<text></text>).Title("Mon").ClientTemplate("<input id='Mon_#=ID#' min=0 class='form-control' style='width:40px; text-align:center;' type='number' />");
                        columns.Template(@<text></text>).Title("Tue").ClientTemplate("<input id='Tue_#=ID#' min=0 class='form-control' style='width:40px; text-align:center;' type='number' />");
                        columns.Template(@<text></text>).Title("Wed").ClientTemplate("<input id='Wed_#=ID#' min=0 class='form-control' style='width:40px; text-align:center;' type='number' />");
                        columns.Template(@<text></text>).Title("Thu").ClientTemplate("<input id='Thu_#=ID#' min=0 class='form-control' style='width:40px; text-align:center;' type='number' />");
                        columns.Template(@<text></text>).Title("Fri").ClientTemplate("<input id='Fri_#=ID#' min=0 class='form-control' style='width:40px; text-align:center;' type='number' />");
                        columns.Template(@<text></text>).Title("Sat").ClientTemplate("<input id='Sat_#=ID#' min=0 class='form-control' style='width:40px; text-align:center;' type='number' />");*@
                        columns.Template(@<text></text>).Title("").ClientTemplate("<div class='btn btn-xs btn-info' onclick='AddProduct(\"#=ID#\")'>Add</div>").Width(1);
                    })
                    .DataSource(dataSource => dataSource
                            .Ajax()
                            .Model(model =>
                            {
                                model.Id(m => m.ID);
                            })
                            .Read(read => read.Action("Read", "MilkProductListView").Data("GetSearchMilkProductInfo"))
                    )
                    .Events(events => events.DataBound("KendoGridDatabound"))
        )
    </div>
</div>
