﻿@model NuIngredient.Models.OneOffOrderViewModel

<script>

    function GetGridProductsSearchInfo() {
        return {
            companyID: '@Model.CompanyID',
            filterText: $('#TB_ProductFilter').val(),
            supplierID: '@Model.SupplierID'
        }
    }

    function RefreshAddProducts() {
        $('#GridProducts').data('kendoGrid').dataSource.read();
    }

    function AddProductToOrder(productID) {
        $.ajax({
            url: '/OrderManagement/AddProductToOrder',
            type: 'POST',
            data: {
                productID: productID,
                qty: $('#' + productID + "_Qty").val(),
                orderID: '@Model.ID'
            },
            success: function (response) {
                $('#GridDryGoodsOrderDetails').data('kendoGrid').dataSource.read();
            }
        })

    }
</script>

<div class="row">
    <div class="col-xs-9">
        <h2>Products List</h2>
    </div>
    <div class="col-xs-3">
        <br />
        <a class="btn btn-sm btn-default" onclick="HideViews(); return false;" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
    </div>
    <div class="col-xs-12">
        <hr />
    </div>
    <div class="col-xs-3">
    @*
        @(Html.Kendo().DropDownList()
                      .Name("DropDownCategories")
                      .OptionLabel("All Categories")
                      .DataTextField("Name")
                      .DataValueField("ID")
                      .DataSource(dataSource => dataSource.Read(read => read.Action("DropDownAllCategories", "ProductCategories")))
                      .Events(events => events.Change("RefreshAddProducts"))
                      .HtmlAttributes(new { @style = "width: 100%; max-width: 280px;" })
        )
        *@
    </div>
    <div class="col-xs-3">
        <br />
    </div>
    <div class="col-xs-6">
        <div class="input-group">
            @Html.TextBox("TB_ProductFilter", null, new { @class = "form-control", @style = "max-width:none", @placeholder = "Search Products", @keyup = "RefreshAddProducts()" })
            <span class="input-group-btn">
                <a class="btn btn-default" onclick="RefreshAddProducts(); return false;"><span class="glyphicon glyphicon-search"></span></a>
            </span>
            <script>
                $("#TB_ProductFilter").keyup(function (e) {
                    //if (e.keyCode == 13) {
                    RefreshAddProducts();
                    //}
                });
            </script>
        </div>
    </div>
    <div class="col-xs-12">
        <br />
    </div>
    <div class="col-sm-12">
        @(Html.Kendo().Grid<NuIngredient.Models.ProductListViewModel>()
                .Name("GridProducts")
                .Columns(columns =>
                {
                    columns.Bound(f => f.ID).Hidden();
                    columns.Bound(f => f.ImageURL).Title("").ClientTemplate("<img name=\"Image\" src=\"#=ImageURL#\" style=\"height: 50px; width: 50px;\" />");
                    columns.Bound(f => f.Name).Title("Product");
                    columns.Bound(f => f.Price).Title("Price").ClientTemplate("#=kendo.toString(Price, 'C')#");
                    columns.Bound(f => f.ShortDescription).Title("Description");
                    columns.Bound(f => f.ID).Title("Add Qty").Template(@<text></text>).ClientTemplate("<input id='#=ID#_Qty' type='number' step='any' style='width:75px; text-align:center' value='1'>");
                    columns.Template(@<text></text>).ClientTemplate("<a class='btn btn-primary btn-xs' onclick='AddProductToOrder(\"#=ID#\"); return false;'>Add</a>");
                })
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Read(read => read.Action("ReadSupplierProducts", "ProductListView").Data("GetGridProductsSearchInfo"))
                )
                .Pageable()
        )
    </div>
</div>
