﻿@model NuIngredient.Models.MilkOrderHeader

<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th style="vertical-align: middle">Product</th>
                    <th style="vertical-align: middle">Unit</th>
                    <th style="text-align:center">Mon<br />@Model.FromDate.Value.ToString("dd/MM")</th>
                    <th style="text-align:center">Tue<br />@Model.FromDate.Value.AddDays(1).ToString("dd/MM")</th>
                    <th style="text-align:center">Wed<br />@Model.FromDate.Value.AddDays(2).ToString("dd/MM")</th>
                    <th style="text-align:center">Thu<br />@Model.FromDate.Value.AddDays(3).ToString("dd/MM")</th>
                    <th style="text-align:center">Fri<br />@Model.FromDate.Value.AddDays(4).ToString("dd/MM")</th>
                    <th style="text-align:center">Sat<br />@Model.FromDate.Value.AddDays(5).ToString("dd/MM")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>
                            @if (item.Milk != null)
                            {
                                <img src="@item.Milk.ImageURL" style="height: 50px; width: 50px;"/>
                            }
                        </td>
                        <td style="vertical-align: middle">@item.ProductName</td>
                        <td style="vertical-align: middle">@item.Unit</td>
                        <td style="text-align:center">@Html.Kendo().NumericTextBox().Name("Mon_" + @item.ID).Value(@item.Monday != 0 ? @item.Monday : (int?)null).Min(0).Format("0").HtmlAttributes(new { style = "width: 60px;" })</td>
                        <td style="text-align:center">@Html.Kendo().NumericTextBox().Name("Tue_" + @item.ID).Value(@item.Tuesday != 0 ? @item.Tuesday : (int?)null).Min(0).Format("0").HtmlAttributes(new { style = "width: 60px;" })</td>
                        <td style="text-align:center">@Html.Kendo().NumericTextBox().Name("Wed_" + @item.ID).Value(@item.Wednesday != 0 ? @item.Wednesday : (int?)null).Min(0).Format("0").HtmlAttributes(new { style = "width: 60px;" })</td>
                        <td style="text-align:center">@Html.Kendo().NumericTextBox().Name("Thu_" + @item.ID).Value(@item.Thursday != 0 ? @item.Thursday : (int?)null).Min(0).Format("0").HtmlAttributes(new { style = "width: 60px;" })</td>
                        <td style="text-align:center">@Html.Kendo().NumericTextBox().Name("Fri_" + @item.ID).Value(@item.Friday != 0 ? @item.Friday : (int?)null).Min(0).Format("0").HtmlAttributes(new { style = "width: 60px;" })</td>
                        <td style="text-align:center">@Html.Kendo().NumericTextBox().Name("Sat_" + @item.ID).Value(@item.Saturday != 0 ? @item.Saturday : (int?)null).Min(0).Format("0").HtmlAttributes(new { style = "width: 60px;" })</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>Narrative:</td>
                    <td colspan="8">
                        @Html.Kendo().TextBox().Name("Narrative").HtmlAttributes(new { style = "width:100%; max-width:none;" })
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="btn btn-primary btn-center pull-right" onclick="CreateCreditOrder()">Create</div>
    </div>
</div>
<script>
    function CreateCreditOrder() {
        var narrative = $('#Narrative').val();
        if (narrative == "") {
            return alert("Please type in narratives");
        }

        var items = [];
        @foreach (var item in Model.Items)
        {
            <text>
                items.push(GetRowItem('@item.ID'));
            </text>
        }

        $.ajax({
            url: '/OrderManagement/_CreateMilkCredit',
            type: 'POST',
            data: {
                items: items,
                narrative: narrative,
                orderHeaderID: '@Model.ID'
            },
            success: function (response) {
                $('#Modal').modal('hide');
                setTimeout(function() {
                    try {
                        ReloadOrder('@Model.ID');
                    } catch(e) {
                        window.location.reload();
                    }
                }, 1000);
            }
        });
    }
    function GetRowItem(itemID) {
        return {
            ID: itemID,
            Monday: $('#Mon_' + itemID).val(),
            Tuesday: $('#Tue_' + itemID).val(),
            Wednesday: $('#Wed_' + itemID).val(),
            Thursday: $('#Thu_' + itemID).val(),
            Friday: $('#Fri_' + itemID).val(),
            Saturday: $('#Sat_' + itemID).val(),
        }
    }
</script>
