﻿@model NuIngredient.Models.OneOffOrder

<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th style="vertical-align: middle">Product</th>
                    <th style="text-align:center">Qty</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OneOffOrderItems)
                {
                    <tr>
                        <td><img src="@item.Product.ImageURL" style="height: 50px; width: 50px;" /></td>
                        <td style="vertical-align: middle">@item.ProductName</td>
                        <td style="text-align:center">@Html.Kendo().NumericTextBox().Name("Qty_" + @item.ID).Value(item.Qty).Format("0").HtmlAttributes(new { style = "width: 60px;" })</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>Narrative:</td>
                    <td colspan="8">
                        @Html.Kendo().TextBox().Name("Narrative").HtmlAttributes(new { style = "width:100%; max-width:none;" })
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="btn btn-primary btn-center pull-right" onclick="CreateCreditOrder()">Create</div>
    </div>
</div>
<script>
    function CreateCreditOrder() {
        var narrative = $('#Narrative').val();
        if (narrative == "") {
            return alert("Please type in narratives");
        }

        var items = [];
        @foreach (var item in Model.OneOffOrderItems)
        {
            <text>
                items.push(GetRowItem('@item.ID'));
            </text>
        }
        console.log(items);
        console.log(narrative);

        $.ajax({
            url: '/OrderManagement/_CreateDryGoodsCredit',
            type: 'POST',
            data: {
                items: items,
                narrative: narrative,
                orderHeaderID: '@Model.ID'
            },
            success: function (response) {
                $('#Modal').modal('hide');
                location.reload();
            }
        })
    }
    function GetRowItem(itemID) {
        return {
            ID: itemID,
            Qty: $('#Qty_' + itemID).val(),
        }
    }
</script>
