﻿@model NuIngredient.Models.OneOffOrderViewModel

<script>
    function CreditPreKendoGridDatabound(e) {

        // Hide the table if there's no complaints
        if (e.sender.dataSource.total() == 0) {
            $('#panel_credit').hide();
        }
        else {
            $('#panel_credit').show();
        }

        KendoGridDatabound(e);
    }
</script>


<div class="panel panel-info" id="panel_credit" style="display:none;">
    <div class="panel-heading" style="text-align: center">Credit</div>
    @(Html.Kendo().Grid<NuIngredient.Models.DryGoodsCreditItemViewModel>()
            .Name("GridDryGoodsOrderCreditDetails")
            .Columns(columns =>
            {
                columns.Bound(m => m.ID).Hidden();
                columns.Bound(f => f.ImageURL).Title("").ClientTemplate("<img name=\"Image\" src=\"#=ImageURL#\" style=\"height: 50px; width: 50px;\" />").Width("1%");
                columns.Bound(f => f.ProductName).Title("Product").HeaderHtmlAttributes(new { @style = "vertical-align: middle" });
                columns.Bound(f => f.Qty).Width("70px").HeaderHtmlAttributes(new { @style = "vertical-align: middle" });
                columns.Bound(f => f.Narrative).HeaderHtmlAttributes(new { @style = "vertical-align: middle" });
                columns.Bound(f => f.CreateBy).HeaderHtmlAttributes(new { @style = "vertical-align: middle" }).Width("1%");
                columns.Bound(f => f.Created).Format("{0:dd/MM/yyyy}").HeaderHtmlAttributes(new { @style = "vertical-align: middle" }).Width("1%");
            })
            .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(m => m.ID);
                    })
                    .Read(read => read.Action("Read", "DryGoodsCreditItemsGrid", new { orderHeaderID = Model.ID }))
            )
            .Events(events => events.DataBound("CreditPreKendoGridDatabound"))
    )
</div>
