﻿@model NuIngredient.Models.OneOffOrderViewModel

<div class="panel panel-default form-table">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <table class="table">
                    <tr class="info">
                        <td>
                            <label>Total Net:&nbsp;</label>
                        </td>
                        <td>
                            <label>Total VAT:&nbsp;</label>
                        </td>
                        <td>
                            <label>Total Gross:&nbsp;</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>@Model.TotalNet.ToString("C")</label>
                        </td>
                        <td>
                            <label>@Model.TotalVAT.ToString("C")</label>
                        </td>
                        <td>
                            <label>@Model.TotalGross.ToString("C")</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Order Date: </label>
                        </td>
                        <td>
                            <label><span class='label label-info'>@Model.Created.ToString("dd/MM/yyyy")</span></label>
                        </td>
                        <td></td>
                    </tr>
                    @if (@Model.DeliveryDate != null)
                    {
                        <tr>
                            <td>
                                <label>Delivery Date: </label>
                            </td>
                            <td>
                                <label><span class='label label-info'>@Model.DeliveryDate.Value.ToString("dd/MM/yyyy")</span></label>
                            </td>
                            <td></td>
                        </tr>
                    }
                </table>
            </div>
            <div class="col-sm-6">
                <div class="pull-right">
                    @if (Model.Status == NuIngredient.Models.OneOffOrderStatus.Accepted)
                    {
                        <label class="label color-accepted">@Model.Status</label>
                    }
                    else if (Model.Status == NuIngredient.Models.OneOffOrderStatus.Invoiced)
                    {
                        <label class="label color-invoiced">@Model.Status</label>
                    }
                    else
                    {
                        <label class="label label-info">@Model.Status</label>
                    }
                </div>
            </div>
        </div>
    </div>
</div>