﻿@model NuIngredient.Models.OneOffOrderViewModel

<script>
    function OnGridOrderItemsRequestEnd(e) {
        if (e.type != 'read') {
            $('#GridOrderItems').data('kendoGrid').dataSource.read();
            $("#GridOneOffOrders").data("kendoGrid").dataSource.read();
        }
    }

    function ShowProductList() {
        $("#Edit_Body").load("@Url.Action("_AddProducts", "OrderManagement", new { orderID = Model.ID })");

        $("#SlideContent_Edit").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_Edit").fadeIn();
        $("#Button_Close_Content").fadeIn();
    }

</script>

<div>
    <div class="row">
        <h4 style="text-align:center;">Order No: @Model.OrderNumber</h4>
        @if (Model.Status == NuIngredient.Models.OneOffOrderStatus.Accepted || Model.Status == NuIngredient.Models.OneOffOrderStatus.CreditOrder)
        {
        <div class="col-sm-12">
            <div class="btn btn-xs btn-primary pull-right" style="margin-bottom: 5px;" onclick="ShowProductList()">Add Product</div>
        </div>
        }
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading" style="padding:1px;">
                    <h5 style="text-align:center;">ORDER DETAILS</h5>
                </div>
                <div class="panel-body" style="padding: 0px;">
                    @(Html.Kendo().Grid<NuIngredient.Models.OneOffOrderItemViewModel>()
                          .Name("GridOrderItems")
                          .Columns(columns =>
                          {
                              columns.Bound(f => f.ID).Hidden();
                              columns.Bound(f => f.ImageURL).Title("").ClientTemplate("<img name=\"Image\" src=\"#=ImageURL#\" style=\"height: 50px; width: 50px;\" />");
                              columns.Bound(f => f.ProductName).Title("Product");
                              columns.Bound(f => f.Qty);
                              columns.Bound(f => f.ProductPrice).Title("Price").ClientTemplate("#=kendo.toString(ProductPrice, 'C')#");
                              columns.Bound(f => f.Total).Title("Total").ClientTemplate("#=kendo.toString(Total, 'C')#").ClientFooterTemplate("#=kendo.toString(sum, 'C')#");
                          })
                          .Editable(editable => editable.Mode(GridEditMode.InCell))
                          .DataSource(dataSource => dataSource
                                .Ajax()
                                .Model(model =>
                                {
                                    model.Id(m => m.ID);
                                    model.Field(m => m.ImageURL).Editable(false);
                                    model.Field(m => m.ProductName).Editable(true);
                                    model.Field(m => m.Qty).Editable(true);
                                    model.Field(m => m.ProductPrice).Editable(true);
                                    model.Field(m => m.Total).Editable(false);
                                })
                                .Aggregates(agg =>
                                {
                                    agg.Add(m => m.Total).Sum();
                                })
                                .Read(read => read.Action("Read", "OneOffOrderItemGrid", new { id = Model.ID }))
                                .Update(update => update.Action("Update", "OneOffOrderItemGrid"))
                                .Events(events => events.RequestEnd("OnGridOrderItemsRequestEnd"))
                                .AutoSync(true)
                          )
                    )
                </div>
            </div>
        </div>
        <div class="col-sm-12" id="BillingDetails">
            <div class="panel panel-info">
                <div class="panel-heading" onclick="$('#Panel_BillingDetails').slideToggle()" style="cursor:pointer; padding:1px;">
                    <h5 style="text-align:center;">BILLING DETAILS</h5>
                </div>
                <div class="panel-body" id="Panel_BillingDetails" style="display:none; padding:0px;">
                    <table class="table table-bordered table-striped" style="margin-bottom:0px;">
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.OrderNumber)
                            </td>
                            <td>
                                @Model.OrderNumber
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.CompanyName)
                            </td>
                            <td>
                                @Model.CompanyName
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.EmailAddress)
                            </td>
                            <td>
                                @Model.EmailAddress
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.Phone)
                            </td>
                            <td>
                                @Model.Phone
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.DeliveryAddress)
                            </td>
                            <td>
                                @Model.DeliveryAddress
                            </td>
                        </tr>
                        @if (!string.IsNullOrWhiteSpace(Model.DeliveryCounty))
                        {
                            <tr>
                                <td>
                                    @Html.LabelFor(model => model.DeliveryCounty)
                                </td>
                                <td>
                                    @Model.DeliveryCounty
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.DeliveryPostCode)
                            </td>
                            <td>
                                @Model.DeliveryPostCode
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.BillingAddress)
                            </td>
                            <td>
                                @Model.BillingAddress
                            </td>
                        </tr>
                        @if (!string.IsNullOrWhiteSpace(Model.BillingCounty))
                        {
                            <tr>
                                <td>
                                    @Html.LabelFor(model => model.BillingCounty)
                                </td>
                                <td>
                                    @Model.BillingCounty
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.BillingPostCode)
                            </td>
                            <td>
                                @Model.BillingPostCode
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.OrderNotes)
                            </td>
                            <td>
                                @Model.OrderNotes
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.PONumber)
                            </td>
                            <td>
                                @Model.PONumber
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.Created)
                            </td>
                            <td>
                                @Model.Created.ToString("dd/MM/yyyy HH:mm")
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.Total)
                            </td>
                            <td>
                                <label>@Model.Total.ToString("C")</label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #GridOrderItems .k-header, #GridOrderItems td {
        text-align: center;
        vertical-align: middle;
    }
</style>

