﻿@model NuIngredient.Models.FruitOrderHeaderViewModel

<script>
    function CreditPreKendoGridDatabound(e) {

        // Hide the table if there's no complaints
        if (e.sender.dataSource.total() == 0) {
            $('#panel_credit').hide();
        }
        else {
            $('#panel_credit').show();
        }

        KendoGridDatabound(e);
    }
</script>

<div class="panel panel-info" id="panel_credit" style="display:none;">
    <div class="panel-heading" style="text-align: center">Credit</div>
        @(Html.Kendo().Grid<NuIngredient.Models.FruitCreditItemViewModel>()
                    .Name("GridFruitOrderCreditDetails")
                    .Columns(columns =>
                    {
                        columns.Bound(m => m.ID).Hidden();
                        columns.Bound(f => f.ImageURL).Title("").ClientTemplate("<img name=\"Image\" src=\"#=ImageURL#\" style=\"height: 50px; width: 50px;\" />").Width("70px");
                        columns.Bound(f => f.ProductName).Title("Product").HeaderHtmlAttributes(new { @style = "vertical-align: middle" });
                        columns.Bound(f => f.Unit).Title("Unit").HeaderHtmlAttributes(new { @style = "vertical-align: middle" }).Width("100px");
                        if (Model.OrderMode == NuIngredient.Models.OrderMode.Regular)
                        {
                            columns.Bound(f => f.Monday).Title("Mon").ClientTemplate("<div class='div-inline'>#if (Monday != 0){# #=Monday# #} #</div>").Width("70px");
                            columns.Bound(f => f.Tuesday).Title("Tue").ClientTemplate("<div class='div-inline'>#if (Tuesday != 0){# #=Tuesday# #} #</div>").Width("70px");
                            columns.Bound(f => f.Wednesday).Title("Wed").ClientTemplate("<div class='div-inline'>#if (Wednesday != 0){# #=Wednesday# #} #</div>").Width("70px");
                            columns.Bound(f => f.Thursday).Title("Thu").ClientTemplate("<div class='div-inline'>#if (Thursday != 0){# #=Thursday# #} #</div>").Width("70px");
                            columns.Bound(f => f.Friday).Title("Fri").ClientTemplate("<div class='div-inline'>#if (Friday != 0){# #=Friday# #} #</div>").Width("70px");
                            columns.Bound(f => f.Saturday).Title("Sat").ClientTemplate("<div class='div-inline'>#if (Saturday != 0){# #=Saturday# #} #</div>").Width("70px");
                        }
                        else
                        {
                            columns.Bound(f => f.Monday).Title("Mon<br />" + Model.FromDate.Value.ToString("dd/MM")).ClientTemplate("<div class='div-inline'>#if (Monday != 0){# #=Monday# #} #</div>").HeaderHtmlAttributes(new { @style = "text-align: center" }).Width("70px");
                            columns.Bound(f => f.Tuesday).Title("Tue<br />" + Model.FromDate.Value.AddDays(1).ToString("dd/MM")).ClientTemplate("<div class='div-inline'>#if (Tuesday != 0){# #=Tuesday# #} #</div>").HeaderHtmlAttributes(new { @style = "text-align: center" }).Width("70px");
                            columns.Bound(f => f.Wednesday).Title("Wed<br />" + Model.FromDate.Value.AddDays(2).ToString("dd/MM")).ClientTemplate("<div class='div-inline'>#if (Wednesday != 0){# #=Wednesday# #} #</div>").HeaderHtmlAttributes(new { @style = "text-align: center" }).Width("70px");
                            columns.Bound(f => f.Thursday).Title("Thu<br />" + Model.FromDate.Value.AddDays(3).ToString("dd/MM")).ClientTemplate("<div class='div-inline'>#if (Thursday != 0){# #=Thursday# #} #</div>").HeaderHtmlAttributes(new { @style = "text-align: center" }).Width("70px");
                            columns.Bound(f => f.Friday).Title("Fri<br />" + Model.FromDate.Value.AddDays(4).ToString("dd/MM")).ClientTemplate("<div class='div-inline'>#if (Friday != 0){# #=Friday# #} #</div>").HeaderHtmlAttributes(new { @style = "text-align: center" }).Width("70px");
                            columns.Bound(f => f.Saturday).Title("Sat<br />" + Model.FromDate.Value.AddDays(5).ToString("dd/MM")).ClientTemplate("<div class='div-inline'>#if (Saturday != 0){# #=Saturday# #} #</div>").HeaderHtmlAttributes(new { @style = "text-align: center" }).Width("70px");
                        }
                        columns.Bound(f => f.Narrative).HeaderHtmlAttributes(new { @style = "vertical-align: middle" }).Width("100px");
                        columns.Bound(f => f.CreateBy).HeaderHtmlAttributes(new { @style = "vertical-align: middle" }).Width("150px");
                        columns.Bound(f => f.Created).Format("{0:dd/MM/yyyy}").HeaderHtmlAttributes(new { @style = "vertical-align: middle" }).Width("150px");
                    })
                    .Scrollable(scrollable => scrollable.Height("auto"))
                    .DataSource(dataSource => dataSource
                            .Ajax()
                            .Model(model =>
                            {
                                model.Id(m => m.ID);
                            })
                            .Read(read => read.Action("Read", "FruitCreditItemsGrid", new { orderHeaderID = Model.ID }))
                    )
                    .Events(events => events.DataBound("CreditPreKendoGridDatabound"))
        )
</div>