﻿<div class="panel panel-info">
    <div class="panel-heading" style="text-align: center; cursor: pointer;" onclick="$('#FruitOrders').slideToggle()">
        Fruit Orders
    </div>
    <div class="panel-body" style="padding: 0px;" id="FruitOrders">
        @(Html.Kendo().Grid<NuIngredient.Models.FruitOrderHeaderViewModel>()
                      .Name("GridFruitOrderHeader")
                      .Columns(columns =>
                      {
                      columns.Bound(m => m.ID).Hidden();
                      columns.Bound(m => m.CompanyID).Hidden();
                      columns.Bound(m => m.OrderMode).ClientTemplate("#if(OrderMode == 1){#<a class='label color-accepted' title='Go to Standing Order' href='/Fruits/Goto?companyID=#=CompanyID#'>Regular</a>#} else if (OrderMode == 3){#<span class='label color-delivered'>OneOff</span#} else if (OrderMode == 4){#<span class='label color-history'>History</span#}#").Width(80);
                      //columns.Bound(m => m.OrderNumber).ClientTemplate("<a href='/OrderManagement/FruitOrderDetails/#=ID#'>#=OrderNumber#</a>");
                      columns.Bound(m => m.CompanyName).Title("Customer").ClientTemplate("<a title='Go to Company' href='/Companies?ID=#=CompanyID#'>#=CompanyName#</a>").Width(200);
                      columns.Bound(m => m.FromDate).Title("Date From").ClientTemplate("#if(FromDate){#<span class='label label-info'>#=kendo.toString(FromDate, 'dd/MM/yyyy')#</span>#}#").Width(90);
                      columns.Bound(m => m.ToDate).Title("Date To").ClientTemplate("#if(ToDate){#<span class='label label-info'>#=kendo.toString(ToDate, 'dd/MM/yyyy')#</span>#}#").Width(90);
                      //columns.Bound(m => m.TotalNet).Title("Net").ClientTemplate("#=kendo.toString(TotalNet, 'C')#").Width(80);
                      //columns.Bound(m => m.TotalVAT).Title("VAT").ClientTemplate("#=kendo.toString(TotalVAT, 'C')#").Width(80);
                      columns.Bound(m => m.TotalGross).Title("Gross").ClientTemplate("#=kendo.toString(TotalGross, 'C')#").Width(80);
                      columns.Bound(m => m.Note).EditorTemplateName("TextAreaTemplate").HtmlAttributes(new {style="white-space: pre-line;"});
                      columns.Bound(m => m.LatestUpdated).Title("Latest Updated").ClientTemplate("#if(LatestUpdated){#<span class='label label-info'>#=kendo.toString(LatestUpdated, 'dd/MM/yyyy HH:mm')#</span>#}#").Width(130);
                      columns.Command(commands =>
                      {
                          commands.Edit()
                              .Text("<span class='glyphicon glyphicon-edit glyphicon-btn'></span>")
                              .UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn'></span>")
                              .CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn'></span>");
                      }).Width("45px");
                      columns.Template(@<text></text>).ClientTemplate("<a href='/OrderManagement/FruitOrderDetails/#=ID#' title='Details'><span class='glyphicon glyphicon-list glyphicon-btn'/></a>").Width(50);
                      })
                      .Editable(editable => editable.Mode(GridEditMode.InLine))
                      .DataSource(dataSource => dataSource
                              .Ajax()
                              .Model(model =>
                              {
                                  model.Id(m => m.ID);
                                  model.Field(m => m.OrderMode).Editable(false);
                                  model.Field(m => m.CompanyID).Editable(false);
                                  model.Field(m => m.CompanyName).Editable(false);
                                  model.Field(m => m.FromDate).Editable(false);
                                  model.Field(m => m.ToDate).Editable(false);
                                  model.Field(m => m.TotalGross).Editable(false);
                                  model.Field(m => m.LatestUpdated).Editable(false);
                              })
                              .Read(read => read.Action("ReadAll", "FruitOrderHeadersGrid").Data("GetSearchInfo")).PageSize(25)
                              .Update(update => update.Action("Update", "FruitOrderHeadersGrid"))
                      )
                      .Scrollable(scrollable => scrollable.Height(500).Enabled(true))
                      .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Orders").Empty("No Orders Found")))
                      .Events(events => events.DataBound("OrderDataBound"))
                      .AutoBind(false)
)
    </div>
</div>
