﻿

<script>

    function RefreshCalendar() {
        $('#MilkOrderCalendar').data('kendoScheduler').dataSource.read();
    }

    function GetCalendarSearchInfo() {
        const scheduler = $('#MilkOrderCalendar').data('kendoScheduler');
        const view = scheduler.view();

        return {
            companyID: $('#DropDownCompanies').val(),
            fromDate: view.startDate(),
            toDate: view.endDate(),
            statuses: GetStatuses(),
            includeDepreciated: $('#CB_Depreciated').hasClass('glyphicon-check')
        }
    }

    function OnCalendarNavigate(e) {
        setTimeout(RefreshCalendar, 1);
    }

</script>

<script type="kendo/template" id="event-template">
    #if(data.Depreciated) {#
        <div class='k-event-template' title='#=data.title#' style='cursor: pointer; text-decoration: line-through;' onclick='OpenOrder("#=OrderID#")'>#=data.title#</div>
    #} else {#
        <div class='k-event-template' title='#=data.title#' style='cursor: pointer;' onclick='OpenOrder("#=OrderID#")'>#=data.title#</div>
    #}#
</script>

<div class="panel panel-info">
<div class="panel-heading" style="text-align: center;">
    Milk Orders
</div>
<div class="panel-body" style="padding: 0px;">
@(Html.Kendo().Scheduler<NuIngredient.Models.OrderCalendarEventViewModel>
    ()
    .Name("MilkOrderCalendar")
    .Date(DateTime.Today)
    .Height(800)
    .Views(views =>
    {
        views.MonthView();
        views.WeekView(weekView => weekView.StartTime(DateTime.Parse("06:00")));
        views.DayView(dayView => dayView.StartTime(DateTime.Parse("06:00")));
        views.AgendaView();
    })
    .Resources(resource =>
    {
        resource.Add(m => m.OrderMode)
            .Title("OrderMode")
            .DataTextField("Text")
            .DataValueField("Value")
            .DataColorField("Color")
            .BindTo(new[]
            {
                new { Text = "Regular", Value = (int)NuIngredient.Models.OrderMode.Regular, Color = "#e54e16" },
                new { Text = "OneOff", Value = (int)NuIngredient.Models.OrderMode.OneOff, Color = "#e27b0d" },
                new { Text = "History", Value = (int)NuIngredient.Models.OrderMode.History, Color = "#79878f" },
            });
    })
    .DataSource(dataSource => dataSource
        .Read(read => read
            .Action("ReadCalendar", "MilkOrderHeadersGrid")
            .Data("GetCalendarSearchInfo")
        )
    )
    .EventTemplateId("event-template")
    .Editable(false)
    .AutoBind(false)
    .Events(events => events.Navigate("OnCalendarNavigate"))
    )
</div>
</div>
