﻿@model NuIngredient.Models.MilkOrderHeaderViewModel

<script>
    function PreKendoGridDatabound(e) {

        // Hide the table if there's no complaints
        if (e.sender.dataSource.total() == 0) {
            $('#GridMilkOrderFeedback').hide();
        }
        else {
            $('#GridMilkOrderFeedback').show();
        }

        KendoGridDatabound(e);
    }
</script>

@(Html.Kendo().Grid<NuIngredient.Models.MilkOrderFeedbackNIViewModel>()
              .Name("GridMilkOrderFeedback")
              .Columns(columns =>
              {
                  columns.Bound(f => f.ID).Hidden();
                  columns.Bound(f => f.Message).Title("Message").EditorTemplateName("TextAreaTemplate").HtmlAttributes(new { @style = "white-space: pre-wrap;" });
                  columns.Bound(f => f.ComplaintantName).Title("User");
                  columns.Bound(f => f.Created).Title("Time").ClientTemplate("<div class='label label-info'>#=kendo.toString(Created, \"dd/MM/yyyy HH:mm:ss\")#</div>").Width("1%");
                  columns.Bound(f => f.NIComment).Title("NI Comment").EditorTemplateName("TextAreaTemplate").HtmlAttributes(new { @style = "white-space: pre-wrap;" }); ;
                  columns.Bound(f => f.ReplierName).Title("Replier Name");
                  columns.Bound(f => f.ResponseTime).Title("Response Time").ClientTemplate("#if(ResponseTime != null){# <div class='label label-warning'>#=kendo.toString(ResponseTime, \"dd/MM/yyyy HH:mm:ss\")#</div> #} #").Width("1%");
                  columns.Command(command => command.Edit()
                                                      .Text("<span class='glyphicon glyphicon-edit glyphicon-btn'/>")
                                                      .UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn'/>")
                                                      .CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn'/>")).Width("80px");
              })
              .Editable(editable => editable.CreateAt(GridInsertRowPosition.Bottom))
              .DataSource(dataSource => dataSource
                      .Ajax()
                      .Model(model =>
                      {
                          model.Id(m => m.ID);
                          model.Field(m => m.Message).Editable(false);
                          model.Field(m => m.CustomerName).Editable(false);
                          model.Field(m => m.ComplaintantName).Editable(false);
                          model.Field(m => m.Created).Editable(false);
                          model.Field(m => m.ResponseTime).Editable(false);
                          model.Field(m => m.ReplierName).Editable(false);
                          model.Field(m => m.Order).Editable(false);
                      })
                      .Read(read => read.Action("ReadByOrderID", "NIMilkOrderFeedbackGrid", new { milkOrderHeaderID = Model.ID }))
                      .Create(create => create.Action("Create", "NIMilkOrderFeedbackGrid"))
                      .Update(update => update.Action("Update", "NIMilkOrderFeedbackGrid"))
              )
              .Pageable(p => p.PageSizes(new[] { 10, 20, 50 }).Messages(m => m.Display("{0} - {1} of {2} Feedback").Empty("No Feedback Found")))
              .Events(events => events.DataBound("PreKendoGridDatabound"))
              .HtmlAttributes(new { @style = "display:none" })
)
