﻿<script src="/Scripts/Views/ShoppingCart.js?v=@(DateTime.Now.ToString("yyMMddmmHH"))"></script>
<div class="panel panel-info">
    <div class="panel-heading" style="text-align: center; cursor: pointer;" onclick="$('#OneShoppingCart').slideToggle()">
        In Shopping Cart
    </div>
    <div class="panel-body" style="padding: 0px;" id="OneShoppingCart">
        @(Html.Kendo().Grid<NuIngredient.Models.ShoppingCartGridViewModel>()
                        .Name("GridShoppingCart")
                        .Columns(columns =>
                        {
                            columns.Bound(f => f.CompanyID).Hidden();
                            columns.Bound(f => f.LastUpdatedTime).Title("Last Updated Time").ClientTemplate("#=kendo.toString(LastUpdatedTime, \"dd/MM/yyyy HH:mm:ss\")#").Width(130);
                            columns.Bound(f => f.CompanyName).Title("Company Name").ClientTemplate("#if(CompanyID != null){# <a title='Go to Company' href='/Companies?ID=#=CompanyID#'>#=CompanyName#</a> #}else{# #=CompanyName# #}#").Width(200);
                            columns.Bound(f => f.Count).Title("Total Items").Width(100);
                            columns.Bound(f => f.Total).ClientTemplate("#=kendo.toString(Total, 'C')#").Width(80);
                            columns.Template(@<text></text>).ClientTemplate("<a href='\\#' onclick='ShowCart(\"#=CompanyID#\");' title='Details'><span class='glyphicon glyphicon-list glyphicon-btn'/></a>").Width(50);
                        })
                        .Scrollable(scrollable => scrollable.Height(250).Enabled(true))
                        .DataSource(dataSource => dataSource
                                .Ajax()
                                .Model(model =>
                                {
                                    model.Id(m => m.CompanyID);
                                })
                                .Read(read => read.Action("ReadAll", "ShoppingCartGrid").Data("GetSearchInfo"))
                        )
                        .Pageable(p => p.PageSizes(new[] { 10, 20, 50 }).Messages(m => m.Display("{0} - {1} of {2} Orders").Empty("No Orders Found")))
                        .Events(events => events.DataBound("KendoGridDatabound")) 
        )
    </div>
</div>

<script>
    function ShowCart(companyID) {
        sessionStorage.CompanyID = companyID;
        ShowShoppingCart();
    }
</script>