﻿<div class="panel panel-info">
    <div class="panel-heading" style="text-align: center; cursor: pointer;" onclick="$('#OneOffOrders').slideToggle()">
        Proforma Orders
    </div>
    <div class="panel-body" style="padding: 0px;" id="OneOffOrders">
        @(Html.Kendo().Grid<NuIngredient.Models.OneOffOrderGridViewModel>()
                        .Name("GridOneOffOrders")
                        .Columns(columns =>
                        {
                            columns.Bound(f => f.ID).Hidden();
                            columns.Bound(f => f.Status).ClientTemplate("#if(Status == 6){#<span class='label color-accepted'>Pending</span>#}else if(Status == 5){#<span class='label color-canceled'>Canceled</span>#}#").Width(100);
                            columns.Bound(f => f.Created).Title("Order Date").ClientTemplate("#=kendo.toString(Created, \"dd/MM/yyyy HH:mm:ss\")#").Width(130);
                            columns.Bound(f => f.CompanyName).Title("Company Name").ClientTemplate("<a title='Go to Company' href='/Companies?ID=#=CompanyID#'>#=CompanyName#</a>").Width(200);
                            columns.Bound(f => f.OrderNumber).Title("Order Number").ClientTemplate("<a href='/OrderManagement/ProformaOrderDetails/#=ID#' /*onclick=\"OneOffOrder('#=ID#')\"*/>#=OrderNumber#</a>").Width(100);
                            columns.Bound(f => f.Total).ClientTemplate("#=kendo.toString(Total, 'C')#").Width(80);
                            columns.Template(@<text></text>).ClientTemplate("<a href='/OrderManagement/ProformaOrderDetails/#=ID#' /*onclick='OneOffOrder(\"#=ID#\");'*/ title='Details'><span class='glyphicon glyphicon-list glyphicon-btn'/></a>").Width(50);
                        })
                        .DataSource(dataSource => dataSource
                                .Ajax()
                                .Model(model =>
                                {
                                    model.Id(m => m.ID);
                                })
                                .Read(read => read.Action("ReadAll", "OneOffOrderGrid").Data("GetSearchInfo"))
                        )
                        .Scrollable(scrollable => scrollable.Height(250).Enabled(true))
                        .Pageable(p => p.PageSizes(new[] { 10, 20, 50 }).Messages(m => m.Display("{0} - {1} of {2} Orders").Empty("No Orders Found")))
                        .Events(events => events.DataBound("KendoGridDatabound"))
        )
    </div>
</div>

<script>
    function CreateCreditOrder(orderID) {
        if (!confirm("Are you sure you want to create a credit order for this order?"))
            return;

        $.ajax({
            url: '/OrderManagement/CreateCreditOrder',
            type: 'POST',
            data: {
                orderID: orderID
            },
            success: function (response) {
                $('#GridOneOffOrders').data('kendoGrid').dataSource.read();
            }
        })
    }
</script>

<style>
    span.label {
        display: block;
    }
</style>