﻿@using NuIngredient.Models
@model NuIngredient.Models.OneOffOrderViewModel

@(Html.Kendo().Grid<NuIngredient.Models.OneOffOrderItemViewModel>()
            .Name("GridDryGoodsOrderDetails")
            .Columns(columns =>
            {
                columns.Bound(m => m.ID).Hidden();
                columns.Bound(f => f.ImageURL).Title("").ClientTemplate("<img name=\"Image\" src=\"#=ImageURL#\" style=\"height: 50px; width: 50px;\" />").Width("1%");
                columns.Bound(f => f.ProductName).Title("Product").HeaderHtmlAttributes(new { @style = "vertical-align: middle" });
                columns.Bound(f => f.Qty).Title("Qty").Width("70px");
                columns.Bound(f => f.Unit).Title("Unit").ClientTemplate("<span class='div-inline'>#=Unit#<span>").Width("1%");
                columns.Bound(f => f.ProductPrice).Title("Price").ClientTemplate("<div class='div-inline'>#=kendo.toString(ProductPrice, 'C')#</div>").HeaderHtmlAttributes(new { @style = "vertical-align: middle" }).Width("1%");
                columns.Bound(f => f.Net).Title("Net").ClientTemplate("<div class='div-inline'>#=kendo.toString(Net, 'C')#</div>").HeaderHtmlAttributes(new { @style = "vertical-align: middle" }).Width("1%");
                columns.Bound(f => f.VAT).Title("VAT").ClientTemplate("<div class='div-inline'>#=kendo.toString(VAT, 'C')#</div>").HeaderHtmlAttributes(new { @style = "vertical-align: middle" }).Width("1%");
                columns.Bound(f => f.Gross).Title("Gross").ClientTemplate("<div class='div-inline'>#=kendo.toString(Gross, 'C')#</div>").HeaderHtmlAttributes(new { @style = "vertical-align: middle" }).Width("1%");
                if (Model.Status == OneOffOrderStatus.Proforma)
                {
                    columns.Command(commands =>
                    {
                        commands.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn'/>").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn'/>").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn'/>");
                    }).Width("90px");
                }

            })
            .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(m => m.ID);
                        model.Field(m => m.ImageURL).Editable(false);
                        model.Field(m => m.ProductName).Editable(false);
                        model.Field(m => m.ProductCode).Editable(false);
                        model.Field(m => m.ProductPrice).Editable(false);
                        model.Field(m => m.Net).Editable(false);
                        model.Field(m => m.VAT).Editable(false);
                        model.Field(m => m.Gross).Editable(false);
                        model.Field(m => m.Unit).Editable(false);
                    })
                    .Update(update => update.Action("Update", "OneOffOrderItemGrid"))
                    .Read(read => read.Action("Read", "OneOffOrderItemGrid", new { id = Model.ID }))
                    .Events(events => events.RequestEnd("RefreshOrderHeader"))
            )
            .Events(events => events.DataBound("KendoGridDatabound"))
)
