﻿@{
    ViewBag.Title = "Proforma Orders";
}


<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-xs-6">
            <div class="input-group" style="margin-top:25px;">
                @Html.TextBox("TB_Filter", null, new { @class = "form-control", @style = "max-width:none;", @placeholder = "Search by Order Number" })
                <span class="input-group-btn">
                    <a class="btn btn-default" onclick="Refresh(); return false;"><span class="glyphicon glyphicon-search"></span></a>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>


        <div id="divEdit" class="col-sm-12" style="display:none">
            <div class="form-group" role="group" aria-label="...">
            </div>
        </div>

        <div class="col-sm-12">
            <div style="display:inline-block; width:230px; vertical-align:top; ">
                @*This Panel below holds all the search filters for the Page*@
                <div class="panel panel-default" style="background-color:initial;">
                    <div class="panel-body">
                        <a class="btn btn-primary color-accepted" onclick="ToggleStatus(this);" style="width:100%; text-align:left; margin-bottom:3px;"><span name="Status" class="glyphicon glyphicon-check" data-value="@NuIngredient.Models.OneOffOrderStatus.Proforma"></span>&nbsp;&nbsp;Pending</a>
                        <a class="btn btn-primary color-canceled" onclick="ToggleStatus(this);" style="width:100%; text-align:left; margin-bottom:3px;"><span name="Status" class="glyphicon glyphicon-check" data-value="@NuIngredient.Models.OneOffOrderStatus.Canceled"></span>&nbsp;&nbsp;Canceled</a>
                        <hr />
                        @(Html.Kendo().DropDownList()
                          .Name("DropDownCompanies")
                          .OptionLabel("All Customers")
                          .DataTextField("Name")
                          .DataValueField("ID")
                          .Filter(FilterType.Contains)
                          .DataSource(dataSource => dataSource.Read(read => read.Action("DropDownCompanies", "Companies")))
                          .Events(events => events.Change("Refresh"))
                          .HtmlAttributes(new { @style = "width: 200px;" })
                        )
                        <hr />
                        @(Html.Kendo().DropDownList()
                            .Name("DropDownDate")
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .Events(e => e.Change("DateChanged"))
                            .BindTo(new List<SelectListItem>() {
                                        new SelectListItem() { Text = "This Month", Value = "1"},
                                        new SelectListItem() { Text = "Last Month", Value = "2"},
                                        new SelectListItem() { Text = "Custom Range", Value = "3"},
                            })
                            .Value("0")
                            .HtmlAttributes(new { style = "width: 100%" })
                        )
                        <div id="div_CustomDateRange" style="display: none;">
                            <hr />
                            <table>
                                <tr>
                                    <td style="width:50px"><label>From:</label></td>
                                    <td style="padding-bottom:5px;">
                                        @(Html.Kendo().DatePicker()
                                              .Name("DateFrom")
                                              .HtmlAttributes(new { style = "width: 100%" })
                                              .Value(DateTime.Today.ToString("dd/MM/yyyy"))
                                              .Events(e => { e.Close("Refresh"); })
                                        )
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>To:</label></td>
                                    <td style="padding-bottom:5px;">
                                        @(Html.Kendo().DatePicker()
                                              .Name("DateTo")
                                              .HtmlAttributes(new { style = "width: 100%" })
                                              .Value(DateTime.Today.ToString("dd/MM/yyyy"))
                                              .Events(e => { e.Close("Refresh"); })
                                        )
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display:inline-block; padding-left:5px; width:calc(100% - 235px)">
                @Html.Partial("_PanelProformaOrder")
            </div>
        </div>
    </div>
</div>

<style>
    .div-inline {         
        overflow: hidden;
        white-space: nowrap;
        text-align:center;
        align-items:center;
    }
</style>

<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:2001; display:none;"></a>

<div id="SlideContent_Edit" class="panel panel-default" style="z-index: 2002; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 800px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="Edit_Body"></div>
    </div>
</div>

  <!-- Modal -->
<div class="modal fade" id="Modal" role="dialog" style="z-index:2000">
    <div class="modal-dialog" style="width:800px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center;">Your Shopping Cart</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Modal2" role="dialog" style="z-index:2000">
    <div class="modal-dialog" style="width:400px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center;">Supplier</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>

    @if (ViewBag.ID != null)
    {<text>
        OneOffOrder('@ViewBag.ID');
    </text>}

    function Refresh() {
        $("#GridOneOffOrders").data("kendoGrid").dataSource.read();
        //$("#GridFruitInvoiceHeader").data("kendoGrid").dataSource.read();
        //$("#GridMilkInvoiceHeader").data("kendoGrid").dataSource.read();
        $("#GridShoppingCart").data("kendoGrid").dataSource.read();
    }

    function GetSearchInfo() {
        return {
            filterText: $('#TB_Filter').val(),
            companyID: $('#DropDownCompanies').val(),
            dateType: $('#DropDownDate').val(),
            fromDate: kendo.toString($("#DateFrom").data("kendoDatePicker").value(), 'dd/MM/yyyy'),
            toDate: kendo.toString($("#DateTo").data("kendoDatePicker").value(), 'dd/MM/yyyy'),
            statuses: GetStatuses()
        }
    }

    $("#TB_Filter").keyup(function (e) {
        if (e.keyCode == 13) {
            Refresh();
        }
    });

    function HideViews() {
        $("#SlideContent_Edit").animate({ width: '0%' }, { queue: false, duration: 300 });
        setTimeout(function () {
            $("#SlideContent_Edit").css("display", "none");
            $("#Button_Close_Content").css("display", "none");
        }, 300);
    }

    function DateChanged() {
        var id = $("#DropDownDate").data("kendoDropDownList").value();

        if (id == 3) { $("#div_CustomDateRange").show(); }
        else { $("#div_CustomDateRange").hide(); }

        Refresh();
    }

    function OneOffOrder(id) {
        $.ajax({
            url: '/OrderManagement/_EditOneOffOrder',
            type: 'Get',
            data: {
                id: id
            },
            success: function (response) {
                $('#Modal2 .modal-title').html("One-Off Order Histories");
                $('#Modal2 .modal-dialog').css("width", "700px");
                $('#Modal2 .modal-body').html(response);
                $('#Modal2').modal('show');
            }
        })
    }

    function ToggleStatus(that) {
        $(that).find('span').toggleClass('glyphicon-check glyphicon-unchecked');
        Refresh();
    }

    function GetStatuses() {
        var statuses = [];
        $('span[name=Status].glyphicon-check').each(function () {
            statuses.push($(this).data('value'));
        });
        return statuses;
    }

</script>