﻿@model NuIngredient.Models.OneOffOrderViewModel
@{
    ViewBag.Title = "Dry Goods Orders";
}


<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h1>@Model.OrderNumber</h1>
        </div>
        <div class="col-xs-6">
            <br />
            <div class="btn-group" style="float:right; margin-right:3px;">
                @*<button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-cloud-upload"></span>&nbsp;Import <span class="caret"></span>
                </button>*@
            </div> 
            <a class="btn" style="float:right; margin-right:3px; border-color:#dddddd;" href="/OrderManagement/DryGoodsOrders/"><span class="glyphicon glyphicon-arrow-left"></span> &nbsp;Back to Order Management</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>

        <div class="col-sm-12" id="div-header">
            @Html.Action("_DryGoodsOrderHeader", new { id = Model.ID })
        </div>
        @if (Model.Status == NuIngredient.Models.OneOffOrderStatus.Accepted)
        {
            <div class="col-sm-12">
                <div class="pull-right">
                        <div class="btn btn-xs btn-primary" onclick="SendEmailToSupplier()" style="margin-bottom: 5px;">Send Mail To Supplier</div>
                        <div class="btn btn-xs btn-primary" onclick="ShowProductList()" style="margin-bottom: 5px;">Add Product</div>
                    <div class="btn btn-xs btn-primary" onclick="CreateDryGoodsCreditOrder()" style="margin-bottom: 5px;">Create Credit Order</div>
                </div>
            </div>
        }
        <div class=" col-sm-12">
            @Html.Partial("_DryGoodsOrderDetails", Model)
        </div>
        @if (Model.Status == NuIngredient.Models.OneOffOrderStatus.Accepted)
        {
            <div class=" col-sm-12">
                <br />
            </div>
            <div class=" col-sm-12">
                @Html.Partial("_DryGoodsOrderCreditDetails", Model)
            </div>
        }
    </div>
</div>

<style>
    .div-inline {         
        overflow: hidden;
        white-space: nowrap;
        text-align:center;
        align-items:center;
    }
</style>

<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:2001; display:none;"></a>

<div id="SlideContent_Edit" class="panel panel-default" style="z-index: 2002; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 800px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="Edit_Body"></div>
    </div>
</div>

  <!-- Modal -->
<div class="modal fade" id="Modal" role="dialog" style="z-index:2000">
    <div class="modal-dialog" style="width:800px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center;">Create Credit Order</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<script>

    function Refresh() {
        $("#GridMilkOrderDetails").data("kendoGrid").dataSource.read();
    }

    function HideViews() {
        $("#SlideContent_Edit").animate({ width: '0%' }, { queue: false, duration: 300 });
        setTimeout(function () {
            $("#SlideContent_Edit").css("display", "none");
            $("#Button_Close_Content").css("display", "none");
        }, 300);
    }

    function CreateDryGoodsCreditOrder() {
        $.ajax({
            url: '/OrderManagement/_CreateDryGoodsCredit',
            type: 'GET',
            data: {
                id: '@Model.ID'
            },
            success: function (response) {
                $('#Modal .modal-body').html(response);
                $('#Modal').modal('show');
            }
        })
    }

    function SendEmailToSupplier() {
        $.ajax({
            url: '/Products/SendOrderChangeMail',
            type: 'POST',
            data: {
                id: '@Model.ID'
            },
            success: function (response) {
                alert("Sent");
            }
        })
    }

    function ShowProductList() {
        $("#Edit_Body").load("@Url.Action("_AddProducts", "OrderManagement", new { orderID = Model.ID })");

        $("#SlideContent_Edit").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_Edit").fadeIn();
        $("#Button_Close_Content").fadeIn();
    }

    function RefreshOrderHeader() {
        setTimeout(function () {
            var url = '/OrderManagement/_DryGoodsOrderHeader?id=@Model.ID';
            $("#div-header").load(url);
        }, 500);
    }

</script>