﻿@{
    ViewBag.Title = "Fruit Orders";
}


<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-xs-6">
            <br />
            <div class="btn-group" style="float:right; margin-right:3px;">
                @*<button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-cloud-upload"></span>&nbsp;Import <span class="caret"></span>
                </button>*@
            </div> 
            @*<a class="btn btn-danger" style="float:right; margin-right:3px;" href="/Products/Deleted/"><span class="glyphicon glyphicon-trash"></span> &nbsp;Deleted Milk</a>*@
        </div>
        @*<div class="col-xs-12">
            <br />
        </div>
        <div class="col-xs-6">

        </div>
        <div class="col-xs-6">
            <div class="pull-right">
                <a id="Button_Download" class="btn btn-success" onclick="ExportStanding()"><span class="glyphicon glyphicon-export"></span>&nbsp;&nbsp;Export Standing Orders</a>&nbsp;
                <a id="Button_Download" class="btn btn-info" onclick="ExportOneOff()"><span class="glyphicon glyphicon-export"></span>&nbsp;&nbsp;Export One Off Updates</a>&nbsp;
            </div>
            <div class="input-group">
                @Html.TextBox("TB_Filter", null, new { @class = "form-control", @style = "max-width:none;", @placeholder = "Search by Order Number" })
                <span class="input-group-btn">
                    <a class="btn btn-default" onclick="Refresh(); return false;"><span class="glyphicon glyphicon-search"></span></a>
                </span>
            </div>
        </div>*@
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>


        <div id="divEdit" class="col-sm-12" style="display:none">
            <div class="form-group" role="group" aria-label="...">
            </div>
        </div>

        <div class="col-sm-12">
            <div style="display:inline-block; width:230px; vertical-align:top; ">
                @*This Panel below holds all the search filters for the Page*@
                <div class="panel panel-default" style="background-color:initial;">
                    <div class="panel-body">
                        <a class="btn btn-primary color-accepted" onclick="ToggleStatus(this);" style="width:100%; text-align:left; margin-bottom:3px;"><span name="Status" class="glyphicon glyphicon-check" data-value="@NuIngredient.Models.OrderMode.Regular"></span>&nbsp;&nbsp;Regular</a>
                        <a class="btn btn-primary color-delivered" onclick="ToggleStatus(this);" style="width:100%; text-align:left; margin-bottom:3px;"><span name="Status" class="glyphicon glyphicon-check" data-value="@NuIngredient.Models.OrderMode.OneOff"></span>&nbsp;&nbsp;OneOff</a>
                        <a class="btn btn-primary color-history" onclick="ToggleStatus(this);" style="width:100%; text-align:left; margin-bottom:3px;"><span name="Status" class="glyphicon glyphicon-check" data-value="@NuIngredient.Models.OrderMode.History"></span>&nbsp;&nbsp;History</a>
                        <a class="btn btn-primary" onclick="ToggleStatus(this);" style="width:100%; text-align:left; margin-bottom:3px;"><span id="CB_Depreciated" class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;Depreciated</a>
                        <hr />
                        @(Html.Kendo().DropDownList()
                          .Name("DropDownCompanies")
                          .OptionLabel("All Customers")
                          .DataTextField("Name")
                          .DataValueField("ID")
                          .Filter(FilterType.Contains)
                          .DataSource(dataSource => dataSource.Read(read => read.Action("DropDownCompanies", "Companies")))
                          .Events(events => events.Change("Refresh"))
                          .HtmlAttributes(new { @style = "width: 200px;" })
                        )
                        <hr />
                        @(Html.Kendo().DropDownList()
                            .Name("DropDownDate")
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .Events(e => e.Change("DateChanged"))
                            .BindTo(new List<SelectListItem>() {
                                        new SelectListItem() { Text = "All Orders", Value = "0"},
                                        new SelectListItem() { Text = "This Month", Value = "1"},
                                        new SelectListItem() { Text = "Last Month", Value = "2"},
                                        new SelectListItem() { Text = "Custom Range", Value = "3"},
                            })
                            .Value("0")
                            .HtmlAttributes(new { style = "width: 100%" })
                        )
                        <div id="div_CustomDateRange" style="display: none;">
                            <hr />
                            <table>
                                <tr>
                                    <td style="width:50px"><label>From:</label></td>
                                    <td style="padding-bottom:5px;">
                                        @(Html.Kendo().DatePicker()
                                              .Name("DateFrom")
                                              .HtmlAttributes(new { style = "width: 100%" })
                                              .Value(DateTime.Today.StartOfWeek(DayOfWeek.Monday).ToString("dd/MM/yyyy"))
                                              .Max(DateTime.Today.StartOfWeek(DayOfWeek.Monday).AddDays(56))
                                              .DisableDates(new DayOfWeek[] { DayOfWeek.Tuesday, DayOfWeek.Wednesday, DayOfWeek.Thursday, DayOfWeek.Friday, DayOfWeek.Saturday, DayOfWeek.Sunday })
                                              .Events(e => { e.Close("Refresh"); })
                                        )
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>To:</label></td>
                                    <td style="padding-bottom:5px;">
                                        @(Html.Kendo().DatePicker()
                                              .Name("DateTo")
                                              .HtmlAttributes(new { style = "width: 100%" })
                                              .Value(DateTime.Today.StartOfWeek(DayOfWeek.Monday).AddDays(5).ToString("dd/MM/yyyy"))
                                              .Max(DateTime.Today.StartOfWeek(DayOfWeek.Monday).AddDays(5).AddDays(56))
                                              .DisableDates(new DayOfWeek[] { DayOfWeek.Monday, DayOfWeek.Tuesday, DayOfWeek.Wednesday, DayOfWeek.Thursday, DayOfWeek.Friday, DayOfWeek.Sunday })
                                              .Events(e => { e.Close("Refresh"); })
                                        )
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display:inline-block; padding-left:5px; width:calc(100% - 235px)">
                @Html.Partial("_FruitOrders")
            </div>
        </div>
    </div>
</div>

<style>
    .div-inline {         
        overflow: hidden;
        white-space: nowrap;
        text-align:center;
        align-items:center;
    }
</style>

<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:2001; display:none;"></a>

<div id="SlideContent_Edit" class="panel panel-default" style="z-index: 2002; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 800px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="Edit_Body"></div>
    </div>
</div>

  <!-- Modal -->
<div class="modal fade" id="Modal" role="dialog" style="z-index:2000">
    <div class="modal-dialog" style="width:800px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center;">Your Shopping Cart</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Modal2" role="dialog" style="z-index:2000">
    <div class="modal-dialog" style="width:400px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center;">Supplier</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function() {
        try {
            let searchInfo = JSON.parse(sessionStorage.getItem("OrderManagement/FruitOrders"));
            $('#DropDownCompanies').data('kendoDropDownList').value(searchInfo.companyID);
        } catch{}
        setTimeout(Refresh, 200);
    })

    function Refresh() {
        $("#GridFruitOrderHeader").data("kendoGrid").dataSource.read();
    }

    function GetSearchInfo() {
        let searchInfo = {
            filterText: $('#TB_Filter').val(),
            companyID: $('#DropDownCompanies').val(),
            dateType: $('#DropDownDate').val(),
            fromDate: kendo.toString($("#DateFrom").data("kendoDatePicker").value(), 'dd/MM/yyyy'),
            toDate: kendo.toString($("#DateTo").data("kendoDatePicker").value(), 'dd/MM/yyyy'),
            statuses: GetStatuses(),
            includeDepreciated: $('#CB_Depreciated').hasClass('glyphicon-check')
        };
        sessionStorage.setItem("OrderManagement/FruitOrders", JSON.stringify(searchInfo));
        return searchInfo;
    }

    $("#TB_Filter").keyup(function (e) {
        if (e.keyCode == 13) {
            Refresh();
        }
    });

    function DateChanged() {
        var id = $("#DropDownDate").data("kendoDropDownList").value();

        if (id == 3) { $("#div_CustomDateRange").show(); }
        else { $("#div_CustomDateRange").hide(); }

        Refresh();
    }

    function ToggleStatus(that) {
        $(that).find('span').toggleClass('glyphicon-check glyphicon-unchecked');
        Refresh();
    }

    function GetStatuses() {
        var statuses = [];
        $('span[name=Status].glyphicon-check').each(function () {
            statuses.push($(this).data('value'));
        });
        return statuses;
    }

    function ExportStanding() {
        var data = GetSearchInfo();
        window.location.assign('@Url.Action("ExportFruitStandingCSV", "OrderManagement")?companyID=' + data.companyID);
    }

    function ExportOneOff() {
        var data = GetSearchInfo();
        data.fromDate = kendo.toString($("#DateFrom").data("kendoDatePicker").value(), 'MM/dd/yyyy');
        data.toDate = kendo.toString($("#DateTo").data("kendoDatePicker").value(), 'MM/dd/yyyy')
        window.location.assign('@Url.Action("ExportFruitOneOffCSV", "OrderManagement")?companyID=' + data.companyID + "&dateType=" + data.dateType + "&fromDate=" + data.fromDate + "&toDate=" + data.toDate);
    }

    function OrderDataBound(e) {
        const grid = e.sender;
        const rows = grid.tbody.children();
        for (let j = 0; j < rows.length; j++) {
            try {
                const row = $(rows[j]);
                const dataItem = grid.dataItem(row);

                if (dataItem.get("Depreciated") === true) {
                    row.css('text-decoration', 'line-through');
                    row.css('color', 'grey');
                    row.css('font-style', 'italic');
                }
            }
            catch (err) { }
        }

        KendoGridDatabound(e);
    }
</script>