﻿@model NuIngredient.Models.FruitOrderHeaderViewModel
@{
    ViewBag.Title = "Fruit Orders";
}


<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h1>@Model.OrderNumber</h1>
        </div>
        <div class="col-xs-6">
            <br />
            <div class="btn-group" style="float:right; margin-right:3px;">
                @*<button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-cloud-upload"></span>&nbsp;Import <span class="caret"></span>
                </button>*@
            </div> 
            <a class="btn" style="float:right; margin-right:3px; border-color:#dddddd;" href="/OrderManagement/FruitOrders/"><span class="glyphicon glyphicon-arrow-left"></span> &nbsp;Back to Order Management</a>
        </div>
        <div class="col-xs-12">
            <br />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>

        <div class="col-sm-12">
            <div class="panel panel-default form-table">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <table class="table">
                                <tr class="info">
                                    <td>
                                        <label>Total Net:&nbsp;</label>
                                    </td>
                                    <td>
                                        <label>Total VAT:&nbsp;</label>
                                    </td>
                                    <td>
                                        <label>Total Gross:&nbsp;</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>@Model.TotalNet.ToString("C")</label>
                                    </td>
                                    <td>
                                        <label>@Model.TotalVAT.ToString("C")</label>
                                    </td>

                                    <td>
                                        <label>@Model.TotalGross.ToString("C")</label>
                                    </td>
                                </tr>
                                @if (Model.OrderMode == NuIngredient.Models.OrderMode.OneOff || Model.OrderMode == NuIngredient.Models.OrderMode.History)
                                {
                                    <tr>
                                        <td>
                                            <label>From Date: </label>
                                        </td>
                                        <td>
                                            <label><span class='label label-info'>@Model.FromDate.Value.ToString("dd/MM/yyyy")</span></label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>To Date: </label>
                                        </td>
                                        <td>
                                            <label><span class='label label-info'>@Model.ToDate.Value.ToString("dd/MM/yyyy")</span></label>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                        <div class="col-sm-6">
                            <table class="table">
                                <tr>
                                    <td style="width: 120px;">
                                        <label>Customer Name:</label>
                                    </td>
                                    <td>
                                        <label>@Model.CompanyName</label>
                                    </td>
                                    <td>
                                        <div class="pull-right">
                                            @if (Model.OrderMode == NuIngredient.Models.OrderMode.Regular)
                                            {
                                                <label class="label color-accepted">@Model.OrderMode</label>
                                            }
                                            else if (Model.OrderMode == NuIngredient.Models.OrderMode.OneOff)
                                            {
                                                <label class="label color-delivered">@Model.OrderMode</label>
                                            }
                                            else
                                            {
                                                <label class="label label-info">@Model.OrderMode</label>
                                            }
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Delivery Address:</label>
                                    </td>
                                    <td colspan="2">
                                        <label>@Model.DeliveryAddress</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Supplier Name:</label>
                                    </td>
                                    <td colspan="2">
                                        <label>@string.Join(", ", new List<string>{Model.SupplierName, Model.SnackSupplierName}.Where(x => !string.IsNullOrWhiteSpace(x)))</label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (Model.OrderMode == NuIngredient.Models.OrderMode.History)
        {
            <div class="col-sm-12">
                <div class="pull-right">
                    <div class="btn btn-xs btn-primary" onclick="CreateFruitCreditOrder()" style="margin-bottom: 5px;">Create Credit Order</div>
                    <div class="btn btn-xs btn-warning" onclick="ShowAddProductPage()" style="margin-bottom: 5px;">Add Product</div>
                </div>
            </div>
        }
        <div class=" col-sm-12">
            @Html.Partial("_FruitOrderDetails", Model)
        </div>
        @if (Model.OrderMode == NuIngredient.Models.OrderMode.History)
        {
            <div class=" col-sm-12">
                <br />
            </div>
            <div class=" col-sm-12">
                @Html.Partial("_FruitOrderCreditDetails", Model)
            </div>
            <div class="col-sm-12">
                @Html.Partial("_FruitIssueEmail", Model)
            </div>
        }
    </div>
</div>

<style>
    .div-inline {         
        overflow: hidden;
        white-space: nowrap;
        text-align:center;
        align-items:center;
    }
</style>

<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:2001; display:none;"></a>

<div id="SlideContent_Edit" class="panel panel-default" style="z-index: 2002; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 800px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="Edit_Body"></div>
    </div>
</div>

  <!-- Modal -->
<div class="modal fade" id="Modal" role="dialog" style="z-index:2000">
    <div class="modal-dialog" style="width:800px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center;">Create Credit Order</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<script>

    function Refresh() {
        $("#GridFruitOrderDetails").data("kendoGrid").dataSource.read();
    }

    function HideViews() {
        $("#SlideContent_Edit").animate({ width: '0%' }, { queue: false, duration: 300 });
        setTimeout(function () {
            $("#SlideContent_Edit").css("display", "none");
            $("#Button_Close_Content").css("display", "none");
        }, 300);
    }
    function CreateFruitCreditOrder() {
        $.ajax({
            url: '/OrderManagement/_CreateFruitCredit',
            type: 'GET',
            data: {
                id: '@Model.ID'
            },
            success: function (response) {
                $('#Modal .modal-title').html("Create Credit Order");
                $('#Modal .modal-body').html(response);
                $('#Modal').modal('show');
            }
        })
    }

    function ShowAddProductPage() {
        $.ajax({
            url: '/OrderManagement/_AddFruitProductPage',
            type: 'GET',
            data: {
                fruitOrderHeaderID: '@Model.ID'
            },
            success: function (response) {
                $('#Modal .modal-title').html("Add New Product");
                $('#Modal .modal-body').html(response);
                $('#Modal').modal('show');
            }
        });
    }

</script>