﻿@{
    ViewBag.Title = "Milk Orders";
}


<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-xs-6">
            <br/>
            <div class="pull-right">
                <div class="btn-group">
                    <div class="btn btn-sm btn-info view-button" data-type="grid" onclick="SwitchView(this)" style="width: 110px; border-radius: 4px 0 0 4px;"><span class="glyphicon glyphicon-th-list"></span>&nbsp;Grid</div>
                    <div class="btn btn-sm btn-default view-button" data-type="calendar" onclick="SwitchView(this)" style="width: 110px; border-radius: 0 4px 4px 0;"><span class="glyphicon glyphicon-calendar"></span>&nbsp;Calendar</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>


        <div id="divEdit" class="col-sm-12" style="display:none">
            <div class="form-group" role="group" aria-label="...">
            </div>
        </div>

        <div class="col-sm-12">
            <div style="display:inline-block; width:230px; vertical-align:top; ">
                @*This Panel below holds all the search filters for the Page*@
                <div class="panel panel-default" style="background-color:initial;">
                    <div class="panel-body">
                        <a class="btn btn-primary color-accepted" onclick="ToggleStatus(this);" style="width:100%; text-align:left; margin-bottom:3px;"><span name="Status" class="glyphicon glyphicon-check" data-value="@NuIngredient.Models.OrderMode.Regular"></span>&nbsp;&nbsp;Regular</a>
                        <a class="btn btn-primary color-delivered" onclick="ToggleStatus(this);" style="width:100%; text-align:left; margin-bottom:3px;"><span name="Status" class="glyphicon glyphicon-check" data-value="@NuIngredient.Models.OrderMode.OneOff"></span>&nbsp;&nbsp;OneOff</a>
                        <a class="btn btn-primary color-history" onclick="ToggleStatus(this);" style="width:100%; text-align:left; margin-bottom:3px;"><span name="Status" class="glyphicon glyphicon-check" data-value="@NuIngredient.Models.OrderMode.History"></span>&nbsp;&nbsp;History</a>
                        <a class="btn btn-primary" onclick="ToggleStatus(this);" style="width:100%; text-align:left; margin-bottom:3px;"><span id="CB_Depreciated" class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;Depreciated</a>
                        <hr />
                        @(Html.Kendo().DropDownList()
                          .Name("DropDownCompanies")
                          .OptionLabel("All Customers")
                          .DataTextField("Name")
                          .DataValueField("ID")
                          .Filter(FilterType.Contains)
                          .DataSource(dataSource => dataSource.Read(read => read.Action("DropDownCompanies", "Companies")))
                          .Events(events => events.Change("Refresh"))
                          .HtmlAttributes(new { @style = "width: 200px;" })
                        )
                        <div id="section-date-filter">
                            <hr />
                            @(Html.Kendo().DropDownList()
                                .Name("DropDownDate")
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .Events(e => e.Change("DateChanged"))
                                .BindTo(new List<SelectListItem>() {
                                            new SelectListItem() { Text = "All Orders", Value = "0"},
                                            new SelectListItem() { Text = "This Month", Value = "1"},
                                            new SelectListItem() { Text = "Last Month", Value = "2"},
                                            new SelectListItem() { Text = "Custom Range", Value = "3"},
                                })
                                .Value("0")
                                .HtmlAttributes(new { style = "width: 100%" })
                            )
                            <div id="div_CustomDateRange" style="display: none;">
                                <hr />
                                <table>
                                    <tr>
                                        <td style="width:50px"><label>From:</label></td>
                                        <td style="padding-bottom:5px;">
                                            @(Html.Kendo().DatePicker()
                                                  .Name("DateFrom")
                                                  .HtmlAttributes(new { style = "width: 100%" })
                                                  .Value(DateTime.Today.StartOfWeek(DayOfWeek.Monday).ToString("dd/MM/yyyy"))
                                                  .Max(DateTime.Today.StartOfWeek(DayOfWeek.Monday).AddDays(56))
                                                  .DisableDates(new DayOfWeek[] { DayOfWeek.Tuesday, DayOfWeek.Wednesday, DayOfWeek.Thursday, DayOfWeek.Friday, DayOfWeek.Saturday, DayOfWeek.Sunday })
                                                  .Events(e => { e.Close("Refresh"); })
                                            )
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label>To:</label></td>
                                        <td style="padding-bottom:5px;">
                                            @(Html.Kendo().DatePicker()
                                                  .Name("DateTo")
                                                  .HtmlAttributes(new { style = "width: 100%" })
                                                  .Value(DateTime.Today.StartOfWeek(DayOfWeek.Monday).AddDays(5).ToString("dd/MM/yyyy"))
                                                  .Max(DateTime.Today.StartOfWeek(DayOfWeek.Monday).AddDays(5).AddDays(56))
                                                  .DisableDates(new DayOfWeek[] { DayOfWeek.Monday, DayOfWeek.Tuesday, DayOfWeek.Wednesday, DayOfWeek.Thursday, DayOfWeek.Friday, DayOfWeek.Sunday })
                                                  .Events(e => { e.Close("Refresh"); })
                                            )
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: inline-block; padding-left: 5px; width: calc(100% - 235px)">
                <div id="grid-view">
                    @Html.Partial("_MilkOrders")
                </div>
                <div id="calendar-view" style="display: none;">
                    @Html.Partial("_MilkOrderCalendar")
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .div-inline {         
        overflow: hidden;
        white-space: nowrap;
        text-align:center;
        align-items:center;
    }
</style>

<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:2001; display:none;"></a>

<div id="SlideContent_Edit" class="panel panel-default" style="z-index: 2002; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="Edit_Body"></div>
    </div>
</div>

<script>

    @if(ViewBag.ID != null)
    {
        <text>
            OpenOrder('@ViewBag.ID');
        </text>
    }

    $(document).ready(function() {
        try {
            let searchInfo = JSON.parse(sessionStorage.getItem("OrderManagement/MilkOrders"));
            $('#DropDownCompanies').data('kendoDropDownList').value(searchInfo.companyID);
        } catch{}
        setTimeout(Refresh, 200);
    })

    function Refresh() {
        const currentViewType = CurrentViewType();
        if (currentViewType === "grid") {
            RefreshGrid();
        } else if (currentViewType === "calendar") {
            RefreshCalendar();
        }
    }

    function DateChanged() {
        var id = $("#DropDownDate").data("kendoDropDownList").value();

        if (id == 3) { $("#div_CustomDateRange").show(); }
        else { $("#div_CustomDateRange").hide(); }

        Refresh();
    }

    function ToggleStatus(that) {
        $(that).find('span').toggleClass('glyphicon-check glyphicon-unchecked');
        Refresh();
    }

    function GetStatuses() {
        var statuses = [];
        $('span[name=Status].glyphicon-check').each(function () {
            statuses.push($(this).data('value'));
        });
        return statuses;
    }

    function SwitchView(that) {
        const type = $(that).data('type');
        $(".view-button").removeClass("btn-info").addClass("btn-default");
        $(`.view-button[data-type="${type}"]`).addClass("btn-info");
        if (type === "calendar") {
            $("#grid-view").hide();
            $("#calendar-view").show();
            $("#section-date-filter").hide();
        } else if (type === "grid") {
            $("#grid-view").show();
            $("#calendar-view").hide();
            $("#section-date-filter").show();
        }
        Refresh();
    }

    function CurrentViewType() {
        return $(".view-button.btn-info").data("type");
    }

    function OpenOrder(id) {
        const url = `/OrderManagement/MilkOrderDetails/${id}`;
        $("#Edit_Body").load(url);

        $("#SlideContent_Edit").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_Edit").css("display", "block");
        $("#Button_Close_Content").css("display", "block");
    }

    function ReloadOrder(id) {
        const url = `/OrderManagement/MilkOrderDetails/${id}`;
        $("#Edit_Body").load(url);
    }
</script>