﻿@model NuIngredient.Models.CarouselNIViewModel

<div class="row form-table">
    <div class="col-sm-12">
        <hr />
    </div>
    <div class="col-sm-12">
        <table>
            <tr>
                <td style="width:100px"><label>From Date:</label></td>
                <td>
                    @Html.Kendo().DatePickerFor(model => model.FromDate)
                    @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td style="width:100px"><label>To Date:</label></td>
                <td>
                    @Html.Kendo().DatePickerFor(model => model.ToDate)
                    @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td><label>Product:</label></td>
                <td>
                    @(Html.Kendo().DropDownListFor(model => model.ProductID)
                                    .OptionLabel("Please Select a Product")
                                    .DataTextField("Name")
                                    .DataValueField("ID")
                                    .DataSource(dataSource => dataSource.Read(read => read.Action("DropDownProducts", "DropDowns")))
                                    .HtmlAttributes(new { @style = "width: 100%; max-width: 280px;" })
                    )
                </td>
            </tr>
            <tr>
                <td><label>Title:</label></td>
                <td>@Html.TextBoxFor(model => model.Title, new { @class = "form-control" })</td>
            </tr>
        </table>
    </div>

    <div class="col-sm-12">
        <br /><br />
        <input type="submit" value="@ViewData["SubmitValue"]" class="btn btn-inverse">
    </div>
    <div class="col-sm-12">
        <hr />
    </div>
</div>
