﻿@model NuIngredient.Models.CarouselNIViewModel

<script>
    function OnSuccess(response) {
        Refresh();
    }
    function OnCarouselImageUploadSuccess(e) {
            if (e.response.status == "error") {
                alert("Error: " + e.response.message);
            }
            else if (e.response.status == "success") {
                Refresh();
                EditCarousel(e.response.id);
            }
    }

    function OnCarouselImageUpload(e) {
        var files = e.files;
        $.each(files, function () {
            if (this.size / 1024 / 1024 > 2) {
                alert("Max 1Mbs file size is allowed!")
                e.preventDefault();
            }
        });
    }

    function RemoveCarouselImage(id) {
        $.ajax({
            url: '@Url.Action("RemoveCarouselImage", "CarouselManagement")',
            type: 'POST',
            data: { "id": id },
            dataType: "json",
            success: function (data) {
                Refresh();
                EditCarousel(id);
            }
        });
    }
</script>

<div id="divEditCarousel">

    @using (Ajax.BeginForm("_EditCarousel", "CarouselManagement", null, new AjaxOptions { UpdateTargetId = "divEditCarousel", OnSuccess = "OnSuccess" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        //@Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="row">
            <div class="col-xs-9">
                <h2>Edit Carousel</h2>
            </div>
            <div class="col-xs-3">
                <br />
                <a class="btn btn-sm btn-default" onclick="HideViews(); return false;" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
            </div>
            <div class="col-xs-12">
                <br />
            </div>
            <div class="col-xs-4">

                @if ((Model.ImageURL ?? "") == "" || Model.ImageURL.Contains("NotFound"))
                {
                    <label>Upload Product Image:</label>
                    @(Html.Kendo().Upload().Multiple(false)
                                .Name("uploadedImage")
                                .Async(a => a.Save("UploadCarouselImage", "CarouselManagement", new { id = Model.ID }))
                                .ShowFileList(false)
                                .HtmlAttributes(new { accept = "image/*" })
                                .Events(events => events.Upload("OnCarouselImageUpload").Success("OnCarouselImageUploadSuccess"))
                    )
                    <span style="font-size:x-small">Max 512Kbs</span>
                }
                else
                {
                    <a id="fruitTypeImage_link" class="fancybox-media" target="_blank" href="@Model.ImageURL">
                        <img id="fruitTypeImage" src="@Model.ImageURL" style="max-height:350px; max-width:700px; " />
                    </a>
                    <br />
                            <a href="#" onclick="RemoveCarouselImage('@Model.ID')">Remove Image</a>
                }
            </div>


        </div>

        @Html.Partial("_EditCarouselDetails", Model, new ViewDataDictionary() { { "SubmitValue", "Save Details" } })

        if (ViewBag.Saved ?? false)
        {
            <label id="l_Saved"><strong>Details Saved!</strong></label>
            <script>
                setTimeout(function () { $("#l_Saved").css("display", "none"); }, 2000);
            </script>
        }

    }
</div>


