﻿@{
    ViewBag.Title = "Carousel Management";
}

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-xs-6">
            <br />
            @*<div class="btn-group" style="float:right; margin-right:3px;">
                <button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-cloud-upload"></span>&nbsp;Import <span class="caret"></span>
                </button>
            </div>*@ 
            @*<a class="btn btn-danger" style="float:right; margin-right:3px;" href="/Products/Deleted/"><span class="glyphicon glyphicon-trash"></span> &nbsp;Deleted Fruit</a>*@
        </div>
        <div class="col-xs-12">
            <br />
        </div>
        <div class="col-xs-6">
            <a class="btn btn-primary" onclick="NewCarousel(); return false;"><span class="fa fa-cube"></span>&nbsp;&nbsp;New Carousel</a>
        </div>
        <div class="col-xs-2">
            <br />
        </div>
        <div class="col-xs-4">
            <div class="input-group">
                @Html.TextBox("TB_ProductFilter", null, new { @class = "form-control", @style = "max-width:none;", @placeholder = "Search by Name or Description" })
                <span class="input-group-btn">
                    <a class="btn btn-default" onclick="Refresh(); return false;"><span class="glyphicon glyphicon-search"></span></a>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>
        <div id="divPager" class="col-sm-12">
             <div class="form-group" role="group" aria-label="...">
                <button class="btn btn-sm btn-default" onclick="Refresh();"><span class="glyphicon glyphicon-refresh" ></span>&nbsp; Refresh</button>&nbsp;
            </div>
        </div>
        <div class="col-sm-12">
            @(Html.Kendo().Grid<NuIngredient.Models.CarouselNIViewModel>()
                .Name("GridCarousels")
                .Pageable(p => p.PageSizes(new[] { 50, 100, 200, 1000 }).Messages(m => m.Display("{0} - {1} of {2} Products").Empty("No Products Found")))
                .Columns(columns =>
                {
                    columns.Bound(u => u.ID).ClientTemplate("<input type='checkbox' value='#=ID#' name='chk_grid'>").Width("1%").Hidden();
                    columns.Bound(u => u.ImageURL).Title("Image").ClientTemplate("<a class='fancybox-media' target='_blank' href='#=ImageURL#' ><img src='#=ImageURL#' style='width:100%; max-height:150px; max-width:300px;'></a>").Width("300px");
                    columns.Bound(u => u.ProductName).Title("Product");
                    columns.Bound(u => u.IsLive).ClientTemplate("<i class='glyphicon #if(IsLive){#glyphicon-check#}else{#glyphicon-unchecked#}#'></i>").HtmlAttributes(new { @style = "text-align:center", @title= "Tick if the product shows to only the customers with customer prices." }).Width("1%");
                    columns.Bound(u => u.FromDate).ClientTemplate("#=kendo.toString(FromDate, 'dd/MM/yyyy')#").Width("1%");
                    columns.Bound(u => u.ToDate).ClientTemplate("#=kendo.toString(ToDate, 'dd/MM/yyyy')#").Width("1%");
                    columns.Template(@<text></text>).ClientTemplate("<a title='Edit' href='\\#' onclick='EditCarousel(\"#=ID#\"); return false;'><span class='glyphicon glyphicon-edit glyphicon-btn'/></a>").Width("1%");
                    columns.Command(command =>
                    {
                        command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn'/>");
                    }
                    ).Width("1%");

                })
                .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this product?"))
                .Sortable()
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(t => t.ID);
                    })
                    .Read(read => read.Action("Read", "CarouselGrid").Data("GetSearchInfo")).PageSize(50)
                    .Destroy(destory => destory.Action("Destroy", "CarouselGrid"))
                )
                .Events(events => events.DataBound("KendoGridDatabound"))
            )
        </div>
    </div>
</div>

<style>
    .div-inline {         
        overflow: hidden;
        white-space: nowrap;
        text-align:center;
        align-items:center;
    }
</style>

<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_Edit" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 800px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="Edit_Body"></div>
    </div>
</div>

  <!-- Modal -->
<div class="modal fade" id="Modal" role="dialog" style="z-index:1200;">
    <div class="modal-dialog" style="width:400px;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script>

    @if (!string.IsNullOrEmpty(ViewBag.ProductID))
    {
        <text>
        EditProduct('@ViewBag.ProductID');
        </text>
    }

    function Refresh() {
        var grid = $("#GridCarousels").data("kendoGrid");
        grid.dataSource.read();
    }

    function GetSearchInfo() {
        return {
            filterText: $('#TB_ProductFilter').val(),
        }
    }

    $("#TB_ProductFilter").keyup(function (e) {
        if (e.keyCode == 13) {
            Refresh();
        }
    });


    //Below the following functions are used the show/hide the content panels.
    function NewCarousel() {
        $("#Edit_Body").load("@Url.Action("_NewCarousel", "CarouselManagement")");

        $("#SlideContent_Edit").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_Edit").css("display", "block");
        $("#Button_Close_Content").css("display", "block");
    }

    function EditCarousel(id) {
        var url = '@Url.Action("_EditCarousel", "CarouselManagement")' + '?ID=' + id;
        $("#Edit_Body").load(url);

        $("#SlideContent_Edit").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_Edit").css("display", "block");
        $("#Button_Close_Content").css("display", "block");
    }

    function CreatedCarousel(id) {
        var url = '@Url.Action("_EditCarousel", "CarouselManagement")' + '?ID=' + id;
        $("#Edit_Body").load(url);
    }

    function HideViews() {
        $("#SlideContent_Edit").animate({ width: '0%' }, { queue: false, duration: 300 });
        setTimeout(function () {
            $("#SlideContent_Edit").css("display", "none");
            $("#Button_Close_Content").css("display", "none");
            Refresh();
        }, 300);
    }

    //PRODUCT IMAGE UPLOAD FUNCTIONS

    //function OnProductImageUpload(e) {
    //    var files = e.files;
    //    $.each(files, function () {
    //        if (this.size / 1024 / 512 > 1) {
    //            alert("Max 512Kbs file size is allowed!")
    //            e.preventDefault();
    //        }
    //    });
    //}
</script>



