﻿@using Microsoft.AspNet.Identity
@using System
@model NuIngredient.Models.MilkPageViewModel
@{
    ViewBag.Title = "Milk Orders";
}

<section id="milk-aisle-header">
    <div class="container">
        <div class="row" style="margin-top: 5px; margin-bottom: 15px;">
            <div class="col-sm-7" style="padding-left: 20px;">
            </div>
            <div class="col-sm-5">
                @if (User.IsInRole("NI-User"))
                {
                    <a class="btn" style="float:right; margin-right:3px; border-color:#dddddd;" onclick="if (history.length > 1) window.history.back(); else window.close();"><span class="glyphicon glyphicon-arrow-left"></span> &nbsp;Back</a>
                }
            </div>
            <div class="col-xs-12" style="margin-top:10px;">
                <div class="aisle-system-message-area">
                    <div style="text-align:center;">
                        <div style="display:none;">
                            @(Html.Kendo().DropDownList()
                                        .Name("Prospect")
                                        .DataTextField("Name")
                                        .DataValueField("ID")
                                        .OptionLabel("Please select a prospect...")
                                        .Value((string)ViewBag.ProspectToken)
                                        .DataSource(dataSource => dataSource.Read("DropDownProspects", "Dropdowns"))
                                        .AutoBind(false)
                                        .Events(events => events.Change("ChangeProspect"))
                                        .HtmlAttributes(new { @style = "width: 200px;" })
                            )
                            @(Html.Kendo().DropDownList()
                                        .Name("Company")
                                        .DataTextField("Name")
                                        .DataValueField("ID")
                                        .OptionLabel("Please select a company...")
                                        .Value((string)ViewBag.CompanyID)
                                        .DataSource(dataSource => dataSource.Read("DropDownCompanies", "Companies"))
                                        .Events(events => events.Change("ChangeCompany"))
                                        .AutoBind(false)
                                        .HtmlAttributes(new { @style = "width: 200px;" })
                            )
                        </div>
                        @if (Model.HasMilkSupplier)
                        {
                            <a name="OrderType" data-value="@NuIngredient.Models.OrderMode.Regular" class="btn aisle-action-button-active" onclick="ChangeOrderType(this)">Make a permanent <br />change to standing order</a>
                            <a id="Label_SpecificWeek" name="OrderType" data-value="@NuIngredient.Models.OrderMode.OneOff" class="btn btn-default aisle-action-button" onclick="ChangeOrderType(this)">Make a one-off <br /> change to a specific week</a>

                        }
                        @(Html.Kendo().DatePicker()
                                        .Name("SpecificWeek")
                                        .Min(DateTime.Today)// > Model.StartDate? DateTime.Today : Model.StartDate)
                                        .Max(DateTime.Today.AddDays(56))
                                        .DateInput(false)
                                        //.DisableDates(DayOfWeek.Tuesday, DayOfWeek.Wednesday, DayOfWeek.Thursday, DayOfWeek.Friday, DayOfWeek.Saturday, DayOfWeek.Sunday)
                                        .Events(events => events.Close("OnCalendarClose").Open("OnCalendarOpen"))
                                        .MonthTemplate(month => month.Content("#if ($.inArray(+data.date, orderWeekDates) != -1) {# " +
                                                                                "<div class=\"has-orders-week\">#=data.value#</div> " +
                                                                            "#} else {# " +
                                                                                "#=data.value# " +
                                                                            "#}#"))
                                        .Depth(CalendarView.Month)
                                        .Value(DateTime.Today.AddDays(7).StartOfWeek(DayOfWeek.Monday))
                                        .HtmlAttributes(new { @style = "display:none; width:200px;", @class = "WeekPicker", @onkeydown = "return false;" })
                        )
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    
<section id="order-area">
    <div class="container">
        <div id="WeeklyOrder"></div>
    </div>
</section>
<br />

<section class="filter-area filter-milk">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="text-align:center;">
                <h3 style="padding-bottom: 15px;">Select your Products</h3>
                <select id="category" style="min-width: 160px;">
                    <option value="">Filter by product</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.ID">@category.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>
</section>

<section id="product-splash">
    <div class="container">
        @* Listview*@
        <script>
            function DataBound(e) {
                $('.k-listview.k-widget').removeClass('k-widget');
            }
        </script>
        @(Html.Kendo().ListView<NuIngredient.Models.MilkProductListViewModel>()
                                                        .Name("ListViewProducts")
                                                        .TagName("div")
                                                        .ClientTemplateId("listviewTemplate")
                                                        .DataSource(dataSource => dataSource.Read(read => read.Action("Read", "MilkProductListView").Data("GetSearchInfo"))
                                                        )
                                                        .Events(events => events.DataBound("DataBound"))
                                                        .HtmlAttributes(new { @class = "row flex-row k-blank-pager" })
        )
        <script type="text/x-kendo-tmpl" id="listviewTemplate">
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="product-single-splash">
                    <div class="square">
                        <div class="square-content">
                            <a href="javascript:void(0)" onclick="ProductOverview('#=Name#', '#=ImageURL#', '#=Description#', '#=kendo.toString(Price, 'c')#', '#=Unit#', '#=VAT#', '#=ID#')">
                                <img src="#=ImageURL#" alt="#=Name#" class="image-thumbnail" />
                            </a>
                        </div>
                    </div>
                    <div class="product-single-splash-content">
                        <a href="javascript:void(0)" onclick="ProductOverview('#=Name#', '#=ImageURL#', '#=Description#', '#=kendo.toString(Price, 'c')#', '#=Unit#', '#=VAT#', '#=ID#')"><h5>#=Name#</h5></a>
                        <p style="font-size:small !important;">#=ShortDescription#</p>
                        <p>#=kendo.toString(Price, "c")# #if(VAT != 0){#<span style="font-size:10px;">ex VAT</span>#}# <br><span>#=Unit#</span></p>
                        <div class="product-single-splash-button">
                            <button class="btn btn-blue" data-id='#=ID#' data-name='#=Name#' data-unit='#=Unit#' data-price='#=Price#' data-vat="#=VAT#" data-imgurl='#=ImageURL#' onclick="AddMilkToOrder(this); return false;">
                                @if ((Model.AskingForMilkSupplier == true || Model.HasMilkSupplier == true))
                                {
                                    <text>
                                        Add To Order
                                    </text>
                                }
                                else
                                {
                                    <text>
                                        @*Add To Quote*@
                                        Add To Order
                                    </text>
                                }
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </script>
    </div>
</section>

<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_Edit" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 800px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="Edit_Body"></div>
    </div>
</div>

  <!-- Modal -->
<div class="modal fade" id="ProductOverView" role="dialog">
    <div class="modal-dialog product-overview-dialog" >

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" style="text-align:center;"></h3>
            </div>
            <div class="modal-body">
                <img class="productImg img-responsive" style="max-width:100%" />
                <h3><span class="productPrice" style="color: #7badfc;"></span><span class="productVAT" style="color: #7badfc;"> ex VAT</span><span class="productUnit pull-right" style="color: #7badfc;"></span></h3>
                <p class="productDesc"></p>
                <div class="btn btn-sm add-to-cart" onclick="AddMilkToOrder(this); return false;">
                    @if ((Model.AskingForMilkSupplier == true || Model.HasMilkSupplier == true))
                    {
                        <text>
                            Add To Order
                        </text>
                    }
                    else
                    {
                        <text>
                            Add To Order
                        </text>
                    }
                </div>
            </div>
        </div>

    </div>
</div>

<template>

</template>

<script>

    var orderWeekDates = [];
    $(document).ready(function () {
        // Disable key in date
        $('#WeeklyOrder').on('keyup', 'input', ChangeMilkQuantity);
        $('#WeeklyOrder').on('change', 'input', ChangeMilkQuantity);
        $('#SpecificWeek').attr('disabled', 'disabled');

        // Get orders
        // Initial orderWeekDates to format the datepicker
        @foreach (var date in Model.OrderWeekDates)
        {
            <text>
        orderWeekDates.push(+new Date('@date.ToString("yyyy/MM/dd")'));
            </text>
        }

        @if (ViewBag.CompanyID != null)
        {
            <text>
//        $('#Company').val('@ViewBag.CompanyID');
//        $('#Company').data('kendoDropDownList').value('@ViewBag.CompanyID');
            </text>
        }
        else if (ViewBag.ProspectToken != null)
        {
            <text>
//        $('#Prospect').val('@ViewBag.ProspectToken');
//        $('#Prospect').data('kendoDropDownList').value('@ViewBag.ProspectToken');
        $('#Label_SpecificWeek').hide();
            </text>
        }
        @if (User.Identity.IsAuthenticated)
        {
            <text>
            GetMilkOrders();
            </text>
        }

    });

    $("#MilkTypeFilter").keyup(function (e) {
        if (e.keyCode == 13) {
            Refresh();
        }
    });

    function Refresh() {
        var grid = $("#MilkTreeView").data("kendoTreeView");
        grid.dataSource.read();
    }

    function GetSearchInfo() {
        var data = {
            filterText: $("#MilkTypeFilter").val(),
            categoryID: GetCategory(),
            companyID: $('#Company').val()
        };
        return data;
    }

    function RefreshListView() {
        var listview = $('#ListViewProducts').data('kendoListView');
        listview.dataSource.read();
    }

    function GetCategory() {
        var selected = $('select#category').val();

        return selected == "" ? null : selected;
    }

    $("select#category").change(function () {
        RefreshListView();
    });

    @*function ShowProspectForm() {
        if (!CheckMinimum()) {
            alert('Dear Customer\nPlease note a minimum spend of @Html.Raw(Model.MinimumValue.ToString("c")) per week is required for Dairy deliveries');
            return false;
        }
        SaveOrders(false, 'Draft');
        $('#Modal_Prospect .modal-title').html('Contact Details');
        $('#Modal_Prospect .modal-body').load("/Prospects/_ProspectForm");
        $('#Modal_Prospect').modal('show');
    }*@

    @*function CheckMinimum() {
        var totalPrice = 0;
        $('div.order-products').each(function () {
            var dataID = $(this).data("id");
            var price = kendo.parseFloat($(this).data('price'));
            var qty_mon = kendo.parseInt($(this).find('input#' + dataID + '-monday-val').val() | 0);
            var qty_tue = kendo.parseInt($(this).find('input#' + dataID + '-tuesday-val').val() | 0);
            var qty_wed = kendo.parseInt($(this).find('input#' + dataID + '-wednesday-val').val() | 0);
            var qty_thu = kendo.parseInt($(this).find('input#' + dataID + '-thursday-val').val() | 0);
            var qty_fri = kendo.parseInt($(this).find('input#' + dataID + '-friday-val').val() | 0);
            var qty_sat = kendo.parseInt($(this).find('input#' + dataID + '-saturday-val').val() | 0);
            var weeklyVolume = qty_mon + qty_tue + qty_wed + qty_thu + qty_fri + qty_sat;
            var weeklyTotal = weeklyVolume * price;

            totalPrice += weeklyTotal;
        });
        console.log("totalprice: " + totalPrice, ", Minimum: @Model.MinimumValue");
        if (totalPrice < @Model.MinimumValue)
            return false;

        return true;
    }*@

    @*var timeoutFunc;
    function ChangeQuantity() {
        var totalPrice = 0;
        var totalVolume = 0;

        $('div.order-products').each(function () {
            var dataID = $(this).data("id");
            var price = kendo.parseFloat($(this).data('price'));
            var qty_mon = kendo.parseInt($(this).find('input#' + dataID + '-monday-val').val() | 0);
            var qty_tue = kendo.parseInt($(this).find('input#' + dataID + '-tuesday-val').val() | 0);
            var qty_wed = kendo.parseInt($(this).find('input#' + dataID + '-wednesday-val').val() | 0);
            var qty_thu = kendo.parseInt($(this).find('input#' + dataID + '-thursday-val').val() | 0);
            var qty_fri = kendo.parseInt($(this).find('input#' + dataID + '-friday-val').val() | 0);
            var qty_sat = kendo.parseInt($(this).find('input#' + dataID + '-saturday-val').val() | 0);
            var weeklyVolume = qty_mon + qty_tue + qty_wed + qty_thu + qty_fri + qty_sat;
            var weeklyTotal = weeklyVolume * price;

            $(this).find('#product-quantity .row-quantity').text(weeklyVolume);
            $(this).find('#product-quantity-mobile .row-quantity').text(weeklyVolume);
            $(this).find('#total-cost .row-total').text(kendo.toString(weeklyTotal, "c"));
            $(this).find('#total-cost-mobile .row-total').text(kendo.toString(weeklyTotal, "c"));

            totalVolume += weeklyVolume;
            totalPrice += weeklyTotal;
            //console.log("price: " + price + ", qty_mon:" + qty_mon + ", qty_tue:" + qty_tue + ", qty_wed:" + qty_wed + ", qty_thu:" + qty_thu + ", qty_fri:" + qty_fri + ", qty_sat:" + qty_sat + ", weeklyVolume:" + weeklyVolume + ", weeklyTotal:" + weeklyTotal);
        })

        $('.grand-total-volume').each(function () {
            $(this).text(totalVolume);
        })

        $('.grand-total-price').each(function () {
            $(this).text(kendo.toString(totalPrice, "c"));
        })

        @if (!User.Identity.IsAuthenticated) {
            // To keep prospect's quote between tabs
            <text>
            if (timeoutFunc != null) clearTimeout(timeoutFunc);
            timeoutFunc = setTimeout(function() {
                SaveOrders(false, 'Draft', true)
            }, 1000);
            </text>
        }
        $('.save-order').addClass('blink');
    }*@

    function ChangeOrderType(that) {
        $('a[name=OrderType]').each(function () {
            $(this).removeClass('aisle-action-button-active').addClass('aisle-action-button');
        });
        $(that).addClass('aisle-action-button-active').removeClass('aisle-action-button');

        // Show/Hide calendar
        if ($(that).data('value') == '@NuIngredient.Models.OrderMode.OneOff') {
            $('.WeekPicker').show();
            $('.k-i-calendar').click();
        } else {
            $('.WeekPicker').hide();
        }

        GetMilkOrders();
    }

    function ChangeCompany() {
        GetMilkOrders();
        UpdateOrderWeekDates();
    }

    function ChangeProspect() {
        GetMilkOrders();
    }

    //function ClearQty(weekday) {
    //    $('div.order-products').each(function () {
    //        var dataID = $(this).data("id");
    //        $(this).find('input#' + dataID + '-' + weekday + '-val').val(0);
    //    })
    //    ChangeQuantity();
    //}

    // Order Functions ------------------------------------------------------

    //function DeleteRow(itemID) {
    //    if (!confirm('Remove this product?'))
    //        return false;
    //    $(".order-products[data-id='" + itemID + "']").remove();
    //    ChangeQuantity();
    //}

    //function AddToOrder(that) {

    //    var milkID = $(that).data("id");

    //    if ($(".order-products[data-milkid='" + milkID + "']").length > 0) {
    //        alert("The chosen product is already in your standing order.");
    //        return false;
    //    }
    //    $.ajax({
    //        url: '/Milk/_MilkOrderRow',
    //        type: 'POST',
    //        data: {
    //            milkProductID: milkID,
    //            companyID: $('#Company').val(),
    //        },
    //        success: function (response) {
    //            $(response).insertBefore($('.row-grand'));
    //            $('.save-order ').addClass('blink');
    //            $('html,body').animate({
    //                scrollTop: $("#order-area").offset().top
    //            }, 500);
    //            $('#ProductOverView').modal('hide');
    //        }
    //    });
    //}

    @*function SaveOrders(submit, orderMode, prospectQtyChange) {
        // Initializations
        submit = submit || false;
        orderMode = orderMode || 'Draft';
        prospectQtyChange = prospectQtyChange || false; // Prospect changing qty doesn't need to check miminum 

        if (submit == false && orderMode == 'Draft' && (!prospectQtyChange && !CheckMinimum())) {
            alert('Dear Customer\nPlease note a minimum spend of @Html.Raw(Model.MinimumValue.ToString("c")) per week is required for Dairy deliveries');
            return false;
        }

        var orders = [];

        $('.order-products').each(function () {
            var dataID = $(this).data("id");
            var orderItem = {
                ID: dataID,
                MilkID: $(this).data('milkid'),
                ProductName: $(this).find('#product-name').text(),
                Unit: $(this).find('#product-unit').text(),
                Monday: kendo.parseInt($(this).find('input#' + dataID + '-monday-val').val() | 0),
                Tuesday: kendo.parseInt($(this).find('input#' + dataID + '-tuesday-val').val() | 0),
                Wednesday: kendo.parseInt($(this).find('input#' + dataID + '-wednesday-val').val() | 0),
                Thursday: kendo.parseInt($(this).find('input#' + dataID + '-thursday-val').val() | 0),
                Friday: kendo.parseInt($(this).find('input#' + dataID + '-friday-val').val() | 0),
                Saturday: kendo.parseInt($(this).find('input#' + dataID + '-saturday-val').val() | 0),
                Sunday: 0,
                Price: kendo.parseFloat($(this).data('price')),
                VATRate: kendo.parseFloat($(this).data('vat'))
            };
            orders.push(orderItem);
        });

        $.ajax({
            url: '/MilkOrders/SaveOrders',
            type: 'POST',
            data: {
                orders: JSON.stringify(orders),
                orderMode: orderMode,
                submit: submit,
                companyID: $('#Company').val(),
                prospectToken: $('#Prospect').val(),
                date: $('#SpecificWeek').val().substring(0, 10)
            },
            beforeSend: !prospectQtyChange ? AjaxBegin : null,
            complete: !prospectQtyChange ? AjaxComplete : null,
            success: function (response) {
                @if (User.Identity.IsAuthenticated)
                {
                    <text>
                    $('#SavedMessage').show(0).delay(500).hide(0);
                    </text>
                }
                if ($('#Prospect').val() != "" && $('#Prospect').val() != undefined) {
                    alert("Successfully updated the prospect quote");
                }
                else if (submit == true) {
                    alert("Thank you \n An e-mail has been sent to yourself and the supplier denoting all relevant changes.");
                    if (orderMode == 'Regular') {
                        window.location.reload();
                    } else {
                        $('#Modal_Prospect').modal('hide');
                        UpdateOrderWeekDates();
                    }
                }
                $('.save-order').removeClass('blink');
                $('.activate-button').addClass('blink');
            }
        });
    }*@

    //function GetOrders() {
    //    var div = $('#WeeklyOrder');
    //    $.ajax({
    //        url: '/Milk/_WeeklyOrder',
    //        type: 'POST',
    //        data: {
    //            orderMode: $('a[name=OrderType].aisle-action-button-active').data('value'),
    //            date: $('#SpecificWeek').val().substring(0, 10),
    //            companyID: $('#Company').val(),
    //            prospectToken: $('#Prospect').val()
    //        },
    //        success: function (response) {
    //            div.html(response);
    //            $.when(ChangeQuantity()).done(function () {
    //                $('.save-order').removeClass('blink');
    //            });
    //        }
    //    });
    //}

    // ----------------------------------------------------------------------- End of Order Functions

    // Calendar Functions ---------------------------------------------------

    function OnCalendarClose(e) {
        var selectedDate = this.value();
        var first = selectedDate.getDate() - ((selectedDate.getDay() + 6) % 7); // Make Monday first day of the week;
        var last = first + 6;
        var tempdate1 = new Date(selectedDate.getTime());
        var tempdate2 = new Date(selectedDate.getTime());
        var firstDateOfWeek = kendo.toString(new Date(tempdate1.setDate(first)), "d");
        var lastDateOfWeek = kendo.toString(new Date(tempdate2.setDate(last)), "d");

        $('#SpecificWeek').val(firstDateOfWeek + " - " + lastDateOfWeek);

        GetMilkOrders();
    }

    function OnCalendarOpen() {
        // Force datepicker to re-render the view
        $('#SpecificWeek').data('kendoDatePicker').setOptions({ min: '@DateTime.Today.ToString("yyyy/MM/dd")' })
        // Make datepicker to weekpicker
        $('#SpecificWeek_dateview').on('mousemove', 'table.k-month tr', function () { $(this).find('td').addClass('k-state-focused k-state-hover'); });
        $('#SpecificWeek_dateview').on('mouseleave', 'table.k-month tr', function () { $(this).find('td').removeClass('k-state-focused k-state-hover'); });
    }

    function UpdateOrderWeekDates() {
        $.ajax({
            url: '/milkOrders/GetOrderWeekDates',
            type: 'Get',
            data: {
                companyID: $('#Company').val()
            },
            success: function (response) {
                // Set calandar
                orderWeekDates = [];
                response.OrderWeekDates.forEach(function (item, index) {
                    orderWeekDates.push(+new Date(item.match(/\d+/)[0] * 1));
                });
            }
        })
    }

    // ---------------------------------------------------------------------- End of Calendar Functions

    function AskForMilkSupplier() {
        if (!confirm("Set up your milk account?")) return false;

        $.ajax({
            url: '/Companies/AskForMilkSupplier',
            type: 'POST',
            data: {
                id: $('#Company').val()
            },
            success: function (response) {
                if (response.Success) {
                    alert('Office Groceries are currently setting up your Milk account.\nPlease allow up to 6 working days from initial enquiry for your account to be set up.\nOffice Groceries will e- mail you once ready and confirm your 1st delivery day.');
                    location.reload();
                } else {
                    alert('Please set up the initial order and save');
                }
            }
        })
    }

    function ProductOverview(title, imageURL, description, price, unit, VAT, id) {
        $('#ProductOverView .modal-title').text(title);
        $('#ProductOverView .modal-body .productImg').attr('src', imageURL);
        $('#ProductOverView .modal-body .productPrice').text(price);
        $('#ProductOverView .modal-body .productUnit').text(unit);
        $('#ProductOverView .modal-body .productDesc').html(description);

        $('#ProductOverView .modal-body .add-to-cart').data('id', id);
        $('#ProductOverView .modal-body .add-to-cart').data('name', title);
        $('#ProductOverView .modal-body .add-to-cart').data('unit', unit);
        $('#ProductOverView .modal-body .add-to-cart').data('price', price);
        $('#ProductOverView .modal-body .add-to-cart').data('imgurl', imageURL);
        if (VAT != '0')
            $('#ProductOverView .modal-body .productVAT').show();
        else
            $('#ProductOverView .modal-body .productVAT').hide();

        $('#ProductOverView').modal('show');
    }

</script>

<style>

     /*make grid header align center*/

    .k-header .k-link {
        text-align: center;
    }

    .div-inline {
        overflow: hidden;
        white-space: nowrap;
        text-align: center;
        align-items: center;
    }

    .k-widget > btn {
        box-sizing: border-box;
    }

    /*for listview*/

    #listView {
        padding: 10px 5px;
        margin-bottom: -1px;
        min-height: 510px;
    }

    .product {
        background-color: white;
        float: left;
        position: relative;
        width: 181px;
        height: 345px;
        padding: 0;
        margin: 0 30px 20px 0;
        /*border: 1px solid lightgrey;*/
        transition: .5s; /* delays for 1 second */
        -webkit-transition: .5s; /* for Safari & Chrome */
        -moz-transition: .5s;
        -o-transition: .5s;
    }

    .product:hover {
        border-color: darkturquoise;
    }

    .product img {
        width: 180px;
        height: 180px;
    }

    .add-to-cart {
        color: white;
        font-size: 12px;
        background-color: #6794db;
        /*font-family: "Arial Black", Gadget, sans-serif;*/
    }

    .add-to-cart:hover {
        color: white;
        font-size: 12px;
        background-color: red;
        /*font-family: "Arial Black", Gadget, sans-serif;*/
    }

    .product .price {
        font-size: 20px;
        color: #7badfc;
    }

    .product h2 {
        font-size: 15px;
        overflow: hidden;
        margin: 0 0 0 10px;
        padding: 3px 5px 0 0;
        max-width: 196px;
        height: 45px;
    }

    .product h3 {
        margin: 0 0 0 10px;
        padding: 3px 5px 0 0;
        height: 35px;
        max-width: 196px;
        overflow: hidden;
        line-height: 1.1em;
        font-size: .9em;
        font-weight: normal;
        color: #999;
    }

    .k-listview:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .k-listview {
        background-color: inherit;
        border-width:0;
    }

    #ListViewProducts.k-widget {
        color: inherit;
    }

    .has-orders-week {
        color: blue;
        font-weight: 600;
    }

    .k-widget {
        box-shadow:none;
    } 
    

    #div-shopping-cart {
        display:none;
    }

</style>
