﻿@model NuIngredient.Models.MilkOrderHeaderViewModel
@{
    ViewBag.Title = "Milk Orders";
}


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h1>@Model.OrderNumber</h1>
        </div>
        <div class="col-xs-12 col-sm-6">
            <br />
            <div class="btn-group" style="float:right; margin-right:3px;">
                <a class="btn" style="border-color:#dddddd;" href="/Milk/Invoice/"><span class="glyphicon glyphicon-arrow-left"></span> &nbsp;Back to Order Histories</a>
            </div> 
        </div>
        <div class="col-xs-12">
            <br />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>

        <div class="col-sm-12">
            <div class="panel panel-default form-table">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <table class="table">
                                <tr class="info">
                                    <td>
                                        <label>Total Net:&nbsp;</label>
                                    </td>
                                    <td>
                                        <label>Total VAT:&nbsp;</label>
                                    </td>
                                    <td>
                                        <label>Total Gross:&nbsp;</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>@Model.TotalNet.ToString("C")</label>
                                    </td>
                                    <td>
                                        <label>@Model.TotalVAT.ToString("C")</label>
                                    </td>

                                    <td>
                                        <label>@Model.TotalGross.ToString("C")</label>
                                    </td>
                                </tr>
                                @if (Model.OrderMode == NuIngredient.Models.OrderMode.OneOff)
                                {
                                    <tr>
                                        <td>
                                            <label>From Date: </label>
                                        </td>
                                        <td>
                                            <label><span class='label label-info'>@Model.FromDate.Value.ToString("dd/MM/yyyy")</span></label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>To Date: </label>
                                        </td>
                                        <td>
                                            <label><span class='label label-info'>@Model.ToDate.Value.ToString("dd/MM/yyyy")</span></label>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                        <div class="col-sm-6">
                            <a href="@Model.FileURL"><img src="~/Content/xlsx.png" style="width:50px;" title="Download"></a>
                            <div class="pull-right">
                                @if (Model.OrderMode == NuIngredient.Models.OrderMode.Regular)
                                {
                                    <label class="label color-accepted">@Model.OrderMode</label>
                                }
                                else if (Model.OrderMode == NuIngredient.Models.OrderMode.OneOff)
                                {
                                    <label class="label color-delivered">@Model.OrderMode</label>
                                }
                                else
                                {
                                    <label class="label label-info">@Model.OrderMode</label>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            @Html.Partial("_MilkOrderDetails", Model)
        </div>
        @*<div class="col-sm-12">
            <br />
        </div>
        <div class="col-sm-12">
            @Html.Partial("_MilkOrderFeedback", Model)
        </div>*@
    </div>
</div>

<style>
    .div-inline {         
        overflow: hidden;
        white-space: nowrap;
        text-align:center;
        align-items:center;
    }
</style>

<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:2001; display:none;"></a>

<div id="SlideContent_Edit" class="panel panel-default" style="z-index: 2002; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 800px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="Edit_Body"></div>
    </div>
</div>

  <!-- Modal -->
<div class="modal fade" id="Modal" role="dialog" style="z-index:2000">
    <div class="modal-dialog" style="width:800px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center;">Your Shopping Cart</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Modal2" role="dialog" style="z-index:2000">
    <div class="modal-dialog" style="width:400px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center;">Supplier</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>

    function Refresh() {
        $("#GridMilkOrderDetails").data("kendoGrid").dataSource.read();
    }

    function HideViews() {
        $("#SlideContent_Edit").animate({ width: '0%' }, { queue: false, duration: 300 });
        setTimeout(function () {
            $("#SlideContent_Edit").css("display", "none");
            $("#Button_Close_Content").css("display", "none");
        }, 300);
    }

</script>

<style>
    #div-shopping-cart {
        display: none;
    }
</style>