﻿@model NuIngredient.Models.TeamViewModel

<div>
    <a class="btn btn-info btn-sm" onclick="$('#GridTeamMembers').data('kendoGrid').addRow();" style="margin-bottom:5px;"><span class="fa fa-user"></span>&nbsp;Add Team Member</a>
</div>

@(Html.Kendo().Grid<NuIngredient.Models.TeamMemberViewModel>()
    .Name("GridTeamMembers")
    .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Teams").Empty("No Team Members Added")))
    .Columns(columns =>
    {
        columns.Bound(t => t.User).ClientTemplate("#=User.Email#").Title("Team Members").EditorTemplateName("TeamUserDropDown");
        columns.Command(command =>
        {
            command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn'/>").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn'/>").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn'/>");
            command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn'/>");
        }
        ).Width("90px");
    })
    .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this member?"))
    .Sortable()
    .DataSource(dataSource => dataSource
        .Ajax()
        //.Sort(sort => sort.Add("FirstName").Ascending()) // <-- initial sort expression
        .Model(model =>
        {
            model.Id(t => t.ID);
            model.Field(t => t.ID).Editable(false);
            model.Field(t => t.TeamID).DefaultValue(Model.ID).Editable(false);
            model.Field(t => t.User).DefaultValue(new NuIngredient.Models.UserItemViewModel { ID = "", Email = "" });
        })
        .Create(create => create.Action("Create", "TeamMembers", new { teamID = Model.ID }))
        .Read(read => read.Action("Read", "TeamMembers", new { teamID = Model.ID }))
        .Update(update => update.Action("Update", "TeamMembers", new { teamID = Model.ID }))
        .Destroy(destroy => destroy.Action("Destroy", "TeamMembers", new { teamID = Model.ID }))
    )
    .Events(events => events.DataBound("KendoGridDatabound"))
)
