﻿<div style="text-align:center">
    <br />
    <h2 style="color:grey">Add Teams using the panel on the left.</h2>
    <h3 style="color:grey">Select a team on the left table to start assigning members.</h3>
</div>