﻿@model NuIngredient.Models.NewUserViewModel
@{
    ViewBag.Title = "Create New User";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success">
                    @ViewBag.SuccessMessage
                </div>
            }
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <strong>Error:</strong> @ViewBag.ErrorMessage
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h2>Create New User Account</h2>
            <h4 style="color:grey">Enter the details of the new user.</h4>
        </div>
        <div class="col-sm-6">
            <br />
            <a class="btn btn-default hidden-xs" style="float:right" onclick="history.back();"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr />
            @using (Html.BeginForm("Create", "Users", null, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })             
                @Html.HiddenFor(model => model.AccessCRM)
                @Html.HiddenFor(model => model.AccessProducts)

                <div class="row" style="margin:0px; padding:0px;">
                    <div class="col-sm-4">
                        <label>First Name:</label>
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        <br />

                        <label>Last Name:</label>
                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        <br />

                        <label>Email:</label><br />
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        <br />

                        <label>Phone Number:</label>
                        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                        <br />

                    </div>
                    <div class="col-sm-4">                        
                        <label>Role:</label><br />
                        @(Html.Kendo().DropDownListFor(model => model.Role)
                            .DataTextField("Name")
                        .DataValueField("Name")
                            .DataSource(source => { source.Read(read => { read.Action("DropDownRoles", "Users"); }); })
                            .AutoBind(true)
                            .Value(Model.Role)
                            .HtmlAttributes(new { style = "width: 100%; max-width: 280px;" })
                        )
                        <br />
                        <br />

                        <label>New Password:</label>
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        <br />

                        <label>Confirm New Password:</label>
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        <br />
                    </div>
                    <div class="col-sm-4">
                        @if (ViewBag.Quotations == true || ViewBag.Jobs == true || ViewBag.DeliveryNotes == true || ViewBag.Invoices == true)
                        {
                            <label>Select the modules user can access:</label><br />
                        }
                        @if (ViewBag.Quotations == true)
                        {
                            <div class="checkbox">
                                @Html.CheckBoxFor(model => model.AccessQuotations)
                                &nbsp;<strong>Quotations</strong><span style="font-size:x-small"></span>
                            </div>
                        }
                        else
                        {
                            
                        }
                        @if (ViewBag.Jobs == true)
                        {
                            <div class="checkbox">
                                @Html.CheckBoxFor(model => model.AccessJobs)
                                &nbsp;<strong>Jobs</strong><span style="font-size:x-small"></span>
                            </div>
                        }
                        @if (ViewBag.DeliveryNotes == true)
                        {
                            <div class="checkbox">
                                @Html.CheckBoxFor(model => model.AccessDeliveryNotes)
                                &nbsp;<strong>Delivery Notes</strong><span style="font-size:x-small"></span>
                            </div>
                        }
                        @if (ViewBag.Invoices == true)
                        {
                            <div class="checkbox">
                                @Html.CheckBoxFor(model => model.AccessInvoices)
                                &nbsp;<strong>Invoices</strong><span style="font-size:x-small"></span>
                            </div>
                        }
                        @if (ViewBag.PurchaseOrders == true)
                        {
                            <div class="checkbox">
                                @Html.CheckBoxFor(model => model.AccessPurchaseOrders)
                                &nbsp;<strong>Purchase Orders</strong><span style="font-size:x-small"></span>
                            </div>
                        }
                        
                    </div>
                    @if (User.IsInRole("Admin"))
                    { 
                        <div class="col-sm-12">
                            @Html.Kendo().CheckBoxFor(m => m.AgreeToGetEmail).Label("I'm happy to receive offers/info from Office Groceries")
                        </div>
                    }
                    <div class="col-sm-12">
                        <hr />
                        <input type="submit" value="Create User" class="btn btn-success" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>