﻿@model NuIngredient.Models.UserViewModel
@{
    ViewBag.Title = "Edit User";
}

<div id="divEdit" class="container">
    <div class="row">
        <div class="col-sm-12">
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success">
                    @ViewBag.SuccessMessage
                </div>
            }
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <strong>Error:</strong> @ViewBag.ErrorMessage
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h2>Edit User Account</h2>
            <h4 style="color:grey">@Model.FirstName @Model.LastName (@Model.Email)</h4>
        </div>
        <div class="col-sm-6">
            <br />
            <a class="btn btn-default hidden-xs" style="float:right" href="#" onclick="history.back();"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr />
            @using (Ajax.BeginForm("Edit", "Users", new AjaxOptions { UpdateTargetId = "divEdit" }, FormMethod.Post))
            {  
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.AccessCRM)
                    @Html.HiddenFor(model => model.AccessProducts)
                
                    <div class="row" style="margin:0px; padding:0px;">
                        <div class="col-sm-4">
                            <label>First Name:</label>
                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            <br />

                            <label>Last Name:</label>
                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            <br />

                            <label>Role:</label><br />
                            @(Html.Kendo().DropDownListFor(model => model.Role)
                            .DataTextField("Name")
                            .DataValueField("Name")
                            .DataSource(source => { source.Read(read => { read.Action("DropDownRoles", "Users"); }); })
                            .AutoBind(true)
                            .Value(Model.Role)
                            .HtmlAttributes(new { style = "width: 100%; max-width: 280px;" })
                            )
                            <br />

                        </div>
                        <div class="col-sm-4">
                            <label>Email:</label><br />
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            <br />

                            <label>Phone Number:</label>
                            @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                            <br />

                        </div>
                        <div class="col-sm-4">
                            @if (ViewBag.Quotations == true || ViewBag.Jobs == true || ViewBag.DeliveryNotes == true || ViewBag.Invoices == true)
                            {
                                <label>Select the modules user can access:</label><br />
                            }                            
                            @if (ViewBag.Quotations == true)
                            {
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.AccessQuotations)
                                    &nbsp;<strong>Quotations</strong><span style="font-size:x-small"></span>
                                </div>
                            }
                            else
                            {
                                @Html.HiddenFor(model => model.AccessQuotations)
                            }

                            @if (ViewBag.Jobs == true)
                            { 
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.AccessJobs)
                                    &nbsp;<strong>Jobs</strong><span style="font-size:x-small"></span>
                                </div>
                            }
                            else
                            {
                                @Html.HiddenFor(model => model.AccessJobs)
                            }

                            @if (ViewBag.DeliveryNotes == true)
                            { 
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.AccessDeliveryNotes)
                                    &nbsp;<strong>Delivery Notes</strong><span style="font-size:x-small"></span>
                                </div>
                            }
                            else
                            {
                                @Html.HiddenFor(model => model.AccessDeliveryNotes)
                            }

                            @if (ViewBag.Invoices == true)
                            { 
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.AccessInvoices)
                                    &nbsp;<strong>Invoices</strong><span style="font-size:x-small"></span>
                                </div>
                            }
                            else
                            {
                                @Html.HiddenFor(model => model.AccessInvoices)
                            }
                            @if (ViewBag.PurchaseOrders == true)
                            {
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.AccessPurchaseOrders)
                                    &nbsp;<strong>Purchase Orders</strong><span style="font-size:x-small"></span>
                                </div>
                            }
                            else
                            {
                                @Html.HiddenFor(model => model.AccessPurchaseOrders)
                            }
                            @if (ViewBag.StockControl == true)
                            {
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.AccessStockControl)
                                    &nbsp;<strong>Stock Control</strong><span style="font-size:x-small"></span>
                                </div>
                            }
                            else
                            {
                                @Html.HiddenFor(model => model.AccessStockControl)
                            }

                        </div>
                        <div class="col-sm-12">
                            <br />
                        </div>
                        <div class="col-sm-8">
                            @if (User.IsInRole("Admin") || User.IsInRole("User"))
                            {
                                <br />
                                if (Model.AgreeToGetEmails)
                                {
                                    <p><strong>If you would like to opt out of receiving our offer/information emails, please click here</strong> <a href="/Users/OptOut/@Model.ID" class="btn btn-info" onclick="return confirm('Are you sure you don\'t want to get offers/info from Office-Groceries?')">Opt out</a></p>
                                    
                                }
                                else
                                {
                                    <p><strong>If you would like to opt in of receiving our offer/information emails, please click here</strong> <a href="/Users/OptIn/@Model.ID" class="btn btn-warning" onclick="return confirm('Are you sure you want to get offers/info from Office-Groceries?')">Opt in</a></p>
                                    
                                }
                            }
                        </div>
                        <div class="col-sm-12">
                            <hr />
                            <input type="submit" value="Save Changes" class="btn btn-success" />
                        </div>
                    </div>
            }
            </div>
        </div>
    </div>


