﻿@model List<NuIngredient.Models.UserViewModel>
@{
    ViewBag.Title = "Manage My Account";
}

<section id="dashboard">
    <div class="container">
        <div class="row" id="account">
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="col-xs-12">
                    <div class="alert alert-success">
                        @ViewBag.SuccessMessage
                    </div>
                </div>
                <script>
                    setTimeout(function () {
                        $('.alert-success').hide();
                    }, 5000);
                </script>
            }
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="col-xs-12">
                    <div class="alert alert-danger">
                        <strong>Error:</strong> @ViewBag.ErrorMessage
                    </div>
                </div>
                <script>
                    setTimeout(function () {
                        $('.alert-danger').hide();
                    }, 5000);
                </script>
            }
            <div class="col-xs-12">
                <div id="header-dashboard-banner">
                    <h1>Manage My Account</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                @if (User.IsInRole("Admin") || User.IsInRole("User"))
                {
                    <a href="#" class="btn btn-info" onclick="_EditCustomerDetails()" style="width:162px;"><i class="fa fa-edit"></i> Edit Delivery Details</a>
                }
                <a href="@Url.Action("Create")" class="btn btn-warning" style="min-width:162px;"><i class="fa fa-edit"></i> Create New User</a>
            </div>
        </div>
        <div class="row" id="table-headers">
            <div class="col-xs-12 col-sm-3 account-header">Email</div>
            <div class="col-xs-12 col-sm-2 account-header">First Name</div>
            <div class="col-xs-12 col-sm-2 account-header">Last Name</div>
            <div class="col-xs-12 col-sm-1 account-header">Role</div>
            <div class="col-xs-12 col-sm-1 account-header"></div>
            <div class="col-xs-12 col-sm-2 account-header"></div>
            <div class="col-xs-12 col-sm-1 account-header"></div>
        </div>
        @foreach (var user in Model)
        {
            <div class="row table-body">
                <div class="col-xs-12 col-sm-3"><a href="mailto:@user.Email" class="email">@user.Email</a></div>
                <div class="col-xs-12 col-sm-2"><p>@user.FirstName</p></div>
                <div class="col-xs-12 col-sm-2"><p>@user.LastName</p></div>
                <div class="col-xs-12 col-sm-1"><p>@user.Role</p></div>
                <div class="col-xs-3 col-sm-1"><a href="@(Url.Action("Edit") + "/" + user.ID)" class="btn btn-primary">Edit</a></div>
                <div class="col-xs-6 col-sm-2"><a href="@(Url.Action("ChangePassword") + "/" + user.ID)" class="btn btn-warning">Reset Password</a></div>
                <div class="col-xs-3 col-sm-1"><a href="@(Url.Action("Destroy" + "/" + user.ID))" class="btn btn-danger">Delete</a></div>
            </div>
        }
    </div>
</section>

<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_Edit" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 800px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="Edit_Body"></div>
    </div>
</div>

<style>
    html .k-grid tr:hover {
      background: inherit;
      color:inherit;
    }
 
    html .k-grid tr.k-alt:hover {
      background: #f5f5f5;
      color:inherit;
    }

</style>

<script>

    function _EditCustomerDetails() {
        var url = '@Url.Action("_EditCustomerDetails", "CustomerSettings")';
        $("#Edit_Body").load(url);

        $("#SlideContent_Edit").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_Edit").css("display", "block");
        $("#Button_Close_Content").css("display", "block");
    }

    function OnError(e) {
        $('#GridUsers').data("kendoGrid").cancelChanges();
        alert(e.errorThrown)
    }
</script>

