﻿@{
    ViewBag.Title = "Requested Accounts";
}


<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-xs-6">
            <br />
            <div class="btn-group" style="float:right; margin-right:3px;">
                @*<button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-cloud-upload"></span>&nbsp;Import <span class="caret"></span>
                </button>*@
            </div> 
            @*<a class="btn btn-danger" style="float:right; margin-right:3px;" href="/Products/Deleted/"><span class="glyphicon glyphicon-trash"></span> &nbsp;Deleted Milk</a>*@
        </div>
        <div class="col-xs-12">
            <br />
        </div>
        <div class="col-xs-4">

        </div>
        <div class="col-xs-4">
            <div class="pull-right">
                @(Html.Kendo().DropDownList()
                    .Name("DropDownCompanies")
                    .OptionLabel("All Customers")
                    .DataTextField("Name")
                    .DataValueField("ID")
                    .DataSource(dataSource => dataSource.Read(read => read.Action("DropDownCompanies", "Companies")))
                    .Events(events => events.Change("Refresh"))
                    .HtmlAttributes(new { @style = "width: 200px;" })
                )
            </div>
        </div>
        <div class="col-xs-4">
            <div class="input-group">
                @Html.TextBox("TB_Filter", null, new { @class = "form-control", @style = "max-width:none;", @placeholder = "Search by Customer" })
                <span class="input-group-btn">
                    <a class="btn btn-default" onclick="Refresh(); return false;"><span class="glyphicon glyphicon-search"></span></a>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>


        <div id="divEdit" class="col-sm-12" style="display:none">
            <div class="form-group" role="group" aria-label="...">
            </div>
        </div>

        <div class="col-sm-12">

                        @(Html.Kendo().Scheduler<NuIngredient.Models.CalendarEventViewModel>()
                                      .Name("CalendarOnWaiting")
                                      .Date(DateTime.Today)
                                      .Height(650)
                                      .Views(views =>
                                      {
                                          views.MonthView();
                                          views.WeekView();
                                          views.DayView();
                                      })
                                      .Resources(resource =>
                                      {
                                          resource.Add(m => m.EventType)
                                                  .Title("EventType")
                                                  .DataTextField("Text")
                                                  .DataValueField("Value")
                                                  .DataColorField("Color")
                                                  .BindTo(new[]
                                                  {
                                                      new { Text = "Milk", Value = (int)NuIngredient.Models.CalendarEventType.Milk, Color = "#f8a398" },
                                                      new { Text = "Fruits", Value = (int)NuIngredient.Models.CalendarEventType.Fruits, Color = "#51a0ed" },
                                                      new { Text = "Dry Goods", Value = (int)NuIngredient.Models.CalendarEventType.DryGoods, Color = "#56ca85" },
                                                  });
                                      })
                                      .DataSource(dataSource => dataSource.Read(read => read.Action("ReadOnWaiting", "Calendars").Data("GetSearchInfo")))
                                      .Editable(editorable => editorable.Destroy(false)
                                                                        .Move(false)
                                                                        .Resize(false)
                                                                        .Create(false)
                                                                        .TemplateId("AllDayEventTemplate")
                                      )
                                      .Events(events => events.Edit("OnEditEvent"))
                        )
        </div>
    </div>
</div>

<style>
    .div-inline {         
        overflow: hidden;
        white-space: nowrap;
        text-align:center;
        align-items:center;
    }
</style>

<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_Edit" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 800px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="Edit_Body"></div>
    </div>
</div>

<script type="text/template" id="AllDayEventTemplate">
    <div class="container" style="width: 80%">
        <div class="row">
            <div class="col-xs-4">
                <label>Status:</label>
            </div>
            <div class="col-xs-6">
                <label>#=description#</label>
            </div>
            <div class="col-xs-12"><br /></div>

            <div class="col-xs-4">
                <label>Requesting Time:</label>
            </div>
            <div class="col-xs-6">
                <label>#=kendo.toString(start, "dd/MM/yyyy")#</label>
            </div>
            <div class="col-xs-12"><br /></div>

            <div class="col-xs-4">
                <label>Customer:</label>
            </div>
            <div class="col-xs-6">
                <label>#=CustomerName#</label>
            </div>
            <div class="col-xs-12"><br /></div>

            <div class="col-xs-4">
                <label>Email:</label>
            </div>
            <div class="col-xs-6">
                <label>#=Email#</label>
            </div>
            <div class="col-xs-12"><br /></div>

            <div class="col-xs-4">
                <label>Telephone:</label>
            </div>
            <div class="col-xs-6">
                <label>#=Telephone#</label>
            </div>
            <div class="col-xs-12"><br /></div>

            <div class="col-xs-4">
                <label>Address:</label>
            </div>
            <div class="col-xs-6">
                <label>#=Address#</label>
            </div>
            <div class="col-xs-12"><br /></div>

            <div class="col-xs-4">
                <label>PostCode:</label>
            </div>
            <div class="col-xs-6">
                <label>#=PostCode#</label>
            </div>
            <div class="col-xs-12"><br /></div>

            <div class="col-xs-4">
                <label>DeliveryInstruction:</label>
            </div>
            <div class="col-xs-6">
                <label style="white-space: pre-wrap;">#=DeliveryInstruction#</label>
            </div>
            #if(Supplier != null)
            {#
                <div class="col-xs-12"><br /></div>

                <div class="col-xs-4">
                    <label>Supplier:</label>
                </div>
                <div class="col-xs-6">
                    <label style="white-space: pre-wrap;">#=Supplier.Name#</label>
                </div>
            #}#
            @*<div class="col-xs-12">
                <table class="table">
                    <tr>
                        <td>Status:</td>
                        <td>#=description#</td>
                    </tr>
                    <tr>
                        <td>Requesting Time:</td>
                        <td>#=kendo.toString(start, "dd/MM/yyyy")#</td>
                    </tr>
                    <tr>
                        <td>Customer:</td>
                        <td>#=CustomerName#</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>#=Email#</td>
                    </tr>
                    <tr>
                        <td>Telephone:</td>
                        <td>#=Telephone#</td>
                    </tr>
                    <tr>
                        <td>Address:</td>
                        <td>#=Address#</td>
                    </tr>
                    <tr>
                        <td>Postcode:</td>
                        <td>#=PostCode#</td>
                    </tr>
                    <tr>
                        <td>DeliveryInstruction:</td>
                        <td style="white-space: pre-wrap;">#=DeliveryInstruction#</td>
                    </tr>
                </table>
            </div>*@
        </div>
    </div>
</script>

  <!-- Modal -->
<div class="modal fade" id="Modal" role="dialog" style="z-index:2000">
    <div class="modal-dialog" style="width:400px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center;">Supplier</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<script>

    function Refresh() {
        $('#CalendarOnWaiting').data('kendoScheduler').dataSource.read();
    }

    function GetSearchInfo() {
        return {
            filterText: $('#TB_Filter').val(),
            companyID: $('#DropDownCompanies').val(),
        }
    }

    $("#TB_Filter").keyup(function (e) {
            Refresh();
    });

    function HideViews() {
        $("#SlideContent_Edit").animate({ width: '0%' }, { queue: false, duration: 300 });
        setTimeout(function () {
            $("#SlideContent_Edit").css("display", "none");
            $("#Button_Close_Content").css("display", "none");
            Refresh();
        }, 300);
    }

    function OnCompanyChange() {
        Refresh();
    }

    @*function EditFeedback(id) {
        var url = '@Url.Action("_EditFeedback", "Feedbacks")' + '?feedbackID=' + id;
        $("#Edit_Body").load(url);

        $("#SlideContent_Edit").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_Edit").css("display", "block");
        $("#Button_Close_Content").css("display", "block");
    }*@

    function OnEditEvent(e) {
        var buttonsContainer = e.container.find(".k-edit-buttons");
        var cancelButton = buttonsContainer.find(".k-scheduler-cancel");
        var saveButton = buttonsContainer.find(".k-scheduler-update");
        cancelButton.hide();
        saveButton.text('Dismiss');

        $('.k-window-actions').hide();
    }

</script>