﻿@using NuIngredient.Models
@model NuIngredient.Models.MilkOrderRowPageViewModel

@foreach (NuIngredient.Models.MilkOrderViewModel item in Model.MilkOrders)
{
    <tr class="order-products milk" data-id="@item.ID" data-milkid="@item.MilkID" data-price="@item.Price" data-vat="@item.VATRate">
        <td><img name="Image" src="@item.ImageUrl" style="height: 50px; width: 50px;" /></td>
        <td id="product-name">@item.ProductName</td>
        <td id="product-unit">@item.Unit</td>
        <td>
            <div class="numeric-input">
                @if (Model.IsAvailableDay(OgDayOfWeek.Monday))
                {
                    <span class="fa fa-caret-up numeric-up"></span>
                    <input type="number" min="0" id="@item.ID-monday-val" name="monday-val" class="form-control weekday-val w-50-px" value="@(item.Monday != 0 ? item.Monday.ToString() : "")" onchange="ChangeMilkQuantity()"/>
                    <span class="fa fa-caret-down numeric-down"></span>
                }
                else
                {
                    <input type="number" min="0" id="@item.ID-monday-val" name="monday-val" class="form-control weekday-val w-50-px" value="@(item.Monday != 0 ? item.Monday.ToString() : "")" onchange="ChangeMilkQuantity()" disabled/>
                }
            </div>
        </td>
        <td>
            <div class="numeric-input">
                @if (Model.IsAvailableDay(OgDayOfWeek.Tuesday))
                {
                    <span class="fa fa-caret-up numeric-up"></span>
                    <input type="number" min="0" id="@item.ID-tuesday-val" name="tuesday-val" class="form-control weekday-val w-50-px" value="@(item.Tuesday != 0 ? item.Tuesday.ToString() : "")" onchange="ChangeMilkQuantity()" />
                    <span class="fa fa-caret-down numeric-down"></span>
                }
                else
                {
                    <input type="number" min="0" id="@item.ID-tuesday-val" name="tuesday-val" class="form-control weekday-val w-50-px" value="@(item.Tuesday != 0 ? item.Tuesday.ToString() : "")" onchange="ChangeMilkQuantity()" disabled />
                }
            </div>
        </td>
        <td>
            <div class="numeric-input">
                @if (Model.IsAvailableDay(OgDayOfWeek.Wednesday))
                {
                    <span class="fa fa-caret-up numeric-up"></span>
                    <input type="number" min="0" id="@item.ID-wednesday-val" name="wednesday-val" class="form-control weekday-val w-50-px" value="@(item.Wednesday != 0 ? item.Wednesday.ToString() : "")" onchange="ChangeMilkQuantity()"/>
                    <span class="fa fa-caret-down numeric-down"></span>
                }
                else
                {
                    <input type="number" min="0" id="@item.ID-wednesday-val" name="wednesday-val" class="form-control weekday-val w-50-px" value="@(item.Wednesday != 0 ? item.Wednesday.ToString() : "")" onchange="ChangeMilkQuantity()" disabled/>
                }
            </div>
        </td>
        <td>
            <div class="numeric-input">
                @if (Model.IsAvailableDay(OgDayOfWeek.Thursday))
                {
                    <span class="fa fa-caret-up numeric-up"></span>
                    <input type="number" min="0" id="@item.ID-thursday-val" name="thursday-val" class="form-control weekday-val w-50-px" value="@(item.Thursday != 0 ? item.Thursday.ToString() : "")" onchange="ChangeMilkQuantity()" />
                    <span class="fa fa-caret-down numeric-down"></span>
                }
                else
                {
                    <input type="number" min="0" id="@item.ID-thursday-val" name="thursday-val" class="form-control weekday-val w-50-px" value="@(item.Thursday != 0 ? item.Thursday.ToString() : "")" onchange="ChangeMilkQuantity()" disabled />
                }
            </div>
        </td>
        <td>
            <div class="numeric-input">
                @if (Model.IsAvailableDay(OgDayOfWeek.Friday))
                {
                    <span class="fa fa-caret-up numeric-up"></span>
                    <input type="number" min="0" id="@item.ID-friday-val" name="friday-val" class="form-control weekday-val w-50-px" value="@(item.Friday != 0 ? item.Friday.ToString() : "")" onchange="ChangeMilkQuantity()" />
                    <span class="fa fa-caret-down numeric-down"></span>
                }
                else
                {
                    <input type="number" min="0" id="@item.ID-friday-val" name="friday-val" class="form-control weekday-val w-50-px" value="@(item.Friday != 0 ? item.Friday.ToString() : "")" onchange="ChangeMilkQuantity()" disabled />
                }
            </div>
        </td>
        <td>
            <div class="numeric-input">
                @if (Model.IsAvailableDay(OgDayOfWeek.Saturday))
                {
                    <span class="fa fa-caret-up numeric-up"></span>
                    <input type="number" min="0" id="@item.ID-saturday-val" name="saturday-val" class="form-control weekday-val w-50-px" value="@(item.Saturday != 0 ? item.Saturday.ToString() : "")" onchange="ChangeMilkQuantity()"/>
                    <span class="fa fa-caret-down numeric-down"></span>
                }
                else
                {
                    <input type="number" min="0" id="@item.ID-friday-val" name="friday-val" class="form-control weekday-val w-50-px" value="@(item.Friday != 0 ? item.Friday.ToString() : "")" onchange="ChangeMilkQuantity()" disabled/>
                }
            </div>
        </td>
        <td id="cost-per-prouct">@item.Price.ToString("C")</td>
        <td id="product-quantity">@item.WeeklyVolume</td>
        <td id="total-cost">@item.WeeklyTotal.ToString("C")</td>
        <td><button type="button" class="btn btn-link" onclick="DeleteMilkRow('@item.ID'); return false;"><i class="fas fa-trash-alt text-info"></i></button></td>
    </tr>
}