﻿@model NuIngredient.Models.MilkOrderHeaderViewModel

@(Html.Kendo().Grid<NuIngredient.Models.MilkOrderViewModel>()
            .Name("GridMilkOrderDetails")
            .Columns(columns =>
            {
                columns.Bound(m => m.ID).Hidden();
                columns.Bound(f => f.ImageUrl).Title("").ClientTemplate("<img name=\"Image\" src=\"#=ImageUrl#\" style=\"height: 50px; width: 50px;\" />").Width("1%");
                columns.Bound(f => f.ProductName).Title("Product").HeaderHtmlAttributes(new { @style = "vertical-align:middle;" });
                columns.Bound(f => f.Unit).Title("Unit").HeaderHtmlAttributes(new { @style = "vertical-align:middle;" }).MinScreenWidth(767);
                columns.Bound(f => f.Monday).Title("Mon").ClientTemplate("<div class='div-inline'>#if (Monday != 0){# #=Monday# #} #</div>").HeaderHtmlAttributes(new { @style = "text-align: center; vertical-align:middle;" }).MinScreenWidth(767).Width("1%");
                columns.Bound(f => f.Tuesday).Title("Tue").ClientTemplate("<div class='div-inline'>#if (Tuesday != 0){# #=Tuesday# #} #</div>").HeaderHtmlAttributes(new { @style = "text-align: center; vertical-align:middle;" }).MinScreenWidth(767).Width("1%");
                columns.Bound(f => f.Wednesday).Title("Wed").ClientTemplate("<div class='div-inline'>#if (Wednesday != 0){# #=Wednesday# #} #</div>").HeaderHtmlAttributes(new { @style = "text-align: center; vertical-align:middle;" }).MinScreenWidth(767).Width("1%");
                columns.Bound(f => f.Thursday).Title("Thu").ClientTemplate("<div class='div-inline'>#if (Thursday != 0){# #=Thursday# #} #</div>").HeaderHtmlAttributes(new { @style = "text-align: center; vertical-align:middle;" }).MinScreenWidth(767).Width("1%");
                columns.Bound(f => f.Friday).Title("Fri").ClientTemplate("<div class='div-inline'>#if (Friday != 0){# #=Friday# #} #</div>").HeaderHtmlAttributes(new { @style = "text-align: center; vertical-align:middle;" }).MinScreenWidth(767).Width("1%");
                columns.Bound(f => f.Saturday).Title("Sat").ClientTemplate("<div class='div-inline'>#if (Saturday != 0){# #=Saturday# #} #</div>").MinScreenWidth(767).Width("1%");
                columns.Bound(f => f.Price).Title("Cost").ClientTemplate("<div class='div-inline'>#=kendo.toString(Price, 'C')#</div>").HeaderHtmlAttributes(new { @style = "text-align: center; vertical-align:middle;" }).MinScreenWidth(767).Width("1%");
                columns.Bound(f => f.WeeklyVolume).Title("Weekly<Br>Volume").ClientTemplate("<div class='div-inline'>#=WeeklyVolume#</div>").HeaderHtmlAttributes(new { @style = "text-align: center; vertical-align:middle;" }).Width("1%");
                columns.Bound(f => f.WeeklyTotal).Title("Weekly<Br>Total").ClientTemplate("<div class='div-inline'>#=kendo.toString(WeeklyTotal, 'C')#</div>").HeaderHtmlAttributes(new { @style = "text-align: center; vertical-align:middle;" }).Width("1%");
            })
            .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(m => m.ID);
                    })
                    .Read(read => read.Action("Read", "MilkOrdersGrid", new { milkOrderHeaderID = Model.ID }))
            )
            .Events(events => events.DataBound("KendoGridDatabound"))
            .Deferred()
)
