﻿@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Your Milk Order Purchases";
}

<div class="bg-secondary text-white text-center pt-5 pb-5">
  <div class="container">
      <div class="row">
          <div class="col">
              <h1>@ViewBag.Title</h1>
              <h2 class="h5">Welcome back @User.Identity.GetName()</h2>
          </div>
      </div>
  </div>
</div>

<div class="bg-white pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="bg-light p-3">
                    <div class="row">
                        <div class="col-12 col-md-3 col-lg-3 pb-md-4">
                            <div class="bg-secondary p-3">
                                <a href="javascript:void(0)" class="btn btn-primary text-white text-left" onclick="ToggleStatus(this);" style="width:100%; margin-bottom:3px;"><span name="Status" class="fa fa-check-square" data-value="@NuIngredient.Models.OrderMode.Regular"></span>&nbsp;&nbsp;Our Regular Order</a>
                                <a href="javascript:void(0)" class="btn btn-primary text-white text-left" onclick="ToggleStatus(this);" style="width:100%; margin-bottom:3px;"><span name="Status" class="fa fa-check-square" data-value="@NuIngredient.Models.OrderMode.OneOff"></span>&nbsp;&nbsp;One Off Changes</a>
                                <a href="javascript:void(0)" class="btn btn-primary text-white text-left" onclick="ToggleStatus(this);" style="width:100%; margin-bottom:3px;"><span name="Status" class="fa fa-check-square" data-value="@NuIngredient.Models.OrderMode.History"></span>&nbsp;&nbsp;Historical Orders</a>
                                <hr />
                                @(Html.Kendo().DropDownList()
                                    .Name("DropDownDate")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .Events(e => e.Change("DateChanged"))
                                    .BindTo(new List<SelectListItem>() {
                                                new SelectListItem() { Text = "All Orders", Value = "0"},
                                                new SelectListItem() { Text = "This Month", Value = "1"},
                                                new SelectListItem() { Text = "Last Month", Value = "2"},
                                                new SelectListItem() { Text = "Custom Range", Value = "3"},
                                    })
                                    .Value("0")
                                    .HtmlAttributes(new { style = "width: 100%" })
                                    .Deferred()
                                )
                                <div id="div_CustomDateRange" style="display: none;">
                                    <hr />
                                    <table>
                                        <tr>
                                            <td style="width:50px"><label>From:</label></td>
                                            <td style="padding-bottom:5px;">
                                                @(Html.Kendo().DatePicker()
                                                    .Name("DateFrom")
                                                    .HtmlAttributes(new { style = "width: 100%" })
                                                    .Value(DateTime.Today.ToString("dd/MM/yyyy"))
                                                    .Events(e => { e.Close("Refresh"); })
                                                    .Deferred()
                                                )
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label>To:</label></td>
                                            <td style="padding-bottom:5px;">
                                                @(Html.Kendo().DatePicker()
                                                    .Name("DateTo")
                                                    .HtmlAttributes(new { style = "width: 100%" })
                                                    .Value(DateTime.Today.ToString("dd/MM/yyyy"))
                                                    .Events(e => { e.Close("Refresh"); })
                                                    .Deferred()
                                                )
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-9 col-lg-9 py-3 py-md-0">
                            @(Html.Kendo().Grid<NuIngredient.Models.MilkOrderHeaderViewModel>()
                                .Name("GridMilkOrderHeader")
                                .Columns(columns =>
                                {
                                    columns.Bound(m => m.ID).Hidden();
                                    columns.Bound(m => m.CompanyID).Hidden();
                                    columns.Bound(m => m.OrderMode).ClientTemplate("#if(OrderMode == 1){#<span class='btn btn-success text-white'>Regular</span>#} else if (OrderMode == 3){#<span class='btn btn-primary text-white'>OneOff</span#} else if (OrderMode == 4){#<span class='btn btn-secondary text-white'>History</span#}#").Width("1%");
                                    //columns.Bound(m => m.OrderNumber).ClientTemplate("<a href='/Milk/MilkOrderDetails/#=ID#'>#=OrderNumber#</a>");
                                    columns.Bound(m => m.FromDate).Title("Date From").ClientTemplate("#if(FromDate){#<span class='label label-info'>#=kendo.toString(FromDate, 'dd/MM/yyyy')#</span>#}#").Width("1%").MinScreenWidth(768);
                                    columns.Bound(m => m.ToDate).Title("Date To").ClientTemplate("#if(ToDate){#<span class='label label-info'>#=kendo.toString(ToDate, 'dd/MM/yyyy')#</span>#}#").Width("1%").MinScreenWidth(768);
                                    columns.Bound(m => m.TotalNet).Title("Net").ClientTemplate("#=kendo.toString(TotalNet, 'C')#").Width("1%").MinScreenWidth(992);
                                    columns.Bound(m => m.TotalVAT).Title("VAT").ClientTemplate("#=kendo.toString(TotalVAT, 'C')#").Width("1%").MinScreenWidth(992);
                                    columns.Bound(m => m.TotalGross).Title("Gross").ClientTemplate("#=kendo.toString(TotalGross, 'C')#").Width("1%");
                                    columns.Template(@<text></text>).ClientTemplate("<a class='btn btn-success' href='/Milk/MilkOrderDetails/#=ID#' title='Details'>View</a>").Width("1%");
                                })
                                .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .Model(model =>
                                    {
                                        model.Id(m => m.ID);
                                    })
                                    .Read(read => read.Action("Read", "MilkOrderHeadersGrid").Data("GetSearchInfo"))
                                )
                                .Pageable(p => p.Messages(m => m.Display("{0} - {1} of {2} Orders").Empty("No Orders Found")))
                                .Events(events => events.DataBound("KendoGridDatabound"))
                                .Deferred()
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function Refresh() {
        $("#GridMilkOrderHeader").data("kendoGrid").dataSource.read();
    }

    function GetSearchInfo() {
        return {
            filterText: $('#TB_Filter').val(),
            dateType: $('#DropDownDate').val(),
            fromDate: kendo.toString($("#DateFrom").data("kendoDatePicker").value(), 'dd/MM/yyyy'),
            toDate: kendo.toString($("#DateTo").data("kendoDatePicker").value(), 'dd/MM/yyyy'),
            statuses: GetStatuses()
        }
    }

    function DateChanged() {
        var id = $("#DropDownDate").data("kendoDropDownList").value();

        if (id == 3) { $("#div_CustomDateRange").show(); }
        else { $("#div_CustomDateRange").hide(); }

        Refresh();
    }

    function ToggleStatus(that) {
        $(that).find('span').toggleClass('fa-check-square fa-square');
        Refresh();
    }

    function GetStatuses() {
        var statuses = [];
        $('span[name=Status].fa-check-square').each(function () {
            statuses.push($(this).data('value'));
        });
        return statuses;
    }
</script>

<style>
    .btn-show-cart {
        display: none !important;
    }

    .k-grid-header th.k-header {
        background-color: #898989;
    }

    .k-grid-header .k-header > .k-link {
        color: white;
        font-size: 15px;
        font-weight: bold;
    }
</style>