﻿@model NuIngredient.Models.MilkOrderHeaderViewModel
@{
    ViewBag.Title = "Milk Orders";
}

<div class="bg-secondary text-white text-center pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Your Milk Order Purchases</h1>
                <h2 class="h5">@Model.OrderNumber</h2>
            </div>
        </div>
    </div>
</div>

<div class="bg-white pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="bg-light p-3">
                    <div class="row">
                        <div class="col-12 col-md-14 col-lg-6 py-3 py-md-0">
                            <div class="table-responsive">
                                <table class="table table-borderless">
                                    <thead>
                                        <tr class="bg-secondary text-white">
                                            <th scope="col">Total Net</th>
                                            <th scope="col">Total VAT</th>
                                            <th scope="col">Total Gross</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="table-secondary">
                                            <td>@Model.TotalNet.ToString("C")</td>
                                            <td>@Model.TotalVAT.ToString("C")</td>
                                            <td>@Model.TotalGross.ToString("C")</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="d-none d-lg-block col-lg-3">
                        </div>
                        <div class="col-12 col-md-12 col-lg-3">
                            <a class="btn btn-primary btn-block rounded-0 text-white" href="/Milk/Invoice/" role="button">Back to Order Histories</a>
                            @*<a class="btn btn-success btn-block rounded-0 text-white" href="@Model.FileURL" role="button">Download Order</a>*@
                        </div>
                        <div class="col-12 mt-5">
                            <div class="table-responsive">
                                <table class="table table-borderless">
                                    <thead>
                                        <tr class="bg-secondary text-white">
                                            <th scope="col">Product</th>
                                            <th scope="col">Unit</th>
                                            <th scope="col">Mon</th>
                                            <th scope="col">Tues</th>
                                            <th scope="col">Wed</th>
                                            <th scope="col">Thu</th>
                                            <th scope="col">Fri</th>
                                            <th scope="col">Sat</th>
                                            <th scope="col">Cost</th>
                                            <th scope="col">Weekly Volume</th>
                                            <th scope="col">Weekly Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach(var item in Model.Items)
                                        {
                                            <tr class="table-secondary border-top border-light">
                                                <td>@item.ProductName</td>
                                                <td>@item.Unit</td>
                                                <td>@item.Monday.ToString("#")</td>
                                                <td>@item.Tuesday.ToString("#")</td>
                                                <td>@item.Wednesday.ToString("#")</td>
                                                <td>@item.Thursday.ToString("#")</td>
                                                <td>@item.Friday.ToString("#")</td>
                                                <td>@item.Saturday.ToString("#")</td>
                                                <td>@item.Price.ToString("C")</td>
                                                <td>@item.WeeklyVolume</td>
                                                <td>@item.WeeklyTotal.ToString("C")</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
