﻿@model NuIngredient.Models.Setting
@{
    ViewBag.Title = "Settings";
}

<div id="OverallSetting">
    @using (Ajax.BeginForm("_OverallSetting", "Settings", new AjaxOptions { UpdateTargetId = "OverallSetting" }, FormMethod.Post))
    {
        <div class="container">

            <div class="row">
                <div class="col-sm-12">
                    <h1>@ViewBag.Title</h1>
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-sm-12">
                    <table style="width:100%;">
                        <tr>
                            <td style="width:250px;"><label>Milk Supplier Centre Email: </label></td>
                            <td>@Html.TextBoxFor(model => model.MilkSupplierCenterEmail, new { @class = "form-control", @placeholder = "Milk Supplier Centre Email" })</td>
                        </tr>
                        <tr><td><br /></td></tr>
                        <tr>
                            <td><label>Fruit Supplier Centre Email: </label></td>
                            <td>@Html.TextBoxFor(model => model.FruitSupplierCenterEmail, new { @class = "form-control", @placeholder = "Milk Supplier Centre Email" })</td>
                        </tr>
                        <tr><td><br /></td></tr>
                        @*<tr>
                            <td><label>Dry Goods Supplier Centre Email: </label></td>
                            <td>@Html.TextBoxFor(model => model.DryGoodsSupplierCenterEmail, new { @class = "form-control", @placeholder = "Milk Supplier Centre Email" })</td>
                        </tr>
                        <tr><td><br /></td></tr>*@
                        <tr>
                            <td><label>Feedback Centre Email: </label></td>
                            <td>@Html.TextBoxFor(model => model.FeedbackCenterEmail, new { @class = "form-control", @placeholder = "Feedback Centre Email" })</td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-12">
                    <hr />
                    <div style="text-align:center;">
                        <input type="submit" value="Save" class="btn btn-inverse" />
                        @if (ViewBag.Saved != null)
                        {   <br />
                            <label id="l_Saved"><strong>Details Saved!</strong></label>
                            <script>
                                setTimeout(function () { $("#l_Saved").css("display", "none"); }, 2000);
                            </script>
                        }
                    </div>
                </div>
            </div>
        </div>
    }

</div>