﻿@using NuIngredient.Models

@{
    ViewBag.Title = "Admin";
}

<script>
    $(function () {
        loadInitialView();

        // Hook up the nav pill buttons.
        $(".nav-pills li").click(function (e) {
            e.preventDefault();

            // Update the highlighting of the pills.
            $(".nav-pills li.active").removeClass("active");
            $(this).addClass("active");

            // Call the href of the pill as a child action.
            loadFromPillButton($(this));
        })
    });

    // Loads the partial view for the first nav pill button and sets the button to active.
    function loadInitialView() {
        var $button = $(".nav-pills li:first-child");
        $button.addClass("active");
        loadFromPillButton($button);
    }

    // Loads content from the anchor tag of a pill button.
    function loadFromPillButton($a) {
        var url = $a.children("a").attr("href");
        $("#divContent").load(url)
    }
</script>

<div class="container" style="margin-top: 30px;">
    <div class="row">
        <div class="col-sm-2">
            <div class="panel panel-default">
                <div class="panle-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="nav nav-pills nav-stacked" style="margin-top: 5px;">
                                <li><a href="@Url.Action("_OverallSetting", "Settings")">Overall Settings</a></li>
                                <li>@*<a href='@Url.Action("_Suppliers", "Settings")'>Suppliers</a>*@</li>
                                @*<li><a href='@Url.Action("_ProductCategories", "Settings")'>Dry Goods Categories</a></li>
                                <li><a href='@Url.Action("_FruitProductCategories", "Settings")'>Fruit Categories</a></li>
                                <li><a href='@Url.Action("_MilkProductCategories", "Settings")'>Milk Categories</a></li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-10">
            <hr class="visible-xs" />
            <div id="divContent" style="margin-left: 20px;"></div>
        </div>
    </div>
</div>

  <!-- Modal -->
<div class="modal fade" id="Modal" role="dialog" style="z-index:2000">
    <div class="modal-dialog" style="width:400px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center;"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>