﻿@{
    ViewBag.Title = ViewBag.category;
}
@Html.Action("GetAisleLandingPage", "CMS", new { name = ViewBag.category })

<!-- Modal -->
<div class="modal fade" id="Modal-more-info" role="dialog" style="z-index:2000">
    <div class="modal-dialog" style="max-width:800px; width:100%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="overflow-wrap:break-word;">
            </div>
        </div>
    </div>
</div>


<script>
    function EnquiryForm() {
        window.location.href = "/Account/EnquiryForm";
    }
    function CreateQuote() {
        var category = '@ViewBag.category';
        if (category == "Milk") {
            window.location.href = "/Milk";
        }
        else if (category == "Fruit") {
            window.location.href = "/Fruits";
        }
        else {
            window.location.href = "/Products/Aisle/" + category;
        }
    }

    $('#Modal-more-info').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var title = button.data('title');
        var encodedContent = button.data('content') // Extract info from data-* attributes
        // Update the modal's content.
        var modal = $(this)
        modal.find('.modal-title').text(title);
        modal.find('.modal-body').html(DecodeHtmlText(encodedContent));
    })

    function DecodeHtmlText(encodedStr) {
        var txt = document.createElement("textarea");
        txt.innerHTML = encodedStr;
        return txt.value;
    }
</script>
