﻿@model NuIngredient.Models.AislePageViewModel

@if (Model.Carousels.Any())
{
    <div class="text-white text-center pt-1">
        <div class="container">
            <div class="row">
                <div class="col" style="max-height:260px;">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            @for (var i = 0; i < Model.Carousels.Count(); i++)
                            {
                                if (i == 0)
                                {
                                    <li data-target="#myCarousel" data-slide-to="@i" class="active"></li>
                                }
                                else
                                {
                                    <li data-target="#myCarousel" data-slide-to="@i"></li>
                                }
                            }
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            @for (var i = 0; i < Model.Carousels.Count(); i++)
                            {
                                if (i == 0)
                                {
                                    <div class="carousel-item active">
                                        <a href="@Model.Carousels[i].LinkURL"><img src="@Model.Carousels[i].ImageURL" alt="@Model.Carousels[i].Title" title="@Model.Carousels[i].Title" style="width:100%; max-height:260px;"></a>
                                    </div>
                                }
                                else
                                {
                                    <div class="carousel-item">
                                        <a href="@Model.Carousels[i].LinkURL"><img src="@Model.Carousels[i].ImageURL" alt="@Model.Carousels[i].Title" title="@Model.Carousels[i].Title" style="width:100%; max-height:260px;"></a>
                                    </div>
                                }
                            }
                        </div>

                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
