﻿@model NuIngredient.Models.OneOffOrderViewModel


<script>
    // function AddComment() {
    //     $('#GridComplaints').show();
    //     $('#GridComplaints').data('kendoGrid').addRow();
    // }

    // function OnComplaintRequestEnd(e) {
    //     // Disable edit
    //     e.sender.table.find('.k-grid-edit').hide();

    //     // Hide the table if there's no complaints
    //     if (e.sender.dataSource.total() == 0) {
    //         $('#GridComplaints').hide();
    //     }
    //     else {
    //         $('#GridComplaints').show();
    //     }
    // }

    function CopyToShoppingCart() {
        $.ajax({
            url: '/Products/CopyToCart',
            type: 'POST',
            data: {
                orderId: '@Model.ID'
            },
            success: function (response) {
                if (response.Success)
                {
                    if (confirm("Successfully put in the shopping cart, continue to shopping page?"))
                    {
                        location.href = '/Products/Aisle/@ViewBag.MainDryGoodsAisleName'
                    }
                }
                else
                    alert("Failed");
            }
        })
    }
</script>

<div class="bg-info p-2 mb-3">
    <h4 class="text-center">Your Dry Goods Order</h4>
    <h2 class="text-success text-center">@Model.OrderNumber</h2>
    <div class="table-responsive">
        <table class="table table-bordered bg-white mb-0">
            <thead>
                <tr>
                    <th style="width: 80px;" scope="col"></th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Net</th>
                    <th scope="col">VAT</th>
                    <th scope="col">Gross</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OneOffOrderItems)
                {
                    <tr>
                        <th style="width: 80px;"><img src="@item.ImageURL" class="rounded-0" alt="..." style="width: 80px;"></th>
                        <td>@item.ProductName</td>
                        <td>@item.ProductPrice.ToString("C")</td>
                        <td>@item.Qty</td>
                        <td>@item.Total.ToString("C")</td>
                        <td>@item.TotalVAT.ToString("C")</td>
                        <td>@item.TotalGross.ToString("C")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="d-flex justify-content-between ml-2 mr-2">
    <div>
        @if (Model.Status != NuIngredient.Models.OneOffOrderStatus.CreditOrder)
        {
            <button type="button" class="btn btn-success btn-block rounded-0" onclick="CopyToShoppingCart()">Yes I would Like to Re-Order</button>
        }
    </div>
    <table class="table table-bordered w-25">
        <tbody>
            <tr>
                <th class="bg-secondary text-white">Net:</th>
                <td class="bg-white">@Model.TotalNet.ToString("C")</td>
            </tr>
            <tr>
                <th class="bg-secondary text-white">VAT:</th>
                <td class="bg-white">@Model.TotalVAT.ToString("C")</td>
            </tr>
            <tr>
                <th class="bg-secondary text-white">Gross:</th>
                <td class="bg-white">@Model.TotalGross.ToString("C")</td>
            </tr>
        </tbody>
    </table>
</div>

<div id="BillingDetails">
    <div class="panel panel-info">
        <div class="panel-heading" onclick="$('#Panel_BillingDetails').slideToggle()" style="cursor:pointer; padding:1px;">
            <h5 style="text-align:center;">BILLING DETAILS</h5>
        </div>
        <div class="panel-body" id="Panel_BillingDetails" style="display:none; padding:0px;">
            <div class="table-responsive">
                <table class="table table-bordered table-striped" style="margin-bottom:0px;">
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.CompanyName)
                        </td>
                        <td>
                            @Model.CompanyName
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.EmailAddress)
                        </td>
                        <td>
                            @Model.EmailAddress
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Phone)
                        </td>
                        <td>
                            @Model.Phone
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.DeliveryAddress)
                        </td>
                        <td>
                            @Model.DeliveryAddress
                        </td>
                    </tr>
                    @if (!string.IsNullOrWhiteSpace(Model.DeliveryCounty))
                    {
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.DeliveryCounty)
                            </td>
                            <td>
                                @Model.DeliveryCounty
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.DeliveryPostCode)
                        </td>
                        <td>
                            @Model.DeliveryPostCode
                        </td>
                    </tr>
                    @if (!string.IsNullOrWhiteSpace(Model.BillingAddress))
                    {
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.BillingAddress)
                            </td>
                            <td>
                                @Model.BillingAddress
                            </td>
                        </tr>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.BillingCounty))
                    {
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.BillingCounty)
                            </td>
                            <td>
                                @Model.BillingCounty
                            </td>
                        </tr>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.BillingPostCode))
                    {
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.BillingPostCode)
                            </td>
                            <td>
                                @Model.BillingPostCode
                            </td>
                        </tr>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.OrderNotes))
                    {
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.OrderNotes)
                            </td>
                            <td>
                                @Model.OrderNotes
                            </td>
                        </tr>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.PONumber))
                    {
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.PONumber)
                            </td>
                            <td>
                                @Model.PONumber
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Created)
                        </td>
                        <td>
                            @Model.Created.ToString("dd/MM/yyyy HH:mm")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.TotalNet)
                        </td>
                        <td>
                            <label>@Model.TotalNet.ToString("C")</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.TotalVAT)
                        </td>
                        <td>
                            <label>@Model.TotalVAT.ToString("C")</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.TotalGross)
                        </td>
                        <td>
                            <label>@Model.TotalGross.ToString("C")</label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<style>
    #GridOneOffOrderItems .k-header, #GridOneOffOrderItems td {
        text-align: center;
        vertical-align: middle;
    }
</style>
