﻿@model NuIngredient.Models.ShoppingCartPageViewModel

@if (Model.CartItemsBySuppliers.Any())
{
    foreach (var cartItemsBySupplier in Model.CartItemsBySuppliers)
    {
        <div class="bg-info p-2 mb-3">
            <div class="supplier-cart">
                <h3 class="text-center">@cartItemsBySupplier.Supplier.Label</h3>
                <h5 class="text-center"><span class="label-minimum-prompt" style="@if (cartItemsBySupplier.SubNet >= cartItemsBySupplier.Supplier.MinimumValue) {<text>display: none;</text> } ">(A minimum of @cartItemsBySupplier.Supplier.MinimumValue.ToString("C") per order under @cartItemsBySupplier.Supplier.Label is required)</span></h5>
                    
                <input type="hidden" class="supplier-minimum-value" value="@cartItemsBySupplier.Supplier.MinimumValue" />
                <div class="table-responsive">
                    <table id="Table_Cart" class="table table-bordered bg-white mb-0">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center w-50-px"></th>
                                <th scope="col" class="min-w-200-px">Product</th>
                                <th scope="col" class="text-center w-100-px">Price</th>
                                <th scope="col" class="text-center w-50-px">Qty</th>
                                <th scope="col" class="text-center w-100-px">Net</th>
                                <th scope="col" class="text-center w-100-px">VAT</th>
                                <th scope="col" class="text-center w-100-px">Gross</th>
                                <th scope="col" class="text-center w-50-px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var cartItem in cartItemsBySupplier.CartItems)
                            {
                                <tr name="CartItem" data-productid="@cartItem.ProductID" data-price="@cartItem.ProductPrice" data-vat="@cartItem.ProductVAT">
                                    <td><img name="Image" src="@cartItem.ImageURL" style="height: 50px; width: 50px;" /></td>
                                    <td name="ProductName">
                                        @cartItem.ProductName
                                    </td>
                                    <td class="text-center" name="Price">@cartItem.ProductPrice.ToString("C")</td>
                                    <td class="text-center">
                                        <div class="numeric-input">
                                            <span class="fa fa-caret-up numeric-up"></span>
                                            <input id="Qty_@cartItem.ProductID" class="form-control w-50-px text-center" type="number" placeholder="" min="0" data-productid=@cartItem.ProductID name="Qty" onchange="OnCartQtyChange(this)" value="@cartItem.Qty">
                                            <span class="fa fa-caret-down numeric-down"></span>
                                        </div>
                                    </td>
                                    <td class="text-center" name="ItemNet">
                                        @cartItem.TotalNet.ToString("C")
                                    </td>
                                    <td class="text-center" name="ItemVAT">
                                        @cartItem.TotalVAT.ToString("C")
                                    </td>
                                    <td class="text-center" name="ItemGross">
                                        @cartItem.TotalGross.ToString("C")
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-link" onclick=" $(this).closest('tr').remove(); RemoveFromCart('@cartItem.ProductID');"><span class="fas fa-trash-alt text-info"></span></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row mt-2">
                    <div class="col-12 col-sm-6">
                        @if (!string.IsNullOrEmpty(cartItemsBySupplier.Supplier.DefaultAisleName))
                        {
                            <a href="/Aisle/@cartItemsBySupplier.Supplier.DefaultAisleName#product-section" class="btn btn-success w-150-px" onclick="$('.modal').modal('hide')" style="margin:5px 0 0 5px;">Continue Shopping</a>
                        }
                    </div>
                    <div class="col-12 col-sm-6 pt-3 pt-sm-0">
                        <table class="table w-auto ml-sm-auto">
                            <tr>
                                <th class="bg-secondary text-white">Sub Net:</th>
                                <td class="bg-white"><span name="SupplierNet">@cartItemsBySupplier.SubNet.ToString("C")</span></td>
                            </tr>
                            <tr>
                                <th class="bg-secondary text-white">Sub VAT:</th>
                                <td class="bg-white"><span name="SupplierVAT">@cartItemsBySupplier.SubVAT.ToString("C")</span></td>
                            </tr>
                            <tr>
                                <th class="bg-secondary text-white">Sub Gross:</th>
                                <td class="bg-white"><span name="SupplierGross">@cartItemsBySupplier.SubGross.ToString("C")</span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row p-2">
        <div class="col-12 col-sm-6">
            <button type="button" class="btn btn-success btn-cart text-white w-150-px mb-1" data-dismiss="modal">Continue Shopping</button>
            <button type="button" class="btn btn-primary btn-cart text-white w-150-px mb-1" data-dismiss="modal" onclick="SendQuote();">Send Me the Quote</button>
            <button type="button" class="btn btn-primary btn-cart text-white w-150-px mb-1" onclick="GoToCheckOut();">Go to Check Out</button>
            @*if (Model.LiveOnDryGoods)
            {
                <button type="button" class="btn btn-primary btn-cart" onclick="GoToCheckOut();">Go to Check Out</button>
            }
            else if (Model.AskingForDryGoodsSupplier)
            {
                <button type="button" class="btn btn-primary disabled btn-cart" onclick="GoToCheckOut();">Go to Check Out</button>
                <br /><br />
                <strong style="color: red;">
                    Office Groceries are currently setting up your Dry Goods account.<br />
                    Please allow up to 6 working days from initial enquiry for your account to be set up. <br />
                    Office Groceries will e-mail you once ready and confirm your 1st delivery day.
                </strong>
            }
            else
            {
                <button type="button" class="btn btn-primary disabled btn-cart" onclick="GoToCheckOut();">Go to Check Out</button>
                <br /><br />
                <strong style="color: red;">
                    Office Groceries currently do not have an account set up for our Dry Goods catalogue. <br />
                    Would you like to activate your Dry Goods account now, if so click here<br />
                    <a href="#">Yes, Please Activate</a>
                </strong>
            }*@
        </div>
        <div class="col-12 col-sm-6 pt-3 pt-sm-0">
            <table class="table w-auto ml-sm-auto">
                <tr>
                    <th class="bg-secondary text-white">Net:</th>
                    <td class="bg-white"><span name="CartNet" style="color:#6db444; font-size:larger; font-weight:900">@Model.Net.ToString("C")</span></td>
                </tr>
                <tr>
                    <th class="bg-secondary text-white">VAT:</th>
                    <td class="bg-white"><span name="CartVAT" style="color:#6db444; font-size:larger; font-weight:900">@Model.VAT.ToString("C")</span></td>
                </tr>
                <tr>
                    <th class="bg-secondary text-white">Gross:</th>
                    <td class="bg-white"><span name="CartGross" style="color:#6db444; font-size:larger; font-weight:900">@Model.Gross.ToString("C")</span></td>
                </tr>
            </table>
        </div>
    </div>
}
else
{
    <div>
        <div class="bg-info p-2 mb-3">
            <div class="d-flex justify-content-center">
                <strong>You cart is currently empty.</strong>
            </div>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-primary text-white rounded-0 w-150-px" data-dismiss="modal">Continue Shopping</button>
            </div>
        </div>
    </div>
}

<script>
    $('span[name=Subtotal]').html('@Model.Gross.ToString("C")');
</script>
