@using Microsoft.AspNet.Identity
@model NuIngredient.Models.AislePageViewModel
@{
    ViewBag.Title = Model.Aisle.Label;
    if (!string.IsNullOrEmpty(Model.SelectedCategory))
    {
        ViewBag.MetaTitle = String.Format("{0}, {1}", Model.SelectedCategory, Model.Aisle.Label);
        ViewBag.MetaDescription = String.Format("{0}. {1}", ViewBag.MetaDescription, Model.SelectedCategory);
    } 

    var aisleImageUrl = Model.Aisle.AisleImageUrl;
    if (string.IsNullOrEmpty(aisleImageUrl))
    {
        aisleImageUrl = "/img/Milk_Landing_Short.png";
    }

}

@if (Model.Live)
{}
else
{
    <div style="width:100%; position: relative;">
        @if (Model.Aisle.InternalName == "sustainable-coffee")
        {
            <a target="_blank" href="/say-coffee"><div style="position: absolute;left: 38%;top: 23.5%;width: 7.5%;height: 29%;"></div></a>
            <a target="_blank" href="/ernie"><div style="position: absolute;left: 46.5%;top: 23.5%;width: 7.5%;height: 29%;"></div></a>
            <a href="#"><div style="position: absolute;left: 54.5%;top: 23.5%;width: 7.5%;height: 29%;"></div></a>
        }
        <img src="@aisleImageUrl" class="img-fluid" alt="@Html.Raw(HttpUtility.HtmlEncode(Model.Aisle.Label))">
        @if (User.Identity.IsAuthenticated)
        {
            if (Model.SupplierRequested || (Model.AisleSupplier != null && Model.AisleSupplier.UseMasterAccount == true))
            {

            }
            else
            {
                <img src="~/img/OG_Activate_Aisle.png" alt="Activate Aisle" style="position: absolute; top:0; right:0; height:35%; cursor: pointer;" onclick="AskForDryGoodsSupplier()">
            }
        }
        else
        {
            <a href="/account/enquiryform"><img src="~/img/OG_Create_Account_Icon.png" alt="Create Account Icon" style="position: absolute; top:0; right:0; height:35%; cursor: pointer;"></a>
        }
    </div>
}
<div class="bg-secondary text-white text-center pt-1 pb-1 sticky-bottom">
    <h1>@Model.Aisle.H1Tag</h1>
    @if (User.Identity.IsAuthenticated)
    {
        if (Model.Live)
        {
            <h4>Hello @Model.CompanyName, @Model.DeliveryPrompt</h4>
        }
        else if (Model.SupplierRequested || (Model.AisleSupplier != null && Model.AisleSupplier.UseMasterAccount == true))
        {
            <h4>
                Office Groceries are currently setting up your @Model.Aisle.Label account. <br />
                Please allow up to 6 working days from initial enquiry for your account to be set up. <br />
                Office Groceries will e-mail you once ready and confirm your 1st delivery day.
            </h4>
        }
        else
        {
            <h4>
                Hello @Model.CompanyName, Office Groceries currently do not have an account set up for our @Model.Aisle.Label catalogue. <br />
                Would you like to activate your @Model.Aisle.Label account now, if so click here
                @*<button type="button" class="btn btn-success btn-block-m rounded-0 py-1 border-0 mb-2 mb-lg-0" onclick="AskForDryGoodsSupplier()">Yes, Please Activate</button>*@
            </h4>
        }
    }
    else
    {
        <h3>Welcome to the @Model.Aisle.Label Aisle.</h3>
    }
</div>


@if (User.Identity.IsAuthenticated)
{
    if (Model.Live)
    {
        <a class="btn btn-primary btn-lg btn-block rounded-0 text-white" href="javascript:void(0)" onclick="ScrollToProductSection()" role="button">Order Now</a>
    }
    else if (Model.SupplierRequested || (Model.AisleSupplier != null && Model.AisleSupplier.UseMasterAccount == true))
    {
        <a class="btn btn-primary btn-lg btn-block rounded-0 text-white" role="button">Aisle Activation in Progress</a>
    }
    else
    {
        <a class="btn btn-primary btn-lg btn-block rounded-0 text-white" href="javascript:void(0)" onclick="AskForDryGoodsSupplier()" role="button">Yes, Please Activate</a>
    }
}
else
{
    <a class="btn btn-primary btn-lg btn-block rounded-0 text-white sticky-bottom" href="javascript:void(0)" onclick="ScrollToProductSection()" role="button">Create First Order to Set Up Account <span class="fas fa-arrow-circle-down"></span></a>
}

<div class="bg-white pt-1">
    <div class="container">
        <div class="row">
            <div class="col mb-3 text-center">
                @if (User.Identity.IsAuthenticated)
                {
                    if (Model.Live)
                    {
                        if (!string.IsNullOrEmpty(Model.Aisle.CustomerContent))
                        {
                            @Html.Raw(Model.Aisle.CustomerContent)
                        }
                    }
                    else
                    {
                        if (!string.IsNullOrEmpty(Model.Aisle.ProspectContent))
                        {
                            @Html.Raw(Model.Aisle.ProspectContent)
                        }
                    }
                    
                }
                else
                {
                    if (!string.IsNullOrEmpty(Model.Aisle.ProspectContent))
                    {
                        @Html.Raw(Model.Aisle.ProspectContent)
                    }
                }
            </div>
        </div>
    </div>
</div>

@Html.Partial("_Carousels", Model)
@*<img src="/img/pantry-hero.png" class="img-fluid" alt="Responsive image">*@

<div class="bg-white pt-1" id="product-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row bg-light mb-2">
                        <div class="col-xs-12 col-md-7 col-lg-5">
                            <div class="p-2 p-md-4">
                                <h3 class="mb-md-0">Select Your Products...</h3>
                                @if (Model.AisleSupplier != null && Model.AisleSupplier.MinimumValue > 0)
                                {
                                    <p class="mb-md-0">
                                        <small><strong>Please note:</strong> A minimum of @Model.AisleSupplier.MinimumValue.ToString("C") per order is required for this aisle.</small>
                                    </p>
                                }
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-5 col-lg-7">
                            <div class="d-flex flex-column flex-lg-row align-items-lg-center h-100">
                                <div class="input-group btn-block-m rounded-0 py-0 pl-0 mr-2 mt-2 mb-2">
                                    <input type="search" class="form-control border-0 rounded-0" style="height: 32px;" id="TB_Filter" value="@Model.Keywords" placeholder="Search">
                                    <i class="fas fa-search bg-primary p-2 right" style="cursor: pointer;" onclick="RefreshListView()"></i>
                                </div>
                                <div class="dropdown">
                                    <button type="button" class="btn btn-secondary dropdown-toggle filter-dropdown-toggle btn-block-m rounded-0 py-0 pl-0 mr-2 mb-2 mb-lg-0 border-0" id="dropdownFilterButton" data-flip="false" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-chevron-down bg-success p-2 mr-2 left"></i>
                                        <span>Filter By Product</span>
                                    </button>
                                    <form class="dropdown-menu pt-2 px-2 pb-0 bg-light rounded-0">
                                        @foreach (var category in Model.Categories)
                                        {
                                            <div class="custom-control custom-checkbox mr-sm-2 py-2 border-bottom border-white">
                                                <input type="checkbox" name="categories" class="custom-control-input" id="@category.ID" value="@category.InternalName" onchange="RefreshListView()" @*@if (category.InternalName == Model.SelectedCategory) { <text>checked</text> }*@>
                                                <label class="custom-control-label" for="@category.ID">@category.Name</label>
                                            </div>
                                            @*<option value="@category.InternalName" @if (category.InternalName == Model.SelectedCategory) { <text>selected="selected"</text> }>@category.Name</option>*@
                                        }
                                    </form>
                                </div>
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <a class="btn btn-success btn-block-m rounded-0 py-1 border-0 mb-2 mb-lg-0" href="/account/enquiryform"><span style="white-space: nowrap;">Set Up Account</span></a>
                                }

                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <ul class="breadcrumb">
                            @foreach(var breadcrumb in Model.BreadCrumbs)
                            {
                                if(breadcrumb.Url != null)
                                {
                                    <li><a href="@breadcrumb.Url">@breadcrumb.Label</a></li>
                                }
                                else
                                {
                                    <li>@breadcrumb.Label</li>
                                }
                            }
                        </ul> 
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach(var product in Model.Products)
            {
                <div class="col-6 col-md-4 col-lg-3 mb-4">
                    <div class="card rounded-0" style="height: 100%;">
                        <a href="/products/detail/@product.InternalName.ToLowerInvariant()"><img src="@product.ImageURL" class="card-img-top card-product-img rounded-0" alt="@Html.Raw(HttpUtility.HtmlEncode(product.Name))"></a>
                        <div class="card-body text-center bg-light">
                            <h5 class="card-title"><a class="text-dark" style="font-weight: 400;" href="/products/detail/@product.InternalName.ToLowerInvariant()">@product.Name</a></h5>
                            <p class="card-text text-success h5 mb-1">@product.ShortDescription</p>
                            <p class="card-text text-primary h5">
                                @product.Price.ToString("C") @if (product.VAT != 0) { <text>ex vat</text> }| @product.Unit
                            </p>
                        </div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (Model.Live)
                            {
                                <button type="button" class="btn btn-primary btn-block btn-lg text-white rounded-0" data-productid="@product.ID" data-qty="1" onclick="AddToCart(this)">Add To Order</button>
                            }
                            else if (Model.SupplierRequested || (Model.AisleSupplier != null && Model.AisleSupplier.UseMasterAccount == true))
                            {
                                <button type="button" class="btn btn-primary btn-block btn-lg text-white rounded-0" data-productid="@product.ID" data-qty="1" onclick="alert('Please wait for us to set up your account.')">Add To Order</button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-primary btn-block btn-lg text-white rounded-0" data-productid="@product.ID" data-qty="1" onclick="alert('Please click the orange bar to activate purchases from this aisle.')">Add To Order</button>
                            }
                        }
                        else
                        {
                            <button type="button" class="btn btn-primary btn-block btn-lg text-white rounded-0" data-productid="@product.ID" data-qty="1" onclick="AddToQuote(this)">Add To Order</button>
                        }
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col">
                <nav aria-label="Page navigation" style="display: flex; justify-content: center;">
                    <ul class="pagination">
                        @if (Model.Page <= 3)
                        {
                            if (Model.Page != 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" href='/aisle/@Model.Aisle.InternalName@(!string.IsNullOrEmpty(Model.SelectedCategory)? "/" + @Model.SelectedCategory : "")?page=@(Model.Page - 1)@(!string.IsNullOrEmpty(Model.Keywords) ? "&keywords=" + Model.Keywords : "")#product-section'><</a>
                                </li>
                            }
                            for (var i = 1; i <= 5 && i <= Model.TotalPages; i++)
                            {
                                if (Model.Page == i)
                                {
                                    <li class="page-item disabled"><a class="page-link" href="#">@i</a></li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <a class="page-link" href='/aisle/@Model.Aisle.InternalName@(!string.IsNullOrEmpty(Model.SelectedCategory)? "/" + @Model.SelectedCategory : "")?page=@i@(!string.IsNullOrEmpty(Model.Keywords) ? "&keywords=" + Model.Keywords : "")#product-section'>@i.ToString()</a>
                                    </li>
                                }
                            }
                            if (Model.Page != Model.TotalPages)
                            {
                                <li class="page-item">
                                    <a class="page-link" href='/aisle/@Model.Aisle.InternalName@(!string.IsNullOrEmpty(Model.SelectedCategory)? "/" + @Model.SelectedCategory : "")?page=@(Model.Page + 1)@(!string.IsNullOrEmpty(Model.Keywords) ? "&keywords=" + Model.Keywords : "")#product-section'>></a>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" href='/aisle/@Model.Aisle.InternalName@(!string.IsNullOrEmpty(Model.SelectedCategory)? "/" + @Model.SelectedCategory : "")?page=@(Model.Page - 1)@(!string.IsNullOrEmpty(Model.Keywords) ? "&keywords=" + Model.Keywords : "")#product-section'><</a>
                            </li>
                            for (var i = Model.Page - 2; i <= Model.Page + 2 && i <= Model.TotalPages; i++)
                            {
                                if (Model.Page == i)
                                {
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#">@i</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <a class="page-link" href='/aisle/@Model.Aisle.InternalName@(!string.IsNullOrEmpty(Model.SelectedCategory)? "/" + @Model.SelectedCategory : "")?page=@i@(!string.IsNullOrEmpty(Model.Keywords) ? "&keywords=" + Model.Keywords : "")#product-section'>@i.ToString()</a>
                                    </li>
                                }
                            }
                            if (Model.Page != Model.TotalPages)
                            {
                                <li class="page-item">
                                    <a class="page-link" href='/aisle/@Model.Aisle.InternalName@(!string.IsNullOrEmpty(Model.SelectedCategory)? "/" + @Model.SelectedCategory : "")?page=@(Model.Page + 1)@(!string.IsNullOrEmpty(Model.Keywords) ? "&keywords=" + Model.Keywords : "")#product-section'>></a>
                                </li>
                            }
                        }
                    </ul>
                    @*<div>showing @((Model.Page - 1) * 20 + 1) - @((Model.Page - 1) * 20 + Math.Min(Model.Total - (Model.Page - 1) * 20, 20)) of @Model.Total</div>*@
                </nav>
                @*<button type="button" class="btn btn-light btn-block rounded-0">Show More...</button>*@
            </div>
        </div>
    </div>
</div>

<script>
    function RefreshListView() {
        var keywords = encodeURIComponent($('#TB_Filter').val());
        var url = "/aisle/@Model.Aisle.InternalName/" + GetSelectedCategory();
        if (keywords != '') {
            url += "?keywords=" + keywords;
        }
        url += "#product-section";

        window.location.href = url;
    }

    function GetSelectedCategory() {
        var selectedCate = $('input[name="categories"]:checked');//[0].value
        if (selectedCate.length > 0) {
            return selectedCate[0].value;
        } else {
            return "";
        }
    }

    $("#TB_Filter").keyup(function (e) {
        if (e.keyCode == 13) {
            $('select#category').val('');
            RefreshListView();
        }
    });

    @if (Model.AisleSupplier!= null)
    {
        <text>
        function AskForDryGoodsSupplier() {
            if (!confirm("Set up your @Model.Aisle.Label account?")) return false;
            $.ajax({
                url: '/Companies/AskForDryGoodsSupplier',
                type: 'POST',
                data: {
                    id: GetCompanyID(),
                    supplierID: '@Model.AisleSupplier.ID'
                },
                success: function (response) {
                    alert("Office Groceries are currently setting up your @Model.Aisle.Label account.\nPlease allow up to 6 working days from initial enquiry for your account to be set up.\nOffice Groceries will e- mail you once ready and confirm your 1st delivery day.");
                    location.reload();
                }
            })
        }
        </text>
    }

</script>