﻿@model NuIngredient.Models.CheckOutPageViewModel
@{
    ViewBag.Title = "Check Out";
}
<div id="divCheckOutForm">

    <div class="bg-secondary text-white text-center pt-4 pb-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Checkout</h1>
                    <h5>Almost there</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    @if (ViewBag.SuccessMessage != null)
                    {
                        <div class="alert alert-success">
                            @ViewBag.SuccessMessage
                        </div>
                    }
                    @if (ViewBag.ErrorMessage != null)
                    {
                        <div class="alert alert-danger">
                            <strong>Error:</strong> @ViewBag.ErrorMessage
                        </div>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col">
                        @if (Model.ShoppingCart.CartItemsBySuppliers.Count() != 0)
                        {
                            using (Ajax.BeginForm("CheckOut", "Products", null, new AjaxOptions { UpdateTargetId = "divCheckOutForm", OnBegin = "AjaxBegin", OnComplete = "AjaxComplete" }, new { @id = "CheckOut" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.CompanyID)

                                foreach(var cartItemsBySupplier in Model.ShoppingCart.CartItemsBySuppliers)
                                {
                                    <div class="supplier-cart">
                                        <div class="col-12 bg-light p-4 mt-2">
                                            <h4 class="text-center">@cartItemsBySupplier.Supplier.Label</h4>
                                            <h5><span class="label-minimum-prompt text-center" style="@if (cartItemsBySupplier.SubNet >= cartItemsBySupplier.Supplier.MinimumValue) {<text>display: none;</text> }">(A minimum of @cartItemsBySupplier.Supplier.MinimumValue.ToString("C") per order under @cartItemsBySupplier.Supplier.Label is required)</span></h5>
                                            <div class="bg-info p-2 mb-3">
                                                <input type="hidden" class="supplier-minimum-value" value="@cartItemsBySupplier.Supplier.MinimumValue" />
                                                <input type="hidden" class="supplier-calandar-needed" value="@(cartItemsBySupplier.Supplier.CalendarNeeded == true? "true" : "false")" />
                                                <input type="hidden" class="supplier-id" value="@(cartItemsBySupplier.Supplier.ID)" />
                                                <div class="table-responsive">
                                                    <table id="Table_Cart" class="table table-bordered bg-white mb-0">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col"></th>
                                                                <th scope="col">Product</th>
                                                                <th scope="col">Price</th>
                                                                <th scope="col">Qty</th>
                                                                <th scope="col">Net</th>
                                                                <th scope="col">VAT</th>
                                                                <th scope="col">Gross</th>
                                                                <th scope="col"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach(var cartItem in cartItemsBySupplier.CartItems)
                                                            {
                                                                <tr name="CartItem" data-productid="@cartItem.ProductID" data-price="@cartItem.ProductPrice" data-vat="@cartItem.ProductVAT">
                                                                    <td><img name="Image" src="@cartItem.ImageURL" style="height: 50px; width: 50px;" /></td>
                                                                    <td name="ProductName">
                                                                        @cartItem.ProductName
                                                                    </td>
                                                                    <td name="Price">@cartItem.ProductPrice.ToString("C")</td>
                                                                    <td><input id="Qty_@cartItem.ProductID" class="form-control w-70-px" type="number" placeholder="" min="0" data-productid=@cartItem.ProductID name="Qty" onchange="OnCartQtyChange(this)" value="@cartItem.Qty"></td>
                                                                    <td name="ItemNet">
                                                                        @cartItem.TotalNet.ToString("C")
                                                                    </td>
                                                                    <td name="ItemVAT">
                                                                        @cartItem.TotalVAT.ToString("C")
                                                                    </td>
                                                                    <td name="ItemGross">
                                                                        @cartItem.TotalGross.ToString("C")
                                                                    </td>
                                                                    <td>
                                                                        <button class="btn btn-link" onclick=" $(this).closest('tr').remove(); RemoveFromCart('@cartItem.ProductID');"><span class="fas fa-trash-alt text-info"></span></button>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-12 col-sm-6">
                                                        @if (!string.IsNullOrEmpty(cartItemsBySupplier.Supplier.DefaultAisleName))
                                                        {
                                                            <a href="/Aisle/@cartItemsBySupplier.Supplier.DefaultAisleName#product-section" class="btn btn-success w-150-px mb-1">Continue Shopping</a>
                                                        }
                                                        @if (cartItemsBySupplier.Supplier.CalendarNeeded)
                                                        {
                                                            <a href="javascript:void(0)" onclick="NewEventDetail('@cartItemsBySupplier.Supplier.ID')" class="btn btn-warning w-150-px mb-1">Add Event Details</a>
                                                        }
                                                        <div class="event-detail-area" style="margin-top:5px;" data-supplierid="@cartItemsBySupplier.Supplier.ID"></div>
                                                    </div>
                                                    <div class="col-12 col-sm-6 pt-3 pt-sm-0">
                                                        <table class="table w-auto ml-sm-auto">
                                                            <tr>
                                                                <th class="bg-secondary text-white">Sub Net:</th>
                                                                <td class="bg-white"><span name="SupplierNet">@cartItemsBySupplier.SubNet.ToString("C")</span></td>
                                                            </tr>
                                                            <tr>
                                                                <th class="bg-secondary text-white">Sub VAT:</th>
                                                                <td class="bg-white"><span name="SupplierVAT">@cartItemsBySupplier.SubVAT.ToString("C")</span></td>
                                                            </tr>
                                                            <tr>
                                                                <th class="bg-secondary text-white">Sub Gross:</th>
                                                                <td class="bg-white"><span name="SupplierGross">@cartItemsBySupplier.SubGross.ToString("C")</span></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="row p-4">
                                    <div class="col-12 offset-sm-6 col-sm-6 pt-3 pt-sm-0">
                                        <div class="p-2">
                                            <table class="table table-bordered w-auto ml-sm-auto">
                                                <tr>
                                                    <th class="bg-secondary text-white">Net:</th>
                                                    <td class="bg-white"><span name="CartNet" style="color:#6db444; font-size:larger; font-weight:900">@Model.ShoppingCart.Net.ToString("C")</span></td>
                                                </tr>
                                                <tr>
                                                    <th class="bg-secondary text-white">VAT:</th>
                                                    <td class="bg-white"><span name="CartVAT" style="color:#6db444; font-size:larger; font-weight:900">@Model.ShoppingCart.VAT.ToString("C")</span></td>
                                                </tr>
                                                <tr>
                                                    <th class="bg-secondary text-white">Gross:</th>
                                                    <td class="bg-white"><span name="CartGross" style="color:#6db444; font-size:larger; font-weight:900">@Model.ShoppingCart.Gross.ToString("C")</span></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 bg-light p-4" id="BillingDetails">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12 col-md-5">
                                                <h4 class="text-primary">Delivery Details</h4>
                                                <form>
                                                    <div class="form-group mb-2">
                                                        @*@Html.LabelFor(model => model.BillingDetails.CompanyName)*@
                                                        @Html.TextBoxFor(model => model.BillingDetails.CompanyName, new { @class = "form-control border-0 rounded-0 text-center", @readonly = "readonly", @placeholder="Company Name" })
                                                    </div>
                                                    <div class="form-group mb-2">
                                                        @*@Html.LabelFor(model => model.BillingDetails.EmailAddress)*@
                                                        @Html.TextBoxFor(model => model.BillingDetails.EmailAddress, new { @class = "form-control border-0 rounded-0 text-center", @readonly = "readonly", @placeholder="Email Address" })
                                                    </div>
                                                    <div class="form-group mb-2">
                                                        @*@Html.LabelFor(model => model.BillingDetails.Phone)*@
                                                        @Html.TextBoxFor(model => model.BillingDetails.Phone, new { @class = "form-control border-0 rounded-0 text-center", @readonly = "readonly", @placeholder="Phone" })
                                                    </div>
                                                    <div class="form-group mb-2">
                                                        @*@Html.LabelFor(model => model.BillingDetails.DeliveryAddress)*@
                                                        @Html.TextBoxFor(model => model.BillingDetails.DeliveryAddress, new { @class = "form-control border-0 rounded-0 text-center", @readonly = "readonly", @placeholder="Delivery Address" })
                                                    </div>
                                                    <div class="form-group mb-2">
                                                        @*@Html.LabelFor(model => model.BillingDetails.DeliveryPostCode)*@
                                                        @Html.TextBoxFor(model => model.BillingDetails.DeliveryPostCode, new { @class = "form-control border-0 rounded-0 text-center", @readonly = "readonly", @placeholder="Postcode" })
                                                    </div>
                                                </form>
                                                <h4 class="text-primary">Billing Details</h4>
                                                <form>
                                                    <div class="form-group mb-2">
                                                        @Html.TextBoxFor(model => model.BillingDetails.BillingAddress, new { @class = "form-control border-0 rounded-0 text-center", @readonly = "readonly", @placeholder="Billing Address" })
                                                    </div>
                                                    <div class="form-group mb-2">
                                                        @Html.TextBoxFor(model => model.BillingDetails.BillingPostCode, new { @class = "form-control border-0 rounded-0 text-center", @readonly = "readonly", @placeholder="Billing Postcode" })
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-12 col-md-7">
                                                <h4 class="text-success mt-3 mt-md-0">Additional Info</h4>
                                                <form>
                                                    <div class="form-group mb-2">
                                                        @*@Html.LabelFor(model => model.BillingDetails.OrderNotes)*@
                                                        @Html.TextAreaFor(model => model.BillingDetails.OrderNotes, new { @class = "form-control border-0 rounded-0 text-center", @placeholder = "Notes about your order, e.g. special notes for delivery." })
                                                    </div>
                                                    <div class="form-group">
                                                        @*@Html.LabelFor(model => model.BillingDetails.PONumber)*@
                                                        @if (string.IsNullOrEmpty(Model.BillingDetails.PONumber))
                                                        {
                                                            @Html.TextBoxFor(model => model.BillingDetails.PONumber, new { @class = "form-control border-0 rounded-0 text-center", @style = "width:100%", @placeholder="PO Number" })
                                                        }
                                                        else
                                                        {
                                                            @Html.TextBoxFor(model => model.BillingDetails.PONumber, new { @class = "form-control border-0 rounded-0 text-center", @style = "width:100%", @readonly = "readonly", @placeholder="PO Number" })
                                                        }
                                                    </div>
                                                </form>
                                                <input type="submit" class="btn btn-primary btn-block btn-lg rounded-0 text-white" value="Submit" id="Btn-Submit" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="col-sm-12">
                                <label>You cart is currently empty.</label>
                                @*<button type="button" class="btn btn-success" data-dismiss="modal" onclick="location.href='@Url.Action("index", "Products")';">Continue Shopping</button>*@
                            </div>
                        }

                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .div-inline {
        overflow: hidden;
        white-space: nowrap;
        text-align: center;
        align-items: center;
    }
    #BillingDetails input, #BillingDetails textarea {
        max-width: 100%;
    }
    #BillingDetails .col-sm-12, #BillingDetails .col-sm-6 {
        margin-top:25px;
    }
    #div-shopping-cart {
        display: none;
    }
</style>


<!-- Modal -->
<div class="modal fade" id="Modal" role="dialog" style="z-index:2000">
    <div class="modal-dialog" style="width:800px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center;">Your Shopping Cart</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Continue Shopping</button>
                @if (User.Identity.IsAuthenticated)
                {
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="location.href='@Url.Action("CheckOut", "Products")';">Check Out</button>
                }
                else
                {
                    <button type="button" class="btn btn-primary" onclick="ShowProspectForm()">Send Me the Quote</button>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="EventDetails" role="dialog" style="z-index:2000">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="text-align:center;">Event Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <table class="table table-borderless">
                    @Html.Hidden("EventID")
                    @Html.Hidden("EventSupplierID")
                    <tr>
                        <td>
                            <label>*Function Name:</label>
                        </td>
                        <td>
                            @Html.TextBox("FunctionName", null, new { @class = "form-control event-details", @required = "required" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>*Address Line 1:</label>
                        </td>
                        <td>
                            @Html.TextBox("AddressLine1", null, new { @class = "form-control event-details", @required = "required" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Address Line 2:</label>
                        </td>
                        <td>
                            @Html.TextBox("AddressLine2", null, new { @class = "form-control event-details" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>*Town:</label>
                        </td>
                        <td>
                            @Html.TextBox("Town", null, new { @class = "form-control event-details", @required = "required" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>*Postcode:</label>
                        </td>
                        <td>
                            @Html.TextBox("Postcode", null, new { @class = "form-control event-details", @required = "required" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Room Name/Number:</label>
                        </td>
                        <td>
                            @Html.TextBox("RoomName", null, new { @class = "form-control event-details" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>*Number of Guests:</label>
                        </td>
                        <td>
                            @Html.TextBox("NumberOfGuests", null, new { @class = "form-control event-details", @required = "required" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>*Event Date:</label>
                        </td>
                        <td>
                            @Html.Kendo().DatePicker().Name("EventDate").Min(DateTime.Now > DateTime.Now.Date.AddHours(13).AddMinutes(30) ? DateTime.Now.Date.AddDays(1) : DateTime.Now.Date).DisableDates(DayOfWeek.Sunday).HtmlAttributes(new { @class = "event-details" }).Deferred()
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>*Start Time:</label>
                        </td>
                        <td>
                            @Html.Kendo().TimePicker().Name("StartTime").HtmlAttributes(new { @class = "event-details" }).Deferred()
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Delivery Details:</label>
                        </td>
                        <td>
                            @Html.TextArea("DeliveryDetails", null, new { @class = "form-control event-details" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Special Requirements:</label>
                        </td>
                        <td>
                            @Html.TextArea("SpecialRequirements", null, new { @class = "form-control event-details" })
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="SaveEventDetails()">Save</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        RefreshEventDetails();
    })

    $('#CheckOut').submit(function (e) {
        CheckOut();
        return false;
    })

    function CheckOut() {
        if (!IsValidOrder())
            return false;
        var billingDetails = {
            CompanyName: $('#BillingDetails_CompanyName').val(),
            EmailAddress: $('#BillingDetails_EmailAddress').val(),
            Phone: $('#BillingDetails_Phone').val(),
            DeliveryAddress: $('#BillingDetails_DeliveryAddress').val(),
            DeliveryCounty: $('#BillingDetails_DeliveryCounty').val(),
            DeliveryPostCode: $('#BillingDetails_DeliveryPostCode').val(),
            BillingAddress: $('#BillingDetails_BillingAddress').val(),
            BillingPostCode: $('#BillingDetails_BillingPostCode').val(),
            OrderNotes: $('#BillingDetails_OrderNotes').val(),
            PONumber: $('#BillingDetails_PONumber').val()
        };
        console.log(billingDetails);
        $.ajax({
            url: '@Url.Action("CheckOut", "Products")',
            type: 'POST',
            data: {
                CompanyID: GetCompanyID(),
                BillingDetails: billingDetails,
                EventDetails: GetAllEventDetails()
            },
            beforeSend: AjaxBegin,
            complete: AjaxComplete,
            success: function (response) {
                $('#divCheckOutForm').html(response);
                RefreshShoppingCartTotal();
                DeleteAllEventDetails();
            }
        })
    }

    function IsValidOrder() {
        var message = CheckMinimum();
        if (message != "") {
            alert(message);
            return false;
        } 

        if (!IsValidCalendarOrder()) {
            alert("Please add event details");
            return false;
        }

        return true;
    }

    function IsValidCalendarOrder() {
        var allEventDetails = GetAllEventDetails();
        var valid = true;
        $.each($('.supplier-cart'), function () {

            var eventDetailNeeded = $(this).find('.supplier-calandar-needed').val();
            if (eventDetailNeeded == "true") {
                var supplierID = $(this).find('.supplier-id').val();
                var exists = false;
                for (var i = 0; i < allEventDetails.length; i++) {
                    if (allEventDetails[i].EventSupplierID == supplierID)
                        exists = true;
                }
                if (exists == false) {
                    valid = false;
                    return false;
                }
            }
        });
        return valid;
    }

    function RefreshEventDetails() {
        $.each($('.event-detail-area'), function () {
            $(this).html('');
        })
        var allEventDetails = GetAllEventDetails();
        for (var i = 0; i < allEventDetails.length; i++) {
            $.each($('.event-detail-area[data-supplierid=' + allEventDetails[i].EventSupplierID + ']'), function () {
                $(this).append('<span style="cursor: pointer;" onclick="EditEventDetail(' + allEventDetails[i].EventID + ')">' + allEventDetails[i].FunctionName + ' ' + allEventDetails[i].EventDate + ' ' + allEventDetails[i].StartTime + '</span><span onclick="EditEventDetail(' + allEventDetails[i].EventID + ')" class="btn btn-xs btn-info">Edit</span><span onclick="DeleteEventDetail(' + allEventDetails[i].EventID + ')" class="btn btn-xs btn-warning">Delete</span><br/>');
            })
        }
    }

    function SaveEventDetails() {
        var eventDetails = GetEventDetailsFromForm();
        if (!IsValidEventDetail(eventDetails)) {
            return false;
        }
        SaveEventDetailsToSession(eventDetails);
        HideEventDetailForm();
    }

    function GetEventDetailsFromForm() {
        var eventDetails = {
            EventID: $('#EventID').val(),
            EventSupplierID: $('#EventSupplierID').val(),
            FunctionName: $('#FunctionName').val(),
            AddressLine1: $('#AddressLine1').val(),
            AddressLine2: $('#AddressLine2').val(),
            Town: $('#Town').val(),
            Postcode: $('#Postcode').val(),
            RoomName: $('#RoomName').val(),
            NumberOfGuests: $('#NumberOfGuests').val(),
            EventDate: $('#EventDate').val(),
            StartTime: $('#StartTime').val(),
            DeliveryDetails: $('#DeliveryDetails').val(),
            SpecialRequirements: $('#SpecialRequirements').val()
        }
        if (eventDetails.EventID == "") eventDetails.EventID = Math.floor((Math.random() * 1000000) + 1);
        return eventDetails;
    }

    function IsValidEventDetail(eventDetails) {
        if (eventDetails.FunctionName == "") {
            alert("Please type in function name");
            return false;
        }
        if (eventDetails.AddressLine1 == "") {
            alert("Please type in address line 1");
            return false;
        }
        if (eventDetails.Town == "") {
            alert("Please type in town");
            return false;
        }
        if (eventDetails.Postcode == "") {
            alert("Please type in postcode");
            return false;
        }
        if (eventDetails.NumberOfGuests == "") {
            alert("Please type in number of guests");
            return false;
        }
        if (eventDetails.EventDate == "") {
            alert("Please type in number of event date");
            return false;
        }
        if (eventDetails.StartTime == "") {
            alert("Please type in number of start time");
            return false;
        }
        return true;
    }

    function SaveEventDetailsToSession(eventDetails) {
        DeleteEventDetail(eventDetails.EventID)
        var allEventDetails = GetAllEventDetails();
        allEventDetails.push(eventDetails);
        SetAllEventDetails(allEventDetails);
        RefreshEventDetails();
    }

    function GetEventDetailByID(eventID) {
        var eventDetails = GetAllEventDetails();
        for (var i = 0; i < eventDetails.length; i++) {
            if (eventDetails[i].EventID == eventID) {
                return eventDetails[i];
            }
        }
        throw "No Content";
    }

    function GetAllEventDetails() {
        var allEventDetails = sessionStorage.getItem('eventDetails');
        if (allEventDetails != null && allEventDetails != undefined) {
            return JSON.parse(allEventDetails);
        } else {
            return [];
        }
        //$('#event-detail-area').html("<div><label>" + eventDetails.functionName + "</label><label>" + eventDetails.eventDate + " " + eventDetails.startTime + "</label></div>")
    }

    function SetAllEventDetails(allEventDetails) {
        sessionStorage.setItem('eventDetails', JSON.stringify(allEventDetails));
    }

    function EditEventDetail(eventID) {
        try {
            var eventDetail = GetEventDetailByID(eventID);
            FillEventDetail(eventDetail);
            ShowEventDetailForm();
        } catch (e) {
            alert(e);
        }
    }

    function FillEventDetail(eventDetail) {
        $('#EventID').val(eventDetail.EventID);
        $('#EventSupplierID').val(eventDetail.EventSupplierID);
        $('#FunctionName').val(eventDetail.FunctionName);
        $('#AddressLine1').val(eventDetail.AddressLine1);
        $('#AddressLine2').val(eventDetail.AddressLine2);
        $('#Town').val(eventDetail.Town);
        $('#Postcode').val(eventDetail.Postcode);
        $('#RoomName').val(eventDetail.RoomName);
        $('#NumberOfGuests').val(eventDetail.NumberOfGuests);
        $('#EventDate').val(eventDetail.EventDate);
        $('#StartTime').val(eventDetail.StartTime);
        $('#DeliveryDetails').val(eventDetail.DeliveryDetails);
        $('#SpecialRequirements').val(eventDetail.SpecialRequirements);
    }

    function NewEventDetail(supplierID) {
        var eventDetail = {
            EventSupplierID: supplierID
        }
        FillEventDetail(eventDetail);
        ShowEventDetailForm();
    }

    function DeleteEventDetail(eventID) {
        var allEventDetails = GetAllEventDetails();
        for (var i = 0; i < allEventDetails.length; i++) {
            if (allEventDetails[i].EventID == eventID) {
                allEventDetails.splice(i, 1);
            }
        }
        SetAllEventDetails(allEventDetails);
        RefreshEventDetails();
    }

    function ShowEventDetailForm() {
        $('#EventDetails').modal('show');
    }

    function HideEventDetailForm() {
        $('#EventDetails').modal('hide');
    }

    function DeleteAllEventDetails() {
        sessionStorage.removeItem('eventDetails');
    }
</script>

<style>
    .table-borderless td {
        border:0 !important;
    }
</style>