@model NuIngredient.Models.CheckOutSuccessPageViewModel
@{
    ViewBag.Title = "Success";
}

<div class="bg-secondary text-white text-center pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Thank You</h1>
                @if (Model.IsProforma)
                {
                    <h2 class="h5">Thank you for your order. Once this is approved by the authoriser (@Model.Approver.Name), you will be notified.</h2>
                }
                else
                {
                    <h2 class="h5">Your order has been successfully placed</h2>
                }
            </div>
        </div>
    </div>
</div>

<div class="bg-white pt-5 pb-5">
    <div class="container">
        @foreach (var subOrder in Model.SubOrders)
        {
            <div class="row mt-3">
                <div class="col">
                    <div class="p-4 mb-2 bg-light text-dark">
                        <p class="text-secondary">Order Ref: #@subOrder.OrderHeader.OrderNumber</p>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="bg-white text-secondary p-2 mb-3">
                                    Company
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="bg-info p-2 mb-3">
                                    @subOrder.OrderHeader.CompanyName
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="bg-white text-secondary p-2 mb-3">
                                    Email Address
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="bg-info p-2 mb-3">
                                    @subOrder.OrderHeader.EmailAddress
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="bg-white text-secondary p-2 mb-3">
                                    Phone
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="bg-info p-2 mb-3">
                                    @subOrder.OrderHeader.Phone
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="bg-white text-secondary p-2 mb-3">
                                    Delivery Address
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="bg-info p-2 mb-3">
                                    @subOrder.OrderHeader.DeliveryAddress
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="bg-white text-secondary p-2 mb-3">
                                    Delivery Postcode
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="bg-info p-2 mb-3">
                                    @subOrder.OrderHeader.DeliveryPostCode
                                </div>
                            </div>
                            @if (!String.IsNullOrWhiteSpace(subOrder.OrderHeader.OrderNotes))
                            {
                                <div class="col-md-3">
                                    <div class="bg-white text-secondary p-2 mb-3">
                                        Order Notes
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="bg-info p-2 mb-3">
                                        @subOrder.OrderHeader.OrderNotes
                                    </div>
                                </div>
                            }
                            @if (!String.IsNullOrWhiteSpace(subOrder.OrderHeader.PONumber))
                            {
                                <div class="col-md-3">
                                    <div class="bg-white text-secondary p-2">
                                        PO Number
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="bg-info p-2">
                                        @subOrder.OrderHeader.PONumber
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            foreach (var item in subOrder.OrderItems)
            {
                <div class="row mt-3">
                    <div class="col">
                        <div class="p-4 mb-2 bg-light text-dark">
                            <div class="table-responsive">
                                <table class="table table-bordered bg-white mb-0">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="bg-secondary text-white"></th>
                                            <th scope="col" class="bg-secondary text-white">Product</th>
                                            <th scope="col" class="bg-secondary text-white">Price</th>
                                            <th scope="col" class="bg-secondary text-white">Quantity</th>
                                            <th scope="col" class="bg-secondary text-white">Net</th>
                                            <th scope="col" class="bg-secondary text-white">VAT</th>
                                            <th scope="col" class="bg-secondary text-white">Gross</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="bg-info"><img src="@item.ImageURL" height="80" width="80" class="rounded-0 border border-success b-4" alt="..."></td>
                                            <td class="bg-info">@item.ProductName</td>
                                            <td class="bg-info">@item.ProductPrice.ToString("C")</td>
                                            <td class="bg-info">@item.Qty</td>
                                            <td class="bg-info">@item.Net.ToString("C")</td>
                                            <td class="bg-info">@((item.Net * item.ProductVAT).ToString("C"))</td>
                                            <td class="bg-info">@((item.Net + (item.Net * item.ProductVAT)).ToString("C"))</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col">
                    <div class="p-4 mb-2 text-dark">
                        <table class="table table-bordered w-auto ml-sm-auto">
                            <tr>
                                <th class="bg-secondary text-white">Net:</th>
                                <td class="bg-white"><span style="color:#6db444; font-size:larger; font-weight:900">@subOrder.OrderHeader.TotalNet.ToString("C")</span></td>
                            </tr>
                            <tr>
                                <th class="bg-secondary text-white">VAT:</th>
                                <td class="bg-white"><span style="color:#6db444; font-size:larger; font-weight:900">@subOrder.OrderHeader.TotalVAT.ToString("C")</span></td>
                            </tr>
                            <tr>
                                <th class="bg-secondary text-white">Gross:</th>
                                <td class="bg-white"><span style="color:#6db444; font-size:larger; font-weight:900">@subOrder.OrderHeader.TotalGross.ToString("C")</span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
