﻿@model NuIngredient.Models.ProductDetailPageViewModel
@{
    ViewBag.Title = Model.Product.ProductName;
    ViewBag.MetaTitle = Model.Product.ProductName + " | Office-Groceries";
    ViewBag.MetaDescription = Model.Product.ProductName;
}

<div class="bg-secondary text-white text-center pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>@Model.Product.ProductName</h1>
                <h5>@Model.Product.ShortDescription</h5>
            </div>
        </div>
    </div>
</div>

@*<div class="bg-white pt-5 pb-0">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
        </div>
    </div>
</div>*@

<div class="bg-white pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 bg-light p-4">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div style="float: right;">
                                <a class="btn" style="margin-right:3px; color: #32b24a;" onclick="history.back();"><span class="fa fa-reply" style="font-size: 3em;"></span></a>
                            </div>
                        </div>
                        <div class="col-12 col-md-5">
                            <img src="@Model.Product.ImageURL" class="card-img-top card-product-img rounded-0" alt='@Html.Raw(HttpUtility.HtmlEncode(Model.Product.ProductName))'>
                        </div>
                        <div class="col-12 col-md-7">
                            <h2 class="mt-4">@Model.Product.ProductName</h2>
                            <p class="mt-3">Unit: @Model.Product.Unit</p>
                            <table>
                                <tr>
                                    <td>
                                        <label for="inputQuantity" class="text-success">Quantity:</label>
                                    </td>
                                    <td>
                                    <div class="numeric-input">
                                        <span class="fa fa-caret-up numeric-up"></span>
                                        <input type="number" id="inputQuantity" min="0" class="form-control weekday-val w-50-px" onchange="OnQtyChange()" />
                                        <span class="fa fa-caret-down numeric-down"></span>
                                    </div>
                                    </td>
                                    @*<input type="number" id="inputQuantity" class="form-control mx-sm-3 rounded-0 border-0" onchange="OnQtyChange()">*@
                                </tr>
                            </table>
                            <h3 class="text-primary mt-4">Price: @Model.Product.Price.ToString("C")</h3>
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (Model.Live)
                                {
                                    <button type="submit" class="add-to-cart btn btn-success btn-lg rounded-0 text-white px-4 py-2 mt-4" data-productid="@Model.Product.ID" data-qty="1" onclick="AddToCart(this)">Add To Cart</button>
                                }
                                else
                                {
                                    <button type="submit" class="add-to-cart btn btn-success btn-lg rounded-0 text-white px-4 py-2 mt-4" data-productid="@Model.Product.ID" data-qty="1" onclick="alert('Please wait for us to set up your account.')">Add To Cart</button>
                                }
                            }
                            else
                            {
                                <button type="submit" class="add-to-cart btn btn-success btn-lg rounded-0 text-white px-4 py-2 mt-4" data-productid="@Model.Product.ID" data-qty="1" onclick="AddToQuote(this)">Add To Cart</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 bg-light p-4 mt-3">
                @Html.Raw(Model.Product.Description)
            </div>
        </div>
    </div>
</div>

<script>
    function OnQtyChange() {
        $('.add-to-cart').data('qty', $('#inputQuantity').val());
    }
</script>