<div class="bg-secondary text-white text-center pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Previous One Off Orders</h1>
            </div>
        </div>
    </div>
</div>

<div class="bg-white pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="bg-light p-3 pt-4">
                    <div class="col">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <thead>
                                    <tr class="bg-secondary text-white">
                                        <th scope="col">Status</th>
                                        <th scope="col">Order Number</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Date</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                  @foreach (var order in Model)
                                  {
                                      <tr class="table-secondary">
                                        <td>@order.Status</td>
                                        <td>@order.OrderNumber</td>
                                        <td>@order.Total.ToString("C")</td>
                                        <td>@order.Created.ToString("dd/MM/yy")</td>
                                        <td><button type="button" class="btn btn-success rounded-0"  onclick='OrderDetails("@order.ID");'  data-toggle="modal" data-target="#modal-order-detail">View</button></td>
                                      </tr>
                                  }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="modal-order-detail" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content bg-light rounded-0">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-content">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function OrderDetails(id) {
        $('#modal-order-detail .modal-body .modal-content').html('');
        $.ajax({
            url: '/Products/_OneOffOrderDetails',
            type: 'GET',
            data: {
                id: id
            },
            success: function (response) {
                //$('#Modal .modal-dialog').css("width", "700px");
                $('#modal-order-detail .modal-body .modal-content').html(response);
            }
        })
    }
</script>