﻿@Styles.Render("~/site/style")

<!------------ banner-area-start ------------->
	<div class="banner-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 col-md-7">
					<div class="banner-text">
						<h3>Office milk and fruit deliveries in Edinburgh and surrounding areas</h3>
						<div class="banner-btn">
							<a href="/">Get started</a>
						</div>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="banner-img">
						<img src="/Content/Map/Vans/Edinburgh.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!------------ banner-area-end ------------->



	<!------------ about-area-start ------------->
	<div class="about-area">
	   <div class="container">
		  <div class="row">
			 <div class="col-lg-12">
				<div class="about-title">
				   <h3>The easy way to get fresh milk and fruit delivered to your office</h3>
                   <p>Office Groceries delivers fresh milk and fruit to businesses across Edinburgh and the surrounding areas. Reliable, flexible and cost-effective, it’s the ideal way to keep your office stocked with the daily essentials.</p>
				</div>
			 </div>
		  </div>
			<div class="about-content">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-6">
						<div class="about-img">
							<img src="/Content/Map/about-1.jpg" alt="">
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="about-right">
							<div class="about-text">
								<h3>Milk deliveries in Edinburgh</h3>
								<p>Whole, semi, or skimmed – however you want your milk, we’ll deliver.
									Always fresh and always the best quality. Need plant-based milk or lactose-free? We do those too.</p>
								<p>We partner with local dairies to bring you responsibly sourced milk with a service you can rely on.
									And whatever size your business, we can tailor our service to fit your exact needs.</p>
								<div class="comon-btn">
									<a href="/office-milk-deliveries">Order Now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="about-content">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-6 order-last order-md-first">
						<div class="about-text">
							<h4>Edinburgh fruit box deliveries</h4>
							<p>Why not boost the health and productivity of your staff with a regular fruit box delivery?
								A great alternative to processed snacks, eating fresh fruit throughout the day has multiple health benefits.
								It’s also a great perk for your teams to enjoy.</p>
							<p>We offer a choice of two different fruit basket deliveries.
								The 50-piece essential fruit box includes a vibrant selection of apples, oranges or clementines, bananas, pears and plums.
								Or for a fruit selection that changes with the seasons, opt for our 50-piece seasonal fruit basket.</p>
							<div class="comon-btn">
								<a href="/office-fruit-basket-deliveries">Order Now</a>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6  order-first order-md-last">
						<div class="about-img">
							<img src="/Content/Map/about-2.jpg" alt="">
						</div>
					</div>
				</div>
			</div>

			<div class="about-Pricing-area">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="row">
							<div class="col-lg-4 col-md-4">
								<div class="about-Pricing-text-1 pricing-box">
									<div class="about-Pricing-btn-1">
										<a href="javascript:void(0)">Step 1.</a>
									</div>
									<p>Simply choose the products you’d like us to deliver and select the days you would like deliveries.</p>																	<img src="assets/img/arrow.png" class="arrow_icon" alt="">
									<img src="/Content/Map/arrow.png" class="arrow_icon" alt="">									
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="about-Pricing-text-2 pricing-box">
									<div class="about-Pricing-btn-2">
										<a href="javascript:void(0)">Step 2.</a>
									</div>
									<p>We’ll create your account. </p>
									<img src="/Content/Map/arrow.png" class="arrow_icon" alt="">									
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="about-Pricing-text-1 pricing-box">
									<div class="about-Pricing-btn-1">
										<a href="javascript:void(0)">Step 3.</a>
									</div>
									<p>You can adjust your order when you need to, and we keep things simple with just one monthly invoice.</p>										
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="about-Pricing-right">
							<h3>Ordering your milk and fruit deliveries <br/><span>It’s as easy as 1, 2, 3...</span></h3>
							<p>Our delivery service brings fresh milk and fruit boxes to offices across Edinburgh and surrounding areas.
								Just let us know what you need and we’ll take care of the rest.</p>
							<p>Want to get started? Simply choose the products you’d like – milk, fruit or a combination of both – and choose your delivery days.
								You can adjust your order at any time which is perfect for businesses where staff levels may change from week to week. And we issue just one monthly invoice to keep your accounting simple.</p>
						</div>
					</div>
				</div>
			</div>

			
	   </div>
	</div>


	<!------------ about-area-end ------------->
