﻿@Styles.Render("~/site/style")

	<!------------ banner-area-start ------------->
	<div class="delivery-banner">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="location-banner-text">
						<h2>Delivering fresh milk, fruit and all the office essentials to businesses UK wide.</h2>
						<div class="location-description">
							<p>Below are the key delivery areas that we serve throughout the UK.</p>
						<p>Should your area not be listed simply contact us on 0345 463 8863 and one of our client
						service managers will be on hand to organise deliveries for you.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!------------ banner-area-end ------------->




	<!------------ Location-area-Start ------------->
	<div class="location-area">
		<div class="container">
			<div class="row align-items-end">
				<div class="col-lg-6 col-md-6 order-last order-md-first">
					<div class="row">
						<div class="col-lg-12">
							<div class="location-list-wrapper">
								<h3>Our Delivery Locations:</h3>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-6">
										<div class="location-list">
											<ul>
												<li class="color_1"><a href="/delivery-areas/Edinburgh"><span>1</span>Edinburgh</a></li>
												<li class="color_2"><a href="/delivery-areas/Cardiff"><span>2</span>Cardiff</a></li>
												<li class="color_1"><a href="/delivery-areas/Birmingham"><span>3</span>Birmingham</a></li>
												<li class="color_2"><a href="/delivery-areas/Glasgow"><span>4</span>Glasgow</a></li>
												<li class="color_1"><a href="/delivery-areas/Bristol"><span>5</span>Bristol</a></li>
												<li class="color_2"><a href="/delivery-areas/Manchester"><span>6</span>Manchester</a></li>
												<li class="color_1"><a href="/delivery-areas/Leeds"><span>7</span>Leeds</a></li>
												<li class="color_2"><a href="/delivery-areas/Southampton"><span>8</span>Southampton</a></li>
											</ul>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-6">
										<div class="location-list">
											<ul>
												<li class="color_1"><a href="/delivery-areas/London"><span>9</span>London</a></li>
												<li class="color_2"><a href="/delivery-areas/Liverpool"><span>10</span>Liverpool</a></li>
												<li class="color_1"><a href="/delivery-areas/Reading"><span>11</span>Reading</a></li>
												<li class="color_2"><a href="/delivery-areas/Newcastle"><span>12</span>Newcastle</a></li>
												<li class="color_1"><a href="/delivery-areas/Sheffield"><span>13</span>Sheffield</a></li>
												<li class="color_2"><a href="/delivery-areas/Northampton"><span>14</span>Northampton</a></li>
												<li class="color_1"><a href="/delivery-areas/Nottingham"><span>15</span>Nottingham</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 order-first order-md-last">
					<div class="map-wrap">
						<img src="/Content/Map/map.png" alt="Map">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!------------ Location-area-end ------------->
	
	<style>
	    li.color_1 a {
            color: #EF7900;
        }
        
        li.color_2 a {
            color: #32A836;
        }
	</style>
	
