﻿@Styles.Render("~/site/style")

<!------------ banner-area-start ------------->
	<div class="banner-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 col-md-7">
					<div class="banner-text">
						<h3>Office milk and fruit deliveries in Liverpool and surrounding areas</h3>
						<div class="banner-btn">
							<a href="/">Get started</a>
						</div>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="banner-img">
						<img src="/Content/Map/Vans/Liverpool.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!------------ banner-area-end ------------->



	<!------------ about-area-start ------------->
	<div class="about-area">
	   <div class="container">
		  <div class="row">
			 <div class="col-lg-12">
				<div class="about-title">
				   <h3>Milk and fruit delivered direct to your business</h3>
                   <p>Office Groceries’ milk and fruit delivery service provides workplaces in Liverpool with a convenient and cost-effective way to keep the office supplied with milk and fruit.</p>
				</div>
			 </div>
		  </div>
			<div class="about-content">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-6">
						<div class="about-img">
							<img src="/Content/Map/about-1.jpg" alt="">
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="about-right">
							<div class="about-text">
								<h3>Milk deliveries in Liverpool</h3>
								<p>Our service is designed with busy workplaces in mind and offers flexible and reliable milk deliveries to offices in Liverpool and the surrounding areas.
									We work with local dairies, so you know your milk is coming from a trusted local supplier.
									And with our milk delivery service, you’ll never need to raid petty cash or send staff out to buy milk again.</p>
								<p>We offer milks for a wide range of preferences including plant-based milks and lactose-free milks.
									And of course, we offer a full selection of traditional milks with whole, semi and skimmed in a range of sizes.</p>
								<div class="comon-btn">
									<a href="/office-milk-deliveries">Order Now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="about-content">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-6 order-last order-md-first">
						<div class="about-text">
							<h4>Liverpool fruit box deliveries</h4>
							<p>Help your colleagues get their five-a-day with our fresh fruit basket deliveries.
								Each basket is packed with different fruits, giving staff a natural alternative to processed snacks.
								We know first-hand how beneficial a fruit box delivery can be for workplaces.
								It’s a great way for businesses to demonstrate that they value their staff and are willing to invest in their wellbeing.</p>
							<p>You can choose the 50-piece essential fruit boxes to receive a vibrant selection of apples, oranges or clementines, bananas, pears and plums.
								Or for a selection that changes with the seasons, try our 50-piece seasonal fruit basket.</p>
							<div class="comon-btn">
								<a href="/office-fruit-basket-deliveries">Order Now</a>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6  order-first order-md-last">
						<div class="about-img">
							<img src="/Content/Map/about-2.jpg" alt="">
						</div>
					</div>
				</div>
			</div>

			<div class="about-Pricing-area">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="row">
							<div class="col-lg-4 col-md-4">
								<div class="about-Pricing-text-1 pricing-box">
									<div class="about-Pricing-btn-1">
										<a href="javascript:void(0)">Step 1.</a>
									</div>
									<p>Simply choose the products you’d like us to deliver and select the days you would like deliveries.</p>																	<img src="assets/img/arrow.png" class="arrow_icon" alt="">
									<img src="/Content/Map/arrow.png" class="arrow_icon" alt="">									
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="about-Pricing-text-2 pricing-box">
									<div class="about-Pricing-btn-2">
										<a href="javascript:void(0)">Step 2.</a>
									</div>
									<p>We’ll create your account. </p>
									<img src="/Content/Map/arrow.png" class="arrow_icon" alt="">									
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="about-Pricing-text-1 pricing-box">
									<div class="about-Pricing-btn-1">
										<a href="javascript:void(0)">Step 3.</a>
									</div>
									<p>You can adjust your order when you need to, and we keep things simple with just one monthly invoice.</p>										
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="about-Pricing-right">
							<h3>How to order your milk and fruit deliveries <br/><span>It’s as easy as 1, 2, 3...</span></h3>
							<p>Our milk and fruit delivery services operate within Liverpool and surrounding areas.
								So whether you would like a milk delivery, fruit boxes or both, our reliable service brings exactly what you need direct to your office.</p>
							<p>It’s easy to get started. Select the products you’d like us to deliver – and choose the days you would like deliveries.
								Then we’ll create your account.
								Our flexible service means you can adjust your order when you need to, and we keep things straightforward with just one monthly invoice.</p>
						</div>
					</div>
				</div>
			</div>

			
	   </div>
	</div>


	<!------------ about-area-end ------------->
