﻿@Styles.Render("~/site/style")

<!------------ banner-area-start ------------->
	<div class="banner-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 col-md-7">
					<div class="banner-text">
						<h3>Office milk and fruit deliveries in London and surrounding areas</h3>
						<div class="banner-btn">
							<a href="/">Get started</a>
						</div>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="banner-img">
						<img src="/Content/Map/Vans/London.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!------------ banner-area-end ------------->



	<!------------ about-area-start ------------->
	<div class="about-area">
	   <div class="container">
		  <div class="row">
			 <div class="col-lg-12">
				<div class="about-title">
				   <h3>Milk and fruit – delivered to your office</h3>
					<p>Looking for a milk or fruit box delivery service for your office in London? We provide exactly that!
						A flexible plan that brings milk and fruit direct to your door with a reliable service at a sensible price.</p>
				</div>
			 </div>
		  </div>
			<div class="about-content">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-6">
						<div class="about-img">
							<img src="/Content/Map/about-1.jpg" alt="">
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="about-right">
							<div class="about-text">
								<h3>Milk deliveries in London</h3>
								<p>We work with carefully selected dairies in the London area to source high-quality fresh milk for businesses.
									And with timely and convenient deliveries, you’ll never need to send staff out on an emergency milk run again.</p>
								<p>We know that choice is important and we offer a full range of milks to suit different tastes and dietary preferences.
									Our selection includes traditional whole, semi and skimmed milk as well as lactose-free milk and plant-based options like soya or almond milk</p>
								<div class="comon-btn">
									<a href="/office-milk-deliveries">Order Now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="about-content">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-6 order-last order-md-first">
						<div class="about-text">
							<h4>London fruit delivery service</h4>
							<p>If you want to treat your staff to a regular fruit box delivery service, we offer that too.
								Businesses across London choose our fruit basket deliveries to keep offices topped up with a supply of fresh, nutritious fruit.
								It’s a great way to help staff make healthy choices in the workplace and fruit makes a welcome alternative to biscuits for productive meetings.</p>
							<p>We offer a choice of fruit basket options.
								The 50-piece essential fruit basket includes apples, oranges or clementines, bananas, pears and plums.
								Or celebrate the changing seasons with our 50-piece seasonal fruit basket for a selection of seasonal fruit that changes throughout the year.</p>
							<div class="comon-btn">
								<a href="/office-fruit-basket-deliveries">Order Now</a>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6  order-first order-md-last">
						<div class="about-img">
							<img src="/Content/Map/about-2.jpg" alt="">
						</div>
					</div>
				</div>
			</div>

			<div class="about-Pricing-area">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="row">
							<div class="col-lg-4 col-md-4">
								<div class="about-Pricing-text-1 pricing-box">
									<div class="about-Pricing-btn-1">
										<a href="javascript:void(0)">Step 1.</a>
									</div>
									<p>Simply choose the products you’d like us to deliver and select the days you would like deliveries.</p>																	<img src="assets/img/arrow.png" class="arrow_icon" alt="">
									<img src="/Content/Map/arrow.png" class="arrow_icon" alt="">									
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="about-Pricing-text-2 pricing-box">
									<div class="about-Pricing-btn-2">
										<a href="javascript:void(0)">Step 2.</a>
									</div>
									<p>We’ll create your account. </p>
									<img src="/Content/Map/arrow.png" class="arrow_icon" alt="">									
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="about-Pricing-text-1 pricing-box">
									<div class="about-Pricing-btn-1">
										<a href="javascript:void(0)">Step 3.</a>
									</div>
									<p>You can adjust your order when you need to, and we keep things simple with just one monthly invoice.</p>										
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="about-Pricing-right">
							<h3>The easy way to order your milk and fruit deliveries <br/><span>It’s as easy as 1, 2, 3...</span></h3>
							<p>Whether you want milk for your London office, fruit basket deliveries, or both; it’s easy to get started.
								Click on the link below to choose the products you’d like us to deliver.
								Select the days you would like deliveries and we’ll do the rest! We’ll create an account for you so that you can adjust your order as you need to. And with just one monthly invoice, tracking and budgeting is made simple too!</p>
						</div>
					</div>
				</div>
			</div>

			
	   </div>
	</div>


	<!------------ about-area-end ------------->
