﻿@Styles.Render("~/site/style")

<!------------ banner-area-start ------------->
	<div class="banner-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 col-md-7">
					<div class="banner-text">
						<h3>Office milk and fruit deliveries in Manchester and surrounding areas</h3>
						<div class="banner-btn">
							<a href="/">Get started</a>
						</div>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="banner-img">
						<img src="/Content/Map/Vans/Manchester.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!------------ banner-area-end ------------->



	<!------------ about-area-start ------------->
	<div class="about-area">
	   <div class="container">
		  <div class="row">
			 <div class="col-lg-12">
				<div class="about-title">
				   <h3>Milk and fruit – freshly delivered </h3>
                   <p>With our milk and fruit box deliveries in and around Manchester, you can keep your office topped up with fresh milk and fruit all week long.</p>
				</div>
			 </div>
		  </div>
			<div class="about-content">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-6">
						<div class="about-img">
							<img src="/Content/Map/about-1.jpg" alt="">
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="about-right">
							<div class="about-text">
								<h3>Milk deliveries in Manchester </h3>
								<p>Working with trusted dairies in the Manchester area, we deliver locally sourced fresh milk direct to your office.
								You’ll never need to worry about running out of milk again with our office milk delivery service.
								This means your staff can get on with what they do best,
								rather than leaving the office for those emergency milk runs. </p>
								<p>We offer a wide range of milks to suit different preferences so you can keep colleagues and visitors happy,
								whatever brew they choose. The selection includes traditional whole,
								semi and skimmed milk as well as lactose-free milk and plant-based options like soya or almond milk.</p>
								<div class="comon-btn">
									<a href="/office-milk-deliveries">Order Now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="about-content">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-6 order-last order-md-first">
						<div class="about-text">
							<h4>Manchester fruit delivery </h4>
							<p>‘To complement our milk delivery service, we also offer office fruit box
								delivery to businesses in Manchester. Our colourful fresh fruit baskets are
								always a hit with office teams and they area wonderful way to help your
								colleagues stay nourished throughout the day. Each basket includes a
								varied section of fresh fruit, offering a natural alternative to processed
								snacks,</p>
								<p>Help your staff get their five-a-day with the 50-piece essential fruit basket
								which includes apples, oranges or clementines, bananas, pears and plums.
								Our opt for our 50-piece seasonal fruit basket for a selection of fruit that
								changes with the seasons.</p>
							<div class="comon-btn">
								<a href="/office-fruit-basket-deliveries">Order Now</a>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6  order-first order-md-last">
						<div class="about-img">
							<img src="/Content/Map/about-2.jpg" alt="">
						</div>
					</div>
				</div>
			</div>

			<div class="about-Pricing-area">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="row">
							<div class="col-lg-4 col-md-4">
								<div class="about-Pricing-text-1 pricing-box">
									<div class="about-Pricing-btn-1">
										<a href="javascript:void(0)">Step 1.</a>
									</div>
									<p>Simply choose the products you’d like us to deliver and select the days you would like deliveries.</p>																	<img src="assets/img/arrow.png" class="arrow_icon" alt="">
									<img src="/Content/Map/arrow.png" class="arrow_icon" alt="">									
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="about-Pricing-text-2 pricing-box">
									<div class="about-Pricing-btn-2">
										<a href="javascript:void(0)">Step 2.</a>
									</div>
									<p>We’ll create your account. </p>
									<img src="/Content/Map/arrow.png" class="arrow_icon" alt="">									
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="about-Pricing-text-1 pricing-box">
									<div class="about-Pricing-btn-1">
										<a href="javascript:void(0)">Step 3.</a>
									</div>
									<p>You can adjust your order when you need to, and we keep things simple with just one monthly invoice.</p>										
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="about-Pricing-right">
							<h3>How to order your milk and fruit deliveries <span>It’s as easy as 1, 2, 3...</span></h3>
							<p>Whether you want milk for your office, fruit basket deliveries, or both; just tell us what you need and we’ll do the rest.
							We’re trusted by businesses across Manchester, Greater Manchester and throughout the UK to deliver high-quality products with
							a reliable service.</p>
							<p>Simply choose the products you’d like us to deliver – and select the days you would like deliveries. Then we’ll create your account.
								You can adjust your order when you need to, and we keep things simple with just one monthly invoice. </p>
						</div>
					</div>
				</div>
			</div>

			
	   </div>
	</div>


	<!------------ about-area-end ------------->
