﻿@Styles.Render("~/site/style")

<!------------ banner-area-start ------------->
	<div class="banner-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 col-md-7">
					<div class="banner-text">
						<h3>Office milk and fruit deliveries in Newcastle and surrounding areas</h3>
						<div class="banner-btn">
							<a href="/">Get started</a>
						</div>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="banner-img">
						<img src="/Content/Map/Vans/Newcastle.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!------------ banner-area-end ------------->



	<!------------ about-area-start ------------->
	<div class="about-area">
	   <div class="container">
		  <div class="row">
			 <div class="col-lg-12">
				<div class="about-title">
				   <h3>Milk and fruit deliveries delivered to your office</h3>
					<p>Fresh milk and fruit. Delivered straight to your office.
						One monthly invoice.
						This is the fuss-free, affordable way to keep your office stocked with the most essential groceries.</p>
				</div>
			 </div>
		  </div>
			<div class="about-content">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-6">
						<div class="about-img">
							<img src="/Content/Map/about-1.jpg" alt="">
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="about-right">
							<div class="about-text">
								<h3>Milk deliveries in Newcastle</h3>
								<p>From the first cuppa to the afternoon brew, busy workplaces get through a lot of milk.
									So why not make procuring your office milk as simple as possible?
									Office Groceries offers a flexible, convenient and cost-effective milk delivery service for offices in Newcastle.
									We make sure you’re topped up with the white stuff and partner with trusted local dairies to bring you a high-quality, locally sourced product.</p>
								<p>Whether you need whole, semi or skimmed, plant-based or lactose-free, we’ll deliver exactly what you need.
									We can even provide milk in glass bottles and offer a variety of sizes and quantities to suit businesses large or small.</p>
								<div class="comon-btn">
									<a href="/office-milk-deliveries">Order Now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="about-content">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-6 order-last order-md-first">
						<div class="about-text">
							<h4>Newcastle fruit box deliveries</h4>
							<p>We all know that fruit is good for us. But remembering to get our five-a-day isn’t always easy.
								That’s why so many workplaces are choosing an office fruit basket to help staff snack healthily throughout the day.
								Not only is a fruit box a great perk for staff, it’s also a great way for businesses to demonstrate their commitment to the health and wellbeing of their people.
								And of course, a healthy, happy, motivated workforce can help increase productivity.</p>
							<p>Kick-start healthy habits with our 50-piece essential fruit box.
								These vibrant fruit baskets are packed with a selection of apples, oranges or clementines, bananas, pears and plums. We also offer a delicious 50-piece seasonal fruit basket that incudes a range of fruits that change with the seasons.</p>
							<div class="comon-btn">
								<a href="/office-fruit-basket-deliveries">Order Now</a>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6  order-first order-md-last">
						<div class="about-img">
							<img src="/Content/Map/about-2.jpg" alt="">
						</div>
					</div>
				</div>
			</div>

			<div class="about-Pricing-area">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="row">
							<div class="col-lg-4 col-md-4">
								<div class="about-Pricing-text-1 pricing-box">
									<div class="about-Pricing-btn-1">
										<a href="javascript:void(0)">Step 1.</a>
									</div>
									<p>Simply choose the products you’d like us to deliver and select the days you would like deliveries.</p>																	<img src="assets/img/arrow.png" class="arrow_icon" alt="">
									<img src="/Content/Map/arrow.png" class="arrow_icon" alt="">									
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="about-Pricing-text-2 pricing-box">
									<div class="about-Pricing-btn-2">
										<a href="javascript:void(0)">Step 2.</a>
									</div>
									<p>We’ll create your account. </p>
									<img src="/Content/Map/arrow.png" class="arrow_icon" alt="">									
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="about-Pricing-text-1 pricing-box">
									<div class="about-Pricing-btn-1">
										<a href="javascript:void(0)">Step 3.</a>
									</div>
									<p>You can adjust your order when you need to, and we keep things simple with just one monthly invoice.</p>										
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="about-Pricing-right">
							<h3>How to order your milk and fruit deliveries <br/><span>It’s as easy as 1, 2, 3...</span></h3>
							<p>Ready to start a milk or fruit delivery for your office?
								We serve businesses large and small throughout Newcastle and the surrounding areas.
								So whether you’re looking for a milk delivery, fruit baskets or both, our flexible service brings exactly what you need direct to your office.</p>
							<p>Creating an account is easy.
								Simply choose the products you need and tell us when you would like the deliveries.
								We’ll take care of the rest. You can adjust your order whenever you need to, and we send one monthly invoice to keep budgeting simple.</p>
						</div>
					</div>
				</div>
			</div>

			
	   </div>
	</div>


	<!------------ about-area-end ------------->
