﻿@Styles.Render("~/site/style")

<!------------ banner-area-start ------------->
	<div class="banner-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 col-md-7">
					<div class="banner-text">
						<h3>Office milk and fruit deliveries in Northampton and surrounding areas</h3>
						<div class="banner-btn">
							<a href="/">Get started</a>
						</div>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="banner-img">
						<img src="/Content/Map/Vans/Northampton.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!------------ banner-area-end ------------->



	<!------------ about-area-start ------------->
	<div class="about-area">
	   <div class="container">
		  <div class="row">
			 <div class="col-lg-12">
				<div class="about-title">
				   <h3>Your flexible and reliable milk and fruit delivery service</h3>
					<p>Keeping your workplace topped up with milk has never been easier.
						Forget raiding petty cash or sending staff out on an emergency milk run. Our milk delivery service keeps businesses in Northampton supplied with all the milk they need.
						We also offer tasty fruit basket deliveries to give your teams healthy snacking options throughout the day.</p>
				</div>
			 </div>
		  </div>
			<div class="about-content">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-6">
						<div class="about-img">
							<img src="/Content/Map/about-1.jpg" alt="">
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="about-right">
							<div class="about-text">
								<h3>Milk deliveries in Northampton</h3>
								<p>From the morning cuppa to refreshments for productive meetings, milk is a daily essential for businesses.
									Make sure you never run out with our office milk delivery service.
									We offer whole, semi, skimmed, plant-based options and lactose-free milk in a variety of sizes to suit your needs.</p>
								<div class="comon-btn">
									<a href="/office-milk-deliveries">Order Now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="about-content">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-6 order-last order-md-first">
						<div class="about-text">
							<h4>Fruit box deliveries</h4>
							<p>Help your staff swap processed snacks for healthy fruit and see the benefits in your workplace.
								A fruit basket makes a great office centrepiece and is a great way to hit the five-a-day goal.
								For a tasty selection of favourite fruits like apples, oranges or clementines, bananas, pears and plums, choose our 50-piece essential fruit box.
								Or mark the changing seasons with our seasonal fruit basket.</p>
							<div class="comon-btn">
								<a href="/office-fruit-basket-deliveries">Order Now</a>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6  order-first order-md-last">
						<div class="about-img">
							<img src="/Content/Map/about-2.jpg" alt="">
						</div>
					</div>
				</div>
			</div>

			<div class="about-Pricing-area">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="row">
							<div class="col-lg-4 col-md-4">
								<div class="about-Pricing-text-1 pricing-box">
									<div class="about-Pricing-btn-1">
										<a href="javascript:void(0)">Step 1.</a>
									</div>
									<p>Simply choose the products you’d like us to deliver and select the days you would like deliveries.</p>																	<img src="assets/img/arrow.png" class="arrow_icon" alt="">
									<img src="/Content/Map/arrow.png" class="arrow_icon" alt="">									
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="about-Pricing-text-2 pricing-box">
									<div class="about-Pricing-btn-2">
										<a href="javascript:void(0)">Step 2.</a>
									</div>
									<p>We’ll create your account. </p>
									<img src="/Content/Map/arrow.png" class="arrow_icon" alt="">									
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="about-Pricing-text-1 pricing-box">
									<div class="about-Pricing-btn-1">
										<a href="javascript:void(0)">Step 3.</a>
									</div>
									<p>You can adjust your order when you need to, and we keep things simple with just one monthly invoice.</p>										
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="about-Pricing-right">
							<h3>Ordering your milk and fruit deliveries is easy <br/><span>It’s as easy as 1, 2, 3...</span></h3>
							<p>If you’re looking for a regular milk or fruit office delivery service for your business in Northampton or the surrounding areas, you’re in the right place.
								Our flexible and affordable service brings you exactly what you need – direct to your office.</p>
							<p>When you’re ready to start your deliveries, simply select the products you’d like us to deliver – and choose the days that suit you best.
								Then we’ll create your account. Our flexible service lets you make changes whenever you need to, and we keep things simple with one monthly invoice.</p>
						</div>
					</div>
				</div>
			</div>

			
	   </div>
	</div>


	<!------------ about-area-end ------------->
