﻿@Styles.Render("~/site/style")

<!------------ banner-area-start ------------->
	<div class="banner-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 col-md-7">
					<div class="banner-text">
						<h3>Office milk and fruit deliveries in Nottingham and surrounding areas</h3>
						<div class="banner-btn">
							<a href="/">Get started</a>
						</div>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="banner-img">
						<img src="/Content/Map/Vans/Nottingham.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!------------ banner-area-end ------------->



	<!------------ about-area-start ------------->
	<div class="about-area">
	   <div class="container">
		  <div class="row">
			 <div class="col-lg-12">
				<div class="about-title">
				   <h3>Get fresh milk and fruit deliveries direct to your office</h3>
					<p>Ready to discover the convenience of an office milk and fruit delivery service for your Nottingham workplace?
						Office Groceries provides just that.
						A reliable, cost-effective way to keep your office stocked with fresh milk and fruit.</p>
				</div>
			 </div>
		  </div>
			<div class="about-content">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-6">
						<div class="about-img">
							<img src="/Content/Map/about-1.jpg" alt="">
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="about-right">
							<div class="about-text">
								<h3>Milk deliveries in Nottingham</h3>
								<p>In a busy office, running out of milk isn’t an option.
									And the last thing you want to do is send staff out on a milk run when they’d rather be getting on with other things.
									That’s why we created our milk delivery service for offices in Nottingham.
									We work with trusted local dairies to bring you high-quality fresh milk for the working week.</p>
								<p>Whole, semi or skimmed? Plant-based or lactose-free?
									Whatever, you need, we’ll deliver.
									We can even provide milk in glass bottles and offer a variety of sizes and quantities to suit businesses large or small.</p>
								<div class="comon-btn">
									<a href="/office-milk-deliveries">Order Now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="about-content">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-6 order-last order-md-first">
						<div class="about-text">
							<h4>Nottingham fruit box deliveries</h4>
							<p>Health and wellbeing in the workplace has never been more important.
								And an easy way to boost the health of your teams is to offer fresh fruit to snack on throughout the day.
								Not only is fruit the perfect alternative to processed snacks but it’s also a great way to demonstrate your commitment to the health of your staff.</p>
							<p>Choose from the 50-piece essential fruit boxes and receive a colourful selection of apples, oranges or clementines, bananas, pears and plums.
								Alternatively, opt for the 50-piece seasonal fruit basket for a selection that changes with the seasons.</p>
							<div class="comon-btn">
								<a href="/office-fruit-basket-deliveries">Order Now</a>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6  order-first order-md-last">
						<div class="about-img">
							<img src="/Content/Map/about-2.jpg" alt="">
						</div>
					</div>
				</div>
			</div>

			<div class="about-Pricing-area">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="row">
							<div class="col-lg-4 col-md-4">
								<div class="about-Pricing-text-1 pricing-box">
									<div class="about-Pricing-btn-1">
										<a href="javascript:void(0)">Step 1.</a>
									</div>
									<p>Simply choose the products you’d like us to deliver and select the days you would like deliveries.</p>																	<img src="assets/img/arrow.png" class="arrow_icon" alt="">
									<img src="/Content/Map/arrow.png" class="arrow_icon" alt="">									
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="about-Pricing-text-2 pricing-box">
									<div class="about-Pricing-btn-2">
										<a href="javascript:void(0)">Step 2.</a>
									</div>
									<p>We’ll create your account. </p>
									<img src="/Content/Map/arrow.png" class="arrow_icon" alt="">									
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="about-Pricing-text-1 pricing-box">
									<div class="about-Pricing-btn-1">
										<a href="javascript:void(0)">Step 3.</a>
									</div>
									<p>You can adjust your order when you need to, and we keep things simple with just one monthly invoice.</p>										
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="about-Pricing-right">
							<h3>How to order your milk and fruit deliveries <br/><span>It’s as easy as 1, 2, 3...</span></h3>
							<p>We deliver fresh milk and fruit directly to businesses throughout Nottingham and the surrounding areas.
								So whether you’re looking for a milk delivery, fruit baskets or both, our flexible service brings exactly what you need direct to your office.</p>
							<p>Ready to start your deliveries? Simply select the products you’d like us to deliver – and choose the days you would like deliveries.
								Then we’ll create your account. Our flexible service lets you adjust your order whenever you need to, and there’s just one monthly invoice to make things simple.</p>
						</div>
					</div>
				</div>
			</div>

			
	   </div>
	</div>


	<!------------ about-area-end ------------->
