﻿@Styles.Render("~/site/style")

<!------------ banner-area-start ------------->
	<div class="banner-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 col-md-7">
					<div class="banner-text">
						<h3>Office milk and fruit deliveries in Reading and surrounding areas</h3>
						<div class="banner-btn">
							<a href="/">Get started</a>
						</div>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="banner-img">
						<img src="/Content/Map/Vans/Reading.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!------------ banner-area-end ------------->



	<!------------ about-area-start ------------->
	<div class="about-area">
	   <div class="container">
		  <div class="row">
			 <div class="col-lg-12">
				<div class="about-title">
				   <h3>Fresh milk and fruit – delivered direct to your office</h3>
					<p>Discover the modern way to get your office milk and fruit deliveries.
						Office Groceries sources milk from trusted local dairy farms and delivers direct to your office in Reading.
						Reliable, convenient, affordable – it’s the smart new way to keep your office stocked up with milk and fruit essentials.</p>
				</div>
			 </div>
		  </div>
			<div class="about-content">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-6">
						<div class="about-img">
							<img src="/Content/Map/about-1.jpg" alt="">
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="about-right">
							<div class="about-text">
								<h3>Office milk deliveries in Reading</h3>
								<p>When you’re managing a busy office, the last thing you want to worry about is running out of milk. So let us take care of your milk deliveries for you.
									We work with local dairy farms to deliver fresh, high-quality milk direct businesses across Reading and the surrounding areas.</p>
								<p>Our flexible service is designed to keep up with the demands of a busy workplace and we offer a full range of milks to suit all tastes and preferences.
									Discover a choice of whole, semi and skimmed milks as well as plant-based and lactose-free options.</p>
								<div class="comon-btn">
									<a href="/office-milk-deliveries">Order Now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="about-content">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-6 order-last order-md-first">
						<div class="about-text">
							<h4>Reading fruit box deliveries</h4>
							<p>Our fresh fruit boxes are always a hit with office teams.
								Colourful, tasty and packed with nutrients, our fruit selections offer a healthy alternative to crips and biscuits.
								Customer feedback shows us that staff really appreciate the benefits provided by an office fruit box and it’s a fantastic way for businesses to show that they value the health and wellbeing of staff.</p>
							<p>Discover a rainbow of different fruits with our 50-piece essential fruit box which includes apples, oranges or clementines, bananas, pears and plums.
								Alternatively, opt for the 50-piece seasonal fruit basket for a selection that changes throughout the year.</p>
							<div class="comon-btn">
								<a href="/office-fruit-basket-deliveries">Order Now</a>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6  order-first order-md-last">
						<div class="about-img">
							<img src="/Content/Map/about-2.jpg" alt="">
						</div>
					</div>
				</div>
			</div>

			<div class="about-Pricing-area">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="row">
							<div class="col-lg-4 col-md-4">
								<div class="about-Pricing-text-1 pricing-box">
									<div class="about-Pricing-btn-1">
										<a href="javascript:void(0)">Step 1.</a>
									</div>
									<p>Simply choose the products you’d like us to deliver and select the days you would like deliveries.</p>																	<img src="assets/img/arrow.png" class="arrow_icon" alt="">
									<img src="/Content/Map/arrow.png" class="arrow_icon" alt="">									
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="about-Pricing-text-2 pricing-box">
									<div class="about-Pricing-btn-2">
										<a href="javascript:void(0)">Step 2.</a>
									</div>
									<p>We’ll create your account. </p>
									<img src="/Content/Map/arrow.png" class="arrow_icon" alt="">									
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="about-Pricing-text-1 pricing-box">
									<div class="about-Pricing-btn-1">
										<a href="javascript:void(0)">Step 3.</a>
									</div>
									<p>You can adjust your order when you need to, and we keep things simple with just one monthly invoice.</p>										
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="about-Pricing-right">
							<h3>How to order your milk and fruit deliveries<br/><span>It’s as easy as 1, 2, 3...</span></h3>
							<p>It’s easy to get started. Whether you want to begin a milk delivery, a fruit box delivery – or a combination of both, we can tailor our service to your precise needs.
								Click below to select the products you need and the days on which you would like deliveries.
								We’ll create your account and send one monthly invoice so you can relax knowing your milk and fruit deliveries are taken care of.</p>
						</div>
					</div>
				</div>
			</div>

			
	   </div>
	</div>


	<!------------ about-area-end ------------->
