﻿@Styles.Render("~/site/style")

<!------------ banner-area-start ------------->
	<div class="banner-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 col-md-7">
					<div class="banner-text">
						<h3>Office milk and fruit deliveries in Southampton and surrounding areas</h3>
						<div class="banner-btn">
							<a href="/">Get started</a>
						</div>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="banner-img">
						<img src="/Content/Map/Vans/Southampton.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!------------ banner-area-end ------------->



	<!------------ about-area-start ------------->
	<div class="about-area">
	   <div class="container">
		  <div class="row">
			 <div class="col-lg-12">
				<div class="about-title">
				   <h3>Milk and fruit deliveries direct to your office door</h3>
					<p>“Buy milk for the office.” This is one job you can cross off your ‘to do’ list for good.
						Because Office Groceries is here to ensure you never run out of milk again with our reliable and flexible delivery service.
						You can even add a regular fruit box delivery for the office with our delicious fruit baskets.</p>
				</div>
			 </div>
		  </div>
			<div class="about-content">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-6">
						<div class="about-img">
							<img src="/Content/Map/about-1.jpg" alt="">
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="about-right">
							<div class="about-text">
								<h3>Milk deliveries in Southampton</h3>
								<p>If the kettle’s always on in your office, you’ll already know how important it is to keep the fridge stocked up with milk.
									From keeping the workforce hydrated to catering for meetings, we provide a wide range of different milks to suit all your needs.
									We offer traditional whole, semi and skimmed milk as well as plant-based and lactose-free options so you can cater for every preference.</p>
								<p>We pride ourselves on the quality of our milk and partner with trusted local dairies in the Southampton region to bring you the best.</p>
								<div class="comon-btn">
									<a href="/office-milk-deliveries">Order Now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="about-content">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-6 order-last order-md-first">
						<div class="about-text">
							<h4>Southampton fruit basket deliveries</h4>
							<p>Healthy staff equals a happy and productive workplace.
								That’s why focussing on the health and wellbeing of your office teams is so important.
								One easy way to boost healthy habits is by offering a regular supply of fruit to snack on.
								Not only is fruit packed with the nutrients that help keep us healthy but it’s also the perfect alternative to those unhealthier snacks that can zap energy levels.</p>
							<p>We carefully choose a selection of favourite fruits for our 50-piece essential fruit boxes which includes a colourful selection of apples, oranges or clementines, bananas, pears and plums.
								Or for a seasonal offering, choose the 50-piece seasonal fruit basket for a selection that changes throughout the year.</p>
							<div class="comon-btn">
								<a href="/office-fruit-basket-deliveries">Order Now</a>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6  order-first order-md-last">
						<div class="about-img">
							<img src="/Content/Map/about-2.jpg" alt="">
						</div>
					</div>
				</div>
			</div>

			<div class="about-Pricing-area">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="row">
							<div class="col-lg-4 col-md-4">
								<div class="about-Pricing-text-1 pricing-box">
									<div class="about-Pricing-btn-1">
										<a href="javascript:void(0)">Step 1.</a>
									</div>
									<p>Simply choose the products you’d like us to deliver and select the days you would like deliveries.</p>																	<img src="assets/img/arrow.png" class="arrow_icon" alt="">
									<img src="/Content/Map/arrow.png" class="arrow_icon" alt="">									
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="about-Pricing-text-2 pricing-box">
									<div class="about-Pricing-btn-2">
										<a href="javascript:void(0)">Step 2.</a>
									</div>
									<p>We’ll create your account. </p>
									<img src="/Content/Map/arrow.png" class="arrow_icon" alt="">									
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="about-Pricing-text-1 pricing-box">
									<div class="about-Pricing-btn-1">
										<a href="javascript:void(0)">Step 3.</a>
									</div>
									<p>You can adjust your order when you need to, and we keep things simple with just one monthly invoice.</p>										
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="about-Pricing-right">
							<h3>How to order your milk and fruit deliveries <br/><span>It’s as easy as 1, 2, 3...</span></h3>
							<p>Ready to get started with your office milk or fruit basket delivery?
								We serve businesses throughout Southampton and the surrounding areas, offering a flexible and reliable service.</p>
							<p>All you need to do is tell us what products you’d like and which days you would like deliveries.
								We’ll take care of the rest, creating your account and sending one monthly invoice so you can sit back knowing that all your milk and fruit deliveries are taken care of.</p>
						</div>
					</div>
				</div>
			</div>

			
	   </div>
	</div>


	<!------------ about-area-end ------------->
