@model NuIngredient.Models.EnquiryFormViewModel
@{
    ViewBag.Title = "Your Office-Groceries Enquiry Has Been Received";
    var categories = new List<string>();
    if (Model.InterestOfMilk) { categories.Add("Milk"); }
    if (Model.InterestOfFruits) { categories.Add("Fruit/Snacks"); }
    if (Model.InterestOfDryGoods) { categories.Add("Dry Goods"); }
}

<div class="bg-secondary text-white text-center pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Thank you!</h1>
            </div>
        </div>
    </div>
</div>

<div class="bg-white pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-success text-center mb-4">Your Office-Groceries Enquiry Has Been Received</h2>
                <h3 class="text-primary text-center mb-3">Hello @Model.FirstName, Welcome to Office-Groceries.</h3>
                <p class="text-center">Thank you for your enquiry regarding our @String.Join(", ", categories) delivery service for @Model.BusinessName.</p>
                <p class="text-center">One of our procurement specialists will be in contact with you shortly. In the meantime, should you wish to contact us please give us a bell on 0345 463 8863 whereby one of our support managers are on hand to answer any questions you may have.</p>
                <p class="text-center">Once again thank you @Model.FirstName.</p>
                <p class="text-center mt-3 h4">The Office-Groceries Team</p>
            </div>
        </div>
    </div>
</div>