@model NuIngredient.Models.EnquiryFormViewModel
@{
    ViewBag.Title = "Enquiry Form / Account Set Up | Office Groceries";
    ViewBag.MetaDescription = "Welcome to Office-Groceries Account Set Up and Enquiry Form-Contact Us Today and streamline your office’s food procurement requirements. Great Prices with Great Service.";
}

@using (Html.BeginForm("EnquiryForm", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
  @Html.AntiForgeryToken()
    <picture>
        <img src="/img/Office-Grey.jpg" class="img-fluid" alt="Enquiry Form Page Picture">
    </picture>

    <div class="bg-secondary text-white text-center pt-1 pb-1 sticky-bottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Enquiry Form / Account Set Up</h1>
                    <h3>Welcome to Office-Groceries where quality and expertise meet up to benefit our clients</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                @Html.TextBoxFor(m => m.BusinessName, new { @class = "form-control form-control-lg rounded-0 bg-light border-0", placeholder="Business Name" })
                                @Html.ValidationMessageFor(m => m.BusinessName, "", new { @class = "text-danger" })
                                @*<input type="email" class="form-control form-control-lg rounded-0 bg-light border-0" placeholder="Business Name">*@
                            </div>
                            <div class="form-group col-md-6">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-lg rounded-0 bg-light border-0", placeholder="Email" })
                            </div>
                            <div class="form-group col-md-6">
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control form-control-lg rounded-0 bg-light border-0", placeholder="First Name" })
                                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-6">
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control form-control-lg rounded-0 bg-light border-0", placeholder="Last Name" })
                                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-6">
                                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control form-control-lg rounded-0 bg-light border-0", placeholder="Telephone Number" })
                                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-6">
                                @Html.TextBoxFor(m => m.Postcode, new { @class = "form-control form-control-lg rounded-0 bg-light border-0", placeholder="Delivery Postcode" })
                                @Html.ValidationMessageFor(m => m.Postcode, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-6">
                                <fieldset class="form-group">
                                    <div class="row">
                                        <legend class="col-form-label col-3 col-md-4 col-lg-3 pt-0">Interested In:</legend>
                                        <div class="col-8">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="InterestOfMilk" name="InterestOfMilk" value="true">
                                                <label class="form-check-label" for="InterestOfMilk">Milk</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="InterestOfFruits" name="InterestOfFruits" value="true">
                                                <label class="form-check-label" for="InterestOfFruits">Fruit</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="InterestOfDryGoods" name="InterestOfDryGoods" value="true">
                                                <label class="form-check-label" for="InterestOfDryGoods">Pantry</label>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.TextAreaFor(m => m.Note, new { @class = "form-control form-control-lg rounded-0 bg-light border-0", placeholder="Notes / Message" })
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <script src='https://www.google.com/recaptcha/api.js'></script>
                                <div class="g-recaptcha" data-sitekey="6LevZpYUAAAAAJBIp4CH_Hg6fXUdcmwOAJ2Fc17b"></div>
                                @if (ViewBag.ErrorMessage != null)
                                {
                                    <strong class="text-danger">@ViewBag.ErrorMessage</strong>
                                }
                            </div>
                                </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-success btn-lg rounded-0 px-4">Submit</button>
                        </div>    
                    </form>
                </div>
            </div>
        </div>
    </div>
}
