@model NuIngredient.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    ViewBag.MetaDescription = "Welcome to Office-Groceries Forgot/Reset password page.";
}

<div class="bg-secondary text-white text-center pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Reset Your Password</h1>
                <h2 class="h5">Forgotten your password? Reset it below</h2>
            </div>
        </div>
    </div>
</div>

<div class="bg-white pt-3 pb-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="d-flex">
                    <a class="btn btn-primary mb-3 text-white rounded-0 ml-auto" href="/Account/Login" role="button">Back</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="p-4 mb-2 bg-light text-dark">
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", @placeholder = "Enter Email Address" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-6 ml-auto">
                                <input type="submit" class="btn btn-success btn-lg btn-block rounded-0" value="Email Reset Link" style="width:100%; max-width:none;" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
