@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="bg-secondary text-white text-center pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Reset Your Password</h1>
            </div>
        </div>
    </div>
</div>

<div class="bg-white pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-success text-center mb-4">Your Office-Groceries Password Reset Has Been Received</h2>
                <h3 class="text-primary text-center">Please check your emails and follow the instructions</h3>
                <p class="text-center mt-3 h4">The Office-Groceries Team</p>
            </div>
        </div>
    </div>
</div>
