@using NuIngredient.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in | Office Groceries";
    ViewBag.MetaDescription = "Welcome to Office-Groceries Login page. Simply log in to your bespoke ordering pages to place and amend your orders.";
}
<div class="jumbotron jumbotron-fluid mb-0">

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-md-7 col-lg-5">
                <div>
                    @if (ViewBag.SuccessMessage != null)
                    {
                        <div class="alert alert-success">
                            @ViewBag.SuccessMessage
                        </div>
                    }
                    @if (ViewBag.ErrorMessage != null)
                    {
                        <div class="alert alert-danger">
                            <strong>Error:</strong> @ViewBag.ErrorMessage
                        </div>
                    }
                    @if (ViewBag.ConfirmEmail != null)
                    {
                        using (Html.BeginForm("SendConfirmEmail", "Account", new { email = ViewBag.ConfirmEmail }, FormMethod.Post, null))
                        {
                            @Html.AntiForgeryToken()
                            <div class="alert alert-danger">
                                <strong>Error: </strong>Your account has not been confirmed. Click here to resend confirmation email.&nbsp;&nbsp;<input type="submit" class="btn btn-sm btn-warning" value="Resend" />
                            </div>
                        }
                    }
                </div>
                <div class="p-4 mb-2 bg-light text-dark">
                    <img src="/img/og-logo.svg" width="140" height="50" class="d-inline-block align-top mb-3 mx-auto d-block" alt="" />
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <form>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-lg rounded-0 border-0", @placeholder = "Email Address" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-lg rounded-0 border-0", @placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="d-flex justify-content-between">
                                @Html.ActionLink("Forgot or Reset your Password?", "ForgotPassword", null, new { @class="text-muted" })
                                <div class="form-group form-check">
                                    @Html.CheckBoxFor(m => m.RememberMe, new { @class = "form-check-input" })
                                    @Html.LabelFor(m => m.RememberMe, new { @class = "form-check-label text-muted" })
                                </div>
                            </div>
                            <input type="submit" value="Log in" class="btn btn-primary btn-lg btn-block rounded-0 text-white" />
                        </form>                  
                    }
                </div>
            </div>
        </div>
    </div>
</div>
