@{
    ViewBag.Title = "Your Office-Groceries Account is now Registered";
}

<div class="bg-secondary text-white text-center pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Welcome To Office Groceries</h1>
                <h2 class="h5">Saving you time, money and energy</h2>
            </div>
        </div>
    </div>
</div>

<div class="bg-white pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-success text-center mb-4">Your Office-Groceries Account Is Now Registered</h2>
                <p class="text-center">Thank you for registering your account with Office Groceries. All activated accounts will be communicated via e-mail. To amend or place orders and equally to activate further accounts simply login to your bespoke page on the Office-Groceries.com website.</p>
                <p class="text-center">Please click <a href="/Account/Login">here</a> to log in.</p>
                <p class="text-center">Should you wish to contact us please give us a bell on 0345 463 8863 whereby one of our support managers are on hand to answer any questions you may have.</p>
                <p class="text-center mt-3 h4">The Office-Groceries Team</p>
            </div>
        </div>
    </div>
</div>