@model NuIngredient.Models.RegisterMultiCompanyViewModel
@{
    ViewBag.Title = "Welcome to Office-Groceries";
}

<div class="bg-secondary text-white text-center pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Welcome To Office Groceries</h1>
                <h2 class="h5">Saving you time, money and energy</h2>
            </div>
        </div>
    </div>
</div>

<div class="bg-white pt-3 pb-5">
    <div class="container">
        <div class="row">
            <div class="col">
                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger">
                        <strong>Error:</strong> @ViewBag.ErrorMessage
                    </div>
                }
                <div class="p-4 mb-2 bg-light text-dark">
                    @using (Html.BeginForm("RegisterMultiCompany", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.ProspectToken)
                        @Html.HiddenFor(m => m.UseDeliveryAddrAsBillingAddr)

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                @Html.TextBoxFor(m => m.BusinessName, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", @placeholder="Business Name" })
                                @Html.ValidationMessageFor(m => m.BusinessName, "", new { @class = "text-danger" })
                            </div>
                            
                            <div class="form-group col-md-6">
                                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", @placeholder="Phone Number" })
                                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-6">
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", @placeholder="First Name" })
                                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-6">
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", @placeholder="Last Name" })
                                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-6">
                                @if (string.IsNullOrEmpty(Model.Email))
                                {
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", @placeholder="Email" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", @placeholder="Email", @readonly = "readonly" })
                                }
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-6">
                                @Html.TextBoxFor(m => m.DeliveryInstruction, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", @placeholder="Delivery Instructions" })
                                <label class="m-0"><i>Please bear in mind Milk deliveries are typically pre 7am</i></label><br/>
                                @Html.ValidationMessageFor(m => m.DeliveryInstruction, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-6">
                                @Html.TextBoxFor(m => m.DeliveryAddress, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", @placeholder="Delivery Address" })
                                @Html.ValidationMessageFor(m => m.DeliveryAddress, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-6">
                                @Html.TextBoxFor(m => m.PostCode, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", @placeholder="Postcode" })
                                @Html.ValidationMessageFor(m => m.PostCode, "", new { @class = "text-danger" })
                            </div>
                            <div class="input-billing-addr form-group col-md-6">
                                @Html.TextBoxFor(m => m.BillingCompanyName, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", @placeholder="Billing Company Name" })
                                @Html.ValidationMessageFor(m => m.BillingCompanyName, "", new { @class = "text-danger" })
                            </div>
                            <div class="input-billing-addr form-group col-md-6">
                                @Html.TextBoxFor(m => m.BillingEmail, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", @placeholder="Billing Email" })
                                @Html.ValidationMessageFor(m => m.BillingEmail, "", new { @class = "text-danger" })
                            </div>
                            <div class="input-billing-addr form-group col-md-6">
                                @Html.TextBoxFor(m => m.BillingAddress, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", @placeholder="Billing Address" })
                                @Html.ValidationMessageFor(m => m.BillingAddress, "", new { @class = "text-danger" })
                            </div>
                            <div class="input-billing-addr form-group col-md-6">
                                @Html.TextBoxFor(m => m.BillingPostCode, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", @placeholder="Billing Postcode" })
                                @Html.ValidationMessageFor(m => m.BillingPostCode, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-6">
                                <label><strong>Are you part of a multiple tenanted building?</strong></label>
                                <br />
                                @Html.RadioButtonFor(m => m.IsMultiTenantedBuilding, "True", new { id = "IsMultiTenantedBuilding-Yes" })
                                <label for="IsMultiTenantedBuilding-Yes">Yes</label>
                                @Html.RadioButtonFor(m => m.IsMultiTenantedBuilding, "False", new { id = "IsMultiTenantedBuilding-No" })
                                <label for="IsMultiTenantedBuilding-No">No</label>
                                @Html.ValidationMessageFor(m => m.IsMultiTenantedBuilding, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-6">
                                <label><strong>Does your business have multiple sites throughout the UK?</strong></label>
                                <br />
                                @Html.RadioButtonFor(m => m.HasMultiSites, "True", new { id = "HasMultiSites-Yes" })
                                <label for="HasMultiSites-Yes">Yes</label>
                                @Html.RadioButtonFor(m => m.HasMultiSites, "False", new { id = "HasMultiSites-No" })
                                <label for="HasMultiSites-No">No</label>
                                @Html.ValidationMessageFor(m => m.HasMultiSites, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-6 ml-auto">
                                <script src='https://www.google.com/recaptcha/api.js'></script>
                                <div class="g-recaptcha" data-sitekey="6LevZpYUAAAAAJBIp4CH_Hg6fXUdcmwOAJ2Fc17b"></div>
                            </div>
                            <div class="form-group col-md-6">
                                @Html.TextBoxFor(m => m.Dummy, new { @style = "display:none" })
                                <input type="submit" class="btn btn-success btn-lg btn-block rounded-0" value="Submit" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
