@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="bg-secondary text-white text-center pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Reset Your Password</h1>
            </div>
        </div>
    </div>
</div>

<div class="bg-white pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-success text-center mb-4">Your password has been reset</h2>
                <p class="text-center mt-3 h4">Please click @Html.ActionLink(" here ", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) to log in</p>
            </div>
        </div>
    </div>
</div>