﻿@using NuIngredient.Models
@model ContactUsViewModel
@{
    ViewBag.Title = "Contact";
    
}

@*<div class="backgroundHome" style="width: 100%; height: 100%; position: absolute; left: 0; top:0; ">

</div>*@
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success">
                    @ViewBag.SuccessMessage
                </div>
            }
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <strong>Error:</strong> @ViewBag.ErrorMessage
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3" style="text-align:center;">
            @*<h4 class="white-text">Want to get in touch with us to get more information or ask a question? Use the form below. </h4>*@
        </div>
    </div>
    <div class="row">

        <div class="col-sm-12">
            @*<h3>Office-Groceries</h3>
            <label>43 Church St</label><br />
            <label>Billericay</label><br />
            <label>CM11 2SX</label><br />
            <label>T: 0845 463 8863</label><br />
            <label>E: Orders@office-groceries.com</label><br />
            <hr />
            <iframe width="100%"
                    height="345"
                    frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB3qM2KofPOgsKMq7LOkoMjO_C7aAvKJ74&q=43+Church+Street,Great+Burstead" allowfullscreen></iframe>*@
            @Html.Action("GetHtmlPage", "CMS", new { label = "Contact Details" })
        </div>
        <div class="col-sm-12" style="padding:0;">
            @using (Html.BeginForm("Contact", "Home", null, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="panel" style="max-width: 500px; display: block; margin-left: auto; margin-right: auto; background-color: transparent;">
                    <div class="panel-body-not">
                        <div class="form-horizontal" id="contact-us-form">
                            <div class="form-group">
                                <div class="col-sm-3 control-label"><strong>Message: </strong></div>
                                <div class="col-sm-9">
                                    @Html.TextAreaFor(model => model.Message, 13, 100, new { @class = "form-control", @placeholder = "Enter Message here", @style = "width:100%; max-width:100%" })
                                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="col-sm-3 control-label"><strong>Name: </strong> </span>
                                <div class="col-sm-9">
                                    @Html.Kendo().TextBoxFor(model => model.Name).HtmlAttributes(new { placeholder = "Your Name", style = "max-width:none; width:100%;" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="col-sm-3 control-label"><strong>Email: </strong> </span>
                                <div class="col-sm-9">
                                    @Html.Kendo().TextBoxFor(model => model.Email).HtmlAttributes(new { placeholder = "Email", style = "max-width:none; width:100%;" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 control-label">
                                    <span class="control-label"><strong>Telephone: </strong> </span>
                                </div>
                                <div class="col-sm-9">
                                    @Html.Kendo().TextBoxFor(model => model.Telephone).HtmlAttributes(new { placeholder = "Telephone Number", style = "max-width:none; width:100%;" })
                                </div>
                            </div>
                            <hr />
                            <div style="text-align: center;">
                                <input type="submit" value="Send Message" style="min-width: 50%;" class="btn btn-primary submit" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>
