﻿@{
    ViewBag.Title = "Online Quotation Software";
    
}

<style>
    p {
        font-size: larger;
    }
</style>
<link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
<div style="margin-top: -10px; margin-right: 0; margin-left: 0;">
    <div class="backgroundHome" style="background-image:url(/Content/purple_back.png)">
        <div class="container" style="padding-top: 60px;">
            <div class="row" style="text-align: center; color: white;">

                <div class="col-md-12">
                    <h1 class="hidden-xs" style="font-family: 'Gloria Hallelujah', cursive; color:white;">Create and Manage Quotes and Proposals Quickly and Easily.</h1>
                    <h4 class="visible-xs" style="font-family: 'Gloria Hallelujah', cursive; color:white;">Create and Manage Quotes and Proposals Quickly and Easily.</h4>
                    <br />

                    <a href="//fast.wistia.net/embed/playlists/tkyzlep2ho?loop=true&media_0_0%5BautoPlay%5D=true&media_0_0%5BcontrolsVisibleOnLoad%5D=false&popover=true&version=v1&videoOptions%5BautoPlay%5D=true&videoOptions%5BvideoHeight%5D=720&videoOptions%5BvideoWidth%5D=1280&videoOptions%5BvolumeControl%5D=true" class="wistia-popover[height=720,width=1280]">

                        <img src="/Content/laptop.png" alt="" style="width:100%;  margin-left: auto; margin-right: auto; max-width:600px;" />
                    </a>
                    <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>
                </div>
                <div class="col-md-12">
                    <a class="btn btn-success btn-lg" href="@Url.Action("Register", "Account")">Try for free for one month</a>
                    <br />
                    <label style="color:white">No credit card details required</label>
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>


    <div style="background-color: white;">
        <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1" style="padding-bottom:20px;">
                    <div class="col-sm-7">
                        <h3>Easy to Use</h3>
                        <p>Creating quotes and proposals has never been easier. Office Groceries has simple and easy-to-use screens, which means you and your colleagues will be producing great looking quotations and proposals very quickly.</p>
                    </div>
                    <div class="col-sm-5 hidden-xs">
                        <br />
                        <img style="max-width: 90%; margin-top:10px; display:block; margin:auto;" src="/Content/Versions.png" class="img-thumbnail" />
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div style="background-color: whitesmoke;">
        <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1" style="padding-bottom:20px;">
                    <div class="col-sm-5 hidden-xs">
                        <br />
                        <img style="max-width: 90%; margin-top:20px; display:block; margin:auto;" src="/Content/Easy-To-Use.png" class="img-thumbnail" />
                        <br />
                    </div>
                    <div class="col-sm-7">
                        <h3>Create Quotes Quickly</h3>
                        <p>Creating a quotation, adding products / services, groups of products / services and sending the quotation can all be done in seconds, with just a few mouse clicks.</p>
                        <p>Speed up your quotations’ and proposals’ process by using the products / service list (with prices), the customers’ list and having all the other details you need close to hand in the system.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="background-color: white;">
        <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1" style="padding-bottom:20px;">

                    <h3>Professional Looking Quotes So You Stand out from Your Competitors</h3>
                    <p>Your quotes will have a professional look and feel, including product or services images for each item as well videos and images for the overall quote. The customer portal allows customers to view files in their web browser – such as images or PDF and videos, making your quote stand out from the competition.</p>

                </div>
            </div>
        </div>
    </div>


    <div style="background-color: whitesmoke;">
        <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1" style="padding-bottom:20px;">

                    <h3>Manage All Your Quotes and Proposals in One Place</h3>
                    <p>Rather than searching file locations and directories, Office Groceries puts all your quotes and proposals at your fingertips in one location. Powerful search functionality means you can quickly find the quotation you are searching for. </p>
                    <p>If you have a team of people creating and sending quotations and proposals you can easily track what’s been sent and the results. </p>
                    <p>Quotes can be filtered using creation date, employee or status. </p>

                </div>
            </div>
        </div>
    </div>

    <div style="background-color: white;">
        <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1" style="padding-bottom:20px;">
                    <h3>Remove Duplication and Double Typing</h3>
                    <p>Have one source for your quotations and avoid typing into several different systems. Products / services and customers can be imported from your current systems and spreadsheets.</p>

                </div>
            </div>
        </div>
    </div>


    <div style="background-color: whitesmoke;">
        <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1" style="padding-bottom:20px;">

                    <h3>Follow Up Reminders </h3>
                    <p>You can log your calls to your customers and have the system remind you when to follow up with them. </p>

                </div>
            </div>
        </div>
    </div>


    <div style="background-color: white;">
        <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1" style="padding-bottom:20px;">
                    <h3>Track Your Statistics </h3>
                    <p>See the values, success and failure rates of your quotations and proposals with the reporting tools. </p>

                </div>
            </div>
        </div>
    </div>

    <div style="background-color: whitesmoke;">
        <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1" style="padding-bottom:20px;">
                    <h3>Manage Additional Documents</h3>
                    <p>Office Groceries makes it easy to ensure the documents you need to send every time (such as Terms and Conditions) are attached to each quotation and proposal automatically. </p>
                    <p>You can also send and store documents for the customer for specific quotes.</p>
                </div>
            </div>
        </div>
    </div>


    <div style="background-color: white;">
        <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1" style="padding-bottom:20px;">
                    <h3>Check Your Margins and Discounts before Sending </h3>
                    <p>When you change the sale price of a product or service, the system will immediately calculate and show you the discount to the list price and the revised margin. The margin and discount across the whole quote is also calculated and displayed.  You can see these figures as values or percentages.</p>

                </div>
            </div>
        </div>
    </div>

    <div style="background-color: whitesmoke;">
        <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1" style="padding-bottom:20px;">
                    <h3>See a Demo of Office Groceries with your Products or Services?</h3>
                    <p>
                        Even though it’s really simple to get started on Office Groceries, we know that you just want to see if it will work for you. That’s why we offer to set it up with your products / services and logo ready for you to test.
                        Just send us a list of your products / services, your logo and we’ll get it ready and agree a date and time for an online demo.
                        We will also set you up with a Free 30 day Trial, giving you plenty of time to “have a play” before making a decision.
                        There will be no pressure to subscribe. Call us now on 0800 043 3099 or go to our <a href="Contact.aspx" target="_blank">contact </a>page.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div style="background-color: white;">
        <div class="container" style="padding-top: 30px; padding-bottom: 0px;">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1" style="padding-bottom:20px;">
                    <h3>UK Based </h3>
                    <p>If you want any help, or have any questions about the system we are here to help you, just give us a call on 0800 036 3099. </p>

                </div>
            </div>
        </div>
    </div>

</div>

