﻿@{
    ViewBag.Title = "Logged on another computer?";
}

    <script>
            $(window).load(function () {
                try {
                    if (self != top)
                        parent.location = '/Home/LoginMisuse';
                }
                catch(err){}
            })
    </script>

<div class="container">
    <div class="panel-body">
        <div class="row">
            <div class="col-12-sm">
                <h1>Logged on another computer?</h1>
                <h3>It appears your account is being used on a another computer.</h3>
                <hr />
                <p>It appears your account is being used on a another computer. </p>
                <p>To use your account on this computer, simply <strong><a href="/Account/Login">log in here.</a></strong></p>
            </div>
        </div>
    </div>
</div>