﻿@{
    ViewBag.Title = "Release updates for online quotation system";
    
}
<meta name="description" content="Up to date release information about our online quotation system" />

<link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
<div style="margin-top: -10px; margin-right: 0; margin-left: 0;">
    <div class="backgroundHome">
        <div class="container" style="padding-top: 60px; padding-bottom: 40px;">
            <div class="row" style="text-align: center; color: white;">


                <div class="col-md-12">
                    <h1 class="white-text hidden-xs" style="font-family: 'Gloria Hallelujah', cursive;">Find out about the latest Office Groceries Releases.</h1>
                    <h4 class="white-text hidden-xs">The newest functionality for Office Groceries.</h4>

                    <h3 class="white-text visible-xs" style="font-family: 'Gloria Hallelujah', cursive;">Find out about the latest Office Groceries Releases.</h3>
                    <h4 class="white-text visible-xs">The newest functionality for Office Groceries.</h4>
                </div>

            </div>
        </div>
    </div>

    <div style="background-color: whitesmoke;">
        <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1" style="padding-bottom:20px;">
                    <h3>April 2016</h3>
                    <hr />
                    <p>This release included new functionality based on user feedback. The following was added:</p>
                    <h4>CRM Screens</h4>
                    <ul>
                        <li>Contacts search – you can now search across all your customers for a contact name.</li>
                        <li>Upload documents to for Clients – direct association of documents against a client.</li>
                        <li>Easier to use task screen.</li>
                        <li>Create tasks with both a time and a date, assign the task to a client and then a contact.</li>
                    </ul>

                    <h4>Improved Quote creation</h4>
                    <ul>
                        <li>Add comment items – this will also allow for almost blank lines to be added.</li>
                        <li>Better Product Kit support.</li>
                        <li>Reorder quote line items.</li>
                        <li>Additional Margins and Discount information, including margins expressed as percentages and not just the monetary value.</li>
                        <li>Improved quote PDF template.</li>
                        <li>Default company attachment to all quotes, useful for T&C’s etc.</li>
                    </ul>


                    <h4>General</h4>
                    <ul>
                        <li>Recycle bin for deleted items.</li>
                        <li>Improved and easier to use Currency conversion screen.</li>
                        <li>Improved user hierarchy system.</li>
                        <li>Addition quote settings such as attachment default.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div style="background-color: white;">
        <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1" style="padding-bottom:20px;">
                    <h3>December 2015 </h3>
                    <hr />
                    <h4>Notification Emails to External Parties </h4>
                    <p>
                        When you or your prospect change the status of a quotation, in addition to sending notification emails to internal email addresses,
                        the system can now send notifications to any external parties you have set up. Designed for when you are working on behalf of another company.
                    </p>


                    <h4>Volume Prices</h4>
                    <p>Prices can now be split according to the volumes sold. </p>



                    <h4>Discount Management </h4>
                    <p>The system will prevent a quotation being sent if the discount exceeds a set percentage value. You can set this value and whether you want this option switched on.</p>

                    <h4>Quicker Access to Your Settings</h4>
                    <p>You can now access your company's details from the quotation preview screen.</p>

                    <h4>Employee Hierarchy </h4>
                    <p>Restrict access to quotations based on the teams staff are in. This feature can be switched on or off. </p>
                </div>
            </div>
        </div>
    </div>
</div>

</div>