﻿@model NuIngredient.Models.Services.HtmlSitemapGenerator.SitemapPageViewModel
@{
    ViewBag.Title = "Sitemap";
}

<section id="content-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" id="header-isle-banner">
                <h1>Sitemap</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="margin-top:20px; background-color:white;">
                <div class="row row-equal">
                    @foreach (var entity in Model.Sitemaps)
                    {
                        <div class="col-xs-12 col-sm-4">
                            <ul>
                                <li>
                                    <a href="@entity.Heading.Url">@entity.Heading.Label</a>
                                    @if (entity.SubSitemaps.Count > 0)
                                    {
                                        foreach (var subEntity in entity.SubSitemaps)
                                        {
                                            <ul>
                                                <li><a href="@subEntity.Heading.Url">@subEntity.Heading.Label</a></li>
                                            </ul>
                                        }
                                    }
                                </li>
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>