﻿@model NuIngredient.Models.StaticPageViewModel
@{
    ViewBag.Title = Model.Title;
}

<section id="content-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" id="header-isle-banner">
                <h1>@Model.Title</h1>
                <h2>@Model.Subtitle</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="margin-top:20px; background-color:white;">
                @Html.Raw(@Model.Content)
            </div>
        </div>
    </div>
</section>