﻿@{
    ViewBag.Title = "404";
}

<div class="row">
    <div class="col-sm-6">
        @(Html.Kendo().Grid<NuIngredient.Models.SelectItemViewModel>()
            .Name("GridItems1")
            .Columns(columns =>
            {
                columns.Bound(u => u.ID);
                columns.Bound(u => u.Name);
            })
            .Sortable()
            .DataSource(dataSource => dataSource
                .Ajax()
                .Model(model =>
                {
                    model.Id(t => t.ID);
                    //model.Field(t => t.ImageURL).Editable(false).Editable(false);
                    model.Field(t => t.ID).Editable(false);
                    model.Field(t => t.Name).Editable(false);
                })
                .Read(read => read.Action("ReadTest", "Home"))
            )
        )
    </div>

    <div class="col-sm-6">
        @(Html.Kendo().Grid<NuIngredient.Models.SelectItemViewModel>()
            .Name("GridItems2")
            .Columns(columns =>
            {
                columns.Bound(u => u.ID);
                columns.Bound(u => u.Name);
            })
            .Sortable()
            .DataSource(dataSource => dataSource
                .Ajax()
                .Model(model =>
                {
                    model.Id(t => t.ID);
                    //model.Field(t => t.ImageURL).Editable(false).Editable(false);
                    model.Field(t => t.ID).Editable(false);
                    model.Field(t => t.Name).Editable(false);
                })
                .Read(read => read.Action("ReadTest", "Home"))
            )
        )
    </div>
</div>


@*@(Html.Kendo().Sortable()
        //.ConnectWith(string.Join(", ", Model.Sections.Select(s => string.Format("#GridItems{0}", s.ID)).ToList()))
        .ConnectWith(".k-grid table")
        //.For(string.Format("#GridItems{0}", section.ID))
        //.For(string.Join(", ", Model.Sections.Select(s => string.Format("#GridItems{0}", s.ID)).ToList()))
        //.Filter("table > tbody >tr:not('.k-grid-edit-row')")
        .Cursor("move")
        .HintHandler("noHint")
        .PlaceholderHandler("placeholder")
        //.ContainerSelector(string.Format("#GridItems{0} tr", section.ID))
        //.ContainerSelector(string.Join(", ", Model.Sections.Select(s => string.Format("#GridItems{0}", s.ID)).ToList()))
        .Events(events => events.Change("OnGridItemsSortChange"))
)

@(Html.Kendo().Tooltip()
        .For("#agglomerations")
        .Filter("span")
        .Position(TooltipPosition.Top)
        .Width(120)
)*@

<script>

    $(".k-grid table").kendoSortable({
        connectWith: '.k-grid table',
        filter: ">tbody >tr",
        disabled: ".no-drag", //do not allow transferring the no records row
        hint: $.noop,
        cursor: "move",
        placeholder: function (element) {
            return element.clone().addClass("k-state-hover").css("opacity", 0.65);
        },
        change: function (e) { //change event handler implementation may differ according to the scenario
            var grid = this.element.closest(".k-grid").data("kendoGrid");
            var skip = grid.dataSource.skip();
            var oldIndex = e.oldIndex + skip;
            var newIndex = e.newIndex + skip;

            if (e.action == "remove") {
                dataItem = grid.dataSource.getByUid(e.item.data("uid"));
                grid.dataSource.remove(dataItem);
            } else if (e.action == "receive" && dataItem != null) {
                grid.dataSource.insert(newIndex, dataItem);
                dataItem = null;
            } else if (e.action == "sort") {
                dataItem = grid.dataSource.getByUid(e.item.data("uid"));

                grid.dataSource.remove(dataItem);
                grid.dataSource.insert(newIndex, dataItem);
            }

            grid.saveChanges();
        }
    });

</script>