﻿@model NuIngredient.Models.CompanyViewModel

<div id="divEditCustomerDetails">
    <div class="col-sm-12">
        @using (Ajax.BeginForm("_EditCustomerDetails", "CustomerSettings", null, new AjaxOptions { UpdateTargetId = "divEditCustomerDetails", OnSuccess = "OnEditDetailSuccess" }, new { id = "EditCompanyForm", method = "post" }))
        {
            @Html.AntiForgeryToken()
            //@Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)
            <div class="row">
                <div class="col-sm-9">
                    <h2>Edit Delivery Details</h2>
                </div>
                <div class="col-sm-3">
                    <br />
                    <a class="btn btn-sm btn-default" onclick="HideViews(); return false;" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
                </div>
            </div>
            <div class="row">   
                <div class="col-sm-12"><br /></div>   
                    
                <div class="col-sm-4">
                    <label>Name:</label>
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @style = "margin-bottom:10px;" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "margin-bottom:10px;" })
                </div>
                <div class="col-sm-2">
                    <label>Sign up date:</label> <br />
                    <div style="margin-top:5px">@Model.SignupDate.ToString("dd/MM/yyyy")</div>
                </div>
                <div class="col-sm-12">
                    <br />
                </div>

                <div class="col-sm-8">
                    <label>Delivery Address:</label>
                    @Html.TextBoxFor(model => model.Address1, new { @class = "form-control", @style = "margin-bottom: 10px; max-width:none;" })
                </div>
                <div class="col-sm-4">
                    <label>Post code:</label>
                    @Html.TextBoxFor(model => model.Postcode, new { @class = "form-control", @style = "margin-bottom: 10px;" })
                </div>
                <div class="col-sm-12">
                    <br />
                </div>

                <div class="col-sm-4">
                    <label>Email:</label>
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @style = "margin-bottom: 10px;" })
                </div>
                <div class="col-sm-4">
                    <label>Telephone:</label>
                    @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control", @style = "margin-bottom: 10px;" })
                </div>

                <div class="col-sm-12">
                    <br />
                </div>

                <div class="col-sm-12">
                    <label>Delivery Instruction:</label>
                    @Html.TextBoxFor(model => model.DeliveryInstruction, new { @class = "form-control", @style = "margin-bottom: 10px; max-width:none;" })
                </div>
                <div class="col-sm-12">
                    <br />
                </div>

                <div class="col-sm-12">
                    <hr />
                    <input type="submit" value="Save Details" class="btn btn-inverse">
                    @if (ViewBag.Saved != null)
                    {
                        <label id="l_Saved"><strong>Details Saved!</strong></label>
                        <script>
                            setTimeout(function () { $("#l_Saved").css("display", "none"); }, 2000);
                        </script>

                    }
                </div>

            </div>

        }

    </div>
</div>

<script>
    function OnEditDetailSuccess(response) {
        $("#Edit_Body").html(response);
    }
</script>