﻿@{
    ViewBag.Title = "Fruit";
}


<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-xs-6">
            <br />
            <div class="btn-group" style="float:right; margin-right:3px;">
            </div> 
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>


        <div id="divEdit" class="col-sm-12" style="display:none">
            <div class="form-group" role="group" aria-label="...">
            </div>
        </div>

        <div class="col-sm-12">
            <div style="display:inline-block; width:230px; vertical-align:top; ">
                @*This Panel below holds all the search filters for the Page*@
                <div class="panel panel-default" style="background-color:initial;">
                    <div class="panel-body">
                        @*<a id="Btn_ShowCompleted" class="btn btn-info" onclick="ToggleCompleted();" style="width:100%; text-align:left; margin-bottom:3px;"><span id="Span_ShowCompleted" class="glyphicon glyphicon-unchecked"></span>&nbsp;&nbsp;Show Completed</a>
                        <hr />*@
                        @(Html.Kendo().DropDownList()
                          .Name("DropDownCompanies")
                          .OptionLabel("All Customers")
                          .DataTextField("Name")
                          .DataValueField("ID")
                          .Filter(FilterType.Contains)
                          .DataSource(dataSource => dataSource.Read(read => read.Action("DropDownCompanies", "Companies")))
                          .Events(events => events.Change("Refresh"))
                          .HtmlAttributes(new { @style = "width: 200px;" })
                        )
                        <hr />
                        @(Html.Kendo().DropDownList()
                            .Name("DropDownDate")
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .Events(e => e.Change("DateChanged"))
                            .BindTo(new List<SelectListItem>() {
                                        //new SelectListItem() { Text = "All Reports", Value = "0"},
                                        new SelectListItem() { Text = "This Month", Value = "1"},
                                        new SelectListItem() { Text = "Last Month", Value = "2"},
                                        new SelectListItem() { Text = "Custom Range", Value = "3"},
                            })
                            .Value("0")
                            .HtmlAttributes(new { style = "width: 100%" })
                        )
                        <div id="div_CustomDateRange" style="display: none;">
                            <hr />
                            <table>
                                <tr>
                                    <td style="width:50px"><label>From:</label></td>
                                    <td style="padding-bottom:5px;">
                                        @(Html.Kendo().DatePicker()
                                              .Name("DateFrom")
                                              .HtmlAttributes(new { style = "width: 100%" })
                                              .Value(DateTime.Today.ToString("dd/MM/yyyy"))
                                              .Events(e => { e.Close("Refresh"); })
                                        )
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>To:</label></td>
                                    <td style="padding-bottom:5px;">
                                        @(Html.Kendo().DatePicker()
                                              .Name("DateTo")
                                              .HtmlAttributes(new { style = "width: 100%" })
                                              .Value(DateTime.Today.ToString("dd/MM/yyyy"))
                                              .Events(e => { e.Close("Refresh"); })
                                        )
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display:inline-block; padding-left:5px; width:calc(100% - 235px)">
                        @(Html.Kendo().Grid<NuIngredient.Models.ReportFruitViewModel>()
                          .Name("GridFruitReport")
                          .Columns(columns =>
                          {
                              columns.Bound(f => f.AccountNo).Title("Acc. / Company").HeaderHtmlAttributes(new { @style = "vertical-align: middle;"});
                              columns.Bound(f => f.ProductName).Title("Product").HeaderHtmlAttributes(new { @style = "vertical-align: middle;" });
                              columns.Bound(f => f.TotalQty).Title("Quantity (units)").HeaderHtmlAttributes(new { @style = "vertical-align: middle;" });
                              columns.Bound(f => f.Total).Title("Invoice Turnover").ClientTemplate("#=kendo.toString(Total, 'C')#").HeaderHtmlAttributes(new { @style = "vertical-align: middle;" });
                              columns.Bound(f => f.Credit).Title("credits / changes <br />(+ or -)").HeaderHtmlAttributes(new { @style = "vertical-align: middle; text-align: center;" });
                          })
                          .ToolBar(tools => tools.Template("<a class='k-button k-button-icontext' onclick='ExportCSV()' href='#'><span class ='glyphicon glyphicon-export'></span> Export to CSV</a>"))
                          .Editable(editable => editable.CreateAt(GridInsertRowPosition.Bottom))
                          .DataSource(dataSource => dataSource
                                  .Ajax()
                                  .Model(m => m.Id(Model => Model.ID))
                                  .Read(read => read.Action("ReadFruit", "Reports").Data("GetSearchInfo"))
                                  .PageSize(20)
                          )
                          .Pageable(p => p.PageSizes(new[] { 10, 20, 50 }).Messages(m => m.Display("{0} - {1} of {2} Reports").Empty("No Reports Found")))
                          .Events(events => events.DataBound("KendoGridDatabound"))
                        )
            </div>
        </div>
    </div>
</div>

<style>
    .div-inline {         
        overflow: hidden;
        white-space: nowrap;
        text-align:center;
        align-items:center;
    }
</style>

<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_Edit" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 800px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="Edit_Body"></div>
    </div>
</div>

  <!-- Modal -->
<div class="modal fade" id="Modal" role="dialog" style="z-index:2000">
    <div class="modal-dialog" style="width:400px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center;">Supplier</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<script>

    function Refresh() {
        $("#GridFruitReport").data("kendoGrid").dataSource.read();
    }

    function GetSearchInfo() {
        return {
            //filterText: $('#TB_Filter').val(),
            companyID: $('#DropDownCompanies').val(),
            dateType: $('#DropDownDate').val(),
            fromDate: kendo.toString($("#DateFrom").data("kendoDatePicker").value(), 'dd/MM/yyyy'),
            toDate: kendo.toString($("#DateTo").data("kendoDatePicker").value(), 'dd/MM/yyyy'),
            showCompleted: $('#Span_ShowCompleted').hasClass('glyphicon-check')
        }
    }

    $("#TB_Filter").keyup(function (e) {
            Refresh();
    });

    function HideViews() {
        $("#SlideContent_Edit").animate({ width: '0%' }, { queue: false, duration: 300 });
        setTimeout(function () {
            $("#SlideContent_Edit").css("display", "none");
            $("#Button_Close_Content").css("display", "none");
            Refresh();
        }, 300);
    }

    function DateChanged() {
        var id = $("#DropDownDate").data("kendoDropDownList").value();

        if (id == 3) { $("#div_CustomDateRange").show(); }
        else { $("#div_CustomDateRange").hide(); }

        Refresh();
    }

    function ToggleCompleted() {
        $('#Span_ShowCompleted').toggleClass('glyphicon-check glyphicon-unchecked');
        Refresh();
    }

    function ExportCSV() {
        var data = GetSearchInfo();
        window.location.assign('@Url.Action("ExportfruitCSV", "Reports")?dateType=' + data.dateType + "&fromDate=" + TryGetFromDate() + "&toDate=" + TryGetToDate() + "&companyID=" + data.companyID);
    }

    function TryGetFromDate() {
        try {
            return GetFromDate();
        } catch (e) {
            return "";
        }
    }

    function GetFromDate() {
        var date = $("#DateFrom").data("kendoDatePicker").value();
        var year = date.getFullYear();
        var month = date.getMonth() - (-1);
        var date = date.getDate();
        return year + "/" + month + "/" + date;
    }

    function TryGetToDate() {
        try {
            return GetToDate();
        } catch (e) {
            return "";
        }
    }

    function GetToDate() {
        var date = $("#DateTo").data("kendoDatePicker").value();
        var year = date.getFullYear();
        var month = date.getMonth() - (-1);
        var date = date.getDate();
        return year + "/" + month + "/" + date;
    }
</script>