﻿@{
    ViewBag.Title = "Intermittent Delivery - Next Week";
}


<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-xs-6">
            <br />
            <div class="btn-group" style="float:right; margin-right:3px;">
                @*<button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-cloud-upload"></span>&nbsp;Import <span class="caret"></span>
                </button>*@
            </div> 
            @*<a class="btn btn-danger" style="float:right; margin-right:3px;" href="/Products/Deleted/"><span class="glyphicon glyphicon-trash"></span> &nbsp;Deleted Milk</a>*@
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>


        <div id="divEdit" class="col-sm-12" style="display:none">
            <div class="form-group" role="group" aria-label="...">
            </div>
        </div>

        <div class="col-sm-12">
            <strong class="text-danger">*Updated at 7:00am every monday </strong>

            @(Html.Kendo().Grid<NuIngredient.Models.ReportIntermittentNextWeekViewModel>()
                .Name("GridFirstDeliveryDateReport")
                .Columns(columns =>
                {
                    columns.Bound(f => f.Supplier).Title("Supplier");
                    columns.Bound(f => f.SupplierEmail).Title("Supplier Email");
                    columns.Bound(f => f.SupplierTelephone).Title("Supplier Tel.");
                    columns.Bound(f => f.AccountNumber).Title("Account Number");
                    columns.Bound(c => c.CompanyName).Title("Customer Name").ClientTemplate("<a href='/Companies/Index/#=CompanyID#' target='_blank'>#=CompanyName#</a>");
                    columns.Bound(f => f.CompanyPostcode).Title("Postcode");
                    columns.Bound(f => f.WeekStartDate).Format("{0: dd/MM/yyyy}");
                })
                .ToolBar(tools => tools.Template("<a class='k-button k-button-icontext' onclick='ExportCSV()' href='#'><span class ='glyphicon glyphicon-export'></span> Export to CSV</a>"))
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Read(read => read.Action("Read", "ReportIntermittentNextWeek"))
                    .PageSize(500)
                )
                .Sortable()
                .Pageable(p => p.Messages(m => m.Display("{0} - {1} of {2} Records").Empty("No Records Found")))
                .Events(events => events.DataBound("KendoGridDatabound"))
                )
        </div>
    </div>
</div>

<style>
    .div-inline {         
        overflow: hidden;
        white-space: nowrap;
        text-align:center;
        align-items:center;
    }
</style>

<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_Edit" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 800px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="Edit_Body"></div>
    </div>
</div>

  <!-- Modal -->
<div class="modal fade" id="Modal" role="dialog" style="z-index:2000">
    <div class="modal-dialog" style="width:400px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center;">Supplier</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<script>

    function Refresh() {
        $("#GridFirstDeliveryDateReport").data("kendoGrid").dataSource.read();
    }

    function ExportCSV() {
        window.location.assign('@Url.Action("ExportCSV", "ReportIntermittentNextWeek")');
    }

</script>