﻿@{
    ViewBag.Title = "Milk One Off Order Updates";
}


<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-xs-6">
            <br />
            <div class="btn-group" style="float:right; margin-right:3px;">
                @*<button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-cloud-upload"></span>&nbsp;Import <span class="caret"></span>
                </button>*@
            </div> 
            @*<a class="btn btn-danger" style="float:right; margin-right:3px;" href="/Products/Deleted/"><span class="glyphicon glyphicon-trash"></span> &nbsp;Deleted Milk</a>*@
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>


        <div id="divEdit" class="col-sm-12" style="display:none">
            <div class="form-group" role="group" aria-label="...">
            </div>
        </div>

        <div class="col-sm-12">
            <div style="display:inline-block; width:230px; vertical-align:top; ">
                @*This Panel below holds all the search filters for the Page*@
                <div class="panel panel-default" style="background-color:initial;">
                    <div class="panel-body">
                        @*<a id="Btn_ShowCompleted" class="btn btn-info" onclick="ToggleCompleted();" style="width:100%; text-align:left; margin-bottom:3px;"><span id="Span_ShowCompleted" class="glyphicon glyphicon-unchecked"></span>&nbsp;&nbsp;Show Completed</a>
                        <hr />*@
                        @(Html.Kendo().DropDownList()
                          .Name("DropDownCompanies")
                          .OptionLabel("All Customers")
                          .DataTextField("Name")
                          .DataValueField("ID")
                          .Filter(FilterType.Contains)
                          .DataSource(dataSource => dataSource.Read(read => read.Action("DropDownCompanies", "Companies")))
                          .Events(events => events.Change("Refresh"))
                          .HtmlAttributes(new { @style = "width: 200px;" })
                        )
                        <hr />
                        <table>
                            <tr>
                                <td style="width:50px"><label>From:</label></td>
                                <td style="padding-bottom:5px;">
                                    @(Html.Kendo().DatePicker()
                                            .Name("DateFrom")
                                            .HtmlAttributes(new { style = "width: 100%" })
                                            .Value(DateTime.Today.StartOfWeek(DayOfWeek.Monday).ToString("dd/MM/yyyy"))
                                            .Events(e => { e.Close("DateChange"); })
                                            .DisableDates(new DayOfWeek[] { DayOfWeek.Tuesday, DayOfWeek.Wednesday, DayOfWeek.Thursday, DayOfWeek.Friday, DayOfWeek.Saturday, DayOfWeek.Sunday })
                                    )
                                </td>
                            </tr>
                            <tr>
                                <td><label>To:</label></td>
                                <td style="padding-bottom:5px;">
                                    @(Html.Kendo().DatePicker()
                                            .Name("DateTo")
                                            .HtmlAttributes(new { style = "width: 100%" })
                                            .Value(DateTime.Today.StartOfWeek(DayOfWeek.Monday).AddDays(6).ToString("dd/MM/yyyy"))
                                            .Events(e => { e.Close("Refresh"); })
                                            .Enable(false)
                                    )
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div style="display:inline-block; padding-left:5px; width:calc(100% - 235px)">
                        @(Html.Kendo().Grid<NuIngredient.Models.ReportFruitStandingGridViewModel>()
                          .Name("GridMilkReport")
                          .Columns(columns =>
                          {
                              columns.Bound(f => f.Supplier).Title("Supplier");
                              columns.Bound(f => f.AccountNumber).Title("Account Number");
                              columns.Bound(f => f.CompanyName).Title("Company Name");
                              columns.Bound(f => f.ProductNameCode).Title("Product (Code)");
                              columns.Bound(f => f.Mon);
                              columns.Bound(f => f.Tues);
                              columns.Bound(f => f.Wed);
                              columns.Bound(f => f.Thurs);
                              columns.Bound(f => f.Fri);
                              columns.Bound(f => f.Sat);
                          })
                          .ToolBar(tools => tools.Template("<a class='k-button k-button-icontext' onclick='ExportCSV()' href='#'><span class ='glyphicon glyphicon-export'></span> Export to CSV</a>"))
                          .Editable(editable => editable.CreateAt(GridInsertRowPosition.Bottom))
                          .DataSource(dataSource => dataSource
                                  .Ajax()
                                  .Model(m => m.Id(Model => Model.ID))
                                  .Read(read => read.Action("ReadMilkOneOff", "MilkReports").Data("GetSearchInfo"))
                                  .PageSize(20)
                          )
                          .Pageable(p => p.PageSizes(new[] { 10, 20, 50 }).Messages(m => m.Display("{0} - {1} of {2} Reports").Empty("No Reports Found")))
                          .Events(events => events.DataBound("KendoGridDatabound"))
                        )
            </div>
        </div>
    </div>
</div>

<style>
    .div-inline {         
        overflow: hidden;
        white-space: nowrap;
        text-align:center;
        align-items:center;
    }
</style>

<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_Edit" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 800px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="Edit_Body"></div>
    </div>
</div>

  <!-- Modal -->
<div class="modal fade" id="Modal" role="dialog" style="z-index:2000">
    <div class="modal-dialog" style="width:400px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center;">Supplier</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<script>

    function Refresh() {
        $("#GridMilkReport").data("kendoGrid").dataSource.read();
    }

    function GetSearchInfo() {
        return {
            //filterText: $('#TB_Filter').val(),
            companyID: $('#DropDownCompanies').val(),
            fromDate: kendo.toString($("#DateFrom").data("kendoDatePicker").value(), 'dd/MM/yyyy'),
            toDate: kendo.toString($("#DateTo").data("kendoDatePicker").value(), 'dd/MM/yyyy')
        }
    }

    $("#TB_Filter").keyup(function (e) {
            Refresh();
    });

    function DateChange() {
        var dateFrom = $("#DateFrom").data("kendoDatePicker").value();
        var dateTo = new Date(dateFrom.getFullYear(), dateFrom.getMonth(), dateFrom.getDate() + 6);
        $('#DateTo').data('kendoDatePicker').value(kendo.toString(dateTo, 'dd/MM/yyyy'));

        Refresh();
    }

    function ExportCSV() {
        var data = GetSearchInfo();
        data.fromDate = kendo.toString($("#DateFrom").data("kendoDatePicker").value(), 'MM/dd/yyyy');
        data.toDate = kendo.toString($("#DateTo").data("kendoDatePicker").value(), 'MM/dd/yyyy');
        window.location.assign('@Url.Action("ExportMilkOneOffCSV", "MilkReports")?companyID=' + data.companyID + '&fromDate=' + data.fromDate + '&toDate=' + data.toDate);
    }



</script>