﻿@{
    ViewBag.Title = "Performance Report";
}


<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-xs-6">
            <br />
            <div class="btn-group" style="float:right; margin-right:3px;">
                @*<button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-cloud-upload"></span>&nbsp;Import <span class="caret"></span>
                </button>*@
            </div> 
            @*<a class="btn btn-danger" style="float:right; margin-right:3px;" href="/Products/Deleted/"><span class="glyphicon glyphicon-trash"></span> &nbsp;Deleted Milk</a>*@
        </div>
        @*<div class="col-xs-12">
            <br />
        </div>
        <div class="col-xs-6">

        </div>
        <div class="col-xs-2">
            <br />
        </div>
        <div class="col-xs-4">
            <div class="input-group">
                @Html.TextBox("TB_Filter", null, new { @class = "form-control", @style = "max-width:none;", @placeholder = "Search by Customer, User, or Message" })
                <span class="input-group-btn">
                    <a class="btn btn-default" onclick="Refresh(); return false;"><span class="glyphicon glyphicon-search"></span></a>
                </span>
            </div>
        </div>*@
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>


        <div id="divEdit" class="col-sm-12" style="display:none">
            <div class="form-group" role="group" aria-label="...">
            </div>
        </div>

        <div class="col-sm-12">
            <div style="display:inline-block; width:230px; vertical-align:top; ">
                @*This Panel below holds all the search filters for the Page*@
                <div class="panel panel-default" style="background-color:initial;">
                    <div class="panel-body">
                        @*<a id="Btn_ShowCompleted" class="btn btn-info" onclick="ToggleCompleted();" style="width:100%; text-align:left; margin-bottom:3px;"><span id="Span_ShowCompleted" class="glyphicon glyphicon-unchecked"></span>&nbsp;&nbsp;Show Completed</a>
                        <hr />*@
                        @(Html.Kendo().DropDownList()
                            .Name("DropDownDate")
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .Events(e => e.Change("DateChanged"))
                            .BindTo(new List<SelectListItem>() {
                                        //new SelectListItem() { Text = "All Reports", Value = "0"},
                                        new SelectListItem() { Text = "This Month", Value = "1"},
                                        new SelectListItem() { Text = "Last Month", Value = "2"},
                                        new SelectListItem() { Text = "Custom Range", Value = "3"},
                            })
                            .Value("0")
                            .HtmlAttributes(new { style = "width: 100%" })
                        )
                        <div id="div_CustomDateRange" style="display: none;">
                            <hr />
                            <table>
                                <tr>
                                    <td style="width:50px"><label>From:</label></td>
                                    <td style="padding-bottom:5px;">
                                        @(Html.Kendo().DatePicker()
                                              .Name("DateFrom")
                                              .HtmlAttributes(new { style = "width: 100%" })
                                              .Value(DateTime.Today.ToString("dd/MM/yyyy"))
                                        )
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>To:</label></td>
                                    <td style="padding-bottom:5px;">
                                        @(Html.Kendo().DatePicker()
                                              .Name("DateTo")
                                              .HtmlAttributes(new { style = "width: 100%" })
                                              .Value(DateTime.Today.ToString("dd/MM/yyyy"))
                                        )
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <hr/>
                        <div class="btn btn-info btn-block" onclick="Refresh()">Search</div>

                    </div>
                </div>
            </div>
            <div id="performance-report-section" style="display:inline-block; padding-left:5px; width:calc(100% - 235px)"></div>
        </div>
    </div>
</div>

<style>
    .div-inline {         
        overflow: hidden;
        white-space: nowrap;
        text-align:center;
        align-items:center;
    }
</style>

<script>

    $(document).ready(function (){
        Refresh();
    })

    function Refresh() {
        const info = GetSearchInfo();
        let parameter = `dateType=${info.dateType}&fromDate=${info.fromDate}&toDate=${info.toDate}`;
        $("#performance-report-section").html("<img src='/Content/fancybox/fancybox_loading@2x.gif' />loading...");
        $("#performance-report-section").load(`/PerformanceReport?${parameter}`);
    }

    function GetSearchInfo() {
        return {
            dateType: $('#DropDownDate').val(),
            fromDate: kendo.toString($("#DateFrom").data("kendoDatePicker").value(), 'yyyy/MM/dd'),
            toDate: kendo.toString($("#DateTo").data("kendoDatePicker").value(), 'yyyy/MM/dd')
        }
    }

    function DateChanged() {
        var id = $("#DropDownDate").data("kendoDropDownList").value();

        if (id == 3) { $("#div_CustomDateRange").show(); }
        else { $("#div_CustomDateRange").hide(); }

        // Refresh();
    }

</script>