﻿@{
    ViewBag.Title = "Po Number";
}


<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-xs-6">
            <br />
            <div class="btn-group" style="float:right; margin-right:3px;">
            </div> 
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>

        <div id="divEdit" class="col-sm-12" style="display:none">
            <div class="form-group" role="group" aria-label="...">
            </div>
        </div>

        <div class="col-sm-12">
            <div style="display:inline-block; width:230px; vertical-align:top; ">
                @*This Panel below holds all the search filters for the Page*@
                <div class="panel panel-default" style="background-color:initial;">
                    <div class="panel-body">
                        @(Html.Kendo().DropDownList()
                          .Name("DropDownCompanies")
                          .OptionLabel("All Customers")
                          .DataTextField("Name")
                          .DataValueField("ID")
                          .Filter(FilterType.Contains)
                          .DataSource(dataSource => dataSource.Read(read => read.Action("DropDownCompanies", "Companies")))
                          .Events(events => events.Change("Refresh"))
                            .Virtual(true)
                          .HtmlAttributes(new { @style = "width: 200px;" })
                        )
                    </div>
                </div>
            </div>
            <div style="display:inline-block; padding-left:5px; width:calc(100% - 235px)">
                        @(Html.Kendo().Grid<NuIngredient.Models.MonthlyPoNumberReportVm>()
                          .Name("GridMilkReport")
                          .Columns(columns =>
                          {
                              columns.Bound(f => f.CompanyName).Title("Company Name").HeaderHtmlAttributes(new { @style = "vertical-align: middle;"});
                              columns.Bound(f => f.InvoiceMonth).Title("Invoice Month").Format("{0:yyyy-MM}").HeaderHtmlAttributes(new { @style = "vertical-align: middle;"});
                              columns.Bound(f => f.InvoiceNumber).Title("Invoice Number").HeaderHtmlAttributes(new { @style = "vertical-align: middle;"});
                              columns.Bound(f => f.InvoiceAmount).Title("Invoice Amount").HeaderHtmlAttributes(new { @style = "vertical-align: middle;" });
                              columns.Bound(f => f.PoNumber).Title("Po Number").HeaderHtmlAttributes(new { @style = "vertical-align: middle;" });
                          })
                          .ToolBar(tools =>
                          {
                              tools.Template("<a class='k-button k-button-icontext' onclick='ExportCSV(false)' href='#'><span class ='glyphicon glyphicon-export'></span> Export All</a><a class='k-button k-button-icontext' onclick='ExportCSV(true)' href='#'><span class ='glyphicon glyphicon-export'></span> Export new PO only</a>");
                          })
                          .DataSource(dataSource => dataSource
                                  .Ajax()
                                  .Read(read => read.Action("Read", "PoNumberReports").Data("GetSearchInfo"))
                                  .PageSize(20)
                          )
                          .Pageable(p => p.PageSizes(new[] { 10, 20, 50 }).Messages(m => m.Display("{0} - {1} of {2} Reports").Empty("No Reports Found")))
                          .Events(events => events.DataBound("KendoGridDatabound"))
                        )
            </div>
        </div>
    </div>
</div>

<style>
    .div-inline {         
        overflow: hidden;
        white-space: nowrap;
        text-align:center;
        align-items:center;
    }
</style>

<script>

    function Refresh() {
        $("#GridMilkReport").data("kendoGrid").dataSource.read();
    }

    function GetSearchInfo() {
        return {
            companyID: $('#DropDownCompanies').val(),
        }
    }

    function ExportCSV(onlyNew) {
        const data = GetSearchInfo();
        window.location.assign('@Url.Action("Export", "PoNumberReports")' + "?companyID=" + data.companyID + "&onlyNew=" + onlyNew);
    }

</script>