﻿@{
    ViewBag.Title = "Zero Fruit Orders";
}


<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>

        <div class="col-sm-12">
            <div style="display:inline-block; padding-left:5px; width:100%">
                        @(Html.Kendo().Grid<NuIngredient.Models.ReportZeroOrderViewModel>()
                          .Name("GridFruitReport")
                          .Columns(columns =>
                          {
                              columns.Bound(f => f.CompanyName).Title("Company Name");
                              columns.Bound(f => f.AccountNumber).Title("Account Number");
                              columns.Bound(f => f.SupplierName).Title("Supplier");
                          })
                            .Sortable()
                          .ToolBar(tools => tools.Excel())//.Template("<a class='k-button k-button-icontext' onclick='ExportCSV()' href='#'><span class ='glyphicon glyphicon-export'></span> Export to CSV</a>"))
                          .Excel(excel => excel.AllPages(true).FileName("Zero Milk Order Customers.xlsx"))
                          .Editable(editable => editable.CreateAt(GridInsertRowPosition.Bottom))
                          .DataSource(dataSource => dataSource
                                .Ajax().ServerOperation(false)
                                .Model(m => m.Id("CompanyName"))
                                .Read(read => read.Action("Read", "ReportZeroFruitOrders"))
                                .PageSize(20)
                                .Sort(sort => sort.Add(m => m.CompanyName))
                          )
                            .Pageable(p => p.PageSizes(new[] { 10, 20, 50 }).Messages(m => m.Display("{0} - {1} of {2} Reports").Empty("No Reports Found")))
                          .Events(events => events.DataBound("KendoGridDatabound"))
                        )
            </div>
        </div>
    </div>
</div>

<script>

    function Refresh() {
        $("#GridFruitReport").data("kendoGrid").dataSource.read();
    }

</script>