﻿
/* Revised styles for SNAP-Suite */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600;
}

strong, .strong {
    font-weight: 600;
}

b, .b{
    font-weight: 700;
}

label {
    font-weight: 600;
}

.navbar-inverse {
    background-image: linear-gradient(rgba(255,255,255,0.12), rgba(255,255,255,0));
}

.k-grid-header .k-header > .k-link {
    font-weight: 600;
    font-size: 12px;
    color: #666;
}

.k-grid {
    /*font-size: 12.5px;*/
}

.k-grid-header th.k-header {
    /*text-align: center;*/
}



.shaded-cell {
    background-color: #eee;
}

.k-grid tr td, .k-grid-header th.k-header {
    /*border: none;*/
    border-color: #ddd;
}

.k-grid-header th.k-header {
    /*background-color: #f2f2f2;*/
    background-color: #eee;
}

.k-grid {
    /*border: none;*/
    border-color: #ddd;
}

.glyphicon-btn {
    color:#777777; 
    font-size:large;
    margin-left:3px;
    margin-right:3px;
}

.k-tabstrip .k-content.k-state-active, .k-tabstrip .k-content *{
    overflow:visible;
}


.k-grid td > .form-control .input-sm, .k-grid td > .form-control {
    max-width:none; 
    width:100%; 
    padding:0px;
    margin:0;
}

.k-numeric-wrap .k-input {
    height:28px;
}

.k-numeric-wrap .k-link {
    margin-top:2px;
}


.k-widget > .form-control {
    -webkit-box-sizing: border-box;
    box-sizing:border-box; 
}