body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.btn-background {

    position: fixed; 
    overflow:no-display; 
    margin: 0; 
    top: 0; 
    bottom:0; 
    right: 0; 
    left:0;
    min-height: 100%; 
    min-width: 100%;
    background-color:black;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.btn-loading {
    position: fixed; 
    overflow:no-display; 
    margin: 0; 
    top: 0; 
    bottom:0; 
    right: 0; 
    left:0;
    min-height: 100%; 
    min-width: 100%;
    background-color:black;
    opacity: 0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
}


.div-inline {         
        overflow: hidden;
        white-space: nowrap;
        text-align:center;
        align-items:center;
    }


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F0F1F4
}


.wrapper{
    min-height:100%; 
    position:relative;
}

.header{
    padding:25px;
}

.content{
padding-top: 0px;
    padding-bottom:300px; 
    /*height:calc(100% - 160px);*/
}

.wrapper-content {
	padding: 20px;
	padding-top: 0;
	min-height: calc(100% - 107px);
	margin: 0 auto -200px;
}

.footer {
    width: 100%;
    position: initial;
    bottom: 0;
    left: 0;
    color: white;
    background-color: #565656;
	font-size:14px;
}

.footer, .footer-push {
	height: 200px;
}

.container{
    width:inherit;
    /* max-width:1700px; */
}

#menu ul{
  list-style: none; 
  margin-left:-40px;
  color:white;
}

#menu ul a:link {
    color:white;
}

#menu ul a:visited { 
     color:white;
}

#menu li{
  display: inline;
 color:white;
}

#menu li + li::before {
    content: " • ";
    padding: 0 6px;
    color: white; 
}

.white-text {
    color:white;
}


/* Customise the appearance of the 'No Data Template' for Kendo Dropdownlists */
.k-list-container .k-nodata {
    color: #888;
    margin: 5px 3px;
    text-align: center;
}


.img-display {
    display:block; 
    margin-left: auto; 
    margin-right: auto;
}

/* Place Holder CSS */
::-webkit-input-placeholder {
    color: black !important;
    opacity: 0.5;
    -webkit-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

:-moz-placeholder {
    color: black !important;
    opacity: 0.5;
    -moz-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

::-moz-placeholder {
    color: black !important;
    opacity: 0.5;
    -moz-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

:-ms-input-placeholder {
    color: black !important;
    opacity: 0.5;
    transition: opacity 1s ease-in-out;
}

/* Place Holder CSS for Hover */
:hover::-webkit-input-placeholder {
    opacity: 0.75;
    -webkit-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

:hover:-moz-placeholder {
    opacity: 0.75;
    -moz-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

:hover::-moz-placeholder {
    opacity: 0.75;
    -moz-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

:hover:-ms-input-placeholder {
    opacity: 0.75;
    transition: opacity 1s ease-in-out;
}

/* Place Holder CSS for Focus */
:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

:focus:-moz-placeholder {
    opacity: 0;
    -moz-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

:focus::-moz-placeholder {
    opacity: 0;
    -moz-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.color-white {
    color: white;
}

.color-red {
    color: red;
}


.shake-on-hover:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.4s; 
    /* When the animation is finished, start again */
    animation-iteration-count: 1; 
}

@keyframes shake {
    0% { transform: translate(0px, 0px) rotate(0deg); }
    50% { transform: translate(0px, -10px) rotate(0deg); }
    100% { transform: translate(0px, 0px) rotate(0deg); }
}

@media (max-width: 767px) {
    .text-xs-center {
        text-align: center !important;
    }
    .text-xs-left {
        text-align: left !important;
    }
}