.banner-image {
    max-height: 600px; 
    min-height: 400px; 
    width: 100%; 
    height:auto;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.banner-image2 {

    position: relative;
    padding-bottom: 25%;
    height: 0;
    min-height: 300px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.banner-image3 {
    
    padding-bottom: 25%;
    height: 100%;
    width: 100%;
    min-height: 300px;
    max-height: 400px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


.title-background {
    background-color: #40abff;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.services-background{
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top:20px;
    padding-bottom:20px;
}

.backgroundHome{
    background-image: url("/Content/fruit_lots_bananas_apples_pineapples.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}

.white-text{
     color:white;
}

.green-text{
     color:#b1e665;
}

.background2 {
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    background-color: #40abff;
    color: white;
}

.background3{
    padding-top:30px;
    padding-bottom:50px;
    text-align: center; 
    background-color: #8FBC51;
    color:white;
}

.videoWrapper {
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 35px;
	left: 35px;
	width: calc(100% - 70px);
	height: calc(100% - 70px);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 600;
}

strong, .strong {
    font-weight: 600;
}

b, .b{
    font-weight: 700;
}

label {
    font-weight: 600;
}

.navbar-inverse .navbar-nav > li > a {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    transition: .1s; /* delays for 1 second */
    -webkit-transition: .1s; /* for Safari & Chrome */
    -moz-transition: .1s;
    -o-transition: .1s;
}


.form-table table tr td {
    padding: 2px;
    vertical-align:middle;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
    background-color: #EEEEEE;
}

.k-checkbox-label {
    padding-left: 25px !important;
}

#SlideContent_Edit {
    background-color: #f7f1e6;
}

.k-treeview .k-state-hover {
    color: #40abff !important;
    /*font-size: 16px;*/
    background-color: transparent !important;
    text-shadow: 1px 1px #25699e;
    transition: .1s; /* delays for 1 second */
    -webkit-transition: .1s; /* for Safari & Chrome */
    -moz-transition: .1s;
    -o-transition: .1s;
}

.color-accepted {
    color: #ffffff;
    background-color: #e54e16;
    border-color: #e54e16;
}

.color-delivered {
    color: #ffffff;
    background-color: #e27b0d;
    border-color: #e27b0d;
}

.color-invoiced {
    color: #ffffff;
    background-color: #0d69db;
    border-color: #0d69db;
}

.color-canceled {
    color: #ffffff;
    background-color: #79878F;
    border-color: #79878F;
}

.color-credit-order {
    color: #ffffff;
    background-color: #7f0fdb;
    border-color: #7f0fdb;
}

.color-regular {
    color: #ffffff;
    background-color: #e54e16;
    border-color: #e54e16;
}

.color-oneoff {
    color: #ffffff;
    background-color: #e27b0d;
    border-color: #e27b0d;
}

.color-history {
    color: #ffffff;
    background-color: #79878F;
    border-color: #79878F;
}

.blink {
    animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
    50% {
        color: red;
    }
}

.footer, .footer a, .footer a:hover {
	color:white;
	font-size:14px;
}

.footer .fa {
	font-size: xx-large;
}

.footer .label-phone {
    color: #A3D45E;
    font-size:30px;
}

.navbar-inverse .label-phone {
	color: #A3D45E !important;
    font-size:24px;
	font-weight:bold;
}

.footer .label-website {
    font-size: 18px;
}