﻿@model NuIngredient.Models.MilkViewModel

<div id="divNewMilk" style="margin:15px;">
        
    @using (Ajax.BeginForm("_EditMilk", "MilkManagement", null, new AjaxOptions { UpdateTargetId = "divNewMilk", OnSuccess = "OnEditMilkSuccess" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()        
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.MilkTypeID);
        <div class="row">
            <div class="col-xs-9">
                <h2>Edit Milk</h2>
            </div>
            <div class="col-xs-3">
                <br />
            </div>
            <div class="col-sm-12">
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

                @if ((Model.ImageURL ?? "") == "" || Model.ImageURL.Contains("NotFound"))
                {
                    <label>Upload Product Image:</label>
                            @(Html.Kendo().Upload().Multiple(false)
                                .Name("uploadedMilkImage")
                                .Async(a => a.Save("UploadMilkImage", "MilkManagement", new { milkID = Model.ID }))
                                .ShowFileList(false)
                                .HtmlAttributes(new { accept = "image/*" })
                                .Events(events => events.Upload("OnProductImageUpload").Success("OnMilkImageUploadSuccess"))
                            )
                            <span style="font-size:x-small">Max 512Kbs</span>
                }
                else
                {
                    <a id="milkImage_link" class="fancybox-media" target="_blank" href="@Model.ImageURL">
                        <img id="milkImage" src="@Model.ImageURL" style="max-height:100px; max-width:300px; " />
                    </a>
                            <br />
                            <a href="#" onclick="RemoveMilkImage('@Model.ID')">Remove Image</a>
                }

            </div>
            <div class="col-sm-12">
                <label>Unit:</label>
                @Html.TextBoxFor(model => model.Unit, new { @class = "form-control", @placeholder = "Enter Unit", @style = "margin-bottom:10px;" })
                @Html.ValidationMessageFor(model => model.Unit, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-12">
                <label>Price:</label>
                @Html.TextBoxFor(model => model.Price, new { @class = "form-control", @placeholder = "Enter Unit", @style = "margin-bottom:10px;", @type = "number", @step= "any" })
            </div>
            <div class="col-sm-12">
                <br />
                <input type="submit" value="Save" class="btn btn-inverse">
            </div>

        </div>
    }

    <script>
        function OnEditMilkSuccess(response) {
            $('#GridMilk').data('kendoGrid').dataSource.read();
            EditMilk('@Model.ID');
        }
    </script>
</div>
