﻿@model NuIngredient.Models.MilkViewModel

<div id="divNewMilk" style="margin:15px;">
        
    @using (Ajax.BeginForm("_NewMilk", "MilkManagement", null, new AjaxOptions { UpdateTargetId = "divNewMilk", OnSuccess = "OnNewMilkSuccess" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()        
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.MilkTypeID);
        <div class="row">
            <div class="col-xs-9">
                <h2>New Milk</h2>
            </div>
            <div class="col-xs-3">
                <br />
            </div>
            <div class="col-sm-12">
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label>Unit:</label>
                @Html.TextBoxFor(model => model.Unit, new { @class = "form-control", @placeholder = "Enter Unit", @style = "margin-bottom:10px;" })
                @Html.ValidationMessageFor(model => model.Unit, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-12">
                <label>Price:</label>
                @Html.TextBoxFor(model => model.Price, new { @class = "form-control", @placeholder = "Enter Unit", @style = "margin-bottom:10px;", @type = "number", @step= "any" })
            </div>
            <div class="col-sm-12">
                <br /><br />
                <input type="submit" value="Add Milk" class="btn btn-inverse">
            </div>

        </div>
    }

    <script>
        function OnNewMilkSuccess(response) {
            //Call function from Index view
            Refresh();
            EditMilk(response["ID"]);
        }
    </script>
</div>
