﻿@model NuIngredient.Models.AislePageViewModel

@if (Model.Carousels.Count() > 0)
{
    <div class="col-sm-12" style="height:260px;">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                @for (var i = 0; i < Model.Carousels.Count(); i++)
                {
                    if (i == 0)
                    {
                        <li data-target="#myCarousel" data-slide-to="@i" class="active"></li>
                    }
                    else
                    {
                        <li data-target="#myCarousel" data-slide-to="@i"></li>

                    }
                }
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                @for (var i = 0; i < Model.Carousels.Count(); i++)
                {
                    if (i == 0)
                    {
                        <div class="item active">
                            <a href="@Model.Carousels[i].LinkURL"><img src="@Model.Carousels[i].ImageURL" alt="@Model.Carousels[i].Title" title="@Model.Carousels[i].Title" style="width:100%; max-height:260px;"></a>
                        </div>
                    }
                    else
                    {
                        <div class="item">
                            <a href="@Model.Carousels[i].LinkURL"><img src="@Model.Carousels[i].ImageURL" alt="@Model.Carousels[i].Title" title="@Model.Carousels[i].Title" style="width:100%; max-height:260px;"></a>
                        </div>
                    }
                }
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

}