﻿@model NuIngredient.Models.OneOffOrderViewModel


<script>
    function AddComment() {
        $('#GridComplaints').show();
        $('#GridComplaints').data('kendoGrid').addRow();
    }

    function OnComplaintRequestEnd(e) {
        // Disable edit
        e.sender.table.find('.k-grid-edit').hide();

        // Hide the table if there's no complaints
        if (e.sender.dataSource.total() == 0) {
            $('#GridComplaints').hide();
        }
        else {
            $('#GridComplaints').show();
        }
    }

    function CopyToShoppingCart() {
        $.ajax({
            url: '/Products/CopyToCart',
            type: 'POST',
            data: {
                orderId: '@Model.ID'
            },
            success: function (response) {
                if (response.Success)
                {
                    if (confirm("Successfully put in the shopping cart, continue to shopping page?"))
                    {
                        location.href = '/Products/Aisle/Dry Goods'
                    }
                }
                else
                    alert("Failed");
            }
        })
    }
</script>

<div class="row">
    <h4 style="text-align:center;">Order No: @Model.OrderNumber</h4>
    @if (Model.Status != NuIngredient.Models.OneOffOrderStatus.CreditOrder)
    {
    <div class="col-sm-12">
        <div class="btn btn-xs btn-primary" style="margin-bottom: 5px;" onclick="CopyToShoppingCart()">Yes I would Like to Re-Order</div>
    </div>
    }
    <div class="col-sm-12">
        <div class="panel panel-info">
            <div class="panel-heading" style="padding:1px;">
                <h5 style="text-align:center;">ORDER DETAILS</h5>
            </div>
            @(Html.Kendo().Grid<NuIngredient.Models.OneOffOrderItemViewModel>()
                    .Name("GridOneOffOrderItems")
                    .Columns(columns =>
                    {
                        columns.Bound(f => f.ID).Hidden();
                        columns.Bound(f => f.ImageURL).Title("").ClientTemplate("<img name=\"Image\" src=\"#=ImageURL#\" style=\"height: 50px; width: 50px;\" />").MinScreenWidth(768);
                        columns.Bound(f => f.ProductName).Title("Product");
                        columns.Bound(f => f.Qty);
                        columns.Bound(f => f.ProductPrice).Title("Price").ClientTemplate("#=kendo.toString(ProductPrice, 'C')#").MinScreenWidth(768);
                        columns.Bound(f => f.Net).Title("Net").ClientTemplate("#=kendo.toString(Net, 'C')#").ClientFooterTemplate("#=kendo.toString(sum, 'C')#").MinScreenWidth(768);
                        columns.Bound(f => f.VAT).Title("VAT").ClientTemplate("#=kendo.toString(VAT, 'C')#").ClientFooterTemplate("#=kendo.toString(sum, 'C')#").MinScreenWidth(768);
                        columns.Bound(f => f.Gross).Title("Gross").ClientTemplate("#=kendo.toString(Gross, 'C')#").ClientFooterTemplate("#=kendo.toString(sum, 'C')#");
                    })
                    .DataSource(dataSource => dataSource
                            .Ajax()
                            .Aggregates(agg =>
                            {
                                agg.Add(m => m.Net).Sum();
                                agg.Add(m => m.VAT).Sum();
                                agg.Add(m => m.Gross).Sum();
                            })
                            .Read(read => read.Action("Read", "OneOffOrderItemGrid", new { id = Model.ID }))
                    )
            )
        </div>
    </div>

    <div class="col-sm-12" id="BillingDetails">
        <div class="panel panel-info">
            <div class="panel-heading" onclick="$('#Panel_BillingDetails').slideToggle()" style="cursor:pointer; padding:1px;">
                <h5 style="text-align:center;">BILLING DETAILS</h5>
            </div>
            <div class="panel-body" id="Panel_BillingDetails" style="display:none; padding:0px;">
                <table class="table table-bordered table-striped" style="margin-bottom:0px;">
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.CompanyName)
                        </td>
                        <td>
                            @Model.CompanyName
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.EmailAddress)
                        </td>
                        <td>
                            @Model.EmailAddress
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Phone)
                        </td>
                        <td>
                            @Model.Phone
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.DeliveryAddress)
                        </td>
                        <td>
                            @Model.DeliveryAddress
                        </td>
                    </tr>
                    @if (!string.IsNullOrWhiteSpace(Model.DeliveryCounty))
                    {
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.DeliveryCounty)
                            </td>
                            <td>
                                @Model.DeliveryCounty
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.DeliveryPostCode)
                        </td>
                        <td>
                            @Model.DeliveryPostCode
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.BillingAddress)
                        </td>
                        <td>
                            @Model.BillingAddress
                        </td>
                    </tr>
                    @if (!string.IsNullOrWhiteSpace(Model.BillingCounty))
                    {
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.BillingCounty)
                            </td>
                            <td>
                                @Model.BillingCounty
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.BillingPostCode)
                        </td>
                        <td>
                            @Model.BillingPostCode
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.OrderNotes)
                        </td>
                        <td>
                            @Model.OrderNotes
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.PONumber)
                        </td>
                        <td>
                            @Model.PONumber
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Created)
                        </td>
                        <td>
                            @Model.Created.ToString("dd/MM/yyyy HH:mm")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.TotalNet)
                        </td>
                        <td>
                            <label>@Model.TotalNet.ToString("C")</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.TotalVAT)
                        </td>
                        <td>
                            <label>@Model.TotalVAT.ToString("C")</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.TotalGross)
                        </td>
                        <td>
                            <label>@Model.TotalGross.ToString("C")</label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<style>
    #GridOneOffOrderItems .k-header, #GridOneOffOrderItems td {
        text-align: center;
        vertical-align: middle;
    }
</style>
