﻿@using Microsoft.AspNet.Identity
@model NuIngredient.Models.AislePageViewModel
@{
    ViewBag.Title = Model.Aisle.Label;
}

<div class="container">
    <div class="row">
        <div class="col-xs-6">
        </div>
        <div class="col-xs-6">
            <br />
            <div class="pull-right">
                @if (User.IsInRole("NI-User"))
                {
                    <a class="btn" style="margin-right:3px; border-color:#dddddd;" onclick="if (history.length > 1) window.history.back(); else window.close();"><span class="glyphicon glyphicon-arrow-left"></span> &nbsp;Back</a>
                }
                @*<a class="btn" style="margin-right:3px;" href="javascript:void(0)" title="View Cart" onclick="ShowShoppingCart();"><span class="fa fa-shopping-cart" style="font-size: 3em;"></span></a>
                <span name="Subtotal"></span>*@
            </div>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="col-xs-12" style="margin-top:10px;">
                <div class="aisle-system-message-area">

                        @if (Model.Live)
                        {
                            <div style="padding-left: 20px;">
                                <div class="salutation">Hello @Model.CompanyName,</div>
                                <div class="message">
                                    @Model.DeliveryPrompt
                                </div>
                            </div>
                        }
                        else if (Model.SupplierRequested || (Model.AisleSupplier != null && Model.AisleSupplier.UseMasterAccount == true))
                        {
                            <div style="padding-left: 20px;">
                                <div class="salutation">Hello @Model.CompanyName,</div>
                                <div class="message color-red">
                                    Office Groceries are currently setting up your @Model.Aisle.Label account. <br />
                                    Please allow up to 6 working days from initial enquiry for your account to be set up. <br />
                                    Office Groceries will e-mail you once ready and confirm your 1st delivery day.
                                </div>
                            </div>
                        }
                        else
                        {
                            <div style="padding-left: 20px;">
                                <div class="salutation">Hello @Model.CompanyName,</div>
                                <div class="message">
                                    Office Groceries currently do not have an account set up for our @Model.Aisle.Label catalogue. <br />
                                    Would you like to activate your @Model.Aisle.Label account now, if so click here
                                </div>
                                <a class="btn aisle-action-button-active" href="#" onclick="AskForDryGoodsSupplier()">Yes, Please Activate</a>
                            </div>
                        }
                </div>
            </div>
        }

        <div class="col-xs-6">
            @if (User.IsInRole("NI-User"))
            {
                <div style="display:none;">
                    @(Html.Kendo().DropDownList()
                              .Name("Company")
                              .DataTextField("Name")
                              .DataValueField("ID")
                              .OptionLabel("Please select a company...")
                              .DataSource(dataSource => dataSource.Read("DropDownCompanies", "Companies"))
                              .Events(events => events.Change("ChangeCompany"))
                              .HtmlAttributes(new { @style = "width: 200px;" })
                    )
                </div>
            }
        </div>
        @*<div class="col-xs-2">
            <br />
        </div>
        <div class="col-xs-4">
            <div class="input-group">
                @Html.TextBox("TB_Filter", Model.Keywords, new { @class = "form-control", @style = "max-width:none;", @placeholder = "Search For Products" })
                <span class="input-group-btn">
                    <a class="btn btn-default" onclick="RefreshListView(); return false;"><span class="glyphicon glyphicon-search"></span></a>
                </span>
            </div>
        </div>*@
    </div>

    <div class="row">
        
        @Html.Partial("_Carousels", Model)

        <div class="col-sm-12">
            <div style="display: block; padding-left:5px; width:100%; text-align: center;">
                <h3 style="padding-bottom: 15px;">Select your Products</h3>
                <section class="filter-area filter-milk">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4" style="margin-top:10px;">
                                <div class="input-group" style="max-width: 280px;">
                                    @Html.TextBox("TB_Filter", Model.Keywords, new { @class = "form-control", @style = "background-color: lightgrey;", @placeholder = "Search For Products" })
                                    <span class="input-group-btn">
                                        <a class="btn btn-default" style="background-color: lightgrey;" onclick="RefreshListView(); return false;"><span class="glyphicon glyphicon-search"></span></a>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 text-xs-left" style="margin-top:10px;">
                                <select id="category" style="min-width: 160px;">
                                    <option value="">Filter by product</option>
                                    @foreach (var category in Model.Categories)
                                    {
                                        <option value="@category.InternalName" @if (category.InternalName == Model.SelectedCategory) { <text>selected="selected"</text> }>@category.Name</option>
                                    }
                                </select>
                            </div>
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <div class="col-xs-12 col-sm-4 text-xs-left" style="text-align: right; margin-top:10px;">
                                    <a class="btn aisle-action-button-active" href="/Account/EnquiryForm">Set Up Account</a>
                                </div>
                            }
                            <div class="col-xs-12" style="margin-top:20px;">
                                @if (Model.AisleSupplier != null && Model.AisleSupplier.MinimumValue > 0)
                                {
                                    <div>
                                        <strong style="font-size: 16px;">Please note: A minimum of @Model.AisleSupplier.MinimumValue.ToString("C") per order is required for this aisle</strong>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <br />
            <div style="display:inline-block; padding-left:5px; width:100%;">
                @if (Model.Products.Any())
                {
                    <div class="row flex-row">
                        @foreach (var product in Model.Products)
                        {
                            <div class="col-xs-6 col-sm-4 col-md-3">
                                <div class="product-single-splash">
                                    <div class="square">
                                        <div class="square-content">
                                            <a href="/Products/Detail?companyID=@Model.CompanyID&prospectToken=@Model.ProspectToken&id=@(HttpUtility.UrlEncode(product.Name))">
                                                <img src="@product.ThumbnailImageURL" alt="@product.Name" class="image-thumbnail" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-single-splash-content">
                                        <a href="/Products/Detail?companyID=@Model.CompanyID&prospectToken=@Model.ProspectToken&id=@(HttpUtility.UrlEncode(product.Name))"><h5>@product.Name</h5></a>
                                        <p style="font-size:small !important;">@product.ShortDescription</p>
                                        <p>@product.Price.ToString("C") @if (product.VAT != 0)
                                        { <span style="font-size:10px;">ex VAT</span> }<br><span>@product.Unit</span></p>
                                        <div class="product-single-splash-button">
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                if (Model.Live)
                                                {
                                                    <button class="btn btn-blue" data-productid="@product.ID" data-qty="1" onclick="AddToCart(this)">Add to Cart</button>
                                                }
                                                else
                                                {
                                                    @*<button class="btn btn-blue" data-productid="@product.ID" data-qty="1" onclick="alert('Please wait for us to set up your account.')">Add to Quote</button>*@
                                                    <button class="btn btn-blue" data-productid="@product.ID" data-qty="1" onclick="alert('Please wait for us to set up your account.')">Add to Cart</button>
                                                }
                                            }
                                            else
                                            {
                                                @*<button class="btn btn-blue" data-productid="@product.ID" data-qty="1" onclick="AddToQuote(this)">Add to Quote</button>*@
                                                <button class="btn btn-blue" data-productid="@product.ID" data-qty="1" onclick="AddToQuote(this)">Add to Cart</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <nav aria-label="Page navigation" style="text-align: center;">
                        <ul class="pagination">
                            @if (Model.Page <= 3)
                            {
                                if (Model.Page != 1)
                                {
                                    <li class="page-item">
                                        @Html.ActionLink("<", "Aisle/" + Model.Aisle.Name, new { companyID = Model.CompanyID, prospectToken = Model.ProspectToken, page = Model.Page - 1, keywords = Model.Keywords, category = Model.SelectedCategory }, new { @class = "page-link" })
                                        @*<a class="page-link" href="@(Request.Url.ToString().Replace("?page=" + Model.Page, "") + "?page=" + (Model.Page - 1))"><</a>*@
                                    </li>
                                }
                                for (var i = 1; i <= 5 && i <= Model.TotalPages; i++)
                                {
                                    if (Model.Page == i)
                                    {
                                        <li class="page-item disabled"><a class="page-link" href="#">@i</a></li>
                                    }
                                    else
                                    {
                                        <li class="page-item">
                                            @Html.ActionLink(i.ToString(), "Aisle/" + Model.Aisle.Name, new { companyID = Model.CompanyID, prospectToken = Model.ProspectToken, page = i, keywords = Model.Keywords, category = Model.SelectedCategory }, new { @class = "page-link" })
                                            @*<a class="page-link" href="@(Request.Url.ToString().Replace("?page=" + Model.Page, "") + "?page=" + i)">@i</a>*@
                                        </li>
                                    }
                                }
                                if (Model.Page != Model.TotalPages)
                                {
                                    <li class="page-item">
                                        @Html.ActionLink(">", "Aisle/" + Model.Aisle.Name, new { companyID = Model.CompanyID, prospectToken = Model.ProspectToken, page = Model.Page + 1, keywords = Model.Keywords, category = Model.SelectedCategory }, new { @class = "page-link" })
                                        @*<a class="page-link" href="@(Request.Url.ToString().Replace("?page=" + Model.Page, "") + "?page=" + (Model.Page + 1))">></a>*@
                                    </li>
                                }
                            }
                            else
                            {
                                <li class="page-item">
                                    @Html.ActionLink("<".ToString(), "Aisle/" + Model.Aisle.Name, new { companyID = Model.CompanyID, prospectToken = Model.ProspectToken, page = Model.Page - 1, keywords = Model.Keywords, category = Model.SelectedCategory }, new { @class = "page-link" })
                                    @*<a class="page-link" href="@(Request.Url.ToString().Replace("?page=" + Model.Page, "") + "?page=" + (Model.Page - 1))"><</a>*@
                                </li>
                                for (var i = Model.Page - 2; i <= Model.Page + 2 && i <= Model.TotalPages; i++)
                                {
                                    if (Model.Page == i)
                                    {
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#">@i</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item">
                                            @Html.ActionLink(i.ToString(), "Aisle/" + Model.Aisle.Name, new { companyID = Model.CompanyID, prospectToken = Model.ProspectToken, page = i, keywords = Model.Keywords, category = Model.SelectedCategory }, new { @class = "page-link" })
                                            @*<a class="page-link" href="@(Request.Url.ToString().Replace("?page=" + Model.Page, "") + "?page=" + i)">@i</a>*@
                                        </li>
                                    }
                                }
                                if (Model.Page != Model.TotalPages)
                                {
                                    <li class="page-item">
                                        @Html.ActionLink(">".ToString(), "Aisle/" + Model.Aisle.Name, new { companyID = Model.CompanyID, prospectToken = Model.ProspectToken, page = Model.Page + 1, keywords = Model.Keywords, category = Model.SelectedCategory }, new { @class = "page-link" })
                                        @*<a class="page-link" href="@(Request.Url.ToString().Replace("?page=" + Model.Page, "") + "?page=" + (Model.Page + 1))">></a>*@
                                    </li>
                                }
                            }
                        </ul>
                        <div>showing @((Model.Page - 1) * 20 + 1) - @((Model.Page - 1) * 20 + Math.Min(Model.Total - (Model.Page - 1) * 20, 20)) of @Model.Total</div>
                    </nav>
                }
                else
                {
                    <p>No Products Found</p>
                }
                @*@(Html.Kendo().ListView<NuIngredient.Models.ProductListViewModel>()
                                      .Name("ListViewProducts")
                                      .TagName("div")
                                      .ClientTemplateId("listviewTemplate")
                                      .DataSource(dataSource => dataSource.PageSize(20).Read(read => read.Action("Read", "ProductListView").Data("GetSearchInfo"))
                                      )
                                      .Pageable(p => p.PageSizes(new[] { 20, 40, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Products").Empty("No Products Found")))
                                      .AutoBind(false)
                                      .Events(events => events.DataBound("DataBound"))
                                      .HtmlAttributes(new { @class = "row flex-row k-blank-pager" })
                )*@
                @*Listview Template*@
                @*<script type="text/x-kendo-tmpl" id="listviewTemplate">
                    <div class="col-xs-6 col-sm-4 col-md-3">
                        <div class="product-single-splash">
                            <div class="square">
                                <div class="square-content">
                                    <a href="/Products/Detail?id=#=ID#">
                                        <img src="#=ThumbnailImageURL#" alt="#=Name#" class="image-thumbnail" />
                                    </a>
                                </div> 
                            </div>
                            <div class="product-single-splash-content">
                                <a href="/Products/Detail?id=#=ID#"><h5>#=Name#</h5></a>
                                <p style="font-size:small !important;">#=ShortDescription#</p>
                                <p>#=kendo.toString(Price, "c")# #if(VAT != 0){#<span style="font-size:10px;">ex VAT</span>#}# <br><span>#=Unit#</span></p>
                                <div class="product-single-splash-button">
                                    <button class="btn btn-blue" data-productid="#=ID#" data-qty="1" @if (User.Identity.IsAuthenticated && !Model.Live) { <text> onclick="alert('Please wait for us to set up your account.')" </text>  } else { <text> onclick="AddToCart(this)" </text> }>
                                        @if (User.Identity.IsAuthenticated && Model.Live)
                                        {
                                            <text>
                                                Add To Cart
                                            </text>
                                        }
                                        else
                                        {
                                            <text>
                                                Add To Quote
                                            </text>
                                        }
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </script>*@
            </div>
        </div>
    </div>
</div>

@*<div class="container" style="margin-top: 100px;">
    <div class="row" id="help-layer">
        <div class="col-xs-12">
            <h3>Need any help?</h3>
            <p>View our setting up an account page or <a href="mailto:Orders@office-groceries.com" title="Email Office Groceries Here" alt="Email Office Groceries Here">email us here</a>.</p>
        </div>
    </div>

    <div class="row" id="other-aisles-layer">
        <div class="col-xs-12">
            <h4>Want to view our other aisles?</h4>
        </div>

        @if (User.Identity.IsAuthenticated)
        {
            foreach (var aisle in (ViewBag.Aisles as List<NuIngredient.Models.AisleViewModel>).Where(a => a.IsMain))
            {
                if (aisle.Name == "Milk")
                {
                    <a href="/Milk" title="Visit our @aisle.Label" alt="Visit our @aisle.Label">
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="white-aisle-holder">
                                <p>Visit our @aisle.Label</p>
                            </div>
                        </div>
                    </a>
                }
                else if (aisle.Name == "Fruit")
                {
                    <a href="/Fruits" title="Visit our @aisle.Label" alt="Visit our @aisle.Label">
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="white-aisle-holder">
                                <p>Visit our @aisle.Label</p>
                            </div>
                        </div>
                    </a>
                }
                else
                {
                    <a href="/Products/Aisle/@aisle.Name" title="Visit our @aisle.Label" alt="Visit our @aisle.Label">
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="white-aisle-holder">
                                <p>Visit our @aisle.Label</p>
                            </div>
                        </div>
                    </a>
                }
            }

            if (Model.Live || Model.SupplierRequested || (Model.AisleSupplier != null && Model.AisleSupplier.UseMasterAccount == true))
            {
            }
            else
            {
                <a href="javascript:void(0)" onclick="AskForDryGoodsSupplier()" title="Activate this Aisle" alt="Activate this Aisle">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="white-aisle-holder">
                            <p>Activate this Aisle</p>
                        </div>
                    </div>
                </a>
            }
        }
        else
        {


            foreach (var aisle in (ViewBag.Aisles as List<NuIngredient.Models.AisleViewModel>).Where(a => a.IsMain))
            {
                <a href="/Aisles/Category/@aisle.Name" title="Visit our @aisle.Label" alt="Visit our @aisle.Label">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="white-aisle-holder">
                            <p>Visit our @aisle.Label</p>
                        </div>
                    </div>
                </a>
            }

            <a href="/Account/EnquiryForm" title="Setup an Office Groceries account" alt="Setup an Office Groceries account">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="white-aisle-holder">
                        <p>Want to setup an account?</p>
                    </div>
                </div>
            </a>
        }
    </div>

</div>*@

<style>
    .div-inline {
        overflow: hidden;
        white-space: nowrap;
        text-align: center;
        align-items: center;
    }

</style>

<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_Edit" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 800px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="Edit_Body"></div>
    </div>
</div>

<script>
    var keywords = '@(Html.Encode(Model.Keywords))';
    var category = '@(Html.Encode(Model.SelectedCategory))'

    $(document).ready(function () {
        @if (User.IsInRole("NI-User"))
        {
            if (ViewBag.CompanyID != null)
            {
            <text>
                sessionStorage.CompanyID = '@ViewBag.CompanyID';
                $('#Company').data('kendoDropDownList').value(GetCompanyID());
            </text>
            }
        }

    })



    function RefreshListView() {
        window.location.href = "/Products/Aisle/@(Html.Encode(Model.Aisle.Name))" + "?" + "companyID=" + GetCompanyID() + "&category=" + $('select#category').val() + "&keywords=" + encodeURIComponent($('#TB_Filter').val());
    }

    $("#TB_Filter").keyup(function (e) {
        if (e.keyCode == 13) {
            $('select#category').val('');
            RefreshListView();
        }
    });

    function GetSearchInfo() {
        return {
            categoryID: GetCategory(),
            filterText: $('#TB_Filter').val(),
            companyID: GetCompanyID(),
            aisleID: '@Model.Aisle.ID'
        };
    }

    function GetCategory() {
        var selected = $('select#category').val();

        return selected == "" ? null : selected;
    }

    $("select#category").change(function () {
        $('#TB_Filter').val('');
        RefreshListView();
    });

    function ChangeCompany()
    {
        sessionStorage.CompanyID = $('#Company').val();
        RefreshListView();
    }

    @if (Model.AisleSupplier!= null)
    {
        <text>
        function AskForDryGoodsSupplier() {
            if (!confirm("Set up your @Model.Aisle.Label account?")) return false;
            $.ajax({
                url: '/Companies/AskForDryGoodsSupplier',
                type: 'POST',
                data: {
                    id: GetCompanyID(),
                    supplierID: '@Model.AisleSupplier.ID'
                },
                success: function (response) {
                    alert("Office Groceries are currently setting up your @Model.Aisle.Label account.\nPlease allow up to 6 working days from initial enquiry for your account to be set up.\nOffice Groceries will e- mail you once ready and confirm your 1st delivery day.");
                    location.reload();
                }
            })
        }
        </text>
    }

</script>

<style>
    /*for listview*/

    #listView {
        padding: 10px 5px;
        margin-bottom: -1px;
        min-height: 510px;
    }

    .product {
        background-color: white;
        float: left;
        position: relative;
        width: 185px;
        height: 320px;
        padding: 0;
        margin: 0 30px 20px 0;
        /*border: 1px solid lightgrey;*/
        transition: .5s; /* delays for 1 second */
        -webkit-transition: .5s; /* for Safari & Chrome */
        -moz-transition: .5s;
        -o-transition: .5s;
    }

    .product:hover {
        /*border: 1px solid darkturquoise;*/
    }

    .product img {
        width: 185px;
        height: 150px;
    }

    .product .add-to-cart {
        color: white;
        font-size: 12px;
        background-color: #6794db;
    }

    .product .add-to-cart:hover {
        color: white;
        font-size: 12px;
        background-color: red;
        /*font-family: "Arial Black", Gadget, sans-serif;*/
    }

    .product .price {
        font-size: 20px;
        color: #7badfc;
    }

    .product h2 {
        font-size: 15px;
        overflow: hidden;
        margin: 0 0 0 10px;
        padding: 3px 5px 0 0;
        max-width: 100%;
        height: 48px;
    }

    .product h3 {
        margin: 0 0 0 10px;
        padding: 3px 5px 0 0;
        height: 35px;
        max-width: 290px;
        overflow: hidden;
        line-height: 1.1em;
        font-size: .9em;
        font-weight: normal;
        color: #999;
    }

    .k-listview:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .k-listview {
        background-color: inherit;
        border-width: 0;
    }

    #ListViewProducts.k-widget {
        color: inherit;
    }


</style>