﻿@model NuIngredient.Models.CheckOutSuccessPageViewModel
@{
    ViewBag.Title = "Success";
}
<section id="content-area">
    <div class="container">
        <div class="row">
            <div style="text-align:center;" id="header-isle-banner">
                <h1>Your order has been successfully placed - Thank You</h1>
            </div>
            <br />
            @foreach (var subOrder in Model.SubOrders)
            {
                <div class="col-sm-12 col-md-offset-2 col-md-8" id="BillingDetails">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3>Order #@subOrder.OrderHeader.OrderNumber</h3>
                            @*<h2>Delivery date: @subOrder.DeliveryDate.ToString("dd/MM/yyyy")</h2>*@
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <td>
                                        <label>Company:</label>
                                    </td>
                                    <td>
                                        @subOrder.OrderHeader.CompanyName
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Email Address:</label>
                                    </td>
                                    <td>
                                        @subOrder.OrderHeader.EmailAddress
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Phone:</label>
                                    </td>
                                    <td>
                                        @subOrder.OrderHeader.Phone
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Delivery Address:</label>
                                    </td>
                                    <td>
                                        @subOrder.OrderHeader.DeliveryAddress
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Delivery City:</label>
                                    </td>
                                    <td>
                                        @subOrder.OrderHeader.DeliveryCounty
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Delivery Postcode:</label>
                                    </td>
                                    <td>
                                        @subOrder.OrderHeader.DeliveryPostCode
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Order Notes:</label>
                                    </td>
                                    <td>
                                        @subOrder.OrderHeader.OrderNotes
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>PO Number:</label>
                                    </td>
                                    <td>
                                        @subOrder.OrderHeader.PONumber
                                    </td>
                                </tr>
                            </table>
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="hidden-xs"></th>
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th>Qty</th>
                                        <th class="hidden-xs">Net</th>
                                        <th class="hidden-xs">VAT</th>
                                        <th>Gross</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in subOrder.OrderItems)
                                    {
                                        <tr>
                                            <td class="hidden-xs"><img src="@item.ImageURL" style="width:50px; height:50px;" /></td>
                                            <td>@item.ProductName</td>
                                            <td>@item.ProductPrice.ToString("C")</td>
                                            <td>@item.Qty</td>
                                            <td class="hidden-xs">@item.Net.ToString("C")</td>
                                            <td class="hidden-xs">@((item.Net * item.ProductVAT).ToString("C"))</td>
                                            <td>@((item.Net + (item.Net * item.ProductVAT)).ToString("C"))</td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot class="hidden-xs">
                                    <tr>
                                        <td colspan="4">
                                            Total
                                        </td>
                                        <td>
                                            @subOrder.OrderHeader.TotalNet.ToString("C")
                                        </td>
                                        <td>
                                            @subOrder.OrderHeader.TotalVAT.ToString("C")
                                        </td>
                                        <td>
                                            @subOrder.OrderHeader.TotalGross.ToString("C")
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                            <div class="pull-right visible-xs">
                                <table>
                                    <tr>
                                        <td>
                                            <label>Net:&nbsp;</label>
                                        </td>
                                        <td style="text-align: right;">
                                            <label><span name="CartNet" style="color:#6db444; font-size:larger; font-weight:900">@subOrder.OrderHeader.TotalNet.ToString("C")</span></label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>VAT:&nbsp;</label>
                                        </td>
                                        <td style="text-align: right;">
                                            <label><span name="CartVAT" style="color:#6db444; font-size:larger; font-weight:900">@subOrder.OrderHeader.TotalVAT.ToString("C")</span></label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Gross:&nbsp;</label>
                                        </td>
                                        <td style="text-align: right;">
                                            <label><span name="CartGross" style="color:#6db444; font-size:larger; font-weight:900">@subOrder.OrderHeader.TotalGross.ToString("C")</span></label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            }
        </div>
    </div>
</section>
<style>
    .div-inline {
        overflow: hidden;
        white-space: nowrap;
        text-align: center;
        align-items: center;
    }
</style>

<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_Edit" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 800px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="Edit_Body"></div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Modal" role="dialog" style="z-index:2000">
    <div class="modal-dialog" style="width:800px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center;">Your Shopping Cart</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Continue Shopping</button>
                @if (User.Identity.IsAuthenticated)
                {
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="location.href='@Url.Action("CheckOut", "Products")';">Check Out</button>
                }
                else
                {
                    <button type="button" class="btn btn-primary" onclick="ShowProspectForm()">Send Me the Quote</button>
                }
            </div>
        </div>
    </div>
</div>