﻿@model NuIngredient.Models.CheckOutPageViewModel
@{
    ViewBag.Title = "Check Out";
}
<script src="/Scripts/Views/ShoppingCart.js?v=@(DateTime.Now.ToString("yyMMddmmHH"))"></script>

<section id="content-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                @if (ViewBag.SuccessMessage != null)
                {
                    <div class="alert alert-success">
                        @ViewBag.SuccessMessage
                    </div>
                }
                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger">
                        <strong>Error:</strong> @ViewBag.ErrorMessage
                    </div>
                }
            </div>
        </div>
        <div class="row" id="divCheckOutForm">
            <div style="text-align:center;" id="header-isle-banner">
                <h1>@ViewBag.Title</h1>
            </div>
            <br />
            @if (Model.ShoppingCart.CartItemsBySuppliers.Count() != 0)
            {
                using (Ajax.BeginForm("CheckOut", "Products", null, new AjaxOptions { UpdateTargetId = "divCheckOutForm", OnBegin = "AjaxBegin", OnComplete = "AjaxComplete" }, new { @id = "CheckOut" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.CompanyID)

                    <div class="col-sm-12 col-md-offset-2 col-md-8">
                    @for(var i = 0; i < Model.ShoppingCart.CartItemsBySuppliers.Count; i++)
                    {
                            <div class="panel @if (Model.ShoppingCart.CartItemsBySuppliers[i].Live) {<text>panel-info</text>} else {<text>panel-danger</text> } supplier-cart">
                                <div class="panel-heading">
                                    @Model.ShoppingCart.CartItemsBySuppliers[i].Supplier.Label
                                    <span class="label-minimum-prompt" style="font-size: 12px; color: red; float:right; @if (Model.ShoppingCart.CartItemsBySuppliers[i].SubGross >= Model.ShoppingCart.CartItemsBySuppliers[i].Supplier.MinimumValue) {<text>display: none;</text> }">(A minimum of @Model.ShoppingCart.CartItemsBySuppliers[i].Supplier.MinimumValue.ToString("C") per order under @Model.ShoppingCart.CartItemsBySuppliers[i].Supplier.Label is required)</span>
                                </div>
                                <div class="panel-body">
                                    <input type="hidden" class="supplier-minimum-value" value="@Model.ShoppingCart.CartItemsBySuppliers[i].Supplier.MinimumValue" />
                                    <input type="hidden" class="supplier-calandar-needed" value="@(Model.ShoppingCart.CartItemsBySuppliers[i].Supplier.CalendarNeeded == true? "true" : "false")" />
                                    <input type="hidden" class="supplier-id" value="@(Model.ShoppingCart.CartItemsBySuppliers[i].Supplier.ID)" />
                                    <table id="Table_Cart" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="hidden-xs" style="width:50px;"></th>
                                                <th style="text-align:center; vertical-align:middle;">Product</th>
                                                <th class="hidden-xs" style="width:5%; text-align:center; vertical-align:middle;">Price</th>
                                                <th style="width:7%; text-align:center; vertical-align:middle;">Qty</th>
                                                <th class="hidden-xs" style="width:5%; text-align:center; vertical-align:middle;">Net</th>
                                                <th class="hidden-xs" style="width:5%; text-align:center; vertical-align:middle;">VAT</th>
                                                <th class="hidden-xs" style="width:5%; text-align:center; vertical-align:middle;">Gross</th>
                                                <th style="width:30px; text-align:center"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (var j = 0; j < Model.ShoppingCart.CartItemsBySuppliers[i].CartItems.Count; j++)
                                            {
                                                <tr name="CartItem" data-productid="@Model.ShoppingCart.CartItemsBySuppliers[i].CartItems[j].ProductID" data-price="@Model.ShoppingCart.CartItemsBySuppliers[i].CartItems[j].ProductPrice" data-vat="@Model.ShoppingCart.CartItemsBySuppliers[i].CartItems[j].ProductVAT">
                                                    <td class="hidden-xs"><img name="Image" src="@Model.ShoppingCart.CartItemsBySuppliers[i].CartItems[j].ImageURL" style="height: 50px; width: 50px;" /></td>
                                                    <td name="ProductName" style="vertical-align:middle;">
                                                        @Model.ShoppingCart.CartItemsBySuppliers[i].CartItems[j].ProductName
                                                        <div class="visible-xs"><strong> @Model.ShoppingCart.CartItemsBySuppliers[i].CartItems[j].ProductPrice.ToString("C")</strong></div>
                                                    </td>
                                                    <td class="hidden-xs" name="Price" style="vertical-align:middle;">@Model.ShoppingCart.CartItemsBySuppliers[i].CartItems[j].ProductPrice.ToString("C")</td>
                                                    <td style="text-align: center; vertical-align:middle;">
                                                        @(Html.Kendo()
                                                                  .NumericTextBoxFor(m => m.ShoppingCart.CartItemsBySuppliers[i].CartItems[j].Qty)
                                                                  .Value(Model.ShoppingCart.CartItemsBySuppliers[i].CartItems[j].Qty)
                                                                  .Format("0")
                                                                  .Decimals(0)
                                                                  .Min(1)
                                                                  .Events(events => events.Change("OnCartQtyChange").Spin("OnCartQtyChange"))
                                                                  .HtmlAttributes(new { @style = "width: 65px;", @data_productid = Model.ShoppingCart.CartItemsBySuppliers[i].CartItems[j].ProductID, name = "Qty" })
                                                        )
                                                    </td>
                                                    <td class="hidden-xs" name="ItemNet" style="text-align: center; vertical-align:middle;">
                                                        @Model.ShoppingCart.CartItemsBySuppliers[i].CartItems[j].TotalNet.ToString("C")
                                                    </td>
                                                    <td class="hidden-xs" name="ItemVAT" style="text-align: center; vertical-align:middle;">
                                                        @Model.ShoppingCart.CartItemsBySuppliers[i].CartItems[j].TotalVAT.ToString("C")
                                                    </td>
                                                    <td class="hidden-xs" name="ItemGross" style="text-align: center; vertical-align:middle;">
                                                        @Model.ShoppingCart.CartItemsBySuppliers[i].CartItems[j].TotalGross.ToString("C")
                                                    </td>
                                                    <td style="text-align: center; vertical-align:middle;">
                                                        <div class="btn" onclick=" $(this).closest('tr').remove(); RemoveFromCart('@Model.ShoppingCart.CartItemsBySuppliers[i].CartItems[j].ProductID');"><span class="glyphicon glyphicon-trash"></span></div>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    @if (!string.IsNullOrEmpty(Model.ShoppingCart.CartItemsBySuppliers[i].Supplier.DefaultAisleName))
                                    {
                                        <a href="/Products/Aisle/@Model.ShoppingCart.CartItemsBySuppliers[i].Supplier.DefaultAisleName&CompanyID=@Model.CompanyID" class="btn btn-primary">Continue Shopping</a>
                                    }
                                    @if (Model.ShoppingCart.CartItemsBySuppliers[i].Supplier.CalendarNeeded)
                                    {
                                        <a href="javascript:void(0)" onclick="NewEventDetail('@Model.ShoppingCart.CartItemsBySuppliers[i].Supplier.ID')" class="btn btn-warning">Add Event Details</a>
                                    }
                                    <div class="event-detail-area" style="margin-top:5px;" data-supplierid="@Model.ShoppingCart.CartItemsBySuppliers[i].Supplier.ID">

                                    </div>
                                    <div class="pull-right">
                                        <table>
                                            <tr>
                                                <td>
                                                    <label>Sub Total:&nbsp;</label>
                                                </td>
                                                <td style="text-align: right;">
                                                    <label><span name="SupplierNet">@Model.ShoppingCart.CartItemsBySuppliers[i].SubNet.ToString("C")</span></label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Sub VAT:&nbsp;</label>
                                                </td>
                                                <td style="text-align: right;">
                                                    <label><span name="SupplierVAT">@Model.ShoppingCart.CartItemsBySuppliers[i].SubVAT.ToString("C")</span></label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Sub Gross:&nbsp;</label>
                                                </td>
                                                <td style="text-align: right;">
                                                    <label><span name="SupplierGross">@Model.ShoppingCart.CartItemsBySuppliers[i].SubGross.ToString("C")</span></label>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                        @*<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="window.history.back();">Continue Shopping</button>*@
                        <div class="pull-right">
                            <table>
                                <tr>
                                    <td>
                                        <label>Net:&nbsp;</label>
                                    </td>
                                    <td style="text-align: right;">
                                        <label><span name="CartNet"  style="color:#6db444; font-size:larger; font-weight:900">@Model.ShoppingCart.Net.ToString("C")</span></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>VAT:&nbsp;</label>
                                    </td>
                                    <td style="text-align: right;">
                                        <label><span name="CartVAT" style="color:#6db444; font-size:larger; font-weight:900">@Model.ShoppingCart.VAT.ToString("C")</span></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Gross:&nbsp;</label>
                                    </td>
                                    <td style="text-align: right;">
                                        <label><span name="CartGross" style="color:#6db444; font-size:larger; font-weight:900">@Model.ShoppingCart.Gross.ToString("C")</span></label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-offset-2 col-md-8">
                        <hr />
                    </div>
                    <div class="col-sm-12 col-md-offset-2 col-md-8" id="BillingDetails">
                        <div class="col-sm-6">
                            <div class="col-sm-12">
                                <h3>DELIVERY DETAILS</h3>
                            </div>
                            <div class="col-sm-12">
                                @Html.LabelFor(model => model.BillingDetails.CompanyName)
                                @Html.TextBoxFor(model => model.BillingDetails.CompanyName, new { @class = "form-control", @style = "width:100%", @readonly = "readonly" })
                            </div>
                            <div class="col-sm-6">
                                @Html.LabelFor(model => model.BillingDetails.EmailAddress)
                                @Html.TextBoxFor(model => model.BillingDetails.EmailAddress, new { @class = "form-control", @style = "width:100%", @readonly = "readonly" })
                            </div>
                            <div class="col-sm-6">
                                @Html.LabelFor(model => model.BillingDetails.Phone)
                                @Html.TextBoxFor(model => model.BillingDetails.Phone, new { @class = "form-control", @style = "width:100%", @readonly = "readonly" })
                            </div>
                            <div class="col-sm-12">
                                @Html.LabelFor(model => model.BillingDetails.DeliveryAddress)
                                @Html.TextBoxFor(model => model.BillingDetails.DeliveryAddress, new { @class = "form-control", @style = "width:100%", @readonly = "readonly" })
                            </div>
                            <div class="col-sm-6">
                                @Html.LabelFor(model => model.BillingDetails.DeliveryPostCode)
                                @Html.TextBoxFor(model => model.BillingDetails.DeliveryPostCode, new { @class = "form-control", @style = "width:100%", @readonly = "readonly" })
                            </div>
                            <div class="col-sm-12">
                                <h3>BILLING DETAILS</h3>
                            </div>
                            <div class="col-sm-12">
                                @Html.LabelFor(model => model.BillingDetails.BillingAddress)
                                @Html.TextBoxFor(model => model.BillingDetails.BillingAddress, new { @class = "form-control", @style = "width:100%", @readonly = "readonly" })
                            </div>
                            <div class="col-sm-6">
                                @Html.LabelFor(model => model.BillingDetails.BillingPostCode)
                                @Html.TextBoxFor(model => model.BillingDetails.BillingPostCode, new { @class = "form-control", @style = "width:100%", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-12">
                                <h3>ADDITIONAL INFORMATION</h3>
                            </div>
                            <div class="col-sm-12">
                                @Html.LabelFor(model => model.BillingDetails.OrderNotes)
                                @Html.TextAreaFor(model => model.BillingDetails.OrderNotes, new { @class = "form-control", @style = "width:100%", @placeholder = "Notes about your order, e.g. special notes for delivery." })
                            </div>
                            <div class="col-sm-6">
                                @Html.LabelFor(model => model.BillingDetails.PONumber)
                                @if (string.IsNullOrEmpty(Model.BillingDetails.PONumber))
                                {
                                    @Html.TextBoxFor(model => model.BillingDetails.PONumber, new { @class = "form-control", @style = "width:100%" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.BillingDetails.PONumber, new { @class = "form-control", @style = "width:100%", @readonly = "readonly" })
                                }
                            </div>
                            <div class="col-sm-12">
                                @*<strong id="Warning_Amount" style="color: red; @if (Model.ShoppingCart.Gross >= 120) { <text>display: none</text> }">£120 minimum of order amount</strong>*@
                                <input type="submit" class="btn btn-block btn-primary" value="Submit" id="Btn-Submit" />
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-sm-12">
                    <label>You cart is currently empty.</label>
                    @*<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="location.href='@Url.Action("index", "Products")';">Continue Shopping</button>*@
                </div>
            }

        </div>
    </div>
</section>
<style>
    .div-inline {
        overflow: hidden;
        white-space: nowrap;
        text-align: center;
        align-items: center;
    }
    #BillingDetails input, #BillingDetails textarea {
        max-width: 100%;
    }
    #BillingDetails .col-sm-12, #BillingDetails .col-sm-6 {
        margin-top:25px;
    }
    #div-shopping-cart {
        display: none;
    }
</style>


<!-- Modal -->
<div class="modal fade" id="Modal" role="dialog" style="z-index:2000">
    <div class="modal-dialog" style="width:800px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center;">Your Shopping Cart</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Continue Shopping</button>
                @if (User.Identity.IsAuthenticated)
                {
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="location.href='@Url.Action("CheckOut", "Products")';">Check Out</button>
                }
                else
                {
                    <button type="button" class="btn btn-primary" onclick="ShowProspectForm()">Send Me the Quote</button>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="EventDetails" role="dialog" style="z-index:2000">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center;">Event Details</h4>
            </div>
            <div class="modal-body">
                <table class="table table-borderless">
                    @Html.Hidden("EventID")
                    @Html.Hidden("EventSupplierID")
                    <tr>
                        <td>
                            <label>*Function Name:</label>
                        </td>
                        <td>
                            @Html.TextBox("FunctionName", null, new { @class = "form-control event-details", @required = "required" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>*Address Line 1:</label>
                        </td>
                        <td>
                            @Html.TextBox("AddressLine1", null, new { @class = "form-control event-details", @required = "required" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Address Line 2:</label>
                        </td>
                        <td>
                            @Html.TextBox("AddressLine2", null, new { @class = "form-control event-details" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>*Town:</label>
                        </td>
                        <td>
                            @Html.TextBox("Town", null, new { @class = "form-control event-details", @required = "required" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>*Postcode:</label>
                        </td>
                        <td>
                            @Html.TextBox("Postcode", null, new { @class = "form-control event-details", @required = "required" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Room Name/Number:</label>
                        </td>
                        <td>
                            @Html.TextBox("RoomName", null, new { @class = "form-control event-details" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>*Number of Guests:</label>
                        </td>
                        <td>
                            @Html.TextBox("NumberOfGuests", null, new { @class = "form-control event-details", @required = "required" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>*Event Date:</label>
                        </td>
                        <td>
                            @Html.Kendo().DatePicker().Name("EventDate").Min(DateTime.Now > DateTime.Now.Date.AddHours(13).AddMinutes(30) ? DateTime.Now.Date.AddDays(1) : DateTime.Now.Date).HtmlAttributes(new { @class = "event-details" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>*Start Time:</label>
                        </td>
                        <td>
                            @Html.Kendo().TimePicker().Name("StartTime").HtmlAttributes(new { @class = "event-details" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Delivery Details:</label>
                        </td>
                        <td>
                            @Html.TextArea("DeliveryDetails", null, new { @class = "form-control event-details" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Special Requirements:</label>
                        </td>
                        <td>
                            @Html.TextArea("SpecialRequirements", null, new { @class = "form-control event-details" })
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="SaveEventDetails()">Save</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        RefreshEventDetails();
    })

    $('#CheckOut').submit(function (e) {
        CheckOut();
        return false;
    })

    function CheckOut() {
        if (!IsValidOrder())
            return false;
        var billingDetails = {
            CompanyName: $('#BillingDetails_CompanyName').val(),
            EmailAddress: $('#BillingDetails_EmailAddress').val(),
            Phone: $('#BillingDetails_Phone').val(),
            DeliveryAddress: $('#BillingDetails_DeliveryAddress').val(),
            DeliveryCounty: $('#BillingDetails_DeliveryCounty').val(),
            DeliveryPostCode: $('#BillingDetails_DeliveryPostCode').val(),
            BillingAddress: $('#BillingDetails_BillingAddress').val(),
            BillingPostCode: $('#BillingDetails_BillingPostCode').val(),
            OrderNotes: $('#BillingDetails_OrderNotes').val(),
            PONumber: $('#BillingDetails_PONumber').val()
        };
        console.log(billingDetails);
        $.ajax({
            url: '@Url.Action("CheckOut", "Products")',
            type: 'POST',
            data: {
                CompanyID: GetCompanyID(),
                BillingDetails: billingDetails,
                EventDetails: GetAllEventDetails()
            },
            beforeSend: AjaxBegin,
            complete: AjaxComplete,
            success: function (response) {
                $('#divCheckOutForm').html(response);
            }
        })
    }

    function IsValidOrder() {
        var message = CheckMinimum();
        if (message != "") {
            alert(message);
            return false;
        } 

        if (!IsValidCalendarOrder()) {
            alert("Please add event details");
            return false;
        }

        return true;
    }

    function IsValidCalendarOrder() {
        var allEventDetails = GetAllEventDetails();
        var valid = true;
        $.each($('.supplier-cart'), function () {

            var eventDetailNeeded = $(this).find('.supplier-calandar-needed').val();
            if (eventDetailNeeded == "true") {
                var supplierID = $(this).find('.supplier-id').val();
                var exists = false;
                for (var i = 0; i < allEventDetails.length; i++) {
                    if (allEventDetails[i].EventSupplierID == supplierID)
                        exists = true;
                }
                if (exists == false) {
                    valid = false;
                    return false;
                }
            }
        });
        return valid;
    }

    function RefreshEventDetails() {
        $.each($('.event-detail-area'), function () {
            $(this).html('');
        })
        var allEventDetails = GetAllEventDetails();
        for (var i = 0; i < allEventDetails.length; i++) {
            $.each($('.event-detail-area[data-supplierid=' + allEventDetails[i].EventSupplierID + ']'), function () {
                $(this).append('<span style="cursor: pointer;" onclick="EditEventDetail(' + allEventDetails[i].EventID + ')">' + allEventDetails[i].FunctionName + ' ' + allEventDetails[i].EventDate + ' ' + allEventDetails[i].StartTime + '</span><span onclick="EditEventDetail(' + allEventDetails[i].EventID + ')" class="btn btn-xs btn-info">Edit</span><span onclick="DeleteEventDetail(' + allEventDetails[i].EventID + ')" class="btn btn-xs btn-warning">Delete</span><br/>');
            })
        }
    }

    function SaveEventDetails() {
        var eventDetails = GetEventDetailsFromForm();
        if (!IsValidEventDetail(eventDetails)) {
            return false;
        }
        SaveEventDetailsToSession(eventDetails);
        HideEventDetailForm();
    }

    function GetEventDetailsFromForm() {
        var eventDetails = {
            EventID: $('#EventID').val(),
            EventSupplierID: $('#EventSupplierID').val(),
            FunctionName: $('#FunctionName').val(),
            AddressLine1: $('#AddressLine1').val(),
            AddressLine2: $('#AddressLine2').val(),
            Town: $('#Town').val(),
            Postcode: $('#Postcode').val(),
            RoomName: $('#RoomName').val(),
            NumberOfGuests: $('#NumberOfGuests').val(),
            EventDate: $('#EventDate').val(),
            StartTime: $('#StartTime').val(),
            DeliveryDetails: $('#DeliveryDetails').val(),
            SpecialRequirements: $('#SpecialRequirements').val()
        }
        if (eventDetails.EventID == "") eventDetails.EventID = Math.floor((Math.random() * 1000000) + 1);
        return eventDetails;
    }

    function IsValidEventDetail(eventDetails) {
        if (eventDetails.FunctionName == "") {
            alert("Please type in function name");
            return false;
        }
        if (eventDetails.AddressLine1 == "") {
            alert("Please type in address line 1");
            return false;
        }
        if (eventDetails.Town == "") {
            alert("Please type in town");
            return false;
        }
        if (eventDetails.Postcode == "") {
            alert("Please type in postcode");
            return false;
        }
        if (eventDetails.NumberOfGuests == "") {
            alert("Please type in number of guests");
            return false;
        }
        if (eventDetails.EventDate == "") {
            alert("Please type in number of event date");
            return false;
        }
        if (eventDetails.StartTime == "") {
            alert("Please type in number of start time");
            return false;
        }
        return true;
    }

    function SaveEventDetailsToSession(eventDetails) {
        DeleteEventDetail(eventDetails.EventID)
        var allEventDetails = GetAllEventDetails();
        allEventDetails.push(eventDetails);
        SetAllEventDetails(allEventDetails);
        RefreshEventDetails();
    }

    function GetEventDetailByID(eventID) {
        var eventDetails = GetAllEventDetails();
        for (var i = 0; i < eventDetails.length; i++) {
            if (eventDetails[i].EventID == eventID) {
                return eventDetails[i];
            }
        }
        throw "No Content";
    }

    function GetAllEventDetails() {
        var allEventDetails = sessionStorage.getItem('eventDetails');
        if (allEventDetails != null && allEventDetails != undefined) {
            return JSON.parse(allEventDetails);
        } else {
            return [];
        }
        //$('#event-detail-area').html("<div><label>" + eventDetails.functionName + "</label><label>" + eventDetails.eventDate + " " + eventDetails.startTime + "</label></div>")
    }

    function SetAllEventDetails(allEventDetails) {
        sessionStorage.setItem('eventDetails', JSON.stringify(allEventDetails));
    }

    function EditEventDetail(eventID) {
        try {
            var eventDetail = GetEventDetailByID(eventID);
            FillEventDetail(eventDetail);
            ShowEventDetailForm();
        } catch (e) {
            alert(e);
        }
    }

    function FillEventDetail(eventDetail) {
        $('#EventID').val(eventDetail.EventID);
        $('#EventSupplierID').val(eventDetail.EventSupplierID);
        $('#FunctionName').val(eventDetail.FunctionName);
        $('#AddressLine1').val(eventDetail.AddressLine1);
        $('#AddressLine2').val(eventDetail.AddressLine2);
        $('#Town').val(eventDetail.Town);
        $('#Postcode').val(eventDetail.Postcode);
        $('#RoomName').val(eventDetail.RoomName);
        $('#NumberOfGuests').val(eventDetail.NumberOfGuests);
        $('#EventDate').val(eventDetail.EventDate);
        $('#StartTime').val(eventDetail.StartTime);
        $('#DeliveryDetails').val(eventDetail.DeliveryDetails);
        $('#SpecialRequirements').val(eventDetail.SpecialRequirements);
    }

    function NewEventDetail(supplierID) {
        var eventDetail = {
            EventSupplierID: supplierID
        }
        FillEventDetail(eventDetail);
        ShowEventDetailForm();
    }

    function DeleteEventDetail(eventID) {
        var allEventDetails = GetAllEventDetails();
        for (var i = 0; i < allEventDetails.length; i++) {
            if (allEventDetails[i].EventID == eventID) {
                allEventDetails.splice(i, 1);
            }
        }
        SetAllEventDetails(allEventDetails);
        RefreshEventDetails();
    }

    function ShowEventDetailForm() {
        $('#EventDetails').modal('show');
    }

    function HideEventDetailForm() {
        $('#EventDetails').modal('hide');
    }
</script>

<style>
    .table-borderless td {
        border:0 !important;
    }
</style>