﻿@model NuIngredient.Models.ProductDetailPageViewModel
@{
    ViewBag.Title = Model.Product.ProductName;
}
<script src="/Scripts/Views/ShoppingCart.js?v=@(DateTime.Now.ToString("yyMMddmmHH"))"></script>

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            @*<h1>@ViewBag.Title</h1>*@
        </div>
        <div class="col-xs-6">
            <br />
            <div style="float: right;">
                <a class="btn" style="margin-right:3px;" onclick="history.back();"><span class="fa fa-reply" style="font-size: 3em;"></span></a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <img src="@Model.Product.ImageURL" style="max-width:100%; min-width:100%; height: auto;" />
        </div>
        <div class="col-sm-8">
            <div class="product">
                <div class="product-detail">
                    <h1>@Model.Product.ProductName</h1>
                    @Model.Product.ShortDescription
                </div>
                <div class="product-order-detail">
                    <label>Unit : @Model.Product.Unit</label>
                    <br />
                    <label>Price: </label>
                    <span style="color:red; font-size: 40px; font-weight:800;">@Model.Product.Price.ToString("C")</span>
                    <label style="margin-left:10px;">Qty: </label>
                    <span style="font-size:12px;">
                        @(Html.Kendo().NumericTextBox()
                                      .Name("Qty")
                                      .Format("0")
                                      .Value(1)
                                      .Step(1)
                                      .Min(1)
                                      .Events(events => events.Change("OnQtyChange"))
                                      .HtmlAttributes(new { @style = "width: 70px; margin-bottom:5px;" })
                        )
                    </span>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (Model.Live)
                        {
                            <div class="btn btn-lg btn-primary add-to-cart" data-productid="@Model.Product.ID" data-qty="1" onclick="AddToCart(this)"><i class="fa fa-cart-plus" aria-hidden="true"></i>&nbsp;Add To Cart</div>
                        }
                        else
                        {
                            @*<div class="btn btn-lg btn-primary add-to-cart" data-productid="@Model.Product.ID" data-qty="1" onclick="alert('Please wait for us to set up your account.')"><i class="fa fa-cart-plus" aria-hidden="true"></i>&nbsp;Add To Quote</div>*@
                            <div class="btn btn-lg btn-primary add-to-cart" data-productid="@Model.Product.ID" data-qty="1" onclick="alert('Please wait for us to set up your account.')"><i class="fa fa-cart-plus" aria-hidden="true"></i>&nbsp;Add To Cart</div>
                        }
                    }
                    else
                    {
                        @*<div class="btn btn-lg btn-primary add-to-cart" data-productid="@Model.Product.ID" data-qty="1" onclick="AddToQuote(this)"><i class="fa fa-cart-plus" aria-hidden="true"></i>&nbsp;Add To Quote</div>*@
                        <div class="btn btn-lg btn-primary add-to-cart" data-productid="@Model.Product.ID" data-qty="1" onclick="AddToQuote(this)"><i class="fa fa-cart-plus" aria-hidden="true"></i>&nbsp;Add To Cart</div>
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <hr />
        </div>
        <div class="col-sm-12">
            @Html.Raw(Model.Product.Description)
        </div>
    </div>
</div>

<style>
    .div-inline {
        overflow: hidden;
        white-space: nowrap;
        text-align: center;
        align-items: center;
    }
    .product .product-detail {
        height: 220px;
    }
    .product .product-order-detail {
        font-size:30px;
    }

</style>

<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_Edit" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 800px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="Edit_Body"></div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Modal" role="dialog" style="z-index:2000">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center;">Your Shopping Cart</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>



<script>
    function OnQtyChange() {
        $('.add-to-cart').data('qty', this.value());
    }
</script>