﻿@using Microsoft.AspNet.Identity
@model NuIngredient.Models.ProductsPageViewModel
@{
    ViewBag.Title = "Products";
}

<script src="/Scripts/Views/ShoppingCart.js?v=@(DateTime.Now.ToString("yyMMddmmHH"))"></script>

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-xs-6">
            <br />
            <div class="pull-right">
                @if (User.IsInRole("NI-User"))
                {
                    <a class="btn" style="margin-right:3px; border-color:#dddddd;" onclick="if (history.length > 1) window.history.back(); else window.close();"><span class="glyphicon glyphicon-arrow-left"></span> &nbsp;Back</a>
                }
                <a class="btn" style="margin-right:3px;" href="javascript:void(0)" title="View Cart" onclick="ShowShoppingCart();"><span class="fa fa-shopping-cart" style="font-size: 3em;"></span></a>
                <span name="Subtotal"></span>
            </div>
        </div>
        <div class="col-xs-12" style="padding-left: 20px;">
            @if (ViewBag.DryGoods)
            {
                @Html.Action("GetHtmlPage", "CMS", new { label = "Dry Goods Order Now" })
            }
            else
            {
                @Html.Action("GetHtmlPage", "CMS", new { label = "Dry Goods Prospects Content" })
            }
        </div>
        <div class="col-xs-12">
            @if (User.Identity.IsAuthenticated)
            {
                if (Model.LiveOnDryGoods)
                {
                    <div style="padding-left: 20px;">
                        <h4 style="color:red;">Hello @User.Identity.GetName(),</h4>
                        <h5 style="color:red;">
                            @if (Model.DeliveryDays.Count() > 0)
                            {<text>
                                Orders placed by 4 pm today will be delivered on @Model.NextDeliveryDate.ToString("dddd dd MMM").
                            </text>}
                        </h5>
                    </div>
                }
                else if (Model.AskingForDryGoodsSupplier)
                {
                    <div style="padding-left: 20px;">
                        <h4 style="color:red;">Hello @User.Identity.GetName(),</h4>
                        <h5 style="color:red;">
                            Office Groceries are currently setting up your Dry Goods account. <br /><br />
                            Please allow up to 6 working days from initial enquiry for your account to be set up. <br /><br />
                            Office Groceries will e-mail you once ready and confirm your 1st delivery day.
                        </h5>
                    </div>
                }
                else
                {
                    <div style="padding-left: 20px;">
                        <h4 style="color:red;">Hello @User.Identity.GetName(),</h4>
                        <h5 style="color:red;">
                            Office Groceries currently do not have an account set up for our Dry Goods catalogue. <br /><br />
                            Would you like to activate your Dry Goods account now, if so click here
                        </h5>
                        <h4><a href="#" onclick="AskForDryGoodsSupplier()">Yes, Please Activate</a></h4>
                    </div>
                }
            }
            else
            {
                <h4><a href="/Account/EnquiryForm">Set Up Account</a></h4>
            }
        </div>
        <div class="col-xs-6">
            @if (User.IsInRole("NI-User"))
            {
                <div style="display:none;">
                    @(Html.Kendo().DropDownList()
                              .Name("Company")
                              .DataTextField("Name")
                              .DataValueField("ID")
                              .OptionLabel("Please select a company...")
                              .DataSource(dataSource => dataSource.Read("DropDownCompanies", "Companies"))
                              .Events(events => events.Change("ChangeCompany"))
                              .HtmlAttributes(new { @style = "width: 200px;" })
                    )
                </div>
            }
        </div>
        <div class="col-xs-2">
            <br />
        </div>
        <div class="col-xs-4">
            <div class="input-group">
                @Html.TextBox("TB_Filter", null, new { @class = "form-control", @style = "max-width:none;", @placeholder = "Search For Products" })
                <span class="input-group-btn">
                    <a class="btn btn-default" onclick="RefreshListView(); return false;"><span class="glyphicon glyphicon-search"></span></a>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="pull-right">
                <strong>Please note: A minimum of £120.00 per order is required under the Dry Goods Aisle</strong>
            </div>
            <hr />
        </div>
        
        @Html.Partial("_Carousels", Model)

        <div class="col-sm-12">
            <div style="display:inline-block; width:230px; vertical-align:top; ">
                @*This Panel below holds all the search filters for the Page*@
                <div class="panel panel-default" style="background-color:initial;">
                    <div class="panel-body">
                        @(Html.Kendo().TreeView()
                                      .Name("CategoryTreeView")
                                      .DataTextField("Name")
                                      .DataSource(datasource => datasource.Read(read => read.Action("TreeViewProductCategories", "ProductCategories")))
                                      .Events(events =>
                                      {
                                          events.Change("RefreshListView");//.DataBound("OnTreeViewDataBound");
                                      })
                                      .LoadOnDemand(false)
                        )
                    </div>
                </div>
            </div>
            <div style="display:inline-block; padding-left:5px; width:calc(100% - 235px)">
                @*ListView*@
                <script>
                    function DataBound(e) {
                        //if (e.sender.dataSource.totalPages() == 1)
                        //    e.sender.pager.element.hide();
                    }
                </script>
                @(Html.Kendo().ListView<NuIngredient.Models.ProductListViewModel>()
                              .Name("ListViewProducts")
                              .TagName("div")
                              .ClientTemplateId("listviewTemplate")
                              .DataSource(dataSource => dataSource.Read(read => read.Action("Read", "ProductListView").Data("GetSearchInfo"))
                              )
                              .Pageable(p => p.PageSizes(new[] { 20, 40, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Products").Empty("No Products Found")))
                              .AutoBind(false)
                              .Events(events => events.DataBound("DataBound"))
                )
                @*Listview Template*@
                <script type="text/x-kendo-tmpl" id="listviewTemplate">
                    <div class="product">
                        <a href="/Products/Detail/#=ID#"><img src="#=ThumbnailImageURL#" alt="#=Name# image" /></a>
                        <div class="btn btn-block add-to-cart" data-productid="#=ID#" data-qty="1" onclick="AddToCart(this)">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            @if (User.Identity.IsAuthenticated && Model.LiveOnDryGoods)
                            {
                                <text>
                                    &nbsp;Add To Cart
                                </text>
                            }
                            else
                            {
                                <text>
                                    &nbsp; Add To Quote
                                </text>
                            }
                        </div>
                        <a href="/Products/Detail/#=ID#"><h2>#=Name#</h2></a>
                        <h3 title="#=ShortDescription#">#=ShortDescription#</h3>
                        <h2 class="price">#=kendo.toString(Price, "c")# #if(VAT != 0){#<span style="font-size:12px;">ex VAT</span>#}#<br /><span style="color:red;">#=Unit#</span></h2>
                    </div>
                </script>
            </div>
        </div>
    </div>
</div>

<style>
    .div-inline {
        overflow: hidden;
        white-space: nowrap;
        text-align: center;
        align-items: center;
    }
</style>

<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_Edit" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 800px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="Edit_Body"></div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Modal" role="dialog" style="z-index:2000">
    <div class="modal-dialog" style="width:800px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center;">Your Shopping Cart</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Modal_Prospect" role="dialog" style="z-index:2001">
    <div class="modal-dialog" style="width:400px;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center;"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        @if (User.IsInRole("NI-User"))
        {
            if (ViewBag.CompanyID != null)
            {
            <text>
                sessionStorage.CompanyID = '@ViewBag.CompanyID';
                $('#Company').data('kendoDropDownList').value(GetCompanyID());
            </text>
            }
        }

        $('#ListViewProducts').data('kendoListView').dataSource.pageSize(24);
        RefreshListView();
    })

    

    function RefreshListView() {
        var listview = $('#ListViewProducts').data('kendoListView');
        listview.dataSource.read();
    }

    $("#TB_Filter").keyup(function (e) {
        if (e.keyCode == 13) {
            RefreshListView();
        }
    });

    function GetSearchInfo() {
        return {
            categoryID: GetCategory(),
            filterText: $('#TB_Filter').val(),
            companyID: GetCompanyID()
        };
    }

    function GetCategory() {
        var treeView = $('#CategoryTreeView').data('kendoTreeView');
        var selected = treeView.select();

        return treeView.dataItem(selected) == undefined ? null : treeView.dataItem(selected).id;
    }

    function ChangeCompany()
    {
        sessionStorage.CompanyID = $('#Company').val();
        RefreshListView();
    }

    function AskForDryGoodsSupplier() {
        if (!confirm("Set up your dry goods account?")) return false;
        $.ajax({
            url: '/Companies/AskForDryGoodsSupplier',
            type: 'POST',
            data: {
                id: GetCompanyID()
            },
            success: function (response) {
                alert("Office Groceries are currently setting up your Dry Goods account.\nPlease allow up to 6 working days from initial enquiry for your account to be set up.\nOffice Groceries will e- mail you once ready and confirm your 1st delivery day.");
                location.reload();
            }
        })
    }
</script>

<style>
    /*for listview*/

    #listView {
        padding: 10px 5px;
        margin-bottom: -1px;
        min-height: 510px;
    }

    .product {
        float: left;
        position: relative;
        width: 211px;
        height: 350px;
        padding: 0;
        margin: 0 30px 20px 0;
        border: 1px solid lightgrey;
        transition: .5s; /* delays for 1 second */
        -webkit-transition: .5s; /* for Safari & Chrome */
        -moz-transition: .5s;
        -o-transition: .5s;
    }

    .product:hover {
        border-color: darkturquoise;
    }

    .product img {
        width: 210px;
        height: 165px;
    }

    .product .add-to-cart {
        font-size: 15px;
        background-color: lightskyblue;
        font-family: "Arial Black", Gadget, sans-serif;
    }

    .product .add-to-cart:hover {
        color: white;
        font-size: 15px;
        background-color: red;
        font-family: "Arial Black", Gadget, sans-serif;
    }

    .product .price {
        font-size: 20px;
        color: mediumslateblue;
    }

    .product h2 {
        font-size: 15px;
        overflow: hidden;
        margin: 0 0 0 10px;
        padding: 3px 5px 0 0;
        max-width: 290px;
        height: 35px;
    }

    .product h3 {
        margin: 0 0 0 10px;
        padding: 3px 5px 0 0;
        height: 35px;
        max-width: 290px;
        overflow: hidden;
        line-height: 1.1em;
        font-size: .9em;
        font-weight: normal;
        color: #999;
    }

    .k-listview:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .k-listview {
        background-color: inherit;
        border-width: 0;
    }

    #ListViewProducts.k-widget {
        color: inherit;
    }

</style>