﻿@model List<NuIngredient.Models.OneOffOrderGridViewModel>

@{
    ViewBag.Title = "One-Off Order Histories";
}
<section id="dashboard">
    <div class="container">
        <div class="row" id="account">
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="col-xs-12">
                    <div class="alert alert-success">
                        @ViewBag.SuccessMessage
                    </div>
                </div>
                <script>
                    setTimeout(function () {
                        $('.alert-success').hide();
                    }, 5000);
                </script>
            }
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="col-xs-12">
                    <div class="alert alert-danger">
                        <strong>Error:</strong> @ViewBag.ErrorMessage
                    </div>
                </div>
                <script>
                    setTimeout(function () {
                        $('.alert-danger').hide();
                    }, 5000);
                </script>
            }
            <div class="col-xs-12">
                <div id="header-dashboard-banner">
                    <h1>Previous Orders</h1>
                </div>
            </div>
        </div>
        <div class="row" id="table-headers">
            <div class="col-xs-12 col-sm-2 account-header">Status</div>
            <div class="col-xs-12 col-sm-4 account-header">Order Number</div>
            <div class="col-xs-12 col-sm-2 account-header">Total</div>
            <div class="col-xs-12 col-sm-2 account-header">Date</div>
            <div class="col-xs-12 col-sm-2 account-header"></div>
        </div>
        @foreach (var order in Model)
        {
            <div class="row table-body">
                <div class="col-xs-12 col-sm-2"><p>@order.Status</p></div>
                <div class="col-xs-12 col-sm-4"><p>@order.OrderNumber</p></div>
                <div class="col-xs-12 col-sm-2"><p>@order.Total.ToString("C")</p></div>
                <div class="col-xs-12 col-sm-2"><p>@order.Created.ToString("dd/MM/yyyy")</p></div>
                <div class="col-xs-3 col-sm-2"><a href="javascript:void(0)" data-toggle='modal' data-target='#Modal' onclick='OrderDetails("@order.ID");' class="btn btn-primary"><span class='glyphicon glyphicon-th-list glyphicon-btn' style="color:white;" /></a></div>
            </div>
        }
    </div>
</section>

<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_Edit" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 800px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="Edit_Body"></div>
    </div>
</div>
  <!-- Modal -->
<div class="modal fade" id="Modal" role="dialog" >
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center;"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script>
    function OrderDetails(id) {
        $.ajax({
            url: '/Products/_OneOffOrderDetails',
            type: 'GET',
            data: {
                id: id
            },
            success: function (response) {
                $('#Modal .modal-title').html("One-Off Order History");
                //$('#Modal .modal-dialog').css("width", "700px");
                $('#Modal .modal-body').html(response);
            }
        })
    }
</script>

<style>
    span.label {
        display: block;
    }
</style>