﻿@model NuIngredient.Models.SendPoPageViewModel

<script>
    function OnStartChange() {
        let startDate = this.value();
        if (startDate) {
            startDate = new Date(startDate);
            $('#DateTo').data("kendoDatePicker").min(startDate);
        }
    }

    function OnEndChange() {
        let endDate = this.value();
        if (endDate) {
            endDate = new Date(endDate);
            $('#DateFrom').data('kendoDatePicker').max(endDate);
        }
    }

    function OnEditCompanySupplierSuccess(response) {
        if (response.status == "Success") {
        } else {
        }
    }

</script>


<div id="divPoCalculator">
    @using (Ajax.BeginForm("Calculate", "PoCalculator", null, new AjaxOptions { UpdateTargetId = "divPoResult", OnSuccess = "OnEditCompanySupplierSuccess", OnBegin = "AjaxBegin", OnComplete = "AjaxComplete" }, new { id = "EditCompanySupplierForm", method = "post" }))
    {
        <div class="row">
            <div class="col-sm-12">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.CompanyId)
                <table style="width:100%;">
                    <tr>
                        <td>
                            <label>Date From: </label>
                        </td>
                        <td>
                            @(Html.Kendo().DatePickerFor(model => model.DateFrom)
                                .Max(Model.DateTo)
                                .Events(events => events.Change("OnStartChange"))
                                .HtmlAttributes(new { @style = "width:100%;" })
                            )
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Date To: </label>
                        </td>
                        <td>
                            @(Html.Kendo().DatePickerFor(model => model.DateTo)
                                .Min(Model.DateFrom)
                                .Events(events => events.Change("OnEndChange"))
                                .HtmlAttributes(new { @style = "width:100%;" })
                            )
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-12">
                <input type="submit" value="Calculate" class="btn btn-inverse pull-right">
            </div>
        </div>
    }
    <div class="row">
        <div class="col-sm-12" id="divPoResult">
            
        </div>
    </div>
</div>
<style>
    #divPoCalculator td {
        padding: 5px;
    }
</style>