﻿@model NuIngredient.Models.WeeklyAverageReport

<script>
    function OnPoSent(response)
    {
        alert(response);
    }
    
    function OnPoFailure(response) {
        alert("Failed to send PO, please check whether the email is valid and doesn't include < or >, or any special characters except for @@");
    }
</script>

@using (Ajax.BeginForm("SendPo", "PoCalculator", null, new AjaxOptions { OnSuccess = "OnPoSent", OnFailure = "OnPoFailure", OnBegin = "AjaxBegin", OnComplete = "AjaxComplete" }, new { id = "EditCompanySupplierForm", method = "post" }))
{
    @Html.HiddenFor(m => m.CompanyID)
    @Html.HiddenFor(m => m.FromDate)
    @Html.HiddenFor(m => m.ToDate)

    <table class="table" style="width:100%;">
        <tbody>
        @if (Model.MilkWeeklyAverage.Value != 0)
        {
            <tr class="success">
                <th>Milk</th>
                <th>Unit</th>
                <th>Cost</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Weekly Volume</th>
                <th>Weekly Total</th>
            </tr>
            foreach (var pdt in Model.MilkWeeklyAverage.LineItems)
            {
                <tr>
                    <td>@pdt.Name</td>
                    <td>@pdt.Unit</td>
                    <td>£@pdt.UnitCost.ToString("#,#.00")</td>
                    <td class="text-center">@pdt.Mon.ToString("#")</td>
                    <td class="text-center">@pdt.Tue.ToString("#")</td>
                    <td class="text-center">@pdt.Wed.ToString("#")</td>
                    <td class="text-center">@pdt.Thu.ToString("#")</td>
                    <td class="text-center">@pdt.Fri.ToString("#")</td>
                    <td class="text-center">@pdt.Sat.ToString("#")</td>
                    <td class="text-center">@pdt.WeeklyVolume</td>
                    <td class="text-center">£@pdt.Total.ToString("#,#.00")</td>
                </tr>
            }
            <tr>
                <th class="text-center" colspan="10">Total</th>
                <th class="text-center">£@Model.MilkWeeklyAverage.Value.ToString("#,#.00")</th>
            </tr>
        }
        @if (Model.FruitWeeklyAverage.Value != 0)
        {
            <tr class="info">
                <th>Fruit</th>
                <th>Unit</th>
                <th>Cost</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Weekly Volume</th>
                <th>Weekly Total</th>
            </tr>
            foreach (var pdt in Model.FruitWeeklyAverage.LineItems)
            {
                <tr>
                    <td>@pdt.Name</td>
                    <td>@pdt.Unit</td>
                    <td>£@pdt.UnitCost.ToString("#,#.00")</td>
                    <td class="text-center">@pdt.Mon.ToString("#")</td>
                    <td class="text-center">@pdt.Tue.ToString("#")</td>
                    <td class="text-center">@pdt.Wed.ToString("#")</td>
                    <td class="text-center">@pdt.Thu.ToString("#")</td>
                    <td class="text-center">@pdt.Fri.ToString("#")</td>
                    <td class="text-center">@pdt.Sat.ToString("#")</td>
                    <td class="text-center">@pdt.WeeklyVolume</td>
                    <td class="text-center">£@pdt.Total.ToString("#,#.00")</td>
                </tr>
            }
            <tr>
                <th class="text-center" colspan="10">Total</th>
                <th class="text-center">£@Model.FruitWeeklyAverage.Value.ToString("#,#.00")</th>
            </tr>
        }
        <tr class="danger">
            <th class="text-center" colspan="11">Summary</th>
        </tr>
        <tr>
            <th colspan="10">Total Weeks:</th>
            <th class="text-center">@Model.Weeks</th>
        </tr>
        <tr>
            <th colspan="10">Weekly Average:</th>
            <th class="text-center">£@Model.WeeklyTotal.ToString("#,#.00")</th>
        </tr>
        <tr>
            <th colspan="10">Total:</th>
            <th class="text-center">£@Model.Total.ToString("#,#.00")</th>
        </tr>
        </tbody>
    </table>
    
    <label>Emails:</label>
    @(
        Html.Kendo().MultiSelectFor(m => m.ToEmailList)
            .DataSource(dataSource => dataSource
                .Read("DropDownUsers", "Users", new {companyID = Model.CompanyID})
            )
            .DataValueField("ID")
            .DataTextField("Name")
        )
    <label>Or Other Emails:</label>

    @(
        Html.Kendo().TextBoxFor(m => m.OtherEmails)
            .HtmlAttributes(new { @class="form-control", style="max-width: none;"} )
        )
    <i>Use ";" to separate multiple emails, do not put "<" or ">"</i>
    <hr/>
    <input type="submit" value="Send" class="btn btn-info pull-right">
}