﻿@model NuIngredient.Models.PromotionOfferViewModel
@{ 
    ViewBag.Title = "Promotion Offer";
}
<div class="container" id="divEditPage">

    @using (Html.BeginForm("Edit", "PromotionOffers", null, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ID)

        <div class="row">
            <div class="col-xs-9">
                <h2>@ViewBag.Title</h2>
            </div>
            <div class="col-xs-3">
                <br />
            </div>
        </div>

        <div class="row form-table">
            <div class="col-sm-12">
                <hr />
                <table class="table-responsive" style="width: 100%;">
                    <tr>
                        <td><label>Subject:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.Subject, new { @class = "form-control", @style = "max-width: none;" })
                            @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>Content:</label></td>
                        <td>
                            @(Html.Kendo().EditorFor(model => model.Content)
                                    .HtmlAttributes(new { @class = "form-control", @placeholder = "", @style = "max-width:none; margin-bottom:10px; heigh:700px;" })
                                    .Encode(false)
                                    .Tools(tools => tools.Clear()
                                                         .Formatting()
                                                         .Bold()
                                                         .Italic()
                                                         .Underline()
                                                         .JustifyLeft()
                                                         .JustifyCenter()
                                                         .JustifyRight()
                                                         .InsertUnorderedList()
                                                         .InsertOrderedList()
                                                         .Indent()
                                                         .CreateLink()
                                                         .FontName()
                                                         .FontSize()
                                                         .FontColor()
                                                         .ViewHtml()
                                    )
                                    .Resizable()
                            )
                        </td>
                    </tr>
                </table>
            </div>
            
            <div class="col-sm-12">

            </div>

            <div class="col-sm-12">
                <br /><br />
                <input type="submit" value="Save" class="btn btn-inverse">
                @if (ViewBag.Saved != null)
                {
                    <br />
                    <label class="l_Saved"><strong>Details Saved!</strong></label>
                    <script>
                        Refresh();
                    </script>
                }
            </div>
            <div class="col-sm-12">
                <hr />
            </div>
        </div>
    }

</div>
