﻿@using NuIngredient.Models
@model NuIngredient.Models.DeliveryChargeViewModel

@using (Ajax.BeginForm("_EditDeliveryChargeDetails", "Suppliers", new AjaxOptions { UpdateTargetId = "divSupplier"}, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    //@Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.SupplierID)

    <div class="col-sm-12">
            <table style="width: 100%;">
                <tr>
                    <td><label>Is Active:</label></td>
                    <td>
                        @Html.Kendo().CheckBoxFor(model => model.IsActive)
                    </td>
                </tr>
                <tr>
                    <td><label>Name:</label></td>
                    <td>
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td><label>Code:</label></td>
                    <td>
                        @Html.TextBoxFor(model => model.Code, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td><label>Charge:</label></td>
                    <td>@Html.Kendo().NumericTextBoxFor(model => model.Charge)</td>
                </tr>
                @if (Model.Category == DeliveryChargeCategory.Supplier)
                {
                    <tr>
                        <td><label>Supplier:</label></td>
                        <td>@Model.SupplierName</td>
                    </tr>
                }
            </table>
        </div>
        
        <div class="col-sm-12">
            <br />
            <input type="submit" value="Save details" class="btn btn-inverse" />
            @if (ViewBag.Saved != null)
            {
                <label id="l_Saved"><strong>Details Saved!</strong></label>
                            <script>
                                setTimeout(function () { $("#l_Saved").fadeOut(); }, 2000);
                            </script>
            }
        </div>
}

<style>
    #div_Body table tr th, #div_Body table tr td {
        padding: 2px;
    }

    #div_Body table {
        width: 100%;
    }
</style>

