﻿@using NuIngredient.Models
@model NuIngredient.Models.DeliveryChargeViewModel

<div id="div_Body" >
    <div class="row">
        <div class="col-xs-9">
            <h2>Edit Charge</h2>
        </div>
        <div class="col-xs-3">
            <br />
            <a class="btn btn-sm btn-default" onclick="HideViews()" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
        </div>
    </div>
    <div id="divSupplier" class="row" style="margin-top:15px;">
        @Html.Action("_EditDeliveryChargeDetails", new { ID = Model.ID })
    </div>

    @if (Model.Category == DeliveryChargeCategory.General)
    {
        @Html.Partial("_PostcodeGrid", Model)
    }
    else
    {
        @Html.Partial("_PotentialCustomerGrid", Model)
    }
    
</div>
