﻿@using NuIngredient.Models
@model NuIngredient.Models.DeliveryChargeViewModel

<div id="divNewOrg" style="margin:15px;">

    <script>
            function OnSuccess(response) {
                //Call function from Index view
                if (response.ID != null) {
                    CreatedCharge(response["ID"]);
                }
            }
    </script>

    @using (Ajax.BeginForm("_NewDeliveryCharge", "Suppliers", new AjaxOptions { UpdateTargetId = "divNewOrg", OnSuccess = "OnSuccess" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        //@Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div id="div_Body"  class="row">
            <div class="col-xs-9">
                <h2>New Charge</h2>
            </div>
            <div class="col-xs-3">
                <br />
                <a class="btn btn-sm btn-default" onclick="HideViews()" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
            </div>
            <div class="col-sm-12">
                <br />
            </div>
            
            <div class="col-sm-12">
                <table style="width: 100%;">
                    <tr>
                        <td><label>Name:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>Code:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.Code, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>Charge:</label></td>
                        <td>@Html.Kendo().NumericTextBoxFor(model => model.Charge)</td>
                    </tr>
                    <tr>
                        <td><label>Supplier</label></td>
                        <td>
                            @(Html.Kendo().DropDownListFor(model => model.SupplierID)
                                .DataValueField("Value")
                                .DataTextField("Text")
                                .OptionLabel(" ")
                                .Filter("contains")
                                .DataSource(source => {
                                    source.Read(read => {
                                        read.Action("DropDownSuppliers", "Suppliers", new { supplierType = SupplierType.Milk });
                                    }); 
                                })
                                .HtmlAttributes(new { @style="width: 280px; max-width: none;"})
                                .AutoBind(false)
                            )
                        </td>
                    </tr>
                </table>
            </div>
            
            <div class="col-sm-12">
                <br /><br />
                <input type="submit" value="Add Charge" class="btn btn-inverse" />
            </div>
        </div>
    }

    <style>
        #div_Body table tr th, #div_Body table tr td {
            padding: 2px;
        }

        #div_Body table {
            width: 100%;
        }
    </style>

</div>