﻿@model NuIngredient.Models.DeliveryChargeViewModel

<div class="row" style="margin-top:15px;">
    <div class="col-xs-12">
        <div class="btn btn-xs btn-info" style="margin-bottom: 5px;" onclick="$('#GridPostcodes').data('kendoGrid').addRow();">Add Postcode</div>
        @(Html.Kendo().Grid<NuIngredient.Models.DeliveryChargePostcodeGridViewModel>()
            .Name("GridPostcodes")
            .Columns(columns =>
            {
                columns.Bound(f => f.ID).Hidden();
                columns.Bound(f => f.Postcode).Title("Postcode").EditorTemplateName("PostcodeTextBox").HtmlAttributes(new {@class="div-inline"}).HeaderHtmlAttributes(new {@style="text-align: center;"});
                columns.Command(command => {
                    command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                    command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn'/>");
                }).Width("90px");
            })
            .Editable(editable => editable.Mode(GridEditMode.InLine).DisplayDeleteConfirmation("Set this prospect as no go and remove all the assotiate quotes?"))
            .Sortable()
            .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(m => m.ID);
                        model.Field(m => m.DeliveryChargeID).DefaultValue(Model.ID);
                    })
                    .Sort(sort => sort.Add("Postcode").Ascending())
                    .Create(create => create.Action("Create", "DeliveryChargePostcodeGrid"))
                    .Update(update => update.Action("Update", "DeliveryChargePostcodeGrid"))
                    .Read(read => read.Action("Read", "DeliveryChargePostcodeGrid", new {deliveryChargeID = Model.ID}))
                    .Destroy(destroy => destroy.Action("Destroy", "DeliveryChargePostcodeGrid"))
            )
            .Pageable(p => p.PageSizes(new[] { 10, 20, 50 }).Messages(m => m.Display("{0} - {1} of {2} Postcodes").Empty("No data")))
            .Events(events => events.DataBound("KendoGridDatabound"))
        )
    </div>
</div>
