﻿@model NuIngredient.Models.DeliveryChargeViewModel

<div class="row" style="margin-top:15px;">
    <div class="col-xs-12">
        <h4>Potential Affected Customers</h4>
        @(Html.Kendo().Grid<NuIngredient.Models.DeliveryChargePotentialCustomerViewModel>()
            .Name("GridPotentialCustomers")
            .Columns(columns =>
            {
                columns.Bound(f => f.ID).Hidden();
                columns.Bound(f => f.Name);
                columns.Bound(f => f.Postcode);
            })
            .Sortable()
            .DataSource(dataSource => dataSource
                .Ajax()
                .ServerOperation(false)
                .Sort(sort => sort.Add("Name").Ascending())
                .Read(read => read.Action("ReadPotentialCustomers", "DeliveryChargeGrid", new { supplierID = Model.SupplierID }))
            )
            .Pageable(p => p.PageSizes(new[] { 10, 20, 50 }).Messages(m => m.Display("{0} - {1} of {2} Potential Customers").Empty("No data")))
            .Events(events => events.DataBound("KendoGridDatabound"))
            )
    </div>
</div>
