﻿@using NuIngredient.Models

@{
    ViewBag.Title = "Additional Charges";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>Additional Charges</h1>
        </div>
        <div class="col-sm-6">
            <br />
        </div>
        <div class="col-sm-12">
            <br />
        </div>
        <div class="col-xs-6">
            <a class="btn btn-inverse" onclick="NewCharge()" ><span class="glyphicon glyphicon-home"></span>&nbsp;New Charge</a>&nbsp;
        </div>
        <div class="col-xs-2">
            @*@(Html.Kendo().DropDownList()
                        .Name("DD_Types")
                        .DataTextField("Name")
                        .DataValueField("ID")
                        .Events(e => e.Change("Refresh"))
                        .OptionLabel("All Types")
                        .BindTo(Enum.GetNames(typeof(SupplierType))
                                    .Select(x => new SelectItemViewModel() { ID = x, Name = x })
                                    .ToList()
                        )
                        .AutoBind(true)
                        .Value("")
                        .HtmlAttributes(new { style = "width: 100%" })
                        .NoDataTemplate("No types defined")
            )*@
        </div>
        
        <div class="col-xs-4">
            <div class="input-group">
                @Html.TextBox("TB_FilterText", null, new { @class = "form-control", @style = "max-width:none", @placeholder = "Search by Name or Postcode" })
                <span class="input-group-btn">
                    <a class="btn btn-default" onclick="Refresh()"><span class="glyphicon glyphicon-search"></span></a>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>
        <div id="divPager" class="col-sm-12">
             <div class="form-group" role="group" aria-label="...">
                <a class="btn btn-sm btn-default" onclick="Refresh()"><span class="glyphicon glyphicon-refresh" ></span>&nbsp; Refresh</a>&nbsp;
            </div>
        </div>

        <div class="col-sm-12">
            @(Html.Kendo().Grid<DeliveryChargeGridViewModel>()
                      .Name("GridCharges")
                      .Columns(columns =>
                      {
                          columns.Template(@<text></text>).ClientTemplate("<a title='Edit' href='\\#' onclick='EditSupplier(\"#=ID#\"); return false;'><span class='glyphicon glyphicon-edit glyphicon-btn'/></a>").Width(25);
                          columns.Command(command =>
                          {
                              command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn'/>");
                          }).Width(30);
                          columns.Bound(m => m.ID).Hidden();
                          columns.Bound(m => m.IsActive).Title("Active").ClientTemplate("<i class='glyphicon #if(IsActive){#glyphicon-check#}else{#glyphicon-unchecked#}#'></i>").HtmlAttributes(new { @style = "text-align:center", @title="Tick if the product is alive." }).Width(50);
                          columns.Bound(m => m.Name).Title("Name").Width(200);
                          columns.Bound(m => m.Code).Title("Code").Width(100);
                          columns.Bound(m => m.Category).Width(60);
                          columns.Bound(m => m.SupplierName).Title("Supplier").Width(200);
                          columns.Bound(m => m.Charge).Width(100);
                          // columns.Bound(m => m.VAT).Width(60);
                      })
                .Scrollable(scrollable => scrollable.Height("auto").Enabled(true))
                      .Pageable(p => p.PageSizes(new[] { 50, 100, 200, 1000 }).Messages(m => m.Display("{0} - {1} of {2} Charges").Empty("No Charges Found")))
                      .Sortable()
                      .DataSource(dataSource =>
                      {
                          dataSource.Ajax()
                                    .Model(model =>
                                    {
                                        model.Id(m => m.ID);
                                        model.Field(m => m.Category).Editable(false);
                                    })
                                    .Read(read => read.Action("Read", "DeliveryChargeGrid").Data("GetSearchInfo"))
                                    .Destroy(destroy => destroy.Action("Destroy", "DeliveryChargeGrid"))
                                    .Events(events => events.RequestEnd("GridCharges_RequestEnd"))
                                    .PageSize(100);
                      })
                      .Events(events => events.DataBound("KendoGridDatabound"))
                        .HtmlAttributes(new {@style="width: 100%"})

            )
        </div>        
    </div>
</div>


<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_EditCharge" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 700px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="EditSupplier_Body"></div>
    </div>
</div>


<script>

    function Refresh() {
        var grid = $("#GridCharges").data("kendoGrid");
        if (grid.dataSource.page() != 1) {
            grid.dataSource.page(1);
        }
        grid.dataSource.read();
    }


    function GetSearchInfo() {
        return {
            filterText: $('#TB_FilterText').val()
            //type: $("#DD_Types").data("kendoDropDownList").value(),
        }
    }

    $("#TB_FilterText").keyup(function (e) {
        Refresh();
    });

    //Below the following functions are used the show/hide the content panels.
    function NewCharge() {
        $("#EditSupplier_Body").load("@Url.Action("_NewDeliveryCharge", "DeliveryCharges")");

        $("#SlideContent_EditCharge").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_EditCharge").css("display", "block");
        $("#Button_Close_Content").css("display", "block");
    }

    function EditSupplier(id) {
        var url = '@Url.Action("_EditDeliveryCharge", "DeliveryCharges")' + '?ID=' + id;
        $("#EditSupplier_Body").load(url);

        $("#SlideContent_EditCharge").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_EditCharge").css("display", "block");
        $("#Button_Close_Content").css("display", "block");
    }

    function CreatedCharge(id) {
        var url = '@Url.Action("_EditDeliveryCharge", "DeliveryCharges")' + '?ID=' + id;
        $("#EditSupplier_Body").load(url);
    }

    function HideViews() {
        $("#SlideContent_EditCharge").animate({ width: '0%' }, { queue: false, duration: 300 });
        setTimeout(function () {
            $("#SlideContent_EditCharge").css("display", "none");
            $("#Button_Close_Content").css("display", "none");

            Refresh();
        }, 300);

    }

    function GridCharges_RequestEnd(e) {
        if (e.type != "read") {
            $('#GridCharges').data('kendoGrid').dataSource.read();
        }
    }

</script>


<style>
    .k-pager-wrap {
        margin-left: 0%;
    }

    .k-grid table tbody tr td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>