body { background: #b5b5b5; }
html { background: #b5b5b5; }
/*main {
    background-image: url(/Views/CMS/Content/Media/lines-2.png);
    background-repeat: no-repeat;
}*/
#header-isle-banner { background: #fff; text-align: center; padding: 10px 0 10px 0; }
.wrapper { margin-top: 90px!important; }
#content-area h1 { color: #6db444; font-weight: normal; font-size: 46px; }
#content-area h2 { color: #a56072; font-weight: normal; }
.aisle-header-images { overflow:hidden; }
.aisle-header-images img { display: block; margin: 0 auto; }
#help-layer { text-align: center; padding-bottom: 90px; }
#help-layer h3 { color: #7c7c7d; font-size: 28px; font-weight: normal; }
#help-layer p, #help-layer p a { color: #a56072; font-size: 20px; }
#help-layer p a { text-decoration: underline; }
#other-aisles-layer { text-align: center; padding-bottom: 60px; }
#other-aisles-layer h4 { color: #7c7c7d; font-size: 28px; font-weight: normal; padding-bottom: 30px; }
.white-aisle-holder { background: #fff; padding: 25px; font-size: 26px; border: 2px solid #A75F72; display:table; width:100%; height:100%; margin-top: 20px; margin-bottom:20px; border-radius: 5px; }
.white-aisle-holder p { color: #a56072; display:table-cell; vertical-align:middle; }
.white-aisle-holder:hover { background: #565656; }
.white-aisle-holder:hover p { color: #a4d264; }
.step-circles { background: white; border-radius:100%; padding: 45px; width: 100%; max-width:350px; display: block; margin: auto; display: none;  z-index: 2; margin-top: -20%;  text-align: center;  }
.step-circles .step-content { display:table; height:100%; }
.step-circles .step-content-middle { display: table-cell; vertical-align: middle;}
.white-background { background-color: #fff; }
.hanger-dot { margin-left: auto; margin-right: auto; padding-top: 7px; padding-bottom: 7px; }
.hanger-rope { height:18px; min-width:9px; }
.productImg { display:block; margin-left:auto; margin-right:auto; }


#step-row { padding-bottom: 90px; }
.step-circles p { font-size: 16px; }
.step-circles p:first-child { font-size: 18px; font-weight:bold; }
main { padding-top: 5px; min-height:100%; }
.wrapper-content { width: 85%; max-width: 1600px; }
.footer-visit-aisle-link {
    color: #a56072;
    font-size: 15px;
}

ul.footer-aisle-ul { display:inline-block; }
ul.footer-aisle-ul li { float: left; list-style: none; padding-right: 20px; padding: 2px 5px;  text-align:center; margin-left:5px; }
ul.footer-aisle-ul li a { color: #a56072; }
ul.footer-aisle-ul li + li::before { content: " | "; padding: 0 0 6px 0; color: #A75F72;  }

.footer-aisle-span { display:inline-block; }
.footer-aisle-span span { list-style: none; padding-right: 20px; padding: 2px 5px;  text-align:center; margin-left:0; white-space:nowrap; }
.footer-aisle-span span a { color: #a56072; }



.aisle-cms-message-area {
    background-color: white;
    padding: 10px;
}

.aisle-system-message-area {
    background-color: white;
    text-align: center;
    padding: 10px 0 10px 0;
    color: black;
}

.aisle-system-message-area .salutation {
    color: #A3D45E;
    font-size: 20px;
    font-weight: 600;
}

.aisle-system-message-area .message {
    font-size: 16px;
}

.aisle-action-button {
    background-color: lightgrey;
    border-color: #A3D45E;
    color: black;
    margin-left: 10px;
}
.aisle-action-button-active {
    background-color: #A3D45E;
    border-color: black;
    color: white;
}

.pagination > li > a, .pagination > li > span {
    border:none;
}

/** Filter **/
.filter-area select {
    color: #fff;
    font-size: 16px;
    border: none;
    padding: 5px 25px 5px 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    min-width: 140px;
    overflow: hidden;
    overflow: -moz-hidden-unscrollable;
    background: url('/Views/CMS/Content/Media/arrow.png') no-repeat right #009cd7;
    display: inline-block;
    position: relative;
    max-width: none !important;
}

.filter-milk select {
    background-color: #009cd7;
}

.filter-fruit select {
    background-color: #00d76b;
}

.filter-drygoods select {
    background-color: #6700d7;
}

/* Contact & Enquiry*/
#contact-map {
    margin-top: 30px;
}

#contact-us-form, .register-form {
    margin-top: 30px;
}

#contact-us-form div, .register-form div {
    font-size: 15px;
    margin-bottom: 10px;
    color: #565656;
}

#contact-us-form .control-label, .register-form .control-label {
    text-align: left;
}

#contact-us-form .submit, .register-form .submit {
    background: #565656;
    color: #fff;
    border: none;
    padding: 5px 10px;
}

#div-homepage h3 { padding-bottom: 20px; }
.filter-area { margin-bottom: 30px; }
.filter-area .col-xs-12 { padding: 0px; }

.col-xs-12.col-sm-6.col-md-3.product { margin-bottom: 30px; margin-right: 30px; padding: 30px; float: left; position: unset; border: none; transition: none; -webkit-transition: none; -moz-transition: none; -o-transition: none; width: 17%; height: unset; }
.product img { margin-bottom: 10px; }
.product h3 { display: none; }
.product .price { color: #40abff!important; margin-bottom: 10px; }
.btn.btn-sm.add-to-cart { background: #40abff; margin: 0 auto; display: block; text-align: center; padding: 5px; font-size: 16px; }
.btn.btn-sm.add-to-cart:hover { background: #eff1f2; color: #40abff; }
.product img { display: block; margin: 0 auto; width: 100%!important; height: unset!important; margin-bottom: 15px; }
.product h2 { text-align: center; max-width: unset !important; }
.navbar-nav .open .dropdown-menu { text-align: center; }
.navbar-header { margin-left: 0 !important; margin-right: 0 !important; }
.header-h4 { color:#a56072; font-size: 19px; }
.navbar-nav > li > a { padding-top: 4px; padding-bottom: 4px; }
/* Order Area*/
/*#order-area {
    padding-top: 60px;
}*/
#order-area .order-table { background: #fff; padding: 15px; }
#order-area h1 { text-align: center; color: #40abff; font-size: 22px; padding-bottom: 30px; }
#send-quote-btn .button-area { margin-left:auto; margin-right:auto; display: block ; width: 15%; }
#order-headers p { color: #d8a120; font-weight: bold; }
#order-headers { border-bottom: 2px solid #eff1f2; margin-bottom: 15px; }
.order-products { border-bottom: 2px solid #eff1f2; margin-bottom: 15px; padding-bottom: 15px; }
#remove-can i { font-size: 20px; }
.no-padding { padding: 0px; }
.mobile-nav { display: none; }
.expand-info, .expand-info:hover, .fa.fa-trash { color: #40abff; font-weight: bold; }

/* Dashboard*/
#dashboard-entry { background: #fff; margin-top: 30px; margin-bottom: 30px; padding:5px 15px 5px; 15px;; }

#dashboard-entry-box h1 { color: #40abff; font-size: 22px; }

.header-box { border-bottom: 2px solid #eff1f2; margin-bottom: 15px; }

.account-no h2 { color: #333333; font-size: 18px; font-weight: normal; padding-bottom: 30px; }

.btn.btn-blue { display: block; text-align: center; background: #40abff; margin-bottom: 15px; color: #fff; }

.btn.btn-blue:hover { background: #a56072; }

.btn-cart { margin-top:3px; min-width: 140px; }

.dashboard-entry-comments { margin-top: 30px; }

/** Product Single **/
.product-single-splash { background: #fff; padding: 15px; margin-bottom: 30px; text-align: center; position:relative; height:100%; }
.product-single-splash img { display: block; margin: 0 auto; }

.btn.btn-blue { display: block; text-align: center; background: #40abff; margin-bottom: 15px; color: #fff; }
.btn.btn-blue:hover { background: #a56072; }
.product-single-splash h5 { color: #40abff; font-size: 16px; }
.product-single-splash p { font-size: 15px; color: #333; font-weight: bold; }
.product-single-splash-content { width: 100%; margin-bottom:40px; }
.product-single-splash-button { position: absolute; bottom:0; left:0; right:0; padding:10px; padding-bottom: 0; }
.product-single-splash-button .btn { width:100%; }
.product-single-splash .square { position: relative; width: 100%; }
.product-single-splash .square .square-content { content: ""; display: block; padding-bottom: 100%; position:relative; }
.image-thumbnail { max-height: 100%; max-width: 100%; width: auto; height: auto; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto !important; }

/** Customer Dashboard **/
#dashboard { background-image: url("/dev-area/wp-content/themes/ubiquity/office-groceries/lines-2.png"); background-repeat: no-repeat; }
#header-dashboard-banner { background: #fff; text-align: center; padding: 5px 0px 15px 0px; margin-top: 60px; }
#header-dashboard-banner h1 { color: #6db444; font-weight: normal; font-size: 50px; }
.btn.btn-delivery, .btn.btn-primary { background: #40abff; color: #fff; border: none; }
.btn.btn-delivery:hover, .btn.btn-primary:hover { background: #a56072; }
#account { margin-bottom: 30px; }
.account-header { background: #565656; padding: 5px 10px; color: #fff; font-size: 16px; min-height: 35px; }
#table-headers { margin-top: 30px; }
.row.table-body { padding: 15px 0px; border-bottom: 1px solid grey; }
.row.table-body p, .row.table-body a.email { display: block; padding-top: 10px; }
.row.table-body a.email { color: #000; font-weight: bold; }

@media (max-width: 350px) { /* col-xs */
	.flex-row [class*="col-xs-6"] {
		width:100%;
	}
}

.product-overview-dialog { width:100%; max-width:500px; margin-top:30px; }

/* Home Page*/
/* #og-video video { width: 100%; margin-top: -3%; margin-left:auto; margin-right: auto; display:block; } */
.home-og-video { position: absolute; left: 0; right: 0; width: 100%; margin-top: -5px; overflow:hidden; }
.home-og-video video { width:100%; margin-top: -55px; }
.home-og-video .animated-gif { width:100%; margin-top: -55px; }
#home-intro h1 { font-size: 70px; color: #A75F72; }
#home-intro h2 { color: #B3B2B2; }
#home-intro h3 { color: #A75F72; }
#home-intro { text-align: center; margin-bottom: 100px; }
#step-info h3 { color: #A75F72; padding-bottom: 30px; }
#step-info { text-align: center; }
.label.label-info.div-step { font-size: 20px; background-color: #A3D45E; color: #565656; display: inline-block; margin-bottom: 15px; font-weight: normal; }
.container-step p { margin-bottom: 30px; font-size: 20px; color: #A75F72; }
#homepage-content { margin-top: -5%; position: absolute; width: 100%; }

/* Header */
.mobile-nav  { display: none; }
#og-header { background: #fff; padding: 15px 30px; position: initial; z-index: 2; width: 100%; }
div#og-header a { font-size: 16px; }
ul.lhs-menu-nav li { float: left; list-style: none; padding-right: 20px; padding: 2px 5px;  text-align:center; }
ul.lhs-menu-nav li a { color: #a56072; }
ul.sub-menu li { float: unset; padding: 7px; margin:0; }
ul.sub-menu { padding: 0px; border: 1px solid #eff1f2; position: absolute; background: #fff; z-index: 2; }
.no-padding { padding: 0px; }
#rhs-nav a,  #bottom-rhs a { padding-right: 20px; color: #fc88a1; text-align: right;  }
#rhs-nav a.tel-header { color: #a4d264; font-size: 18px; }
#top-rhs { margin-bottom: 30px; }
#top-rhs, #bottom-rhs { text-align: right; }
ul.lhs-menu-nav { padding: 0px; }
main { padding-top: 5px; }
.sub-menu li:hover { background: #fc88a1; }
.sub-menu li:hover a { color: #fff; text-decoration: none; }

.lhs-menu-nav li + li::before { content: " | "; padding: 0 0 6px 0; color: #A75F72;  }
.sub-menu li + li::before { content: none; padding: initial; color: inherit;  }

/** Responsive **/
/* Mobile */
@media (max-width: 767px) { 
	#content-area h1 { font-size: 28px; margin-top: 0; }
	#content-area h2 { font-size: 20px; margin-top: 0; }
	#help-layer h3, #other-aisles-layer h4 { font-size: 24px; }
	.white-aisle-holder p { font-size: 20px; }
	.white-aisle-holder { min-height: auto; } 
	#help-layer { padding-bottom: 45px; }
	#other-aisles-layer { padding-bottom: 0px; }
	#content-area { background: none; }
	/*.step-circles { width: 88%; margin-top: 40%; }*/
    .wrapper { background-image: none!important; margin-top: 0px!important; }
    .white-aisle-holder { border: 2px solid #A75F72; height:85px;  }
    .col-xs-12.col-sm-6.col-md-3.product { width: 80% }

    /* Order Area */
    #order-area { padding-top: 40px; }
	.week-days, #product-cost, #weekly-volume, .input-days, #cost-per-prouct, #product-quantity { display: none; }
	#send-quote-btn .button-area { float: unset; width: 25%; display: block; margin: 0 auto; }
	.expanded-content .week-days, .expanded-content .input-days, .expanded-content #product-cost, .expanded-content #cost-per-prouct, .expanded-content #weekly-volume, .expanded-content #product-quantity { display: block; }
	.col-xs-12.expanded-content .col-xs-6 { margin-bottom: 10px; }
	.col-xs-12.expanded-content { color: #d8a120; font-weight: bold; }
	.col-xs-12.expanded-content #cost-per-prouct, .col-xs-12.expanded-content #product-quantity { color: #000; }
	.expand-info i, #remove-can i { font-size: 20px; }
	.remove-info i { float: right; margin-top: -47px; }
	.remove-info { position: absolute; right: 0px; }
	/* #toggle { top: 85px!important; } */

    /* Home Page */
    /* #OG-Home { background: none; } */
    /* #og-video video { display: none; } */
    .white-aisle-holder { border: 2px solid #A75F72; margin-top: 10px; margin-bottom:10px;}
    #homepage-content { margin-top: 5%; }
    #home-intro h1 { font-size: 50px; }

    /* Header */
    div#rhs-nav { position: absolute; top: 0px; background: grey; width: 100%; left: 0px; padding-top: 10px; max-height: 50px; }
	/* #logo-header, #lhs-nav { margin-top: 60px; } */
	#top-rhs { text-align: center; }
	#rhs-nav a.email-header, #rhs-nav a.tel-header { font-size: 14px; }
	#rhs-nav a, #bottom-rhs a { padding-right: 10px; }

    /* Customer Dashboard */
    #dashboard { background: none; }
    #header-dashboard-banner h1 { font-size: 30px; }
    #table-headers { display: none; }
}

/* Tablet Portrait */
@media (min-width: 767px) and (max-width: 992px) { 
	/* .white-aisle-holder { margin-bottom: 30px; } */
	#help-layer { padding-bottom: 45px; }
	#other-aisles-layer { padding-bottom: 15px; }
	/*.step-circles { width: 44%; margin-top: 29%; }*/
    .wrapper { background-image: none!important; margin-top: 0px!important; }
    /* .white-aisle-holder { min-height: 150px; border: 2px solid #A75F72;  } */
    .col-xs-12.col-sm-6.col-md-3.product { padding: 15px; width: 41%; }
    .content { width: 750px!important;  max-width: 750px!important; margin: unset!important; }
    table#Table_Orders th { padding: 0px; }
    table#Table_Orders td { padding: 2px; }
    tbody td img { display: none; }
    /** Your Weekly Order Table **/			
	table#Table_Orders th { padding: 0px; }
	table#Table_Orders td { padding: 2px; }
	tbody td img { display: none; }
	#order-area input[type="number"] { padding: 2px; }
	#order-headers p { font-size: 12px; }

    /* Home Page */
    /* #og-video { padding-top: 30px; } */
    /* #og-video video { margin-top: -5%; } */
    .white-aisle-holder { height: 130px; }

    /* Header */
    div#rhs-nav { position: absolute; top: 0px; background: grey; width: 100%; left: 0px; padding-top: 10px; max-height: 50px; }
	#top-rhs { text-align: center; }
	#rhs-nav a.email-header { font-size: 18px; }

    /* Customer Dashboard */
    #dashboard { background: none; }
    .row.table-body .btn { font-size: 8px; }
}

/* Tablet Landscape */
@media (min-width: 992px) and (max-width: 1200px) {
	/* .white-aisle-holder { height: 100px;} */
	/*.step-circles { width: 34%; margin-top: 29%; }*/
    .wrapper { background-image: none!important; margin-top: 0px!important; }
    .col-xs-12.col-sm-6.col-md-3.product { width: 23%; }	
    .content { max-width: 100%!important; }
    /* Order Area */
    #order-area input[type="number"] { padding: 5px; }

    /* Home Page */
    /* #og-video { padding-top: 30px; } */
    /* #og-video video { margin-top: -3%; } */

    /* Header */
    div#rhs-nav { position: absolute; top: 0px; background: grey; width: 100%; left: 0px; padding-top: 10px; max-height: 50px; }
	#top-rhs { text-align: center; }
	#rhs-nav a.email-header { font-size: 18px; }
	#lhs-nav { width: 83%; }

    /* Customer Dashboard */
    #dashboard { background: none; }
}

/* Laptop */
@media (min-width: 1161px) and (max-width: 1440px){ 
    .wrapper {  background-image: url('/Views/CMS/Content/Media/lines-laptop.png')!important; margin-top: 50px !important; }
    #content-area h1 { margin: 0px; }
    /* Home Page */
    /* #og-video video { margin-top: -4%; } */
}

/** Responsive Menu **/
@media screen and (max-width: 1161px) { 
    .mobile-nav  { display: block; }
    #popout { position: absolute; width: 0%; max-width: none;  top: 0; left: 0; overflow:scroll; z-index: 2; }
    #lhs-nav, #bottom-rhs { display: none; }
    .col-xs-12.mobile-nav i { font-size: 24px; color: #40abff; }
    .col-xs-12.mobile-nav .mobile-menu { list-style: none; padding: 15px 0;  font-size:16px;}
	.col-xs-12.mobile-nav .mobile-menu li { padding:9px 20px; }
    .mobile-menu li .sub-menu { display: block !important; position: unset; padding: 0px; border:none; background: none; list-style: none; }
	.mobile-menu li .sub-menu li:hover { background-color:transparent; }
	.mobile-menu { margin-bottom: 0; }
	.mobile-menu li a { display:block; }
	.mobile-menu li .sub-menu li a { display:block; }
	
	.mobile-nav-inverse { background-color: #565656; }
	.mobile-nav-inverse li a { color: #f9a7b8; text-decoration: none !important;  }
	.mobile-nav-inverse li .sub-menu li a { color: #f9a7b8; text-decoration: none !important; }
	
	.mobile-nav-green { background-color: #A3D45E; }
	.mobile-nav-green li a { color: #565656; text-decoration: none !important;  }
	.mobile-nav-green li .sub-menu li a { color: #565656; text-decoration: none !important; }
	
	.mobile-nav-default { background-color: #f8f8f8; }
	.mobile-nav-default li a { color: #a56072; text-decoration: none !important;  }
	.mobile-nav-default li .sub-menu li a { color: #fc88a1; text-decoration: none !important; }

    .wrapper-content { width: 100%; }
	
}


/** Weekly Order Buttons **/
.numeric-input { text-align: center; background-color: #eee; height: 57px; display: table; width:100%; }

.numeric-input .glyphicon { color: #d8a120; }
.numeric-input input { text-align: center; font-weight: bold; }
.numeric-input span { height:10px; background-color:#eee; border: 0; cursor: pointer; }
.numeric-input p { padding:3px; margin:0; display: table-cell; vertical-align: middle; font-weight:bold; }
.numeric-input .form-control, .numeric-input .form-control:focus { border: 0; background-color:#eee; padding:0; height:20px; }

.numeric-input input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
.numeric-input input[type=number]::-webkit-inner-spin-button, 
.numeric-input input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

/* Custom Pager CSS Start */
.k-pager-wrap {
	background: none;
	background-color: none;
	border: none;
	margin-left: 38%;
}

@media (max-width: 767px) { 
	.k-pager-wrap {
		margin-left: 15%;
	}
}

.k-pager-wrap > .k-pager-nav, .k-pager-wrap .k-link, .k-pager-wrap .k-link.k-pager-last {
	border: none;
	border-color: none;
	border-right-style: none;
	border-left-style: none;
}

.k-pager-wrap > .k-pager-info {
	font-weight: bold;
}
/* Custom Pager CSS End */
