﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.btn-background {

    position: fixed; 
    overflow:no-display; 
    margin: 0; 
    top: 0; 
    bottom:0; 
    right: 0; 
    left:0;
    min-height: 100%; 
    min-width: 100%;
    background-color:black;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}


.div-inline {         
        overflow: hidden;
        white-space: nowrap;
        text-align:center;
        align-items:center;
    }


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f7f1e6
}


.wrapper{
    min-height:100%; 
    position:relative;
}

.header{
    padding:25px;
}

.content{
    padding-top:10px;
    padding-bottom:70px; 
    /*height:calc(100% - 160px);*/
}

.footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color: inherit;
}


.container{
    width:inherit;
    max-width:1700px;
}

#menu ul{
  list-style: none; 
  margin-left:-40px;
  color:white;
}

#menu ul a:link {
    color:white;
}

#menu ul a:visited { 
     color:white;
}

#menu li{
  display: inline;
 color:white;
}

#menu li + li::before {
    content: " • ";
    padding: 0 6px;
    color: white; 
}

.white-text {
    color:white;
}


/* Customise the appearance of the 'No Data Template' for Kendo Dropdownlists */
.k-list-container .k-nodata {
    color: #888;
    margin: 5px 3px;
    text-align: center;
}


.img-display {
    display:block; 
    margin-left: auto; 
    margin-right: auto;
}

/* Place Holder CSS */
::-webkit-input-placeholder {
    color: #40abff !important;
    opacity: 0.5;
    -webkit-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

:-moz-placeholder {
    color: #40abff !important;
    opacity: 0.5;
    -moz-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

::-moz-placeholder {
    color: #40abff !important;
    opacity: 0.5;
    -moz-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

:-ms-input-placeholder {
    color: #40abff !important;
    opacity: 0.5;
    transition: opacity 1s ease-in-out;
}

/* Place Holder CSS for Hover */
:hover::-webkit-input-placeholder {
    opacity: 0.75;
    -webkit-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

:hover:-moz-placeholder {
    opacity: 0.75;
    -moz-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

:hover::-moz-placeholder {
    opacity: 0.75;
    -moz-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

:hover:-ms-input-placeholder {
    opacity: 0.75;
    transition: opacity 1s ease-in-out;
}

/* Place Holder CSS for Focus */
:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

:focus:-moz-placeholder {
    opacity: 0;
    -moz-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

:focus::-moz-placeholder {
    opacity: 0;
    -moz-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}