﻿@{
    string label = "";
}


<header>
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <header>
            <div class="navbar-top navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar pt-0 pb-0 justify-content-between">
                <div class="navbar-top-left navbar-nav flex-row d-md-flex">
                    <a class="nav-item nav-link" href="tel:03454638863">0345 463 8863</a>
                    <a class="nav-item nav-link" href="mailto:Orders@office-groceries.com">Orders@office-groceries.com</a>
                </div>
                <div class="navbar-top-right navbar-nav flex-row d-flex align-items-center">
                    <a class="nav-item nav-link" href="/FAQs">FAQs</a>
                    <a class="nav-item nav-link" href="/Process">Process</a>
                    <a class="nav-item nav-link" href="/About">About</a>
                    <a class="nav-item nav-link border-0" href="/Testimonials">Testimonials</a>
                    <a class="btn btn-primary text-white pt-3 pl-2 pl-md-4 pb-3 pr-2 pr-md-4 rounded-0 border-0"  href="javascript:document.getElementById('logoutForm').submit()" role="button">Log off</a>
                </div>
            </div>
            <div class="bg-success text-white p-2">
                <div class="nav justify-content-center p-1">
                    <a class="nav-link text-white py-0 px-2" href="/Dashboard"><strong>Dashboard</strong></a>
                    <div class="dropdown">
                        <a class="nav-link text-white border-left border-right border-primary py-0 px-2 dropdown-toggle" href="/" role="button" id="previousOrdersDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong>Previous Orders</strong></a>
                        <div class="dropdown-menu rounded-0" aria-labelledby="previousOrdersDropdown">
                            @if (ViewBag.Milk)
                            {
                                <a class="dropdown-item" href="/Milk/Invoice">Milk</a>
                            }
                            @if (ViewBag.Fruits)
                            {
                                <a class="dropdown-item" href="/Fruits/Invoice">Fruit</a>
                            }
                            <a class="dropdown-item" href="/Products/OrderHistories">Pantry & Other</a>
                        </div>
                    </div>
                    <a class="nav-link text-white py-0 px-2 border-right border-primary" href="/Users/ManageAccount"><strong>My Account</strong></a>
                    <a class="nav-link text-white py-0 px-2" href="#" data-toggle="modal" data-target="#Modal" onclick="ShowPoCalculator()"><strong>PO Calculator</strong></a>
                    @if((ViewBag.OtherCompanies as List<NuIngredient.Models.SelectItemViewModel>).Any())
                    {
                        <div class="dropdown">
                            <a class="nav-link text-white border-left border-right border-primary py-0 px-2 dropdown-toggle" href="/" role="button" id="otherCompaniesDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong>Switch To</strong></a>
                            <div class="dropdown-menu rounded-0" aria-labelledby="otherCompaniesDropDown">
                                <div style="height: 60px; padding: .25rem 1.5rem;">
                                    <input class="form-control" id="searchCompanies" type="text" placeholder="Search..">
                                </div>
                                <div style="max-height: 300px; overflow-y: auto;">
                                    @foreach (var otherCompany in (ViewBag.OtherCompanies as List<NuIngredient.Models.SelectItemViewModel>))
                                    {
                                        <a class="dropdown-item dropdown-company-item" href="/Account/SwitchTo?id=@otherCompany.ID">@otherCompany.Name</a>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    <script>
                        $("#searchCompanies").on("keyup", function() {
                            var value = $(this).val().toLowerCase();
                            $(".dropdown-company-item").filter(function() {
                                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                            });
                        });
                    </script>
                </div>
            </div>
            <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
            <![endif]-->

            <nav class="main-nav navbar navbar-expand-lg navbar-light bg-white pt-3 pb-3">
                <a class="navbar-brand" href="/">
                    <img src="/img/og-logo.svg" width="140" height="50" class="d-inline-block align-top" alt="Office-Groceries Logo" />
                </a>
                <a class="btn btn-white ml-auto mr-1 d-lg-none btn-show-cart" id="mobile-cart-button" href="javascript:void(0)" role="button" onclick="ShowShoppingCart()"><img src="/img/cart-icon.svg" alt="Shopping Cart" width="24" class="mr-1" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse main-navbar" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        @foreach (var aisle in (ViewBag.Aisles as List<NuIngredient.Models.AisleViewModel>).Where(a => a.IsMain))
                        {
                            if (aisle.AisleType == NuIngredient.Models.AisleType.Milk)
                            {
                                if (aisle.Name == "Milk")
                                {
                                    <a class="nav-item nav-link header-aisle" href="/office-milk-deliveries">@aisle.Label</a>
                                }
                                else
                                {
                                    <a class="nav-item nav-link header-aisle" href="/office-milk-deliveries/@(aisle.InternalName)">@(aisle.Label)</a>
                                }
                            }
                            else if (@aisle.Name == "Fruit")
                            {
                                <a class="nav-item nav-link header-aisle" href="/office-fruit-basket-deliveries">@aisle.Label</a>
                            }
                            else
                            {
                                <a class="nav-item nav-link header-aisle" href="/Aisle/@aisle.InternalName">@aisle.Label</a>
                            }
                        }
                        @if ((ViewBag.Aisles as List<NuIngredient.Models.AisleViewModel>).Where(a => !a.IsMain).Any())
                        {
                            <div class="dropdown">
                                <a class="nav-item nav-link border-0 dropdown-toggle header-aisle" href="/" role="button" id="otherAislesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Other Aisles</a>
                                <div class="dropdown-menu rounded-0" aria-labelledby="otherAislesDropdown">
                                    @foreach (var aisle in (ViewBag.Aisles as List<NuIngredient.Models.AisleViewModel>).Where(a => !a.IsMain))
                                    {
                                        <a class="dropdown-item" href="/Aisle/@aisle.InternalName">@aisle.Label</a>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                <a class="btn btn-white ml-lg-auto d-none d-lg-block btn-show-cart" href="javascript:void(0)" role="button" onclick="ShowShoppingCart()">(<span class="shopping-cart-qty">@ViewBag.ItemQty</span>) Items | <span class="shopping-cart-total">@ViewBag.Total</span> <img src="/img/cart-icon.svg" alt="" width="24" class="mr-1" ></a>
                </div>
            </nav>
        </header>
    }
</header>


<div id="Modal-shoppingcart" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content bg-light rounded-0">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="cart-content"></div>
            </div>
        </div>
    </div>
</div>


  <!-- Modal -->
<div class="modal fade" id="Modal" role="dialog" style="z-index:2000">
    <div class="modal-dialog" style="width:1000px; max-width:100%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="text-align:center;"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    function ShowPoCalculator() {
        $('#Modal .modal-title').html("PO Calculator");
        $('#Modal .modal-dialog').css("width", "1000px");
        $.ajax({
            url: '/PoCalculator/_PoCalculator',
            type: 'GET',
            success: function (response) {
                $('#Modal .modal-body').html(response);
            }
        })
    }
</script>