﻿<div class="container" style="margin-bottom:20px;">
    <div id="div-footer-section" class="row" style="margin:0;" >
        <div id="div-footer-section-need-help" class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
            <h4 class="color-white">Need any help?</h4>
            <a class="btn btn-sm btn-default" href="mailto:Orders@office-groceries.com">Email Us</a>
        </div>
        <div id="div-footer-section-aisles" class="col-xs-12">
            <h4 class="header-h4">Want to view our product aisles:</h4>
            <div class="footer-aisle-span">
                @foreach (var aisle in (ViewBag.Aisles as List<NuIngredient.Models.AisleViewModel>).OrderByDescending(a => a.IsMain).ThenBy(a => a.SortPosition))
                {
                    if (User.Identity.IsAuthenticated)
                    {
                        if (aisle.Name == "Milk")
                        {
                            <span>@Html.ActionLink(aisle.Label, "Index", "Milk", null, new { @class = "footer-visit-aisle-link" })</span>
                        }
                        else if (aisle.Name == "Fruit")
                        {
                            <span>@Html.ActionLink(aisle.Label, "Index", "Fruits", null, new { @class = "footer-visit-aisle-link" })</span>
                        }
                        else
                        {
                            <span>@Html.ActionLink(aisle.Label, "Aisle", "Products", new { @id = aisle.Name }, new { @class = "footer-visit-aisle-link" })</span>
                        }
                    }
                    else
                    {
                        <span>@Html.ActionLink(aisle.Label, "Category", "Aisles", new { @id = aisle.Name }, new { @class = "footer-visit-aisle-link" })</span>
                    }
                }
            </div>
        </div>
    </div>
</div>

<style>
    #div-footer-section {
        text-align: center;
    }
    #div-footer-section-need-help {
        background-color: #565656;
        padding: 10px;
    }

    #div-footer-section-aisles {
        margin-top: 10px;
    }
</style>