﻿@using Microsoft.AspNet.Identity
    <div class="bg-success text-white pt-5 pb-5">
      <div class="container">
          <div class="row justify-content-center">
              <h3 class="text-center mr-4 ml-4 mb-3 mb-md-0 align-self-center">Need any help? Drop us an email today...</h3>
              @if (Request.IsAuthenticated)
              {
                <a class="btn btn-primary btn-lg text-white rounded-0" href="mailto:Orders@office-groceries.com" role="button">Get In Touch</a>
              }
              else
              {
                <a class="btn btn-primary btn-lg text-white rounded-0" href="/account/enquiryform" role="button">Get In Touch</a>
              }
          </div>
      </div>
    </div>
    <nav class="footer-nav nav bg-light justify-content-center d-none d-md-flex pt-3 pb-3">
        @foreach (var aisle in (ViewBag.Aisles as List<NuIngredient.Models.AisleViewModel>).Where(a => a.IsMain))
        {
            if (@aisle.Name == "Milk")
            {
                <a class="nav-item nav-link" href="/office-milk-deliveries">@aisle.Label</a>
            }
            else if (@aisle.Name == "Fruit")
            {
                <a class="nav-item nav-link" href="/office-fruit-basket-deliveries">@aisle.Label</a>
            }
            else
            {
                <a class="nav-item nav-link" href="/aisle/@aisle.InternalName">@aisle.Label</a>
            }
        }
        @if ((ViewBag.Aisles as List<NuIngredient.Models.AisleViewModel>).Where(a => !a.IsMain).Any())
        {
            <div class="dropdown">
                <a class="nav-item nav-link border-0 dropdown-toggle" href="/" role="button" id="otherAislesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Other Aisles</a>
                <div class="dropdown-menu rounded-0" aria-labelledby="otherAislesDropdown">
                    @foreach (var aisle in (ViewBag.Aisles as List<NuIngredient.Models.AisleViewModel>).Where(a => !a.IsMain))
                    {
                        <a class="dropdown-item" href="/aisle/@aisle.InternalName">@aisle.Label</a>
                    }
                </div>
            </div>
        }
    </nav>
    <footer class="bg-secondary">
      <div class="container">
        <div class="row pt-5 pb-4">
          <div class="col-lg-3">
            <img src="/img/og-logo-light.svg" width="160" height="70" class="d-inline-block align-top" alt="Office-Groceries Footer Logo">
          </div>
          <div class="col-lg-6">
            <nav class="nav justify-content-lg-center footer-contact pt-4">
              <a class="nav-link text-white pt-0 pr-4 pb-0 pl-0" href="tel:03454638863">0345 463 8863</a>
              <a class="nav-link text-white pt-0 pr-0 pb-0 pl-4" href="mailto:Orders@office-groceries.com">Orders@office-groceries.com</a>
            </nav>
          </div>
          <div class="col-lg-3">
            <ul class="nav justify-content-lg-end pt-3">
            @*
              <li class="nav-item">
                <a class="nav-item nav-link pt-2 pr-2 pb-2 pl-0" href="#"><img src="/img/twitter-icon.svg" width="32" alt=""></a>
              </li>
              <li class="nav-item">
                <a class="nav-item nav-link p-2" href="#"><img src="/img/facebook-icon.svg" width="32" alt=""></a>
              </li>
              <li class="nav-item">
                <a class="nav-item nav-link p-2" href="#"><img src="/img/linkedin-icon.svg" width="32" alt=""></a>
              </li>
              <li class="nav-item">
                <a class="nav-item nav-link p-2" href="#"><img src="/img/instagram-icon.svg" width="32" alt=""></a>
              </li>
              *@
            </ul>
          </div>
        </div>
    
        <div class="row pb-4 footer-copyright">
          <div class="col">
            <p class="text-dark">
              &copy; @DateTime.Today.Year Office Groceries. | <a href="/contact" class="text-dark">Contact</a> | <a href="/delivery-areas" class="text-dark">Delivery Areas</a>  | <a href="/termsconditions" class="text-dark">Terms and Conditions</a> | <a href="https://blog.office-groceries.com/" class="text-dark">Blog</a> | <a href="/privacypolicy" class="text-dark">Privacy Policy</a> | <a href="/sitemap" class="text-dark">Site map</a>
              <br>
              <small>Office-Groceries Ltd, 43 Church Street, Billericay, Essex, CM11 2SX. Company Reg: 09648027.</small>
            </p>
          </div>
        </div>
      </div>
    </footer>
