﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="en-gb">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @if (!string.IsNullOrWhiteSpace(ViewBag.MetaTitle)) { <meta name="title" content="@ViewBag.MetaTitle" /> }
    @if (!string.IsNullOrWhiteSpace(ViewBag.MetaKeyword)) { <meta name="keywords" content="@ViewBag.MetaKeyword" /> }
    @if (!string.IsNullOrWhiteSpace(ViewBag.MetaDescription)) { <meta name="description" content="@ViewBag.MetaDescription" /> }

    
    <link rel="apple-touch-icon" href="icon.png">
    <meta name="revisit-after" content="7 days" />
    @if (!String.IsNullOrWhiteSpace(ViewBag.MetaTitle))
    {
        <title>@ViewBag.MetaTitle</title>
    }
    else if(!String.IsNullOrWhiteSpace(ViewBag.Title))
    {
        <title>@ViewBag.Title</title>
    } 
    else {<title>Office Groceries</title>}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    @Styles.Render("~/site/css")

    @Scripts.Render("~/bundles/jquery")
    @if (User.Identity.IsAuthenticated)
    {
        @Scripts.RenderFormat("<script src='{0}' defer></script>", "~/bundles/kendo")
    }
    else
    {
        @Scripts.RenderFormat("<script src='{0}' defer></script>", "~/bundles/kendo-for-prospect")
    }
    @Scripts.RenderFormat("<script src='{0}' defer></script>", "~/site/js")

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" defer></script>
    
    @if (!Request.IsAuthenticated)
    {
        <!-- Google Tag Manager -->
        <script>
            (function(w,d,s,l,i){
                w[l]=w[l]||[];w[l].push({
                    'gtm.start':
                        new Date().getTime(),event: 'gtm.js'}
                );
                var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l!='dataLayer'?'&l='+l:'';
                j.async = true;
                j.src='https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                f.parentNode.insertBefore(j,f);

            })(window,document,'script','dataLayer','GTM-M8THKK3');
        </script>
        <!-- End Google Tag Manager -->
    }

    @* Deferred loading CSS *@
    <script>
        // loadCSS 
        function loadCSS(e,t,n){
            var i=window.document.createElement("link");
            var o=window.document.getElementsByTagName("script")[0];
            i.rel="stylesheet";
            i.href=e;
            i.media="onlyx";
            o.parentNode.insertBefore(i,o);
            setTimeout(function() {
                i.media=n||"all";
            });
        }
        @if (User.Identity.IsAuthenticated)
        {
            <text>
                loadCSS("@Styles.Url("~/kendo/css")");
            </text>
        }
  </script>

    @* Pure Chat *@
    <script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: 'd7ee42b9-6f0f-48dd-85a6-31b8c95e38e5', f: true }); done = true; } }; })();</script>

    <!-- Meta Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s) {
            if(f.fbq) return;
            n = f.fbq = function() {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if(!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');

        fbq('init', '1625338508357221');
        fbq('track', 'PageView');
    </script>

    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=1625338508357221&ev=PageView&noscript=1"/>
    </noscript>
    <!-- End Meta Pixel Code -->
</head>
<body>
    @if (!Request.IsAuthenticated)
    {
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M8THKK3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
    }
    
    @Html.Partial("_LoginPartial")
    <main @if(User.Identity.IsAuthenticated){<text>class='logged-in'</text>}>
        @RenderBody()
    </main>
    @Html.Partial("_FooterPartial")


    <div id="div_cookieMessage" class="cookie-message" style="display:none">
        <div class="container" style="margin-top:10px;">
            <p><strong>Privacy Policy:</strong></p>
            <p>
                This website uses cookies to deliver our services. <br />
                By using our services, you agree to out use of cookies. <a href="/PrivacyPolicy" target="_blank">Learn More</a>
            </p>
            <a class="btn btn-sm btn-success" href='javascript:void(0)' onclick="HideCookieMessage();">Got It!</a>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            kendo.culture("en-GB");
            @Html.Kendo().DeferredScripts(false)
        });

        var MilkMinimumValue = @ViewBag.MilkMinimumValue;
        var FruitMinimumValue = @ViewBag.FruitMinimumValue;
        var IsAuthenticated  = @if (User.Identity.IsAuthenticated) {<text> true</text>} else {<text> false</text>};

        ShowCookieMessage();

        function ShowCookieMessage() {
            if (document.cookie.indexOf("cookiepolicy=") >= 0)
                document.getElementById('div_cookieMessage').style.display = "none";
            else
                document.getElementById('div_cookieMessage').style.display = "";
        }

        function HideCookieMessage() {
            document.cookie = "cookiepolicy=Cookies!; expires=Fri, 31 Dec 2100 12:00:00 UTC; path=/";
            document.getElementById('div_cookieMessage').style.display = "none";
        }
    </script>
    
</body>

</html>
