﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        if (User.IsInRole("Admin") || User.IsInRole("User"))
        {
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Dashboard", "Index", "Dashboard", null, new { @class = "dark-pink", @style = "text-align:center;" })</li>
                <li>@Html.ActionLink("Previous Orders", "OrderHistories", "Products", null, new { @class = "dark-pink", @style = "text-align:center;" })</li>
                @foreach (var aisle in ViewBag.Aisles as List<NuIngredient.Models.AisleViewModel>)
                {
                    if (aisle.IsMain)
                    { 
                        if (@aisle.Name == "Milk")
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle dropdownbtn dark-pink" style="text-align:center;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Html.Raw(@aisle.Label)&nbsp;<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    @*<li>@Html.ActionLink("Milk Deliveries", "Category", "Aisles", new { id = "Milk" }, null)</li>*@
                                    @if (ViewBag.Milk)
                                    {
                                        <li>@Html.ActionLink("Standing Orders", "Index", "Milk")</li>
                                        <li>@Html.ActionLink("Order Histories", "Invoice", "Milk")</li>
                                    }
                                    else
                                    {
                                        <li>@Html.ActionLink("Order Now", "Index", "Milk")</li>
                                    }
                                </ul>
                            </li>
                        }
                        else if (@aisle.Name == "Fruit")
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle dropdownbtn dark-pink" style="text-align:center;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Html.Raw(@aisle.Label)&nbsp;<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    @*<li>@Html.ActionLink("Fruit Deliveries", "Category", "Aisles", new { id = "Fruit" }, null)</li>*@
                                    @if (ViewBag.Fruits)
                                    {
                                        <li>@Html.ActionLink("Standing Orders", "Index", "Fruits")</li>
                                        <li>@Html.ActionLink("Order Histories", "Invoice", "Fruits")</li>
                                    }
                                    else
                                    {
                                        <li>@Html.ActionLink("Order Now", "Index", "Fruits")</li>
                                    }
                                </ul>
                            </li>
                        }
                        else if (@aisle.Name == "Dry Goods")
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle dropdownbtn dark-pink" style="text-align:center;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Html.Raw(@aisle.Label)&nbsp;<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    @*<li>@Html.ActionLink("Dry Goods Deliveries", "Category", "Aisles", new { id = "Dry Goods" }, null)</li>*@
                                    <li>@Html.ActionLink("Order Now", "Aisle", "Products", new { id = "Dry Goods" }, null)</li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle dropdownbtn dark-pink" style="text-align:center;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Html.Raw(@aisle.Label.Replace("Aisle", "<br />Aisle"))&nbsp;<span class="caret"></span></a>
                                <ul class="dropdown-menu" style="text-align:center;">
                                    <li>@Html.ActionLink(aisle.Name + " Deliveries", "Category", "Aisles", new { id = aisle.Name }, null)</li>
                                    <li>@Html.ActionLink("Order Now", "Aisle", "Products", new { id = @aisle.Name }, null)</li>
                                </ul>
                            </li>
                        }
                    }
                }
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle dropdownbtn dark-pink" style="text-align:center;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Other Aisles&nbsp;<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        @foreach (var aisle in ViewBag.Aisles as List<NuIngredient.Models.AisleViewModel>)
                        {
                            if (!aisle.IsMain)
                            {
                                <li>@Html.ActionLink(@aisle.Label, "Aisle", "Products", new { id = @aisle.Name }, null)</li>
                            }
                        }
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav nav-visible-small">
                <li>@Html.ActionLink("FAQs", "FAQs", "Home", null, new { @class = "light-pink", @style = "text-align:center;" })</li>
                <li>@Html.ActionLink("Process", "Process", "Home", null, new { @class = "light-pink", @style = "text-align:center;" })</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "light-pink", @style = "text-align:center;" })</li>
                <li><a href="https://www.hospitality2you.com/" class="light-pink" style="text-align:center;">Hospitality 2 You</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="tel-no" style="text-align:center;">0345 463 8863</a></li>
                <li><a class="light-pink" style="text-align:center;" href="http://Orders@office-groceries.com" title="Contact Us" target="_blank">Orders@office-groceries.com</a></li>
                <li class="dropdown" style="text-align: center;">
                    <a class="dropdown-toggle hidden-xs" data-toggle="dropdown" role="button" aria-expanded="false" style="cursor:pointer;">
                        Hello @User.Identity.GetName()<span class="caret"></span>
                    </a>
                    <a class="dropdown-toggle visible-xs" data-toggle="dropdown" role="button" aria-expanded="false">Settings<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        @if (User.IsInRole("NI-User"))
                        {
                            <li>@Html.ActionLink("Manage Account", "ManageAccount", "Users")</li>
                            <li role="presentation" class="divider"></li>
                            <li>@Html.ActionLink("Settings", "Index", "Settings")</li>
                            <li role="presentation" class="divider"></li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Manage my Account", "ManageAccount", "Users")</li>
                            <li role="presentation" class="divider"></li>

                        }
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav nav-hidden-small " style="width:55%;">
                <li><a href="https://www.hospitality2you.com/" class="light-pink" style="text-align:center;">Hospitality 2 You</a></li>
            </ul>
            <ul class="nav navbar-nav nav-hidden-small navbar-right">
                <li>@Html.ActionLink("FAQs", "FAQs", "Home", null, new { @class = "light-pink", @style = "text-align:center;" })</li>
                <li>@Html.ActionLink("Process", "Process", "Home", null, new { @class = "light-pink", @style = "text-align:center;" })</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "light-pink", @style = "text-align:center;" })</li>
            </ul>
        }
        else if (User.IsInRole("NI-User"))
        {
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Dashboard", "Index", "Dashboard", null, new { @style = "text-align:center;" })</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle dropdownbtn" style="text-align:center;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products&nbsp;<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Milk", "Index", "MilkProductManagement")</li>
                        <li>@Html.ActionLink("Fruit", "Index", "FruitProductManagement")</li>
                        <li>@Html.ActionLink("Dry Goods", "Index", "ProductManagement")</li>
                        <li>@Html.ActionLink("Carousel", "Index", "CarouselManagement")</li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle dropdownbtn" style="text-align:center;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Orders&nbsp;<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Dry Goods", "DryGoodsOrders", "OrderManagement")</li>
                        <li>@Html.ActionLink("Fruit Orders", "FruitOrders", "OrderManagement")</li>
                        <li>@Html.ActionLink("Milk Orders", "MilkOrders", "OrderManagement")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle dropdownbtn" style="text-align:center;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Customers&nbsp;<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Prospects", "Index", "ProspectManagement")</li>
                        <li>@Html.ActionLink("Customers", "Index", "Companies")</li>
                        <li>@Html.ActionLink("Feedbacks", "Index", "Feedbacks")</li>
                        <li>@Html.ActionLink("Messages", "Index", "Messages")</li>
                    </ul>
                </li>
                <li>@Html.ActionLink("Suppliers", "Index", "Suppliers", null, new { @style = "text-align:center;" })</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle dropdownbtn" style="text-align:center;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Calendars&nbsp;<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Requested Accounts", "RequestedAccounts", "Calendars")</li>
                        <li>@Html.ActionLink("First Delivery Date", "FirstDeliveryDate", "Calendars")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle dropdownbtn" style="text-align:center;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports&nbsp;<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Dry Goods", "DryGoods", "Reports")</li>
                        <li>@Html.ActionLink("Milk", "Milk", "Reports")</li>
                        <li>@Html.ActionLink("Milk Standing Orders", "MilkStanding", "Reports")</li>
                        <li>@Html.ActionLink("Milk OneOff Updates", "MilkOneOff", "Reports")</li>
                        <li>@Html.ActionLink("Fruit Standing Orders", "FruitStanding", "Reports")</li>
                        <li>@Html.ActionLink("Fruit OneOff Updates", "FruitOneOff", "Reports")</li>
                        <li>@Html.ActionLink("Product GP%", "ExportToCSV", "ProductManagement")</li>
                        <li>@Html.ActionLink("Requested Accounts", "RequestedAccounts", "Reports")</li>
                        <li>@Html.ActionLink("First Delivery Date", "FirstDeliveryDate", "Reports")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle dropdownbtn" style="text-align:center;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CMS&nbsp;<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Manage Files", "Index", "CMS")</li>
                        <li>@Html.ActionLink("Manage Static Pages", "Index", "PageSettings")</li>
                        <li>@Html.ActionLink("Manage Aisles", "Index", "AisleManagement")</li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" style="text-align: center;">
                    <a class="dropdown-toggle hidden-xs" data-toggle="dropdown" role="button" aria-expanded="false" style="cursor:pointer;">
                        Hello @User.Identity.GetName()<span class="caret"></span>
                    </a>
                    <a class="dropdown-toggle visible-xs" data-toggle="dropdown" role="button" aria-expanded="false">Settings<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        @if (User.IsInRole("NI-User"))
                        {
                            <li>@Html.ActionLink("Manage Account", "ManageAccount", "Users")</li>
                            <li role="presentation" class="divider"></li>
                            <li>@Html.ActionLink("Settings", "Index", "Settings")</li>
                            <li role="presentation" class="divider"></li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Manage my Account", "ManageAccount", "Users")</li>
                            <li role="presentation" class="divider"></li>

                        }
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    </ul>
                </li>
            </ul>
        }
    }
}
else
{
    <ul class="nav navbar-nav">
        @foreach (var aisle in ViewBag.Aisles as List<NuIngredient.Models.AisleViewModel>)
        {
            if (aisle.IsMain)
            { 
                if (@aisle.Name == "Milk")
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle dropdownbtn dark-pink" style="text-align:center;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Html.Raw(@aisle.Label)&nbsp;<span class="caret"></span></a>
                        <ul class="dropdown-menu" style="text-align:center;">
                            <li class="dark-pink">@Html.ActionLink("Milk Deliveries", "Category", "Aisles", new { @id = "Milk" }, new { @class = "dark-pink" })</li>
                            <li>@Html.ActionLink("Create Quote", "Index", "Milk", null, new { @class = "dark-pink" })</li>
                        </ul>
                    </li>
                }
                else if (@aisle.Name == "Fruit")
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle dropdownbtn dark-pink" style="text-align:center;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Html.Raw(@aisle.Label)&nbsp;<span class="caret"></span></a>
                        <ul class="dropdown-menu" style="text-align:center;">
                            <li>@Html.ActionLink("Fruit Deliveries", "Category", "Aisles", new { id = "Fruit" }, new { @class = "dark-pink" })</li>
                            <li>@Html.ActionLink("Create Quote", "Index", "Fruits", null, new { @class = "dark-pink" })</li>
                        </ul>
                    </li>
                }
                else if (@aisle.Name == "Dry Goods")
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle dropdownbtn dark-pink" style="text-align:center;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Html.Raw(@aisle.Label)&nbsp;<span class="caret"></span></a>
                        <ul class="dropdown-menu" style="text-align:center;">
                            <li>@Html.ActionLink("Pantry Deliveries", "Category", "Aisles", new { id = "Dry Goods" }, new { @class = "dark-pink" })</li>
                            <li>@Html.ActionLink("Create Quote", "Aisle", "Products", new { id = "Dry Goods" }, new { @class = "dark-pink" })</li>
                        </ul>
                    </li>
                }
                else
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle dropdownbtn dark-pink" style="text-align:center;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Html.Raw(@aisle.Label)&nbsp;<span class="caret"></span></a>
                        <ul class="dropdown-menu" style="text-align:center;">
                            <li>@Html.ActionLink(aisle.Name + " Deliveries", "Category", "Aisles", new { id = aisle.Name }, null)</li>
                            <li>@Html.ActionLink("Create Quote", "Aisle", "Products", new { id = @aisle.Name }, null)</li>
                        </ul>
                    </li>
                }
            }
        }
        <li class="dropdown">
            <a href="#" class="dropdown-toggle dropdownbtn dark-pink" style="text-align:center;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Other Aisles&nbsp;<span class="caret"></span></a>
            <ul class="dropdown-menu" style="text-align:center;">
                @foreach (var aisle in ViewBag.Aisles as List<NuIngredient.Models.AisleViewModel>)
                {
                    if (!aisle.IsMain)
                    {
                        <li>@Html.ActionLink(@aisle.Label, "Aisle", "Products", new { id = @aisle.Name }, new { @class = "dark-pink" })</li>
                    }
                }
            </ul>
        </li>
    </ul>
    <ul class="nav navbar-nav nav-visible-small">
        <li><a href="https://www.hospitality2you.com/" class="light-pink" style="text-align:center;">Hospitality 2 You</a></li>
        <li>@Html.ActionLink("FAQs", "FAQs", "Home", null, new { @class = "light-pink", @style = "text-align:center;" })</li>
        <li>@Html.ActionLink("Process", "Process", "Home", null, new { @class = "light-pink", @style = "text-align:center;" })</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "light-pink", @style = "text-align:center;" })</li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a class="tel-no" style="text-align:center;">0345 463 8863</a></li>
        <li><a class="light-pink" style="text-align:center;" href="http://Orders@office-groceries.com" title="Contact Us" target="_blank">Orders@office-groceries.com</a></li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "light-pink", @style = "text-align:center;" })</li>
        <li>@Html.ActionLink("Enquiry Form", "EnquiryForm", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "light-pink", @style = "text-align:center;" })</li>
    </ul>
    <ul class="nav navbar-nav nav-hidden-small " style="width:55%;">
        <li><a href="https://www.hospitality2you.com/" class="light-pink" style="text-align:center;">Hospitality 2 You</a></li>
    </ul>
    <ul class="nav navbar-nav nav-hidden-small navbar-right">
        <li>@Html.ActionLink("FAQs", "FAQs", "Home", null, new { @class = "light-pink", @style = "text-align:center;" })</li>
        <li>@Html.ActionLink("Process", "Process", "Home", null, new { @class = "light-pink", @style = "text-align:center;" })</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "light-pink", @style = "text-align:center;" })</li>
    </ul>
}

<style>
    .dropdown-submenu {
        position: relative;
    }

        .dropdown-submenu .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -1px;
        }

    .caret-right {
        margin-top: 5px;
        border-bottom: 4px solid transparent;
        border-top: 4px solid transparent;
        border-left: 4px solid;
        display: inline-block;
        height: 0;
        opacity: 1;
        vertical-align: top;
        width: 0;
    }

    /*.dropdown:hover .dropdown-menu {
        display: block;
    }*/

    a.dark-pink {
        color: #a56072 !important;
        font-size: 14px;
        padding-bottom: 15px;
    }

    a.light-pink {
        color: #fc88a1 !important;
        font-size: 14px;
    }

    a.tel-no {
        color: #a4d264 !important;
        font-size: 22px;
        display: block;
    }
</style>

<script>
    $(document).ready(function () {
        $('.dropdown-submenu a.submenu-stockcontrol').on("click", function (e) {
            $(this).next('ul').toggle();
            e.stopPropagation();
            e.preventDefault();
        });
    });

    function HideViews() {
        $("#SlideContent_Edit").animate({ width: '0%' }, { queue: false, duration: 300 });
        setTimeout(function () {
            $("#SlideContent_Edit").css("display", "none");
            $("#Button_Close_Content").css("display", "none");
        }, 300);
    }


</script>