﻿<header>
      <div class="navbar-top navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar pt-0 pb-0 justify-content-between">
        <div class="navbar-top-left navbar-nav flex-row d-md-flex">
            <a class="nav-item nav-link" href="tel:03454638863">0345 463 8863</a>
            <a class="nav-item nav-link" href="mailto:Orders@office-groceries.com">Orders@office-groceries.com</a>
        </div>
        <div class="navbar-top-right navbar-nav flex-row d-flex align-items-center">
            <a class="nav-item nav-link" href="/faqs">FAQs</a>
            <a class="nav-item nav-link" href="/process">Process</a>
            <a class="nav-item nav-link" href="/about">About</a>
            <a class="nav-item nav-link" href="/testimonials">Testimonials</a>
            <a class="nav-item nav-link border-0" href="/account/login">Log in</a>
            <a class="btn btn-primary text-white pt-3 pl-2 pl-md-4 pb-3 pr-2 pr-md-4 rounded-0 border-0" href="/account/enquiryform" role="button">Enquire</a>
        </div>
      </div>
      <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
      <![endif]-->

    <nav class="main-nav navbar navbar-expand-lg navbar-light bg-white pt-3 pb-3">
        <a class="navbar-brand" href="/">
            <img src="/img/og-logo.svg" width="140" height="50" class="d-inline-block align-top" alt="Office-Groceries Logo" />
        </a>
        <a class="btn btn-white ml-auto mr-1 d-lg-none" id="mobile-cart-button" href="javascript:void(0)" role="button" onclick="ShowQuoteCart()"><img src="/img/cart-icon.svg" alt="Quote Cart" width="24" class="mr-1" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse main-navbar" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            @foreach (var aisle in (ViewBag.Aisles as List<NuIngredient.Models.AisleViewModel>).Where(a => a.IsMain))
            {
                if (aisle.AisleType == NuIngredient.Models.AisleType.Milk)
                {
                    if (aisle.Name == "Milk")
                    {
                        <a class="nav-item nav-link header-aisle" href="/office-milk-deliveries">@aisle.Label</a>
                    }
                    else
                    {
                        <a class="nav-item nav-link header-aisle" href="/office-milk-deliveries/@(aisle.InternalName)">@(aisle.Label)</a>
                    }
                }
                else if (@aisle.Name == "Fruit")
                {
                    <a class="nav-item nav-link header-aisle" href="/office-fruit-basket-deliveries">@aisle.Label</a>
                }
                else
                {
                    <a class="nav-item nav-link header-aisle" href="/aisle/@aisle.InternalName">@aisle.Label</a>
                }
            }
            @if ((ViewBag.Aisles as List<NuIngredient.Models.AisleViewModel>).Where(a => !a.IsMain).Any())
            {
                <div class="dropdown">
                    <a class="nav-item nav-link border-0 dropdown-toggle header-aisle" href="/" role="button" id="otherAislesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Other Aisles</a>
                    <div class="dropdown-menu rounded-0" aria-labelledby="otherAislesDropdown">
                        @foreach (var aisle in (ViewBag.Aisles as List<NuIngredient.Models.AisleViewModel>).Where(a => !a.IsMain))
                        {
                            <a class="dropdown-item" href="/aisle/@aisle.InternalName">@aisle.Label</a>
                        }
                    </div>
                </div>
            }
        </div>
        <a class="btn btn-white ml-lg-auto d-none d-lg-block" href="javascript:void(0)" role="button" onclick="ShowQuoteCart()"><img src="/img/cart-icon.svg" alt="" width="24" class="mr-1" ></a>
        </div>
    </nav>
</header>

<div id="Modal-quotecart" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content bg-light rounded-0">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="quote-body"></div>
            </div>
        </div>
    </div>
</div>

<div id="Modal_Prospect" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content bg-info text-dark text-center rounded-0">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="prospect-form-content"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).on('hidden.bs.modal', '#Modal_Prospect', function () {
        $('.modal:visible').length && $(document.body).addClass('modal-open');
    });
</script>