﻿@using NuIngredient.Models
@model NuIngredient.Models.AisleViewModel

<script>
    function OnSuccess(response) {
        Refresh();
    }
    function OnAisleImageUploadSuccess(e) {
            if (e.response.status == "error") {
                alert("Error: " + e.response.message);
            }
            else if (e.response.status == "success") {
                Refresh();
                Edit(e.response.id);
            }
    }

    function OnAisleImageUpload(e) {
        var files = e.files;
        $.each(files, function () {
            if (this.size / 1024 / 1024 > 10) {
                alert("Max 10Mbs file size is allowed!")
                e.preventDefault();
            }
        });
    }

    function RemoveAisleImage(id) {
        $.ajax({
            url: '@Url.Action("RemoveAisleImage", "AisleManagement")',
            type: 'POST',
            data: { "id": id },
            dataType: "json",
            success: function (data) {
                Refresh();
                Edit(id);
            }
        });
    }
</script>

<div id="divEditAisle">

    @using (Ajax.BeginForm("_Edit", "AisleManagement", null, new AjaxOptions { UpdateTargetId = "divEditAisle", OnSuccess = "OnSuccess" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        //@Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.IsConstant)
        @Html.HiddenFor(model => model.SortPosition)
        @Html.HiddenFor(model => model.AisleImageUrl)
        @Html.HiddenFor(model => model.AisleType)

        <div class="row">
            <div class="col-xs-9">
                <h2>Edit Aisle</h2>
            </div>
            <div class="col-xs-3">
                <br />
                <a class="btn btn-sm btn-default" onclick="HideViews(); return false;" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
            </div>
        </div>

        <div class="row form-table">
            <div class="col-sm-12">
                <hr />
            </div>
            <div class="col-sm-12">
                <table style="width: 100%;">
                    <tr>
                        <td colspan="100%">
                            @if ((Model.AisleImageUrl ?? "") == "" || Model.AisleImageUrl.Contains("NotFound"))
                            {
                                <label>Upload Aisle Image:</label>
                                @(Html.Kendo().Upload().Multiple(false)
                                                    .Name("uploadedAisleImage")
                                                    .Async(a => a.Save("UploadAisleImage", "AisleManagement", new { id = Model.ID }))
                                                    .ShowFileList(false)
                                                    .HtmlAttributes(new { accept = "image/*" })
                                                    .Events(events => events.Upload("OnAisleImageUpload").Success("OnAisleImageUploadSuccess"))
                                )
                                <span style="font-size:x-small">Max 512Kbs</span>
                            }
                            else
                            {
                                <a id="aisleImage_link" class="fancybox-media" target="_blank" href="@Model.AisleImageUrl">
                                    <img id="aisleImage" src="@Model.AisleImageUrl" style="max-height:200px; max-width:600px; " />
                                </a>
                                <br />
                                <a href="#" onclick="RemoveAisleImage('@Model.ID')">Remove Image</a>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td style="width:200px;"><label>Main Category:</label></td>
                        <td style="width:calc(100% - 280px);">
                            @if (Model.IsConstant)
                            {
                                @Html.HiddenFor(model => model.IsMain)
                                @Html.Kendo().CheckBoxFor(model => model.IsMain).Enable(false)
                            }
                            else
                            {
                                @Html.Kendo().CheckBoxFor(model => model.IsMain)
                            }
                        </td>
                    </tr>
                    <tr>
                        <td><label>Aisle Type:</label></td>
                        <td>
                            <label>@Model.AisleType</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:200px;"><label>Name:</label></td>
                        <td style="width:calc(100% - 280px);">
                            @if (Model.IsConstant)
                            {
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @readonly = "readonly" })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            }
                        </td>
                    </tr>
                    <tr>
                        <td><label>Label (Display Name):</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.Label, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Label, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>Start Date:</label></td>
                        <td>
                            @Html.Kendo().DatePickerFor(model => model.StartDate)
                        </td>
                    </tr>
                    <tr>
                        <td><label>End Date:</label></td>
                        <td>
                            @Html.Kendo().DatePickerFor(model => model.EndDate)
                        </td>
                    </tr>
                    <tr>
                        <td><label>Default Supplier:</label></td>
                        <td>
                            @(Html.Kendo().DropDownListFor(model => model.DefaultSupplierID)
                                              .DataTextField("Text")
                                              .DataValueField("Value")
                                              .OptionLabel("Select")
                                              .DataSource(dataSource => dataSource.Read(read => read.Action("DropDownSuppliers", "Suppliers")))
                                              .AutoBind(true)
                            )
                        </td>
                    </tr>
                    <tr>
                        <td><label>H1 Tag:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.H1Tag, new { @class = "form-control", style = "max-width: none;" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>MetaTitle:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.MetaTitle, new { @class = "form-control", style = "max-width: none;" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>MetaKeyword:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.MetaKeyword, new { @class = "form-control", style = "max-width: none;" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>MetaDescription:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.MetaDescription, new { @class = "form-control", style = "max-width: none;" })
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-12">
                <hr />
            </div>
            <div class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading" style="text-align: center;" onclick="$(this).siblings('.panel-body').slideToggle()">
                        <h4>Prospect Content</h4>
                    </div>
                    <div class="panel-body" style="padding:0; display: none;">
                        @(Html.Kendo().EditorFor(model => model.ProspectContent)
                                .HtmlAttributes(new { @class = "form-control", @placeholder = "", @style = "max-width:none; margin-bottom:10px; heigh:700px;" })
                                .Encode(false)
                                .Tools(tools => tools.Clear()
                                                     .Formatting()
                                                     .InsertImage()
                                                     .Bold()
                                                     .Italic()
                                                     .Underline()
                                                     .JustifyLeft()
                                                     .JustifyCenter()
                                                     .JustifyRight()
                                                     .InsertUnorderedList()
                                                     .InsertOrderedList()
                                                     .Indent()
                                                     .CreateLink()
                                                     .TableEditing()
                                                     .FontName()
                                                     .FontSize()
                                                     .FontColor()
                                                     .ViewHtml()
                                )
                                .ImageBrowser(imageBrowser => imageBrowser
                                    .Image("/Views/CMS/Content/Media/ImageBrowser/{0}")
                                    .Read("Read", "ImageBrowser")
                                    .Create("Create", "ImageBrowser")
                                    .Destroy("Destroy", "ImageBrowser")
                                    .Upload("Upload", "ImageBrowser")
                                    .Thumbnail("Thumbnail", "ImageBrowser")
                                )
                                .Resizable()
                        )
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <br />
            </div>
            <div class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading" style="text-align: center;" onclick="$(this).siblings('.panel-body').slideToggle()">
                        <h4>Customer Content</h4>
                    </div>
                    <div class="panel-body" style="padding:0; display: none;">
                        @(Html.Kendo().EditorFor(model => model.CustomerContent)
                                .HtmlAttributes(new { @class = "form-control", @placeholder = "", @style = "max-width:none; margin-bottom:10px; heigh:700px;" })
                                .Encode(false)
                                .Tools(tools => tools.Clear()
                                                     .Formatting()
                                                     .InsertImage()
                                                     .Bold()
                                                     .Italic()
                                                     .Underline()
                                                     .JustifyLeft()
                                                     .JustifyCenter()
                                                     .JustifyRight()
                                                     .InsertUnorderedList()
                                                     .InsertOrderedList()
                                                     .Indent()
                                                     .CreateLink()
                                                     .TableEditing()
                                                     .FontName()
                                                     .FontSize()
                                                     .FontColor()
                                                     .ViewHtml()
                                )
                                .ImageBrowser(imageBrowser => imageBrowser
                                    .Image("/Views/CMS/Content/Media/ImageBrowser/{0}")
                                    .Read("Read", "ImageBrowser")
                                    .Create("Create", "ImageBrowser")
                                    .Destroy("Destroy", "ImageBrowser")
                                    .Upload("Upload", "ImageBrowser")
                                    .Thumbnail("Thumbnail", "ImageBrowser")
                                )
                                .Resizable()
                        )
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <br /><br />
                <input type="submit" value="Save Details" class="btn btn-inverse">
                @if (ViewBag.Saved ?? false)
                {
                    <label id="l_Saved"><strong>Details Saved!</strong></label>
                    <script>
                        setTimeout(function () { $("#l_Saved").css("display", "none"); }, 2000);
                    </script>
                }
            </div>
            
             <div class="col-sm-12">
                <br />
                @(Html.Kendo().TabStrip()
                              .Scrollable(false)
                              .Name("Aisle_Tabstrip")
                              .Items(tabstrip =>
                              {
                                  if (Model.Name == "Milk" || Model.AisleType == AisleType.Milk)
                                  {
                                      tabstrip.Add()
                                          .Text("Categories")
                                          .Content(@Html.Partial("_MilkSubcategories", Model).ToHtmlString())
                                          .Selected(true);
                                  }
                                  else if (Model.Name == "Fruit" || Model.AisleType == AisleType.Fruit)
                                  {
                                      tabstrip.Add()
                                          .Text("Categories")
                                          .Content(@Html.Partial("_FruitSubcategories", Model).ToHtmlString())
                                          .Selected(true);
                                  }
                                  else
                                  {
                                      tabstrip.Add()
                                          .Text("Categories")
                                          .Content(@Html.Partial("_Subcategories", Model).ToHtmlString())
                                          .Selected(true);
                                  }
                                  
                                  tabstrip.Add()
                                      .Text("Excluded Customers")
                                      .Content(@Html.Partial("_ExcludedCustomersTab", Model).ToHtmlString())
                                      .Selected(false);
                              })
                )
            </div>
            

        </div>
    }

    <script>
        function OnSuccess(response) {
            Refresh();
        }
    </script>
</div>
