﻿@using System.Linq;
@using NuIngredient.Models
@model NuIngredient.Models.AisleViewModel

<div id="divNewAisle">

    @using (Ajax.BeginForm("_New", "AisleManagement", null, new AjaxOptions { UpdateTargetId = "divNewAisle", OnSuccess = "OnSuccess" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        //@Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="row">
            <div class="col-xs-9">
                <h2>New Aisle</h2>
            </div>
            <div class="col-xs-3">
                <br />
                <a class="btn btn-sm btn-default" onclick="HideViews(); return false;" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
            </div>
        </div>

        <div class="row form-table">
            <div class="col-sm-12">
                <hr />
            </div>
            <div class="col-sm-12">
                <table style="width: 100%;">
                    <tr>
                        <td style="width:200px;"><label>Main Category:</label></td>
                        <td style="width:calc(100% - 280px);">
                            @Html.Kendo().CheckBoxFor(model => model.IsMain)
                        </td>
                    </tr>
                    <tr>
                        <td><label>Aisle Type:</label></td>
                        <td>
                            @(Html.Kendo().DropDownListFor(model => model.AisleType)
                                .BindTo(Enum.GetValues(typeof(AisleType))
                                    .Cast<AisleType>()
                                    .Select(a => a.ToString())
                                    .ToList()
                                )
                            )
                        </td>
                    </tr>
                    <tr>
                        <td><label>Name:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>Label (Display Name):</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.Label, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Label, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>Start Date:</label></td>
                        <td>
                            @Html.Kendo().DatePickerFor(model => model.StartDate)
                        </td>
                    </tr>
                    <tr>
                        <td><label>End Date:</label></td>
                        <td>
                            @Html.Kendo().DatePickerFor(model => model.EndDate)
                        </td>
                    </tr>
                    <tr>
                        <td><label>H1 Tag:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.H1Tag, new { @class = "form-control", style = "max-width: none;" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>MetaTitle:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.MetaTitle, new { @class = "form-control", style = "max-width: none;" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>MetaKeyword:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.MetaKeyword, new { @class = "form-control", style = "max-width: none;" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>MetaDescription:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.MetaDescription, new { @class = "form-control", style = "max-width: none;" })
                        </td>
                    </tr>
                </table>
            </div>
            @*<div class="col-sm-12">
                <hr />
            </div>
            <div class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading" style="text-align: center;">
                        <h4>Landing Page Content</h4>
                    </div>
                    <div class="panel-body" style="padding:0;">
                        @(Html.Kendo().EditorFor(model => model.LandingPageContent)
                        .HtmlAttributes(new { @class = "form-control", @placeholder = "", @style = "max-width:none; margin-bottom:10px; heigh:700px;" })
                        .Encode(false)
                        .Tools(tools => tools.Clear()
                                             .Formatting()
                                             .InsertImage()
                                             .Bold()
                                             .Italic()
                                             .Underline()
                                             .JustifyLeft()
                                             .JustifyCenter()
                                             .JustifyRight()
                                             .InsertUnorderedList()
                                             .InsertOrderedList()
                                             .Indent()
                                             .CreateLink()
                                             .TableEditing()
                                             .FontName()
                                             .FontSize()
                                             .FontColor()
                                             .ViewHtml()
                        )
                        .ImageBrowser(imageBrowser => imageBrowser
                            .Image("/Views/CMS/Content/Media/ImageBrowser/{0}")
                            .Read("Read", "ImageBrowser")
                            .Create("Create", "ImageBrowser")
                            .Destroy("Destroy", "ImageBrowser")
                            .Upload("Upload", "ImageBrowser")
                            .Thumbnail("Thumbnail", "ImageBrowser")
                        )
                        .Resizable()
                        )
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <br />
            </div>
            <div class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading" style="text-align: center;">
                        <h4>Prospect Content</h4>
                    </div>
                    <div class="panel-body" style="padding:0;">
                        @(Html.Kendo().EditorFor(model => model.ProspectContent)
                        .HtmlAttributes(new { @class = "form-control", @placeholder = "", @style = "max-width:none; margin-bottom:10px; heigh:700px;" })
                        .Encode(false)
                        .Tools(tools => tools.Clear()
                                             .Formatting()
                                             .InsertImage()
                                             .Bold()
                                             .Italic()
                                             .Underline()
                                             .JustifyLeft()
                                             .JustifyCenter()
                                             .JustifyRight()
                                             .InsertUnorderedList()
                                             .InsertOrderedList()
                                             .Indent()
                                             .CreateLink()
                                             .TableEditing()
                                             .FontName()
                                             .FontSize()
                                             .FontColor()
                                             .ViewHtml()
                        )
                        .ImageBrowser(imageBrowser => imageBrowser
                            .Image("/Views/CMS/Content/Media/ImageBrowser/{0}")
                            .Read("Read", "ImageBrowser")
                            .Create("Create", "ImageBrowser")
                            .Destroy("Destroy", "ImageBrowser")
                            .Upload("Upload", "ImageBrowser")
                            .Thumbnail("Thumbnail", "ImageBrowser")
                        )
                        .Resizable()
                        )
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <br />
            </div>
            <div class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading" style="text-align: center;">
                        <h4>Customer Content</h4>
                    </div>
                    <div class="panel-body" style="padding:0;">
                        @(Html.Kendo().EditorFor(model => model.CustomerContent)
                        .HtmlAttributes(new { @class = "form-control", @placeholder = "", @style = "max-width:none; margin-bottom:10px; heigh:700px;" })
                        .Encode(false)
                        .Tools(tools => tools.Clear()
                                             .Formatting()
                                             .InsertImage()
                                             .Bold()
                                             .Italic()
                                             .Underline()
                                             .JustifyLeft()
                                             .JustifyCenter()
                                             .JustifyRight()
                                             .InsertUnorderedList()
                                             .InsertOrderedList()
                                             .Indent()
                                             .CreateLink()
                                             .TableEditing()
                                             .FontName()
                                             .FontSize()
                                             .FontColor()
                                             .ViewHtml()
                        )
                        .ImageBrowser(imageBrowser => imageBrowser
                            .Image("/Views/CMS/Content/Media/ImageBrowser/{0}")
                            .Read("Read", "ImageBrowser")
                            .Create("Create", "ImageBrowser")
                            .Destroy("Destroy", "ImageBrowser")
                            .Upload("Upload", "ImageBrowser")
                            .Thumbnail("Thumbnail", "ImageBrowser")
                        )
                        .Resizable()
                        )
                    </div>
                </div>
            </div>*@
            <div class="col-sm-12">
                <br /><br />
                <input type="submit" value="Add Aisle" class="btn btn-inverse">
            </div>
        </div>
    }

    <script>
        function OnSuccess(response) {
            //Call function from Index view
            if (response["ID"] != null) {
                Created(response["ID"]);
            }
        }
    </script>
</div>
