﻿@{
    ViewBag.Title = "Aisle Management";
}

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-xs-6">
            <br />
        </div>
        <div class="col-xs-12">
            <br />
        </div>
        <div class="col-xs-6">
            <a class="btn btn-primary" onclick="New(); return false;"><span class="fa fa-cube"></span>&nbsp;&nbsp;New Aisle</a>
        </div>
        @*<div class="col-xs-offset-2 col-xs-4">
            <div class="input-group">
                @Html.TextBox("TB_Filter", null, new { @class = "form-control", @style = "max-width:none;", @placeholder = "Search by Name" })
                <span class="input-group-btn">
                    <a class="btn btn-default" onclick="Refresh(); return false;"><span class="glyphicon glyphicon-search"></span></a>
                </span>
            </div>
        </div>*@
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>
        <div id="divPager" class="col-sm-12">
             <div class="form-group" role="group" aria-label="...">
                <button class="btn btn-sm btn-default" onclick="Refresh();"><span class="glyphicon glyphicon-refresh" ></span>&nbsp; Refresh</button>&nbsp;
            </div>
        </div>
        <div class="col-sm-12">
            @(Html.Kendo().Grid<NuIngredient.Models.AisleGridViewModel>()
                .Name("GridAisles")
                .Pageable(p => p.PageSizes(new[] { 50, 100, 200, 1000 }).Messages(m => m.Display("{0} - {1} of {2} Milks").Empty("No Aisles Found")))
                .Columns(columns =>
                {
                    columns.Bound(u => u.ID).ClientTemplate("<input type='checkbox' value='#=ID#' name='chk_grid'>").Width("1%").Hidden();
                    columns.Bound(u => u.IsMain).Title("Main").ClientTemplate("#if(IsMain){# <i class='glyphicon glyphicon-ok' /> #}#").HtmlAttributes(new { @class = "div-inline" });
                    columns.Bound(u => u.Name);
                    columns.Bound(u => u.Label);
                    //columns.Bound(u => u.LandingPageFilePath);
                    //columns.Bound(u => u.ProspectContentFilePath);
                    //columns.Bound(u => u.CustomerContentFilePath);
                    columns.Bound(u => u.StartDate).ClientTemplate("#if(StartDate){# #=kendo.toString(StartDate, 'dd/MM/yyyy')# #}#").Width("1%");
                    columns.Bound(u => u.EndDate).ClientTemplate("#if(EndDate){# #=kendo.toString(EndDate, 'dd/MM/yyyy')# #}#").Width("1%");
                    columns.Bound(u => u.SupplierName).Title("Default Supplier");
                    columns.Template(@<text></text>).ClientTemplate("<a title='Edit' href='\\#' onclick='Edit(\"#=ID#\"); return false;'><span class='glyphicon glyphicon-edit glyphicon-btn'/></a>").Width("1%");
                    columns.Command(command =>
                    {
                        command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn'/>").HtmlAttributes(new { @class = "btn-delete-aisle"});
                    }).Width("1%");

                })
                .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this Aisle?"))
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(t => t.ID);
                    })
                    .Read(read => read.Action("Read", "AisleGrid").Data("GetSearchInfo")).PageSize(50)
                    .Destroy(destory => destory.Action("Destroy", "AisleGrid"))
                )
                .Events(events => events.DataBound("PreKendoGridDatabound"))
            )
        </div>
    </div>
</div>

<style>
    .div-inline {         
        overflow: hidden;
        white-space: nowrap;
        text-align:center;
        align-items:center;
    }
</style>

<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_Edit" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 1200px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="Edit_Body"></div>
    </div>
</div>

  <!-- Modal -->
<div class="modal fade" id="Modal" role="dialog" style="z-index:1200;">
    <div class="modal-dialog" style="width:400px;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script>
    function PreKendoGridDatabound(e) {
        var grid = $('#GridAisles').data('kendoGrid');
        var gridData = grid.dataSource.view();
        for (var i = 0; i < gridData.length; i++) {
            var currentUid = gridData[i].uid;
            if (gridData[i].IsConstant == true) {
                var currentRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                var deleteBtn = $(currentRow).find('.btn-delete-aisle');
                deleteBtn.hide();
            }
        }
        KendoGridDatabound(e);
    }

    function Refresh() {
        var grid = $("#GridAisles").data("kendoGrid");
        grid.dataSource.read();
    }

    function GetSearchInfo() {
        return {
            filterText: $('#TB_Filter').val()
        }
    }

    $("#TB_Filter").keyup(function (e) {
        Refresh();
    });


    //Below the following functions are used the show/hide the content panels.
    function New() {
        $("#Edit_Body").load("@Url.Action("_New", "AisleManagement")");

        $("#SlideContent_Edit").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_Edit").css("display", "block");
        $("#Button_Close_Content").css("display", "block");
    }

    function Edit(id) {
        var url = '@Url.Action("_Edit", "AisleManagement")' + '?ID=' + id;
        $("#Edit_Body").load(url);

        $("#SlideContent_Edit").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_Edit").css("display", "block");
        $("#Button_Close_Content").css("display", "block");
    }

    function Created(id) {
        Refresh();
        var url = '@Url.Action("_Edit", "AisleManagement")' + '?ID=' + id;
        $("#Edit_Body").load(url);
    }

    function HideViews() {
        $("#SlideContent_Edit").animate({ width: '0%' }, { queue: false, duration: 300 });
        setTimeout(function () {
            $("#SlideContent_Edit").css("display", "none");
            $("#Button_Close_Content").css("display", "none");
            Refresh();
        }, 300);
    }


    $(".k-grid[id='GridAisles'] table").kendoSortable({
            connectWith: ".k-grid[id='GridAisles'] table",
            filter: ">tbody >tr:not('.k-grid-edit-row')",
            disabled: ".no-drag", //do not allow transferring the no records row
            hint: $.noop,
            cursor: "move",
            placeholder: function (element) {
                return element.clone().addClass("k-state-hover").css("opacity", 0.65);
            },
            change: function (e) { //change event handler implementation may differ according to the scenario

                try {
                    var element = this.element.closest(".k-grid[id='GridAisles']");
                    var grid = this.element.closest(".k-grid[id='GridAisles']").data("kendoGrid");
                    var dataItem = null; grid.dataSource.getByUid(e.item.data("uid"));

                    $('[id="GridAisles"]').each(function () {
                        if (dataItem == null)
                            dataItem = $(this).data('kendoGrid').dataSource.getByUid(e.item.data("uid"));
                    });

                    if (e.action == "receive" || e.action == "sort")
                        $.ajax({
                        url: '@Url.Action("_UpdateAislePositions", "AisleGrid")',
                            type: 'POST',
                            data: {
                                aisleID: dataItem.ID,
                                oldIndex: e.oldIndex,
                                newindex: e.newIndex,
                            },
                            dataType: "json",
                            success: function (data) { Refresh(); }
                    });
                }
                catch (ex) { Refresh(); }
            },
            move: function(e) {
                console.log("move to index: " + this.indexOf(this.placeholder));
            }
        });
</script>



