﻿@model NuIngredient.Models.StaticPageViewModel
@{ 
    ViewBag.Title = "Page Settings";
}
<div class="container" id="divEditPage">

    @using (Html.BeginForm("Edit", "StaticPages", null, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        //@Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="row">
            <div class="col-xs-9">
                <h2>@ViewBag.Title</h2>
            </div>
            <div class="col-xs-3">
                <br />
            </div>
        </div>

        <div class="row form-table">
            <div class="col-sm-12">
                <hr />
                <table class="table-responsive" style="width: 100%;">
                    <tr>
                        <td style="width:120px;"><label>Meta Title:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.MetaTitle, new { @class = "form-control", @style="max-width: none;" })
                            @Html.ValidationMessageFor(model => model.MetaTitle, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>Meta Keyword:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.MetaKeyword, new { @class = "form-control", @style = "max-width: none;" })
                            @Html.ValidationMessageFor(model => model.MetaKeyword, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>Meta Description:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.MetaDescription, new { @class = "form-control", @style = "max-width: none;" })
                            @Html.ValidationMessageFor(model => model.MetaDescription, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>Title:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @style = "max-width: none;" })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>Subtitle:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.Subtitle, new { @class = "form-control", @style = "max-width: none;" })
                            @Html.ValidationMessageFor(model => model.Subtitle, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>Content:</label></td>
                        <td>
                            @(Html.Kendo().EditorFor(model => model.Content)
                                    .HtmlAttributes(new { @class = "form-control", @placeholder = "", @style = "max-width:none; margin-bottom:10px; heigh:700px;" })
                                    .Encode(false)
                                    .Tools(tools => tools.Clear()
                                                         .Formatting()
                                                         .InsertImage()
                                                         .Bold()
                                                         .Italic()
                                                         .Underline()
                                                         .JustifyLeft()
                                                         .JustifyCenter()
                                                         .JustifyRight()
                                                         .InsertUnorderedList()
                                                         .InsertOrderedList()
                                                         .Indent()
                                                         .CreateLink()
                                                         .TableEditing()
                                                         .FontName()
                                                         .FontSize()
                                                         .FontColor()
                                                         .ViewHtml()
                                    )
                                    .ImageBrowser(imageBrowser => imageBrowser
                                        .Image("/Views/CMS/Content/Media/ImageBrowser/{0}")
                                        .Read("Read", "ImageBrowser")
                                        .Create("Create", "ImageBrowser")
                                        .Destroy("Destroy", "ImageBrowser")
                                        .Upload("Upload", "ImageBrowser")
                                        .Thumbnail("Thumbnail", "ImageBrowser")
                                    )
                                    .Resizable()
                            )
                        </td>
                    </tr>
                </table>
            </div>
            
            <div class="col-sm-12">

            </div>

            <div class="col-sm-12">
                <br /><br />
                <input type="submit" value="Save" class="btn btn-inverse">
                @if (ViewBag.Saved != null)
                {
                    <br />
                    <label class="l_Saved"><strong>Details Saved!</strong></label>
                    <script>
                        Refresh();
                    </script>
                }
            </div>
            <div class="col-sm-12">
                <hr />
            </div>
        </div>
    }

</div>
