﻿@model NuIngredient.Models.AssociatePageViewModel

<script>
    function renderRandomColour(seed) {
        if (seed == null)
            return 'initial';
        return '#' + seed.substring(0,6) + '4C';
    }
    
    function associate() {
        const targetCompanyId = $('#DropDownGroupedCompany').val();
        if (targetCompanyId === '') {
            alert('None Selected');
        }
        
        $.post({
            url: '/Companies/Associate',
            data: {
                companyID: '@Model.CompanyID',
                targetCompanyID: targetCompanyId
            },
            success: function () {
                alert('Associated');
                $('.modal').modal('hide');
                EditCompany('@Model.CompanyID');
            }
        })
    }
</script>


<div class="row">
    <div class="col-sm-12">
        <table style="width:100%;">
            <tr>
                <td style='width: 100px;'>
                    <label>Associate To: </label>
                </td>
                <td>
                    @(Html.Kendo().DropDownList()
                        .Name("DropDownGroupedCompany")
                        .OptionLabel("Please Select the Target Customer")
                        .DataSource(dataSource => dataSource.Read("DropDownGroupedCompanies", "Companies"))
                        .DataValueField("ID")
                        .DataTextField("Name")
                        .Filter(FilterType.Contains)
                        .Virtual(true)
                        .Template("<div style='background-color: #=renderRandomColour(data.CollectionID)#; padding: 1px 5px 1px 5px; width:100%;'><div style='width:15%; display:inline-block;'>#=data.AccountNo#</div><div style='width:70%; display:inline-block;'>#=data.Name#</div><div style='width:15%; display:inline-block;'>#=data.Postcode#</div></div>")
                        .HtmlAttributes(new { @style="width:100%;"}))
                </td>
            </tr>
        </table>
    </div>
    <div class="col-sm-12">
        <hr/>
    </div>
    @if (Model.AssociatedCompanies != null && Model.AssociatedCompanies.Count > 0)
    {
        <div class="col-sm-12">
            <label>Currently associated with:</label>
            <div style="padding-left: 25px; margin-top: 5px;">
                @foreach (var associatedCompany in Model.AssociatedCompanies.OrderBy(name => name))
                {
                    <label>@associatedCompany</label><br/>
                }
            </div>
        </div>
        <div class="col-sm-10">
            <i class="text-danger">* Please note, this customer is already associated with other customers, it would disconnect to the original group if you associate with other group</i>
        </div>
    }
    else
    {

        <div class="col-sm-10">
            <br/>
        </div>
    }
    <div class="col-sm-2">
        <div class="btn btn-inverse pull-right" onclick="associate()">Associate</div>
    </div>
</div>
