﻿@model NuIngredient.Models.CompanyViewModel

<script>
    function OnAttachmentUploadSuccess(e) {
        $('#GridAttachments').data('kendoGrid').dataSource.read();
    }
    
    function OnAttachmentUploadError(e) {
        const error = JSON.parse(e.XMLHttpRequest.responseText);
        alert(error.errorMsg);
        $('#GridAttachments').data('kendoGrid').dataSource.read();
    }
</script>

<br />

@(Html.Kendo().Grid<NuIngredient.Models.AttachmentViewModel>()
    .Name("GridAttachments")
    .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Attachments").Empty("No Attachments Found")))
    .Columns(columns =>
    {
        columns.Bound(a => a.Filename).Title("Filename").ClientTemplate("<a class='fancybox-media' target='_blank' href='#=FilePath#' download='#=Filename#' title='#=Filename#'>#=Filename#</a>");
        columns.Bound(a => a.Created).Title("Created").Format("{0:dd-MM-yy}").Width(80);
        columns.Command(command =>
            {
                command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn'/>");
            }
        ).Width(1);
    })
    .Editable(editable => editable.ConfirmDelete("Are you sure you want to delete this file?"))
    .Sortable()
    .DataSource(dataSource => dataSource
        .Ajax()
        //.Sort(sort => sort.Add("FirstName").Ascending()) // <-- initial sort expression
        .Model(model =>
        {
            model.Id(a => a.ID);
            model.Field(a => a.ID).Editable(false);
            model.Field(a => a.FilePath).Editable(false);
        })
        .Read(read => read.Action("Read", "CompanyAttachmentGrid", new { companyID = Model.ID }))
        .Destroy(destroy => destroy.Action("Destroy", "CompanyAttachmentGrid"))
    )
    .Events(events => events.DataBound("KendoGridDatabound"))
)

<hr />
<h5>Upload Files:</h5>
<div>Maximum allowed file size is <strong>20MB</strong>.</div>
@(Html.Kendo().Upload()
        .Name("files")
        .Async(a => a.Save("Upload", "CompanyAttachmentGrid", new { companyID = Model.ID }))
        .ShowFileList(false)
        .Events(events => events.Success("OnAttachmentUploadSuccess").Error("OnAttachmentUploadError"))    
)

<br />
<br />
