﻿@using NuIngredient.Models
@model Guid


<script>
    function GetExcludeCompanySearchInfo() {
        return {
            companyId: '@Model',
            filterText: $('#TB_ExcludeCompanySearch').val()
        };
    }
    
    function RefreshAvailableProducts() {
        var grid = $('#GridAvailableProducts').data('kendoGrid');
        grid.dataSource.read();
    }
    
    function IncludeProduct(productId) {
        UpdateProduct(productId, true);
    }
    
    function ExcludeProduct(productId) {
        UpdateProduct(productId, false);
    }
    
    function UpdateProduct(productId, available) {
        $.ajax({
            url: '@Url.Action("Update", "DryGoodProductExcludeCompany")',
            type: 'POST',
            data: {
                companyId: '@Model',
                productId: productId,
                available: available
            },
            success: function () {
            }
        });
    }
    
    function IncludeAll() {
        // get the total number of products from the grid
        const grid = $('#GridAvailableProducts').data('kendoGrid');
        const total = grid.dataSource.total();
        
        if (!confirm('Are you sure you want to include all ' + total + ' products?'))
            return;
            
        AjaxBegin();
    
        $.ajax({
            url: '@Url.Action("IncludeAll", "DryGoodProductExcludeCompany")',
            type: 'POST',
            data: {
                companyId: '@Model',
                filterText: $('#TB_ExcludeCompanySearch').val()
            },
            success: function () {
                RefreshAvailableProducts();
            },
            complete: function () {
                AjaxComplete();
            }
        });    
    }
    
    function ExcludeAll() {

        // get the total number of products from the grid
        const grid = $('#GridAvailableProducts').data('kendoGrid');
        const total = grid.dataSource.total();
        
        if (!confirm('Are you sure you want to exclude all ' + total + ' products?'))
            return;

        AjaxBegin();
    
        $.ajax({
            url: '@Url.Action("ExcludeAll", "DryGoodProductExcludeCompany")',
            type: 'POST',
            data: {
                companyId: '@Model',
                filterText: $('#TB_ExcludeCompanySearch').val()
            },
            success: function () {
                RefreshAvailableProducts();
            },
            complete: function () {
                AjaxComplete();
            }
        });    
    }
    
    let typingTimeout;
    
    function HandleTyping(event) {
        const typingDelay = 500; // Delay in milliseconds for "finished typing"

        // Check if the Enter key is pressed
        if (event.key === "Enter") {
            console.log("Enter pressed:", event.target.value);
            // Trigger logic immediately on Enter
            
            RefreshAvailableProducts();
            
            return;
        }

        // Clear the existing timeout
        clearTimeout(typingTimeout);

        // Set a timeout to handle finished typing
        typingTimeout = setTimeout(() => {
            console.log("Finished typing:", event.target.value);
            // Additional actions when typing is finished
            RefreshAvailableProducts();
        }, typingDelay);
    }
    
</script>


<br />
<div class="d-flex justify-content-between align-items-center" style="display: flex; gap: 10px; margin-bottom: 5px;">
    <!-- Search Filter -->
    <div class="input-group" style="max-width:400px; width: 100%;">
        @Html.TextBox("TB_ExcludeCompanySearch", null, new
        {
            @class = "form-control",
            @style = "max-width:none;",
            @placeholder = "Search...",
            @onkeyup="HandleTyping(event)"
        })
        <span class="input-group-btn">
            <a class="btn btn-default" onclick="RefreshAvailableProducts(); return false;">
                <span class="glyphicon glyphicon-search"></span>
            </a>
        </span>
    </div>

    <!-- Buttons on the Right -->
    <div>
        <button class="btn btn-warning" onclick="IncludeAll(); return false;">Include All</button>
        <button class="btn btn-danger" onclick="ExcludeAll(null, false); return false;">Exclude All</button>
    </div>
</div>

@(Html.Kendo().Grid<AvailableProductVm>()
    .Name("GridAvailableProducts")
    .Columns(columns =>
    {
        columns.Bound(m => m.ProductId).Hidden();
        columns.Bound(m => m.Available).Title("Available").Width("70px").HtmlAttributes(new { @class="div-inline" })
            .ClientTemplate("#if(Available == true) {# <input type='checkbox' checked='checked' onclick='ExcludeProduct(\"#=ProductId#\")' /> #} else {# <input type='checkbox' onclick='IncludeProduct(\"#=ProductId#\")' /> #}#");
        columns.Bound(m => m.Name).Title("Name");
    })
    .Sortable()
    .DataSource(dataSource =>
    {
        dataSource.Ajax()
            .Model(model =>
            {
                model.Id(m => m.ProductId);
            })
            .ServerOperation(false)
            .Read(read => read.Action("Read", "DryGoodProductExcludeCompany").Data("GetExcludeCompanySearchInfo"))
            .Sort(sort => sort.Add("Name").Ascending());
    })
    .Pageable(pageable => pageable.PageSizes(new int[] { 20, 50, 100 }))
)

<br />