﻿@model NuIngredient.Models.CompanyViewModel

<br />
@(Html.Kendo().Grid<NuIngredient.Models.OneOffOrderViewModel>()
        .Name("GridOneOffOrdereHeader")
        .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Histories").Empty("No Histories")))
        .Columns(columns =>
        {
            columns.Bound(m => m.ID).Hidden();
            columns.Bound(m => m.CompanyID).Hidden();
            columns.Bound(m => m.Status);
            columns.Bound(m => m.Created).ClientTemplate("#=kendo.toString(Created, 'dd/MM/yy')#");
            columns.Bound(m => m.OrderNumber).ClientTemplate("<a target='_blank' href='/OrderManagement/DryGoodsOrderDetails/#=ID#'>#=OrderNumber#</a>");
            columns.Bound(m => m.CompanyName).Title("Customer");
            columns.Bound(m => m.TotalNet).Title("Net").ClientTemplate("#=kendo.toString(TotalNet, 'C')#").Width("1%");
            columns.Bound(m => m.TotalVAT).Title("Vat").ClientTemplate("#=kendo.toString(TotalVAT, 'C')#").Width("1%");
            columns.Bound(m => m.TotalGross).Title("Gross").ClientTemplate("#=kendo.toString(Total, 'C')#").Width("1%");
            columns.Template(@<text></text>).ClientTemplate("<a target='_blank' href='/OrderManagement/DryGoodsOrders/#=ID#' title='Details'><span class='glyphicon glyphicon-list glyphicon-btn'/></a>").Width("1%");
        })
        .DataSource(dataSource => dataSource
        .Ajax()
        .Model(model =>
        {
            model.Id(m => m.ID);
        })
        .Read(read => read.Action("ReadAll", "OneOffOrderGrid").Data("function (){ return {companyID: '" + Model.ID + "',dateType: 0, statuses: ['Draft', 'Accepted', 'Delivered', 'Invoiced', 'CreditOrder', 'Canceled']}}"))
        )
        .Pageable(p => p.PageSizes(new[] { 10, 20, 50 }).Messages(m => m.Display("{0} - {1} of {2} Orders").Empty("No Orders Found")))
        .Events(events => events.DataBound("KendoGridDatabound"))
)

<br />
