﻿@using NuIngredient.Models
@model NuIngredient.Models.CompanySupplierPageViewModel

<script>
    function filterTypes() {
        return {
            supplierType: $('#CompanySupplier_SupplierType').val()
        }
    }
    
    function dataSupplierDepot() {
        return {
            supplierID: $('#CompanySupplier_SupplierID').val()
        }
    }
    
    function OnSupplierChange() {
        $('#CompanySupplier_SupplierDepotID').data('kendoDropDownList').dataSource.read();
    }

    function OnSupplierTypeChange() {
        $('#CompanySupplier_SupplierID').data('kendoDropDownList').dataSource.read();
        var supplierType = $('#CompanySupplier_SupplierType').val();
        if (supplierType == '@NuIngredient.Models.SupplierType.Milk') {
            $('#MilkSupplierDeliveryDays').show();
            $('#FruitSupplierDeliveryDays').hide();
            $('#DryGoodsSupplierDeliveryDays').hide();
            $('#DepotArea').hide();
        } else if (supplierType == '@NuIngredient.Models.SupplierType.Fruits' || supplierType == '@NuIngredient.Models.SupplierType.Snacks') {
            $('#MilkSupplierDeliveryDays').hide();
            $('#FruitSupplierDeliveryDays').show();
            $('#DryGoodsSupplierDeliveryDays').hide();
            $('#DepotArea').hide();
        } else if (supplierType == '@NuIngredient.Models.SupplierType.DryGoods') {
            $('#MilkSupplierDeliveryDays').hide();
            $('#FruitSupplierDeliveryDays').hide();
            $('#DryGoodsSupplierDeliveryDays').show();
            $('#DepotArea').show();
        }
    }

    function OnStartChange() {
        var startDate = this.value();
        if (startDate) {
            startDate = new Date(startDate);
            $('#CompanySupplier_StartDate').data("kendoDatePicker").min(startDate);
        }
    }

    function OnEndChange() {
        var endDate = this.value();
        if (endDate) {
            endDate = new Date(endDate);
            $('#CompanySupplier_StartDate').data('kendoDatePicker').max(endDate);
        }
    }

    function OnEditCompanySupplierSuccess(response) {
        if (response.status == "Success") {
            $('#Modal').modal('hide');
            var url = '@Url.Action("_EditCompany", "Companies")' + '?ID=@Model.CompanyViewModel.ID';
            $("#Edit_Body").load(url);
            Refresh();
        } else {
            $('#Modal .modal-body').html(response);
        }
    }

    function OnIntermittentChange() {
        if ($("#CompanySupplier_IsIntermittentDelivery").is(":checked")) {
            $(".IntermittentDeliverySettings").removeClass("hide");
        } else {
            $(".IntermittentDeliverySettings").addClass("hide");
        }
    }
</script>


<div id="divEditCompanySupplier">
    @using (Ajax.BeginForm("_EditCompanySupplier", "Companies", null, new AjaxOptions { UpdateTargetId = "divEditCompanySupplier", OnSuccess = "OnEditCompanySupplierSuccess", OnBegin = "AjaxBegin", OnComplete = "AjaxComplete" }, new { id = "EditCompanySupplierForm", method = "post" }))
    {
    <div class="row">
        <div class="col-sm-12">
                @Html.AntiForgeryToken()
                @*@Html.ValidationSummary(false, "", new { @class = "text-danger" })*@
                @Html.HiddenFor(model => model.CompanySupplier.ID)
                @Html.HiddenFor(model => model.CompanySupplier.CompanyID)
                <div class="row">   
                    <div class="col-sm-12">
                        <table style="width:100%;">
                            <tr>
                                <td style='width: 100px;'>
                                    <label>Type: </label>
                                </td>
                                <td>
                                    @(Html.Kendo().DropDownListFor(model => model.CompanySupplier.SupplierType)
                                                    .OptionLabel("Please Select the Type")
                                                    .BindTo(Enum.GetNames(typeof(NuIngredient.Models.SupplierType)).ToList())
                                                    .Value(Model.CompanySupplier.SupplierType.ToString())
                                                    .Events(events => events.Change("OnSupplierTypeChange"))
                                                    .HtmlAttributes(new { @style="width:100%;"})
                                    )
                                    @Html.ValidationMessageFor(model => model.CompanySupplier.SupplierType, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Supplier: </label>
                                </td>
                                <td>
                                    @(Html.Kendo().DropDownListFor(model => model.CompanySupplier.SupplierID)
                                        .OptionLabel("Please Select the Supplier")
                                        .DataTextField("Text")
                                        .DataValueField("Value")
                                        .Filter(FilterType.Contains)
                                        .DataSource(dataSource => dataSource.Read(read => read.Action("DropDownDifficultSuppliers", "Suppliers").Data("filterTypes")))
                                        .Events(events => events.Change("OnSupplierChange"))
                                        .HtmlAttributes(new { @style = "width:100%;" })
                                        )
                                    @Html.ValidationMessageFor(model => model.CompanySupplier.SupplierID, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr id="DepotArea" @if(Model.CompanySupplier.SupplierType != NuIngredient.Models.SupplierType.DryGoods){<text> style="display:none;" </text>}>
                                <td>
                                    <label>Depot: </label>
                                </td>
                                <td>
                                    @(Html.Kendo().DropDownListFor(model => model.CompanySupplier.SupplierDepotID)
                                                  .OptionLabel(" ")
                                                  .DataTextField("Name")
                                                  .DataValueField("ID")
                                                  .Filter(FilterType.Contains)
                                                  .DataSource(dataSource => dataSource.Read(read => read.Action("DropDown", "SupplierDepotGrid").Data("dataSupplierDepot")))
                                                  .HtmlAttributes(new { @style = "width:100%;" })
                                    )
                                    @Html.ValidationMessageFor(model => model.CompanySupplier.SupplierID, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Account No: </label>
                                </td>
                                <td>
                                    @(Html.Kendo().TextBoxFor(model => model.CompanySupplier.AccountNo)
                                                  .HtmlAttributes(new { @style = "width:100%;" })
                                    )
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Start Date: </label>
                                </td>
                                <td>
                                    @(Html.Kendo().DatePickerFor(model => model.CompanySupplier.StartDate)
                                                  .Events(events => events.Change("OnStartChange"))
                                                  .HtmlAttributes(new { @style = "width:100%;" })
                                    )
                                </td>
                            </tr>
                            @if (!String.IsNullOrEmpty(Model.CompanySupplier.ID))
                            {
                                <tr>
                                    <td>
                                        <label>End Date: </label>
                                    </td>
                                    <td>
                                        @(Html.Kendo().DatePickerFor(model => model.CompanySupplier.EndDate)
                                                      .Events(events => events.Change("OnEndChange"))
                                                      .HtmlAttributes(new { @style = "width:100%; background-color: lightgrey; cursor: not-allowed;", @readonly="readonly" })
                                        )
                                    </td>
                                </tr>
                            }
                            else
                            {
                                @Html.HiddenFor(model => model.CompanySupplier.EndDate)
                            }
                            <tr>
                                <td>
                                    <label>From: </label>
                                </td>
                                <td>
                                    @(Html.Kendo().TimePickerFor(model => model.CompanySupplier.DeliveryTimeFrom)
                                                  .Min("06:00")
                                                  .Max("18:00")
                                                  .HtmlAttributes(new { @style = "width:100%;" })
                                    )
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>To: </label>
                                </td>
                                <td>
                                    @(Html.Kendo().TimePickerFor(model => model.CompanySupplier.DeliveryTimeTo)
                                                  .Min("06:00")
                                                  .Max("18:00")
                                                  .HtmlAttributes(new { @style = "width:100%;" })
                                    )
                                </td>
                            </tr>
                            @if (Model.CompanySupplier.SupplierType == SupplierType.Fruits || Model.CompanySupplier.SupplierType == SupplierType.Snacks)
                            { 
                                <tr>
                                    <td colspan="2">
                                        @Html.Kendo().CheckBoxFor(model => model.CompanySupplier.IsIntermittentDelivery).Label("Is Intermittent Delivery").HtmlAttributes(new {@onclick="OnIntermittentChange()"})
                                    </td>
                                </tr>
                                <tr class="IntermittentDeliverySettings @if (!Model.CompanySupplier.IsIntermittentDelivery){<text> hide </text>}">
                                    <td>
                                        <label>Frequency:</label>
                                    </td>
                                    <td>
                                        @Html.Kendo().NumericTextBoxFor(model => model.CompanySupplier.DeliveryFrequency).Min(2).HtmlAttributes(new {@style="width: 60px;"}).Format("#") Weeks
                                    </td>
                                </tr>
                                <tr class="IntermittentDeliverySettings @if (!Model.CompanySupplier.IsIntermittentDelivery){<text> hide </text>}">
                                    <td>
                                        <label>Next Delivery Week:</label>
                                    </td>
                                    <td>
                                        @(Html.Kendo().DatePickerFor(model => model.CompanySupplier.NextDeliveryWeek).Min(DateTime.Now.AddDays(1)).DisableDates(DayOfWeek.Tuesday, DayOfWeek.Wednesday, DayOfWeek.Thursday, DayOfWeek.Friday, DayOfWeek.Saturday, DayOfWeek.Sunday)
                                            .HtmlAttributes(new { @style = "width:100%;" }))
                                    </td>
                                </tr>
                            }
                            @if (Model.CompanySupplier.SupplierType == SupplierType.Fruits &&
                                 (Model.CompanySupplier.SupplierID == "765a4128-5010-4c83-9dae-d526ff485d2c" || Model.CompanySupplier.SupplierID == "6bcce051-92e7-474c-9839-ebc4fdeb9e26"))
                            {
                                <tr>
                                    <td colspan="2">
                                        @Html.Kendo().CheckBoxFor(model => model.CompanySupplier.IsMfs13).Label("Add 13 in MFS Report")
                                    </td>
                                </tr>
                            }
                            else
                            {
                                @Html.HiddenFor(model => model.CompanySupplier.IsMfs13)
                            }
                        </table>
                    </div>
                    <div class="col-sm-12">
                        <br />
                    </div>
                </div>
        </div>
        <div class="col-sm-12">
            <table class="table" style="width:100%;">
                <thead>
                    <tr class="danger">
                        <th>Delivery Days</th>
                        <th style="text-align:center;">Mon</th>
                        <th style="text-align:center;">Tue</th>
                        <th style="text-align:center;">Wed</th>
                        <th style="text-align:center;">Thu</th>
                        <th style="text-align:center;">Fri</th>
                        <th style="text-align:center;">Sat</th>
                        @*<th style="text-align:center;">Sunday</th>*@
                    </tr>
                </thead>
                <tbody>
                    <tr class="success" id="MilkSupplierDeliveryDays" @if(Model.CompanySupplier.SupplierType != NuIngredient.Models.SupplierType.Milk){<text> style="display:none;" </text>}>
                        <td><a href="/Milk/Goto?companyID=@Model.CompanyViewModel.ID" target="_blank" title="Go to milk standing order"><img src="~/Content/icons/milk-bottle.svg" style="width:25px;" /></a>&nbsp;<strong>Milk</strong></td>
                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.CompanyViewModel.MilkDeliveryMonday).Label("")</td>
                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.CompanyViewModel.MilkDeliveryTuesday).Label("")</td>
                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.CompanyViewModel.MilkDeliveryWednesday).Label("")</td>
                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.CompanyViewModel.MilkDeliveryThursday).Label("")</td>
                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.CompanyViewModel.MilkDeliveryFriday).Label("")</td>
                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.CompanyViewModel.MilkDeliverySaturday).Label("")</td>
                        @*<td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.MilkDeliverySunday).Name("MilkDeliverySunday").Label("")</td>*@
                    </tr>
                    <tr class="info" id="FruitSupplierDeliveryDays" @if(Model.CompanySupplier.SupplierType != NuIngredient.Models.SupplierType.Fruits && Model.CompanySupplier.SupplierType != SupplierType.Snacks){<text> style="display:none;" </text>}>
                        <td><a href="/Fruits/Goto?companyID=@Model.CompanyViewModel.ID" target="_blank" title="Go to fruit standing order"><img src="~/Content/icons/grape.svg" style="width:25px;" /></a>&nbsp;<strong>Fruits/Snacks</strong></td>
                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.CompanyViewModel.FruitsDeliveryMonday).Label("")</td>
                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.CompanyViewModel.FruitsDeliveryTuesday).Label("")</td>
                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.CompanyViewModel.FruitsDeliveryWednesday).Label("")</td>
                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.CompanyViewModel.FruitsDeliveryThursday).Label("")</td>
                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.CompanyViewModel.FruitsDeliveryFriday).Label("")</td>
                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.CompanyViewModel.FruitsDeliverySaturday).Label("")</td>
                        @*<td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.FruitsDeliverySunday).Name("FruitsDeliverySunday").Label("")</td>*@
                    </tr>
                    <tr class="active" id="DryGoodsSupplierDeliveryDays" @if(Model.CompanySupplier.SupplierType != NuIngredient.Models.SupplierType.DryGoods){<text> style="display:none;" </text>}>
                        <td><a href="/Products/Goto?companyID=@Model.CompanyViewModel.ID&aisle=@Model.CompanySupplier.SupplierDefaultAisleName" target="_blank" title="Go to dry goods page"><img src="~/Content/icons/coffee.svg" style="width:25px;" /></a>&nbsp;<strong>Dry Goods</strong></td>
                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.CompanySupplier.DeliveryMon).Label("")</td>
                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.CompanySupplier.DeliveryTue).Label("")</td>
                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.CompanySupplier.DeliveryWed).Label("")</td>
                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.CompanySupplier.DeliveryThu).Label("")</td>
                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.CompanySupplier.DeliveryFri).Label("")</td>
                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.CompanySupplier.DeliverySat).Label("")</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12">
            <input type="submit" value="Save" class="btn btn-inverse pull-right">
            @if (ViewBag.Saved != null)
            {
                <label id="l_Saved"><strong>Details Saved!</strong></label>
                            <script>
                                Refresh();
                                setTimeout(function () { $("#l_Saved").css("display", "none"); }, 2000);
                            </script>
            }
        </div>
    </div>
    }
</div>
<style>
    #divEditCompanySupplier td {
        padding: 5px;
    }
</style>