﻿@model NuIngredient.Models.CompanyViewModel

<div id="divEditCompany">

    <div class="row">
        <div class="col-sm-12">
            @using (Ajax.BeginForm("_EditCompany", "Companies", null, new AjaxOptions { UpdateTargetId = "divEditCompany" }, new { id = "EditCompanyForm", method = "post" }))
            {
                @Html.AntiForgeryToken()
                //@Html.ValidationSummary(false, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.MilkDeliveryMonday)
                @Html.HiddenFor(model => model.MilkDeliveryTuesday)
                @Html.HiddenFor(model => model.MilkDeliveryWednesday)
                @Html.HiddenFor(model => model.MilkDeliveryThursday)
                @Html.HiddenFor(model => model.MilkDeliveryFriday)
                @Html.HiddenFor(model => model.MilkDeliverySaturday)
                @Html.HiddenFor(model => model.FruitsDeliveryMonday)
                @Html.HiddenFor(model => model.FruitsDeliveryTuesday)
                @Html.HiddenFor(model => model.FruitsDeliveryWednesday)
                @Html.HiddenFor(model => model.FruitsDeliveryThursday)
                @Html.HiddenFor(model => model.FruitsDeliveryFriday)
                @Html.HiddenFor(model => model.FruitsDeliverySaturday)
                @Html.HiddenFor(model => model.DryGoodsDeliveryMonday)
                @Html.HiddenFor(model => model.DryGoodsDeliveryTuesday)
                @Html.HiddenFor(model => model.DryGoodsDeliveryWednesday)
                @Html.HiddenFor(model => model.DryGoodsDeliveryThursday)
                @Html.HiddenFor(model => model.DryGoodsDeliveryFriday)
                @Html.HiddenFor(model => model.DryGoodsDeliverySaturday)
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Edit Company</h2>
                    </div>
                    <div class="col-sm-6">
                        <br />
                        <div class="pull-right">
                            <div class="btn btn-primary" data-toggle="modal" data-target="#Modal" onclick="ShowAssociateCompany()">Associate Customer</div>
                            @if (Model.AssociatedCompanies != null && Model.AssociatedCompanies.Count > 0)
                            {
                                <div class="btn-group btn-group-sm">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Associated Customers">
                                        Asc. Customers <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        @foreach (var company in Model.AssociatedCompanies)
                                        {
                                            <li><a href="#" onclick="EditCompany('@company.ID')">@company.Name</a></li>
                                        }
                                    </ul>
                                </div>
                            }
                            @if (Model.IsTransferred)
                            {
                                if (Model.TransferEmailSent)
                                {
                                    <a class="btn btn-sm btn-default" onclick="SendTransferEmail()">Send Customer Login Email</a>
                                }
                                else
                                {
                                    <a class="btn btn-sm btn-warning" onclick="SendTransferEmail()">Send Customer Login Email</a>
                                }
                            }
                            <input type="submit" value="Save Details" class="btn btn-sm btn-inverse">
                            <a class="btn btn-sm btn-default" onclick="HideViews();return false;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
                            @if (ViewBag.Saved != null)
                            {
                                <br/>
                                <label id="l_Saved"><strong>Details Saved!</strong></label>
                                <script>
                                    Refresh();
                                    setTimeout(function() { $("#l_Saved").css("display", "none"); }, 2000);
                                </script>

                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12"><br /></div>

                    <div class="col-sm-4">
                        <label>Name:</label>
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @style = "margin-bottom:10px;" })
                        @if (Model.HasMultiSites)
                        {
                            <div style="max-width: 280px;">
                                <label class="pull-right"><i>Has multiple sites across UK</i></label>
                            </div>
                        }
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "margin-bottom:10px;" })
                    </div>
                    <div class="col-sm-2">
                        <label>Sign up date:</label> <br />
                        <div style="margin-top:5px">@Model.SignupDate.ToString("dd/MM/yyyy")</div>
                    </div>
                    <div class="col-sm-3">
                        @(Html.Kendo().CheckBoxFor(model => model.HasMilkSupplier)
                                              .Name("HasMilkSupplier")
                                              .Label("Has Milk Supplier")
                                              .Enable(false)
                        )
                        @(Html.Kendo().CheckBoxFor(model => model.HasFruitSupplier)
                                              .Name("HasFruitSupplier")
                                              .Label("Has Fruit Supplier")
                                              .Enable(false)
                            )
                        
                        @(Html.Kendo()
                              .CheckBoxFor(model => model.NoDeliveryCharge)
                              .Label("Omit Delivery Charge")
                        )
                            
                    </div>
                    <div class="col-sm-3">
                        @(Html.Kendo().CheckBoxFor(model => model.LiveOnMilk)
                                              .Name("MilkLive")
                                              .Label("Live On Milk")
                                              .Enable(false)
                        )
                        @(Html.Kendo().CheckBoxFor(model => model.LiveOnFruit)
                                              .Name("FruitLive")
                                              .Label("Live On Fruits")
                                              .Enable(false)
                        )
                        @(Html.Kendo().CheckBoxFor(model => model.LiveOnDryGoods)
                                              .Name("DryGoodsLive")
                                              .Label("Live On Dry Goods")
                                              .Enable(false)
                        )
                    </div>
                    <div class="col-sm-12">
                        <br />
                    </div>

                    <div class="col-sm-8">
                        <label>Email:</label>
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @style = "margin-bottom: 10px; max-width:100%;" })
                    </div>
                    <div class="col-sm-4">
                        <label>Contact Name:</label>
                        @Html.TextBoxFor(model => model.CompanyRegistration, new { @class = "form-control", @style = "margin-bottom: 10px;" })
                    </div>

                    <div class="col-sm-8">
                        <label title="This email is only for email to all customers, not for any supplier specific customers messages">
                            Secondary email (all customer email):<i class="fa fa-question-circle"/>
                        </label>
                        @Html.TextBoxFor(model => model.SecondaryEmail, new { @class = "form-control", @style = "margin-bottom: 10px; max-width:100%;" })
                    </div>
                    <div class="col-sm-4">
                        <label>Telephone:</label>
                        @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control", @style = "margin-bottom: 10px;" })
                    </div>

                    <div class="col-sm-12">
                        <br />
                    </div>

                    <div class="col-sm-8">
                        <label>Delivery Address:</label>
                        @if (Model.IsMultiTenantedBuilding)
                        {
                            <text>
                                <label class="pull-right"><i>It's a multiple tenanted building</i></label>
                            </text>
                        }
                        @Html.TextBoxFor(model => model.Address1, new { @class = "form-control", @style = "margin-bottom: 10px; max-width:none;" })
                    </div>
                    <div class="col-sm-4">
                        <label>Delivery Postcode:</label>
                        @Html.TextBoxFor(model => model.Postcode, new { @class = "form-control", @style = "margin-bottom: 10px;" })
                    </div>

                    <div class="col-sm-12">
                        <br />
                    </div>

                    <div class="col-sm-12">
                        <label>Delivery Instruction:</label>
                        @Html.TextBoxFor(model => model.DeliveryInstruction, new { @class = "form-control", @style = "margin-bottom: 10px; max-width:none;" })
                    </div>
                    
                    <div class="col-sm-4">
                        <label>What 3 Words (for DPD):</label>
                        @Html.TextBoxFor(model => model.InternalDeliveryInstruction, new { @class = "form-control", @style = "margin-bottom: 10px; max-width:none;" })
                    </div>
                    
                    <div class="col-sm-4">
                        <label>Fruit Amendments (for DPD):</label>
                        @Html.TextBoxFor(model => model.DpdFruitAmendments, new { @class = "form-control", @style = "margin-bottom: 10px; max-width:none;" })
                    </div>
                    
                    <div class="col-sm-12">
                        <br />
                    </div>
                    
                    <div class="col-sm-8">
                        <label>Billing Company Name:</label>
                        @Html.TextBoxFor(model => model.BillingCompanyName, new { @class = "form-control", @style = "margin-bottom: 10px; max-width:none;" })
                    </div>

                    <div class="col-sm-4">
                        <label>Billing Email:</label>
                        @Html.TextBoxFor(model => model.BillingEmail, new { @class = "form-control", @style = "margin-bottom: 10px; max-width:none;" })
                    </div>
                
                    <div class="col-sm-8">
                        <label>Billing Address:</label>
                        @Html.TextBoxFor(model => model.BillingAddress, new { @class = "form-control", @style = "margin-bottom: 10px; max-width:none;" })
                    </div>
                    <div class="col-sm-4">
                        <label>Billing Postcode:</label>
                        @Html.TextBoxFor(model => model.BillingPostcode, new { @class = "form-control", @style = "margin-bottom: 10px;" })
                    </div>

                    <div class="col-sm-12">
                        <hr />
                    </div>

                    <div class="col-sm-4">
                        <label>OG Master Account:</label>
                        @Html.TextBoxFor(model => model.AccountNo, new { @class = "form-control", @style = "margin-bottom: 10px;", @readonly = "readonly" })
                    </div>

                    <div class="col-sm-4">
                        <label>Depot:</label>
                        @Html.TextBoxFor(model => model.Depot, new { @class = "form-control", @style = "margin-bottom: 10px;" })
                    </div>
                    
                    <div class="col-sm-4">
                        <label>Proforma Approver:</label>
                        @(Html.Kendo().DropDownListFor(model => model.ProformaApproverID)
                            .DataTextField("Name")
                            .DataValueField("ID")
                            .OptionLabel("None")
                            .DataSource(dataSource => dataSource.Read(read => read.Action("DropDown", "ProformaApproverGrid")))
                            .AutoBind(true)
                            .HtmlAttributes(new { @style = "width: 100%; max-width: 280px;" })
                        )
                    </div>

                    <div class="col-sm-12">
                        <label>Notes:</label>
                        @Html.TextAreaFor(model => model.Round, new { @class = "form-control", @style = "margin-bottom: 10px; max-width: none; resize: vertical;", @rows = "6" })
                    </div>

                    <div class="col-sm-12">
                        <br />
                    </div>

                    <div class="col-sm-4">
                        @if (Model.HasFruitSupplier)
                        {
                            <label>Permanent Fruit Order PO No:</label>
                            @Html.TextBoxFor(model => model.PermanentFruiPONo, new { @class = "form-control", @style = "margin-bottom: 10px;" })
                        }
                        else
                        {
                            @Html.HiddenFor(model => model.PermanentFruiPONo)
                            <br />
                        }
                    </div>
                    <div class="col-sm-4">
                        @if (Model.HasMilkSupplier)
                        {
                            <label>Permanent Milk Order PO No:</label>
                            @Html.TextBoxFor(model => model.PermanentMilkPONo, new { @class = "form-control", @style = "margin-bottom: 10px;" })
                        }
                        else
                        {
                            @Html.HiddenFor(model => model.PermanentMilkPONo)
                            <br />
                        }
                    </div>
                    <div class="col-sm-4">
                        @if (Model.LiveOnDryGoods)
                        {
                            <label>Permanent Dry Goods PO No:</label>
                            @Html.TextBoxFor(model => model.PermanentDryGoodsPONo, new { @class = "form-control", @style = "margin-bottom: 10px;" })
                        }
                        else
                        {
                            @Html.HiddenFor(model => model.PermanentDryGoodsPONo)
                            <br />
                        }
                    </div>

                    <div class="col-sm-12">
                        <br />
                    </div>

                    <div class="col-sm-12">
                        <table class="table" style="width:100%;">
                            <thead>
                                <tr class="warning">
                                    <th style="text-align:center;" colspan="8">Delivery Days</th>
                                </tr>
                                <tr class="danger">
                                    <th></th>
                                    <th style="text-align:center;">Monday</th>
                                    <th style="text-align:center;">Tuesday</th>
                                    <th style="text-align:center;">Wednesday</th>
                                    <th style="text-align:center;">Thursday</th>
                                    <th style="text-align:center;">Friday</th>
                                    <th style="text-align:center;">Saturday</th>
                                    @*<th style="text-align:center;">Sunday</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="success">
                                    <td><img src="~/Content/icons/milk-bottle.svg" style="width:25px;" />&nbsp;<strong>Milk</strong></td>
                                    <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBox().Checked(Model.MilkDeliveryMonday).Name("MM").Enable(false)</td>
                                    <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBox().Checked(Model.MilkDeliveryTuesday).Name("MT").Enable(false)</td>
                                    <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBox().Checked(Model.MilkDeliveryWednesday).Name("MW").Enable(false)</td>
                                    <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBox().Checked(Model.MilkDeliveryThursday).Name("MTH").Enable(false)</td>
                                    <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBox().Checked(Model.MilkDeliveryFriday).Name("MF").Enable(false)</td>
                                    <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBox().Checked(Model.MilkDeliverySaturday).Name("MS").Enable(false)</td>
                                    @*<td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.MilkDeliverySunday).Name("MilkDeliverySunday").Label("")</td>*@
                                </tr>
                                <tr class="info">
                                    <td><img src="~/Content/icons/grape.svg" style="width:25px;" />&nbsp;<strong>Fruits/Snacks</strong></td>
                                    <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBox().Checked(Model.FruitsDeliveryMonday).Name("FM").Enable(false)</td>
                                    <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBox().Checked(Model.FruitsDeliveryTuesday).Name("FT").Enable(false)</td>
                                    <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBox().Checked(Model.FruitsDeliveryWednesday).Name("FW").Enable(false)</td>
                                    <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBox().Checked(Model.FruitsDeliveryThursday).Name("FTH").Enable(false)</td>
                                    <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBox().Checked(Model.FruitsDeliveryFriday).Name("FF").Enable(false)</td>
                                    <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBox().Checked(Model.FruitsDeliverySaturday).Name("FS").Enable(false)</td>
                                    @*<td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.FruitsDeliverySunday).Name("FruitsDeliverySunday").Label("")</td>*@
                                </tr>
                                @foreach (var item in Model.DryGoodsSuppliers)
                                {
                                    <tr class="active">
                                        <td><img src="~/Content/icons/coffee.svg" style="width:25px;" />&nbsp;<strong>@item.SupplierDefaultAisleLabel</strong></td>
                                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBox().Checked(item.DeliveryMon).Name("DGM").Enable(false)</td>
                                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBox().Checked(item.DeliveryTue).Name("DGT").Enable(false)</td>
                                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBox().Checked(item.DeliveryWed).Name("DGW").Enable(false)</td>
                                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBox().Checked(item.DeliveryThu).Name("DGTH").Enable(false)</td>
                                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBox().Checked(item.DeliveryFri).Name("DGF").Enable(false)</td>
                                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBox().Checked(item.DeliverySat).Name("DGS").Enable(false)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div>
                            @(Html.Kendo()
                                          .CheckBoxFor(model => model.EasySuppliersActivated)
                                          .Label("Easy Suppliers Activated")
                                          .HtmlAttributes(new { @onclick = "UpdateEasyAisleStatus()" })
                            )
                            
                            <div class="btn btn-default pull-right" data-toggle="modal" data-target="#Modal" onclick="ShowPoCalculator()">PO Calculator</div>
                        </div>
                    </div>
                </div>

            }

        </div>

        <div class="col-sm-12">
            <br />
            @(Html.Kendo().TabStrip()
                    .Name("SupplierTab")
                    .Items(tabstrip =>
                    {
                        tabstrip.Add().Text("Suppliers").Content(@Html.Partial("_SupplierTab", Model).ToHtmlString()).Selected(true);
                        tabstrip.Add().Text("Tags").Content(@Html.Partial("_TagsTab", Model).ToHtmlString());
                        tabstrip.Add().Text("Fruit Orders").Content(@Html.Partial("_FruitOrderTab", Model).ToHtmlString());
                        tabstrip.Add().Text("Milk Orders").Content(@Html.Partial("_MilkOrderTab", Model).ToHtmlString());
                        tabstrip.Add().Text("Dry Goods Orders").Content(@Html.Partial("_DryGoodsOrderTab", Model).ToHtmlString());
                        tabstrip.Add().Text("Users").Content(@Html.Partial("_UserTab", Model).ToHtmlString());
                        tabstrip.Add().Text("Attachments").Content(@Html.Partial("_AttachmentsTab", Model).ToHtmlString());
                        tabstrip.Add().Text("Issue Emails").Content(@Html.Partial("_IssueEmailsTab", Model).ToHtmlString());
                        tabstrip.Add().Text("Potential Milk Suppliers").Content(@Html.Partial("_PotentialMilkSuppliersTab", Model).ToHtmlString());
                        tabstrip.Add().Text("Potential Fruit Suppliers").Content(@Html.Partial("_PotentialFruitSuppliersTab", Model).ToHtmlString());
                        tabstrip.Add().Text("Available Products").LoadContentFrom("_AvailableProducts" ,"Companies", new { companyID = Model.ID });
                        //tabstrip.Add().Text("Fruit Order Histories").Content(@Html.Partial("_FruitOrderInvoiceTab", Model).ToHtmlString());
                    })
            )
        </div>
    </div>
</div>

<script>
    function OnEditCompanySuccess() {
        var url = '@Url.Action("_EditCompany", "Companies")' + '?ID=' + '@Model.ID';
        $("#Edit_Body").load(url);
    }

    function UpdateEasyAisleStatus() {
        var activate = $('#EasySuppliersActivated').is(':checked');
        if (activate == false) {
            if (confirm("Block this client from order products from easy supplier's aisle?")) {
                $.ajax({
                    url: '/Companies/_UpdateEasyAisleStatus',
                    type: 'POST',
                    data: {
                        companyID: '@Model.ID',
                        activate: activate
                    },
                    success: function(response) {
                        alert('Done');
                    }
                })
                console.log("Canceled");
            } else {
               $('#EasySuppliersActivated').prop('checked', true);
            }
        } else {
            if (confirm("Activate easy supplier's aisle for this client?")) {
                $.ajax({
                    url: '/Companies/_UpdateEasyAisleStatus',
                    type: 'POST',
                    data: {
                        companyID: '@Model.ID',
                        activate: activate
                    },
                    success: function(response) {
                        alert('Activated');
                    }
                })
                console.log("Activated");
            } else {
               $('#EasySuppliersActivated').prop('checked', false);
            }
        }
    }

    function SendTransferEmail() {
        @if (Model.TransferEmailSent)
        {
            <text>
                if (!confirm("The email has been sent to this customer before, are you sure you want to send it again?")) return false;
            </text>
        }

        if (!confirm("Make sure you've already programmed suppliers before sending this email?")) return false;
        $.ajax({
            url: '/Companies/_SendTransferEmail',
            type: 'POST',
            data: {
                companyID: '@Model.ID'
            },
            success: function(response) {
                alert('Email sent');
                EditCompany('@Model.ID');
            },
            error: function(response) {
                alert(response.responseJSON.errorMsg);
            }
        });
    }
    
    function ShowPoCalculator() {
            $('#Modal .modal-title').html("PO Calculator");
            $('#Modal .modal-dialog').css("width", "1000px");
            $.ajax({
                url: '/PoCalculator/_PoCalculator',
                type: 'GET',
                data: {
                    companyID: '@Model.ID'
                },
                success: function (response) {
                    $('#Modal .modal-body').html(response);
                }
            })
        }
        
    function ShowAssociateCompany() {
        $('#Modal .modal-title').html("Associate Customer");
        $('#Modal .modal-dialog').css("width", "700px");
        $.ajax({
            url: '/Companies/_AssociateCompany',
            type: 'GET',
            data: {
                companyID: '@Model.ID'
            },
            success: function (response) {
                $('#Modal .modal-body').html(response);
            }
        })
    } 
</script>