﻿@model NuIngredient.Models.CompanySupplierPageViewModel

<script>
    function OnEditCompanySupplierSuccess(response) {
        if (response.status == "Success") {
            $('#Modal').modal('hide');
            var url = '@Url.Action("_EditCompany", "Companies")' + '?ID=@Model.CompanyViewModel.ID';
            $("#Edit_Body").load(url);
            Refresh();
        } else {
            $('#Modal .modal-body').html(response);
        }
    }

</script>


<div id="divEditCompanySupplier">
    @using (Ajax.BeginForm("_EndCompanySupplier", "Companies", null, new AjaxOptions { UpdateTargetId = "divEditCompanySupplier", OnSuccess = "OnEditCompanySupplierSuccess", OnBegin = "AjaxBegin", OnComplete = "AjaxComplete" }, new { id = "EditCompanySupplierForm", method = "post" }))
    {
    <div class="row">
        <div class="col-sm-12">
                @Html.AntiForgeryToken()
                @*@Html.ValidationSummary(false, "", new { @class = "text-danger" })*@
                @Html.HiddenFor(model => model.CompanySupplier.ID)
                @Html.HiddenFor(model => model.CompanySupplier.CompanyID)
                <div class="row">   
                    <div class="col-sm-12">
                        <table style="width:100%;">
                            <tr>
                                <td style='width: 100px;'>
                                    <label>Type: </label>
                                </td>
                                <td>
                                    @(Html.Kendo().DropDownListFor(model => model.CompanySupplier.SupplierType)
                                                    .OptionLabel("Please Select the Type")
                                                    .BindTo(Enum.GetNames(typeof(NuIngredient.Models.SupplierType)).ToList())
                                                    .Value(Model.CompanySupplier.SupplierType.ToString())
                                                    .Events(events => events.Change("OnSupplierTypeChange"))
                                                    .HtmlAttributes(new { @style = "width:100%; background-color: lightgrey; cursor: not-allowed;", @readonly="readonly" })
                                    )
                                    @Html.ValidationMessageFor(model => model.CompanySupplier.SupplierType, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Supplier: </label>
                                </td>
                                <td>
                                    @(Html.Kendo().DropDownListFor(model => model.CompanySupplier.SupplierID)
                                                  .OptionLabel("Please Select the Supplier")
                                                  .DataTextField("Text")
                                                  .DataValueField("Value")
                                                  .DataSource(dataSource => dataSource.Read(read => read.Action("DropDownDifficultSuppliers", "Suppliers").Data("filterTypes")))
                                                  .HtmlAttributes(new { @style = "width:100%; background-color: lightgrey; cursor: not-allowed;", @readonly="readonly" })
                                    )
                                    @Html.ValidationMessageFor(model => model.CompanySupplier.SupplierID, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Account No: </label>
                                </td>
                                <td>
                                    @(Html.Kendo().TextBoxFor(model => model.CompanySupplier.AccountNo)
                                                  .HtmlAttributes(new { @style = "width:100%; background-color: lightgrey; cursor: not-allowed;", @readonly="readonly" })
                                    )
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Start Date: </label>
                                </td>
                                <td>
                                    @(Html.Kendo().DatePickerFor(model => model.CompanySupplier.StartDate)
                                                  .Events(events => events.Change("OnStartChange"))
                                                  .HtmlAttributes(new { @style = "width:100%; background-color: lightgrey; cursor: not-allowed;", @readonly="readonly" })
                                    )
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>End Date: </label>
                                </td>
                                <td>
                                    @(Html.Kendo().DatePickerFor(model => model.CompanySupplier.EndDate)
                                                  .Events(events => events.Change("OnEndChange"))
                                                  .HtmlAttributes(new { @style = "width:100%;" })
                                    )
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>From: </label>
                                </td>
                                <td>
                                    @(Html.Kendo().TimePickerFor(model => model.CompanySupplier.DeliveryTimeFrom)
                                                  .Min("06:00")
                                                  .Max("18:00")
                                                  .HtmlAttributes(new { @style = "width:100%; background-color: lightgrey; cursor: not-allowed;", @readonly = "readonly" })
                                    )
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>To: </label>
                                </td>
                                <td>
                                    @(Html.Kendo().TimePickerFor(model => model.CompanySupplier.DeliveryTimeTo)
                                                  .Min("06:00")
                                                  .Max("18:00")
                                                  .HtmlAttributes(new { @style = "width:100%; background-color: lightgrey; cursor: not-allowed;", @readonly = "readonly" })
                                    )
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-12">
                        <br />
                    </div>
                </div>
        </div>
        <div class="col-sm-12">
            <table class="table" style="width:100%;">
                <thead>
                    <tr class="danger">
                        <th>Delivery Days</th>
                        <th style="text-align:center;">Mon</th>
                        <th style="text-align:center;">Tue</th>
                        <th style="text-align:center;">Wed</th>
                        <th style="text-align:center;">Thu</th>
                        <th style="text-align:center;">Fri</th>
                        <th style="text-align:center;">Sat</th>
                        @*<th style="text-align:center;">Sunday</th>*@
                    </tr>
                </thead>
                <tbody>
                    <tr class="success" id="MilkSupplierDeliveryDays" @if(Model.CompanySupplier.SupplierType != NuIngredient.Models.SupplierType.Milk){<text> style="display:none;" </text>}>
                        <td><a href="/Milk/Goto?companyID=@Model.CompanyViewModel.ID" target="_blank" title="Go to milk standing order"><img src="~/Content/icons/milk-bottle.svg" style="width:25px;" /></a>&nbsp;<strong>Milk</strong></td>
                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.CompanyViewModel.MilkDeliveryMonday).Enable(false).Label("")</td>
                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.CompanyViewModel.MilkDeliveryTuesday).Enable(false).Label("")</td>
                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.CompanyViewModel.MilkDeliveryWednesday).Enable(false).Label("")</td>
                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.CompanyViewModel.MilkDeliveryThursday).Enable(false).Label("")</td>
                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.CompanyViewModel.MilkDeliveryFriday).Enable(false).Label("")</td>
                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.CompanyViewModel.MilkDeliverySaturday).Enable(false).Label("")</td>
                    </tr>
                    <tr class="info" id="FruitSupplierDeliveryDays" @if(Model.CompanySupplier.SupplierType != NuIngredient.Models.SupplierType.Fruits && Model.CompanySupplier.SupplierType != NuIngredient.Models.SupplierType.Snacks){<text> style="display:none;" </text>}>
                        <td><a href="/Fruits/Goto?companyID=@Model.CompanyViewModel.ID" target="_blank" title="Go to fruit standing order"><img src="~/Content/icons/grape.svg" style="width:25px;" /></a>&nbsp;<strong>Fruits</strong></td>
                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.CompanyViewModel.FruitsDeliveryMonday).Enable(false).Label("")</td>
                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.CompanyViewModel.FruitsDeliveryTuesday).Enable(false).Label("")</td>
                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.CompanyViewModel.FruitsDeliveryWednesday).Enable(false).Label("")</td>
                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.CompanyViewModel.FruitsDeliveryThursday).Enable(false).Label("")</td>
                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.CompanyViewModel.FruitsDeliveryFriday).Enable(false).Label("")</td>
                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.CompanyViewModel.FruitsDeliverySaturday).Enable(false).Label("")</td>
                    </tr>
                    <tr class="active" id="DryGoodsSupplierDeliveryDays" @if(Model.CompanySupplier.SupplierType != NuIngredient.Models.SupplierType.DryGoods){<text> style="display:none;" </text>}>
                        <td><a href="/Products/Goto?companyID=@Model.CompanyViewModel.ID&aisle=@Model.CompanySupplier.SupplierDefaultAisleName" target="_blank" title="Go to dry goods page"><img src="~/Content/icons/coffee.svg" style="width:25px;" /></a>&nbsp;<strong>Dry Goods</strong></td>
                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.CompanySupplier.DeliveryMon).Enable(false).Label("")</td>
                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.CompanySupplier.DeliveryTue).Enable(false).Label("")</td>
                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.CompanySupplier.DeliveryWed).Enable(false).Label("")</td>
                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.CompanySupplier.DeliveryThu).Enable(false).Label("")</td>
                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.CompanySupplier.DeliveryFri).Enable(false).Label("")</td>
                        <td align="center" style="vertical-align:middle;">@Html.Kendo().CheckBoxFor(model => model.CompanySupplier.DeliverySat).Enable(false).Label("")</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12">
            <input type="submit" value="Save" class="btn btn-inverse pull-right">
            @if (ViewBag.Saved != null)
            {
                <label id="l_Saved"><strong>Details Saved!</strong></label>
                            <script>
                                setTimeout(function () { $("#l_Saved").css("display", "none"); }, 2000);
                            </script>
            }
        </div>
    </div>
    }
</div>
<style>
    #divEditCompanySupplier td {
        padding: 5px;
    }
</style>