﻿@model NuIngredient.Models.CompanyViewModel

<br />
@(Html.Kendo().Grid<NuIngredient.Models.IssueEmailGridViewModel>()
        .Name("GridIssueEmails")
        .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Histories").Empty("No Histories")))
        .Columns(columns =>
        {
            columns.Bound(m => m.ID).Hidden();
            columns.Bound(m => m.CompanyID).Hidden();
            columns.Bound(m => m.SupplierName).Title("Supplier");
            columns.Bound(m => m.Subject);
            columns.Bound(m => m.Message).ClientTemplate("<p style='white-space:pre-line;'>#=Message#</p>");
            columns.Bound(m => m.UserName).Title("User");
            columns.Bound(m => m.CreatedDate).Title("Date").Format("{0:dd/MM/yy HH:mm}");
        })
        .DataSource(dataSource => dataSource
        .Ajax()
        .Model(model =>
        {
            model.Id(m => m.ID);
        })
        .Read(read => read.Action("Read", "IssueEmailGrid").Data("function (){ return {companyID: '" + Model.ID + "'}}"))
        )
        .Pageable(p => p.PageSizes(new[] { 10, 20, 50 }).Messages(m => m.Display("{0} - {1} of {2} Emails").Empty("No Emails Found")))
        .Events(events => events.DataBound("KendoGridDatabound"))
)

<br />
