﻿@model NuIngredient.Models.CompanyViewModel

<br />
@(Html.Kendo().Grid<NuIngredient.Models.MilkOrderHeaderViewModel>()
    .Name("GridMilkOrdereHeader")
    .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Histories").Empty("No Histories")))
    .Columns(columns =>
    {
        columns.Bound(m => m.ID).Hidden();
        columns.Bound(m => m.CompanyID).Hidden();
        columns.Bound(m => m.OrderMode).ClientTemplate("#if(OrderMode == 1){#<span class='label color-accepted'>Regular</span>#} else if (OrderMode == 3){#<span class='label color-delivered'>OneOff</span>#} else if (OrderMode == 0){#<span class='label color-invoiced'>Draft</span>#} else if (OrderMode == 4){#<span class='label color-history'>History</span>#}#").Width("1%");
        //columns.Bound(m => m.OrderNumber).ClientTemplate("<a target='_blank' href='/OrderManagement/MilkOrderDetails/#=ID#'>#=OrderNumber#</a>");
        //columns.Bound(m => m.CompanyName).Title("Customer");
        columns.Bound(m => m.FromDate).Title("Date From").ClientTemplate("#if(FromDate){#<span class='label label-info'>#=kendo.toString(FromDate, 'dd/MM/yyyy')#</span>#}#").Width("1%");
        columns.Bound(m => m.ToDate).Title("Date To").ClientTemplate("#if(ToDate){#<span class='label label-info'>#=kendo.toString(ToDate, 'dd/MM/yyyy')#</span>#}#").Width("1%");
        //columns.Bound(m => m.TotalNet).Title("Net").ClientTemplate("#=kendo.toString(TotalNet, 'C')#").Width("1%");
        //columns.Bound(m => m.TotalVAT).Title("VAT").ClientTemplate("#=kendo.toString(TotalVAT, 'C')#").Width("1%");
        columns.Bound(m => m.TotalGross).Title("Gross").ClientTemplate("#=kendo.toString(TotalGross, 'C')#").Width("1%");
        columns.Bound(m => m.Note).EditorTemplateName("TextAreaTemplate").HtmlAttributes(new {style="white-space: pre-line;"});
        columns.Command(commands =>
        {
            commands.Edit()
                .Text("<span class='glyphicon glyphicon-edit glyphicon-btn'></span>")
                .UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn'></span>")
                .CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn'></span>");
        }).Width("45px");
        columns.Template(@<text></text>).ClientTemplate("<a target='_blank' href='/OrderManagement/MilkOrders/#=ID#' title='Details'><span class='glyphicon glyphicon-list glyphicon-btn'/></a>").Width("1%");
    })
    .Editable(editable => editable.Mode(GridEditMode.InLine))
    .DataSource(dataSource => dataSource
        .Ajax()
        .Model(model =>
        {
            model.Id(m => m.ID);
            model.Field(m => m.OrderMode).Editable(false);
            model.Field(m => m.CompanyID).Editable(false);
            model.Field(m => m.FromDate).Editable(false);
            model.Field(m => m.ToDate).Editable(false);
            model.Field(m => m.TotalGross).Editable(false);
        })
        .Read(read => read.Action("ReadAll", "MilkOrderHeadersGrid").Data("function (){ return {companyID: '" + Model.ID + "',dateType: 0, statuses: ['Regular', 'Live', 'OneOff', 'History']}}"))
        .Update(update => update.Action("Update", "MilkOrderHeadersGrid"))
    )
    .Pageable(p => p.PageSizes(new[] { 10, 20, 50 }).Messages(m => m.Display("{0} - {1} of {2} Orders").Empty("No Orders Found")))
    .Events(events => events.DataBound("KendoGridDatabound"))
)

<br />