﻿@using NuIngredient.Models
@model NuIngredient.Models.CompanyViewModel

<br />
@(Html.Kendo().Grid<SupplierViewModel>()
      .Name("GridPotentialFruitSuppliers")
      .Columns(columns =>
      {
          columns.Bound(m => m.ID).Hidden();
          columns.Bound(m => m.Name).Title("Name");
          columns.Bound(m => m.Email).Title("Email");
          columns.Bound(m => m.Telephone).Title("Telephone");
          columns.Bound(m => m.MinimumValue).HtmlAttributes(new { @class = "div-inline" }).Width("1%");
      })
      .Sortable()
      .DataSource(dataSource =>
      {
          dataSource.Ajax()
            .Model(model =>
            {
                model.Id(m => m.ID);
                model.Field(m => m.SupplierType).DefaultValue(new SelectItemViewModel());
            })
            .Read(read => read.Action("ReadPotentialFruitSuppliers", "SuppliersGrid", new { postcode = Model.Postcode }));
      })
      .Events(events => events.DataBound("KendoGridDatabound"))
)

<br />
