﻿@model NuIngredient.Models.CompanyViewModel

<br />
<a class="btn btn-info btn-xs" data-toggle="modal" data-target="#Modal" onclick="NewCompanySupplier('@Model.ID');" style="margin-bottom:5px;"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add New Supplier</a>

@(Html.Kendo().Grid<NuIngredient.Models.CompanySupplierViewModel>()
        .Name("GridSupplier")
        .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Suppliers").Empty("No Suppliers")))
        .Columns(columns =>
        {
            columns.Bound(m => m.ID).Hidden();
            columns.Bound(m => m.CompanyID).Hidden();
            columns.Bound(m => m.SupplierTypeName).Title("Type");
            columns.Bound(m => m.SupplierName).Title("Name");
            columns.Bound(m => m.AccountNo).Title("Account No");
            columns.Bound(m => m.StartDate).Title("Start Date").ClientTemplate("#if(StartDate){# #=kendo.toString(StartDate, 'dd/MM/yyyy')# #}#").Width("1%");
            columns.Bound(m => m.EndDate).Title("End Date").ClientTemplate("#if(EndDate){# #=kendo.toString(EndDate, 'dd/MM/yyyy')# #}#").Width("1%");
            columns.Template(@<text></text>).ClientTemplate("<a href='\\#' data-toggle='modal' data-target='\\#Modal' onclick='EditCompanySupplier(\"#=ID#\");'><span class='glyphicon glyphicon-edit glyphicon-btn'/></a>").Width("1%");
            columns.Template(@<text></text>).ClientTemplate("#if(EndDate){##}else{# <a href='\\#' data-toggle='modal' data-target='\\#Modal' onclick='EndCompanySupplier(\"#=ID#\");'><span class='glyphicon glyphicon-off glyphicon-btn'/></a> #}#").Width("1%");
        })
        .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this item?"))
        .Sortable()
        .DataSource(dataSource => dataSource
            .Ajax()
            .Model(model => {
                model.Id(m => m.CompanyID);
                model.Id(m => m.SupplierID);
            })
            .Read(read => read.Action("Read", "CompanySuppliersGrid", new { companyID = Model.ID }))
            .Destroy(destroy => destroy.Action("Destroy", "CompanySuppliersGrid"))
        )
        .Events(events => events.DataBound("KendoGridDatabound"))
)

<br />

<script>
    function NewCompanySupplier(id) {
        $.ajax({
            url: '/Companies/_NewCompanySupplier',
            type: 'GET',
            data: {
                companyID: id
            },
            success: function (response) {
                $('#Modal .modal-title').html("Supplier");
                $('#Modal .modal-dialog').css("width", "550px");
                $('#Modal .modal-body').html(response);
            }
        })
    }

    function EditCompanySupplier(id) {
        $.ajax({
            url: '/Companies/_EditCompanySupplier',
            type: 'GET',
            data: {
                id: id
            },
            success: function (response) {
                $('#Modal .modal-title').html("Supplier");
                $('#Modal .modal-dialog').css("width", "550px");
                $('#Modal .modal-body').html(response);
            }
        })
    }

    function EndCompanySupplier(id) {
        $.ajax({
            url: '/Companies/_EndCompanySupplier',
            type: 'GET',
            data: {
                id: id
            },
            success: function (response) {
                $('#Modal .modal-title').html("Supplier");
                $('#Modal .modal-dialog').css("width", "550px");
                $('#Modal .modal-body').html(response);
            }
        })
    }
</script>
