﻿@using NuIngredient.Models
@model NuIngredient.Models.CompanyViewModel

<br />
<a class="btn btn-info btn-xs" onclick="$('#GridTags').data('kendoGrid').addRow();" style="margin-bottom:5px;"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add Tag</a>

@(Html.Kendo().Grid<CompanyTagItemViewModel>()
        .Name("GridTags")
        .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Tags").Empty("No Tags")))
        .Columns(columns =>
        {
            columns.Bound(m => m.Tag).Title("Tag").ClientTemplate("<label class='label label-info' style='background-color: #=Tag.HexColour#'>#=Tag.Name#</label>").EditorTemplateName("TagDropDown");
            columns.Command(command =>
            {
                command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn'/>").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn'/>").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn'/>");
                command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn'/>");
            }).Width("90px");
        })
        .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this item?"))
        .Sortable()
        .DataSource(dataSource => dataSource
            .Ajax()
            .Model(model => {
                model.Id(m => m.ID);
                model.Field(m => m.CompanyID).DefaultValue(Model.ID);
                model.Field(m => m.Tag).DefaultValue(new TagGridViewModel());
            })
            .Create(create => create.Action("Create", "CompanyTagItemGrid"))
            .Read(read => read.Action("Read", "CompanyTagItemGrid", new { companyID = Model.ID }))
            .Update(update => update.Action("Update", "CompanyTagItemGrid"))
            .Destroy(destroy => destroy.Action("Destroy", "CompanyTagItemGrid"))
        )
        .Events(events => events.DataBound("KendoGridDatabound"))
        .HtmlAttributes(new { style = "max-width: 490px;" })
)

<br />