﻿@using NuIngredient.Models
@model NuIngredient.Models.CompanyViewModel

<script>
    function OnUserError(e) {
        alert(e.errors);
        e.sender.cancelChanges();
    }
</script>

<br />
<div class="btn btn-xs btn-primary" onclick="$('#GridUsers').data('kendoGrid').addRow();">Add User</div>
@(Html.Kendo().Grid<NuIngredient.Models.UserViewModel>()
    .Name("GridUsers")
    .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Users").Empty("No Users")))
    .Columns(columns =>
    {
        columns.Bound(m => m.ID).Hidden();
        columns.Bound(m => m.FirstName);
        columns.Bound(m => m.LastName);
        columns.Bound(m => m.Email);
        columns.Bound(m => m.PhoneNumber).Width("1%");
        columns.Bound(m => m.UserRole).Title("Role").ClientTemplate("#=UserRole.Name#").EditorTemplateName("UserRoleDropDown").Width("1%");
        if (Model.AssociatedCompanies != null && Model.AssociatedCompanies.Count > 0)
        {
            columns.Bound(m => m.CanSwitchCompany)
                .ClientTemplate("#if(CanSwitchCompany){# <span class='fa fa-check'></span> #}else{# <span class='fa fa-remove'></span> #}#")
                .HtmlAttributes(new {@class="div-inline"})
                .Width("1%");
            columns.Bound(m => m.Company)
                .Title("Current")
                .ClientTemplate("#=Company.Name#")
                .EditorTemplateName("AssociatedCompanyDropDown");
        }
        columns.Template(@<text></text>).ClientTemplate("<a href='javascript:void(0)' onclick='SendResetPasswordMail(\"#=ID#\")' title='Send reset password email'><span class='glyphicon glyphicon-envelope glyphicon-btn'/></a>").Width("1%");
        columns.Command(command =>
        {
            command.Edit()
                .Text("<span class=\"glyphicon glyphicon-edit glyphicon-btn\"></span>")
                .UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn'/>")
                .CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn'/>")
                .HtmlAttributes(new {Title = "Edit User"});
            command.Destroy()
                .Text("<span class=\"glyphicon glyphicon-trash glyphicon-btn\"></span>");
        }).Width("90px");
    })
    .Editable(editable => editable.Enabled(true).Mode(GridEditMode.InLine).DisplayDeleteConfirmation("Are you sure you want to delete this user?\n(this user will no longer be able to login even if he's under multi-sites account)"))
    .DataSource(dataSource => dataSource
        .Ajax()
        .Model(model =>
        {
            model.Id(m => m.ID);
            model.Field(m => m.Company).DefaultValue(new SelectItemViewModel(Model.ID, Model.Name));
            model.Field(m => m.UserRole).DefaultValue(new SelectItemViewModel("1", "Admin"));
        })
        .Create(create => create.Action("CreateUser", "Users"))
        .Update(update => update.Action("UpdateUser", "Users"))
        .Read(read => read.Action("ReadAll", "Users").Data("function (){ return { companyID: '" + Model.ID + "' }}"))
        .Destroy(destroy => destroy.Action("Destroy", "Users"))
        .Events(events => events.Error("OnUserError"))
    )
    .Pageable(p => p.PageSizes(new[] { 10, 20, 50 }).Messages(m => m.Display("{0} - {1} of {2} Users").Empty("No Users Found")))
    .Events(events => events.DataBound("KendoGridDatabound")))

<br />

<script>
    function SendResetPasswordMail(id) {
        if (!confirm("Send reset password email to this user?")) return;

        $.ajax({
            url: '/Companies/SendResetPasswordMail',
            type: 'POST',
            data: {
                id: id
            },
            beforeSend: AjaxBegin,
            complete: AjaxComplete,
            success: function () {
                alert("Email Sent");
            }
        })
    }
</script>
