﻿@{
    ViewBag.Title = "Inactive Customers";
}

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-xs-6">
            <br />
            <div class="btn-group" style="float:right; margin-right:3px;">
                @*<button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-cloud-upload"></span>&nbsp;Import <span class="caret"></span>
                </button>*@
            </div> 
            @*<a class="btn btn-danger" style="float:right; margin-right:3px;" href="/Products/Deleted/"><span class="glyphicon glyphicon-trash"></span> &nbsp;Deleted Milk</a>*@
        </div>
        <div class="col-xs-12">
            <br />
        </div>
        <div class="col-xs-6">
            @*<a class="btn btn-primary" onclick="NewMilkType(); return false;"><span class="fa fa-cube"></span>&nbsp;&nbsp;New Milk</a>*@
        </div>
        <div class="col-xs-2">
            @Html.Kendo().DropDownList().Name("DDL_Month").BindTo(new List<SelectListItem> {
                new SelectListItem { Text = "2 Years", Value = "24" },
                new SelectListItem { Text = "1.5 Years", Value = "18" },
                new SelectListItem { Text = "1 Year", Value = "12" },
                new SelectListItem { Text = "9 Months", Value = "9" },
                new SelectListItem { Text = "6 Months", Value = "6" },
            }).HtmlAttributes(new { @class = "form-control pull-right" }).Events(ev => ev.Change("Refresh"))
        </div>
        <div class="col-xs-4">
            <div class="input-group">
                @Html.TextBox("TB_ProductFilter", null, new { @class = "form-control", @style = "max-width:none;", @placeholder = "Search by Customer Name, or OG Account" })
                <span class="input-group-btn">
                    <a class="btn btn-default" onclick="Refresh(); return false;"><span class="glyphicon glyphicon-search"></span></a>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>
        <div id="divPager" class="col-xs-9">
             <div class="form-group" role="group" aria-label="...">
                <button class="btn btn-sm btn-default" onclick="Refresh();"><span class="glyphicon glyphicon-refresh" ></span>&nbsp; Refresh</button>&nbsp;
                @*<button class="btn btn-sm btn-default" onclick="Edit();"><span class="glyphicon glyphicon-edit"></span>&nbsp; Edit</button>*@
                 <div class="btn-group" style="float:right">
                     @*<button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         <span class="glyphicon glyphicon-export"></span>&nbsp; Export <span class="caret"></span>
                     </button>*@
                 </div> 
            </div>
        </div>

        <div class="col-xs-3">
            <div class="pull-right">
                <button type="button" class="btn btn-danger" aria-haspopup="true" aria-expanded="false" onclick="DeleteAll();">
                    <span class="glyphicon glyphicon-trash"></span>&nbsp;DELETE ALL
                </button>
                <button type="button" class="btn btn-inverse" aria-haspopup="true" aria-expanded="false" onclick="Export();">
                    <span class="glyphicon glyphicon-export"></span>&nbsp;Export
                </button>
            </div>
        </div>

        <div id="divEdit" class="col-sm-12" style="display:none">
            <div class="form-group" role="group" aria-label="...">
                <a class="btn btn-sm btn-default" onclick="SelectAll(); return false;"><span class="glyphicon glyphicon-check"></span>&nbsp; Select All</a>&nbsp;
                <a class="btn btn-sm btn-default" onclick="DeleteSelected(); return false;"><span class="glyphicon glyphicon-trash"></span>&nbsp; Delete Selected</a>&nbsp;
                <a class="btn btn-sm btn-default" onclick="DoneEdit(); return false;"><span class="glyphicon glyphicon-ok"></span>&nbsp; Done</a>&nbsp;
            </div>
        </div>

        <div class="col-sm-12">
            @(Html.Kendo().Grid<NuIngredient.Models.InactiveCompanyGridViewModel>()
                    .Name("GridCompanies")
                    .Pageable(p => p.PageSizes(new[] { 50, 100, 200, 1000 }).Messages(m => m.Display("{0} - {1} of {2} Customers").Empty("No Customers Found")))
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.ID).ClientTemplate("<input type='checkbox' value='#=ID#' name='chk_grid'>").Width("1%").Hidden();
                        columns.Bound(c => c.Name).Title("Name").ClientTemplate("<a href='javascript:void(0)' onclick='EditCompany(\"#=ID#\")'>#=Name#</a>").HeaderHtmlAttributes(new { @style = "vertical-align: middle" }).HtmlAttributes(new { @class = "cell-name" }).Width(200);
                        columns.Bound(c => c.AccountNo).Title("OG Account").ClientTemplate("<a href='javascript:void(0)' onclick='EditCompany(\"#=ID#\")'>#=AccountNo#</a>").HeaderHtmlAttributes(new { @style = "vertical-align: middle" }).HtmlAttributes(new { @class = "cell-account" }).Width(100);
                        columns.Bound(c => c.SignupDate).Format("{0:dd/MM/yyyy}").Title("Signup").Width(100);
                        columns.Bound(c => c.LastOrderDate).Format("{0:dd/MM/yyyy}").Title("Last Order").Width(100);
                        columns.Template(@<text></text>).ClientTemplate("<a title='Edit' href='\\#' onclick='EditCompany(\"#=ID#\"); return false;'><span class='glyphicon glyphicon-edit glyphicon-btn'/></a>").Width(40);
                        columns.Command(command =>
                        {
                            command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn'/>");
                        }).Width(40);

                    })
                .Scrollable(scrollable => scrollable.Height(500))
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(t => t.ID);
                    })
                    .Read(read => read.Action("Read", "InactiveCompaniesGrid").Data("GetSearchInfo")).PageSize(50)
                    .Update(update => update.Action("Update", "InactiveCompaniesGrid"))
                    .Destroy(destory => destory.Action("Destroy", "InactiveCompaniesGrid"))
                    .Events(events => events.RequestEnd("RequestEnd"))
                )
                .Events(events => events.DataBound("PreKendoGridDatabound"))
            )
        </div>
    </div>
</div>

<style>
    .div-inline {         
        overflow: hidden;
        white-space: nowrap;
        text-align:center;
        align-items:center;
    }
    .glyphicon-envelope {
        color: blue;
    }
</style>

<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_Edit" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 1300px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="Edit_Body"></div>
    </div>
</div>

  <!-- Modal -->
<div class="modal fade" id="Modal" role="dialog" style="z-index:2000">
    <div class="modal-dialog" style="width:400px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center;">Supplier</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

    @if (ViewBag.ID != null)
    {
        <text>
            $(document).ready(function (){
                EditCompany('@ViewBag.ID');
            });
        </text>
    }

    function PreKendoGridDatabound(e) {
        KendoGridDatabound(e);
    }

    function RequestEnd(e) {
        if (e.type == "destroy") {
            if (e.response.Success == false) {
                alert(e.response.Message);
                this.cancelChanges();
            }
        }
    }

    function Refresh() {
        var grid = $("#GridCompanies").data("kendoGrid");
        grid.dataSource.read();
    }

    function GetSearchInfo() {
        return {
            filterText: $('#TB_ProductFilter').val(),
            month: $('#DDL_Month').val(),
        }
    }

    function Edit() {
        var grid = $("#GridCompanies").data("kendoGrid");
        if (grid.dataSource.total() > 0) {
            $('#divPager').css("display", "none");
            $('#divEdit').css("display", "block");
            grid.showColumn(0);
        }
    }

    function DoneEdit() {
        var grid = $("#GridCompanies").data("kendoGrid");
        $('#divPager').css("display", "block");
        $('#divEdit').css("display", "none");
        grid.hideColumn(0);
    }

    function SelectAll() {
        if ($("input[name=chk_grid]:checkbox:checked").get().length > 0) {
            $("input[name=chk_grid]").map(function () { return this.checked = false; })
        }
        else {
            $("input[name=chk_grid]").map(function () { return this.checked = true; })
        }
    }


    $("#TB_ProductFilter").keyup(function (e) {
        //if (e.keyCode == 13) {
            Refresh();
        //}
    });

    function HideViews() {
        $("#SlideContent_Edit").animate({ width: '0%' }, { queue: false, duration: 300 });
        setTimeout(function () {
            $("#SlideContent_Edit").css("display", "none");
            $("#Button_Close_Content").css("display", "none");
        }, 300);
    }

    function EditCompany(id) {
        var url = '@Url.Action("_EditCompany", "Companies")' + '?ID=' + id;
        $("#Edit_Body").load(url);

        $("#SlideContent_Edit").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_Edit").css("display", "block");
        $("#Button_Close_Content").css("display", "block");
    }

    function Export() {
        const searchInfo = GetSearchInfo();
        
        window.location.href = "/InactiveCompaniesGrid/Export?filterText=" + searchInfo.filterText + "&month=" + searchInfo.month;
    }
    
    function DeleteAll() {
    
        if (!confirm("Are you sure you want to delete all customers?")) {
            return;
        }
    
        $.ajax({
            url: '/InactiveCompaniesGrid/DeleteAll',
            type: 'POST',
            data: GetSearchInfo(),
            success: function (data) {
                alert("Customer deletion is in progress. Please allow up to 10 minutes and refresh the page to view the updated results.");
            },
            error: function (data) {
                console.log(data);
                alert(data.responseJSON.errorMsg);
            }
        });
    }

</script>


<style>
    .select-container {
        position: relative;
    }

    .select-trigger {
        color: #333;
        display: block;
        float: left;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 12px;
        padding: 5px 10px;
        text-decoration: none;
        border: 1px solid #CCC;
        margin: 20px;
        border-radius: 3px;
    }

    .select-drop {
        display: none; /* Hide it first of all */
        background: #F8F8F8;
        border: 1px solid #CCC;
        box-shadow: 0 1px 3px rgba(0,0,0,0.15);
        position: absolute;
        top: 46px;
        left: 20px;
        width: 200px;
        border-radius: 3px;
        z-index: 2000;
    }

    .select-drop a {
        color: #333;
        display: block;
        padding: 5px 10px;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 12px;
        text-decoration: none;
    }

    .select-drop a:hover {
        background: #333;
        color: #FFF;
    }

    .wrapper-content {
        width: 100%;
        max-width: none;
    }

</style>


