﻿@{
    ViewBag.Title = "Customers";
}

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-xs-6">
            <br />
            <div class="btn-group" style="float:right; margin-right:3px;">
                @*<button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-cloud-upload"></span>&nbsp;Import <span class="caret"></span>
                </button>*@
            </div> 
            @*<a class="btn btn-danger" style="float:right; margin-right:3px;" href="/Products/Deleted/"><span class="glyphicon glyphicon-trash"></span> &nbsp;Deleted Milk</a>*@
        </div>
        <div class="col-xs-12">
            <br />
        </div>
        <div class="col-xs-6">
            @*<a class="btn btn-primary" onclick="NewMilkType(); return false;"><span class="fa fa-cube"></span>&nbsp;&nbsp;New Milk</a>*@
        </div>
        <div class="col-xs-2">
            <br />
        </div>
        <div class="col-xs-4">
            <div class="input-group">
                @Html.TextBox("TB_ProductFilter", null, new { @class = "form-control", @style = "max-width:none;", @placeholder = "Search by Customer Name, or OG Account" })
                <span class="input-group-btn">
                    <a class="btn btn-default" onclick="Refresh(); return false;"><span class="glyphicon glyphicon-search"></span></a>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>
        <div id="divPager" class="col-xs-9">
             <div class="form-group" role="group" aria-label="...">
                <button class="btn btn-sm btn-default" onclick="Refresh();"><span class="glyphicon glyphicon-refresh" ></span>&nbsp; Refresh</button>&nbsp;
                @*<button class="btn btn-sm btn-default" onclick="Edit();"><span class="glyphicon glyphicon-edit"></span>&nbsp; Edit</button>*@
                 <div class="btn-group" style="float:right">
                     @*<button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         <span class="glyphicon glyphicon-export"></span>&nbsp; Export <span class="caret"></span>
                     </button>*@
                 </div> 
            </div>
        </div>

        <div class="col-xs-3">
            <div class="pull-right">
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-export"></span>&nbsp;Export <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#" onclick="Export(false);">New Customers Only</a></li>
                        <li><a href="#" onclick="Export(true);">All (Including Exported)</a></li>
                        <li><a href="#" onclick="ExportMultiTenant();">Multi Tenant Buildings</a></li>
                        <li><a href="#" onclick="ExportMultiSites();">Multi Sites Customers</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="divEdit" class="col-sm-12" style="display:none">
            <div class="form-group" role="group" aria-label="...">
                <a class="btn btn-sm btn-default" onclick="SelectAll(); return false;"><span class="glyphicon glyphicon-check"></span>&nbsp; Select All</a>&nbsp;
                <a class="btn btn-sm btn-default" onclick="DeleteSelected(); return false;"><span class="glyphicon glyphicon-trash"></span>&nbsp; Delete Selected</a>&nbsp;
                <a class="btn btn-sm btn-default" onclick="DoneEdit(); return false;"><span class="glyphicon glyphicon-ok"></span>&nbsp; Done</a>&nbsp;
            </div>
        </div>

        <div class="col-sm-12">
            @(Html.Kendo().Grid<NuIngredient.Models.CompanyGridViewModel>()
                    .Name("GridCompanies")
                    .Pageable(p => p.PageSizes(new[] { 50, 100, 200, 1000 }).Messages(m => m.Display("{0} - {1} of {2} Customers").Empty("No Customers Found")))
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.ID).ClientTemplate("<input type='checkbox' value='#=ID#' name='chk_grid'>").Width("1%").Hidden();
                        columns.Bound(c => c.Name).Title("Name").ClientTemplate("<a href='javascript:void(0)' onclick='EditCompany(\"#=ID#\")'>#=Name#</a>").HeaderHtmlAttributes(new { @style = "vertical-align: middle" }).HtmlAttributes(new { @class = "cell-name" }).Width(200);
                        columns.Bound(c => c.AccountNo).Title("OG Account").ClientTemplate("<a href='javascript:void(0)' onclick='EditCompany(\"#=ID#\")'>#=AccountNo#</a>").HeaderHtmlAttributes(new { @style = "vertical-align: middle" }).HtmlAttributes(new { @class = "cell-account" }).Width(100);
                        columns.Group(g => g.Title("Fruit Aisle").HeaderHtmlAttributes(new { @style = "text-align: center"})
                                .Columns(c =>
                                {
                                    c.Bound(x => x.LiveOnSnack).Title("Snack").ClientTemplate("").ClientTemplate("#if(LiveOnSnack){# <label class='label label-info'>Live</label> #}" +
                                                                                                                 "else if(HasSnackSupplier){# <label class='label label-warning'>Supplier Programmed</label> #}" +
                                                                                                                 "else if(AskingForSnackSupplier){# <label class='label label-danger'> #=kendo.toString(AskingForSnackSupplier, 'dd/MM/yyyy')#  &nbsp;<a href='\\#' onclick='CancelRequestingSnackSupplier(\"#=ID#\")'  title='Cancel the request'><span class='fa fa-remove'/></a></label> #}" +
                                                                                                                 "else {# <a href='\\#' onclick='AskForSnackSupplier(\"#=ID#\")'  title='Request a supplier'><span class='glyphicon glyphicon-envelope glyphicon-btn'/></a> #}#").HtmlAttributes(new { @style = "text-align:center", @class = "cell-group-fruit" }).HeaderHtmlAttributes(new { @style = "text-align: center"}).Width(115);
                                    c.Bound(x => x.LiveOnFruit).Title("Fruit").ClientTemplate("#if(LiveOnFruit){# <label class='label label-info'>Live</label> #}" +
                                                                                                "else if(HasFruitSupplier){# <label class='label label-warning'>Supplier Programmed</label> #}" +
                                                                                                "else if(AskingForFruitSupplier){# <label class='label label-danger'> #=kendo.toString(AskingForFruitSupplier, 'dd/MM/yyyy')#  &nbsp;<a href='\\#' onclick='CancelRequestingFruitSupplier(\"#=ID#\")'  title='Cancel the request'><span class='fa fa-remove'/></a></label> #}" +
                                                                                                "else {# <a href='\\#' onclick='AskForFruitSupplier(\"#=ID#\")'  title='Request a supplier'><span class='glyphicon glyphicon-envelope glyphicon-btn'/></a> #}#").HtmlAttributes(new { @style = "text-align:center", @class = "cell-group-fruit" }).HeaderHtmlAttributes(new { @style = "text-align: center"}).Width(115);
                                    c.Template(@<text></text>).ClientTemplate("<img src='/Content/icons/grape.svg' style='height:20px; cursor: pointer; margin-bottom:4px;' title='Go to fruit standing order' onclick='GoToFruitOrder(\"#=ID#\"); return false;'>").Width(40);
                                })
                        );
                        columns.Group(g => g.Title("Milk Aisle")
                                            .HeaderHtmlAttributes(new { @style = "text-align: center" })
                                            .Columns(c =>
                                            {
                                                c.Bound(x => x.LiveOnMilk).Title("Status").ClientTemplate("#if(LiveOnMilk){# <label class='label label-info'>Live</label> #}" +
                                                                                                    "else if(HasMilkSupplier){# <label class='label label-warning'>Supplier Programmed</label> #}" +
                                                                                                    "else if(AskingForMilkSupplier){# <label class='label label-danger'>#=kendo.toString(AskingForMilkSupplier, 'dd/MM/yyyy')# &nbsp;<a href='\\#' onclick='CancelRequestingMilkSupplier(\"#=ID#\")'  title='Cancel the request'><span class='fa fa-remove'/></a></label> #}" +
                                                                                                    "else {# <a href='\\#' onclick='AskForMilkSupplier(\"#=ID#\")'  title='Request a supplier'><span class='glyphicon glyphicon-envelope glyphicon-btn'/></a> #}#").HtmlAttributes(new { @style = "text-align:center", @class = "cell-group-milk" }).HeaderHtmlAttributes(new { @style = "text-align: center"}).Width(150);
                                                c.Template(@<text></text>).ClientTemplate("<img src='/Content/icons/milk-bottle.svg' style='height:20px; cursor: pointer; margin-bottom:4px;' title='Go to milk standing order' onclick='GoToMilkOrder(\"#=ID#\"); return false;'>").Width(40);
                                            })
                        );
                        columns.Group(g => g.Title("Dry Goods")
                                            .HeaderHtmlAttributes(new { @style = "text-align: center" })
                                            .Columns(c =>
                                            {
                                                c.Template(@<text></text>).ClientTemplate("#=ConvertDryGoodsStatus(DryGoodsStatuses, EasySuppliersActivated)#").Width(450);
                                                c.Template(@<text></text>).ClientTemplate("#=GoToDryGoodsTemplate(ID)#").Width(40);//.ClientTemplate("<img src='/Content/icons/coffee.svg' style='height:20px; cursor: pointer; margin-bottom:4px;' title='Go to dry goods page' onclick='GoToDryGoods(\"#=ID#\"); return false;'>").Width("1%");
                                            })
                        );
                        columns.Template(@<text></text>).ClientTemplate("<a title='Edit' href='\\#' onclick='EditCompany(\"#=ID#\"); return false;'><span class='glyphicon glyphicon-edit glyphicon-btn'/></a>").Width(40);
                        columns.Command(command =>
                        {
                            command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn'/>");
                        }).Width(40);

                    })
                .Scrollable(scrollable => scrollable.Height(500))
                .Sortable()
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(t => t.ID);
                    })
                    .Read(read => read.Action("Read", "CompaniesGrid").Data("GetSearchInfo")).PageSize(50)
                    .Update(update => update.Action("Update", "CompaniesGrid"))
                    .Destroy(destory => destory.Action("Destroy", "CompaniesGrid"))
                    .Events(events => events.RequestEnd("RequestEnd"))
                )
                .Events(events => events.DataBound("PreKendoGridDatabound"))
            )
            </div>
        </div>
    </div>
</div>

<style>
    .div-inline {         
        overflow: hidden;
        white-space: nowrap;
        text-align:center;
        align-items:center;
    }
    .glyphicon-envelope {
        color: blue;
    }
</style>

<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_Edit" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 1300px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="Edit_Body"></div>
    </div>
</div>

  <!-- Modal -->
<div class="modal fade" id="Modal" role="dialog" style="z-index:2000">
    <div class="modal-dialog" style="width:400px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center;">Supplier</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

    @if (ViewBag.ID != null)
    {
        <text>
            $(document).ready(function (){
                EditCompany('@ViewBag.ID');
            });
        </text>
    }

    function PreKendoGridDatabound(e) {
        // Highlight cell
        var grid = e.sender;
        var gridData = grid.dataSource.view();
        for (var i = 0; i < gridData.length; i++) {
            //get the item uid
            var currentUid = gridData[i].uid;
            var row = grid.table.find("tr[data-uid='" + currentUid + "']");
            //if the record fits the custom condition
            console.log(row);

            var cellName = grid.table.find("tr[data-uid='" + currentUid + "'] > td.cell-name");
            var cellAccount = grid.table.find("tr[data-uid='" + currentUid + "'] > td.cell-account");

            if (!gridData[i].HasFruitSupplier || gridData[i].AskingForFruitSupplier != null) {
                var cellGroup = grid.table.find("tr[data-uid='" + currentUid + "'] > td.cell-group-fruit");
                $(cellGroup).css('color', 'blue');
                $(cellName).css('color', 'blue');
                $(cellAccount).css('color', 'blue');
            }

            if (!gridData[i].HasMilkSupplier || gridData[i].AskingForMilkSupplier != null) {
                var cellGroup = grid.table.find("tr[data-uid='" + currentUid + "'] > td.cell-group-milk");
                $(cellGroup).css('color', 'blue');
                $(cellName).css('color', 'blue');
                $(cellAccount).css('color', 'blue');
            }

            if (!gridData[i].LiveOnDryGoods || gridData[i].AskingForDryGoodsSupplier != null) {
                var cellGroup = grid.table.find("tr[data-uid='" + currentUid + "'] > td.cell-group-drygoods");
                $(cellGroup).css('color', 'blue');
                $(cellName).css('color', 'blue');
                $(cellAccount).css('color', 'blue');
            }

        }

        FunctionSetUp();


        KendoGridDatabound(e);
    }

    function RequestEnd(e) {
        if (e.type == "destroy") {
            if (e.response.Success == false) {
                alert(e.response.Message);
                this.cancelChanges();
            }
        }
    }

    function FunctionSetUp() {
        $('.select-trigger').click(function (event) {

            event.stopPropagation();

            $(this).siblings('.select-drop').toggle();

        });

        $(document).click(function () {

            $('.select-drop').hide();

        });
    }

    function Refresh() {
        var grid = $("#GridCompanies").data("kendoGrid");
        grid.dataSource.read();
    }

    function GetSearchInfo() {
        return {
            filterText: $('#TB_ProductFilter').val(),
            del: false
        }
    }

    function Edit() {
        var grid = $("#GridCompanies").data("kendoGrid");
        if (grid.dataSource.total() > 0) {
            $('#divPager').css("display", "none");
            $('#divEdit').css("display", "block");
            grid.showColumn(0);
        }
    }

    function DoneEdit() {
        var grid = $("#GridCompanies").data("kendoGrid");
        $('#divPager').css("display", "block");
        $('#divEdit').css("display", "none");
        grid.hideColumn(0);
    }

    function SelectAll() {
        if ($("input[name=chk_grid]:checkbox:checked").get().length > 0) {
            $("input[name=chk_grid]").map(function () { return this.checked = false; })
        }
        else {
            $("input[name=chk_grid]").map(function () { return this.checked = true; })
        }
    }


    $("#TB_ProductFilter").keyup(function (e) {
        //if (e.keyCode == 13) {
            Refresh();
        //}
    });

    function DeleteSelected() {
        if (confirm("Are you sure you want to delete these Products?")) {

            var ids = $("input[name=chk_grid]:checkbox:checked").map(function () { return this.value; }).get().join();

            $.ajax({
                url: '@Url.Action("_DeleteProducts", "ProductGrid")',
                type: 'POST',
                data: { "IDs": ids },
                dataType: "json",
                success: function (data) { Refresh(); }
            });
        }
    }

    function HideViews() {
        $("#SlideContent_Edit").animate({ width: '0%' }, { queue: false, duration: 300 });
        setTimeout(function () {
            $("#SlideContent_Edit").css("display", "none");
            $("#Button_Close_Content").css("display", "none");
        }, 300);
    }

    function EditCompany(id) {
        var url = '@Url.Action("_EditCompany", "Companies")' + '?ID=' + id;
        $("#Edit_Body").load(url);

        $("#SlideContent_Edit").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_Edit").css("display", "block");
        $("#Button_Close_Content").css("display", "block");
    }

    function GoToFruitOrder(companyID) {
        location.href = '/Fruits/Goto?companyID=' + companyID;
    }

    function GoToMilkOrder(companyID) {
        location.href = '/Milk/Goto?companyID=' + companyID;
    }

    function GoToDryGoods(companyID) {
        location.href = '/Products/Goto?companyID=' + companyID + "&aisle=Dry Goods";
    }

    function AskForDryGoodsSupplier(companyID, supplierID) {
        if (!confirm("Request a dry goods supplier?")) return false;
        $.ajax({
            url: '/Companies/AskForDryGoodsSupplier',
            type: 'POST',
            data: {
                id: companyID,
                supplierID: supplierID
            },
            success: function (response) {
                alert('Account requested');
                Refresh();
            },
            beforeSend: AjaxBegin,
            complete: AjaxComplete
        })
    }

    function AskForFruitSupplier(companyID) {
        if (!confirm("Request a fruit supplier?")) return false;
        $.ajax({
            url: '/Companies/AskForFruitSupplier',
            type: 'POST',
            data: {
                id: companyID
            },
            success: function (response) {
                if (response.Success) {
                    alert('Account requested');
                    Refresh();
                } else {
                    alert('Please set up the initial order first');
                }
            },
            beforeSend: AjaxBegin,
            complete: AjaxComplete
        })
    }
    
    function AskForSnackSupplier(companyID) {
        if (!confirm("Request a snack supplier?")) return false;
        $.ajax({
            url: '/Companies/AskForSnackSupplier',
            type: 'POST',
            data: {
                id: companyID
            },
            success: function (response) {
                if (response.Success) {
                    alert('Account requested');
                    Refresh();
                } else {
                    alert('Please set up the initial order first');
                }
            },
            beforeSend: AjaxBegin,
            complete: AjaxComplete
        })
    }

    function AskForMilkSupplier(companyID) {
        if (!confirm("Request a milk supplier?")) return false;
        $.ajax({
            url: '/Companies/AskForMilkSupplier',
            type: 'POST',
            data: {
                id: companyID
            },
            success: function (response) {
                if (response.Success) {
                    alert('Account requested');
                    Refresh();
                } else {
                    alert('Please set up the initial order first');
                }
            },
            beforeSend: AjaxBegin,
            complete: AjaxComplete
        })
    }

    function CancelRequestingMilkSupplier(companyID) {
        if (!confirm("Cancel the request of the milk supplier?")) return false;
        $.ajax({
            url: '/Companies/CancelRequestingMilkSupplier',
            type: 'POST',
            data: {
                id: companyID
            },
            success: function (response) {
                if (response.Success) {
                    Refresh();
                }
            },
            beforeSend: AjaxBegin,
            complete: AjaxComplete
        })
    }

    function CancelRequestingFruitSupplier(companyID) {
        if (!confirm("Cancel the request of the fruit supplier?")) return false;
        $.ajax({
            url: '/Companies/CancelRequestingFruitSupplier',
            type: 'POST',
            data: {
                id: companyID
            },
            success: function (response) {
                if (response.Success) {
                    Refresh();
                }
            },
            beforeSend: AjaxBegin,
            complete: AjaxComplete
        })
    }
    
    function CancelRequestingSnackSupplier(companyID) {
        if (!confirm("Cancel the request of the snack supplier?")) return false;
        $.ajax({
            url: '/Companies/CancelRequestingSnackSupplier',
            type: 'POST',
            data: {
                id: companyID
            },
            success: function (response) {
                if (response.Success) {
                    Refresh();
                }
            },
            beforeSend: AjaxBegin,
            complete: AjaxComplete
        })
    }

    function CancelRequestingDryGoodsSupplier(companyID, supplierID) {
        if (!confirm("Cancel the request of the dry goods supplier?")) return false;
        $.ajax({
            url: '/Companies/CancelRequestingDryGoodsSupplier',
            type: 'POST',
            data: {
                id: companyID,
                supplierID: supplierID
            },
            success: function (response) {
                if (response.Success) {
                    Refresh();
                }
            },
            beforeSend: AjaxBegin,
            complete: AjaxComplete
        })
    }

    function ConvertDryGoodsStatus(DryGoodsStatuses, easySuppliersActivated) {
        var template = "";
        template += "<table class='table'>";
        for (var i = 0; i < DryGoodsStatuses.length; i++) {
            var status = DryGoodsStatuses[i];

            template += "<tr>";
            template += "<td style='width:60%'><label class='label label-default'>" + status.SupplierName + "</label></td>";
            if (status.Live == true) {
                template += "<td><label class='label label-info'>Live</label></td>"
            } else if (status.RequestTime != null) {
                template += "<td><label class='label label-danger'> " + ToJavasciptDate(status.RequestTime) + "  &nbsp;<a href='#' onclick='CancelRequestingDryGoodsSupplier(\"" + status.CompanyID + "\", \"" + status.SupplierID + "\")'  title='Cancel the request'><span class='fa fa-remove'/></a></label></td>"
            } else {
                template += "<td><a href='#' onclick='AskForDryGoodsSupplier(\"" + status.CompanyID + "\", \"" + status.SupplierID + "\")'  title='Request a supplier'><span class='glyphicon glyphicon-envelope glyphicon-btn'/></a></td>"
            }
            template += "</tr>";
        }

        template += "<tr>";
        template += "<td><label class='label label-default'>Easy Suppliers</label></td>";

        if (easySuppliersActivated) {
            template += "<td><label class='label label-info'>Live</label></td>"
        } else {
            template += "<td><label class='label label-danger'>Requested</label></td>"
        }

        template += "</tr>";

        template += "</table>";
        return template;
    }

    function ToJavasciptDate(cSharpDate) {
        var jsDate = new Date(parseInt(cSharpDate.replace(/[^0-9 +]/g, '')));
        return Padding(jsDate.getDate(), 2) + "/" + Padding((jsDate.getMonth() + 1), 2) + "/" + Padding(jsDate.getFullYear(), 4);
    }

    function Padding(str, len, filler = '0') {
        str = str.toString();
        for (var i = str.length; i < len; i++) {
            str = filler + str;
        }
        return str;
    }

    //function GoToDryGoodsTemplate(id) {
    //    var template = "";
    //    template += "<img src='/Content/icons/coffee.svg' style='height:20px; cursor: pointer; margin-bottom:4px;' title='Go to dry goods page' onclick='GoToDryGoods(\"" + id + "\"); return false;'>"
    //    for (var i = 0; i < 10; i++) {

    //    }

    //    return template;
    //}

    function GoToDryGoodsTemplate(id) {
        var template = "";
        template += "<div class='select-container'>";
        template += "<img class='select-trigger' src='/Content/icons/coffee.svg' style='border:none; height:20px; cursor: pointer; margin:0; padding:5px;' title='Go to dry goods page'>";
        template += "<div class='select-drop'>";

        @foreach (var aisle in (ViewBag.Aisles as List<NuIngredient.Models.AisleViewModel>).Where(a => a.Name != "Milk" && a.Name != "Fruit").OrderByDescending(a => a.IsMain))
        {
            <text>
                template += "<a href='/Products/Goto?companyID=" + id + "&aisle=@aisle.Name'>@aisle.Label</a>";
            </text>
        }
        template += "</div>";
        template += "</div>";

        return template;
    }

    function Export(includeExported) {
        if (!confirm("Please note this action will mark all the companies in the file as exported.")) return;
        window.location.href = "/CompaniesGrid/Export?all=" + includeExported;
    }

    function ExportMultiTenant() {
        window.location.href = "/CompaniesGrid/ExportMultiTenant";
    }
    
    function ExportMultiSites() {
        window.location.href = "/CompaniesGrid/ExportMultiSites";
    }
</script>


<style>
    .select-container {
        position: relative;
    }

    .select-trigger {
        color: #333;
        display: block;
        float: left;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 12px;
        padding: 5px 10px;
        text-decoration: none;
        border: 1px solid #CCC;
        margin: 20px;
        border-radius: 3px;
    }

    .select-drop {
        display: none; /* Hide it first of all */
        background: #F8F8F8;
        border: 1px solid #CCC;
        box-shadow: 0 1px 3px rgba(0,0,0,0.15);
        position: absolute;
        top: 46px;
        left: 20px;
        width: 200px;
        border-radius: 3px;
        z-index: 2000;
    }

    .select-drop a {
        color: #333;
        display: block;
        padding: 5px 10px;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 12px;
        text-decoration: none;
    }

    .select-drop a:hover {
        background: #333;
        color: #FFF;
    }

    .wrapper-content {
        width: 100%;
        max-width: none;
    }

</style>


