﻿@model NuIngredient.Models.ProspectViewModel
@{
    ViewBag.Title = "Contact Details";
}

<div id="divProspectDetail">
    @using (Ajax.BeginForm("_SendQuote", "Prospects", new AjaxOptions {  OnSuccess = "OnSendQuoteSuccess", OnBegin = "AjaxBegin", OnComplete = "AjaxComplete" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ID)

        <h4>Contact Details</h4>
        <div class="form-group">
            @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control form-control-lg rounded-0 bg-light border-0", @placeholder="Business Name" })
            @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control form-control-lg rounded-0 bg-light border-0", @placeholder="First Name" })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control form-control-lg rounded-0 bg-light border-0", @placeholder="Last Name" })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-lg rounded-0 bg-light border-0", @placeholder="Email" })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control form-control-lg rounded-0 bg-light border-0", @placeholder="Telephone Number" })
            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.Postcode, new { @class = "form-control form-control-lg rounded-0 bg-light border-0", @placeholder="Delivery Postcode" })
            @Html.ValidationMessageFor(model => model.Postcode, "", new { @class = "text-danger" })
        </div>
        <input type="submit" class="btn btn-success btn-block" value="Send Me the Quote" />
        <button type="button" class="btn btn-info btn-block rounded-0" data-dismiss="modal">Close</button>
    }
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $.validator.unobtrusive.parse("#divProspectDetail > form");
    });

    function OnSendQuoteSuccess(response) {
        if (response.success) {
            if (response.message != null) {
                alert(response.message);
            }
            $('#Modal_Prospect').modal('toggle');
            $('#Modal-quotecart').modal('toggle');
        }
    }
</script>