﻿@{
    ViewBag.Title = "UnSubscribe | Office Groceries";
}

<div class="container" style="height:50vh;">
    <div class="row">
        <div class="centered">
            <p style="font-size: 20px; white-space: pre-line; text-align: center;">
                You have successfully opted out of Office Groceries.
            </p>
            <img src="/img/og-logo.svg" alt="og-logo" width="140" height="50" style="margin-left: auto; margin-right: auto; display: block;"/>
        </div>
    </div>
</div>

<style>
    .centered {
      position: fixed;
      top: 30%;
      left: 50%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);
    }
</style>