﻿
@{
    ViewBag.Title = "Upload Product Images";
}

<div class="row">

    <div class="col-sm-12">
        
    </div>
    <div class="col-sm-5">
        <div class="panel panel-primary">
            <div class="panel-body">
                
                <div class="col-sm-12">
                    <h2>Upload Product Images</h2>
                    <hr />
                    <p>Simply select and upload the images from your computer.</p>
                    <p>The products' photos will be updated with the correct uploaded images if the filename matches the product code of the product.</p>
                    <br />
                    
                    <p><strong>Example:</strong></p>
                    <p>An image with the filename "TOP-M-BLK" will update the product with product code "TOP-M-BLK".</p>

                    <p style="color:red">IMPORTANT: When matching the file extensions (.png, .jpg) are ignored. e.g. "JK002.png" becomes "JK002"</p>
                    @*<p style="color:red">IMPORTANT: The filename and product code match is case sensitive.</p>*@
                    <br />
                </div>                
                <div class="col-sm-12">
                    @(Html.Kendo().Upload()
                        .Name("images")
                        .HtmlAttributes(new { accept = "image/*" })
                        .Async(a => a.Save("UploadPhotos", "ProductImport"))
                        .ShowFileList(true)
                        .Events(events => events.Complete("OnUploadSuccess"))
                    )
                    <span style="font-size:x-small">Max 512Kbs per file</span>
                </div>

                
            </div>
        </div>
    </div>
        
</div>


<script>
//ATTACHEMENT TAB FUNCTIONS
    function OnUploadSuccess(e) {
        alert("Images have been uploaded and products have been updated.")
    }
</script>


