﻿@model NuIngredient.Models.OpayoPaymentViewModel

@{
    Layout = null;
    // var targetUrl = "https://test.sagepay.com/gateway/service/vspform-register.vsp"; // Test
    var targetUrl = "https://live.sagepay.com/gateway/service/vspform-register.vsp"; // Live
}

<div class="centered">
    <img src="/Content/kendo/2017.2.621/none/loading-image.gif" alt="Loading..." style="width:100px;" />
    <p>Redirecting...</p>
</div>

<div class="container" style="display: none;">
    <div class="receipt">
        <div class="col"><p>Amount:</p>
            <h2 class="cost">£@Model.Amount</h2><br>
            <p>Name:</p>
            <h2 class="seller">@Model.DeliveryFirstnames @Model.DeliverySurname</h2>
        </div>
        <div class="col">
            <p>Pay For:</p>
            <h3 class="bought-items">@Model.Month</h3>
        </div>
        <div class="col">
            <form action="@targetUrl" method="post">
                <input type="hidden" name="VPSProtocol" value="4.00"/>
                <input type="hidden" name="TxType" value="PAYMENT"/>
                <input type="hidden" name="Vendor" value="nuingredientlt"/>
                <input type="hidden" name="Crypt" value="@Model.CryptField"/>
                <input id="btn-paynow" class="btn btn-success" type="submit" value="Pay Now"/>
            </form>
        </div>

    </div>
</div>

<style>
    label{display:flex; font-size:10px; color:white; opacity:.4;}
    
    input{font-family: 'Work Sans', sans-serif;background:transparent; border:none; border-bottom:1px solid transparent; color:#dbdce0; transition: border-bottom .4s;}
    input:focus{border-bottom:1px solid #1abc9c; outline:none;}
    
    .receipt{background: #dbdce0; border-radius:4px; padding:5%; padding-top:250px; height: 600px; max-width:600px; display:block; margin:auto; margin-top:-180px; position:relative;}
    
    .col{width:50%; float:left;}
    .bought-item{background:#f5f5f5; padding:2px;}
    .bought-items{margin-top:-3px;}
    
    .cost{color:#3a7bd5;}
    .seller{color: #3a7bd5;}
    .description{font-size: 13px;}
    .price{font-size:12px;}
    .comprobe{text-align:center;}
    .proceed{position:absolute; transform:translate(300px, 10px); width:50px; height:50px; border-radius:50%; background:#1abc9c; border:none;color:white; transition: box-shadow .2s, transform .4s; cursor:pointer;}
    .proceed:active{outline:none; }
    .proceed:focus{outline:none;box-shadow: inset 0px 0px 5px white;}
    .sendicon{filter:invert(100%); padding-top:2px;}

    .centered {
      position: fixed;
      top: 50%;
      left: 50%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);
    }
</style>

<script>
    setTimeout(function () {
        document.getElementById("btn-paynow").click();
        }, 1000);
</script>