﻿@{
    ViewBag.Title = "Payment Success | Office Groceries";
    Layout = null;
}

<div class="centered">
    <p style="font-size: 20px; white-space: pre-line; text-align: center;">
        Hello,

        Your payment has been successfully received.

        Thank from the Office-Groceries Team.
    </p>
    <img src="/img/og-logo.svg" alt="og-logo" width="140" height="50" style="margin-left: auto; margin-right: auto; display: block;"/>
</div>

<style>
    .centered {
      position: fixed;
      top: 30%;
      left: 50%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);
    }
</style>