﻿
@{
    ViewBag.Title = "Payment Failure | Office Groceries";
}
<div class="bg-secondary text-white text-center pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Payment Failure</h1>
                <h5></h5>
            </div>
        </div>
    </div>
</div>

<div class="bg-white pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col">
                @Model.StatusDetail
            </div>
        </div>
    </div>
</div>
