﻿<h1>Import Price</h1>

@(Html.Kendo().Upload()
    .Multiple(false)
    .Name("upload")
    .Async(a => a.Save("Import", "DryGoodsPriceImport"))
    .ShowFileList(false)
    .HtmlAttributes(new { accept = ".xlsx, .xls, .csv" })
    .Events(events => events.Upload("onUpload").Error("onError").Success("onSuccess"))
)

<script>
    function onUpload(e) {
        console.log("on upload");
        console.log(e);
    }
    function onError(e) {
        let responseJson = e.XMLHttpRequest && e.XMLHttpRequest.responseText;
        let response = JSON.parse(responseJson);
        let errorMsg = response.errorMsg;
        alert(errorMsg);
    }
    function onSuccess(e) {
        console.log("on success");
        console.log(e);
    }

</script>
