﻿@model NuIngredient.Models.WeeklyAverageReport

<style>
    p {
        line-height: 1.2em;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 20px;
    }
    .logo {
        width: 300px;
    }
    
    .info > td, .info > th {
        background-color: #d8ebf8;
    }
    
    .danger > td, .danger > th {
        background-color: #fad9d6;
    }
    
    .success > td, .success > th {
        background-color: #d9f7e6;
    }
    
    .margin-auto {
        margin: auto;
    }
    
    .summary-table td, .summary-table th {
        text-align: left;
    }
    
    .text-center {
        text-align: center;
    }
    
    .text-right {
        text-align: right;
    }
    
    .signature {
        margin-top: 50px;
    }
    
    .table tr {
        background-color: #c4c9c1;
    }
    
    .table td, .table th {
        padding: 10px 5px 10px 5px;
    }
    
    .bold {
        font-weight: bold;
    }
    
    table, th, td {
      border: 1px solid white;
      border-collapse: collapse;
    }
    
    hr.grey {
        border:3px solid #898989;
    }
    
    hr.red {
        border:3px solid #f57f20;
    }
</style>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<div id="div_Body" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 12pt; padding:30px;">

    <img class="logo" src="/Content/logos/og-logo-colour.png" />

    <br/>
    
    <p>Purchase Order Quotation</p>
    
    <br/>
    <p class="bold">@Model.Company.Name</p>
    @{
        var addresses = Model.Company.Address1.Split(',');
        foreach (var addr in addresses)
        {
            <p class="bold">@addr</p>
        }
    }
    <p class="bold">@Model.Company.Postcode</p>
    
    <p class="text-right">@Model.FromDate.ToString("MMMM dd, yyyy") to @Model.ToDate.ToString("MMMM dd, yyyy") (@Model.Weeks Week Period)</p>
    @* <p class="text-right">Feb 03 to Mar 03 (@Model.Weeks Weeks Period)</p> *@
    
    <div>
        <hr class="grey"/>
        <table class="table order-table" style="width:100%;">
            <tbody>
            @if (Model.MilkWeeklyAverage.Value != 0)
            {
                <tr>
                    <th>Milk</th>
                    <th>Unit</th>
                    <th>Cost</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                    <th>Weekly Volume</th>
                    <th>Weekly Total</th>
                </tr>
                foreach (var pdt in Model.MilkWeeklyAverage.LineItems)
                {
                    <tr>
                        <td>@pdt.Name</td>
                        <td class="text-center">@pdt.Unit</td>
                        <td class="text-center">£@pdt.UnitCost.ToString("#,#.00")</td>
                        <td class="text-center">@pdt.Mon.ToString("#")</td>
                        <td class="text-center">@pdt.Tue.ToString("#")</td>
                        <td class="text-center">@pdt.Wed.ToString("#")</td>
                        <td class="text-center">@pdt.Thu.ToString("#")</td>
                        <td class="text-center">@pdt.Fri.ToString("#")</td>
                        <td class="text-center">@pdt.Sat.ToString("#")</td>
                        <td class="text-center">@pdt.WeeklyVolume</td>
                        <td class="text-center">£@pdt.Total.ToString("#,#.00")</td>
                    </tr>
                }
                <tr>
                    <td class="text-center bold" colspan="10">Total</td>
                    <td class="text-center bold">£@Model.MilkWeeklyAverage.Value.ToString("#,#.00")</td>
                </tr>
            }
            @if (Model.FruitWeeklyAverage.Value != 0)
            {
                <tr>
                    <th>Fruit</th>
                    <th>Unit</th>
                    <th>Cost</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                    <th>Weekly Volume</th>
                    <th>Weekly Total</th>
                </tr>
                foreach (var pdt in Model.FruitWeeklyAverage.LineItems)
                {
                    <tr>
                        <td>@pdt.Name</td>
                        <td class="text-center">@pdt.Unit</td>
                        <td class="text-center">£@pdt.UnitCost.ToString("#,#.00")</td>
                        <td class="text-center">@pdt.Mon.ToString("#")</td>
                        <td class="text-center">@pdt.Tue.ToString("#")</td>
                        <td class="text-center">@pdt.Wed.ToString("#")</td>
                        <td class="text-center">@pdt.Thu.ToString("#")</td>
                        <td class="text-center">@pdt.Fri.ToString("#")</td>
                        <td class="text-center">@pdt.Sat.ToString("#")</td>
                        <td class="text-center">@pdt.WeeklyVolume</td>
                        <td class="text-center">£@pdt.Total.ToString("#,#.00")</td>
                    </tr>
                }
                <tr>
                    <td class="text-center bold" colspan="10">Total</td>
                    <td class="text-center bold">£@Model.FruitWeeklyAverage.Value.ToString("#,#.00")</td>
                </tr>

            }
            <tr>
                <td colspan="11" class="text-center bold">Summary</td>
            </tr>
            <tr>
                <td colspan="10" class="bold">Total Weeks:</td>
                <td class="text-center bold">@Model.Weeks</td>
            </tr>
            <tr>
                <td colspan="10" class="bold">Weekly Average:</td>
                <td class="text-center bold">£@Model.WeeklyTotal.ToString("#,#.00")</td>
            </tr>
            <tr>
                <td colspan="10" class="bold">Total:</td>
                <td class="text-center bold">£@Model.Total.ToString("#,#.00")</td>
            </tr>
            </tbody>
        </table>
        <hr class="red"/>
    </div>
    
    <div class="signature">
        <p>The Accounts Team</p>
        <p>Office-Groceries</p>
        <p><a href="mailto:accounts@office-groceries.com">accounts@office-groceries.com</a></p>
    </div>
    
</div>