/* XL Device :1200px. */
@media (min-width: 1201px) and (max-width: 1440px) {
    .header-bottom-right ul li a {
        margin-right: 13px;
    }
    .header-bottom-icon {
        margin-left: 25px;
    }
    .header-bottom-area {
        padding: 40px 15px;
    }
}

/* XL Device :1200px. */
@media (min-width: 1201px) and (max-width: 1300px) {
    .header-bottom-right ul li a {
        margin-right: 12px;
        font-size: 15px;
    }
    .header-bottom-area {
        padding: 40px 15px;
    }
    .header-right ul li a {
        font-size: 14px;
        padding: 14px 15px;
    }

}
/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1299px) {
    .header-bottom-right ul li a {
        margin-right: 10px;
        font-size: 14px;
    }
    .header-bottom-icon {
        margin-left: 20px;
    }
    .header-right ul li a {
        font-size: 14px;
        padding: 14px 15px;
    }
    .header-bottom-area {
        padding: 40px 15px;
    }


}




/*-------------- responsive -------------*/
@media (min-width: 992px) and (max-width: 1199px) {
	
    .header-bottom-right ul li a {
        font-size: 14px;
        margin-right: 10px;
    }
    .header-bottom-icon {
        margin-left: 10px;
    }
    .header-bottom-area {
        padding: 35px 0px;
    }
    .header-bottom-logo img {
        width: 110px;
    }
    .header-right ul li a {
        font-size: 14px;
        padding: 14px 15px;
    }
    .header-left a {
        font-size: 14px;
    }
    .banner-text h3 {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 40px;
    }
    .banner-btn a {
        padding: 10px 28px;
        font-size: 32px;
        line-height: 40px;
        border: 2px solid #ef7900;
        display: inline-block;
    }
    .about-right {
        padding-left: 0px;
    }
    .about-text p {
        font-size: 16px;
        line-height: 23.6px;
    }
    .footer-btn a {
        font-size: 32px;
        line-height: 40px;
    }
    .footer-text p {
        font-size: 36px;
        line-height: 42px;
    }
    .about-Pricing-text-1 {
        border: 2px solid #EF7900;
        width: 100%;
        height: 100%;
        position: relative;
    }
    .about-Pricing-text-2 {
        width: 100%;
        height: 100%;
    }
    .about-Pricing-text-3 {
        width: 100%;
        height: 100%;
    }
    .arrow_icon {
        width: 14px;
        right: -24px;
        top: 33px;
    }
.map-wrap img {
    width: 500px;
    position: relative;
    top: -100px;
}


	
}






/* SM Small Device :1199px. */
@media only screen and (max-width: 1199px) {
    .mainmenu {
        position: fixed;
        width: 280px;
        height: 100%;
        background: #eee;
        top: 0;
        right: -100%;
        padding: 20px;
        padding-top: 70px;
        transition: .3s;
        z-index: 99;
        opacity: 0;
        visibility: hidden;

    }
    .header-bottom-right ul li {
        display: block;
        margin-bottom: 5px;
    }
    .header-bottom-right ul li a {
        font-size: 16px;
        margin-right: 0;
    }
    .menu_close{
        display: block;
    }
    .header-bottom-area {
        padding: 20px 0px;
    }
    .menu_trigger{
        display: block;
        cursor: pointer;
        margin-left: 20px;
    }
    .menu_trigger img{
        width: 22px;
    }
    .mainmenu.active {
        right: 0;
        opacity: 1;
        visibility: visible;
    }
    .header-top-area {
        padding: 0;
    }
    .about-Pricing-right p {
        font-size: 16px;
        line-height: 23.6px;
    }
 



}









/*-------------- responsive -------------*/
@media (min-width: 768px) and (max-width: 991px) {
    .header-left a {
        margin-right: 12px;
        font-size: 15px;
    }
    .header-right ul li a {
        font-size: 14px;
        padding: 12px 14px;
    }
    .header-left a::after {
        left: -8px;
    }
    .header-bottom-logo img {
        width: 100px;
    }
    .banner-btn a {
        font-size: 24px;
        line-height: 28px;
        margin-top: 0;
        display:  inline-block;
    }
    .banner-text h3 {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 40px;
    }
    .banner-area {
        padding-top: 70px;
    }
    .banner-text {
        padding-bottom: 40px;
    }
    .banner-img img {
        position: relative;
        bottom: -52px;
    }
    .about-right {
        padding-left: 0;
    }
    .about-text p {
        font-size: 15px;
        line-height: 21.6px;
    }
    .about-Pricing-right {
        padding-left: 0;
    }
    .about-Pricing-text-1 p {
        font-size: 14px;
        padding: 8px;
        line-height: 17px;
    }
    .about-Pricing-btn-2 a {
        margin-top: 18px;
        font-size: 16px;
        line-height: 22px;
    }
    .footer-text p {
        font-size: 30px;
        line-height: 36px;
    }
    .footer-btn a {
        padding: 10px 20px;
        font-size: 24px;
        line-height: 32px;
    }
    .location-list li {
        font-size: 20px;
        line-height: 28px;
    }
    .map-wrap img {
        width: 100%;
        position: relative;
        top: 0;
    }
    .location-list-wrapper {
        margin-bottom: 0;
        margin-top: 0;
    }
    .location-area {
        position: relative;
        padding: 80px 0;
    }
    .map-wrap {
        text-align: right;
        margin-top: 0;
    }
    .location-list li span {
        margin-right: 15px;
    }
  



}






/*-------------- responsive -------------*/
@media (min-width: 320px) and (max-width: 767px) {
    .header-menu {
        display: block;
        text-align: center;
    }
    .header-left a {
        font-size: 14px;
        margin: 0 10px;
    }
    .header-right ul li a {
        font-size: 14px;
        padding: 10px 7px;
        letter-spacing: 0;
    }
    .header-right ul {
        display: flex;
        justify-content: center;
    }
    .pricing-box {
        width: 250px;
        height: 280px;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .arrow_icon {
        width: 17px;
        position: absolute;
        right: 50%;
        top: unset;
        bottom: -26px;
        transform: rotate(90deg);
        margin-right: -8px;
    }
    .header-bottom-logo img {
        width: 80px;
    }
    .header-top-area {
        padding: 0;
        padding-top: 10px;
    }
    .banner-area {
        padding-top: 50px;
        border-top: 3px solid #32A836;
    }
    .banner-text h3 {
        font-size: 25px;
        line-height: 36px;
        margin-bottom: 30px;
    }
    .banner-btn a {
        padding: 10px 28px;
        font-size: 24px;
        line-height: 32px;
        margin-top: 0;
        display: inline-block;
    }
    .banner-text {
        padding-bottom: 50px;
        text-align: center;
    }
    .banner-img {
        margin-bottom: -30px;
        text-align: center;
    }
    .banner-img img {
        max-width: 250px;
    }
    .about-title h3 {
        font-size: 24px;
    }
    .about-title p {
        font-size: 16px;
        margin-bottom: 40px;
        line-height: 24px;
    }
    .about-right {
        padding-left: 0;
    }
    .about-text h3 {
        font-size: 24px;
        line-height: 32px;
    }
    .about-text p {
        font-size: 16px;
        line-height: 24.6px;
    }
    .about-text {
        text-align: center;
    }
    .comon-btn {
        margin-top: 30px;
    }
    .about-img {
        margin-bottom: 35px;
    }
    .about-Pricing-right {
        padding-left: 0;
        text-align: center;
    }
    .about-Pricing-right h3 {
        font-size: 24px;
        line-height: 30.6px;
    }
    .footer-content {
        display: block;
        text-align: center;
    }
    .footer-text p {
        font-size: 32px;
        line-height: 36px;
    }
    .footer-btn a {
        padding: 10px 30px;
        font-size: 24px;
        line-height: 30px;
    }
    .footer-btn {
        margin-left: 0;
        margin-top: 25px;
    }
    .footer-area {
        padding: 30px 0;
    }
    .map-wrap img {
        width: 100%;
        position: relative;
        top: 0;
        max-width: 300px;
    }
    .map-wrap {
        text-align: center;
        margin-top: 0;
    }
    .location-banner-text h2 {
        font-size: 28px;
        line-height: 35px;
    }
    .location-banner-text p {
        font-size: 20px;
        line-height: 26px;
    }
    .delivery-banner {
        padding: 60px 0;
    }
    .location-list-wrapper h3 {
        font-size: 24px;
        line-height: 30px;
    }
    .location-list li {
        font-size: 18px;
        line-height: 24px;
        margin-top: 15px;
    }
    .location-list li span {
        margin-right: 15px;
    }
    .location-list-wrapper {
        margin-bottom: 0;
        margin-top: 50px;
    }
    .location-area {
        position: relative;
        padding: 60px 0;
    }


}