.min-w-70 {
    min-width: 70px;
}

.min-w-200-px {
    min-width: 200px;
}

.max-w-400-px {
    max-width: 400px;
}

.w-50-px {
    width: 50px;
}

.w-70-px {
    width: 70px;
}

.w-100-px {
    width: 100px;
}

.w-150-px {
    width: 150px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.numeric-input {
	text-align: center;
}

.numeric-input .fa {
	color: #d8a120;
}

.numeric-input span {
	font-size: 30px;
	border: 0;
	cursor: pointer;
}

.table-orders thead th {
  color: black;
}

.btn-clear-qty {
    /*display: none;*/
    cursor:pointer;
}

/*.week-days:hover .btn-clear-qty {
    display: inline-block;
}*/

.label-minimum-prompt {
    font-size: 20px; 
    color: red;
    font-weight: bold;
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: inherit;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.btn-background {
    position: fixed; 
    overflow:no-display; 
    margin: 0; 
    top: 0; 
    bottom:0; 
    right: 0; 
    left:0;
    min-height: 100%; 
    min-width: 100%;
    background-color:black;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

/*
* Styles for cards extensions
*/

.card-green {
    border: 4px solid #32b24a; }

.card-body-green {
    background-color: #32b24a; 
}
.card-body-green:hover {
    background-color: #2a943e; 
}


@media (min-width: 992px) {

  .navbar-top-left {
    font-size: 1.2rem; 
  }

}

.hide {
    display: none;
}

.table-bordered td {
    border: 1px solid #dee2e6;
}

.header-aisle {
  font-weight: 600;
}

.cookie-message {
  z-index: 1000;
  background-color: #f57f20;
  position: fixed;
  bottom: 0%;
  padding-bottom: 10px;
  color: white;
  border-radius: 5px;
  opacity: 0.8;
}

.cookie-message a {
  color: white;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.sticky-bottom {
  position: -webkit-sticky; /* Safari */ 
  position: sticky;
  bottom: 0;
}

.foldable-content {
    overflow: hidden; /* Hide content exceeding the height */
    transition: max-height 1s ease;
}

/* For desktop */
@media screen and (min-width: 768px) {
    .foldable-content {
        max-height: 50px; /* Set max-height for desktop */
    }
}

/* For mobile */
@media screen and (max-width: 767px) {
    .foldable-content {
        max-height: 100px; /* Set max-height for mobile */
    }
}

.foldable-content.expanded {
    max-height: 3000px; /* Expand the content when 'expanded' class is added */
}