﻿
/* Base css */
@font-face {
    font-family: 'GaramondPremrPro';
    src: url(../fonts/GaramondPremrPro.otf);
}
@font-face {
    font-family: 'GaramondPremrPro-Smbd';
    src: url(../fonts/GaramondPremrPro-Smbd.otf);
}


.alignleft{
    float:left;
    margin-right: 15px;
}
.alignright{
    float: right;
    margin-left: 15px;
}
.aligncenter{
    display: block;
    margin: 0 auto 15px;
}
a:focus, input:focus, textarea:focus, button:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5 {
    margin: 0 0 15px;
    font-weight: 700;
    margin-bottom: 15px;
    /*color: #000;*/
}
body {
    /*font-size: 18px;*/
    line-height: 30px;
    letter-spacing: 0;
    font-weight: 400;
    color: #000;
    /*font-family: 'GaramondPremrPro';*/
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
a {
    text-decoration: none;
    /*color: #000;*/
    transition: .3s;
    display: inline-block;
}
a:hover{
    color: currentColor;
    text-decoration: none;
}
.container{
    max-width: 1170px;
}
.comon-btn a {
    background: #EF7900;
    padding: 10px 13px;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    transition: .3s;
    border: 2px solid #EF7900;
}

.comon-btn a:hover{
    background-color: transparent;
    color: #EF7900;
}







/*-------------- header-top-area Start -------------*/
.header-top-area {
    background: #6A6A6A;
    padding: 0 15px;
}
.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-right ul {
    display: flex;
}

.header-left a {
    margin-right: 21px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}
.header-right ul li a {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    display: inline-block;
    padding: 18px 15px;
    letter-spacing: 0.3px;
    position: relative;
    transition: 0.5s;
}

.header-right ul li a:hover {
    background: #EF7900;
    color: #fff;
}
.header-right ul li a:hover::after {
    opacity: 0;
}
.header-right ul li a::after {
    content: '';
    width: 1px;
    height: 16px;
    background: #EF7900;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left:-2px;
}
.header-right ul li:first-child a:after {
    display: none;
}

.header-left a::after {
    position: absolute;
    width: 1px;
    height: 15px;
    content: '';
    background: #EF7900;
    top: 50%;
    transform: translateY(-50%);
    left: -12px;
}
.header-left a:first-child:after {
    display: none;
}
.menu_close {
    display: none;
    position: absolute;
    top: 15px;
    left: 20px;
    cursor: pointer;
}
.menu_close img {
    width: 17px;
}
.menu_trigger{
    display: none;
}

/*-------------- header-top-area End -------------*/



/*-------------- header-bottom-area Start -------------*/
.header-bottom-area {
    padding: 50px 15px;
}
.header-bottom-right ul li {
    display: inline-block;
}
.header-bottom-right {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
}

.header-bottom-right ul li a {
    font-size: 16px;
    line-height: 19.2px;
    color: #6A6A6A;
    margin-right: 18px;
    transition: .3s;
    display: inline-block;
}
.header-bottom-right ul li a:hover{
    color: #ef7900;
}
.header-bottom-icon {
    margin-left: 30px;
}
.banner-text {
    padding-bottom: 59px;
}

/*-------------- header-bottom-area End -------------*/






/*-------------- banner-area Start -------------*/
.banner-area {
    background-image: url(../img/banner-back.png);
    background-color: #D9D9D9;
    padding-top: 117px;
}

.banner-text h3 {
    font-size: 40px;
    line-height: 48px;
    color: #32A836;
    margin-bottom: 50px;
}
.banner-btn a {
    background: #EF7900;
    padding: 10px 28px;
    color: #fff;
    font-size: 40px;
    line-height: 48px;
    font-family: 'GaramondPremrPro-Smbd';
    margin-top: -12px;
    border: 2px solid #ef7900;
    transition: .3s;
}
.banner-btn a:hover{
    background-color: transparent;
    color: #ef7900;
}
.banner-area {
    background-image: url(../img/banner-back.png);
    background-color: #D9D9D9;
    padding-top: 117px;
    background-size: cover;
    background-position: center;
    border-top: 4px solid #32A836;
}
.banner-img {
    margin-bottom: -30px;
}

/*-------------- banner-area End -------------*/





/*-------------- about-area Start -------------*/

.about-title {
    text-align: center;
    padding-top: 65px;
}

.about-title h3 {
    color: #6A6A6A;
    font-size: 28px;
    line-height: 33.6px;
}
.about-text h3 {
    font-size: 30px;
    color: #32A836;
    line-height: 36px;
}
.about-content {
    border-top: 3px solid #32A836;
    padding: 50px 0;
}
.about-text h3 {
    font-size: 30px;
    color: #32A836;
    line-height: 36px;
}
.about-text h4 {
    font-size: 30px;
    color: #EF7900;
    line-height: 36px;
}
.about-text p {
    font-size: 18px;
    line-height: 27.6px;
    color: #6A6A6A;
}
.about-right {
    padding-left: 70px;
}

.about-title p {
    font-size: 18px;
    color: #6A6A6A;
    margin-bottom: 46px;
}







.about-Pricing-text-1 {
    border: 2px solid #EF7900;
    width: 100%;
    height: 282px;
    text-align: center;
    position: relative;
}
.about-Pricing-text-1 p {
    font-size: 16px;
    color: #6A6A6A;
    margin-top: 13px;
    padding: 10px;
    line-height: 20px;
}
.about-Pricing-btn-1 a {
    background: #32A836;
    padding: 8px 15px;
    margin-top: 18px;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    font-family: 'GaramondPremrPro-Smbd';
}


.about-Pricing-text-2 {
    border: 2px solid #32A836;
    width: 100%;
    height: 282px;
    text-align: center;
}
.about-Pricing-text-2 p {
    font-size: 16px;
    color: #6A6A6A;
    margin-top: 13px;
    padding: 10px;
}
.about-Pricing-btn-2 a {
    background: #EF7900;
    padding: 8px 15px;
    margin-top: 18px;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    font-family: 'GaramondPremrPro-Smbd';
}
.about-Pricing-area {
    border-top: 3px solid #32A836;
    padding: 61px 0 35px;
}




.about-Pricing-right {
    padding-left: 33px;
}
.about-Pricing-right h3 {
    font-size: 28px;
    line-height: 33.6px;
    color: #32A836;
}
.about-Pricing-right h3 span {
    color: #EF7900;
    font-size: 28px;
    line-height: 33.6px;
}
.about-Pricing-right p {
    font-size: 18px;
    line-height: 23.6px;
    color: #6A6A6A;
}
.arrow_icon {
    width: 17px;
    position: absolute;
    right: -28px;
    top: 30px;
}
.pricing-box{
    position: relative;
}
/*-------------- about-area End -------------*/







/*-------------- footer-area Start -------------*/
.footer-area {
    background: #32A836;
    padding: 50px 0;
}
.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-btn {
    margin-left: 50px;
}
.footer-text p {
    font-size: 40px;
    color: #fff;
    line-height: 48px;
    font-family: 'GaramondPremrPro-Smbd';
    margin: 0;
}
.footer-btn a {
    background: #EF7900;
    padding: 11px 25px;
    font-size: 40px;
    line-height: 48px;
    color: #fff;
    font-family: 'GaramondPremrPro-Smbd';
    border: 2px solid #EF7900;
    transition: .3s;
}
.footer-btn a:hover{
    background-color: #fff;
    color: #32A836;
    border-color: #fff;

}
/*-------------- footer-area End -------------*/











/*===================== Delivery Map Page Start =====================*/
.delivery-banner {
    background: #D9D9D9;
    padding: 100px 0;
    position: relative;
}
.location-banner-text h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #32A836;
}
.location-banner-text p {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #6A6A6A;
}
.location-area {
    position: relative;
}
.location-list-wrapper h3 {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #6A6A6A;
    margin-bottom: 25px;
}
.location-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.location-list li {
    display: block;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    margin-top: 25px;
}
.location-list li span {
    display: inline-block;
    margin-right: 25px;
}
li.color_1 {
    color: #EF7900;
}
li.color_2 {
    color: #32A836;
}
.map-wrap img {
    width: 530px;
    position: relative;
    top: -100px;
}
.map-wrap {
    text-align: right;
    margin-top: -225px;
}
.location-banner-text {
    max-width: 600px;
}
.location-description {
    max-width: 560px;
}
.location-list-wrapper {
    margin-bottom: 90px;
    margin-top: 100px;
}
/*===================== Delivery Map Page End =====================*/