/* ---- Timeline ---- */
.timeline-flex {
  height: 2px;
  background: #f57f20;
  width: 100%;
  margin: 20px 0 30px; }

/* ---- Timeline elements ---- */
.timeline-child {
  width: calc(100%/6);
  margin-right: 30px; }
  .timeline-child:last-child {
    margin-right: 0; }

.point {
  display: block;
  width: 15px;
  height: 15px;
  border: 2px solid #f57f20;
  border-radius: 50px;
  background: #e7e8e9;
  margin: 0 auto; }

/* --- Popover --- */
.popover {
  background-color: #ffffff;
  border-radius: 0px;
  border: 5px solid #32b24a;
  font-size:15px;
  z-index: 10; }

.popover-body,
.popover-header {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 0px;
  font-family: 'EB Garamond', serif; }

.popover.bs-popover-top .arrow:before, .popover.bs-popover-auto[x-placement^="top"] .arrow:before {
  bottom: -4px;
  border-top-color: #32b24a;
  background: transparent; }

.popover.bs-popover-bottom .arrow:before, .popover.bs-popover-auto[x-placement^="bottom"] .arrow:before {
  top: -4px;
  border-bottom-color: #32b24a;
  background: transparent; }

.popover.bs-popover-right .arrow:before, .popover.bs-popover-auto[x-placement^="right"] .arrow:before {
  left: -4px;
  border-right-color: #32b24a;
  background: transparent; }

.popover.bs-popover-left .arrow:before, .popover.bs-popover-auto[x-placement^="left"] .arrow:before {
  right: -4px;
  border-left-color: #32b24a;
  background: transparent; }