﻿@model NuIngredient.Models.PageSettingViewModel

<div class="container" id="divEditPage">

    @using (Ajax.BeginForm("_Edit", "PageSettings", null, new AjaxOptions { UpdateTargetId = "divEditPage", OnBegin = "AjaxBegin", OnComplete = "AjaxComplete" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        //@Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.Active)

        <div class="row">
            <div class="col-xs-9">
                <h2>Edit Page</h2>
            </div>
            <div class="col-xs-3">
                <br />
                <br />
                <a class="btn btn-sm btn-default" onclick="HideViews(); return false;" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
            </div>
        </div>

        <div class="row form-table">
            <div class="col-sm-12">
                <hr />
                <table class="table-responsive">
                    <tr>
                        <td style="width:120px;"><label>Label:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.Label, new { @class = "form-control", @placeholder = "Enter Label", @style = "max-width: none;", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Label, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>File Path:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.FilePath, new { @class = "form-control", @placeholder = "Enter File Path", @style = "max-width: none;" })
                            @Html.ValidationMessageFor(model => model.FilePath, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>Meta Title:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.MetaTitle, new { @class = "form-control", @placeholder = "Enter Meta Title", @style="max-width: none;" })
                            @Html.ValidationMessageFor(model => model.MetaTitle, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>Meta Keyword:</label></td>
                        <td>
                            
                            @Html.TextBoxFor(model => model.MetaKeyword, new { @class = "form-control", @placeholder = "Enter Meta Keyword", @style = "max-width: none;" })
                            @Html.ValidationMessageFor(model => model.MetaKeyword, "", new { @class = "text-danger" })


                        </td>
                    </tr>
                    <tr>
                        <td><label>Meta Description:</label></td>
                        <td>

                            @Html.TextBoxFor(model => model.MetaDescription, new { @class = "form-control", @placeholder = "Enter Meta Description", @style = "max-width: none;" })
                            @Html.ValidationMessageFor(model => model.MetaDescription, "", new { @class = "text-danger" })


                        </td>
                    </tr>
                    @*<tr>
                        <td><label>Active:</label></td>
                        <td>
                            @Html.Kendo().CheckBoxFor(model => model.Active)
                            @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                        </td>
                    </tr>*@
                </table>
            </div>
            
            <div class="col-sm-12">

            </div>

            <div class="col-sm-12">
                <br /><br />
                <input type="submit" value="Save" class="btn btn-inverse">
                @if (ViewBag.Saved != null)
                {
                    <br />
                    <label class="l_Saved"><strong>Details Saved!</strong></label>
                }
            </div>
            <div class="col-sm-12">
                <hr />
            </div>
        </div>
    }

</div>
