﻿@model NuIngredient.Models.PageSettingViewModel

<div class="container" id="divNewPage">

    @using (Ajax.BeginForm("_New", "PageSettings", null, new AjaxOptions { UpdateTargetId = "divNewPage", OnSuccess = "OnSuccess", OnBegin = "AjaxBegin", OnComplete = "AjaxComplete" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        //@Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="row">
            <div class="col-xs-9">
                <h2>New Message</h2>
            </div>
            <div class="col-xs-3">
                <br />
                <br />
                <a class="btn btn-sm btn-default" onclick="HideViews(); return false;" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
            </div>
        </div>

        <div class="row form-table">
            <div class="col-sm-12">
                <hr />
                <table>
                    <tr>
                        <td style="width:120px;"><label>Label:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.Label, new { @class = "form-control", @placeholder = "Enter Label", @style = "max-width: none;" })
                            @Html.ValidationMessageFor(model => model.Label, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>File Path:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.FilePath, new { @class = "form-control", @placeholder = "Enter File Path", @style = "max-width: none;" })
                            @Html.ValidationMessageFor(model => model.FilePath, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>Meta Title:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.MetaTitle, new { @class = "form-control", @placeholder = "Enter Meta Title", @style = "max-width: none;" })
                            @Html.ValidationMessageFor(model => model.MetaTitle, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>Meta Keyword:</label></td>
                        <td>

                            @(Html.Kendo().EditorFor(model => model.MetaKeyword)
                                          .HtmlAttributes(new { @class = "form-control", @placeholder = "Enter Meta Keyword here", @style = "max-width:none; margin-bottom:10px; heigh:350px;" })
                                          .Encode(false)
                                          .Tools(tools => tools.Clear())
                                          .Resizable()
                            )
                            @Html.ValidationMessageFor(model => model.MetaKeyword, "", new { @class = "text-danger" })


                        </td>
                    </tr>
                    <tr>
                        <td><label>Meta Description:</label></td>
                        <td>

                            @(Html.Kendo().EditorFor(model => model.MetaDescription)
                                          .HtmlAttributes(new { @class = "form-control", @placeholder = "Enter Meta Description here", @style = "max-width:none; margin-bottom:10px; heigh:350px;" })
                                          .Encode(false)
                                          .Tools(tools => tools.Clear())
                                          .Resizable()
                            )
                            @Html.ValidationMessageFor(model => model.MetaDescription, "", new { @class = "text-danger" })


                        </td>
                    </tr>
                    <tr>
                        <td><label>Active:</label></td>
                        <td>
                            @Html.Kendo().CheckBoxFor(model => model.Active)
                            @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                </table>
            </div>
            
            <div class="col-sm-12">

            </div>

            <div class="col-sm-12">
                <br /><br />
                <input type="submit" value="Save" class="btn btn-inverse">
            </div>
            <div class="col-sm-12">
                <hr />
            </div>
        </div>
    }

    <script>
        function OnSuccess(response) {
            //Call function from Index view
            if (response["ID"] != null) {
                CreatedPage(response["ID"]);
            }
        }
    </script>
</div>
