﻿@{
    ViewBag.Title = "Page Settings";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-xs-12">
            <hr />
        </div>
        <div id="divPager" class="col-sm-12">
            <div class="form-group" role="group" aria-label="...">
                <button class="btn btn-sm btn-default" onclick="Refresh();"><span class="glyphicon glyphicon-refresh"></span>&nbsp; Refresh</button>&nbsp;
                @*<button class="btn btn-sm btn-warning" onclick="NewPage();"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp; New Page</button>*@&nbsp;
            </div>
        </div>
        <div class="col-xs-12">
            @(Html.Kendo().Grid<NuIngredient.Models.PageSettingGridViewModel>()
                .Name("GridPages")
                .Pageable(p => p.PageSizes(new[] { 10, 20, 50 }).Messages(m => m.Display("{0} - {1} of {2} Pages").Empty("No Pages Found")))
                .Columns(columns =>
                {
                columns.Bound(p => p.ID).Hidden();
                columns.Bound(p => p.Label);
                columns.Bound(p => p.FilePath);
                //columns.Bound(p => p.Active).Title("Status").ClientTemplate("#if(Active == true) {# Active #} else {# Inactive #}#").Width("1%");
                columns.Template(@<text></text>).ClientTemplate("<a title='Edit' href='\\#' onclick='EditPage(\"#=ID#\"); return false;'><span class='glyphicon glyphicon-edit glyphicon-btn'/></a>").Width("1%");
                    //columns.Command(commands =>
                    //{
                    //    commands.Destroy().Text("<span class='glyphicon glyphicon-btn glyphicon-trash' />");
                    //}).Width("1%");
                })
                //.Sortable()
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(t => t.ID);
                    })
                    .Read(read => read.Action("Read", "PageSettingGrid")).PageSize(50)
                    .Destroy(destroy => destroy.Action("Destroy", "PageSettingGrid"))
                )
                .Events(events => events.DataBound("KendoGridDatabound"))
            )
        </div>
    </div>
</div>

<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_Edit" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 800px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="Edit_Body"></div>
    </div>
</div>

<script>
    function Refresh() {
        $('#GridPages').data('kendoGrid').dataSource.read();
    }

    function NewPage() {
        var url = '@Url.Action("_New", "PageSettings")';
        $("#Edit_Body").load(url);

        $("#SlideContent_Edit").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_Edit").css("display", "block");
        $("#Button_Close_Content").css("display", "block");
    }

    function CreatedPage(id) {
        Refresh();
        var url = '@Url.Action("_Edit", "PageSettings")' + '/' + id;
        $("#Edit_Body").load(url);
    }

    function EditPage(id) {
        var url = '@Url.Action("_Edit", "PageSettings")' + '/' + id;
        $("#Edit_Body").load(url);

        $("#SlideContent_Edit").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_Edit").css("display", "block");
        $("#Button_Close_Content").css("display", "block");
    }

    function TemplateTarget(messageTargets) {
        var template = "";
        for (var i = 0; i < messageTargets.length; i++) {
            template += "<span class='label label-primary' style='background-color: " + messageTargets[i].Colour + "'>" + messageTargets[i].Name + "</span> ";
        }
        return template;
    }
</script>