﻿@model NuIngredient.Models.EnquiryFormViewModel
@{
    ViewBag.Title = "Enquiry Form / Account Set Up";
}

@*Sets the background of the page.*@

<section id="content-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                @if (ViewBag.SuccessMessage != null)
            {
                    <div class="alert alert-success">
                        @ViewBag.SuccessMessage
                    </div>
                }
                @if (ViewBag.ErrorMessage != null)
            {
                    <div class="alert alert-danger">
                        <strong>Error:</strong> @ViewBag.ErrorMessage
                    </div>
                }
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12" id="header-isle-banner">
                <h1>@ViewBag.Title</h1>
                <h2>Welcome to Office-Groceries where quality and expertise meet up to benefit our clients</h2>
            </div>

            <div class="col-sm-12" style="margin-top: 20px; background-color:white;">
                @using (Html.BeginForm("EnquiryForm", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    @Html.AntiForgeryToken()

                    <div class="panel panel-default" style="max-width: 550px; display: block; margin-left: auto; margin-right: auto; background-color: transparent; border: none;">
                        <div class="panel-body" style="margin-left: 10px; margin-right: 10px;">
                            <div class="form-horizontal" id="contact-us-form">
                                <div class="form-group">
                                    <div class="col-sm-4 control-label"><strong>Business Name: </strong></div>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(m => m.BusinessName, new { @class = "form-control", @style = "max-width:none" })
                                        @Html.ValidationMessageFor(m => m.BusinessName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 control-label"><strong>First Name: </strong></div>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @style = "max-width:none" })
                                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 control-label"><strong>Last Name: </strong></div>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @style = "max-width:none" })
                                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 control-label"><strong>Email: </strong></div>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @style = "max-width:none" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 control-label"><strong>Phone Number: </strong></div>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @style = "max-width:none" })
                                        @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 control-label"><strong>I'm Interested in</strong></div>
                                    <div class="col-sm-8" style="text-align: left;">
                                        @Html.Kendo().CheckBoxFor(m => m.InterestOfMilk).Label("Milk") <br />
                                        @Html.Kendo().CheckBoxFor(m => m.InterestOfFruits).Label("Fruits") <br />
                                        @Html.Kendo().CheckBoxFor(m => m.InterestOfDryGoods).Label("Pantry")
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 control-label"><strong>Note: </strong></div>
                                    <div class="col-sm-8">
                                        @Html.TextAreaFor(m => m.Note, new { @class = "form-control", @style = "max-width:none" })
                                        @Html.ValidationMessageFor(m => m.Note, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                @*<div class="form-group">
                                    <div class="col-sm-offset-4 col-sm-8">
                                        <script src='https://www.google.com/recaptcha/api.js'></script>
                                        <div class="g-recaptcha" data-sitekey="6LcOnx8UAAAAACR6d-rcVEjTt4kpolG0TVM54mKi"></div>
                                    </div>
                                </div>
                                <div class="form-group" style="text-align:center">
                                    <div class="col-sm-offset-4 col-sm-8">
                                        <input type="submit" class="btn btn-primary submit" value="Send the Enquiry" style="width:100%;max-width:none;" />
                                    </div>
                                </div>*@
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <script src='https://www.google.com/recaptcha/api.js'></script>
                                        <div class="g-recaptcha" data-sitekey="6LevZpYUAAAAAJBIp4CH_Hg6fXUdcmwOAJ2Fc17b"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="submit" class="btn btn-primary submit" value="Submit"/>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                }

            </div>
        </div>
    </div>

</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
