﻿@model NuIngredient.Models.EnquiryFormViewModel
@{
    ViewBag.Title = "Your Office-Groceries Enquiry Has Been Received";
    var categories = new List<string>();
    if (Model.InterestOfMilk) { categories.Add("Milk"); }
    if (Model.InterestOfFruits) { categories.Add("Fruit/Snacks"); }
    if (Model.InterestOfDryGoods) { categories.Add("Dry Goods"); }
}
<section id="content-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" id="header-isle-banner" style="padding: 0 20px 20px 20px;">
                <h1>@ViewBag.Title</h1>
                <p style="text-align: left; font-size: 16px;">
                    Hello @Model.FirstName,<br />
                    <br />
                    Welcome to Office-Groceries.<br /><br />
                    Thank you for your enquiry regarding our @String.Join(", ", categories) delivery service for @Model.BusinessName.<br />
                    <br />
                    One of our procurement specialists will be in contact with you shortly. In the meantime, should you wish to contact us please give us a bell on <span style="white-space: nowrap;">0345 463 8863</span> whereby one of our support managers are on hand to answer any questions you may have.<br />
                    <br />
                    Once again thank you @Model.FirstName.<br />
                    <br />
                    The Office-Groceries Team
                </p>
            </div>
            @*<div class="col-sm-12">
                    <h1>@ViewBag.Title</h1>
                    <hr />
                    <p class="text-default" style="font-size: 16px;">
                        Hello @Model.FirstName,<br />
                        <br />
                        Welcome to Office-Groceries.<br /><br />
                        Thank you for your enquiry regarding our @String.Join(", ", categories) delivery service for @Model.BusinessName.<br />
                        <br />
                        One of our procurement specialists will be in contact with you shortly. In the meantime, should you wish to contact us please give us a bell on <span style="white-space: nowrap;">0345 463 8863</span> whereby one of our support managers are on hand to answer any questions you may have.<br />
                        <br />
                        Once again thank you @Model.FirstName.<br />
                        <br />
                        The Office-Groceries Team
                    </p>
                </div>*@
        </div>
    </div>
</section>