﻿@{
    ViewBag.Title = "Success";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>The Prospect is Now a Customer</h1>
            <hr />
            <p class="text-default" style="font-size: 16px;">
                Login Details have been sent to the customer.
            </p>
            <ul class="text-default" style="font-size: 16px;">
                <li>When relevant have you set up the Milk & Fruit Standing Orders </li>
                <li>Remember Dry Goods account requests are set up within the CUSTOMER tab</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">

</div>