﻿@{
    ViewBag.Title = "Your Office-Groceries Account is now Registered";
}

<section id="content-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" id="header-isle-banner">
                <h1>@ViewBag.Title</h1>
                <p class="text-default" style="font-size: 16px;">
                    Thank you for Registering your account with Office Groceries. All activated accounts will be communicated via e-mail.To amend or place orders and equally to activate further accounts simply login to your bespoke page on the Office-Groceries.com website.<br />
                    <br />
                    Please click <a href="/Account/Login">here</a> to log in.
                    <br />
                    <br />
                    Should you wish to contact us please give us a bell on 0345 463 8863 whereby one of our support managers are on hand to answer any questions you may have.
                </p>
            </div>
        </div>
    </div>
</section>