﻿@model NuIngredient.Models.RegisterMultiCompanyViewModel
@{
    ViewBag.Title = "Sign Up For Prospect";
}

@*Sets the background of the page.*@

<section id="content-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                @if (ViewBag.SuccessMessage != null)
            {
                    <div class="alert alert-success">
                        @ViewBag.SuccessMessage
                    </div>
                }
                @if (ViewBag.ErrorMessage != null)
            {
                    <div class="alert alert-danger">
                        <strong>Error:</strong> @ViewBag.ErrorMessage
                    </div>
                }
            </div>
        </div>

        <div class="row" style="margin-top: 5%;">
            <div class="col-sm-12" id="header-isle-banner">
                <h1>@ViewBag.Title</h1>
                <h2>Saving your Time, Money & Energy.</h2>
            </div>

            <div class="col-sm-12" style="margin-top:20px; background-color:white;">
                @using (Html.BeginForm("RegisterMultiCompany", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.ProspectToken)

                    <div class="panel panel-default" style="max-width: 650px; display: block; margin-left: auto; margin-right: auto; background-color: transparent; border:none;">
                        <div class="panel-body" style="margin-left: 10px; margin-right: 10px;">
                            <div class="form-horizontal register-form">
                                <div class="form-group">
                                    <div class="col-sm-4"><strong>Business Name:</strong></div>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(m => m.BusinessName, new { @class = "form-control", @style = "max-width:none" })
                                        @Html.ValidationMessageFor(m => m.BusinessName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-4"><strong>Delivery Address:</strong></div>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(m => m.DeliveryAddress, new { @class = "form-control", @style = "max-width:none" })
                                        @Html.ValidationMessageFor(m => m.DeliveryAddress, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-4"><strong>Post Code:</strong></div>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(m => m.PostCode, new { @class = "form-control", @style = "max-width:none" })
                                        @Html.ValidationMessageFor(m => m.PostCode, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-4"><strong>First Name:</strong></div>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @style = "max-width:none" })
                                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4"><strong>Last Name:</strong></div>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @style = "max-width:none" })
                                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4"><strong>Email:</strong></div>
                                    <div class="col-sm-8">
                                        @if (string.IsNullOrEmpty(Model.Email))
                                        {
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @style = "max-width:none" })
                                        }
                                        else
                                        {
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @style = "max-width:none", @readonly = "readonly" })
                                        }
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4"><strong>Phone Number:</strong></div>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @style = "max-width:none" })
                                        @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4"><strong>Delivery Instruction:</strong></div>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(m => m.DeliveryInstruction, new { @class = "form-control", @style = "max-width:none" })
                                        <label class="m-0"><i>Please bear in mind Milk deliveries are typically pre 7am</i></label><br/>
                                        @Html.ValidationMessageFor(m => m.DeliveryInstruction, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    @Html.CheckBoxFor(m => m.UseDeliveryAddrAsBillingAddr, new { @class = "rounded-0 bg-white border-0", @onchange = "ShowHideBillingAddress(this)" })
                                    <label for="UseDeliveryAddrAsBillingAddr"><strong>Use delivery address as billing address</strong></label>
                                </div>
                                @if (Model.UseDeliveryAddrAsBillingAddr)
                                {
                                    <div class="input-billing-addr form-group hide">
                                        <div class="col-sm-4"><strong>Billing Company Name:</strong></div>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.BillingCompanyName, new { @class = "form-control", @style = "max-width:none" })
                                            @Html.ValidationMessageFor(m => m.BillingCompanyName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="input-billing-addr form-group hide">
                                        <div class="col-sm-4"><strong>Billing Email:</strong></div>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.BillingEmail, new { @class = "form-control", @style = "max-width:none" })
                                            @Html.ValidationMessageFor(m => m.BillingEmail, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="input-billing-addr form-group hide">
                                        <div class="col-sm-4"><strong>Billing Address:</strong></div>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.BillingAddress, new { @class = "form-control", @style = "max-width:none" })
                                            @Html.ValidationMessageFor(m => m.BillingAddress, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="input-billing-addr form-group hide">
                                        <div class="col-sm-4"><strong>Billing Postcode:</strong></div>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.BillingPostCode, new { @class = "form-control", @style = "max-width:none" })
                                            @Html.ValidationMessageFor(m => m.BillingPostCode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="input-billing-addr form-group">
                                        <div class="col-sm-4"><strong>Billing Company Name:</strong></div>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.BillingCompanyName, new { @class = "form-control", @style = "max-width:none" })
                                            @Html.ValidationMessageFor(m => m.BillingCompanyName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="input-billing-addr form-group">
                                        <div class="col-sm-4"><strong>Billing Email:</strong></div>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.BillingEmail, new { @class = "form-control", @style = "max-width:none" })
                                            @Html.ValidationMessageFor(m => m.BillingEmail, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="input-billing-addr form-group">
                                        <div class="col-sm-4"><strong>Billing Address:</strong></div>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.BillingAddress, new { @class = "form-control", @style = "max-width:none" })
                                            @Html.ValidationMessageFor(m => m.BillingAddress, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="input-billing-addr form-group">
                                        <div class="col-sm-4"><strong>Billing Postcode:</strong></div>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.BillingPostCode, new { @class = "form-control", @style = "max-width:none" })
                                            @Html.ValidationMessageFor(m => m.BillingPostCode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                }
                                <div class="form-group col-md-6">
                                    <label><strong>Are you part of a multiple tenanted building?</strong></label>
                                    <br />
                                    @Html.RadioButtonFor(m => m.IsMultiTenantedBuilding, "True", new { id = "IsMultiTenantedBuilding-Yes" })
                                    <label for="IsMultiTenantedBuilding-Yes">Yes</label>
                                    @Html.RadioButtonFor(m => m.IsMultiTenantedBuilding, "False", new { id = "IsMultiTenantedBuilding-No" })
                                    <label for="IsMultiTenantedBuilding-No">No</label>
                                    @Html.ValidationMessageFor(m => m.IsMultiTenantedBuilding, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-6">
                                    <label><strong>Does your business have multiple sites throughout the UK?</strong></label>
                                    <br />
                                    @Html.RadioButtonFor(m => m.HasMultiSites, "True", new { id = "HasMultiSites-Yes" })
                                    <label for="HasMultiSites-Yes">Yes</label>
                                    @Html.RadioButtonFor(m => m.HasMultiSites, "False", new { id = "HasMultiSites-No" })
                                    <label for="HasMultiSites-No">No</label>
                                    @Html.ValidationMessageFor(m => m.HasMultiSites, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <script src='https://www.google.com/recaptcha/api.js'></script>
                                        <div class="g-recaptcha" data-sitekey="6LevZpYUAAAAAJBIp4CH_Hg6fXUdcmwOAJ2Fc17b"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Dummy, new { @style = "display:none" })
                                    <div class="col-sm-12">
                                        <input type="submit" class="btn submit" value="Submit" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>
<script>
    function GeneratePassword() {
        function s4() {
            return Math.floor((1 + Math.random()) * 0x10000)
                .toString(16)
                .substring(1);
        }
        var randomPassword = s4() + s4();
        $('#Password').val(randomPassword);
        $('#ConfirmPassword').val(randomPassword);
    }
    function ShowHideBillingAddress(that) {
        var checked = $(that).is(':checked');
        if (checked) {
            $('.input-billing-addr').addClass('hide');
        } else {
            $('.input-billing-addr').removeClass('hide');
        }
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
