﻿@model NuIngredient.Models.SupplierContactViewModel


<div style="margin:20px; margin-top:0; -webkit-box-sizing: border-box; box-sizing: border-box;">

    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.SupplierID)
    @Html.HiddenFor(m => m.SupplierName)
    <table style="width:100%">        
        <tr>
            <td><label>Title:</label></td>
            <td>
               @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @placeholder = "Title", @style = "-webkit-box-sizing: border-box; box-sizing:border-box; width:100%; margin-bottom:5px;" })
            </td>
        </tr>
        <tr>
            <td><label>First Name:</label></td>
            <td>
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @placeholder = "First Name", @style = "-webkit-box-sizing: border-box; box-sizing:border-box; width:100%; margin-bottom:5px;" })
            </td>
        </tr>
        <tr>
            <td><label>Last Name:</label></td>
            <td>
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @placeholder = "Last Name", @style = "-webkit-box-sizing: border-box; box-sizing:border-box; width:100%; margin-bottom:5px;" })
            </td>
        </tr>
        <tr>
            <td><label>Position:</label></td>
            <td>
                @Html.TextBoxFor(model => model.Position, new { @class = "form-control", @placeholder = "Position", @style = "-webkit-box-sizing: border-box; box-sizing:border-box; width:100%; margin-bottom:5px;" })
            </td>
        </tr>
        <tr>
            <td><label>Telephone:</label></td>
            <td>
                @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control", @placeholder = "Telephone", @style = "-webkit-box-sizing: border-box; box-sizing:border-box; width:100%; margin-bottom:5px;" })
            </td>
        </tr>
        <tr>
            <td><label>Mobile:</label></td>
            <td>
                @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control", @placeholder = "Mobile", @style = "-webkit-box-sizing: border-box; box-sizing:border-box; width:100%; margin-bottom:5px;" })
            </td>
        </tr>
        <tr>
            <td><label>Email:</label></td>
            <td>
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email", @style = "-webkit-box-sizing: border-box; box-sizing:border-box; width:100%; margin-bottom:5px;" })
            </td>
        </tr>
    </table>
    

</div>





