@model NuIngredient.Models.CompanyViewModel

<div class="divEditCustomerDetails">

    <div class="bg-secondary text-white text-center pt-4 pb-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Edit Delivery Details</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white pt-3 pb-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="d-flex">
                        <a class="btn btn-primary mb-3 text-white rounded-0 ml-auto" onclick="HideViews(); return false;" href="#" role="button">Back</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="p-4 mb-2 bg-light text-dark">
                        @using (Ajax.BeginForm("_EditCustomerDetails", "CustomerSettings", null, new AjaxOptions { UpdateTargetId = "divEditCustomerDetails", OnSuccess = "OnEditDetailSuccess" }, new { id = "EditCompanyForm", method = "post" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.ID)

                            <div class="form-row">
                                <div class="form-group col-md-12 pl-2">
                                    <h5>Company Details</h5>
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", @placeholder="First Name" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Sign up date: @Model.SignupDate.ToString("dd/MM/yyyy")</label>
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", @placeholder="Email" })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", @placeholder="Phone Number" })
                                </div>
                                <div class="form-group col-md-12 pl-2">
                                    <h5>Delivery Details</h5>
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.TextBoxFor(model => model.Address1, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", @placeholder="Delivery Address", @readonly="readonly" })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.TextBoxFor(model => model.Postcode, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", @placeholder="Delivery Postcode",  @readonly="readonly" })
                                </div>
                                <div class="form-group col-md-12">
                                    @Html.TextBoxFor(model => model.DeliveryInstruction, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", @placeholder="Delivery Instuction" })
                                </div>
                                <div class="form-group col-md-12 pl-2">
                                    <h5>Billing Details</h5>
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.TextBoxFor(model => model.BillingCompanyName, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", @placeholder = "Billing Company Name" })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.TextBoxFor(model => model.BillingAddress, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", @placeholder="Billing Address" })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.TextBoxFor(model => model.BillingPostcode, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", @placeholder="Billing Postcode" })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.TextBoxFor(model => model.BillingEmail, new { @class = "form-control form-control-lg rounded-0 bg-white border-0", @placeholder = "Billing Email" })
                                </div>

                                <div class="form-group col-md-6">
                                    <button type="submit" class="btn btn-success btn-lg btn-block rounded-0">Save Changes</button>
                                    @if (ViewBag.Saved != null)
                                    {
                                        <br />
                                        <label id="l_Saved"><strong>Details Saved!</strong></label>
                                        <script>
                                            setTimeout(function () { $("#l_Saved").css("display", "none"); }, 2000);
                                        </script>

                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <script>
        function OnEditDetailSuccess(response) {
            $("#Edit_Body").html(response);
        }
    </script>

</div>