﻿@using NuIngredient.Models
@model NuIngredient.Models.ActionOrderPageVm

@* <div class="centered"> *@
@*     <img src="/Content/kendo/2017.2.621/none/loading-image.gif" alt="Loading..." style="width:100px;" /> *@
@*     <p>Redirecting...</p> *@
@* </div> *@

<div class="container mb-5" style="margin-top: 200px;">
    <div class="receipt">
        <div class="col">
            <p>Hi @Model.Approver.Name,</p>
            @if (Model.Order.Status == OneOffOrderStatus.Proforma)
            {
                <p>Please action ASAP in order to avoid delays in delivery date</p>
            }
            else if (Model.Order.Status == OneOffOrderStatus.Canceled)
            {
                <p>Your order has been canceled</p>
            }
            else
            {
                <p>Your order has been successfully placed</p>
            }
            <div class="row mt-3">
                <div class="col">
                    <div class="p-4 mb-2 bg-light text-dark">
                        <p class="text-secondary">Order Ref: @Model.Order.OrderNumber</p>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="bg-white text-secondary p-2 mb-3">
                                    Company
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="bg-info p-2 mb-3">
                                    @Model.Order.CompanyName
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="bg-white text-secondary p-2 mb-3">
                                    Email Address
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="bg-info p-2 mb-3">
                                    @Model.Order.EmailAddress
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="bg-white text-secondary p-2 mb-3">
                                    Phone
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="bg-info p-2 mb-3">
                                    @Model.Order.Phone
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="bg-white text-secondary p-2 mb-3">
                                    Delivery Address
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="bg-info p-2 mb-3">
                                    @Model.Order.DeliveryAddress
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="bg-white text-secondary p-2 mb-3">
                                    Delivery Postcode
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="bg-info p-2 mb-3">
                                    @Model.Order.DeliveryPostCode
                                </div>
                            </div>
                            @if (Model.Order.DeliveryDate != null)
                            {
                                <div class="col-md-3">
                                    <div class="bg-white text-secondary p-2 mb-3">
                                        Delivery Date
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="bg-info p-2 mb-3">
                                        @Model.Order.DeliveryDate.Value.ToString("dd/MM/yyyy")
                                    </div>
                                </div>
                            }
                            @if (!string.IsNullOrWhiteSpace(Model.Order.OrderNotes))
                            {
                                <div class="col-md-3">
                                    <div class="bg-white text-secondary p-2 mb-3">
                                        Order Notes
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="bg-info p-2 mb-3">
                                        @Model.Order.OrderNotes
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            @foreach (var item in @Model.Order.OneOffOrderItems)
            {
                <div class="row mt-3">
                    <div class="col">
                        <div class="p-4 mb-2 bg-light text-dark">
                            <div class="table-responsive">
                                <table class="table table-bordered bg-white mb-0">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="bg-secondary text-white"></th>
                                            <th scope="col" class="bg-secondary text-white">Product</th>
                                            <th scope="col" class="bg-secondary text-white">Price</th>
                                            <th scope="col" class="bg-secondary text-white">Quantity</th>
                                            <th scope="col" class="bg-secondary text-white">Net</th>
                                            <th scope="col" class="bg-secondary text-white">VAT</th>
                                            <th scope="col" class="bg-secondary text-white">Gross</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="bg-info"><img src="@item.ImageURL" height="80" width="80" class="rounded-0 border border-success b-4" alt="..."></td>
                                            <td class="bg-info">@item.ProductName</td>
                                            <td class="bg-info">@item.ProductPrice.ToString("C")</td>
                                            <td class="bg-info">@item.Qty</td>
                                            <td class="bg-info">@item.Total.ToString("C")</td>
                                            <td class="bg-info">@(item.TotalVAT.ToString("C"))</td>
                                            <td class="bg-info">@(item.TotalGross.ToString("C"))</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col">
                    @if (Model.Order.Status == OneOffOrderStatus.Proforma)
                    {
                        if (Model.Accept)
                        {
                            using (Html.BeginForm("Approve", "Proforma", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("orderId", Model.Order.ID)
                    
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="p-2">
                                            PO Number
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div>
                                            @Html.TextBox("poNumber", Model.Order.PONumber ?? "", new { @class = "form-control", placeholder = "PO Number" })
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <input type="submit" class="btn btn-primary btn-lg cursor-pointer w-100 mt-1" value="Approve"/>
                                    </div>
                                </div>
                                
                            }
                        }
                        else
                        {
                            using (Html.BeginForm("Reject", "Proforma", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("orderId", Model.Order.ID)
                    
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="p-2">
                                            Reason
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div>
                                            @Html.TextArea("reason", "", new { @class = "form-control", placeholder = "Reason for rejection" })
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <input type="submit" class="btn btn-primary btn-lg cursor-pointer w-100 mt-1" value="Reject"/>
                                    </div>
                                </div>
                                
                            }
                        }
                    }
                </div>
                
                <div class="col">
                    <div class="p-4 mb-2 text-dark">
                        <table class="table table-bordered w-auto ml-sm-auto">
                            <tr>
                                <th class="bg-secondary text-white">Net:</th>
                                <td class="bg-white"><span style="color:#6db444; font-size:larger; font-weight:900">@Model.Order.TotalNet.ToString("C")</span></td>
                            </tr>
                            <tr>
                                <th class="bg-secondary text-white">VAT:</th>
                                <td class="bg-white"><span style="color:#6db444; font-size:larger; font-weight:900">@Model.Order.TotalVAT.ToString("C")</span></td>
                            </tr>
                            <tr>
                                <th class="bg-secondary text-white">Gross:</th>
                                <td class="bg-white"><span style="color:#6db444; font-size:larger; font-weight:900">@Model.Order.TotalGross.ToString("C")</span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<style>
    p {
        font-size: 20px;
    }
    
    label{display:flex; font-size:10px; color:white; opacity:.4;}
    
    .receipt {
        background: #dbdce0;
        border-radius:4px;
        padding:2%;
        display:block;
        margin:auto;
        margin-top:-180px;
        position:relative;
    }
    
    .centered {
      position: fixed;
      top: 50%;
      left: 50%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);
    }
</style>
