﻿
<div class="container mb-5" style="margin-top: 200px;">
    <div class="receipt">
        <div class="col">
            <p>Thanks for your feedback, if we have any further questions we will contact you via email.</p>
        </div>

    </div>
</div>

<style>
    p {
        font-size: 20px;
    }
    
    label{display:flex; font-size:10px; color:white; opacity:.4;}
    
    .receipt {
        height: 450px;
        max-width:600px; 
        background: #dbdce0;
        border-radius:4px;
        padding:2%;
        display:block;
        margin:auto;
        margin-top:-180px;
        position:relative;
    }
    
    .centered {
      position: fixed;
      top: 50%;
      left: 50%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);
    }
</style>
