﻿@using NuIngredient.Models
@model NuIngredient.Models.OneOffOrderViewModel

<div class="container mb-5" style="margin-top: 200px;">
    <div class="receipt">
        <div class="col">
            <p>Your order has been successfully placed</p>
            <div class="row mt-3">
                <div class="col">
                    <div class="p-4 mb-2 bg-light text-dark">
                        <p class="text-secondary">Order Ref: @Model.OrderNumber</p>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="bg-white text-secondary p-2 mb-3">
                                    Company
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="bg-info p-2 mb-3">
                                    @Model.CompanyName
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="bg-white text-secondary p-2 mb-3">
                                    Email Address
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="bg-info p-2 mb-3">
                                    @Model.EmailAddress
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="bg-white text-secondary p-2 mb-3">
                                    Phone
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="bg-info p-2 mb-3">
                                    @Model.Phone
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="bg-white text-secondary p-2 mb-3">
                                    Delivery Address
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="bg-info p-2 mb-3">
                                    @Model.DeliveryAddress
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="bg-white text-secondary p-2 mb-3">
                                    Delivery Postcode
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="bg-info p-2 mb-3">
                                    @Model.DeliveryPostCode
                                </div>
                            </div>
                            @if (Model.DeliveryDate != null)
                            {
                                <div class="col-md-3">
                                    <div class="bg-white text-secondary p-2 mb-3">
                                        Delivery Date
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="bg-info p-2 mb-3">
                                        @Model.DeliveryDate.Value.ToString("dd/MM/yyyy")
                                    </div>
                                </div>
                            }
                            @if (!string.IsNullOrWhiteSpace(Model.OrderNotes))
                            {
                                <div class="col-md-3">
                                    <div class="bg-white text-secondary p-2 mb-3">
                                        Order Notes
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="bg-info p-2 mb-3">
                                        @Model.OrderNotes
                                    </div>
                                </div>
                            }
                            @if (!string.IsNullOrWhiteSpace(Model.PONumber))
                            {
                                <div class="col-md-3">
                                    <div class="bg-white text-secondary p-2">
                                        PO Number
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="bg-info p-2">
                                        @Model.PONumber
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            @foreach (var item in @Model.OneOffOrderItems)
            {
                <div class="row mt-3">
                    <div class="col">
                        <div class="p-4 mb-2 bg-light text-dark">
                            <div class="table-responsive">
                                <table class="table table-bordered bg-white mb-0">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="bg-secondary text-white"></th>
                                            <th scope="col" class="bg-secondary text-white">Product</th>
                                            <th scope="col" class="bg-secondary text-white">Price</th>
                                            <th scope="col" class="bg-secondary text-white">Quantity</th>
                                            <th scope="col" class="bg-secondary text-white">Net</th>
                                            <th scope="col" class="bg-secondary text-white">VAT</th>
                                            <th scope="col" class="bg-secondary text-white">Gross</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="bg-info"><img src="@item.ImageURL" height="80" width="80" class="rounded-0 border border-success b-4" alt="..."></td>
                                            <td class="bg-info">@item.ProductName</td>
                                            <td class="bg-info">@item.ProductPrice.ToString("C")</td>
                                            <td class="bg-info">@item.Qty</td>
                                            <td class="bg-info">@item.Total.ToString("C")</td>
                                            <td class="bg-info">@(item.TotalVAT.ToString("C"))</td>
                                            <td class="bg-info">@(item.TotalGross.ToString("C"))</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col">
                    <div class="p-4 mb-2 text-dark">
                        <table class="table table-bordered w-auto ml-sm-auto">
                            <tr>
                                <th class="bg-secondary text-white">Net:</th>
                                <td class="bg-white"><span style="color:#6db444; font-size:larger; font-weight:900">@Model.TotalNet.ToString("C")</span></td>
                            </tr>
                            <tr>
                                <th class="bg-secondary text-white">VAT:</th>
                                <td class="bg-white"><span style="color:#6db444; font-size:larger; font-weight:900">@Model.TotalVAT.ToString("C")</span></td>
                            </tr>
                            <tr>
                                <th class="bg-secondary text-white">Gross:</th>
                                <td class="bg-white"><span style="color:#6db444; font-size:larger; font-weight:900">@Model.TotalGross.ToString("C")</span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<style>
    p {
        font-size: 20px;
    }
    
    label{display:flex; font-size:10px; color:white; opacity:.4;}
    
    .receipt {
        background: #dbdce0;
        border-radius:4px;
        padding:2%;
        display:block;
        margin:auto;
        margin-top:-180px;
        position:relative;
    }
    
    .centered {
      position: fixed;
      top: 50%;
      left: 50%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);
    }
</style>
