﻿@{
    ViewBag.Title = "Feedback / Complaints";
}


<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-xs-6">
            <br />
            <div class="btn-group" style="float:right; margin-right:3px;">
                @*<button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-cloud-upload"></span>&nbsp;Import <span class="caret"></span>
                </button>*@
            </div> 
            @*<a class="btn btn-danger" style="float:right; margin-right:3px;" href="/Products/Deleted/"><span class="glyphicon glyphicon-trash"></span> &nbsp;Deleted Milk</a>*@
        </div>
        <div class="col-xs-12">
            <br />
        </div>
        <div class="col-xs-6">

        </div>
        <div class="col-xs-2">
            <br />
        </div>
        <div class="col-xs-4">
            <div class="input-group">
                @Html.TextBox("TB_Filter", null, new { @class = "form-control", @style = "max-width:none;", @placeholder = "Search by Order Number" })
                <span class="input-group-btn">
                    <a class="btn btn-default" onclick="Refresh(); return false;"><span class="glyphicon glyphicon-search"></span></a>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>


        <div id="divEdit" class="col-sm-12" style="display:none">
            <div class="form-group" role="group" aria-label="...">
            </div>
        </div>

        <div class="col-sm-12">
            <div style="display:inline-block; width:230px; vertical-align:top; ">
                @*This Panel below holds all the search filters for the Page*@
                <div class="panel panel-default" style="background-color:initial;">
                    <div class="panel-body">
                        <a id="Btn_ShowCompleted" class="btn btn-info" onclick="ToggleCompleted();" style="width:100%; text-align:left; margin-bottom:3px;"><span id="Span_ShowCompleted" class="glyphicon glyphicon-unchecked"></span>&nbsp;&nbsp;Show Completed</a>
                        <hr />
                        @(Html.Kendo().DropDownList()
                          .Name("DropDownCompanies")
                          .OptionLabel("All Customers")
                          .DataTextField("Name")
                          .DataValueField("ID")
                          .DataSource(dataSource => dataSource.Read(read => read.Action("DropDownCompanies", "Companies")))
                          .Events(events => events.Change("OnCompanyChange"))
                          .HtmlAttributes(new { @style = "width: 200px;" })
                        )
                        <hr />
                        @(Html.Kendo().DropDownList()
                          .Name("DropDownUsers")
                          .OptionLabel("All Users")
                          .DataTextField("Name")
                          .DataValueField("ID")
                          .DataSource(dataSource => dataSource.Read(read => read.Action("DropDownCompanyUsers", "Dropdowns").Data("function(){ return { companyID : $('#DropDownCompanies').val() }; }")))
                          .Events(events => events.Change("Refresh"))
                          .HtmlAttributes(new { @style = "width: 200px;" })
                        )
                        <hr />
                        @(Html.Kendo().DropDownList()
                            .Name("DropDownDate")
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .Events(e => e.Change("DateChanged"))
                            .BindTo(new List<SelectListItem>() {
                                        new SelectListItem() { Text = "All Complaints", Value = "0"},
                                        new SelectListItem() { Text = "This Month", Value = "1"},
                                        new SelectListItem() { Text = "Last Month", Value = "2"},
                                        new SelectListItem() { Text = "Custom Range", Value = "3"},
                            })
                            .Value("0")
                            .HtmlAttributes(new { style = "width: 100%" })
                        )
                        <div id="div_CustomDateRange" style="display: none;">
                            <hr />
                            <table>
                                <tr>
                                    <td style="width:50px"><label>From:</label></td>
                                    <td style="padding-bottom:5px;">
                                        @(Html.Kendo().DatePicker()
                                              .Name("DateFrom")
                                              .HtmlAttributes(new { style = "width: 100%" })
                                              .Value(DateTime.Today.ToString("dd/MM/yyyy"))
                                              .Events(e => { e.Close("Refresh"); })
                                        )
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>To:</label></td>
                                    <td style="padding-bottom:5px;">
                                        @(Html.Kendo().DatePicker()
                                              .Name("DateTo")
                                              .HtmlAttributes(new { style = "width: 100%" })
                                              .Value(DateTime.Today.ToString("dd/MM/yyyy"))
                                              .Events(e => { e.Close("Refresh"); })
                                        )
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display:inline-block; padding-left:5px; width:calc(100% - 235px)">
                <div class="panel panel-info">
                    <div class="panel-heading" onclick="$('#div_fruit_complaints').slideToggle()" style="text-align:center; cursor: pointer;" title="Click to hide/show this panel">
                        Fruit Order Complaints
                    </div>
                    <div class="panel-body" id="div_fruit_complaints" style="padding: 0px;">
                        @(Html.Kendo().Grid<NuIngredient.Models.FruitOrderFeedbackNIViewModel>()
                          .Name("GridFruitOrderComplaints")
                          .Columns(columns =>
                          {
                              columns.Bound(f => f.ID).Hidden();
                              columns.Bound(f => f.CustomerName).Title("Name");//.Width("1%");
                              columns.Bound(f => f.Order).Title("Order").ClientTemplate("<a href='/OrderManagement/FruitOrderDetails/#=FruitOrderHeaderID#' target='_blank'>#=Order#</a>");
                              columns.Bound(f => f.Message).Title("Message").EditorTemplateName("TextAreaTemplate").HtmlAttributes(new { @style = "white-space: pre-wrap;" });
                              columns.Bound(f => f.ComplaintantName).Title("User");
                              columns.Bound(f => f.Created).Title("Time").ClientTemplate("<div class='label label-info'>#=kendo.toString(Created, \"dd/MM/yy HH:mm\")#</div>").Width("1%");
                              columns.Bound(f => f.NIComment).Title("NI Comment").EditorTemplateName("TextAreaTemplate").HtmlAttributes(new { @style = "white-space: pre-wrap;" }); ;
                              columns.Bound(f => f.ReplierName).Title("Replier Name");
                              columns.Bound(f => f.ResponseTime).Title("Response Time").ClientTemplate("#if(ResponseTime != null){# <div class='label label-warning'>#=kendo.toString(ResponseTime, \"dd/MM/yy HH:mm\")#</div> #} #").Width("1%");
                              columns.Command(command => command.Edit()
                                                                  .Text("<span class='glyphicon glyphicon-edit glyphicon-btn'/>")
                                                                  .UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn'/>")
                                                                  .CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn'/>")).Width("80px");
                          })
                          .Editable(editable => editable.CreateAt(GridInsertRowPosition.Bottom))
                          .DataSource(dataSource => dataSource
                                  .Ajax()
                                  .Model(model =>
                                  {
                                      model.Id(m => m.ID);
                                      model.Field(m => m.Message).Editable(false);
                                      model.Field(m => m.CustomerName).Editable(false);
                                      model.Field(m => m.ComplaintantName).Editable(false);
                                      model.Field(m => m.Created).Editable(false);
                                      model.Field(m => m.ResponseTime).Editable(false);
                                      model.Field(m => m.ReplierName).Editable(false);
                                      model.Field(m => m.Order).Editable(false);
                                  })
                                  .Read(read => read.Action("Read", "NIFruitOrderFeedbackGrid").Data("GetSearchInfo"))
                                  .Create(create => create.Action("Create", "NIFruitOrderFeedbackGrid"))
                                  .Update(update => update.Action("Update", "NIFruitOrderFeedbackGrid"))
                          )
                          .Pageable(p => p.PageSizes(new[] { 10, 20, 50 }).Messages(m => m.Display("{0} - {1} of {2} Feedback").Empty("No Feedback Found")))
                          .Events(events => events.DataBound("KendoGridDatabound"))
                        )
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading" onclick="$('#div_milk_complaints').slideToggle()" style="text-align:center; cursor: pointer;" title="Click to hide/show this panel">
                        Milk Order Complaints
                    </div>
                    <div class="panel-body" id="div_milk_complaints" style="padding: 0px;">
                        @(Html.Kendo().Grid<NuIngredient.Models.FruitOrderComplaintNIViewModel>()
                            .Name("GridMilkOrderComplaints")
                            .Columns(columns =>
                              {
                                  columns.Bound(f => f.ID).Hidden();
                                  columns.Bound(f => f.CustomerName).Title("Name");//.Width("1%");
                                  columns.Bound(f => f.Order).Title("Order").ClientTemplate("<a href='javascript:void(0)' onclick=\"FruitOrderInvoice('#=FruitInvoiceHeaderID#')\">#=Order#</a>");
                                  columns.Bound(f => f.Message).Title("Message").EditorTemplateName("TextAreaTemplate").HtmlAttributes(new { @style = "white-space: pre-wrap;" });
                                  columns.Bound(f => f.ComplaintantName).Title("User");
                                  columns.Bound(f => f.Created).Title("Time").ClientTemplate("#=kendo.toString(Created, \"dd/MM/yy HH:mm\")#");
                                  columns.Bound(f => f.NIComment).Title("NI Comment").EditorTemplateName("TextAreaTemplate").HtmlAttributes(new { @style = "white-space: pre-wrap;" }); ;
                                  columns.Bound(f => f.ReplierName).Title("Replier Name");
                                  columns.Bound(f => f.ResponseTime).Title("Response Time").ClientTemplate("#if(ResponseTime != null){# #=kendo.toString(ResponseTime, \"dd/MM/yy HH:mm\")# #} #");
                                  columns.Command(command => command.Edit()
                                                                      .Text("<span class='glyphicon glyphicon-edit glyphicon-btn'/>")
                                                                      .UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn'/>")
                                                                      .CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn'/>")).Width("80px");
                              })
                              .Editable(editable => editable.CreateAt(GridInsertRowPosition.Bottom))
                              .DataSource(dataSource => dataSource
                                      .Ajax()
                                      .Model(model =>
                                      {
                                          model.Id(m => m.ID);
                                          model.Field(m => m.Message).Editable(false);
                                          model.Field(m => m.CustomerName).Editable(false);
                                          model.Field(m => m.ComplaintantName).Editable(false);
                                          model.Field(m => m.Created).Editable(false);
                                          model.Field(m => m.ResponseTime).Editable(false);
                                          model.Field(m => m.ReplierName).Editable(false);
                                          model.Field(m => m.Order).Editable(false);
                                      })
                                      .Read(read => read.Action("Read", "NIMilkOrderFeedbackGrid").Data("GetSearchInfo"))
                                      .Create(create => create.Action("Create", "NIMilkOrderFeedbackGrid"))
                                      .Update(update => update.Action("Update", "NIMilkOrderFeedbackGrid"))
                              )
                              .Pageable(p => p.PageSizes(new[] { 10, 20, 50 }).Messages(m => m.Display("{0} - {1} of {2} Compaints").Empty("No Feedback Found")))
                              .Events(events => events.DataBound("KendoGridDatabound"))
                        )
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading" onclick="$('#div_oneoff_complaints').slideToggle()" style="text-align:center; cursor: pointer;" title="Click to hide/show this panel">
                        One-Off Order Complaints
                    </div>
                    <div class="panel-body" id="div_oneoff_complaints" style="padding: 0px;">
                        @(Html.Kendo().Grid<NuIngredient.Models.OneOffOrderComplaintNIViewModel>()
                            .Name("GridOneOffOrderComplaints")
                            .Columns(columns =>
                              {
                                  columns.Bound(f => f.ID).Hidden();
                                  columns.Bound(f => f.CustomerName).Title("Name");//.Width("1%");
                                  columns.Bound(f => f.Order).Title("Order").ClientTemplate("<a href='javascript:void(0)' onclick=\"OneOffOrder('#=OneOffOrderID#')\">#=Order#</a>");
                                  columns.Bound(f => f.Message).Title("Message").EditorTemplateName("TextAreaTemplate").HtmlAttributes(new { @style = "white-space: pre-wrap;" });
                                  columns.Bound(f => f.ComplaintantName).Title("User");
                                  columns.Bound(f => f.Created).Title("Time").ClientTemplate("#=kendo.toString(Created, \"dd/MM/yy HH:mm\")#");
                                  columns.Bound(f => f.NIComment).Title("NI Comment").EditorTemplateName("TextAreaTemplate").HtmlAttributes(new { @style = "white-space: pre-wrap;" }); ;
                                  columns.Bound(f => f.ReplierName).Title("Replier Name");
                                  columns.Bound(f => f.ResponseTime).Title("Response Time").ClientTemplate("#if(ResponseTime != null){# #=kendo.toString(ResponseTime, \"dd/MM/yy HH:mm\")# #} #");
                                  columns.Command(command => command.Edit()
                                                                      .Text("<span class='glyphicon glyphicon-edit glyphicon-btn'/>")
                                                                      .UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn'/>")
                                                                      .CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn'/>")).Width("80px");
                              })
                              .Editable(editable => editable.CreateAt(GridInsertRowPosition.Bottom))
                              .DataSource(dataSource => dataSource
                                      .Ajax()
                                      .Model(model =>
                                      {
                                          model.Id(m => m.ID);
                                          model.Field(m => m.Message).Editable(false);
                                          model.Field(m => m.CustomerName).Editable(false);
                                          model.Field(m => m.ComplaintantName).Editable(false);
                                          model.Field(m => m.Created).Editable(false);
                                          model.Field(m => m.ResponseTime).Editable(false);
                                          model.Field(m => m.ReplierName).Editable(false);
                                          model.Field(m => m.Order).Editable(false);
                                      })
                                      .Read(read => read.Action("Read", "NIOneOffOrderComplaintsGrid").Data("GetSearchInfo"))
                                      .Create(create => create.Action("Create", "NIOneOffOrderComplaintsGrid"))
                                      .Update(update => update.Action("Update", "NIOneOffOrderComplaintsGrid"))
                              )
                              .Pageable(p => p.PageSizes(new[] { 10, 20, 50 }).Messages(m => m.Display("{0} - {1} of {2} Compaints").Empty("No Feedback Found")))
                              .Events(events => events.DataBound("KendoGridDatabound"))
                        )
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .div-inline {         
        overflow: hidden;
        white-space: nowrap;
        text-align:center;
        align-items:center;
    }
</style>

<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_Edit" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 800px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="Edit_Body"></div>
    </div>
</div>

  <!-- Modal -->
<div class="modal fade" id="Modal" role="dialog" style="z-index:2000">
    <div class="modal-dialog" style="width:400px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center;">Supplier</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<script>

    function Refresh() {
        $("#GridFruitOrderComplaints").data("kendoGrid").dataSource.read();
        $("#GridMilkOrderComplaints").data("kendoGrid").dataSource.read();
        $("#GridOneOffOrderComplaints").data("kendoGrid").dataSource.read();

    }

    function GetSearchInfo() {
        return {
            filterText: $('#TB_Filter').val(),
            companyID: $('#DropDownCompanies').val(),
            userID: $('#DropDownUsers').val(),
            dateType: $('#DropDownDate').val(),
            fromDate: kendo.toString($("#DateFrom").data("kendoDatePicker").value(), 'dd/MM/yyyy'),
            toDate: kendo.toString($("#DateTo").data("kendoDatePicker").value(), 'dd/MM/yyyy'),
            showCompleted: $('#Span_ShowCompleted').hasClass('glyphicon-check')
        }
    }

    $("#TB_Filter").keyup(function (e) {
        if (e.keyCode == 13) {
            Refresh();
        }
    });

    function HideViews() {
        $("#SlideContent_Edit").animate({ width: '0%' }, { queue: false, duration: 300 });
        setTimeout(function () {
            $("#SlideContent_Edit").css("display", "none");
            $("#Button_Close_Content").css("display", "none");
            Refresh();
        }, 300);
    }

    function OnCompanyChange() {
        $('#DropDownUsers').data('kendoDropDownList').dataSource.read();
        Refresh();
    }

    function DateChanged() {
        var id = $("#DropDownDate").data("kendoDropDownList").value();

        if (id == 3) { $("#div_CustomDateRange").show(); }
        else { $("#div_CustomDateRange").hide(); }

        Refresh();
    }

    function FruitOrderInvoice(id) {
        $.ajax({
            url: '/Complaints/_EditFruitInvoice',
            type: 'Get',
            data: {
                id: id
            },
            success: function (response) {
                $('#Modal .modal-title').html("Fruit Order Histories");
                $('#Modal .modal-dialog').css("width", "1000px");
                $('#Modal .modal-body').html(response);
                $('#Modal').modal('show');
            }
        })
    }

    function OneOffOrder(id) {
        $.ajax({
            url: '/OrderManagement/_EditOneOffOrder',
            type: 'Get',
            data: {
                id: id
            },
            success: function (response) {
                $('#Modal .modal-title').html("One-Off Order Histories");
                $('#Modal .modal-dialog').css("width", "700px");
                $('#Modal .modal-body').html(response);
                $('#Modal').modal('show');
            }
        })
    }

    function ToggleCompleted() {
        $('#Span_ShowCompleted').toggleClass('glyphicon-check glyphicon-unchecked');
        Refresh();
    }

</script>