﻿@{
    ViewBag.Title = "Mirror Restricted Products";
}


<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>

        <div class="col-sm-12">
            <label>Mirro From Customer:</label>
            @(Html.Kendo().DropDownList()
                .Name("DropDownFromCompany")
                .OptionLabel("Please Select a Customer")
                .DataTextField("Name")
                .DataValueField("ID")
                .Filter(FilterType.Contains)
                .DataSource(dataSource => dataSource.Read(read => read.Action("DropDownCompanies", "Companies")))
                .Events(events => events.Change("Refresh"))
                .HtmlAttributes(new { @style = "width: 200px;" })
                )
            
            <label>To:</label>
            @(Html.Kendo().DropDownList()
                .Name("DropDownToCompany")
                .OptionLabel("Please Select a Customer")
                .DataTextField("Name")
                .DataValueField("ID")
                .Filter(FilterType.Contains)
                .DataSource(dataSource => dataSource.Read(read => read.Action("DropDownCompanies", "Companies")))
                .Events(events => events.Change("RefreshTargetRestrictProducts"))
                .HtmlAttributes(new { @style = "width: 200px;" })
                )
            <div class="btn btn-primary" onclick="MirrorRestrictProducts()">Mirror</div>
            <hr/>
        </div>
        <div class="col-sm-6">
            <label>From Customer Restricted Products</label>
            @(Html.Kendo().Grid<NuIngredient.Models.RestrictedProductVm>()
                .Name("GridRestrictedProducts")
                .Columns(columns =>
                {
                    columns.Bound(f => f.ProductCategory).Title("Category").Width("20%");
                    columns.Bound(f => f.ProductCode).Title("Product Code").Width("10%");
                    columns.Bound(f => f.ProductName).Title("Product Name");
                })
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .ServerOperation(false)
                    .Read(read => read.Action("ReadRestrictedProducts", "Mirror").Data("GetSearchInfoFrom"))
                    .PageSize(20)
                )
                .Pageable(p => p.PageSizes(new[] { 10, 20, 50 }).Messages(m => m.Display("{0} - {1} of {2} Items").Empty("No Items Found")))
                .Events(events => events.DataBound("KendoGridDatabound"))
                )
        </div>
        <div class="col-sm-6">
            <label>Target Customer Restricted Products</label>
            @(Html.Kendo().Grid<NuIngredient.Models.RestrictedProductVm>()
                .Name("GridTargetRestrictedProducts")
                .Columns(columns =>
                {
                    columns.Bound(f => f.ProductCategory).Title("Category").Width("20%");
                    columns.Bound(f => f.ProductCode).Title("Product Code").Width("10%");
                    columns.Bound(f => f.ProductName).Title("Product Name");
                })
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .ServerOperation(false)
                    .Read(read => read.Action("ReadRestrictedProducts", "Mirror").Data("GetSearchInfoTarget"))
                    .PageSize(20)
                )
                .Pageable(p => p.PageSizes(new[] { 10, 20, 50 }).Messages(m => m.Display("{0} - {1} of {2} Items").Empty("No Items Found")))
                .Events(events => events.DataBound("KendoGridDatabound"))
                )
        </div>
    </div>
</div>

<style>
    .div-inline {         
        overflow: hidden;
        white-space: nowrap;
        text-align:center;
        align-items:center;
    }
</style>

<script>

    function Refresh() {
        $("#GridRestrictedProducts").data("kendoGrid").dataSource.read();
    }

    function GetSearchInfoFrom() {
        return {
            companyID: $('#DropDownFromCompany').val(),
        }
    }
    
    function RefreshTargetRestrictProducts() {
        $("#GridTargetRestrictedProducts").data("kendoGrid").dataSource.read();
    }

    function GetSearchInfoTarget() {
        return {
            companyID: $('#DropDownToCompany').val(),
        }
    }
    
    function MirrorRestrictProducts()
    {
        const ddFromCompany = $('#DropDownFromCompany').data('kendoDropDownList');
        const ddToCompany = $('#DropDownToCompany').data('kendoDropDownList');
        
        const fromCompanyID = ddFromCompany.value();
        const toCompanyID = ddToCompany.value();
        
        if (fromCompanyID === '')
            return alert("Please select a customer to mirror from");
        
        if (toCompanyID === '')
            return alert("Please select a customer to mirror to");
        
        if (!confirm(`Are you sure you want to mirror the restricted products from "${ddFromCompany.text()}" to "${ddToCompany.text()}"`))
            return;
        
        $.post({
            url: '/Mirror/MirrorTo',
            data: {
                fromCompanyID: fromCompanyID,
                toCompanyID: toCompanyID
            },
            success: function (response) {
                RefreshTargetRestrictProducts();
                alert(response);
            }
        });
        
        alert("This may take up to 1 minutes, please wait.");
    }

</script>