﻿@using NuIngredient.Models
@model NuIngredient.Models.EditFruitProductViewModel

<div class="row form-table">
    <div class="col-sm-12">
        <hr />
    </div>
    <div class="col-sm-4">
        <table>
            <tr>
                <td style="width:100px"><label>Product Code:</label></td>
                <td>
                    @Html.TextBoxFor(model => model.ProductCode, new { @class = "form-control", @placeholder = "Enter Fruit Product Code" })
                    @Html.ValidationMessageFor(model => model.ProductCode, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td style="width:100px"><label>Product Name:</label></td>
                <td>
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Enter Fruit Product Name" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td><label>Categories:</label></td>
                <td>
                    @(Html.Kendo().MultiSelectFor(mdoel => Model.CategoryIDs)
                                .DataValueField("ID")
                                .DataTextField("Name")
                                .DataSource(dataSource => dataSource.Read(read => read.Action("DropDownAllCategories", "FruitProductCategories").Type(HttpVerbs.Post)))
                                .HtmlAttributes(new { @style = "width: 100%; max-width: 280px;" })
                    )
                </td>
            </tr>
            <tr>
                <td><label>Short Description:</label></td>
                <td>@Html.TextAreaFor(model => model.ShortDescription, 5, 100, new { @class = "form-control", @placeholder = "Enter Description" })</td>
            </tr>
        </table>
    </div>
    <div class="col-sm-4">
        <table>
            <tr>
                <td><label>Type:</label></td>
                <td>
                    
                    @(Html.Kendo().DropDownListFor(m => m.FruitProductType)
                        .DataTextField("Name")
                        .DataValueField("ID")
                        .Value(Model.FruitProductType.ToString())
                        .BindTo(Enum.GetNames(typeof(FruitProductType))
                                        .Select(x => new SelectItemViewModel() { ID = x, Name = x })
                                        .ToList()
                        )
                        .HtmlAttributes(new { @style = "width: 100%;" })
                    )
                </td>
            </tr>
            <tr>
                <td><label>Unit:</label></td>
                <td>@Html.TextBoxFor(model => model.Unit, new { @class = "form-control", @placeholder = "e.g kgs, mm" })</td>
            </tr>
            <tr>
                <td><label>Price:</label></td>
                <td>
                    @Html.Kendo().NumericTextBoxFor(model => model.Price).Decimals(2)
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td><label>Cost:</label></td>
                <td>
                    @Html.Kendo().NumericTextBoxFor(model => model.Cost).Decimals(2)
                    @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td><label>VAT:</label></td>
                <td>
                    @Html.Kendo().NumericTextBoxFor(model => model.VAT).Format("p").Decimals(2).Step(0.01m)
                    @Html.ValidationMessageFor(model => model.VAT, "", new { @class = "text-danger" })
                </td>
            </tr>
        </table>
    </div>
    <div class="col-sm-4">
        <table>
            <tr>
                <td>
                @(Html.Kendo().CheckBoxFor(model => model.IsActive)
                    .Name("IsActive")
                    .Label("Is Active")
                )
                </td>
            </tr>
            <tr>
                <td>
                    @(Html.Kendo().CheckBoxFor(model => model.IsExclusive)
                    .Name("IsExclusive")
                    .Label("Is Exclusive")
                    )
                </td>
            </tr>
            <tr>
                <td>
                    @(Html.Kendo().CheckBoxFor(model => model.IsProspectsVisible)
                    .Name("IsProspectsVisible")
                    .Label("Is Visible by Prospects")
                    )
                </td>
            </tr>
            <tr>
                <td>
                    @(Html.Kendo().CheckBoxFor(model => model.ApplyPriceBreakToExclusive)
                        .Name("ApplyPriceBreakToExclusive")
                        .Label("Apply Price Break To Exclusive Customers")
                    )
                </td>
            </tr>
        </table>
    </div>
    <div class="col-sm-12">
        <label>Description:</label>
        @(Html.Kendo().EditorFor(model => model.Description)
                        .HtmlAttributes(new { @class = "form-control", @placeholder = "Enter Description here", @style = "width:1170px; max-width:none; margin-bottom:10px; heigh:700px;" })
                        .Encode(false)
                        .Tools(tools => tools.FontName()
                                            .FontSize()
                                            .ViewHtml()
                        )
                        .Resizable()
        )
    </div>

    <div class="col-sm-12">
        <br /><br />
        <input type="submit" value="@ViewData["SubmitValue"]" class="btn btn-inverse">
    </div>
    <div class="col-sm-12">
        <hr />
    </div>
</div>
