﻿@model NuIngredient.Models.EditFruitProductViewModel

<div id="divNewProduct">

    @using (Ajax.BeginForm("_New", "FruitProductManagement", null, new AjaxOptions { UpdateTargetId = "divNewProduct", OnSuccess = "OnSuccess" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        //@Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="row">
            <div class="col-xs-9">
                <h2>New Fruit</h2>
            </div>
            <div class="col-xs-3">
                <br />
                <a class="btn btn-sm btn-default" onclick="HideViews(); return false;" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
            </div>
        </div>

        @Html.Partial("_EditDetails", Model, new ViewDataDictionary() { { "SubmitValue", "Add Product" } })
    }

    <script>
        function OnSuccess(response) {
            //Call function from Index view
            if (response["ID"] != null) {
                CreatedFruit(response["ID"]);
            }
        }
    </script>
</div>
