﻿@model NuIngredient.Models.EditFruitProductViewModel
    <br />
    <a class="btn btn-info btn-xs" onclick="$('#GridPrices').data('kendoGrid').addRow();" style="margin-bottom:5px;"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add Price</a>

    @(Html.Kendo().Grid<NuIngredient.Models.FruitProductPriceViewModel>()
            .Name("GridPrices")
            .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Prices").Empty("No Prices Found")))
            .Columns(columns =>
            {
                columns.Bound(m => m.ID).Hidden();
                columns.Bound(m => m.ProductID).Hidden();
                columns.Bound(m => m.BreakPoint).Title("Break Point").EditorTemplateName("BreakPointEditor").Width("1%");
                columns.Bound(m => m.Price).Title("Price").ClientTemplate("#=kendo.toString(Price, 'c')#");
                columns.Command(command =>
                {
                    command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn'/>").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn'/>").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn'/>");
                    command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn'/>");
                }).Width("90px");
            })
            .Editable(editable => editable.Mode(GridEditMode.InLine).CreateAt(GridInsertRowPosition.Bottom).ConfirmDelete("Are you sure you want to delete this item?"))
            .Sortable()
            .DataSource(dataSource => dataSource
                .Ajax()
                .Model(model =>
                {
                    model.Id(m => m.ID);
                    model.Field(m => m.ProductID).DefaultValue(Model.ID.ToString());
                })
                .Create(create => create.Action("Create", "FruitProductPriceGrid"))
                .Read(read => read.Action("Read", "FruitProductPriceGrid", new { productID = Model.ID }))
                .Update(update => update.Action("Update", "FruitProductPriceGrid"))
                .Destroy(destroy => destroy.Action("Destroy", "FruitProductPriceGrid"))
            )
            .Events(events => events.DataBound("KendoGridDatabound"))
            .HtmlAttributes(new { @style="max-width: 250px;" })
    )

    <br />
    <br />
    <br />
