﻿@model NuIngredient.Models.EditFruitProductViewModel
<br />
<a class="btn btn-info btn-xs" onclick="$('#GridTagPrices').data('kendoGrid').addRow();" style="margin-bottom:5px;"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add Tag Price</a>

@(Html.Kendo().Grid<NuIngredient.Models.FruitProductTagPriceViewModel>()
        .Name("GridTagPrices")
        .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Customter Prices").Empty("No Customter Prices Found")))
        .Columns(columns =>
        {
            columns.Bound(m => m.ID).Hidden();
            columns.Bound(m => m.ProductID).Hidden();
            columns.Bound(m => m.Tag).Title("Tag").ClientTemplate("<label class='label label-info' style='background-color: #=Tag.HexColour#'>#=Tag.Name#</label>").EditorTemplateName("TagDropDown");
            columns.Bound(m => m.Price).Title("Price").ClientTemplate("#=kendo.toString(Price, 'c')#").Width("1%");
            columns.Command(command =>
            {
                command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn'/>").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn'/>").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn'/>");
                command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn'/>");
            }).Width("90px");
        })
        .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this item?"))
        .Sortable()
        .DataSource(dataSource => dataSource
            .Ajax()
            .Model(model =>
            {
                model.Id(m => m.ID);
                model.Field(m => m.ProductID).DefaultValue(Model.ID.ToString());
                model.Field(m => m.Tag).DefaultValue(new NuIngredient.Models.TagGridViewModel() { ID = "", Name = "" });
            })
            .Create(create => create.Action("Create", "FruitProductTagPriceGrid"))
            .Read(read => read.Action("Read", "FruitProductTagPriceGrid", new { productID = Model.ID }))
            .Update(update => update.Action("Update", "FruitProductTagPriceGrid"))
            .Destroy(destroy => destroy.Action("Destroy", "FruitProductTagPriceGrid"))
        )
        .Events(events => events.DataBound("KendoGridDatabound"))
        .HtmlAttributes(new { style = "max-width: 490px;" })
)

<br />
<br />
<br />
