﻿@{
    ViewBag.Title = "Fruit Management";
}

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-xs-6">
            <br />
        </div>
        <div class="col-xs-12">
            <br />
        </div>
        <div class="col-xs-6">
            <a class="btn btn-primary" onclick="NewFruit(); return false;"><span class="fa fa-cube"></span>&nbsp;&nbsp;New Fruit</a>
        </div>
        <div class="col-xs-2">
            @(Html.Kendo().DropDownList()
                          .Name("DropDownCategories")
                          .OptionLabel("All Categories")
                          .DataTextField("Name")
                          .DataValueField("ID")
                          .DataSource(dataSource => dataSource.Read(read => read.Action("DropDownAllCategories", "FruitProductCategories")))
                          .Events(events => events.Change("Refresh"))
                          .HtmlAttributes(new { @style = "width: 100%;" })
            )
        </div>
        <div class="col-xs-4">
            <div class="input-group">
                @Html.TextBox("TB_FruitFilter", null, new { @class = "form-control", @style = "max-width:none;", @placeholder = "Search by Name or Description" })
                <span class="input-group-btn">
                    <a class="btn btn-default" onclick="Refresh(); return false;"><span class="glyphicon glyphicon-search"></span></a>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>
        <div id="divPager" class="col-sm-12">
            <div class="form-group" role="group" aria-label="...">
                <button class="btn btn-sm btn-default" onclick="Refresh();"><span class="glyphicon glyphicon-refresh" ></span>&nbsp; Refresh</button>&nbsp;
                <div class="pull-right">
                    @(Html.Kendo().CheckBox().Label("Show Inactive").Name("ShowInactive").HtmlAttributes(new {onclick="Refresh();"}))
                </div>                 
            </div>
        </div>
        <div class="col-sm-12">
            @(Html.Kendo().Grid<NuIngredient.Models.FruitProductGridViewModel>()
                .Name("GridFruits")
                .Pageable(p => p.PageSizes(new[] { 50, 100, 200, 1000 }).Messages(m => m.Display("{0} - {1} of {2} Fruits").Empty("No Fruits Found")))
                .Columns(columns =>
                {
                    columns.Bound(u => u.ID).ClientTemplate("<input type='checkbox' value='#=ID#' name='chk_grid'>").Width("1%").Hidden();
                    columns.Bound(u => u.ImageURL).Title("Image").ClientTemplate("<a class='fancybox-media' target='_blank' href='#=ImageURL#' ><img src='#=ImageURL#' style='width:100%; max-height:50px; max-width:50px;'></a>").Width(70);
                    columns.Bound(u => u.Name).Width(200);
                    columns.Bound(u => u.CategoryName).Title("Category").HtmlAttributes(new {@style="white-space: pre-line;"}).Width(150);
                    columns.Bound(u => u.ShortDescription).Title("Description").Width(200);
                    columns.Bound(u => u.Unit).Title("Unit").Width(70);
                    //columns.Bound(u => u.Price).ClientTemplate("#=kendo.toString(Price, 'C')#");
                    columns.Bound(u => u.Prices).HtmlAttributes(new { @style = "white-space: pre;" }).Width(150);
                    columns.Bound(u => u.VAT).ClientTemplate("#=kendo.toString(VAT, 'p')#").Width(65);
                    columns.Bound(u => u.IsActive).Title("Active").ClientTemplate("<i class='glyphicon #if(IsActive){#glyphicon-check#}else{#glyphicon-unchecked#}#'></i>").HtmlAttributes(new { @style = "text-align:center", @title="Tick if the product is alive." }).Width(30);
                    columns.Bound(u => u.IsExclusive).Title("Exclusive").ClientTemplate("<i class='glyphicon #if(IsExclusive){#glyphicon-check#}else{#glyphicon-unchecked#}#'></i>").HtmlAttributes(new { @style = "text-align:center", @title= "Tick if the product shows to only the customers with customer prices." }).Width(30);
                    columns.Bound(u => u.IsProspectsVisible).Title("Prospects Visible").ClientTemplate("<i class='glyphicon #if(IsProspectsVisible){#glyphicon-check#}else{#glyphicon-unchecked#}#'></i>").HtmlAttributes(new { @style = "text-align:center", @title="Tick if the product shows to prospects." }).Width(30);
                    columns.Template(@<text></text>).ClientTemplate("<a title='Edit' href='\\#' onclick='EditFruit(\"#=ID#\"); return false;'><span class='glyphicon glyphicon-edit glyphicon-btn'/></a>").Width(50);
                    columns.Command(command =>
                    {
                        command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn'/>");
                    }
                    ).Width(50);

                })
                .Scrollable(scrollable => scrollable.Height(500).Enabled(true))
                .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this product?"))
                //.Sortable()
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(t => t.ID);
                    })
                    .Read(read => read.Action("Read", "FruitProductGrid").Data("GetSearchInfo")).PageSize(50)
                    .Destroy(destory => destory.Action("Destroy", "FruitProductGrid"))
                )
                .Events(events => events.DataBound("KendoGridDatabound"))
            )
        </div>
    </div>
</div>

<style>
    .div-inline {         
        overflow: hidden;
        white-space: nowrap;
        text-align:center;
        align-items:center;
    }
</style>

<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_Edit" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 1300px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="Edit_Body"></div>
    </div>
</div>

  <!-- Modal -->
<div class="modal fade" id="Modal" role="dialog" style="z-index:1200;">
    <div class="modal-dialog" style="width:400px;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script>

    @if (!string.IsNullOrEmpty(ViewBag.ProductID))
    {
        <text>
        EditProduct('@ViewBag.ProductID');
        </text>
    }

    function Refresh() {
        var grid = $("#GridFruits").data("kendoGrid");
        grid.dataSource.read();
    }

    function GetSearchInfo() {
        return {
            filterText: $('#TB_FruitFilter').val(),
            categoryID: $('#DropDownCategories').val(),
            showInactive: $('#ShowInactive').is(':checked')
        }
    }

    $("#TB_FruitFilter").keyup(function (e) {
        if (e.keyCode == 13) {
            Refresh();
        }
    });


    //Below the following functions are used the show/hide the content panels.
    function NewFruit() {
        $("#Edit_Body").load("@Url.Action("_New", "FruitProductManagement")");

        $("#SlideContent_Edit").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_Edit").css("display", "block");
        $("#Button_Close_Content").css("display", "block");
    }

    function EditFruit(id) {
        var url = '@Url.Action("_Edit", "FruitProductManagement")' + '?ID=' + id;
        $("#Edit_Body").load(url);

        $("#SlideContent_Edit").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_Edit").css("display", "block");
        $("#Button_Close_Content").css("display", "block");
    }

    function CreatedFruit(id) {
        var url = '@Url.Action("_Edit", "FruitProductManagement")' + '?ID=' + id;
        $("#Edit_Body").load(url);
    }

    function HideViews() {
        $("#SlideContent_Edit").animate({ width: '0%' }, { queue: false, duration: 300 });
        setTimeout(function () {
            $("#SlideContent_Edit").css("display", "none");
            $("#Button_Close_Content").css("display", "none");
            Refresh();
        }, 300);
    }

    $(".k-grid[id='GridFruits'] table").kendoSortable({
        connectWith: ".k-grid[id='GridFruits'] table",
        filter: ">tbody >tr:not('.k-grid-edit-row')",
        disabled: ".no-drag", //do not allow transferring the no records row
        hint: $.noop,
        cursor: "move",
        placeholder: function (element) {
            return element.clone().addClass("k-state-hover").css("opacity", 0.65);
        },
        change: function (e) { //change event handler implementation may differ according to the scenario
            let categoryID = $('#DropDownCategories').val();
            if (categoryID == '') {
                Refresh();
                return alert("You can only sort when category selected");
            }

            try {
                var element = this.element.closest(".k-grid[id='GridFruits']");
                var grid = this.element.closest(".k-grid[id='GridFruits']").data("kendoGrid");
                var dataItem = null; grid.dataSource.getByUid(e.item.data("uid"));

                $('[id="GridFruits"]').each(function () {
                    if (dataItem == null)
                        dataItem = $(this).data('kendoGrid').dataSource.getByUid(e.item.data("uid"));
                });

                if (e.action == "receive" || e.action == "sort")
                    $.ajax({
                    url: '@Url.Action("_UpdateProductPositions", "FruitProductGrid")',
                        type: 'POST',
                        data: {
                            productID: dataItem.ID,
                            oldIndex: e.oldIndex,
                            newindex: e.newIndex,
                            categoryID: categoryID
                        },
                        dataType: "json",
                        success: function (data) { Refresh(); }
                });
            }
            catch (ex) { Refresh(); }
        },
        move: function(e) {
            console.log("move to index: " + this.indexOf(this.placeholder));
        }
    });
</script>



