﻿@model NuIngredient.Models.MessageViewModel

<div class="container" id="divEditMessage">

    @using (Ajax.BeginForm("_Edit", "Messages", null, new AjaxOptions { UpdateTargetId = "divEditMessage", OnBegin = "AjaxBegin", OnComplete = "AjaxComplete" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        //@Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="row">
            <div class="col-xs-9">
                <h2>Edit Message</h2>
            </div>
            <div class="col-xs-3">
                <br />
                <br />
                <a class="btn btn-sm btn-default" onclick="HideViews(); return false;" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
            </div>
        </div>

        <div class="row form-table">
            <div class="col-sm-12">
                <hr />
                <table>
                    <tr>
                        <td style="width:100px"><label>Targets:</label></td>
                        <td>
                            @(Html.Kendo().MultiSelectFor(mdoel => Model.MessageTargets)
                                                  .DataValueField("ID")
                                                  .DataTextField("Name")
                                                  .DataSource(dataSource => dataSource.Read("DropDownTargets", "Dropdowns"))
                            )
                            @Html.ValidationMessageFor(model => model.MessageTargets, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>From Date:</label></td>
                        <td>
                            @Html.Kendo().DatePickerFor(model => model.FromDate).Value(DateTime.Today)
                            @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>To Date:</label></td>
                        <td>
                            @Html.Kendo().DatePickerFor(model => model.ToDate).Value(DateTime.Today)
                            @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>Title:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @placeholder = "Enter Title", @style="max-width: none;" })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: baseline;"><label>Content:</label></td>
                        <td>
                            
                            @(Html.Kendo().EditorFor(model => model.Content)
                                          .HtmlAttributes(new { @class = "form-control", @placeholder = "Enter Content here", @style = "max-width:none; margin-bottom:10px; heigh:350px;" })
                                          .Encode(false)
                                          .Tools(tools => tools.FontName()
                                                               .FontSize()
                                          )
                                          .Resizable()
                            )
                            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })


                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: baseline;"><label>Attachments</label></td>
                        <td>
                            @(Html.Kendo().Grid<NuIngredient.Models.MessageAttachmentGridViewModel>()
                                .Name("GridAttachments")
                                .Columns(columns => 
                                {
                                    columns.Bound(m => m.FileName).ClientTemplate("<a href='#=FilePath#' download>#=FileName#</a>").HtmlAttributes(new {@style="padding-left: 8px;"});
                                })
                                .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .Model(model =>
                                    {
                                        model.Id(t => t.ID);
                                    })
                                    .Read(read => read.Action("Read", "MessageAttachments", new { messageID = Model.ID })).PageSize(25)
                                    .Destroy(destory => destory.Action("Destroy", "MessageAttachments"))
                                )
                            )
                        </td>
                    </tr>
                </table>
            </div>
            
            <div class="col-sm-12">

            </div>

            <div class="col-sm-12">
                <br /><br />
                <input type="submit" value="Save" class="btn btn-inverse">
                @if (ViewBag.Saved != null)
                {
                    <br />
                                <label class="l_Saved"><strong>Details Saved!</strong></label>
                }
            </div>
            <div class="col-sm-12">
                <hr />
            </div>
        </div>
    }

</div>
