﻿@using NuIngredient.Models
@model NuIngredient.Models.MessageViewModel

<div class="container" id="divNewMessage">

    <script>
        function OnAttachmentUploadSuccess(e) {
            if (e.response.status == "error") {
                alert("Error: " + e.response.message);
            }
            else {
                $.each(e.response, function(index, ele) {
                    var attchIDs = $('#attachmentIDs').val();
                    attchIDs = attchIDs == "" ?
                        ele.ID
                        : attchIDs + "," + ele.ID;
                    $('#attachmentIDs').val(attchIDs);
                })
                $("#GridAttachments").data("kendoGrid").dataSource.read();
            }
        }

        function OnAttachmentUpload(e) {
            var files = e.files;
            $.each(files, function () {
                if (this.size / 1024 / 1024 > 20) {
                    alert("Max 20Mbs file size is allowed!");
                    e.preventDefault();
                }
            });
        }

        function DeleteAttachment(id){
            if(confirm("Are your sure you want to delete this file?")){
                $.ajax({
                    url: '@Url.Action("DeleteAttachment", "MessageAttachments")',
                        type: 'POST',
                        data: { ID: id },
                        dataType: "json",
                        success: function (data) {
                            $("#GridAttachments").data("kendoGrid").dataSource.read();
                        }
                });
            }
        }

        function GetAttachmentIDs() {
            return {
                ids: $("#attachmentIDs").val().split(",")
            };
        }

    </script>

    @using (Ajax.BeginForm("_New", "Messages", null, new AjaxOptions { UpdateTargetId = "divNewMessage", OnSuccess = "OnSuccess", OnBegin = "AjaxBegin", OnComplete = "AjaxComplete" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        //@Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.Hidden("attachmentIDs")
        <div class="row">
            <div class="col-xs-9">
                <h2>New Message</h2>
            </div>
            <div class="col-xs-3">
                <br />
                <br />
                <a class="btn btn-sm btn-default" onclick="HideViews(); return false;" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
            </div>
        </div>

        <div class="row form-table">
            <div class="col-sm-12">
                <hr />
                <table>
                    <tr>
                        <td style="width:100px"><label>Targets:</label></td>
                        <td>
                            @(Html.Kendo().MultiSelectFor(mdoel => Model.MessageTargets)
                                                  .DataValueField("ID")
                                                  .DataTextField("Name")
                                                  .DataSource(dataSource => dataSource.Read("DropDownTargets", "Dropdowns"))
                            )
                            @Html.ValidationMessageFor(model => model.MessageTargets, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>From Date:</label></td>
                        <td>
                            @Html.Kendo().DatePickerFor(model => model.FromDate).Value(DateTime.Today)
                            @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>To Date:</label></td>
                        <td>
                            @Html.Kendo().DatePickerFor(model => model.ToDate).Value(DateTime.Today)
                            @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>Title:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @placeholder = "Enter Title", @style="max-width: none;" })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: baseline;"><label>Content:</label></td>
                        <td>
                            
                            @(Html.Kendo().EditorFor(model => model.Content)
                                          .HtmlAttributes(new { @class = "form-control", @placeholder = "Enter Content here", @style = "max-width:none; margin-bottom:10px; heigh:350px;" })
                                          .Encode(false)
                                          .Tools(tools => tools.FontName()
                                                               .FontSize()
                                          )
                                          .Resizable()
                            )
                            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })


                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: baseline;"><label>Attachments</label></td>
                        <td>
                            @(Html.Kendo().Grid<NuIngredient.Models.MessageAttachmentGridViewModel>()
                                .Name("GridAttachments")
                                .Columns(columns => 
                                {
                                    columns.Bound(m => m.FileName).ClientTemplate("<a href='#=FilePath#' download>#=FileName#</a>").HtmlAttributes(new {@style="padding-left: 8px;"});
                                    columns.Template(@<text></text>).ClientTemplate("<span class='btn glyphicon glyphicon-trash glyphicon-btn' onclick='DeleteAttachment(\"#=ID#\")' />").Width(1);
                                })
                                .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .Model(model =>
                                    {
                                        model.Id(t => t.ID);
                                    })
                                    .Read(read => read.Action("Read", "MessageAttachments").Data("GetAttachmentIDs")).PageSize(25)
                                    .Destroy(destory => destory.Action("Destroy", "MessageAttachments"))
                                )
                            )
                            @(Html.Kendo().Upload().Multiple(true)
                                .Name("uploadedAttachments")
                                .Messages(a => a.Select("<span class=\"glyphicon glyphicon-cloud-upload\"></span>&nbsp;&nbsp; Select Files or <strong>Drag and Drop Here...</strong>"))
                                .Async(a => a.Save("UploadAttachment", "MessageAttachments", new { messageID = Model.ID }))
                                .ShowFileList(false)
                                .HtmlAttributes(new { style = "padding:1px" })
                                .Events(events => events.Upload("OnAttachmentUpload").Success("OnAttachmentUploadSuccess"))
                            )
                        </td>
                    </tr>
                </table>
            </div>
            
            <div class="col-sm-12">

            </div>

            <div class="col-sm-12">
                <br /><br />
                <input type="submit" value="Save & Send" class="btn btn-inverse">
            </div>
            <div class="col-sm-12">
                <hr />
            </div>
        </div>
    }

    <script>
        function OnSuccess(response) {
            //Call function from Index view
            if (response["ID"] != null) {
                CreatedMessage(response["ID"]);
            }
        }
    </script>
</div>
