﻿@{
    ViewBag.Title = "Messages";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-xs-12">
            <hr />
        </div>
        <div id="divPager" class="col-sm-12">
            <div class="form-group" role="group" aria-label="...">
                <button class="btn btn-sm btn-default" onclick="Refresh();"><span class="glyphicon glyphicon-refresh"></span>&nbsp; Refresh</button>&nbsp;
                <button class="btn btn-sm btn-warning" onclick="NewMessage();"><span class="glyphicon glyphicon-envelope"></span>&nbsp; New Message</button>&nbsp;
            </div>
        </div>
        <div class="col-xs-12">
            @(Html.Kendo().Grid<NuIngredient.Models.MessageGridViewModel>()
                .Name("GridMessages")
                .Pageable(p => p.PageSizes(new[] { 10, 20, 50 }).Messages(m => m.Display("{0} - {1} of {2} Messages").Empty("No Messages Found")))
                .Columns(columns =>
                {
                    columns.Bound(p => p.ID).Hidden();
                    columns.Bound(p => p.MessageTargets).ClientTemplate("#=TemplateTarget(MessageTargets)#").HtmlAttributes(new { @class= "div-inline"}).Width("1%");
                    columns.Bound(p => p.Title);
                    columns.Bound(p => p.Content).Encoded(false).HtmlAttributes(new { @class = "message-content"});
                    columns.Bound(p => p.FromDate).Format("{0: dd/MM/yyyy}").Width("1%");
                    columns.Bound(u => u.ToDate).Format("{0: dd/MM/yyyy}").Width("1%");
                    columns.Template(@<text></text>).ClientTemplate("<a title='Edit' href='\\#' onclick='EditMessage(\"#=ID#\"); return false;'><span class='glyphicon glyphicon-edit glyphicon-btn'/></a>").Width("1%");
                    //columns.Command(commands =>
                    //{
                    //    commands.Destroy().Text("<span class='glyphicon glyphicon-btn glyphicon-trash' />");
                    //}).Width("1%");
                })
                //.Sortable()
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(t => t.ID);
                    })
                    .Read(read => read.Action("Read", "MessageGrid")).PageSize(50)
                    .Destroy(destroy => destroy.Action("Destroy", "MessageGrid"))
                )
                .Events(events => events.DataBound("KendoGridDatabound"))
            //.HtmlAttributes(new { @style="display:table;"})
            )
        </div>
    </div>
</div>

<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_Edit" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 800px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="Edit_Body"></div>
    </div>
</div>

<script>
    function Refresh() {
        $('#GridMessages').data('kendoGrid').dataSource.read();
    }

    function NewMessage() {
        var url = '@Url.Action("_New", "Messages")';
        $("#Edit_Body").load(url);

        $("#SlideContent_Edit").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_Edit").css("display", "block");
        $("#Button_Close_Content").css("display", "block");
    }

    function CreatedMessage(id) {
        Refresh();
        var url = '@Url.Action("_Edit", "Messages")' + '/' + id;
        $("#Edit_Body").load(url);
    }

    function EditMessage(id) {
        var url = '@Url.Action("_Edit", "Messages")' + '/' + id;
        $("#Edit_Body").load(url);

        $("#SlideContent_Edit").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_Edit").css("display", "block");
        $("#Button_Close_Content").css("display", "block");
    }

    function TemplateTarget(messageTargets) {
        var template = "";
        for (var i = 0; i < messageTargets.length; i++) {
            template += "<span class='label label-primary' style='background-color: " + messageTargets[i].Colour + "'>" + messageTargets[i].Name + "</span> ";
        }
        return template;
    }
</script>
<style>
    .message-content {
        word-break: break-all;
    }
</style>