﻿@model string

@{
    // Layout = null;
    // var targetUrl = "https://test.sagepay.com/gateway/service/vspform-register.vsp"; // Test
    var targetUrl = "https://live.sagepay.com/gateway/service/vspform-register.vsp"; // Live
}

@* <div class="centered"> *@
@*     <img src="/Content/kendo/2017.2.621/none/loading-image.gif" alt="Loading..." style="width:100px;" /> *@
@*     <p>Redirecting...</p> *@
@* </div> *@

<div class="container mb-5" style="margin-top: 200px;">
    <div class="receipt">
        <div class="col">
            <p>@Model</p>
        </div>

    </div>
</div>

<style>
    label{display:flex; font-size:10px; color:white; opacity:.4;}
    
    .receipt{background: #dbdce0; border-radius:4px; padding:2%; height: 450px; max-width:600px; display:block; margin:auto; margin-top:-180px; position:relative;}
    
    .centered {
      position: fixed;
      top: 50%;
      left: 50%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);
    }
</style>
