﻿@model NuIngredient.Models.MonthlyPoPageViewModel

@{
    // Layout = null;
    // var targetUrl = "https://test.sagepay.com/gateway/service/vspform-register.vsp"; // Test
    var targetUrl = "https://live.sagepay.com/gateway/service/vspform-register.vsp"; // Live
}

@* <div class="centered"> *@
@*     <img src="/Content/kendo/2017.2.621/none/loading-image.gif" alt="Loading..." style="width:100px;" /> *@
@*     <p>Redirecting...</p> *@
@* </div> *@

<div class="container mb-5" style="margin-top: 200px;">
    <div class="receipt">
        <div class="col">
            <p>Hello <strong>@Model.CompanyName</strong></p>
            <p>Thank you for your custom during <strong>@Model.YearMonth.ToString("MMMM-yyyy")</strong></p>
            
            <p>Invoice Number: <strong>@Model.InvoiceNumber</strong></p>
            
            <p>Total Value of invoice is <strong>£@Model.Amount.ToString("#,0.00")</strong></p>
            
            <p>As your business pays our invoices by BACS and requires the monthly purchase order (PO) number to be denoted on your invoice, please add your monthly PO in the box below and Office-Groceries will re-issue your invoice.</p>
            <form action="Submit" method="post">
                @Html.HiddenFor(m => m.Amount)
                <input type="hidden" value="@Model.YearMonth.ToString("yyyy-MM-dd")" name="YearMonth" />
                @Html.HiddenFor(m => m.CompanyID)
                @Html.HiddenFor(m => m.InvoiceNumber)
                @Html.HiddenFor(m => m.Hash)
                <p>PO number:</p>
                @Html.TextBoxFor(m => m.PoNumber, new { @class = "form-control" })
                <p>Thank You from the Office-Groceries team</p>

                <input class="btn btn-success" type="submit" value="Submit"/>
            </form>
        </div>
    </div>
</div>

<style>
    label{display:flex; font-size:10px; color:white; opacity:.4;}
    
    .receipt{background: #dbdce0; border-radius:4px; padding:2%; height: 450px; max-width:600px; display:block; margin:auto; margin-top:-180px; position:relative;}
    
    .centered {
      position: fixed;
      top: 50%;
      left: 50%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);
    }
</style>
