﻿@model NuIngredient.Models.FeedbackViewModel

<div id="divEditFeedback">

    <div class="row">
        <div class="col-sm-12">
            @using (Ajax.BeginForm("_EditFeedback", "Feedbacks", null, new AjaxOptions { UpdateTargetId = "divEditFeedback" }, new { id = "EditFeedbackForm", method = "post" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.ID)
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Feedback</h2>
                    </div>
                    <div class="col-sm-6">
                        <br />
                        <div class="pull-right">
                            <input type="submit" value="Save Details" class="btn btn-sm btn-inverse">
                            <a class="btn btn-sm btn-default" onclick="HideViews(); return false;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
                            @if (ViewBag.Saved != null)
                            {
                                <br />
                                <label id="l_Saved"><strong>Details Saved!</strong></label>
                                <script>
                                    setTimeout(function () { $("#l_Saved").css("display", "none"); }, 2000);
                                </script>

                            }
                        </div>
                    </div>
                </div>
                <div class="row">   
                    <div class="col-sm-12"><br /></div>   
                    
                    <div class="col-sm-12">
                        <table class="table">
                            <tr>
                                <td><label>Customer:</label></td>
                                <td>@Model.CompanyName</td>
                            </tr>
                            <tr>
                                <td><label>User:</label></td>
                                <td>@Model.UserName</td>
                            </tr>
                            <tr>
                                <td><label>Type:</label></td>
                                <td><div class="label" style="background-color: @Model.FeedbackType.Colour">@Model.FeedbackType.Name</div></td>
                            </tr>
                            @if (Model.FeedbackTypeID == NuIngredient.Models.FeedbackTypeValues.DryGoods)
                            {
                            <tr>
                                <td><label>Order No:</label></td>
                                <td>@if (Model.DryGoodsOrder != null) { <text> @Model.DryGoodsOrder.OrderNumber </text> }</td>
                            </tr>
                            }
                            <tr>
                                <td><label>Time:</label></td>
                                <td>@Model.Created</td>
                            </tr>
                            <tr>
                                <td><label>Message:</label></td>
                                <td style = "white-space: pre-wrap;">@Html.Encode(Model.Message)</td>
                            </tr>
                            <tr>
                                <td><label>Comment:</label></td>
                                <td>@Html.TextAreaFor(model=> model.NIComment, 5, 90, new { @style = "max-width: 500px; "} )</td>
                            </tr>
                            <tr>
                                <td><label>Replyer:</label></td>
                                <td>@Model.Replier</td>
                            </tr>
                            <tr>
                                <td><label>Repsponse Time:</label></td>
                                <td>@if (Model.ResponseTime.HasValue) { <text> <div class="label label-warning">@Model.ResponseTime.Value.ToString("dd/MM/yyyy HH:mm")</div> </text> }</td>
                            </tr>
    
                            </table>
    
                        </div>
    

                        <div class="col-sm-12">
                        <hr />

                    </div>

                </div>

            }

        </div>

    </div>
</div>

<script>
    function OnEditCompanySuccess() {
        var url = '@Url.Action("_EditCompany", "Companies")' + '?ID=' + '@Model.ID';
        $("#Edit_Body").load(url);
    }
</script>