﻿@using NuIngredient.Models
@model NuIngredient.Models.FruitWeeklyOrderPageViewModel
@{
    // Only allow user to edit orders when it's in editable time, except for the user does not yet activate fruit account
    var isEditableTime = AppSettings.IsEditableTime() || (Model.LiveOnFruit == false && Model.LiveOnSnack == false);
    var disabledMessage = "Please note we require 36 hours’ notice for fruit / snack order changes.\n" +
                         "If you’d like to make a change to your fruit / snack order on this particular day,\n" +
                         "please log back in tomorrow before " + CutOffTime.TimeOfDayPm + "pm to make this change.";
}
<div class="col order-table fruit-order-area">
    <h3 class="text-primary text-center mt-5">Your Weekly Order</h3>
    @if (!isEditableTime)
    {
        <p class="text-center"><strong style="color: red;">@AppSettings.FreezingTimeMessage</strong></p>
    }
    @if (Request.IsAuthenticated)
    {
        if (!Model.LiveOnFruit && !Model.LiveOnSnack)
        {
            if (Model.HasFruitSupplier && !Model.LiveOnFruit) // Fruit supplier programmed but not live yet
            {
                <h5 style="color:red;">Products Delivered From @Model.StartDate.ToString("dd/MM/yyyy")</h5>
            }
            else if (Model.HasSnackSupplier && !Model.LiveOnSnack) // Snack supplier programmed but not live yet
            {
                <h5 style="color:red;">Products Delivered From @Model.SnackStartDate.ToString("dd/MM/yyyy")</h5>
            }
        }
    }
    <div class="bg-light p-3">
        <div class="table-responsive bg-white">
            <table class="table table-orders table-bordered mb-0">
                <thead>
                    <tr>
                        @if (Model.OrderMode == NuIngredient.Models.OrderMode.OneOff)
                        {
                            <th scope="col"></th>
                            <th scope="col">Product</th>
                            <th scope="col">Unit</th>

                            if (Model.Enables[0] && Model.SnackEnables[0])
                            {
                                <th class="week-days" scope="col">Mon <span class="btn-clear-qty" title="Clear all day" onclick="ClearFruitQty('monday')">x</span><br>(@Model.Weekdates[0])</th>
                            }
                            else
                            {
                                <th class="week-days" scope="col">Mon<br>(@Model.Weekdates[0])</th>
                            }

                            if (Model.Enables[1] && Model.SnackEnables[1])
                            {
                                <th class="week-days" scope="col">Tue <span class="btn-clear-qty" title="Clear all day" onclick="ClearFruitQty('tuesday')">x</span><br>(@Model.Weekdates[1])</th>
                            }
                            else
                            {
                                <th class="week-days" scope="col">Tue<br>(@Model.Weekdates[1])</th>
                            }

                            if (Model.Enables[2] && Model.SnackEnables[2])
                            {
                                <th class="week-days" scope="col">Wed <span class="btn-clear-qty" title="Clear all day" onclick="ClearFruitQty('wednesday')">x</span><br>(@Model.Weekdates[2])</th>
                            }
                            else
                            {
                                <th class="week-days" scope="col">Wed<br>(@Model.Weekdates[2])</th>
                            }

                            if (Model.Enables[3] && Model.SnackEnables[3])
                            {
                                <th class="week-days" scope="col">Thu <span class="btn-clear-qty" title="Clear all day" onclick="ClearFruitQty('thursday')">x</span><br>(@Model.Weekdates[3])</th>
                            }
                            else
                            {
                                <th class="week-days" scope="col">Thu<br>(@Model.Weekdates[3])</th>
                            }

                            if (Model.Enables[4] && Model.SnackEnables[4])
                            {
                                <th class="week-days" scope="col">Fri <span class="btn-clear-qty" title="Clear all day" onclick="ClearFruitQty('friday')">x</span><br>(@Model.Weekdates[4])</th>
                            }
                            else
                            {
                                <th class="week-days" scope="col">Fri<br>(@Model.Weekdates[4])</th>
                            }

                            if (Model.Enables[5] && Model.SnackEnables[5])
                            {
                                <th class="week-days" scope="col">Sat <span class="btn-clear-qty" title="Clear all day" onclick="ClearFruitQty('saturday')">x</span><br>(@Model.Weekdates[5])</th>
                            }
                            else
                            {
                                <th class="week-days" scope="col">Sat<br>(@Model.Weekdates[5])</th>
                            }

                            <th scope="col">Cost</th>
                            <th scope="col">Weekly Volume</th>
                            <th scope="col">Weekly Total</th>
                            <th scope="col"></th>
                        }
                        else
                        {
                            if (isEditableTime)
                            {
                                <th scope="col"></th>
                                <th scope="col">Product</th>
                                <th scope="col">Unit</th>
                                <th class="week-days" scope="col">Mon @if(Model.Enables[0] && Model.SnackEnables[0]){<span class="btn-clear-qty" title="Clear all day" onclick="ClearFruitQty('monday')">x</span>}</th>
                                <th class="week-days" scope="col">Tue @if(Model.Enables[1] && Model.SnackEnables[1]){<span class="btn-clear-qty" title="Clear all day" onclick="ClearFruitQty('tuesday')">x</span>}</th>
                                <th class="week-days" scope="col">Wed @if(Model.Enables[2] && Model.SnackEnables[2]){<span class="btn-clear-qty" title="Clear all day" onclick="ClearFruitQty('wednesday')">x</span>}</th>
                                <th class="week-days" scope="col">Thu @if(Model.Enables[3] && Model.SnackEnables[3]){<span class="btn-clear-qty" title="Clear all day" onclick="ClearFruitQty('thursday')">x</span>}</th>
                                <th class="week-days" scope="col">Fri @if(Model.Enables[4] && Model.SnackEnables[4]){<span class="btn-clear-qty" title="Clear all day" onclick="ClearFruitQty('friday')">x</span>}</th>
                                <th class="week-days" scope="col">Sat @if(Model.Enables[5] && Model.SnackEnables[5]){<span class="btn-clear-qty" title="Clear all day" onclick="ClearFruitQty('saturday')">x</span>}</th>
                                <th scope="col">Cost</th>
                                <th scope="col">Weekly Volume</th>
                                <th scope="col">Weekly Total</th>
                                <th scope="col"></th>
                            }
                            else
                            {
                                <th scope="col"></th>
                                <th scope="col">Product</th>
                                <th scope="col">Unit</th>
                                <th class="week-days" scope="col">Mon</th>
                                <th class="week-days" scope="col">Tue</th>
                                <th class="week-days" scope="col">Wed</th>
                                <th class="week-days" scope="col">Thu</th>
                                <th class="week-days" scope="col">Fri</th>
                                <th class="week-days" scope="col">Sat</th>
                                <th scope="col">Cost</th>
                                <th scope="col">Weekly Volume</th>
                                <th scope="col">Weekly Total</th>
                                <th scope="col"></th>
                            }
                        }

                    </tr>
                </thead>
                <tbody>
                    @foreach (NuIngredient.Models.FruitOrderViewModel item in Model.FruitOrders)
                    {
                        <tr class="order-products fruit" id="@item.ID" data-id="@item.ID" data-fruitid="@item.FruitID" data-price="@item.Price" data-vat="@item.VATRate" data-subtotal="@item.WeeklyTotal" data-volume="@item.WeeklyVolume">
                            <td><img name="Image" src="@item.ImageUrl" style="height: 50px; width: 50px;" /></td>
                            <td id="product-name">@item.ProductName</td>
                            <td id="product-unit">@item.Unit</td>
                            <td>
                                <div class="numeric-input">
                                    @if (Model.IsAvailableDay(OgDayOfWeek.Monday, item.ProductType) && isEditableTime)
                                    {
                                        <span class="fa fa-caret-up numeric-up"></span>
                                        <input type="number" min="0" id="@item.ID-monday-val" name="monday-val" class="form-control weekday-val w-50-px" value="@(item.Monday != 0 ? item.Monday.ToString() : "")" onchange="GetFruitSubTotal('@item.ID')" />
                                        <span class="fa fa-caret-down numeric-down"></span>
                                    }
                                    else
                                    {
                                        <input type="number" min="0" id="@item.ID-monday-val" name="monday-val" title="@disabledMessage" class="form-control weekday-val w-50-px" value="@(item.Monday != 0 ? item.Monday.ToString() : "")" onchange="GetFruitSubTotal('@item.ID')" disabled />
                                    }
                                </div>
                            </td>
                            <td>
                                <div class="numeric-input">
                                    @if (Model.IsAvailableDay(OgDayOfWeek.Tuesday, item.ProductType) && isEditableTime)
                                    {
                                        <span class="fa fa-caret-up numeric-up"></span>
                                        <input type="number" min="0" id="@item.ID-tuesday-val" name="tuesday-val" class="form-control weekday-val w-50-px" value="@(item.Tuesday != 0 ? item.Tuesday.ToString() : "")" onchange="GetFruitSubTotal('@item.ID')" />
                                        <span class="fa fa-caret-down numeric-down"></span>
                                    }
                                    else
                                    {
                                        <input type="number" min="0" id="@item.ID-tuesday-val" name="tuesday-val" title="@disabledMessage" class="form-control weekday-val w-50-px" value="@(item.Tuesday != 0 ? item.Tuesday.ToString() : "")" onchange="GetFruitSubTotal('@item.ID')" disabled />
                                    }
                                </div>
                            </td>
                            <td>
                                <div class="numeric-input">
                                    @if (Model.IsAvailableDay(OgDayOfWeek.Wednesday, item.ProductType) && isEditableTime)
                                    {
                                        <span class="fa fa-caret-up numeric-up"></span>
                                        <input type="number" min="0" id="@item.ID-wednesday-val" name="wednesday-val" class="form-control weekday-val w-50-px" value="@(item.Wednesday != 0 ? item.Wednesday.ToString() : "")" onchange="GetFruitSubTotal('@item.ID')" />
                                        <span class="fa fa-caret-down numeric-down"></span>
                                    }
                                    else
                                    {
                                        <input type="number" min="0" id="@item.ID-wednesday-val" name="wednesday-val" title="@disabledMessage" class="form-control weekday-val w-50-px" value="@(item.Wednesday != 0 ? item.Wednesday.ToString() : "")" onchange="GetFruitSubTotal('@item.ID')" disabled />
                                    }
                                </div>
                            </td>
                            <td>
                                <div class="numeric-input">
                                    @if (Model.IsAvailableDay(OgDayOfWeek.Thursday, item.ProductType) && isEditableTime)
                                    {
                                        <span class="fa fa-caret-up numeric-up"></span>
                                        <input type="number" min="0" id="@item.ID-thursday-val" name="thursday-val" class="form-control weekday-val w-50-px" value="@(item.Thursday != 0 ? item.Thursday.ToString() : "")" onchange="GetFruitSubTotal('@item.ID')" />
                                        <span class="fa fa-caret-down numeric-down"></span>
                                    }
                                    else
                                    {
                                        <input type="number" min="0" id="@item.ID-thursday-val" name="thursday-val" title="@disabledMessage" class="form-control weekday-val w-50-px" value="@(item.Thursday != 0 ? item.Thursday.ToString() : "")" onchange="GetFruitSubTotal('@item.ID')" disabled />
                                    }
                                </div>
                            </td>
                            <td>
                                <div class="numeric-input">
                                    @if (Model.IsAvailableDay(OgDayOfWeek.Friday, item.ProductType) && isEditableTime)
                                    {
                                        <span class="fa fa-caret-up numeric-up"></span>
                                        <input type="number" min="0" id="@item.ID-friday-val" name="friday-val" class="form-control weekday-val w-50-px" value="@(item.Friday != 0 ? item.Friday.ToString() : "")" onchange="GetFruitSubTotal('@item.ID')" />
                                        <span class="fa fa-caret-down numeric-down"></span>
                                    }
                                    else
                                    {
                                        <input type="number" min="0" id="@item.ID-friday-val" name="friday-val" title="@disabledMessage" class="form-control weekday-val w-50-px" value="@(item.Friday != 0 ? item.Friday.ToString() : "")" onchange="GetFruitSubTotal('@item.ID')" disabled />
                                    }
                                </div>
                            </td>
                            <td>
                                <div class="numeric-input">
                                    @if (Model.IsAvailableDay(OgDayOfWeek.Saturday, item.ProductType) && isEditableTime)
                                    {
                                        <span class="fa fa-caret-up numeric-up"></span>
                                        <input type="number" min="0" id="@item.ID-saturday-val" name="saturday-val" class="form-control weekday-val w-50-px" value="@(item.Saturday != 0 ? item.Saturday.ToString() : "")" onchange="GetFruitSubTotal('@item.ID')" />
                                        <span class="fa fa-caret-down numeric-down"></span>
                                    }
                                    else
                                    {
                                        <input type="number" min="0" id="@item.ID-saturday-val" name="saturday-val" title="@disabledMessage" class="form-control weekday-val w-50-px" value="@(item.Saturday != 0 ? item.Saturday.ToString() : "")" onchange="GetFruitSubTotal('@item.ID')" disabled />
                                    }
                                </div>
                            </td>
                            <td id="cost-per-prouct">@item.Price.ToString("C")</td>
                            <td id="product-quantity">@item.WeeklyVolume</td>
                            <td id="total-cost">@item.WeeklyTotal.ToString("C")</td>
                            <td>
                                @if (Model.OrderMode != NuIngredient.Models.OrderMode.OneOff)
                                {
                                    if (isEditableTime)
                                    {
                                        <button type="button" class="btn btn-link" onclick="DeleteFruitRow('@item.ID'); return false;"><i class="fas fa-trash-alt text-info"></i></button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-link cursor-not-allowed" title="@AppSettings.FreezingTimeMessage" disabled><i class="fas fa-trash-alt text-info"></i></button>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row mt-3">
            <div class="col-sm-6">
                @if (@User.Identity.IsAuthenticated)
                {
                    if (Model.OrderMode == NuIngredient.Models.OrderMode.Draft)
                    {
                        <button type="button" onclick="SaveDraftFruitOrders()" class="btn btn-success rounded-0 px-4">Save &amp; Submit</button>
                    }
                    else if (Model.OrderMode == NuIngredient.Models.OrderMode.Regular)
                    {
                        if (isEditableTime)
                        {
                            <button type="button" onclick="SaveFruitOrders(true, 'Regular')" class="btn btn-success rounded-0 px-4">Save &amp; Submit</button>
                        }
                        else
                        {
                            <button type="button" title="@AppSettings.FreezingTimeMessage" class="btn btn-success rounded-0 px-4 cursor-not-allowed" disabled>Save &amp; Submit</button>
                        }
                    }
                    else if (Model.OrderMode == NuIngredient.Models.OrderMode.OneOff)
                    {
                        if (isEditableTime)
                        {
                            <button type="button" onclick="SaveFruitOrders(true, 'OneOff')" class="btn btn-success rounded-0 px-4">Save &amp; Submit</button>
                        }
                        else
                        {
                            <button type="button" title="@AppSettings.FreezingTimeMessage" class="btn btn-success rounded-0 px-4 cursor-not-allowed" disabled>Save &amp; Submit</button>
                        }
                    }

                }
                <div id="SavedMessage" style="text-align: center; display:none;">
                    <strong style="color:red;">Orders Saved!</strong>
                </div>
            </div>
            <div class="col-sm-6">
                <table class="table w-auto ml-sm-auto row-grand">
                    <tbody>
                        <tr>
                            <th class="bg-secondary text-white w-50">Total Volume:</th>
                            <td class="bg-white">
                                <span class="grand-total-volume" style="color:#6db444; font-size:larger; font-weight:900"></span>
                            </td>
                        </tr>
                        <tr>
                            <th class="bg-secondary text-white w-50">Total Price:</th>
                            <td class="bg-white">
                                <span class="grand-total-price" style="color:#6db444; font-size:larger; font-weight:900"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<style>

    tr th {
        color: #d8a120;
    }

    .expanded-content {
        display: none;
    }
</style>

<script>
    //$('.expanded-content').hide();
    //$('.more-info-load .expand-info').click(function () {
    //    $('.more-info-load').removeClass('col-xs-1');
    //    $('.more-info-load').addClass('col-xs-12 no-padding');
    //    var moreContent = $(this).find('.expanded-content');
    //    $(moreContent).show();
    //    var plusIcon = $(this).find('.more-intro');
    //    $(plusIcon).hide();
    //    $('.more-intro').css('padding-left', '15px');
    //});

    $('html').on('click', '.more-info-load .expand-info', function () {
        $('.more-info-load').removeClass('col-xs-1');
        $('.more-info-load').addClass('col-xs-12 no-padding');
        var moreContent = $(this).find('.expanded-content');
        $(moreContent).show();
        var plusIcon = $(this).find('.more-intro');
        $(plusIcon).hide();
        $('.more-intro').css('padding-left', '15px');
    });
</script>