﻿@using System
@using NuIngredient.Models
@model NuIngredient.Models.FruitsPageViewModel
@{
    ViewBag.Title = "Fruits";
    var aisleImageUrl = Model.Aisle.AisleImageUrl;
    if (string.IsNullOrEmpty(aisleImageUrl))
    {
        aisleImageUrl = "/img/Milk_Landing_Short.png";
    }

    var askingSupplierList = new List<string>
    {
        Model.AskingForFruitSupplier ? "Fruit" : "",
        Model.AskingForSnackSupplier ? "Snacks" : ""
    };
    var askingSupplierString = string.Join("/", askingSupplierList.Where(i => !string.IsNullOrWhiteSpace(i)));
}

@if (User.Identity.IsAuthenticated)
{
    <div class="bg-secondary text-white text-center pt-4 pb-4">
        <h1>Hello and Welcome to our "Quick Time" standing order management system.</h1>
        <h5>Here you can make all the necessary changes to your weekly fruit standing orders.</h5>
    </div>
    if (Model.HasFruitSupplier)
    {}
    else if (Model.AskingForFruitSupplier)
    {}
}
else
{
    <div style="width:100%; position: relative;">
        <img src="@aisleImageUrl" class="img-fluid" alt="Fruit Aisles">
        <img src="~/img/OG_Create_Quote_Icon.png" alt="Create Quote" style="position: absolute; top:0; right:0; height:35%; cursor: pointer;" onclick="ScrollToProductSection()">
        @*<img src="~/img/OG_Fruit_Promo_30.png" alt="Fruit Promo" style="position: absolute; top:0; left: 5%; height:25%; cursor: pointer;">*@
    </div>
    <div class="bg-secondary text-white text-center pt-1 pb-1 sticky-bottom">
        <h1>@Model.Aisle.H1Tag</h1>
        <h3>Want to look at your employee's wellbeing?</h3>
    </div>
}

@if (User.Identity.IsAuthenticated)
{
    if (Model.HasFruitSupplier)
    {

    }
    else if (Model.AskingForFruitSupplier)
    {}
}
else
{
    <a class="btn btn-primary btn-lg btn-block rounded-0 text-white sticky-bottom" href="javascript:void(0)" onclick="ScrollToProductSection()" role="button">Create First Order to Set Up Account <span class="fas fa-arrow-circle-down"></span></a>
}

@if (User.Identity.IsAuthenticated)
{
    if (!string.IsNullOrEmpty(Model.Aisle.CustomerContent))
    {
        <div class="bg-white pt-1">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        @Html.Raw(Model.Aisle.CustomerContent)
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    if (!string.IsNullOrEmpty(Model.Aisle.ProspectContent))
    {
        <div class="bg-white pt-1">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        @Html.Raw(Model.Aisle.ProspectContent)
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-white">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <div class="p-4">
                            <h4>On offer are 2 types of baskets incorporating circa 50 pieces of fresh fruit per basket.</h4>
                            <h5>To include but not restricted to:</h5>
                            <div class="row">
                                <div class="col-12 col-md-6 my-3 d-flex">
                                    <div class="col border border-success text-center p-4 b-4">
                                        <p class="mb-0"><span class="text-primary h5">Seasonal Selection,</span> providing the best of what is in season along with the essentials : Grapes, satsumas, pears, apricots, kiwi, strawberries, blueberries and peaches</p>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 my-3 d-flex">
                                    <div class="col border border-success text-center p-4 b-4">
                                        <p class="mb-0 mt-md-2"><span class="text-primary h5">Essential Selection,</span> fresh fruit available throughout in the UK Apples, oranges / clementines, bananas, pears and plums</p>
                                    </div>
                                </div>
                            </div>
                            <p>With up to 50 pieces of fresh fruit per basket, order as many baskets as you require. Simply fill out your weekly order to create your bespoke quote and once account is set up is complete, delicious healthy fruit will start arriving to your office break out areas in no time.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-light pt-1">
            <div class="container">
                <h4 class="text-center mb-4">Key Benefits:</h4>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <ul class="fa-ul">
                            <li><span class="fa-li" ><i class="fas fa-check text-success"></i></span>Competitive product pricing – we’ve done the haggling, so you don’t have to.</li>
                            <li><span class="fa-li" ><i class="fas fa-check text-success"></i></span>Save time with our product sourcing service. If you need it, we’ll find it.</li>
                            <li><span class="fa-li" ><i class="fas fa-check text-success"></i></span>You’ll receive a dedicated account manager for your Office-Groceries account.</li>
                            <li><span class="fa-li" ><i class="fas fa-check text-success"></i></span>Fully-managed procurement service, with one monthly invoice.</li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-6">
                        <ul class="fa-ul">
                            <li><span class="fa-li" ><i class="fas fa-check text-success"></i></span>Create your own individual ordering page, with all your specific requirements.</li>
                            <li><span class="fa-li" ><i class="fas fa-check text-success"></i></span>User-friendly website with our Quick Time fruit standing order management system.</li>
                            <li><span class="fa-li" ><i class="fas fa-check text-success"></i></span>No contract arrangements. Simply create your bespoke quote. We’ll help you create your account and then you can start ordering.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
}


@if (User.Identity.IsAuthenticated)
{
    if (Model.HasFruitSupplier || Model.HasSnackSupplier)
    {
        <div class="bg-white" id="order-area">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h3 class="text-success text-center">Hello @Model.CompanyName,</h3>
                        <p class="text-center h5 mb-3">What would you like to do Today?</p>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <button type="button" class="change-type btn btn-outline-success btn-lg btn-block rounded-0 b-4" data-value="Regular" onclick="$('.change-type').removeClass('active'); $(this).addClass('active'); HideWeekPicker(); GetRegularFruitOrders()">Make a permanent change to a standing order</button>
                            </div>
                            <div class="col-12 col-md-6">
                                <button type="button" class="change-type btn btn-outline-success btn-lg btn-block rounded-0 b-4" data-value="OneOff" onclick="$('.change-type').removeClass('active'); $(this).addClass('active'); ShowWeekPicker(); GetOneOffFruitOrders();">Make a one off change to a specific week</button>
                                @(Html.Kendo().DatePicker()
                                                  .Name("SpecificWeek")
                                                  .Min(DateTime.Today)// > Model.StartDate? DateTime.Today : Model.StartDate)
                                                  .Max(DateTime.Today.AddDays(56))
                                                  .DateInput(false)
                                                  //.DisableDates(DayOfWeek.Tuesday, DayOfWeek.Wednesday, DayOfWeek.Thursday, DayOfWeek.Friday, DayOfWeek.Saturday, DayOfWeek.Sunday)
                                                  .Events(events => events.Close("OnCalendarClose").Open("OnCalendarOpen"))
                                                  .MonthTemplate(month => month.Content("#if ($.inArray(+data.date, orderWeekDates) != -1) {# " +
                                                                                            "<div class=\"has-orders-week\">#=data.value#</div> " +
                                                                                        "#} else {# " +
                                                                                            "#=data.value# " +
                                                                                        "#}#"))
                                                  .Depth(CalendarView.Month)
                                                  .Value(DateTime.Today.AddDays(7).StartOfWeek(DayOfWeek.Monday))
                                                  .HtmlAttributes(new { @style = "display:none; width:200px;", @class = "WeekPicker", @onkeydown = "return false;" })
                                                  .Deferred()
                                )
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else if (!string.IsNullOrWhiteSpace(askingSupplierString))
    {
        <div class="bg-white" id="order-area">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h3 class="text-success text-center">Hello @Model.CompanyName,</h3>
                        <p class="text-center h5 mb-3">
                            Office Groceries are currently setting up your @askingSupplierString account. <br />
                            Please allow up to 6 working days from initial enquiry for your account to be set up. <br />
                            Office Groceries will e-mail you once ready and confirm your 1st delivery day.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="bg-white" id="order-area">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h3 class="text-success text-center">Hello @Model.CompanyName,</h3>
                        <p class="text-center h5 mb-3">
                            Office Groceries currently do not have an account set up for our Fruit catalogue. <br />
                            Would you like to activate your Fruit account now, if so click here
                        </p>
                        <div class="row">
                            <div class="col-12">
                                <button type="button" class="btn btn-outline-success btn-lg btn-block rounded-0 b-4" onclick="AskForFruitSupplier()">Yes, Please Activate</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
}


@if(User.Identity.IsAuthenticated)
{
    <div class="bg-white" id="order-area">
        <div class="container">
            <div class='row' id="WeeklyOrder"></div>
        </div>
    </div>
}


<div class="bg-white pt-5 pb-1" id="product-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="bg-light d-flex flex-column flex-md-row justify-content-between align-items-center p-4 mb-2">
                    <h3 class="mb-3 mb-md-0">Select Your Products...</h3>
                    <div class="dropdown min-w-200-px">
                        <button type="button" class="btn btn-secondary dropdown-toggle filter-dropdown-toggle btn-block-m rounded-0 py-0 pl-0 mr-2 mb-2 mb-lg-0 border-0" id="dropdownFilterButton" data-flip="false" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-chevron-down bg-success p-2 mr-2 left"></i>
                            <span>Filter By Product</span>
                        </button>
                        <form class="dropdown-menu pt-2 px-2 pb-0 bg-light rounded-0">
                            @foreach (var category in Model.Categories)
                            {
                                <div class="custom-control custom-checkbox mr-sm-2 py-2 border-bottom border-white">
                                    <input type="checkbox" name="categories" class="custom-control-input" id="@category.ID" value="@category.ID" onclick="OnClickCategory(this)" >
                                    <label class="custom-control-label" for="@category.ID">@category.Name</label>
                                </div>
                                @*<option value="@category.ID" @if (category.Name == Model.SelectedCategory) { <text>selected="selected"</text> }>@category.Name</option>*@
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
             <ul class="breadcrumb">
                @foreach(var breadcrumb in Model.BreadCrumbs)
                {
                    if(breadcrumb.Url != null)
                    {
                        <li><a href="@breadcrumb.Url">@breadcrumb.Label</a></li>
                    }
                    else
                    {
                        <li>@breadcrumb.Label</li>
                    }
                }
            </ul> 
        </div>
        <div>
        <div>
        @* Listview*@
        <script>
            function DataBound(e) {
                $('.k-listview.k-widget').removeClass('k-widget');
            }
        </script>
        @(Html.Kendo().ListView<NuIngredient.Models.FruitProductListViewModel>()
              .Name("ListViewProducts")
              .TagName("div")
              .ClientTemplateId("listviewTemplate")
              .DataSource(dataSource => dataSource.Read(read => read.Action("Read", "FruitProductListView").Data("GetSearchInfo"))
              )
              .Events(events => events.DataBound("DataBound"))
              .HtmlAttributes(new { @class = "row flex-row k-blank-pager" })
              .Deferred()
        )
            
        </div>
    </div>
</div>


<script type="text/x-kendo-tmpl" id="listviewTemplate">
    <div class="col-6 col-md-4 col-lg-3 mb-4">
        <div class="card rounded-0" style="height: 100%;">
            <img src="#=ImageURL#" class="card-img-top card-product-img rounded-0" alt="#=Name#" onclick="ProductOverview('#=Name#', '#=ImageURL#', '#=Description#', '#=kendo.toString(Price, 'c')#', '#=Unit#', '#=VAT#', '#=ID#')">
            <div class="card-body text-center bg-light">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-link btn-lg border-0 text-dark h5 p-0" data-toggle="modal" data-target="\\#fruit-detail" onclick="ProductOverview('#=Name#', '#=ImageURL#', '#=Description#', '#=kendo.toString(Price, 'c')#', '#=Unit#', '#=VAT#', '#=ID#')">#=Name#</button>
                <p class="card-text text-success h5 mb-1">#=ShortDescription#</p>
                <p class="card-text text-primary h5">#if(Price > 0){# #=kendo.toString(Price, "c")# #if(VAT != 0){#<span style="font-size:10px;">ex vat</span>#}# | #}# #=Unit#</p>
            </div>
            #if (ID == "1f05fbdc-b4e6-47a6-a0d3-55dd109b3620" || ID == "12b05cdd-aee5-464a-83de-f26e3164759d"){#
                <button type="button" class="btn btn-secondary btn-block btn-lg text-white rounded-0"  data-toggle="modal" data-target="\\#fruit-detail" onclick="ProductOverview('#=Name#', '#=ImageURL#', '#=Description#', '#=kendo.toString(Price, 'c')#', '#=Unit#', '#=VAT#', '#=ID#')">Details</button>
            #} else {#
                @if (User.Identity.IsAuthenticated)
                {
                    // Only allow user to edit orders when it's in editable time, except for the user does not yet activate fruit account
                    if (Model.LiveOnFruit == false || AppSettings.IsEditableTime())
                    {
                        <button type="button" class="btn btn-primary btn-block btn-lg text-white rounded-0" data-id='#=ID#' data-name='#=Name#' data-unit='#=Unit#' data-price='#=Price#' data-vat="#=VAT#" data-imgurl='#=ImageURL#' onclick="AddFruitToOrder(this); return false;">Add To Order</button>
                    }
                    else
                    {
                        <button type="button" title="@AppSettings.FreezingTimeMessage" class="btn btn-primary btn-block btn-lg text-white rounded-0 cursor-not-allowed" disabled>Add To Order</button>
                    }
                }
                else
                {
                    <button type="button" class="btn btn-primary btn-block btn-lg text-white rounded-0" data-id='#=ID#' data-name='#=Name#' data-unit='#=Unit#' data-price='#=Price#' data-vat="#=VAT#" data-imgurl='#=ImageURL#' onclick="AddFruitToQuote(this); return false;">Add To Order</button>
                }
            #}#
        </div>
    </div>
</script>

<!-- Modal -->
<div class="modal fade" id="fruit-detail" tabindex="-1" role="dialog" aria-labelledby="fruit-detail" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-sm max-w-400-px" role="document">
    <div class="modal-content bg-light rounded-0">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <img src="#=ImageURL#" class="productImg card-img-top card-product-img rounded-0" alt="...">
            <div class="d-flex justify-content-between mt-3">
                <p class="h5"><span class='productPrice'></span><span class='productVAT' style="font-size:10px;">ex vat</span></p>
                <p class="productUnit h5">#=Unit#</p>
            </div>
            <div class="productDesc"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary rounded-0" data-dismiss="modal">Close</button>
            @if (User.Identity.IsAuthenticated)
            {
                // Only allow user to edit orders when it's in editable time, except for the user does not yet activate fruit account
                if (Model.LiveOnFruit == false || AppSettings.IsEditableTime())
                {
                    <button type="button" class="btn btn-primary text-white rounded-0 add-to-cart" onclick="AddFruitToOrder(this); return false;" data-dismiss="modal">Add To Order</button>
                }
                else
                {
                    <button type="button" title="@AppSettings.FreezingTimeMessage" class="btn btn-primary text-white rounded-0 add-to-cart cursor-not-allowed" disabled>Add To Order</button>
                }
            }
            else
            {
                <button type="button" class="btn btn-primary text-white rounded-0 add-to-cart" onclick="AddFruitToQuote(this); return false;" data-dismiss="modal">Add To Order</button>
            }
        </div>
    </div>
    </div>
</div>
<script>
    var orderWeekDates = [];
    $(document).ready(function () {

        SetOrderWeekDates();

        @if (User.Identity.IsAuthenticated)
        {
            if (Model.HasFruitSupplier || Model.HasSnackSupplier)
            {
                <text>
                GetRegularFruitOrders();
                </text>
            }
            else if (Model.AskingForFruitSupplier || Model.AskingForSnackSupplier)
            {
                <text>
                GetDraftFruitOrders();
                </text>
            }
            else
            {
                <text>
                GetDraftFruitOrders();
                </text>
            }
        }
    });

    function SetOrderWeekDates() {
        @foreach (var date in Model.OrderWeekDates)
        {
            <text>
                orderWeekDates.push(+new Date('@date.ToString("yyyy/MM/dd")'));
            </text>
        }
    }

    function GetSearchInfo() {
        var data = {
            filterText: $("#FruitTypeFilter").val(),
            categoryID: GetCategory(),
            companyID: $('#Company').val()
        };
        return data;
    }

    function GetCategory() {
        var selectedCate = $('input[name="categories"]:checked');//[0].value

        return selectedCate.length > 0? selectedCate[0].value : "";
    }

    function OnClickCategory(option) {
        if ($(option).is(":checked")) {
            $.each($('input[name="categories"]'), function(index, element) {
                $(element).prop('checked', false);    
            });
            $(option).prop('checked', true);
        } else {
            $.each($('input[name="categories"]'), function(index, element) {
                $(element).prop('checked', false);    
            });
        }
        $('.show').removeClass('show');
        RefreshListView();
    }

    function RefreshListView() {
        var listview = $('#ListViewProducts').data('kendoListView');
        listview.dataSource.read();
    }

    function ProductOverview(title, imageURL, description, price, unit, VAT, id) {
        $('#fruit-detail .modal-title').text(title);
        $('#fruit-detail .modal-body .productImg').attr('src', imageURL);
        $('#fruit-detail .modal-body .productPrice').text(price);
        $('#fruit-detail .modal-body .productUnit').text(unit);
        $('#fruit-detail .modal-body .productDesc').html(description);

        $('#fruit-detail .modal-footer .add-to-cart').data('id', id);
        $('#fruit-detail .modal-footer .add-to-cart').data('name', title);
        $('#fruit-detail .modal-footer .add-to-cart').data('unit', unit);
        $('#fruit-detail .modal-footer .add-to-cart').data('price', price);
        $('#fruit-detail .modal-footer .add-to-cart').data('imgurl', imageURL);
        if (VAT != '0')
            $('#fruit-detail .modal-body .productVAT').show();
        else
            $('#fruit-detail .modal-body .productVAT').hide();
        
        if (price != '£0.00')
            $('#fruit-detail .modal-body .productPrice').show();
        else
            $('#fruit-detail .modal-body .productPrice').hide();

        if (id === "1f05fbdc-b4e6-47a6-a0d3-55dd109b3620" || id === "12b05cdd-aee5-464a-83de-f26e3164759d") {
            $('#fruit-detail .add-to-cart').hide();
        } else {
            $('#fruit-detail .add-to-cart').show();
        }


        $('#fruit-detail').modal('show');
    }

    function OnCalendarClose(e) {
        var selectedDate = this.value();
        var first = selectedDate.getDate() - ((selectedDate.getDay() + 6) % 7); // Make Monday first day of the week;
        var last = first + 6;
        var tempdate1 = new Date(selectedDate.getTime());
        var tempdate2 = new Date(selectedDate.getTime());
        var firstDateOfWeek = kendo.toString(new Date(tempdate1.setDate(first)), "dd/MM/yyyy");
        var lastDateOfWeek = kendo.toString(new Date(tempdate2.setDate(last)), "dd/MM/yyyy");

        $('#SpecificWeek').val(firstDateOfWeek + " - " + lastDateOfWeek);

        GetOneOffFruitOrders();
    }

    function OnCalendarOpen() {
        // Force datepicker to re-render the view
        $('#SpecificWeek').data('kendoDatePicker').setOptions({ min: '@DateTime.Today.ToString("yyyy/MM/dd")' })
        // Make datepicker to weekpicker
        $('#SpecificWeek_dateview').on('mousemove', 'table.k-month tr', function () { $(this).find('td').addClass('k-state-focused k-state-hover'); });
        $('#SpecificWeek_dateview').on('mouseleave', 'table.k-month tr', function () { $(this).find('td').removeClass('k-state-focused k-state-hover'); });
    }

    function ShowWeekPicker() {
        $('.WeekPicker').show();
        $('.k-i-calendar').click();
    }

    function HideWeekPicker() {
        $('.WeekPicker').hide();
    }

    function AskForFruitSupplier() {
        if (!confirm("Set up your fruit/snack account?")) return false;

        $.ajax({
            url: '/Companies/AskForFruitSnackSupplier',
            type: 'POST',
            data: {
                id: $('#Company').val()
            },
            success: function (response) {
                if (response.Success) {
                    alert('Office Groceries are currently setting up your Fruit / Healthy Snacks account.\nPlease allow up to 6 working days from initial enquiry for your account to be set up.\nOffice Groceries will e- mail you once ready and confirm your 1st delivery day.');
                    location.reload();
                } else {
                    alert('Please set up the initial order and save');
                }
            }
        })
    }

    function SaveDraftFruitOrders() {

        var success = SaveFruitOrders(false, 'Draft');

        @if (User.Identity.IsAuthenticated)
        {
            if(Model.AskingForFruitSupplier)
            {

            }
            else
            {
                <text>
                    if (success != false) {
                        AskForFruitSnackSupplier();
                    }
                </text>
            }
        }
    }
</script>

<style>
    .btn-show-cart {
        display: none !important;
    }
</style>